[2016-11-30 23:50] hickeng commented on #3416
https://github.com/vmware/vic/blob/master/doc/user_doc/vic_installation/vch_installer_examples.md#use-custom-trusted-ca-certificates

This is incorrect. This example is for a custom _server certificate_, not a custom CA - this is the same approach one would take if wanting to use a _server_ certificate signed by Verisign (or another public root).

[2016-11-30 23:57] npakrasi commented on #3381
Default volume is documented in https://github.com/vmware/vic/blob/master/doc/user_doc/vic_app_dev/using_volumes_with_vic.md

[2016-12-01 00:05] hickeng commented on #3416
A self-signed certificate doesn't allow you to confirm the identity of the remote system, but still provides TLS (encrypted communication). As such you are protected from an attacker sniffing your network traffic, but not from man-in-the-middle attacks.

[2016-12-01 00:22] dougm commented on #3397
@mdubya66 updated.  There is no workaround, we have to change the code.  @mhagen-vmware I removed your bullet point regarding docker ps, please open a separate issue if needed.

[2016-12-01 00:39] sflxn commented on #3415
Docker has added a few more backends that we'll have to return not implemented messages.

checkpoint
plugin
swarm

[2016-12-01 00:41] sflxn commented on #3415
They've added context to a few previous calls, such as container logs and stats.  They've also added new parameters to a lot of previous calls.  After I get everything to build again, I'll need to revisit the functions that have change and see what we'll need to do to support the new parameters.

[2016-12-01 01:26] mobla opened #3417 "Create VCH with static IP fails with "Could not run VCH vSphere API target check due to ServerFaultCode: A general system error occurred: vix error codes = (3016, 0).""
**hickeng update: 28/04/2017**
The is the result of the vSphere API check taking longer than the guest tools ping interval - this results in an incorrect report that guest tools is not running (vix error 3016).
We also saw this symptom while diagnosing #4961 which, like @cormachogan, was a DNS issue resulting in being unable to resolve VC.

There are two parts to addressing this:
- [ ] implement t

[2016-12-01 01:26] mobla commented on #3417
![vic-vch-static-ip-nw](https://cloud.githubusercontent.com/assets/3538999/20778384/2589ed88-b722-11e6-8d22-5e1564f8e57e.png)

[2016-12-01 01:34] mobla commented on #3417
vpxd log snippet
------------------
[code]

[2016-12-01 01:48] karthik-narayan commented on #3320
@stuclem

All components of VIC will be available for download from the same location.For GA this will be the engine and Harbor.

I'm not sure of who generates that page, is this critical?

[2016-12-01 01:49] karthik-narayan commented on #3382
Yes please, we do not officially support 5.5 and we should remove all mention of it.

[2016-12-01 02:05] anchal-agrawal commented on #3174
Closing as the changes are in.

[2016-12-01 02:05] #3174 closed

[2016-12-01 02:08] mlh78750 commented on #3417
This configuration is not supported. The ip address ranges should not overlap on the two networks.

That being said, I don't think we should have this vpx issue.

[2016-12-01 02:22] mobla commented on #3417
If you notice, I have made client nw and public nw in a different subnet (see the gateways, they are different separate VLAN). This is a valid networking configuration which works for "vCenter HA" configuration without any issues..

--client-network-gateway 1.1.1.0/24:10.172.64.62/26
--client-network-ip 10.172.64.7/26

--public-network vic-public-nw
--public-network-gateway 10.172.64.126/26
--publ

[2016-12-01 02:27] mlh78750 commented on #3417
Can a VM attached to vic-client-mgmt-nw port group reach the VC at corevcqe-pod.eng.vmware.com without routing? If corevcqe-pod.eng.vmware.com resolves to anything that is not L2 adjacent to the VCH, then it will need to be entered in the destinations for the gateway. I know we used 1.1.1.1 to get around the limitation of having to supply it, but if corevcqe-pod.eng.vmware.com is in another IP spa

[2016-12-01 02:31] mlh78750 commented on #3417
Name:	corevcqe-pod.eng.vmware.com
Address: 10.138.64.31

Which means you need to add that to the destinations for the client IP gateway.

Something like --client-network-gateway 10.138.64.0/24:10.172.64.62/26
and that assumes that 10.138.64.0 is a /24 and that there is a router at 10.172.64.62 that knows how to get there.

You'll likely need to introduce another router in your setup to get this to

[2016-12-01 03:04] dougm commented on #3362
PR vmware/govmomi#635

[2016-12-01 03:09] dougm commented on #3397
With the govmomi changes mentioned in #3362 - the change to vic will be something like the following, where we only use a service ticket in the case of 'logs' when:

- vm is running

- target is VC

- vm datastore is shared between multiple hosts

[code]

[2016-12-01 05:19] hickeng commented on #3417
It looks like the error is because toolbox isn't running. This suggests a problem with vic-init. Can you check the tether.debug file in the endpointVM directory on the data store.

[2016-12-01 08:20] stuclem commented on #3382
@karthik-narayan, done!

[2016-12-01 08:58] stuclem opened #3419 "Document support for Docker API version > 1.23"
Per https://github.com/vmware/vic/issues/3415.

[2016-12-01 08:59] stuclem commented on #3415
@sflxn I take it that this is not for 0.8?

[2016-12-01 09:03] stuclem commented on #872
OK, thanks @fdawg4l. Chucking this in the Icebox.

[2016-12-01 09:06] stuclem commented on #872
Actually, @fdawg4l if this isn't implemented, should we say something along the lines of if you rename datastores after you deploy a VCH, then that VCH will not work any more?

[2016-12-01 09:11] stuclem commented on #3369
Actually, that's probably a better idea. Once we get the docs into an official VMware doc structure, then we'll automatically get the normal VMware doc feedback mechanism, that opens Bugzilla bugs and assigns them to the appropriate person. Since we're all about Github at the moment, then using Github issues makes more sense.

[2016-12-01 09:15] stuclem opened #3420 "Document change of location of vic-ui-<os> binaries"
Per https://github.com/vmware/vic/issues/3388

[2016-12-01 09:28] stuclem commented on #3354
Thanks @emlin. I changed "The default VM Network and no other networks" to "The VM Network is present". I don't think that we should over-complicate the example right now. If the behaviour changes in the future we'll update the example then.

Change is in https://github.com/stuclem/vic/commit/88a8da2308d6a6b6f1f8967db136438e428572bd.

@karthik-narayan we just need a review from you and we can clos

[2016-12-01 09:59] stuclem commented on #3361
Thanks @emlin and @mhagen-vmware.

- Removed PATH, added force option, stated that VM Network must be present (deleted the bit about "no other networks".
- Added "A shared datastore, that is accessible by both of the ESXi hosts."
- Regarding specifying the `compute-resource`, the intention here is to keep things as simple as possible (per request from @karthik-narayan to provide very basic deploym

[2016-12-01 10:39] stuclem commented on #3343
Thanks @anchal-agrawal and @emlin. All comments integrated.

Changes are in https://github.com/stuclem/vic/commit/19e2c52338ec20064c2c3f81ae6248a593f17c96

Leaving this In Progress pending review by @gigawhitlocks

[2016-12-01 10:49] stuclem commented on #3330
Thanks @andrewtchin, @mhagen-vmware and @emlin !

- Added "If you obtain the thumbprint by other means, use upper-case letters and colon delimitation rather than space delimitation when you specify `--thumbprint`."
- Reworded to "If you are deploying to an ESXi host and you do not specify `--compute-resource`, `vic-machine create` automatically uses the default resource pool. "
- Removed "An ESXi

[2016-12-01 10:49] #3330 closed

[2016-12-01 11:46] stuclem commented on #3379
Thanks @mhagen-vmware and @hickeng !

- "You do not require a native agent on the ESXi host." Not sure what this means either, or where it came from. Deleted.
- Added "on the container VMs" to the vMotion section.
- Fixed the double "which can be".
- Added iSCSI
- https://github.com/vmware/vic/issues/3243 looks like a release note issue rather than core doc, so added kind/note to that issue.
- The

[2016-12-01 11:56] stuclem commented on #3378
Thanks @mhagen-vmware and @emlin !

- Added "For simplicity, these examples use the `--force` option to disable the verification of the vCenter Server certificate, so the `--thumbprint` option is not specified" at the very top of the topic and added `--force` to all examples.
- Added image-store to the ESX resource pool example.

Changes are in https://github.com/stuclem/vic/commit/c635903595bb77a

[2016-12-01 11:59] stuclem commented on #3346
Thanks @anchal-agrawal and @emlin !

The extra force is the example of usage. I admit that it looks a bit weird here because there are no arguments and this is the only option, but this is in keeping with the other topics.

Leaving in In Progress pending review by @gigawhitlocks.

[2016-12-01 12:14] Chopper3 commented on #3307
Hi, I tried this whole create/run/delete cycle on an FC SAN and while the create phase took longer as there's real activity on the SAN as opposed to the NAS the deletion ran perfectly - so I guess this could easily be a NTFS-based-NAS/sparse-file issue after all. One thing I have noticed with a VCH deletion is that while the image-store directory gets deleted the volume-store doesn't - is that exp

[2016-12-01 13:26] stuclem commented on #3332
Thanks @hmahmood, @mlh78750 and @andrewtchin !

- Changed "network" to "port group"
- Added "When you specify an address, `vic-machine create` uses the netmask from the gateway" to the bottom of the bulleted list, and removed it from the FQDN statement.
- Used "The default route for the VCH endpoint VM is always on the public network" verbatim
- Replaced "subnet" with "subnet_mask" in the gateway

[2016-12-01 13:26] #3332 closed

[2016-12-01 13:41] stuclem commented on #3341
Thanks @anchal-agrawal and @emlin !

- Took the VERSION sentence verbatim.
- Updated the prereq to "You have deployed a VCH. If you have not deployed a VCH, `vic-machine ls` returns an empty list."
- Added "You can use the information in PATH in the --compute-resource option of vic-machine commands."

Changes are in https://github.com/stuclem/vic/commit/9fec91e23e50e81bbad3eca4605c9fc331d10e5e.

L

[2016-12-01 14:21] mdubya66 commented on #3415
updated the milestone. We will take this sooner if it is ready but it is required for 1.0

[2016-12-01 14:29] stuclem commented on #3416
Thanks @hickeng. Took your suggestions almost verbatim.

Changes are in https://github.com/stuclem/vic/commit/db87cc89addc7fa9b15412fe049fe3692e13863a.

I'd appreciate another pass before closing. Thanks!

[2016-12-01 14:56] emlin commented on #3354
lgtm

[2016-12-01 14:57] emlin commented on #3361
lgtm

[2016-12-01 14:58] emlin commented on #3343
lgtm

[2016-12-01 15:01] emlin commented on #3307
Yes, it is. If you didn't specify --force, we'll leave volume store there, cause user could write data into volume, and after new vch is created, and use same volume store configuration, they could mount existing data volume to new containers.
That's why we intentionally leave volume store there.

[2016-12-01 15:03] emlin commented on #3307
good to know. 😄

[2016-12-01 15:16] stuclem commented on #3323
Thanks @chengwang86 !

I updated the error message with your version above.

Change is in https://github.com/stuclem/vic/commit/a46ff8103a635aaaf4e70bef936be164261bcb4e

[2016-12-01 15:16] #3323 closed

[2016-12-01 15:41] mhagen-vmware commented on #3414
Appears to be the dupe issue @anchal-agrawal mentioned.  Passed this morning.

[2016-12-01 15:41] #3414 closed

[2016-12-01 16:16] anchal-agrawal commented on #3341
LGTM

[2016-12-01 16:17] anchal-agrawal commented on #3343
LGTM

[2016-12-01 16:40] mdubya66 commented on #3397
This has been identified as a showstopper for GA. There is no workaround for getting docker logs. A fix to govmomi is also required.

[2016-12-01 16:41] mdubya66 commented on #3395
We should close this as will not fix. @hmahmood

[2016-12-01 16:44] vburenin commented on #3329
@hickeng There are different implementation how wildcard is treated. The GoLang one is the strict one that follows RFC. I saw confusions when people switching from python to golang had problems with hostname verifications. https://tools.ietf.org/html/rfc6125#section-7.2 actually talks about it.

[2016-12-01 16:51] hmahmood commented on #3395
I am fine with closing this; Fusion is to blame for this behavior. The Go resolver also consumes less resources (i.e. one go routine vs. one thread for the C resolver), so is preferable. There has been a bug filed for Fusion.

[2016-12-01 16:51] #3395 closed

[2016-12-01 17:09] stuclem commented on #3402
Thanks @sflxn and @hickeng.

- Added new section, Private Registry Options, under the main Security Options section.
- Included @sflxn's writeup of `--registry-ca`, with some tweaks.
- Updated `--insecure-registry` with comments made by @hickeng in https://github.com/vmware/vic/issues/3416.
- Took @hickeng 's suggestion for `--organization`.
- Took @hickeng 's suggestions for `--cert-path`, with t

[2016-12-01 17:48] mhagen-vmware commented on #3022
Hit this issue on stress with the log collection turned off:
[code]

[2016-12-01 18:00] jooskim opened #3421 "G11N & L10N for Web Client Plugin"
To be worked on post v1.0

[2016-12-01 18:06] fdawg4l commented on #872
I think documenting that behavior is probably really useful.  Thanks for catching that.

[2016-12-01 18:13] stuclem commented on #3363
Thanks @sflxn and @hickeng.

This resulted in a total rewrite, so I won't enumerate the changes that I have made. Also touched on the descriptions of the registry options, based on things that you said here.

Changes in https://github.com/stuclem/vic/commit/02c7d53ef06053c1f6fce5091bda106ee4bb97fd

This definitely needs another pass.

[2016-12-01 18:17] stuclem commented on #3364
@emlin yep, that's another thing that's on the list to do before GA!

[2016-12-01 18:33] stuclem commented on #3324
Thanks @chengwang86, There's actually another topic for the `vic-machine create` case: https://github.com/vmware/vic/blob/master/doc/user_doc/vic_installation/ts_resource_pool_error.md, which is reviewed by @emlin  in https://github.com/vmware/vic/issues/3390. Emma confirms what you say about `create`.

When I first wrote these topics for `create` and `ls`, the errors were a lot less clear. Now th

[2016-12-01 18:35] stuclem commented on #3390
Thanks @emlin. Actually, now that the error message is so clear, do we even need this topic?

[2016-12-01 18:37] stuclem commented on #3400
Dup of https://github.com/vmware/vic/issues/3344

[2016-12-01 18:37] #3400 closed

[2016-12-01 19:15] hickeng commented on #3397
I think the following is the corresponding changes for vicadmin:

[code]

[2016-12-01 19:25] gonghuahill commented on #3417
same error on 0.8.0.rc3
vsphere 6.0 3620759 vcenter 6.0 3634794
[root@web-01a vic]# more c3.sh
./vic-machine-linux create  --target vcsa-01a.corp.local --force --image-store RegionA01-ISCSI01
-COMP01  --user administrator@vsphere.local --bridge-network dvPortGroup-bridge   --compute-reso
urce  RegionA01-COMP01 -p VMware1!  -name vch4 --no-tls --public-network dvPortGroup-ext --publi
c-network-ip 1

[2016-12-01 19:34] hickeng commented on #3382
@stuclem I've added comments to https://github.com/stuclem/vic/commit/08a5f867bb20c643bad64b4e842f3d36d98d4b29

[2016-12-01 19:35] gonghuahill commented on #3417
And then modify the dns to real server 192.168.110.10  ,and add record about 192.168.110.72  vch4.corp.local ,pass the create action

[root@web-01a vic]# more c3.sh
./vic-machine-linux create  --target vcsa-01a.corp.local --force --image-store RegionA01-ISCSI01-COMP01  --user administrator@vsphere.local --bridge-network dvPortGroup-bridge
 --compute-resource  RegionA01-COMP01 -p VMware1!  -name vc

[2016-12-01 19:42] chengwang86 commented on #2847
Hit the DHCP problem again when running the stress test on local esx setup (VMware workstation). This time the requested/offered IP was 192.168.60.162, and the DHCP server replied with "NAK" since this is the IP of my ESXi host.

@mhagen-vmware Maybe we should remove "debug" option in the stress test, per @fdawg4l 's suggestion in https://github.com/vmware/vic/issues/3380#issuecomment-263966375. I

[2016-12-01 19:53] chengwang86 commented on #3324
@stuclem I agree that this topic is nothing special and we could just remove it.

For "vic-machine inspect", you have this topic here https://github.com/vmware/vic/blob/master/doc/user_doc/vic_admin/ts_delete_inspect_error.md

maybe you can add what you have above to that topic. In my comment for that topic (https://github.com/vmware/vic/issues/3325), the error msg I found is different from yours

[2016-12-01 19:53] mhagen-vmware commented on #2847
Stress test no longer has this issue, since we moved to static IP address.

[2016-12-01 20:17] mobla commented on #3417
@hickeng: Not sure if vic-init is failing due to incorrect route or DNS. For @gonghuahill, when DNS is set correctly, seem to have worked. But in my case, I have the DNS set correctly. As @mlh78750 mentioned, I need to add route to VC's (corevcqe-pod.eng.vmware.com) network..

Attached the tether debug log
[tether.debug.tar.gz](https://github.com/vmware/vic/files/625648/tether.debug.tar.gz)
Snippe

[2016-12-01 22:48] npakrasi commented on #3353
Incorporated comments. Thank you everyone.

[2016-12-01 22:52] vburenin opened #3425 "vic-admin can not grab file lock in /var/run/lock/logrotate_run.lock"
vic-admin runs under account of a not a privileged user (vicadmin), so this user can't grab the lock on the file that is owned by root.

Users can see this error in log files when they try to export the log bundle in vicadmin:

time="2016-12-01T22:33:19Z" level=error msg="Failed to acquire logrotate lock: open /var/run/lock/logrotate_run.lock: permission denied"

[2016-12-01 23:37] #3362 closed

[2016-12-01 23:37] vburenin opened #3426 "vic-admin can't run 'sudo iptables --list'"
[code]
It seems like sudoers file is not configured properly to allow vic-admin to run iptables.

[2016-12-02 00:11] hickeng commented on #3315
This is odd - in a successful boot we see the following from the containerVM vmware.log:
[code]

yet from these failed containers there's no indication of CD initialization:
[code]

In hostd.log everything looks the same as a successful VM boot until:
[code]

(we'd normally see a series of the following):
[code]

[2016-12-02 00:31] mobla opened #3427 "Create VCH static IP (Networking options) error message improvements"
vic version: vic-machine-linux version v0.8.0-rc2-7257-9553959 (rc3 build)
vSphere 6.0: GA build# 2656761
ESX 6.0 (physical): GA build# 2809209

a. Run Create VCH by specifying 4 networks with no routes on gateway for client and management networks
[code]
Error messages:
client network gateway specified without at least one routing destination  "can be changed to"
- Client network gateway must be

[2016-12-02 00:55] npakrasi commented on #3381
Added info from the workflow doc.

[2016-12-02 01:05] hickeng commented on #3196
And again here: https://ci.vmware.run/vmware/vic/7286 (the 1-05 test failure):
[code]

The portlayer shows that we're hitting the invalidstate issue for the container we get a 404 on:
[code]

I believe it's one of the following returns that's at fault in RemoveContainerHandler:
[code]

This code checks the cache to see if the container is present, but we can see from the port layer log that the un

[2016-12-02 01:54] sflxn commented on #3415
@stuclem Yeah, this is post GA.

[2016-12-02 02:02] sflxn commented on #3415
There's quite a bit of changes.  I've had to update the vendor for the following:

1. github.com/docker/docker to tag v1.13.0-rc2.  This will likely get updated again to the full 1.13 release.  I won't do a PR till they do the official release.
2. github.com/docker/libnetwork to master.  Unfortunately, the docker 1.13RC3 does not seem to compile well with the latest libnetwork release.  I have a f

[2016-12-02 02:12] sflxn commented on #3415
They've renamed types.Image to types.ImageSummary and added Containers and SharedSize field.  We should be ok with renaming ours, but we should look into what these Contaienrs and SharedSize field refers to.  I'll proceed with the first pass and then share the work with others to look into these changes.  Most seem like additional features.

[2016-12-02 02:34] #3397 closed

[2016-12-02 06:57] stuclem opened #3429 "Move --registry-ca out of extended help"
At the moment, `--insecure-registry` is in the standard output of `vic-machine-os create --help`, but `--registry-ca` is in `vic-machine-os create --extended-help`. According to @hickeng in https://github.com/vmware/vic/issues/3402#issuecomment-264024089, `--registry-ca` should be documented together with `--insecure-registry` in the standard options. If  `--registry-ca` is likely to be a commonly

[2016-12-02 08:14] stuclem commented on #3359
Thanks @anchal-agrawal, @chengwang86 and @emlin !

Fixed the `--id` option to state that it doesn't apply to `create` or `version`. However, I just ran `ls` with `--id` and it doesn't actually do anything:

[code]
I felt sure that I had submitted an issue about this, but I can't find it.

Regarding consolidation of the common options in the Admin doc with their counterparts in the `vic-machine cre

[2016-12-02 12:11] stuclem commented on #3324
Thanks @chengwang86. I deleted the topic. Change is in: https://github.com/stuclem/vic/commit/2656e7c6c6f97d1e1bc2f2897ceecb3130a07984

[2016-12-02 12:11] #3324 closed

[2016-12-02 12:11] stuclem commented on #3390
I deleted the topic. Change is in https://github.com/stuclem/vic/commit/2656e7c6c6f97d1e1bc2f2897ceecb3130a07984.

[2016-12-02 12:11] #3390 closed

[2016-12-02 12:17] stuclem commented on #3325
Thanks @chengwang86. Updated the error messages for both inspect and delete.

Change is in https://github.com/stuclem/vic/commit/80c9af02d8d0d6ffa323bb8b96fa5d96be304b26

Straightforward change.
Closing

[2016-12-02 12:45] stuclem commented on #3333
Thanks @andrewtchin and @emlin. Added the detail about <vchname>_1.

Minor change, closing.

[2016-12-02 12:45] #3333 closed

[2016-12-02 13:06] stuclem commented on #3370
Thanks @emlin.

- I have removed all mentions of "appliance", except for in the `--appliance-mem/cpu` option names. Where we are referring to the VCH as a whole (i.e. the vApp on VC, or the RP on ESX) we use "VCH". Where we are referring to the VM inside the vApp/RP, we use "VCH endpoint VM" (incidentally, this gives us the situation where the `--appliance-mem/cpu` options modify the cpu/memory on

[2016-12-02 15:08] stuclem commented on #3372
Thanks @vburenin and @hickeng!
Took your phrasing directly.
Change is in https://github.com/stuclem/vic/commit/9288fe414fc91d5241ec1eefb75e84fec66c3353

Simple change, so closing.

[2016-12-02 15:08] #3372 closed

[2016-12-02 15:36] anchal-agrawal commented on #3359
LGTM

[2016-12-02 15:46] chengwang86 commented on #3359
LGTM

[2016-12-02 15:51] chengwang86 commented on #3359
@stuclem I think https://github.com/vmware/vic/issues/3001 might relate to your concern about --id not functioning.

[2016-12-02 16:36] rajanashok opened #3431 "Docker Start failed on nightlys build 7288"
Log File Location:
[https://storage.cloud.google.com/vic-ci-logs/functional_logs_vic_7288.zip?authuser=1&_ga=1.210014037.1122363360.1480435214](url)

Robot Log:

Running command 'docker -H sc-rdops-vm04-dhcp-109-114.eng.vmware.com:2376 --tls start 138707d442ee2b01cb8a534b8604c57e82aa93e8fe371b4951f8d5adc15cdd48 2>&1'.

${rc} = 1

${output} = Error response from daemon: Server error from portlayer:

[2016-12-02 16:43] dougm commented on #3431
The govmomi event code hasn't been touched recently.  @hmahmood and @cgtexmex can you take a look?

[code]

[2016-12-02 16:48] dougm commented on #3431
@rajanashok are you able to reproduce this?

[2016-12-02 16:50] rajanashok commented on #3431
This happened on both VSAN tests on the nightly, so I am assuming it is.

[2016-12-02 17:40] anchal-agrawal commented on #3431
For the `5-6-1-VSAN-Simple` test, I see this error message in `vic-machine.log`:
[code]

However, this didn't happen in the other test (`5-6-2-VSAN-Complex`) where we saw the `docker start` failure.

[2016-12-02 17:42] rajanashok commented on #3431
I am re-running the VSAN Complex to get a repro now.

[2016-12-02 18:59] dougm commented on #3431
If anyone wants a nimbus vsan cluster without using robot to setup:

[code]

[2016-12-02 19:05] dougm commented on #3431
I haven't run the robot tests against the cluster above, but basic start works for me:

[code]

[2016-12-02 19:34] corrieb commented on #3403
@stuclem. I've written the section for you and got George to review it. It includes a basic "what is a container" section that we may want to put somewhere else.

Feel free to edit the style etc. Since it's such a major change, I'm going to create a pull request

[2016-12-02 20:01] mlh78750 commented on #3417
I want someone to look at this right away. I just saw this with @mobla on a ESX only install with all static IP and a correct routing configuration.

[2016-12-02 20:10] vburenin commented on #3417
just FYI: snippet provided by @mobla is compressed by rar, not gz.

[2016-12-02 20:11] vburenin commented on #3417
Interesting part of the log.
[code]

[2016-12-02 20:12] chengwang86 opened #3434 "Docker ps displays "poweredoff" container on build 7299"
**VIC version:**

 v0.8.0-rc3-7299-5373289

**Deployment details:**

ci build 7299 running on local ESXi host.

**Steps to reproduce:**

I cannot reproduce it on my local setup by running the test steps manually.

**Expected behavior:**

In "Test-Cases.Group1-Docker-Commands.1-10-Docker-PS", we started a container running "ls" and expected "docker ps" would not display this container, since it sho

[2016-12-02 20:13] vburenin commented on #3417
gzipped version.
[tether.debug.gz](https://github.com/vmware/vic/files/628133/tether.debug.gz)

[2016-12-02 20:20] mdubya66 commented on #3415
Should we take a more holistic view of this. We have three things bearing down on us around this work.

1) Port Layer refactor #1043
2) Move to new version of goswagger #929
3) keeping up with docker #3415

I suggest that @sflxn @vburenin @corrieb and @hickeng meet and let's put together a plan that works to get there for 1.0.

[2016-12-02 20:33] hickeng commented on #3431
@dougm from the failure logs, the portlayer is getting restarted and it may well be fine on the second time around.
You'll need to check the portlayer log for the panic, or deploy with --debug=3 to suppress component relaunch

[2016-12-02 20:43] mlh78750 commented on #3417
Looks like this VIX error only occurs when DNS is not available for the VCH.

[2016-12-02 21:07] hmahmood commented on #3417
Do we know why the port layer is existing? Is it because of the vix error?

[2016-12-02 21:13] hmahmood commented on #3431
@dougm that panic is really strange. https://github.com/vmware/vic/blob/master/vendor/github.com/vmware/govmomi/event/processor.go#L176 ; the only possibility is that `GetEvent()` returns nil.

[2016-12-02 21:16] corrieb commented on #3403
@stuclem see the PR I just created. Happy to make changes if you want to delegate or you can take it from here.

[2016-12-02 21:17] rajanashok commented on #3431
Have a repro of this issue on a nightly VSAN-Simple setup. Below are the details.

<img width="661" alt="screen shot 2016-12-02 at 3 14 44 pm" src="https://cloud.githubusercontent.com/assets/21340516/20850716/5b70ee52-b8a2-11e6-87d7-010665b06456.png">

[2016-12-02 21:19] hickeng commented on #3417
@hmahmood I would guess that it's exiting because it cannot connect to vsphere, but without the logs we cannot tell.

[2016-12-02 21:40] dougm commented on #3431
@hickeng no panics in the port-layer.log in my env either

[2016-12-02 21:56] mlh78750 opened #3436 "Install with static IP takes too long when DHCP is not present on port groups."
exists in 0.8

If you install with static IP's the appliance image will first try to get a dhcp address and then assigns the static ip over writing the address wit the static. But, if there is no DHCP server, the appliance will wait until the dhcp request fails and then will assign the static ip.

Recommend increasing timeout for the install if using static IP's.

[2016-12-02 21:57] mlh78750 commented on #3436
@stuclem, I think we should add a generic release note recommending increased timeout value for static ip installs when using vic-machine.

[2016-12-02 22:04] mlh78750 opened #3437 "When reusing static IPs for VCH reinstall, you may need to flush arp cache for gateways."
This is usually hit in a lab environment.

If you install a VCH using a static IP (for example 10.1.1.10) and then delete the VCH and reinstall another using the same static IP be aware that the second VCH will use a new MAC address. This may cause the second VCH to have connectivity problems until the arp cache in the gateway (or any other host communicating with the VCH) expires. You can mitigat

[2016-12-02 22:05] mlh78750 commented on #3437
@stuclem: Ran into this and thought we should document.

[2016-12-02 22:05] hmahmood commented on #3436
@mlh78750 do you have logs (with log level set to debug) for this scenario?

[2016-12-02 22:06] mlh78750 commented on #3437
Adding this as an enhancement to see if the tether or something else can force the endpoint VM to issue an unsolicited ARP reply to hopefully update any stale info.

[2016-12-02 22:09] dougm commented on #3431
ok I can see what's going on using @rajanashok env.  We are getting a handful of events for a type that does not exist in govmomi (HostSubSpecificationUpdateEvent).  The event type is new to 6.5 and we started to receive them now that the API version defaults to 6.5.  The quick fix is setting it back to 6.0 (just a 1-liner), which is fine as we aren't using any 6.5 specific API yet.  I'll submit t

[2016-12-02 22:10] mlh78750 commented on #3436
@hmahmood : ask @mobla He should be able to hook you up. I found this in his environment. You have to install in a network with no DHCP available.

[2016-12-02 22:16] mlh78750 commented on #3417
@mobla when you get a chance, can you recreate this and grab the logs from the VCH as well please.

[2016-12-02 22:26] #3431 closed

[2016-12-02 23:03] dougm commented on #3431
The HostSubSpecificationUpdateEvent type is internal, which is why there no govmomi type - not in the public wsdl, not generated.  VC shouldn't be sending us internal events, so this is most likely a 6.5

[2016-12-02 23:57] bhravich opened #3439 "Deploying a multi-container wordpress application on VCH via Admiral fails"
**VIC version:**

v0.8.0-rc2-7257-9553959

**Deployment details:**

What was the vic-machine create command used to deploy the VCH?
[code]

**Steps to reproduce:**
1. Deploy the VCH using the above mentioned command.
2. Register the host on admiral.
3. Upload an application template with the following specification:
[code]
4. Deploy the application.

**Actual behavior:**
The mysql container is suc

[2016-12-03 00:39] mobla commented on #3417
attached the logs for VIX error from VCH deployed on ESXi host.
[vch-esx-logs.tar.gz](https://github.com/vmware/vic/files/628591/vch-esx-logs.tar.gz)

[2016-12-03 00:45] mobla commented on #3436
@hmahmood, let me know the steps to set the log level to debug and I will upload the logs for you.

Thanks,
Murali

[2016-12-03 03:43] waynean opened #3440 "CheckDockerAPI fails with i/o timeout"
**VIC version:**
0.8.0-rc3
Installer version: v0.8.0-rc2-7257-9553959
VCH version: v0.8.0-rc2-7257-9553959

**Issues:**

1. Install VCH with error: Could not run VCH vSphere API target check due to ServerFaultCode: The operation is not allowed in the current state.
2. VIC Admin page is accessible form 172.16.100.80 which is an DHCP IP from public network, looks like something wrong with static man

[2016-12-03 06:35] stuclem commented on #3373
Thanks @emlin !

- Added "The smallest subnet that you can specify is 16" to `--bridge-network-range`.
- Added "Images are thin-provisioned, so they do not usually consume 8GB of space" to `--base-image-size`.
- Added "Deploy the VCH with a more verbose level of logging, for troubleshooting purposes. Specifying the `--debug` option increases the verbosity of the logging for all aspects of VCH oper

[2016-12-03 06:39] stuclem commented on #852
Added more info to https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md#--debug: "For example, setting `--debug` to 2 or greater automatically enables SSH access to the VCH endpoint VM. Setting `--debug` to 3 suppresses the restart of failed components." I do feel that this is very incomplete, though. I would really like to obtain a proper list of what

[2016-12-03 06:41] stuclem commented on #3419
Might come sooner, but must be in 1.0.

[2016-12-03 06:42] stuclem commented on #3420
Not in 0.8 GA, so Iceboxing for now

[2016-12-03 17:58] stuclem commented on #3371
Thanks @vburenin and @hickeng.

@hickeng I took all of your proposed content, but since are are talking about 3 different things here, I split them into 3 places:

- Added the info about [`vic-machine create --debug`](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md#--debug) to that section in the big options topic.
- Created [Enable shell access to

[2016-12-03 18:56] stuclem commented on #3327
Thanks @hmahmood, @mlh78750 and @andrewtchin !

- @hmahmood, regarding the limit of 3 PGs per VCH, I changed your suggestion somewhat, to remove container networks from the 3 PGs: "A VCH supports a maximum of 3 network port groups. Because the bridge network requires its own port group, at least two of the public, client, and management networks must share a port group. Container networks do not g

[2016-12-03 19:18] stuclem commented on #3334
Thanks @andrewtchin, @hmahmood and @mlh78750 !

- Replaced "default VM Network" with "VM Network" throughout the entire doc set.
- Replaced "distributed port group" with "port group" throughout the entire doc set when dealing with https://github.com/vmware/vic/issues/3327.
- Added "Because the management network shares a network with the public network, the management network uses the same IP addr

[2016-12-03 19:21] stuclem commented on #3124
Reviewed as part of global doc review. Closing.

[2016-12-03 19:21] #3124 closed

[2016-12-03 19:22] stuclem commented on #2542
Reviewed as part of global doc review. Closing.

[2016-12-03 19:22] #2542 closed

[2016-12-03 19:23] stuclem commented on #3013
Reviewed as part of global doc review. Closing.

[2016-12-03 19:23] #3013 closed

[2016-12-03 19:23] stuclem commented on #3012
Reviewed as part of global doc review. Closing.

[2016-12-03 19:23] #3012 closed

[2016-12-03 19:23] stuclem commented on #3173
Reviewed as part of global doc review. Closing.

[2016-12-03 19:23] #3173 closed

[2016-12-03 19:23] stuclem commented on #3016
Reviewed as part of global doc review. Closing.

[2016-12-03 19:23] #3016 closed

[2016-12-03 19:24] stuclem commented on #3149
Reviewed as part of global doc review. Closing.

[2016-12-03 19:24] #3149 closed

[2016-12-03 19:24] stuclem commented on #3148
Reviewed as part of global doc review. Closing.

[2016-12-03 19:24] #3148 closed

[2016-12-03 19:24] stuclem commented on #3094
Reviewed as part of global doc review. Closing.

[2016-12-03 19:24] #3094 closed

[2016-12-03 19:25] stuclem commented on #3283
Reviewed as part of global doc review. Closing.

[2016-12-03 19:25] #3283 closed

[2016-12-03 19:25] stuclem commented on #2996
Reviewed as part of global doc review. Closing.

[2016-12-03 19:25] #2996 closed

[2016-12-03 19:26] stuclem commented on #3073
Reviewed as part of global doc review. Closing.

[2016-12-03 19:26] #3073 closed

[2016-12-03 19:28] stuclem commented on #2860
Reviewed as part of global doc review. Closing.

[2016-12-03 19:28] #2860 closed

[2016-12-03 20:38] mdubya66 commented on #3410
This needs further discussion. Backlogging

[2016-12-03 20:39] mdubya66 commented on #3426
Moving to todo for now.

[2016-12-03 20:40] mdubya66 commented on #3436
usability issue.

[2016-12-03 20:42] mdubya66 commented on #3439
@sflxn please continue to triage this.

[2016-12-03 20:44] mdubya66 commented on #3440
@andrewtchin please triage this

[2016-12-03 20:45] mdubya66 commented on #3437
Found in End  to end testing.

[2016-12-03 20:45] mdubya66 commented on #3437
@vburenin please triage this further

[2016-12-03 21:05] loopif opened #3441 "Error response from daemon: Unexpected http code: 400 when working with Harbor"
As a user of VIC, I should be able to specify ":443" during installation with vic-machine.

As a user of VIC, I should be able to pull from a public library (project in Harbor) in a secure registry if I installed the VCH with --insecure-registry.

Acceptance Criteria:  Robot scripts to validate vic-machine's URL validation for insecure-registry.  Robot scripts to validate the ability to pull an im

[2016-12-04 01:23] emlin commented on #3373
lgtm 👍

[2016-12-04 07:25] stuclem commented on #3329
Thank you @vburenin and @hickeng !

I have taken @hickeng's text, but reworked it a bit for stylistic reasons. I also retained some of my original content where I thought that it was valid to do so. Thank you George for such a detailed rewrite.

If the debate about wildcards, please continue the debate here, if necessary.

Changes are in https://github.com/stuclem/vic/commit/eae0423b2c7923aec410a2

[2016-12-04 07:34] stuclem commented on #1282
Note that the official name for Harbor is **vSphere Integrated Containers Registry**.

[2016-12-04 08:03] stuclem commented on #3320
Thanks @karthik-narayan.  I included the link to the support page, as I think that this is the main entry point to Support.

I have updated the page to include Harbor.

Changes are in https://github.com/stuclem/vic/commit/dc1d3deb8906543617ce7f5f5d051fa4589f1f9f and https://github.com/stuclem/vic/commit/bb2841d043dde35fd5207f4af15350f386ea2bfe.

Updated page is here: https://github.com/stuclem/vic

[2016-12-04 09:42] stuclem commented on #3369
In the end I added both - one mailto link that emails docfeedback@vmware.com, and one link to https://github.com/vmware/vic-product/issues. I included the mailto link to docfeedback@vmware.com for customers who want to feel that they are getting an official response from VMware, rather than from the community. Sending an email to docfeedback@vmware.com automatically generates a bug in Bugzilla, an

[2016-12-04 10:07] stuclem commented on #912
Updated links for 1.0, added download link, removed community.

[2016-12-04 16:56] mdubya66 commented on #3441
@sflxn could you take a look?

[2016-12-05 10:04] stuclem commented on #911
I have gone back on this idea yet again. I created standard VMware Release Notes with a minimum of information. Mostly these RNs just link to the appropriate docs in Github, including to the Known Issues.

http://tpub-stg-ic-1.eng.vmware.com:8080/Release_Notes/en/vsphere-integrated-containers/10/vsphere-integrated-containers-10-release-notes.html (VMware internal)

@karthik-narayan and @mdubya66,

[2016-12-05 10:40] stuclem commented on #912
Updated landing page is here:
http://wwwcontentdev.vmware.com:9299/support/pubs/vsphere-integrated-containers-pubs.html

@karthik-narayan is this OK? Thanks!

[2016-12-05 10:58] stuclem commented on #3282
Covered by global doc review. Closing.

[2016-12-05 10:58] #3282 closed

[2016-12-05 10:59] stuclem commented on #2792
This reorg was discussed extensive by email. Closing.

[2016-12-05 10:59] #2792 closed

[2016-12-05 11:02] stuclem commented on #2307
Covered by global doc review. Closing.

[2016-12-05 11:02] #2307 closed

[2016-12-05 11:05] stuclem commented on #3322
Hi @chengwang86. Did you review the new version at https://github.com/vmware/vic/blob/master/doc/user_doc/vic_installation/ts_cli_argument_error.md? If so, can I close this one?

Thanks!
s

[2016-12-05 11:06] stuclem commented on #3344
Minor changes. Closing.

[2016-12-05 11:06] #3344 closed

[2016-12-05 11:09] stuclem commented on #3319
Took @hickeng's version with minor stylistic changes. Closing.

[2016-12-05 11:09] #3319 closed

[2016-12-05 11:10] stuclem commented on #3331
LGTMs from everyone. Closing.

[2016-12-05 11:10] #3331 closed

[2016-12-05 11:11] stuclem commented on #3364
Need an LGTM from @mhagen-vmware before I close this one.

[2016-12-05 11:11] stuclem commented on #3352
Thanks!

[2016-12-05 11:11] #3352 closed

[2016-12-05 11:13] stuclem commented on #829
Covered by global doc review. Closing.

[2016-12-05 11:13] #829 closed

[2016-12-05 11:14] stuclem commented on #1628
Covered by global doc review. Closing.

[2016-12-05 11:14] #1628 closed

[2016-12-05 11:15] stuclem commented on #3120
Covered by global doc review. Closing.

[2016-12-05 11:15] #3120 closed

[2016-12-05 11:18] stuclem commented on #3359
@chengwang86 yes you're right - #3001 is the issue.

Just need an LGTM from @emlin before I close this one.

[2016-12-05 11:22] stuclem commented on #3342
Added docker stop and recommended against using --force.

Changes are in https://github.com/stuclem/vic/commit/c970690c30930ffec22e47665d6f6960f03b3d15.

Leaving in Done pending your LGTMs. Thanks @anchal-agrawal and @emlin !

[2016-12-05 11:23] stuclem commented on #3373
Thanks @emlin. Now I just need an LGTM from @hmahmood.

[2016-12-05 11:28] stuclem commented on #3361
Moving to Done, pending LGTM from @mhagen-vmware and review by @karthik-narayan.

[2016-12-05 11:35] stuclem commented on #3357
Made a couple of minor edits in https://github.com/stuclem/vic/commit/f74b89c4077bca22a5027a63c93deb06581c742e.

Changes are in. Don't think that this needs another pass. Closing.

[2016-12-05 11:35] #3357 closed

[2016-12-05 11:37] stuclem commented on #3354
Needs an LGTM from @mhagen-vmware and @karthik-narayan before I close.

[2016-12-05 11:38] stuclem commented on #3338
Needs an LGTM from @hmahmood before I close.

[2016-12-05 11:43] stuclem commented on #3358
Thanks @emlin. Changed `tag` to `git_commit` both here and in the topic on `ls`.

Changes are in https://github.com/stuclem/vic/commit/a01efee27e8ac829f295e9b7de563cf7c98ad5c2.

Minor change. Think it's safe to close.

[2016-12-05 11:43] #3358 closed

[2016-12-05 11:44] stuclem commented on #3349
Moving to Done pending review by @jak-atx

[2016-12-05 11:44] Chopper3 commented on #3307
Thanks for the reasoning behind the --force option, that's very useful

[2016-12-05 11:45] stuclem commented on #3347
Thanks @matthewavery and @fdawg4l . Closing.

[2016-12-05 11:45] #3347 closed

[2016-12-05 12:05] stuclem commented on #3343
Thanks @anchal-agrawal and @emlin. Moving to Done pending review by @gigawhitlocks.

[2016-12-05 12:07] stuclem commented on #3378
Moving to done pending LGTMs from @mhagen-vmware and @emlin

[2016-12-05 12:07] stuclem commented on #3346
Moving to Done  pending review by @gigawhitlocks.

[2016-12-05 12:08] stuclem commented on #3341
Moving to Done pending review by @gigawhitlocks.

[2016-12-05 12:10] stuclem commented on #2763
Removed "Engine" from titles, but need to look at the lower level topics.

[2016-12-05 12:11] karthik-narayan commented on #3361
LGTM!

[2016-12-05 12:11] stuclem commented on #2408
Added in https://github.com/vmware/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md#registry and https://github.com/vmware/vic/blob/master/doc/user_doc/vic_app_dev/using_registries_with_vic.md. Review is being done in the global doc review. Closing this one.

[2016-12-05 12:11] #2408 closed

[2016-12-05 12:16] karthik-narayan commented on #3354
LGTM

[2016-12-05 12:41] stuclem commented on #872
Added "VCHs do not support datastore name changes. If a datastore changes name after you have deployed a VCH that uses that datastore, that VCH will no longer function."

Change is in https://github.com/stuclem/vic/commit/f90f21bb01b02473391c476f620d226116e7bafc.

@fdawg4l is this OK? Moving this one out of GA and into Icebox pending the implementation of support for DS name changes.

[2016-12-05 12:55] stuclem commented on #3382
Thanks @hickeng. Updated the network prereqs per your comments above. Changes are in https://github.com/stuclem/vic/commit/130e0c0d5e9b2bbe583e361a283efc6c754673b7.

Regarding your comment "We should check, but I believe that a portgroup is fundamentally isolated at in IP address level, even if using a private VLAN, so long as they use different VLAN ids", about the statement "If you are not using

[2016-12-05 12:56] stuclem commented on #3382
@mhagen-vmware could you also please take a look at https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vic_installation_prereqs.md?

Thanks!

[2016-12-05 14:14] stuclem commented on #3355
@gigawhitlocks I broke this up into 3 topics:

- [Access the Administration Portal for a VCH](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/access_vicadmin.md) (the original topic)
- [Browser-Based Certificate Login](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/browser_login.md)
- [Command Line Certificate Login](https://github.com/stuclem/vic/blob/master/d

[2016-12-05 14:20] anchal-agrawal commented on #3342
LGTM

[2016-12-05 14:24] stuclem commented on #3403
The merge closed this one, so reopening.

[2016-12-05 15:11] chengwang86 commented on #3322
The new version looks good :)

LGTM

On Monday, December 5, 2016, Stuart Clements <notifications@github.com>
wrote:

[2016-12-05 15:13] mhagen-vmware commented on #3364
lgtm

[2016-12-05 15:15] stuclem commented on #3364
Thanks @mhagen-vmware !

[2016-12-05 15:15] #3364 closed

[2016-12-05 15:16] mhagen-vmware commented on #3361
lgtm

[2016-12-05 15:19] mhagen-vmware commented on #3354
lgtm

[2016-12-05 15:20] mhagen-vmware commented on #3378
lgtm

[2016-12-05 15:21] stuclem commented on #3354
Thanks @mhagen-vmware and @karthik-narayan !

[2016-12-05 15:21] #3354 closed

[2016-12-05 15:22] stuclem commented on #3361
Thanks @mhagen-vmware and @karthik-narayan !

[2016-12-05 15:22] #3361 closed

[2016-12-05 15:57] sgairo commented on #3426
Related to #3251 I believe

[2016-12-05 16:08] sgairo commented on #3425
related to #3251 , will close and keep original issue

[2016-12-05 16:09] mlh78750 commented on #3436
This affects container VMs as well. And the timeout for the DHCP failure is about the same as the timeout for attach if you `docker run -it`. So if you are in an environment without DHCP boot times for the containers will be quite high while photon waits for the DHCP to fail, then the tether will write the static config and things will work.

So if you use a non-DHCP environment for bridge network

[2016-12-05 16:17] mlh78750 commented on #3436
cc @sflxn

[2016-12-05 16:19] mhagen-vmware commented on #3382
lgtm

[2016-12-05 16:27] mlh78750 commented on #3382
for https://github.com/vmware/vic/issues/3382#issuecomment-264847108 I think it just needs to say that they need to be isolated and using separate vlans is one way to do that.

[2016-12-05 16:33] mdubya66 commented on #3436
@mikeh mentioned one option is to disable network bring up in the bootstrap iso's and have tether do all the network setup.

[2016-12-05 16:37] emlin commented on #3359
LGTM

[2016-12-05 16:39] emlin commented on #3342
lgtm

[2016-12-05 16:41] emlin commented on #3378
lgtm

[2016-12-05 16:48] andrewtchin commented on #3440
@waynean I am unable to download the logs from that site - are you able to upload them here?

[2016-12-05 17:00] mlh78750 commented on #3327
One minor addition. I commented in the commit.

LGTM

[2016-12-05 17:11] andrewtchin commented on #3334
looks good. mike made a comment

[2016-12-05 17:13] stuclem commented on #3359
Thanks @emlin !

[2016-12-05 17:13] #3359 closed

[2016-12-05 17:14] stuclem commented on #3342
Thanks @anchal-agrawal and @emlin !

[2016-12-05 17:14] #3342 closed

[2016-12-05 17:19] stuclem commented on #2420
This is covered in @corrieb's massive new overview topic. Closing.

[2016-12-05 17:19] #2420 closed

[2016-12-05 17:20] stuclem commented on #1356
This is covered by @corrieb's massive new Overview topic.

[2016-12-05 17:20] #1356 closed

[2016-12-05 17:32] npakrasi commented on #3404
@hickeng If the doc looks ok, can you please give an LGTM here so I can close the issue?
https://github.com/vmware/vic/blob/master/doc/user_doc/vic_security/security_reference.md
Thanks!

[2016-12-05 17:35] npakrasi commented on #3353
@sflxn, @matthewavery, @caglar10ur, @hmahmood if the doc looks ok, can you LGTM this issue so I can close it? Thanks! https://github.com/vmware/vic/blob/master/doc/user_doc/vic_app_dev/container_operations.md

[2016-12-05 17:39] jzt commented on #3348
Doc looks good to me.

[2016-12-05 17:49] npakrasi commented on #3381
@sflxn can you please LGTM this issue if the doc looks ok? https://github.com/vmware/vic/blob/master/doc/user_doc/vic_app_dev/container_limitations.md

After GA we will put the workflow guidelines into a separate file.

[2016-12-05 17:59] dougm commented on #3329
LGTM @stuclem .  May want to mention the directory/file permissions for the generated cert/key are readable only by the user who created them.

[2016-12-05 18:02] mlh78750 commented on #3436
@mdubya66 that's the way it's supposed to be working. Not sure what's getting hung up right now.

[2016-12-05 18:03] dougm commented on #3370
LGTM @stuclem .  Would be great if we could link to vCenter docs on this topic for more details, in particular for the concept of "shares".

[2016-12-05 18:11] dougm commented on #3404
We don't create vCenter Extensions anymore.  usage.md mentions the ops-user/ops-password options, should probably mention that here too.  otherwise, LGTM

[2016-12-05 18:17] stuclem commented on #2512
This issue has been made redundant by @corrieb's massive new Overview topic.

[2016-12-05 18:17] #2512 closed

[2016-12-05 18:17] jzt commented on #3325
I get conflicting output based on which ESX target I use in my cluster:

I create the VCH:

[code]

Inspect the VCH using an ESX host that is a member of my VC cluster as the target:

[code]

Using the other ESX host within the cluster as the target:

[code]

It appears the output is affected by which target you supply and whether or not the VCH is running within.

[2016-12-05 18:32] stuclem commented on #3383
Merged your suggestions here into Ben's more far-reaching overhaul in https://github.com/vmware/vic/issues/3403.

Review is ongoing in the other issue, so closing this one.

[2016-12-05 18:32] #3383 closed

[2016-12-05 18:43] sflxn commented on #3353
Docker stop has "Yes. Yes."  We should correct that.

[2016-12-05 18:51] stuclem commented on #3403
I have made an editorial pass over @corrieb's new version, for style and presentation. I wish that I had had access to this doc a year ago :)

I also created a truncated version for container developers, for inclusion in the Developing Container Applications with VIC doc.

Changes are here: https://github.com/stuclem/vic/commit/5680a42f1e2e2bdc5fb38c3d6a87ef256a2905ad

Or, if you would rather see

[2016-12-05 19:19] mlh78750 commented on #3403
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/introduction.md#runtime last para.
Any that a container writes is non-persistent
should be
Any data that a container writes is non-persistent

[2016-12-05 19:21] mlh78750 commented on #3403
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/introduction.md#packaging might point to Harbor as an example of registry at the end of this para.

[2016-12-05 19:24] chengwang86 commented on #3325
@stuclem Based on my discussion with @jzt , if there are multiple ESXi hosts in the VC cluster, and if you specify "--target" using the ESX host on which your VCH is running, you would see the error msg as in his second case; otherwise, you would see the error msg in the first case (your VCH is not running on that ESXi host).

I think maybe we need to add both cases to this topic for completeness.

[2016-12-05 19:27] mlh78750 commented on #3403
@corrieb Very nice job on this. LGTM from me.

[2016-12-05 20:13] matthewavery commented on #2303
@hmiller997 Please let me know if you have further questions, or you feel that our documentation on the volume support could be improved.

[2016-12-05 20:15] chengwang86 commented on #3353
In the "general container operations" table, how do we decide whether a docker cmd is put there or not? Several important docker cmds (though not yet supported) are missing, e.g., "docker build", "docker commit".

[2016-12-05 20:28] cgtexmex commented on #3403
Some minor suggestions / questions -- hope my editing format makes sense.  :)

https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/introduction.md#packaging
States:
As long as you have a destination that is running a container engine, for example Docker,
and a compatible kernel ABI, you can download and run an image on it.

Suggest:
drop ABI -- doubt many vi Admins could ident

[2016-12-05 20:32] jzt commented on #3375
@stuclem This doc looks good to me. I tested it locally by intentionally skewing the time to get the documented error message. Changing it back according to the instructions fixed the problem as documented.

It might be worth explaining the time window that is allowed (currently 1 day skew tolerance), which could indicate a different certificate error than time skew.

Given that, it may also be wo

[2016-12-05 20:35] sflxn commented on #3353
Ok, I didn't notice the change till I saw Cheng's comments.  It does look like we removed a lot more than I thought.  The doc was previously following the same format as https://docs.docker.com/engine/reference/commandline/.  Why did we change?

Also, we should have a comment about not supporting Swarm at this time.

[2016-12-05 20:36] hmahmood commented on #3353
For "Network Operations": `network connect` is not supported for running containers.

[2016-12-05 20:40] hmahmood commented on #3338
@stuclem line 697 still says "distributed port group".

[2016-12-05 20:41] hmahmood commented on #3338
Same for line 699

[2016-12-05 20:42] hmahmood commented on #3373
should say /16

[2016-12-05 20:45] hmahmood commented on #3327
got -> go in line 11. Same for line 158. lgtm otherwise.

[2016-12-05 20:48] hmahmood commented on #3436
It looks like dhcp is not running @mobla 's setup. I verified systemd-networkd service is not running (which runs the dhcp client). We also didn't see any evidence of dhcp activity in the kernel/systemd logs.

However, we did see the docker personality restarting due to the following errors: ```time="2016-12-05T08:00:07Z" level=error msg="Handler for POST /v1.23/images/create returned error: Head

[2016-12-05 20:50] mlh78750 commented on #3436
@hmahmood that was for the VCH. Can you confirm that the container VM is also configured to not run the DHCP client. I'm trying to figure out why the boot of a container in this environment takes a while.

[2016-12-05 20:53] hmahmood commented on #3436
The container VM shares the same configuration for the VCH, so it should not have dhcp running as well. I confirmed that systemd-networkd is not running in a busybox containers I brought up.

[2016-12-05 21:10] sflxn commented on #3415
Docker has started vendoring a lot of projects we were pulling in separately (and they used to refer to externally vs vendoring), and the go compiler is enforcing namespaces around those projects so we are going to get conflicts.  For example, we vendor github.com/docker/go-connections/nat.  Docker vendors that into the main docker repo so the go compiler does not like that.

[2016-12-05 22:03] hmiller997 commented on #2303
@matthewavery, @mlh78750 Thanks for your replies. I am in the process of testing out the VMware volume store method now. Documentation seems pretty straight forward. I am familiar with some of the Docker volume plugins available like this: https://github.com/gondor/docker-volume-netshare.git but I didn't realize you had one to access the VMware data stores directly already built in. Thanks.

[2016-12-05 22:15] #3175 closed

[2016-12-05 22:17] npakrasi commented on #3404
Thanks @dougm. I added this: The `--ops-user` and `--ops-password` options allow a VCH to operate with less-privileged credentials than those that are required for deploying a new VCH.

[2016-12-05 22:22] hmahmood commented on #3436
The cert failure above is likely because a private registry being used. Is that the case here @mobla? If that is the case, the personality should not exit as it is happening here. @sflxn?

[2016-12-05 22:43] chengwang86 commented on #3439
I tried it manually on my local ESXi host (only vic engine; no admiral) and it worked.

[code]

[2016-12-05 23:14] npakrasi commented on #3353
Made the edits and added the missing commands. Not sure  why I missed them but they're in now. :)

[2016-12-05 23:22] bhravich commented on #3439
**#1.**
I tried the following:
[code]
Faced the same issue as reported in the defect.

**#2.**
Then I slightly modified the command as follows:
[code]
This time the application launched successfully.

The issue is that the wordpress container is not able to resolve the IP based on name 'mysql'. Am I missing any configuration for this name lookup.

[2016-12-05 23:55] bhravich commented on #3439
@chengwang86 I changed the application template as follows and it worked:

[code]

The links section was changed from 'mysql' to 'mysql:mysql'.

[2016-12-05 23:56] chengwang86 commented on #3439
@bhravich I agree.

In the portlayer log, I found the following (can't find the container mysql):
[code]

In "#1", if you do "docker -H ... network ls", you would find all the networks. If there is one named "bridge", could you pls do "docker -H ... network inspect bridge" and post the output? Also post the output of "docker -H ... inspect mysql".

The reason is that when you do "#1", the two cont

[2016-12-06 00:06] chengwang86 commented on #3439
@bhravich This is weird. According to https://github.com/vmware/admiral/wiki/User-Guide#service-discovery

So I thought it was not necessary to specify alias for mysql.

[2016-12-06 00:48] sflxn commented on #3415
I found this discussion pertaining to the comment I added above.

https://groups.google.com/forum/#!topic/golang-nuts/liKQ6gtU4hk

They came to the same conclusion I did.  However, it's not as simple as they discuss.  The ideal solution would take into consideration the version of the repo.  If we vendor two repo that themselves vendor a common repo from different version, rolling up vendored sour

[2016-12-06 01:19] mobla commented on #3436
@hmahmood: attached the container logs for create VCH taking ~5mins as per your request
[container-logs.tar.gz](https://github.com/vmware/vic/files/632720/container-logs.tar.gz)

[2016-12-06 01:30] waynean commented on #3440
@andrewtchin, sure, here you go :-)
[Archive.zip](https://github.com/vmware/vic/files/632742/Archive.zip)

[2016-12-06 04:03] fdawg4l commented on #3415
I tried just such a scenario when I added `/vendor` to our repo and couldn't make the compiler behave like you're describing.  It was always bottom up and namespaces were full and complete relative to their own `/vendor` root.  Can you give me an example I can play with?

PS.  Our `/vendor` folder has lots of redundant pkgs but things seem to work.  Could we be that lucky that they're all referrin

[2016-12-06 09:26] stuclem commented on #3280
Upgrade was reinstated in PR https://github.com/vmware/vic/pull/3445#event-882804447. Leaving in icebox until after 0.8 GA.

[2016-12-06 09:35] stuclem commented on #3353
@sflxn, @npakrasi and @chengwang86. Hmm, I did do a reorg of the Docker commands table a little while ago, to match the organization on https://docs.docker.com/engine/reference/commandline/. I also added all of the ones from the Docker site that we didn't list. Looks like that reorg has been eaten by a git merge problem. I'll investigate and see if I can reinstate the reorg.

[2016-12-06 09:56] stuclem commented on #3353
Looks like this is the PR where the reorg got overwritten: https://github.com/vmware/vic/pull/3405/files.

Should hopefully be easy enough to fix.

[2016-12-06 10:33] stuclem commented on #3353
I have manually merged the latest updates to the table cells into the reorganized tables. See here:
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_app_dev/container_operations.md

@sflxn, @chengwang86, @matthewavery and @npakrasi, please can you check that your latest updates are present in this version?

Thanks!

[2016-12-06 10:34] stuclem commented on #3353
Looking at PR https://github.com/vmware/vic/pull/3405/files, I'm the one who LGTM'd and merged it :)

[2016-12-06 11:15] stuclem commented on #3403
Thanks @mlh78750 and @cgtexmex!

Fixed all of the typos (won't enumerate here). Changes are in https://github.com/stuclem/vic/commit/3927531f0af67ec7b0c4a0c1fa42f7edfcb627ef.

I'm not sure what to do about @cgtexmex 's questions below, but had a go at resolving them:

- "You set aside a certain amount of storage, networking, and compute on your cluster by using a tool called vic-machine." Question

[2016-12-06 13:25] stuclem commented on #3382
Added "Isolate the bridge network and any mapped container networks. You can isolate networks by using a separate VLAN for each network."

Change is in https://github.com/stuclem/vic/commit/f4e6bc48288584dc6d2e14d8f5e0c1ceda367ad3.

Moving to Done pending LGTMs from @mlh78750 and @hickeng.

[2016-12-06 13:34] stuclem commented on #3327
Thanks @hmahmood and @mlh78750. @mlh78750 I think that your comment was on the examples file, so I'm closing this one.

[2016-12-06 13:34] #3327 closed

[2016-12-06 14:03] stuclem commented on #3373
Thanks @hmahmood. Done.

Change is in https://github.com/stuclem/vic/commit/518bedd1537a8ddb668fd052185c9773d7d528c1.

Closing.

[2016-12-06 14:03] #3373 closed

[2016-12-06 14:03] stuclem commented on #3370
Thanks @dougm. Added the following at the beginning of the section: "You can set limits on the memory and CPU shares and reservations on the VCH. For information about memory and CPU shares and reservations, see [Allocate Memory Resources](https://pubs.vmware.com/vsphere-65/topic/com.vmware.vsphere.vm_admin.doc/GUID-49D7217C-DB6C-41A6-86B3-7AFEB8BF575F.html), and [Allocate CPU Resources](https://p

[2016-12-06 14:03] stuclem commented on #3338
Fixed the distributeds. Change is in https://github.com/stuclem/vic/commit/518bedd1537a8ddb668fd052185c9773d7d528c1. Closing.

Thanks @hmahmood !

[2016-12-06 14:03] #3338 closed

[2016-12-06 14:04] stuclem commented on #3329
Thanks @dougm. Done. Change is in https://github.com/stuclem/vic/commit/518bedd1537a8ddb668fd052185c9773d7d528c1.

If I could get an LGTM from @vburenin and @hickeng, I'd be delighted.

Thanks!

[2016-12-06 14:04] stuclem commented on #3378
Thanks @mhagen-vmware and @emlin !

[2016-12-06 14:04] #3378 closed

[2016-12-06 14:10] stuclem commented on #3334
Thanks @andrewtchin, @hmahmood and @mlh78750.

Implemented @mlh78750 's comment.

Change is in https://github.com/stuclem/vic/commit/7b5a3da99bcb479c7928b1d3c776fbe99fefa289.

Closing.

[2016-12-06 14:10] #3334 closed

[2016-12-06 14:11] stuclem commented on #3349
The work was done by @jooskim, so his review is good enough. Closing.

[2016-12-06 14:11] #3349 closed

[2016-12-06 14:12] stuclem commented on #3322
Thanks @chengwang86 !

[2016-12-06 14:12] #3322 closed

[2016-12-06 14:29] stuclem commented on #3325
Thanks @jzt and @chengwang86. I updated the topic accordingly. Changes are in https://github.com/stuclem/vic/commit/92fc5dc6b8dc8b03ea5994278bcef19402548c19.

Moving to done pending LGTMs from you both, before closing.

[2016-12-06 14:38] stuclem commented on #3375
Thanks @jzt.  Done. Changes are in https://github.com/stuclem/vic/commit/bbd9f0116f7f531c4cbab225eb950a51a97c00ed.

Leaving Done pending your LGTM!

[2016-12-06 14:43] stuclem opened #3448 "Doc review: Obtain a VCH"
https://github.com/vmware/vic/blob/master/doc/user_doc/vic_app_dev/obtain_vch.md

[2016-12-06 15:12] chengwang86 commented on #3325
@stuclem I have done with my pass and added some comments in that file. Thanks for your efforts :)  LGTM

[2016-12-06 15:45] mdubya66 opened #3449 "Implement Docker Search"
This might become an Epic.

https://docs.docker.com/engine/reference/commandline/search/

Reported in VIC Engine beta.

According to the documentation vic_app_dev.pdf commands like search or stats should work.
However, when I run these commands I get an error
Stats is working but not if I specify a container

Error response from daemon: vSphere Integrated Containers does not implement container.Co

[2016-12-06 15:47] mlh78750 commented on #3382
lgtm

[2016-12-06 16:25] rajanashok commented on #2966
Change has been made, current nightly runs are using svc.victestuser

[2016-12-06 16:25] #2966 closed

[2016-12-06 16:26] rajanashok commented on #3230
Image has been updated to the latest 1.17

[2016-12-06 16:26] #3230 closed

[2016-12-06 16:40] vburenin commented on #3329
LGTM @stuclem

[2016-12-06 16:41] vburenin commented on #3371
LGTM @stuclem

[2016-12-06 16:41] mdubya66 opened #3451 "vic-machine upgrade not visible from help"
**VIC version:**

   v0.8.0-7335-3e5b46b

**Deployment details:**
Testing upgrade. The command doesn't show the upgrade verb but the upgrade worked.

**Steps to reproduce:**
[code]

[2016-12-06 16:41] mdubya66 commented on #3451
We need a test for this too

[2016-12-06 16:42] mdubya66 commented on #3451
The upgrade did work

[code]

[2016-12-06 16:44] mlh78750 commented on #3403
@stuclem  Yes. The Engine Appliance is the same as the endpoint VM.

[2016-12-06 16:46] mdubya66 commented on #3451
And I was able to attach to a container that I left running before the upgrade. So, sweet :)

[2016-12-06 16:59] #3451 closed

[2016-12-06 17:00] stuclem commented on #3381
BTW, I have removed the workflow section and am working on it in another topic.

[2016-12-06 17:09] gigawhitlocks commented on #3341
LGTM

[2016-12-06 17:23] mdubya66 commented on #2539
Moving into 1.0 to improve admiral support. Target is .10 for now

[2016-12-06 17:24] mdubya66 commented on #2539
Moving into 1.0 for basic admiral support. targeting .10 for now.

[2016-12-06 17:26] mdubya66 commented on #386
Moving into 1.0 timeframe. target v0.10.0 for now

[2016-12-06 17:44] stuclem commented on #3346
Thanks all!

[2016-12-06 17:44] #3346 closed

[2016-12-06 17:45] stuclem commented on #3343
Thanks!

[2016-12-06 17:45] #3343 closed

[2016-12-06 17:47] stuclem commented on #3341
Thanks!

[2016-12-06 17:47] #3341 closed

[2016-12-06 17:58] jzt commented on #3375
LGTM 👍

[2016-12-06 17:59] jzt commented on #3325
LGTM 👍

[2016-12-06 18:02] gigawhitlocks commented on #3355
Formatting looks a little messed up on the Command Line Certificate Login page but otherwise LGTM (including the actual content on that one)

[2016-12-06 18:02] gigawhitlocks commented on #3342
LGTM

[2016-12-06 19:11] stuclem commented on #3355
Hum, it didn't like my <pre> tags, for some reason. Fixed. A more beautiful version is here:
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/cmdline_login.md

Thanks!

[2016-12-06 19:11] #3355 closed

[2016-12-06 19:16] hmahmood commented on #3338
lgtm

[2016-12-06 19:21] hmahmood commented on #3436
The vmware.log file for the VCH is missing. Also, our systemd config setup seems to be busted; from `dmesg`:
[code]
Not sure if this is contributing to the problem.

[2016-12-06 19:24] loopif commented on #3441
Harbor v. 0.5.0-rc2 is used. Should I post steps to reproduce the error?

[2016-12-06 19:47] mlh78750 commented on #3437
First reported in #2932.

Closing as a dup.

[2016-12-06 19:47] #3437 closed

[2016-12-06 19:49] hmahmood opened #3453 "vic-machine gateway option should not be required for client and management networks when using static ips"
Currently, to configure static IPs for client and management networks, a corresponding gateway is required (via the `--<network>-gateway` options). This also forces the user to specify at least one destination for routing through the gateway, even though no gateway should be required if the network in question is L2 adjacent.

The fix should be to make the gateway options optional for client and m

[2016-12-06 19:58] sflxn commented on #3441
@loopif There is a validation issue up there.  Something we need to add.  You specify insecure-registry (http), but you specified port 443 (https).  It's a mismatch.  I'm not sure that's the cause of the error you're getting, but it's the first thing I noticed.

Did you docker login <harbor> before pulling?

[2016-12-06 20:29] rajanashok opened #3455 "Create a how to doc to run nightlys locally"
Add a google doc to help with running nightlys locally.

[2016-12-06 20:34] emlin commented on #3196
Unfortunately invalid vm issue happens again, and exposed another issue possibly caused by vm fixing.
In this build, https://ci.vmware.run/vmware/vic/7339, the first error failed for container log is wrong, but no any error shows in the portlayer and persona logs.

From the portlayer, we can see that "docker log" happens simultaneously with vm register. After container log handler is initialized,

[2016-12-06 20:42] sflxn commented on #3415
The problem occurs this way.

We import github.com/docker/<some repo>.  Docker then now vendors the same repo so we have

vic/vendor/github.com/docker/<some repo>
vic/vendor/github.com/docker/docker/vendor/github.com/docker/<some repo>

Some repo defines type foo.  Docker code uses type foo (from their vendored repo) and we declare type foo and pass it into the docker code.  The Go compiler will c

[2016-12-06 21:01] stuclem commented on #831
Created topics based on the voting app for VIC:

- [Creating a Multi-Tiered Application with vSphere Integrated Containers Engine](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_app_dev/creating_multitier_app_with_vic.md)
- [Constraints of Using vSphere Integrated Containers Engine to Build Applications](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_app_dev/constraints_u

[2016-12-06 21:10] stuclem commented on #1527
Nice to have but not essentially. Moving to post-GA.

[2016-12-06 21:11] stuclem commented on #2984
No news on this. Moving to 0.9.

[2016-12-06 21:12] stuclem commented on #3072
Moving to 0.9 for lack of time. The overview covers a lot of the major terms.

[2016-12-06 21:17] hmahmood commented on #3436
For the "Too many levels of symbolic links" error:

https://github.com/systemd/systemd/issues/3010

[2016-12-06 21:46] chengwang86 commented on #831
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_app_dev/constraints_using_vic.md#building-container-images

This should be "... to build a container image and to push it ...."

https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_app_dev/build_app_with_vic.md#deploy-the-application-to-a-vch

--> The docker-compose-simple.yml file has to be renamed to "docker-compose.yml" (defaul

[2016-12-06 22:14] hickeng commented on #3370
@stuclem emma is correct that larger images may need customers to increase the appliance memory in this release - I cannot think of any reason why a customer would need to adjust the appliance-cpu options however.

should this be VCH endpoint VM? I suggest noting that `--appliance-memory` may need to be adjusted if pulling large images and keeping the pointer to `--memory` for the overall VCH limi

[2016-12-06 22:17] hickeng commented on #3403
@stuclem There is no storage quota currently - if storage quotas are needed then the viadmin needs to create a datastore specifically for this use and size it appropriately. I do not know if that's viable with vSAN.

[2016-12-06 22:25] mobla commented on #3436
Attached the vmware.log and tether.debug. Please rename the tar.gz file to zip and unzip it..

[vmware-and-tether-logs.tar.gz](https://github.com/vmware/vic/files/635212/vmware-and-tether-logs.tar.gz)

[2016-12-06 22:37] hickeng commented on #3329
@vburenin while there's debate about what wildcards _should_ mean, we need to document how they actually function in the Go ecosystem and that's the strict RFC.

@stuclem minor comments and corrections.

[2016-12-06 23:29] corrieb commented on #3403
This has edited together beautifully. LGTM

[2016-12-06 23:39] corrieb commented on #3403
WRT to @cgtexmex comments forward-looking statements above.

The statement on "certain amount of" could be construed to mean number of datastores, rather than specific amounts of a particular datastore. Personally I don't read it to suggest quotas. For a high-level perspective, I think it's fine unless anyone strongly objects.

With respect to reconfiguration of a VCH resource limits, you can do t

[2016-12-06 23:41] corrieb commented on #3403
@stuclem I modified the Wiki to show TBD for @cgtexmex @hickeng and @mlh78750 on https://github.com/stuclem/vic/commit/999a82bc53f85f2badb7030448620c74dd1e229c. You should all give it a once-over to make sure that you think the subset is sufficient.

[2016-12-06 23:44] hickeng commented on #3402
@stuclem Updates as comments in https://github.com/stuclem/vic/commit/726675e60a83953cbecc246338602547e9ab93f1

[2016-12-06 23:47] hickeng commented on #3416
Minor comment, otherwise LGTM

[2016-12-06 23:51] hickeng commented on #3379
@stuclem delete the multiple VLAN section - it's so basic it should be assumed.

[2016-12-06 23:56] hickeng commented on #3371
@stuclem you're correct, at the moment ssh is enabled irrespective of the presence of `--enable-ssh` - that's a bug.

[2016-12-07 00:04] bhravich commented on #3439
@chengwang86 I guess, last test run was a random success. And the network details doesn't look right to me.

Both the containers got the same IP "172.16.0.2" only then the networking between them works.

[code]

[code]

[code]

[code]

[code]
Logs for the above mentioned host :
[container-logs-host-3.zip](https://github.com/vmware/vic/files/635338/container-logs-host-3.zip)

Also, I deployed anoth

[2016-12-07 00:10] hickeng commented on #3363
reviewed with comments.

[2016-12-07 00:12] hickeng commented on #3404
@stuclem LGTM - I still need to provide a more minimal RBAC configuration to be added here.

[2016-12-07 06:37] stuclem commented on #3403
Thanks @corrieb, @mlh78750 and @hickeng.

- Changed "appliance" to "VCH endpoint VM", since that's the terminology that we agreed upon.
- Regarding storage quotas and whatnot, I replaced "assign" with "identify" and changed "storage" to "datastores":
  - You identify datastores, networking, and compute on your cluster that the user can use for their Docker environment.
  - You use a utility called

[2016-12-07 06:41] stuclem commented on #3403
Fixed the typo "If you discover than you need..." in https://github.com/stuclem/vic/commit/4389a77a43c05eca2e89f4198cdeecd661bbb3d3.

[2016-12-07 06:57] lazarin commented on #3439
Tested with rc2.
I think the issue here is with the container name, link and link alias.

Manually it succeeds because the container is named 'mysql' as the link and the link alias.
With admiral the container has some unique suffix - 'mysql-xxx-xxxx' and the link alias is 'mysql'. From wordpress container I am able to ping 'mysql-xxx-xxxx' but not 'mysql' although that's the alias used in the temp

[2016-12-07 07:03] npakrasi commented on #1282
Added topics to address private registry using Harbor: https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_admin/private_registry_with_harbor.md
https://github.com/vmware/vic/blob/master/doc/user_doc/vic_admin/deploy_vic_with_harbor.md

[2016-12-07 07:04] stuclem commented on #831
Thanks @chengwang86 !

Made the modifications that you suggest above. Also changed "multi-tiered" to "containerized" just to be safe, following our Slack chat.

Incidentally, renaming the YML file was the one step that I was missing in order to get this example to work, which it now does, so thanks for that!

Changes are in https://github.com/stuclem/vic/commit/cf3c021b54f88510023e8b02fdf960b37742

[2016-12-07 07:31] stuclem commented on #831
Actually, I spoke too soon. The voting app needs a default volume store, so I added this to the doc. The app now works for me.

Change is in https://github.com/stuclem/vic/commit/105fa7ba61934cc9c20c7d5c2ef71cc7d6b6d1cc.

[2016-12-07 07:33] stuclem commented on #831
Also got a cert error when I ran the example with `--no-tlsverify`. Running with `--no-tls` works. Updated doc to remove TLS.

Change is in https://github.com/stuclem/vic/commit/378f9ff4a518c04aab13377a91f422a3fb7ba264.

[2016-12-07 07:42] cgtexmex commented on #3403
LGTM

[2016-12-07 08:49] stuclem commented on #3403
Thanks @cgtexmex !

[2016-12-07 09:04] stuclem commented on #3371
Thanks for the LGTMs @vburenin and @hickeng. Should we release note the bug?

[2016-12-07 09:04] #3371 closed

[2016-12-07 09:56] stuclem commented on #3329
Thanks @vburenin and @hickeng. @hickeng I implemented your comments from https://github.com/stuclem/vic/commit/eae0423b2c7923aec410a292b3e8f13f0cd02f6f.

Also added a new section "Connecting to the VCH" in the [Obtain a VCH](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_app_dev/obtain_vch.md) topic in the App Dev doc, which takes the info that you provided about which Docker options

[2016-12-07 09:56] stuclem commented on #3363
Thanks @hickeng . Took your comments from https://github.com/stuclem/vic/commit/02c7d53ef06053c1f6fce5091bda106ee4bb97fd

Updates are in https://github.com/stuclem/vic/commit/5440ffd335c9a0ae9b7cd08e89b0f8abb5aa051a.

Think that we can close this one now.

[2016-12-07 09:56] #3363 closed

[2016-12-07 09:56] stuclem commented on #3402
Thanks @hickeng . Implemented your comments from https://github.com/stuclem/vic/commit/726675e60a83953cbecc246338602547e9ab93f1.

Updates are in https://github.com/stuclem/vic/commit/5440ffd335c9a0ae9b7cd08e89b0f8abb5aa051a. Think that we can close this one now.

[2016-12-07 09:56] #3402 closed

[2016-12-07 10:08] stuclem commented on #3370
Thanks @hickeng. Updated as follows:

### `--appliance-cpu ` ###

Short name: none

The number of virtual CPUs for the VCH endpoint VM. The default is 1. Set this option to increase the number of CPUs in the VCH VM, for example if the VCH will handle large volumes of containers, or containers that require a lot of processing power.

**NOTE** Use the `--cpu` option instead of the `--appliance-cpu`

[2016-12-07 10:14] stuclem commented on #3416
Thanks @hickeng. Closing.

[2016-12-07 10:14] #3416 closed

[2016-12-07 10:17] stuclem commented on #3379
Done. Am taking this as an LGTM, so closing. Thanks @hickeng !

[2016-12-07 10:17] #3379 closed

[2016-12-07 10:27] stuclem commented on #3353
@chengwang86, @sflxn and @matthewavery can you all please take one final look at the [Supported Docker Commands](https://github.com/vmware/vic/blob/master/doc/user_doc/vic_app_dev/container_operations.md) and give us your LGTMs?

Sorry to bug you repeatedly about this, but it's vital that we get this topic absolutely spot-on. Thanks!

[2016-12-07 10:28] stuclem commented on #3353
And @caglar10ur too (see comment above). Thanks!

[2016-12-07 10:29] stuclem commented on #3381
Can we get a LGTM or final comments from @mhagen-vmware and @sflxn please?

Thanks!

[2016-12-07 10:32] stuclem commented on #3381
Also from @corrieb and @hickeng?

[2016-12-07 10:34] stuclem commented on #3382
Good enough. Closing!

[2016-12-07 10:34] #3382 closed

[2016-12-07 10:35] stuclem commented on #3369
I have tested the docfeedback email and I duly received a Bugzilla bug. Think that it's safe to close this.

[2016-12-07 10:35] #3369 closed

[2016-12-07 10:36] stuclem commented on #3325
Thanks!

[2016-12-07 10:36] #3325 closed

[2016-12-07 10:37] stuclem commented on #3375
Thanks!

[2016-12-07 10:37] #3375 closed

[2016-12-07 10:41] stuclem commented on #2130
This is covered by the overview updates in https://github.com/vmware/vic/issues/3403. Closing.

[2016-12-07 10:41] #2130 closed

[2016-12-07 10:48] stuclem commented on #2676
Done in https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_app_dev/obtain_vch.md.

@hickeng @corrieb is this OK? Thanks!

[2016-12-07 10:50] stuclem commented on #3055
Too late for GA. TLS is well-covered by @hickeng 's rewrites. Reinstate the security overview to the doc in a post-GA update.

[2016-12-07 10:58] stuclem commented on #3316
Added this to the Caveats and Limitations section of [Environment Prerequisites for VCH Deployment](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vic_installation_prereqs.md):

- If you deploy a virtual container host (VCH) onto an ESXi host that is not managed by vCenter Server, and you then move that host into a cluster, the VCH might not function correctly..

Couldn't

[2016-12-07 11:05] stuclem commented on #3092
Not vital for GA. Moving to a post-GA update.

[2016-12-07 11:08] stuclem commented on #3404
Thanks @hickeng . Moving this back into To Do.

[2016-12-07 11:08] stuclem commented on #1692
Check @hickeng 's updates in https://github.com/vmware/vic/issues/3404

[2016-12-07 11:21] stuclem commented on #2517
@hickeng added info about the ops user to the security reference in https://github.com/vmware/vic/issues/3404. This issue is no longer needed.

[2016-12-07 11:21] #2517 closed

[2016-12-07 11:21] stuclem commented on #2516
This is covered by the review of the security reference in https://github.com/vmware/vic/issues/3404. Closing.

[2016-12-07 11:21] #2516 closed

[2016-12-07 12:07] stuclem commented on #3298
Added sections on --ops-user to the [VCH Deployment Options](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md) and [Examples](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_examples.md) topics, and linked to them from the [Security Reference](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_security

[2016-12-07 12:17] stuclem commented on #2514
Added this to the [Security Reference](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_security/security_reference.md#data).

Change is in https://github.com/stuclem/vic/commit/de84d91f5c17969981b4dca8c8152e5cbaaeea33.

@hickeng does this cover it?

[2016-12-07 12:17] stuclem commented on #3404
Also added a section on Sensitive Data, per https://github.com/vmware/vic/issues/2514.

[2016-12-07 12:20] stuclem commented on #1692
Added `--ops-user` in https://github.com/vmware/vic/issues/3298 and @hickeng is adding info in https://github.com/vmware/vic/issues/3404. I think that this one is now redundant.

[2016-12-07 12:20] #1692 closed

[2016-12-07 15:30] chengwang86 commented on #3353
LGTM

[2016-12-07 15:36] mlh78750 commented on #3403
lgtm

[2016-12-07 16:02] matthewavery commented on #3353
LGTM - Looks Great!

[2016-12-07 16:22] mlh78750 commented on #3439
cc @hmahmood Can you take a look at why the container's IP's were the same.

Also, you should not need to specify --link for the container to be found by others. However @lazarin is right that by default it will resolve the container name so if it has -xxx-xxxx added you'll need to use that name as well.

[2016-12-07 16:30] chengwang86 commented on #3439
@mlh78750 Here the goal is to get the wordpress application run using admiral template (similar to docker-compose I suppose), not running it manually. When we create the template file, we couldn't know what the suffix "-xxx-xxxx" would be. So we cannot simply use the name "mysql-xxx-xxxx" before the container is created.

[2016-12-07 16:36] mlh78750 commented on #3439
@chengwang86 Correct. `--link` is also deprecated. But if admiral is changing the name, then we need to make sure aliases are working correctly and admiral should set the alias to the name that the other containers will look for the service on.

[2016-12-07 16:48] cgtexmex commented on #3370
lgtm

[2016-12-07 17:00] mhagen-vmware commented on #3381
lgtm

[2016-12-07 17:05] cgtexmex commented on #3316
lgtm

[2016-12-07 17:08] andrewtchin commented on #3440
@waynean Thanks. For (2) the management network is for vsphere so vicadmin is expected to be accessible from the client address.
Are you able to successfully run docker commands against this VCH? If so, we may just have a bad error message - the i/o timeout seems to be because we don't handle the failed API check gracefully, but since you were able to run `vic-machine inspect`, things seem to be w

[2016-12-07 17:13] cgtexmex commented on #2514
In **External Interfaces, Ports and Services** debug is misspelled at the 3rd bullet point:

`22 SSH when enabled with vic-machine deubg`

[2016-12-07 17:27] andrewtchin commented on #3440
@waynean also if you're able to reproduce this, could you run the same `vic-machine create` command with `--debug 1` and upload the output?

[2016-12-07 17:53] mhagen-vmware commented on #2340
https://ci.vmware.run/vmware/vic/7369

hit this issue

[2016-12-07 18:00] fdawg4l commented on #2340
Just wanted to add some more context about this latest failure

[code]

[code]

[2016-12-07 18:06] hmahmood commented on #3439
@mlh78750 @bhravich the second of those logs, the ps output seems to not match what's in the logs. The wordpress container shows up as running in the logs, and that would explain why it shows up in the output of network inspect. This might just be a race; maybe a docker ps after the inspect command would have shown the container as running.

As for the duplicate IP in the docker info output, again

[2016-12-07 18:13] stuclem commented on #3085
Dup of https://github.com/vmware/vic/issues/3006

[2016-12-07 18:13] #3085 closed

[2016-12-07 18:18] karthik-narayan commented on #3403
LGTM

[2016-12-07 18:20] karthik-narayan commented on #3320
LGTM

[2016-12-07 18:22] karthik-narayan commented on #3364
LGTM

[2016-12-07 18:38] fdawg4l commented on #2340
More from above

[code]

[code]

[2016-12-07 18:39] fdawg4l commented on #2340
So it looks like the reconfigure succeeded to add the disk, but it never appeared.  `dmesg` is quite as is `lsblk` (although I suspect lsblk logging is broken in some way).

[2016-12-07 18:42] loopif commented on #3441
I've noticed that too. Here is what I found.
1. On my Red Hat, _ps -fp PID_ shows _/usr/bin/dockerd --insecure-registry 192.168.2.44:443_ because I start dockerd with _--insecure-registry 192.168.2.44:443_.
Subsequently, _docker info_ for my Red Hat shows

 I can login and pull without log in if it's public repository like default library/photon:1.0

2. I create VCH: _vic-machine-linux create --ta

[2016-12-07 20:49] hmahmood opened #3465 "Race between container remove and start when cleaning up port mappings"
There is a race between [cleanupPortBindings()](https://github.com/vmware/vic/blob/master/lib/apiservers/engine/backends/container.go#L501) and another go routine running a container remove operation. Specifically, the `GetContainer()` call may not find the container that has already been removed, but was still in the cache when the `containerByPort` map was checked.

Result: container start fails

[2016-12-07 20:49] hmahmood commented on #3465
@andrewtchin

[2016-12-07 20:59] #3305 closed

[2016-12-07 21:49] sflxn opened #3466 "Doc Review: Using VIC with Harbor"
https://github.com/vmware/vic/blob/master/doc/user_doc/vic_app_dev/using_vic_with_harbor.md

[2016-12-07 21:54] sflxn opened #3467 "Doc Review: Deploy VCH with Harbor"
https://github.com/vmware/vic/blob/master/doc/user_doc/vic_installation/deploy_vch_harbor.md

[2016-12-07 22:02] sflxn commented on #3467
[code]

This sentence will be very confusing for readers.

[code]

[2016-12-07 22:06] sflxn commented on #3467
[code]

update the last fragment to something like

[code]

[2016-12-07 22:09] sflxn commented on #3466
[code]

This sentence will be very confusing for readers.  It should be broken up, and there should be less repetition of the word certificate.

[code]

[2016-12-07 22:09] sflxn commented on #3466
[code]

update the last fragment to something like

[code]

[2016-12-07 22:12] sflxn commented on #3467
[code]

This will be confusing for those who aren't familiar with certificates.

[code]

[2016-12-07 22:14] sflxn commented on #3467
[code]

I think 'is' should be 'was'.

[2016-12-07 22:16] sflxn commented on #3467
[code]

Probably should be

[code]

[2016-12-07 22:17] sflxn commented on #3467
We should probably add a comment that we're using Ubuntu for this example as some of the commands are Ubuntu specific.

[2016-12-07 22:18] sflxn commented on #3467
[code]

Missing 'H'

[2016-12-07 22:19] sflxn commented on #3467
[code]

This doesn't seem to flow right.  Perhaps break it up into two sentences.

[code]

[2016-12-07 22:22] stuclem commented on #3006
I have harvested everything of note from this issue and added it to the networking overview. Review of this topic is being covered by https://github.com/vmware/vic/issues/3326. Closing this one.

[2016-12-07 22:22] #3006 closed

[2016-12-07 22:33] stuclem commented on #3320
Thanks @karthik-narayan. Leaving open for @hainingzhang.

[2016-12-07 22:34] stuclem commented on #3316
Thanks @cgtexmex

[2016-12-07 22:34] #3316 closed

[2016-12-07 22:38] stuclem commented on #3326
I have overhauled the networking overview at [Networks Used by vSphere Integrated Containers Engine](https://github.com/vmware/vic/blob/master/doc/user_doc/vic_installation/networks.md), including a big new graphic that has been approved by @mlh78750.

@hmahmood, @mlh78750 and @hickeng can you please take a look?

Thanks!
s

[2016-12-07 22:54] stuclem commented on #3403
Good enough for me. Closing.

[2016-12-07 22:54] #3403 closed

[2016-12-07 23:16] hickeng commented on #3326
While correct, this may be misleading as forwarded ports do _not_ use this network - they use the bridge network. "The VCH uses this network to provide the _attach_ function of the Docker API"

[2016-12-07 23:19] hickeng commented on #3326
Do not use the bridge network for any other VM workloads, or as a bridge for more than one VCH.

[2016-12-07 23:20] hickeng commented on #3326
@hmahmood do we support this? While it could easily be done using a container network I don't recall a PR that added --isolated support.

[2016-12-07 23:20] hmahmood commented on #3326
The part of the diagram where the container networks are depicted is a little confusing. It makes it look like the container networks hang off of the public network, when that may not be the case. I would say move the two lines from "Container Network 1" and "Container Network 2" to connect to the "cloud" and not to "Public Network"

[2016-12-07 23:21] hmahmood commented on #3326
@hickeng I don't believe we support `--isolated`.

[2016-12-07 23:22] hickeng commented on #3326
@stuclem We may (or may not) wish to note that additional bridge networks are created by IP address segregation and are not new port groups; we do intend to allow for portgroup creation in future releases. It may be that this is too much detail for this overview and confuses matters.

[2016-12-07 23:24] hickeng commented on #3326
@stuclem Note that container communication on these networks is not routed through the VCH as with port forwarding via the bridge network. The diagram shows this but it should be explicitly pointed out as well - this is how we suggest removing the endpointVM as a single-point-of-failure for network traffic.

[2016-12-07 23:25] hickeng commented on #3326
The bridge network can be considered an overlay network as it spans all of the hosts in a cluster.

[2016-12-07 23:39] jooskim commented on #3217
1, 2, 3 are done

[2016-12-07 23:44] hmahmood opened #3470 "New network settings are not applied when DHCP lease is renewed"
Saw this in the vic-init log while debugging another isssue:
[code]

[2016-12-08 00:17] npakrasi commented on #3243
Added to 0.8 release notes

[2016-12-08 00:18] npakrasi commented on #3436
Added to 0.8 release notes:
- <b>Install with static IP takes too long when DHCP is not present on port groups. [#3436](https://github.com/vmware/vic/issues/3436)</b><br>If you install with static IP, the appliance image first tries to get a DHCP address and then assigns the static IP by overwriting the DHCP address with the static IP. But if there is no DHCP server, the appliance will wait until

[2016-12-08 00:18] npakrasi commented on #3365
Added to 0.8 release notes:
- <b>Image store is in the wrong directory if the datastore already has a directory with the same name. [#3365](https://github.com/vmware/vic/issues/3365)</b><br>If the datastore already has a directory with the same name as the VCH, and the directory does not have a VM, vic-machine creates the VCH correctly names the folder a slightly different name. Example, folder "t

[2016-12-08 00:23] hmahmood commented on #3436
@npakrasi I don't think that explanation is accurate. We are still investigating, and at last check DHCP is not looking like a cause.

Could you just say that some static ip installs may take longer than expected, and a workaround is to increase the timeout?

[2016-12-08 01:17] sflxn commented on #3441
@loopif I've been able to verify your procedure.

1) You found a bug.  It looks like we're not handling :443 correctly.  You shouldn't ever have to specify :443.  We do need to check that.
2) You're installing the VCH incorrectly and you're using docker's insecure-registry incorrectly

Insecure-registry should only be used if you want to use the registry WITHOUT TLS.  You mentioned in the original

[2016-12-08 01:25] sflxn commented on #3441
One last comment, you say that you had no problems pulling from Harbor using standard docker daemon.  Unless you copied the CA cert from Harbor, you should have had problems.  Try docker logout of the harbor server and attempt to log back in using standard docker.  You should get an error.  The link I provided above walks you through this.

[2016-12-08 01:49] sflxn commented on #3441
There is one more thing you need to know about container images and registries.  If the library is set to public, you do not need to login.  I suspect this is why you didn't have any problems when pulling with standard docker.  If the library is set to private, you must login.  In this scenario, standard docker should have given you an error.

If you log into Harbor, there are options to create "p

[2016-12-08 03:57] loopif commented on #3441
I believe that I set up correctly according to documentation. A few more words that might help troubleshoot.

You said

...
Unless you copied the CA cert from Harbor, you should have had problems.

_--insecure-registry_ should NOT only mean NO TLS at all.

According to [official Docker doc.](https://docs.docker.com/engine/reference/commandline/dockerd/#/insecure-registries),

In my case, Harbor is

[2016-12-08 04:58] loopif commented on #3441
But I can confirm that it works OK with the same setup with only replaced _--insecure-registry_ to _--registry-ca=ca.crt_ from Harbor

[2016-12-08 08:08] stuclem commented on #3365
Moving this back to To Do because this is the engineering issue. Removing the kind/note tag because this is in the RNs now.

[2016-12-08 08:08] stuclem commented on #3436
Moving this back to To Do because this is the engineering issue, not a doc issue.

[2016-12-08 08:09] stuclem commented on #3243
Moving this back to To Do because this is the engineering issue, not the doc issue.

[2016-12-08 11:45] stuclem commented on #2763
For VIC 1.0 GA, we have decided to go with separate VIC Engine and Harbor docs. I reverted the version change in https://github.com/stuclem/vic/commit/171951538914c1f88d123362c1221672e235eaef.

Putting this into backlog pending the merge of the VIC and Harbor docs at a later date.

[2016-12-08 11:48] stuclem commented on #3326
All comments integrated. Changes are in https://github.com/stuclem/vic/commit/dc1e74fa704d4ece532fe78ed664a61d47d7b634.

Marking as done pending your LGTMs. Thanks @hmahmood and @hickeng !

[2016-12-08 12:06] stuclem commented on #3353
Good enough. Closing!

[2016-12-08 12:06] #3353 closed

[2016-12-08 12:07] stuclem commented on #3370
Thanks!

[2016-12-08 12:07] #3370 closed

[2016-12-08 12:09] stuclem commented on #2514
Fixed. Taking this as an LGTM otherwise. Thanks @cgtexmex !

[2016-12-08 12:09] #2514 closed

[2016-12-08 15:14] hmahmood commented on #3326
lgtm

[2016-12-08 15:15] mlh78750 commented on #3326
@hmahmood : under Public network: "Container developers can deploy containers directly on the public interface." That is not true right? They ports that they expose with -p when connected to the default bridge network will be available on the public interface of the endpoint VM via NAT, but I don't think we let the containers directly attach to the public network unless it was mapped in via a cont

[2016-12-08 15:15] mlh78750 commented on #3326
@stuclem: Sorry for misleading you on the isolated networks. I thought we supported them already.

[2016-12-08 15:17] hmahmood commented on #3326
@mlh78750 that is correct; unless they add the public network as a "container network", containers will not be able to directly connect to it.

[2016-12-08 15:18] mlh78750 commented on #3326
@stuclem : please see https://github.com/vmware/vic/issues/3326#issuecomment-265764422 for changing the wording for containers and public network

[2016-12-08 15:24] waynean commented on #3440
@andrewtchin

Here is what I found. Really appreciate for your help.

**1. Try to run docker against VCH (failed)**
docker --tls run -it --name test nginx
docker: Cannot connect to the Docker daemon. Is the docker daemon running on this host?.
See 'docker run --help'.

**2. On the VCH, there is a docker process but I cannot found the related service daemon**
ps -aux | grep docker
root       238  0

[2016-12-08 15:26] mlh78750 commented on #3326
@stuclem: For the table: I'm not sure Docker has an equiv for our container networks. All of the network access for containers goes through the docker host in docker.

Text for the "Container Network" section:

The container network allow the vSphere Admin the ability to make vSphere networks directly available to the containers. This is done during install by providing a mapping of the vSphere ne

[2016-12-08 15:27] mlh78750 commented on #3326
@stuclem There are many subtle issues with the table at the end. I propose we scrap it. If you'd like to keep it, let me know and I'll type up something for each of the rows, but it's not going to be short and pithy. :)

[2016-12-08 15:47] mlh78750 commented on #3440
@waynean just for your info: we don't run docker-demon in the VCH so you shouldn't expect to see the same command line arguments you might when debugging a docker setup.

Details: https://github.com/vmware/vic/blob/master/doc/design/components.md

[2016-12-08 17:36] stuclem commented on #3326
Thanks @hmahmood and @mlh78750. I had already ditched the para about isolated networks and have now dropped them from the graphic too. Changes are in https://github.com/stuclem/vic/commit/78a389e9d843f06db43baa7eb45a03043cb68729 and https://github.com/stuclem/vic/commit/48c664f27213cc411347342500f1f0a430d8e741.

[2016-12-08 17:37] stuclem commented on #3326
Regarding the docker/VIC comparison table, this is something that I threw together mostly for my own benefit. I think that it's definitely worthwhile including it when we can clean it up. Post-GA...

[2016-12-08 19:14] mlh78750 commented on #3326
LGTM

[2016-12-08 22:12] chengwang86 commented on #2568
@carlsone @hickeng I revisited this problem.

First, "docker stop" being slower on VC than on ESX is due to the host sync delay (somewhat random) between the vCenter and the ESXi host. And we do not have a way to deal with it without sacrificing power state consistency of the containerVM.

Second, when I check out the logs here  https://github.com/vmware/vic/issues/2568#issuecomment-251584277

The

[2016-12-08 23:20] mobla opened #3474 "Container workflow - pull image, create, start -ai container does not work where as pull, run -it works"
VIC build# 7315
Harbor: 0.5.0 GA
Steps:
1. On local docker Pull am image (busybox)
2. Tag and push it to Harbor registry
3. Create VCH on ESXi 6.5 (physical) - does not matter
4. Pull the busybox image from Harbor registry
5. Create a container using the image name or image ID
```root@photon-lJUA39j42 [ ~/vic/vic ]# docker -H wdc-vcqa-dhcp61-77.eng.vmware.com:2376 --tlsverify --tlscacert="VCH1ESX/

[2016-12-08 23:38] hmahmood commented on #3474
@mobla you are missing `-t` option to create. If you include that, `start -ai` should attach.

[2016-12-09 00:21] sflxn commented on #3474
I commented on Slack that I think 'sh' is shutting down if there is no terminal.  The tether detects that and starts to shutdown the container infrastructure around it.  I didn't see anything out of the ordinary in the logs.

[2016-12-09 00:29] sflxn commented on #3441
@loopif Yes, I agree with what you posted from Docker.  We will actually attempt https before http for insecure-registry.  Your attempt should have given you a different error message if it cannot pull down the image.  We have a missing validation for ':443'.  That's what's causing the http 400 status.  If you had specified --insecure-registry with just the IP and no ':443', it would have given yo

[2016-12-09 02:50] waynean commented on #3440
@mlh78750 , thanks for your information. :-)

[2016-12-09 11:40] reasonerjt opened #3475 "Upon docker run: "No volume store named (default) exists.""
[code]

Please let me know if this is due to misconfiguration, I don't see how volume store is required for docker run in the installation guide, maybe I missed some bit?

[2016-12-09 15:24] mlh78750 commented on #3475
@reasonerjt: Does the nginx image you are running require a volume? By default a volume store is not required during install with vic-machine. But if you want to use containers that require volumes, then you will need to specify a volume store with `vic-machine create` so that one is available for the containers to use.

[2016-12-09 16:40] bkcsfi opened #3476 "What VMware license is required to use this? (slack channel not available)"
What VMWare  license is needed to use VIC?  Since it uses DRS, I suspect "VMWare Essentials Plus" is not going to work as DRS is not supported under this license.

Can someone confirm?

Thanks

I would ask this question on slack but I cannot login .. I do not have an @vmware email address.

[2016-12-09 16:44] mdubya66 commented on #3476
@bkcsfi Enterprise Plus or greater is required for vCenter to work and to get support. http://www.vmware.com/products/vsphere.html highlights this. It's also mentioned in the FAQ on https://www.vmware.com/products/vsphere/integrated-containers.html

Having a VMware email is not required for code.vmware.com but figuring that out is not intuitive. Go here to request a sign in. https://code.vmware.co

[2016-12-09 16:44] #3476 closed

[2016-12-09 17:30] bkcsfi commented on #3476
Thanks for the info, sorry I didn't  arrive at VIC via vmware.com website but rather came pretty much straight to github from carmac's blog.

I think docker-volume-vsphere  will meet my needs now that it has persistent storage option.

[2016-12-09 18:15] emlin commented on #3440
@waynean seems like the docker engine service is running in VCH, would you mind to get the logs files and upload to here?
The files are located in VCH appliance VM: /var/log/vic directory. Which can help us to triage the issue.
thanks

[2016-12-09 18:16] emlin commented on #3440
never mind, found the log in this thread. sorry about that

[2016-12-09 18:31] emlin commented on #3440
@andrewtchin looks like vic-machine failed here: https://github.com/vmware/vic/blob/master/lib/install/management/appliance.go#L879
It's not CDE error, so might be another connection error we didn't catch.

[2016-12-09 18:35] emlin commented on #3196
Will add one attribute into our VirtualMachine object, to represent vm fixing status. Then portlayer event handler could leave container in cache in such case.

[2016-12-09 19:21] andrewtchin commented on #3440
@waynean Thanks - for (1) in your reply could you take the last line from `vic-machine inspect` to try to run? For example: `docker -H 172.16.100.80:2375 run -it busybox` (taken from inspect output in your first post)
We can't really tell what is causing the error right now as it's a generic error message, but we will work on improving the Docker API check where this failed.
This seems like the ma

[2016-12-09 20:05] sflxn commented on #3441
I just got confirmation from the Harbor team that it should only respond to HTTP or HTTPS but not both.  Just adding insecure-registry to standard docker without updating it with the CA cert should not have worked.  You should get an error:

[code]

[2016-12-09 20:17] andrewtchin opened #3479 "Improve VCH vSphere API target check"
Add a service on the VCH to check VCH-vSphere connection
Set the status check in vic-init
Discuss more with Emma and George

[2016-12-09 21:04] rajanashok opened #3480 "Create a log of all the nightly nimbus timeouts"
Record all the timeouts we see during our nightly run so it can come handy when we see it again then it's something we can ask the nimbus team to look into.

[2016-12-09 22:58] sflxn commented on #3415
Added LinkLocalAddresses() to endpoint.go.  Also added ResolveService(), EnableService(), and DisableService() to sandbox.go.

[2016-12-09 22:58] sflxn commented on #3415
DetachKeys for attach is now a string.

[2016-12-11 14:53] waynean commented on #3440
@andrewtchin

Here is the result, I just got a simple cannot connect error...

docker: Cannot connect to the Docker daemon. Is the docker daemon running on this host?.
See 'docker run --help'.

[2016-12-12 04:03] waynean commented on #3440
@andrewtchin

I just run the test again, it works on the public network IP (172.16.100.80), but not the static management IP, I think this issue can be narrow down to the static management network issue...

[2016-12-12 05:38] LIV2 opened #3482 "Volumes clobber underlying files"
When volumes are mounted in the container they clobber the underlying files instead of copying them like docker does:
https://docs.docker.com/engine/tutorials/dockervolumes/

Steps to reproduce:
Build & run container from the following dockerfile, `/etc/example/nowyouseeme` should exist.
Works correctly on Docker 1.10.3, does not work on VIC.
[code]

[2016-12-12 06:09] waynean commented on #3440
Just done some cross test, looks like VCH docker service is only on public network
<img width="636" alt="screen shot 2016-12-12 at 2 06 55 pm" src="https://cloud.githubusercontent.com/assets/15035855/21089609/89d2d70e-c074-11e6-9ce3-4221aa8f687a.png">

[2016-12-12 07:37] reasonerjt commented on #3475
@mlh78750 Yes.
[code]
And I did some search I think I'm facing the same issue as #2899
I'll subscribe to #2899 and close this issue.

[2016-12-12 07:37] #3475 closed

[2016-12-12 12:07] stuclem opened #3483 "Fix formatting error in App Dev doc"
See Publish a Container Port in https://vmware.github.io/vic-product/assets/files/html/0.8/vic_app_dev/network_use_cases.html for small formatting error.

[2016-12-12 12:33] reasonerjt opened #3484 "docker volume create: No Volume store named (xxx) exists"
[code]

On another instance with the same build it succeeded:
[code]

[2016-12-12 14:20] reasonerjt opened #3485 "docker login gives confusing error message when the credentials are incorrect."
[code]
When I login with wrong username/password:
[code]
relevant log in docker personality:

[code]

The issue is that fetcher.go maybe should not try to expect something in header `www-authenticate` when fetching token.

Updating line 241 in fetcher.go to also check if the `username` and `password` is empty in `u.options` may be a quickfix, but that doesn't cover the case when user input nothing

[2016-12-12 15:09] stuclem opened #3486 "Documentation: clarify the difference between --no-tlsverify and --no-tls"
Following a question from @mreferre:

We do currently state that `--no-tlsverify` only creates/uploads server certs, and that clients are unverified. However, the writeup of `--no-tls` states pretty much the same about the client side and doesn't say much about the absence of a server cert. We need to make it 100% clear that with `--no-tls` there is no server cert. In other words, with `--no-tlsve

[2016-12-12 16:35] emlin commented on #3440
@waynean this is by design. The management network is used to talk with vSphere, and user should connect docker endpoint through client network, which is the same one with public network in your case.

[2016-12-12 16:42] mlh78750 commented on #3475
@reasonerjt have you tried to install the VCH with a volume store specified? If you do,  I suspect things will work for you. See https://github.com/vmware/vic/blob/42a0624ce67d2c03b1d42ea74cd0cf8a13f78ad9/doc/user_doc/vic_installation/vch_installer_examples.md#specify-volume-stores

[2016-12-12 16:45] andrewtchin commented on #3440
@waynean Emma is correct. You must use the line at the bottom of `vic-machine inspect` that tells the correct address to point your docker client at.
For example when `vic-machine inspect` shows:
[code]

You can run docker commands like:
[code]

[2016-12-12 16:48] mdubya66 commented on #3482
@fdawg4l please triage

[2016-12-12 17:36] reasonerjt commented on #3475
@mlh78750
Yes, I did, and it worked.
However this may confuse the users as they may or may not know if there's a "implicit" volume in the docker image.
esp. when there's parents of the docker image (FROM xxxxx in Dockerfile).
He will have to user docker inspect to figure out himself.
And he may not know what to do by reading the error message...

[2016-12-12 19:01] fdawg4l commented on #3482
I remember we made a judgement call to get mounting of volumes to work and punted on copying the underlying data that may exist in the mount point before mounting.  The original issue#1819 covered both aspects-  mounting, copying, remounting, but the fix only covered the first.  Lets use this to track getting the copy working.

@LIV2 We'll get a fix going ASAP.  In the meantime, your data isn't go

[2016-12-12 20:40] anchal-agrawal commented on #3484
@reasonerjt I can't repro this with build 7315.

[code]

My `vic-machine create` command for this VCH included `--volume-store=datastore1/$somefolder:Abc_Def`.

Can we get the `vic-machine create` command and the logs for your deployment?

[2016-12-12 20:42] mlh78750 commented on #3475
totally agree. And we need to do a better job which, as you pointed out, is being tracked in #2899. I just wanted to make sure you should have a path forward.

[2016-12-12 21:28] mdubya66 commented on #3485
@sflxn can you please triage?

[2016-12-12 22:33] fdawg4l commented on #3482
A few things to keep in mind.

In our model, volumes are actual devices, not just directories.  So the implementation doesn't exactly map to our model as-is.

Some things we need to consider.

- [ ] How do we intend to handle a reboot.  Should the volume's data be modified from the underlying image's mount point every time you reboot, or only the first time we attach the volume to the container vm

[2016-12-12 22:57] hickeng commented on #3482
@fdawg4l we simply didn't do it because of time. There's quite an array of possible semantics that can be applied and no really good answer. Initially we'll just duplicate docker's behaviour as there is at least a subset who assume those semantics.

The primary question for longer term is what use case was this behaviour intended for - I _think_ it was intended to address the scenario where an app

[2016-12-12 23:08] caglar10ur opened #3489 "[port-layer] panic: sync: negative WaitGroup counter"
@hickeng reported following panic while testing some stuff

[code]

[2016-12-12 23:17] fdawg4l commented on #3482
Sounds good @hickeng.  IIRC docker's semantics means ovewriting files every time the volume is attached to the container.   That shouldn't be too difficult.

[2016-12-12 23:18] caglar10ur commented on #3489
HEAD is at commit 1a3035694a0212ed2bfbd9bf4a37dbbaef1df701

[2016-12-13 01:07] corrieb opened #3490 "Restarting VC changes moIDs - needs code review and testing"
We learned recently that we cannot depend on moIDs of vSphere objects being consistent over time. If VC is restarted, the moIDs can change.

We're likely caching moIDs in Port Layer hashtables and may also be caching them in guestInfo. We'll likely need a trigger for cache rehydration and also need to review any persistence of moIDs anywhere.

**hickeng update**
How is vCD managing this issue for

[2016-12-13 01:59] hickeng commented on #1689
Dumping the RBAC config from a working VCH deployed on vCenter 6.5:

[code]

Additionally, `Read-Only, with Propagate to Children` is required on the parent of any Distributed vSwitch's that are used by the VCH. To avoid adding Read-Only to the datacenter, you may create a network inventory folder and place the DVS in that.
[code]

[2016-12-13 06:41] waynean commented on #3440
@andrewtchin and @emlin
Thanks for your information, I can run docker commands correctly via the IP provided by `vic-machine inspect`, I believe it's all good now, and yes, the error handling might need to be improved.

Really appreciate for your help :-)

[2016-12-13 17:19] cgtexmex commented on #3434
I'd venture to say this is a timing issue.  The time it will take for a container to "automatically" power off is dependent on the load on the esxi host -- this variable time will increase on a loaded environment, which happens more frequently in a nested environment like our CI environment.

[2016-12-13 17:55] chengwang86 commented on #3434
@cgtexmex Before we do "ls", the ci checks the vm power state by using govc on the esxi host to make sure the container VM has been powered off. However, the portlayer may not know this power state change when we do "ls"; so I think what you mentioned might make sense.

I also find the containerWait() function in both portlayer and backend. It seems like containerwait can block other processes unt

[2016-12-13 18:51] sflxn commented on #3415
Might have hit a roadblock.  Docker assume swarm integration.  They don't check if swarm's clustermanager is nil or use interfaces.  This might be a problem.  This might be why Red Hat forked Docker.  I'll see if we can make it work, but even if I can, I'm afraid they might update the code again for Docker 1.14 that will be problematic again.

Alternatively, maybe we should do a PR for docker to m

[2016-12-13 19:01] cgtexmex commented on #3434
containerWait is used to monitor the state of the containerVM via the docker client -- it would / does block the client calls until it's been notified that the containerVM has been powered off.  Even in the case of containerWait we could see a state disparity between the vic components (docker backend / portlayer) and the source of truth vSphere.

In this specific example the test is dependent on

[2016-12-13 19:10] corrieb opened #3492 "Open session with container in DRS cluster blocks host maintenance mode"
So I know we're aware of this limitation in the team, but I wonder whether we've doing enough to document or deal with the potential fallout from this limitation.

It's one thing to say that an open session inhibits intentional vMotion. In that scenario, it fails immediately, you get a nice message from vSphere saying you have an open serial port and you know that it's *this* VM you can't vMotion

[2016-12-13 19:16] corrieb commented on #3492
We can discuss how we want to mitigate this, but I think at the very least, we need to clearly document this limitation. It may be a deal breaker for some vSphere Admins.

We may want to say that vMotion support is experimental for 0.8 for this reason and #3243. I think this is acceptable for a 0.8 version. We don't want GSS getting hit with this issue.

I think this increases the priority of movi

[2016-12-13 19:17] corrieb commented on #3492
@stuclem note the doc impact here

[2016-12-13 19:30] #929 closed

[2016-12-13 19:44] corrieb opened #3493 "Need a tool to determine correctness of vSphere config of containerVMs"
One issue that came up in the architecture review was that we currently don't explicitly prevent admins from changing the configuration of containerVMs or the appliance using the vSphere client.

We have a pragmatic approach where we tolerate certain operations (such as power events or deletion) but can't tolerate others (such as network reconfiguration).

Given this, we should have the capability

[2016-12-13 20:11] mlh78750 commented on #3415
cc @corrieb see above.

[2016-12-13 21:03] corrieb opened #3495 "vicadmin leaks sessions if cookies are disabled in browser"
If you attempt to log in to vicadmin with cookies disabled, it fails to redirect, but at the back-end it appears to open 10+ vSphere sessions.

`
vagrant@ubuntu-1604-vmware:~$ govc session.ls | grep vic-admin | wc -l
56
`
reload the page
`
vagrant@ubuntu-1604-vmware:~$ govc session.ls | grep vic-admin | wc -l
67
`

[2016-12-13 21:10] corrieb opened #3496 "vic-machine delete should clean up open vSphere sessions"
It seems like sessions are not being cleaned up when a VCH is deleted. There are a number of reasons why this is important. Firstly in the case of bugs or issues like #3495, it would be a mitigation path. Secondly, if VCHs are being created temporarily to run some things and then removed, we'll end up leaking resources. vSphere has a low finite number of sessions it can have open.

[2016-12-13 21:18] gigawhitlocks commented on #3495
@corrieb fwiw I was able to replicate this issue w/ a successfully authenticated session (only through the browser) & cookies disabled on the client, but a failed authentication generates no sessions (as I originally thought).

Seems to be related to a redirect loop that occurs when a user POSTs valid login data but cannot store the resulting cookie (and then the browser tries again.. and again..

[2016-12-13 21:43] mchenetz opened #3498 "Portgroup is not found even though it is previously created as DVS Portgroup"
**VIC version:**
v0.8.0-7315-c8ac999

x.y.z / master / commit ID

**Deployment details:**
not deployed
What was the vic-machine create command used to deploy the VCH?
vic-machine-windows.exe create --image-store "hx-dstore-02" --bridge-network "vic-bridge" --target "https://mchenetz:Password@10.28.45.30/dc-lab" --compute-resource "cluster-lab-01/Resources/VCH" --no-tlsverify --thumbprint "28:BF:8E

[2016-12-13 21:49] mdubya66 commented on #3498
First reported in #vic-engine slack channel. This was on NSX. @hmahmood for triage

[2016-12-13 22:39] corrieb commented on #3495
Thanks @gigawhitlocks. Yea the fact that it only occurs on successful auth makes this far less significant than it would otherwise be.

[2016-12-14 13:56] stuclem opened #3499 "Documentation: create troubleshooting topic for "No volume store named (default) exists""
Per https://github.com/vmware/vic/issues/3475.

[2016-12-14 13:57] stuclem commented on #3475
Created doc issue https://github.com/vmware/vic/issues/3499 to add this as a troubleshooting topic, as I guess that a lot of people are going to hit it.

[2016-12-14 14:00] stuclem commented on #3404
@hickeng added info about RBAC in https://github.com/vmware/vic/issues/1689#issuecomment-266613074.

[2016-12-14 14:06] stuclem commented on #3326
Thanks @mlh78750

[2016-12-14 14:06] #3326 closed

[2016-12-14 14:07] stuclem commented on #912
Page is live at  http://www.vmware.com/support/pubs/vsphere-integrated-containers-pubs.html. Closing.

[2016-12-14 14:07] #912 closed

[2016-12-14 14:07] stuclem commented on #911
Page is live at http://pubs.vmware.com/Release_Notes/en/vsphere-integrated-containers/10/vsphere-integrated-containers-10-release-notes.html. Closing.

[2016-12-14 14:07] #911 closed

[2016-12-14 14:09] stuclem commented on #2676
This review will be covered in the context of https://github.com/vmware/vic/issues/3448. Closing this one.

[2016-12-14 14:09] #2676 closed

[2016-12-14 14:10] stuclem commented on #3466
Reviews done. Closing.

[2016-12-14 14:10] #3466 closed

[2016-12-14 14:10] stuclem commented on #3467
Reviews done. Closing.

[2016-12-14 14:10] #3467 closed

[2016-12-14 14:11] stuclem commented on #3320
Think that the reviews we have are good enough. Closing.

[2016-12-14 14:11] #3320 closed

[2016-12-14 14:12] stuclem commented on #831
Want to make another pass over this, and probably expand.

[2016-12-14 14:13] stuclem commented on #1282
Want to make another pass over this and probably expand. Needs to tie in with the overall strategy for Harbor doc.

[2016-12-14 14:13] stuclem commented on #3298
This section is still unreviewed, so leaving open.

[2016-12-14 14:15] stuclem commented on #3448
Unreviewed, so leaving open. @corrieb, @karthik-narayan and @hickeng could you please take a look?

[2016-12-14 14:16] stuclem commented on #3321
Docathon is over. A few straggling issues remain, but I'm tracking them by milestone rather than in this Epic. Closing.

[2016-12-14 14:16] #3321 closed

[2016-12-14 14:24] stuclem commented on #2763
Actually, given that nothing stops customers from downloading Harbor, VIC Engine, and eventually Admiral separately, and then using only one of the elements, we probably do need separate docs for each product. The cross-referencing might become a mess, though. But in the short term we need to see what we end up with in terms of Harbor docs before we make the decision about unifying. So, for the ti

[2016-12-14 14:31] stuclem commented on #3492
@corrieb it looks to me like this is more than just a release note issue. Probably needs to be called out in https://vmware.github.io/vic-product/assets/files/html/0.8/vic_admin/interop.html too.

Flagging this one as kind/note for the release notes, and will create a separate issue for the user doc.

[2016-12-14 14:32] stuclem commented on #3492
Unless of course this is likely to get fixed in 0.9, in which case maybe a release note is enough.

[2016-12-14 14:34] stuclem opened #3500 "Document that open session with container in DRS cluster blocks host maintenance mode"
Per https://github.com/vmware/vic/issues/3492, which might be satisfactorily covered in release notes if the fix is going to come soon, otherwise it needs to be documented in the core docs as expected behaviour.

[2016-12-14 14:37] stuclem opened #3501 "Document that gateway option is not required for client and management networks when using static IPs"
New behaviour in 0.9 per https://github.com/vmware/vic/issues/3453.

[2016-12-14 14:38] stuclem commented on #3453
Created https://github.com/vmware/vic/issues/3501 to track the doc update, so removing kind/user-doc from this one. Thanks for the heads-up, @hmahmood.

[2016-12-14 14:56] stuclem commented on #879
https://github.com/vmware/vic/issues/432 is still in the icebox, so leaving this one in icebox too. @hickeng says this might be trivial once https://github.com/vmware/vic/issues/431 (compose up) is completed in 0.9 so this might come back soon thereafter.

[2016-12-14 14:58] stuclem commented on #819
https://github.com/vmware/vic/issues/769 is in 0.9, so moving this one out of icebox.

[2016-12-14 14:59] stuclem commented on #821
#744 and #406 are still in the Icebox with no milestone, so leaving this one in icebox too.

[2016-12-14 15:00] stuclem commented on #830
#696 is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 15:01] stuclem commented on #839
https://github.com/vmware/vic/issues/81 is in 0.9.

[2016-12-14 15:04] stuclem opened #3502 "Documentation: VIC Engine 1.1 Installation"
New Epic for the VIC Engine Install doc for the next major VIC Product release.

[2016-12-14 15:07] stuclem opened #3503 "Documentation: VIC Engine 1.1 for vSphere Administrators"
New Epic for the VIC Engine Admin doc for the next major VIC Product release.

[2016-12-14 15:09] stuclem opened #3504 "Documentation: Developing Container Applications with VIC Engine 1.1"
New Epic for the VIC Engine App Dev doc for the next major VIC Product release.

[2016-12-14 15:10] stuclem opened #3505 "Documentation: VIC Engine 1.1 Security"
New Epic for the VIC Engine Security doc for the next major VIC Product release.

[2016-12-14 15:23] stuclem commented on #3420
https://github.com/vmware/vic/issues/3388 is in 1.0.

[2016-12-14 15:25] stuclem commented on #3226
https://github.com/vmware/vic/issues/3216 is in 0.9 and is done.

[2016-12-14 15:26] stuclem commented on #3278
https://github.com/vmware/vic/issues/3268 is in 0.9.

[2016-12-14 15:27] stuclem commented on #2890
https://github.com/vmware/vic/issues/2875 is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 15:29] stuclem commented on #2917
https://github.com/vmware/vic/issues/2915 is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 15:29] stuclem commented on #2412
https://github.com/vmware/vic/issues/2409 is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 15:30] stuclem commented on #2191
https://github.com/vmware/vic/issues/2006 is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 15:31] stuclem commented on #1995
Not sure that this is still needed.

[2016-12-14 15:31] #1995 closed

[2016-12-14 15:32] stuclem commented on #1943
https://github.com/vmware/vic/issues/1928 is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 15:34] stuclem commented on #1844
https://github.com/vmware/vic/issues/1829  is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 15:35] stuclem commented on #1472
https://github.com/vmware/vic/issues/1160 is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 15:36] stuclem commented on #885
https://github.com/vmware/vic/issues/112 is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 15:37] stuclem commented on #952
https://github.com/vmware/vic/issues/937 was done in 0.8. Moving to backlog to see if we can do something for 1.0.

[2016-12-14 15:39] stuclem commented on #870
I don't think that this is required any more.

[2016-12-14 15:39] #870 closed

[2016-12-14 15:42] stuclem commented on #872
The issue of changing DS names might be covered on the dev side by https://github.com/vmware/vic/issues/1709. @fdawg4l is this the correct issue?

Regardless, https://github.com/vmware/vic/issues/1709 is  is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 15:42] stuclem commented on #849
https://github.com/vmware/vic/issues/773 is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 15:50] anchal-agrawal commented on #3484
Closing as no-repro. @reasonerjt, please reopen if you see this issue again.

[2016-12-14 15:50] #3484 closed

[2016-12-14 15:51] stuclem commented on #851
https://github.com/vmware/vic/issues/739  is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 15:53] stuclem commented on #813
All issues for 0.8 are either closed, iceboxed, or moved to the new Epic for 1.0. Closing.

[2016-12-14 15:53] #813 closed

[2016-12-14 15:53] chengwang86 commented on #831
@stuclem Do you want us to review this https://github.com/stuclem/vic/blob/378f9ff4a518c04aab13377a91f422a3fb7ba264/doc/user_doc/vic_app_dev/build_app_with_vic.md or a different file?

[2016-12-14 15:54] stuclem commented on #2466
All issues for 0.8 are either closed, iceboxed, or moved to the new Epic for 1.0. Closing.

[2016-12-14 15:54] #2466 closed

[2016-12-14 15:59] stuclem commented on #3310
This was covered by doc review. Closing.

[2016-12-14 15:59] #3310 closed

[2016-12-14 16:01] stuclem commented on #1902
https://github.com/vmware/vic/issues/1879 is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 16:02] stuclem commented on #1806
https://github.com/vmware/vic/issues/1366  is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 16:05] rajanashok opened #3506 "Create nightly run to support ESX and VC 6.0"
Add a nightly run to support the 6.0 version of the ESX and VC.

[2016-12-14 16:13] stuclem commented on #1474
https://github.com/vmware/vic/issues/1085  is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 16:13] stuclem commented on #1477
https://github.com/vmware/vic/issues/1476 is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 16:14] stuclem commented on #1341
https://github.com/vmware/vic/issues/1339 is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 16:14] stuclem commented on #868
https://github.com/vmware/vic/issues/692  is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 16:15] stuclem commented on #878
https://github.com/vmware/vic/issues/434 is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 16:16] stuclem commented on #853
https://github.com/vmware/vic/issues/697 is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 16:17] stuclem commented on #833
https://github.com/vmware/vic/issues/635 is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 16:18] stuclem commented on #1808
https://github.com/vmware/vic/issues/1797 is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 16:19] stuclem commented on #814
All issues for 0.8 are either closed, iceboxed, or moved to the new Epic for 1.0. Closing.

[2016-12-14 16:19] #814 closed

[2016-12-14 16:21] stuclem commented on #3309
https://github.com/vmware/vic/issues/2943  is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 16:22] stuclem commented on #3308
https://github.com/vmware/vic/issues/2368 is in 0.9.

[2016-12-14 16:22] stuclem commented on #3123
https://github.com/vmware/vic/issues/3048 is in 0.10

[2016-12-14 16:24] stuclem commented on #3122
https://github.com/vmware/vic/issues/431 is in 0.9

[2016-12-14 16:25] stuclem commented on #2541
https://github.com/vmware/vic/issues/2539 is in 0.10

[2016-12-14 16:26] stuclem commented on #2306
https://github.com/vmware/vic/issues/2303 is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 16:27] stuclem commented on #1828
https://github.com/vmware/vic/issues/381 is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 16:28] stuclem commented on #1699
https://github.com/vmware/vic/issues/501 is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 16:28] stuclem commented on #1696
https://github.com/vmware/vic/issues/1676 is in 0.9

[2016-12-14 16:38] stuclem commented on #875
https://github.com/vmware/vic/issues/475 is still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 16:39] stuclem commented on #850
#745 and #743 are still in the Icebox with no milestone, so leaving this doc issue in icebox too.

[2016-12-14 16:40] stuclem commented on #831
@chengwang86 yes please!

[2016-12-14 16:41] stuclem commented on #815
All issues for 0.8 are either closed, iceboxed, or moved to the new Epic for 1.0. Closing.

[2016-12-14 16:41] #815 closed

[2016-12-14 16:43] stuclem commented on #899
All Epics/issues for 0.8 are either closed or moved to the new Epic for 1.0. Closing.

[2016-12-14 16:43] #899 closed

[2016-12-14 17:10] vburenin opened #3507 "Update golint and fix all new complains."

[2016-12-14 17:28] stuclem commented on #3404
Reviewed by @cgtexmex in https://github.com/vmware/vic/issues/2514.

[2016-12-14 17:28] #3404 closed

[2016-12-14 17:36] chengwang86 opened #3510 "Docker run [cmd] [arg] cannot handle special characters in [arg]"
**VIC version:**
0.8

**Deployment details:**

What was the vic-machine create command used to deploy the VCH?

bin/vic-machine-linux create --name vch-test --target=root:pwd@192.168.60.162 --no-tlsverify --no-tls --appliance-memory 4096 --thumbprint=…

**Steps to reproduce:**

I got this issue when I tried to deploy a memcached container and a mcrouter container. There is a special character "|"

[2016-12-14 17:41] #3507 closed

[2016-12-14 17:44] chengwang86 commented on #3434
@cgtexmex Thanks to your explanation. Now I think I understand better what might have happened that resulted in this issue.

But now I'm having a hard time understanding whether it is (i) a potential race condition that should be avoided so that customers do not see inconsistent data about the power state of the container (output of docker ps vs. the actual power state of the container on esx), or

[2016-12-14 18:00] hmahmood commented on #3498
vic-machine will assume `VM Network` for `--public-network` option if it is not specified. This is what is happening above, and I assume there is no port group named `VM Network` in the target environment. The output above does include suggestions for the port groups to use (vic-machine will discover port groups in the cluster). @mchenetz if you run without the `--debug` option you will see these

[2016-12-14 18:06] chengwang86 commented on #831
@stuclem LGTM 👍

[2016-12-14 18:26] cgtexmex commented on #3434
I view the state model of vic as eventually consistent and as such this is an expected scenario.  That doesn't mean it might not be confusing to folks, so we should probably have some documentation on the scenario in a general overview or faq.

[2016-12-14 18:40] chengwang86 commented on #3434
I like the term "eventual consistency", although some customers might prefer a stronger consistency model. I will need to discuss with @mhagen-vmware about how/whether to improve the test to avoid such test failure.

[2016-12-14 18:58] vburenin opened #3511 "Clean Go object files during "make clean""

[2016-12-14 19:00] hmahmood commented on #3498
@mchenetz we do filter out uplink port groups; is `vic-bridge` an uplink port group?

[2016-12-14 20:02] #3511 closed

[2016-12-14 21:01] chengwang86 commented on #3510
For the container "mcrouter", if I do "docker inspect mcrouter" on regular docker, it shows:
[code]

However, on vic, it shows:
[code]

So the "Args" is not resolved correctly on vic due to the special character "|".

[2016-12-14 21:28] sflxn commented on #3439
Not so sure it's an Admiral issue.  I just tried using Admiral to provision to a regular docker host.  It works fine.  When I inspect the resulting wordpress container, it had the following,

[code]

I was able to load the wordpress page in a browser.  Regular docker is mapping the links correctly.  I'll have to dig in some more to find out where the problem is.

BTW, in your yml file, you must sp

[2016-12-14 22:19] hmahmood commented on #3439
There may be a bug in how we process `--link` where only the alias is specified (e.g. `--link mysql` as opposed to `--link mysql:mysql`).

@sflxn the links section above looks like the [legacy docker link](https://docs.docker.com/engine/userguide/networking/default_network/dockerlinks/) mechanism. We don't support it, and I think docker is deprecating it as well. However, `--link` should work, alt

[2016-12-14 22:32] chengwang86 commented on #3439
@hmahmood Even after I removed --link and depends_on, it still didn't work with vic+admiral. And I observed exactly the same error msg; however, it is expected to work according to https://github.com/vmware/admiral/wiki/Docker-Compose-Support#wordpress-template

So I think maybe there are other reasons why the example in the original post didn't work other than --link.

[2016-12-14 23:33] npakrasi commented on #3483
Fixed: https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_app_dev/network_use_cases.md

[2016-12-14 23:53] sflxn commented on #3439
These are the logs from wordpress after a successful docker-compose bring up:

[code]

This is what happens after provisioning with Admiral:

[code]

Eventually, the Wordpress container gives up and exits.

[2016-12-15 00:27] sflxn commented on #3439
This is a snippet from the portlayer logs after a successful docker-compose:

[code]

This is the snippet after provisioning from Admiral:

[code]

It's missing the 3rd operation.  @hmahmood will be in a better position to interpret this.

[2016-12-15 00:35] sflxn commented on #3439
One difference between the way docker-compose and admiral provision is that docker-compose creates a new network for the services.  Admiral just uses the bridge network.

[2016-12-15 00:36] hmahmood commented on #3439
@sflxn that would explain your previous comment. We are ignoring links for containers that are only on the bridge networks. I am fixing that right now.

[2016-12-15 00:42] #3243 closed

[2016-12-15 00:51] sflxn commented on #3439
I was looking in the Admiral docs for info on creating a new network, and I actually came across this,
https://github.com/vmware/admiral/wiki/Docker-Compose-Support#docker-compose-file-modifications-in-examples

[2016-12-15 01:19] sflxn commented on #3439
When I followed Admiral's docs for updating the compose file to simulate what docker-compose does, it still doesn't work, and I get the following portlayer log snippet:

[code]

[2016-12-15 04:27] mobla commented on #3474
Closing this as a user error.

Works if the container is created with -t flag and start with -ai which is in par with the behavior standard with docker

Thanks,
Murali

[2016-12-15 04:27] #3474 closed

[2016-12-15 04:27] mobla commented on #3436
@hmahmood: Uploaded the vmware.log from VCH (took 5 mins) appliance deployed on vCenter..

[vmware-log.tar.gz](https://github.com/vmware/vic/files/640586/vmware-log.tar.gz)

[2016-12-15 09:21] stuclem commented on #3436
@hmahmood apologies - I only just saw this. Updated the release note as follows:

- <b>Deployment with static IP takes a long time. [#3436](https://github.com/vmware/vic/issues/3436)</b><br>If you deploy a VCH with a static IP, the deployment might take longer than expected, resulting in timeouts.
Workaround: Increase the timeout for the deployment when using static IP.

Does this cover it?

[2016-12-15 09:32] stuclem opened #3515 "Document that any log rotation output is included in the logs"
Per https://github.com/vmware/vic/issues/3300, which is implemented in PR https://github.com/vmware/vic/pull/3302. Might be worth a mention in the [log bundles](https://github.com/vmware/vic/blob/master/doc/user_doc/vic_admin/log_bundles.md) topic, where we mention log rotation.

[2016-12-15 16:39] mhagen-vmware commented on #3434
If we accept the concept of eventual consistency, then the test just needs a:
Wait Until Keyword Succeeds  20x  5 seconds  Run  docker ps

[2016-12-15 18:41] vburenin opened #3517 "Improve static IP and Gateway configuration"
Currently network mask is set as a part of gateway parameter which is wrong. Network size has to be defined by static IP address mask.

[2016-12-15 19:04] gigawhitlocks opened #3520 "Regression testing for Issue #3495"
Need to write a regression test for  #3495 . Will need to use the selenium plugin to robot so we can automate a real browser logging in & rejecting the auth cookie

[2016-12-15 21:19] #3439 closed

[2016-12-16 09:18] stuclem opened #3524 "Document that network mask is taken from IP address instead of from gateway"
Per PR https://github.com/vmware/vic/pull/3519. This might affect the doc on certs and static IP.

[2016-12-16 09:19] stuclem commented on #3524
PR #3519 fixes #3517 and #3410. None of these are tagged as being in 0.9, but if #3519 is merged then these need to be doc'd for 0.9.

[2016-12-16 13:42] mreferre commented on #2711
I'd like to bring this up again because it keeps coming up as a setup that causes friction in the consumption. While this isn't a big deal (if you know about it!) I am starting to question about the value of explicitly exposing that the API version we honor is 1.23.

We are not 100% compatible with that API version (due to missing stuff VIC doesn't yet implement) and at the same time we do things

[2016-12-16 16:55] hmahmood commented on #3436
@stuclem that should cover it.

[2016-12-16 17:25] mhagen-vmware opened #3525 "Can't install into nfsdatastore:"
[code]

From all appearances both of my hosts have access to the NFS share:
anon@anon-Latitude-E7450:~/vic$ govc ls host/cls/*
/vcqaDC/host/cls/Resources
/vcqaDC/host/cls/10.162.9.95/VM Network
/vcqaDC/host/cls/10.162.9.95/test-ds-DVUplinks-30
/vcqaDC/host/cls/10.162.9.95/management
/vcqaDC/host/cls/10.162.9.95/vm-network
/vcqaDC/host/cls/10.162.9.95/bridge
/vcqaDC/host/cls/10.162.9.95/nfsDatastor

[2016-12-16 17:57] emlin commented on #3525
Mikkle, figured out this problem is because you mount the nfsDatastore as readonly, but we require one writable datastore.
You can find the information from datastore mountinfo through mob API, which is not accessible from govc yet. https://10.162.30.113/mob/?moid=datastore-29&doPath=host%5b%22host-21%22%5d%2emountInfo

+ CC @stuclem I think this is worth for one trouble shooting doc

[2016-12-16 18:15] fdawg4l opened #3528 "Failed to write to image store: [POST /storage/{store_name}][500] WriteImage default &{Code:0xc420ab6da0 Message:Invalid configuration for device '0'.}."
Via SM on Socialcast

[code]

[2016-12-16 19:31] fdawg4l opened #3529 "Log bundle HOWTO"
Stuart/Nandita,

I'm wondering if we can clarify how to collect a log bundle.

This has how to access vicadmin.
https://vmware.github.io/vic-product/assets/files/html/0.8/vic_admin/access_vicadmin.html

And this has what logs are available.
https://vmware.github.io/vic-product/assets/files/html/0.8/vic_admin/log_bundles.html

The `log_bundles` page is under Troubleshooting, but it's not clear how

[2016-12-16 19:32] MasashiTeruya commented on #3417
In my case solved by putting FQDN in vic-machine-linux --target option.

[2016-12-16 19:49] mhagen-vmware commented on #3525
While the share was RW, govc datastore.create defaults to -mode=readOnly.  Changing that fixed this immediately.

[2016-12-16 19:49] #3525 closed

[2016-12-16 20:24] #3517 closed

[2016-12-16 22:24] hmahmood commented on #3417
@mobla I looked through the logs; there are a couple of big jumps in timestamps, but I am not sure what they are about. It doesn't seem like they have anything to do with VIC though.

[2016-12-17 00:08] corrieb opened #3531 "vic-machine should be able to take env vars for common params"
Being able to set username, password, target and thumbprint as env vars would make vic-machine usage so much more pleasant.

As an example, going from

... is so much cleaner if all the common options are implied.

[2016-12-17 01:25] corrieb opened #3532 "Docker rm gives "no such container" when container shows in ps and exists"
Running with the 0.8.0 GA. Could be a dup of #3196 but don't want to assume.

vagrant@ubuntu-1604-vmware:/build$ docker ps -a
CONTAINER ID        IMAGE                           COMMAND                  CREATED             STATUS                     PORTS               NAMES
9d87c66a5d6d        10.118.69.100/test/dind-1.9.0   "docker daemon -D -H "   25 minutes ago      Exited (0) 3 minutes ago

[2016-12-17 01:29] corrieb commented on #3532
[container-logs.zip](https://github.com/vmware/vic/files/658583/container-logs.zip)

[2016-12-17 01:48] anchal-agrawal opened #3533 "Remove .lgtm file and update contributing doc"
Now that the LGTM service is no longer used, we should remove the `.lgtm` file and update the documentation.

[2016-12-17 09:19] steffenmoen commented on #3528
[All.log.zip](https://github.com/vmware/vic/files/658774/All.log.zip)
Attached log bundle with container logs.

[2016-12-17 17:51] anchal-agrawal opened #3534 "vmware.github.io/vic doesn't render some content correctly on mobile"
The top navigation bar and the Fork button don't render correctly on mobile browsers.

On the mobile site, the nav bar appears as a grey Menu button that's not clearly visible. Also, the Fork button doesn't spread across the entire text:

![mobile-site](https://cloud.githubusercontent.com/assets/4361620/21288609/abce29d0-c44d-11e6-8281-a5e6ac0c44ae.png)

On the desktop site from a mobile browser,

[2016-12-17 17:52] anchal-agrawal commented on #3534
Assigned to @stuclem for triage.

[2016-12-18 06:08] vburenin commented on #3410
Fixed in #3519

[2016-12-18 06:08] #3410 closed

[2016-12-19 15:15] corrieb opened #3535 "Bogus --opt input values on volume create are ignored"
This led to the weird situation where I created a volume using the --opt capacity=4gb flag and it created a 1GB volume. Why? Because I didn't capitalize "capacity". Equality, entering --opt bogus=bogus successfully creates a volume with no warning.

This may be a limitation of the Docker client, but I'd like to at least return a warning of some kind that the option wasn't understood

[2016-12-19 17:48] #2866 closed

[2016-12-19 21:03] npakrasi commented on #3500
added info to vmotion and maintenance mode sections: https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_admin/interop.md

[2016-12-20 10:18] stuclem commented on #3524
PR #3519 is merged.

[2016-12-20 10:39] stuclem opened #3537 "Document that NFS datastore must be writable"
Per https://github.com/vmware/vic/issues/3525. Worthy of a TS topic.

[2016-12-20 13:38] stuclem commented on #3529
Thanks @fdawg4l - I missed this until now. These are all good observations. We'll get this into a doc refresh for 0.8 (i.e. before 0.9).

[2016-12-20 13:43] stuclem commented on #2711
We do link to the topic on setting DOCKER_API_VERSION in the places in the doc where you first run Docker commands against your VCH:

- Install (for vSphere Admins): https://vmware.github.io/vic-product/assets/files/html/0.8/vic_installation/verify_vch_deployment.html
- Application devs: https://vmware.github.io/vic-product/assets/files/html/0.8/vic_app_dev/container_operations.html

I'm looking a

[2016-12-20 15:44] mhagen-vmware opened #3538 "failed to establish backchannel: context canceled"
https://ci.vmware.run/vmware/vic/7487

from tether.debug:
[code]

[integration_logs_7487_f116b8b8669f1f7bcf535f1074cbfcddfb5c0e3b.zip](https://github.com/vmware/vic/files/664101/integration_logs_7487_f116b8b8669f1f7bcf535f1074cbfcddfb5c0e3b.zip)

[2016-12-20 17:02] fdawg4l commented on #3529
Awesome.  Thanks Stuart!

[2016-12-20 18:57] mhagen-vmware commented on #1448
Haven't seen this one in months. Closing as non-repro.

[2016-12-20 18:57] #1448 closed

[2016-12-20 23:26] npakrasi commented on #3499
Created new troubleshooting topic" https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_installation/ts_volume_store_error.md

[2016-12-20 23:55] bhravich opened #3542 "Deploying a multi-container wordpress application **With Network** on VCH via Admiral fails"
**VIC version:**

vic-machine-linux version v0.8.0-7489-f116b8b

**Deployment details:**
[code]

**Steps to reproduce:**

1. Deploy the VCH using the above mentioned command.
2. Register the host on admiral.
3. Upload an application template with the following specification (With Network Definition):
[code]
**Actual behavior:**
The mysql container is sucessfully deployed however, the wordpress con

[2016-12-21 00:20] npakrasi commented on #3227
Added TS topic: https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_installation/ts_bridge_pool_mask_error.md

[2016-12-21 09:36] stuclem commented on #3227
My mistake - this belongs in App Dev rather than in Install.

[2016-12-21 09:36] stuclem commented on #3499
My mistake - this belongs in App Dev rather than in Install.

[2016-12-21 18:01] karthik-narayan opened #3545 "Adding ROBO SKU tests to nightly tests"
User statement: As a part of expanding coverage, we should add support for the vSphere ROBO Advanced SKU to our nightlies.

Details:  Need to find the build number on build web for this SKU or play with the license if it is just the regular build number - govc can set licensing

Acceptance Criteria:
1. Nightly test runs a build using ROBO SKU each night.

[2016-12-22 06:56] #3300 closed

[2016-12-22 17:19] mdubya66 opened #3548 "broken link to Deploying vSphere Integrated Container Engine with vSphere Integrated Containers Registry (Harbor)"
Following the directions in https://vmware.github.io/vic-product/assets/files/html/0.8/vic_app_dev/using_vic_with_harbor.html

Pull the busybox container image from the docker hub to your machine, which you have updated with the CA certificate earlier. See Deploying vSphere Integrated Container Engine with vSphere Integrated Containers Registry (Harbor) for more information on updating certificate

[2016-12-22 20:03] tigerhawk6 commented on #3417
I'm getting the same error on vic_0.8.0-7315-c8ac999 if I use DHCP for public network.  It seems to deploy fine as I can still check its info via docker -H x.x.x.x info.  If I assign a static IP address I do not get this error.  Using DHCP works fine in 0.7.0 though.

[2016-12-23 19:38] omegaharvest opened #3549 "VIC not publishing ports correctly"
**VIC version:**
1.0

**Deployment details:**
I've deployed a Virtual Container Host and created some containers on it. These appear fine within vSphere but I can't get to the services they're meant to be presenting. I have a distributed switch with 2 port groups relevant to the VCH. One with no uplinks assigned just for bridging, and the other for management which client, management and public tr

[2016-12-23 22:25] sgairo opened #3550 "Correct vicadmin.log from showing user/pass information in log"

[2016-12-24 04:49] anchal-agrawal commented on #3465
+1, running into this quite often on 0.8.

[code]
[container-logs.zip](https://github.com/vmware/vic/files/671653/container-logs.zip)

[2016-12-24 05:18] anchal-agrawal commented on #3549
Hi @omegaharvest, I found the following in the `web01-c6406607983e60676654cefb922dd21e19ad084a5d37db36e967208d9171b30b/output.log` file in the log bundle (this log file contains the output from the main process running on the container):

[code]

I'm not sure if that is the issue here, because I ran your container with VIC and vanilla Docker, and got that same warning message.

To confirm whether

[2016-12-24 08:16] omegaharvest commented on #3549
Thanks for your reply! I'll give it a try and report back. May take a little longer given the time of year though!

[2016-12-28 22:18] omegaharvest commented on #3549
I tried running your command in my environment to create an nginx container but still could not get to anything on port 80 of the VCH and 10000 on a later attemt. I did notice lots of HA issues start after the container was deployed so I built a new standalone ESXi host, added it to the same vCenter but did not join it to the cluster I had before. I used this command for the VCH:

Just for informa

[2016-12-28 22:49] omegaharvest commented on #3549
I ran your command against my development cluster and got lots of unrelated HA issues, so I'm chalking that environment up as unreliable.

I built a simpler 1 vCenter + 1 ESXi host solution in Workstation and replicated everything in there. I ran your command and everything worked fine. I managed to get to the nginx landing page on the VCH ip address.

I'll continue my work in the new dev environm

[2016-12-28 23:24] anchal-agrawal commented on #3549
Great, thanks! I'm closing this issue; please feel free to reopen it if you see port-mapping issues again.

[2016-12-28 23:24] #3549 closed

[2017-01-01 15:39] omegaharvest opened #3551 "MySQL+WordPress containers not restarting correctly."
**VIC version:**
0.8

**Deployment details:**
I am deploying a VCH to run two containers, one for MySQL and another for WordPress. The WordPress Container uses the MySQL container as a back end. Initial deployment of the VCH and containers is fine and everything works. However, if I shut down the vApp using 'shutdown' on the vApp itself, then start it up again the WordPress container starts for ab

[2017-01-01 18:24] anchal-agrawal commented on #3551
Hi @omegaharvest, the `Error response from daemon: Unable to find container "cba076de6c78ff4529f9cbb12ed6bc5f4b088191484bbe4bae39a285e1ff3811" in the cache, unable to get power state` issue is being tracked in #3465.

[2017-01-01 20:14] omegaharvest commented on #3551
Thanks, glad to see the later is a known issue. However, I do not think this is causing the WordPress container to fail to load on a vApp restart. This bug only occurs if I remove and recreate the WordPress container completely.

Good to know regardless though as being able to re-create the containers is also crucial for us.

[2017-01-03 10:51] tovinayv opened #3552 "Failed to create VCH with error"
**VIC version:**

vic_0.8.0-7315-c8ac999

**Deployment details:**
Deploying on ESX 6.0

What was the vic-machine create command used to deploy the VCH?
[code]
**Steps to reproduce:**

**Actual behavior:**

**Expected behavior:**

**Logs:**

* If you can access the VCH Admin portal, please download and attach the log bundle(s). See https://vmware.github.io/vic/assets/files/html/vic_admin/log_bundle

[2017-01-03 10:57] tovinayv commented on #3552
Attaching logs
[logs.zip](https://github.com/vmware/vic/files/682081/logs.zip)
[vicadmin.log.txt](https://github.com/vmware/vic/files/682083/vicadmin.log.txt)
[docker-personality.log.txt](https://github.com/vmware/vic/files/682085/docker-personality.log.txt)
[init.log.txt](https://github.com/vmware/vic/files/682086/init.log.txt)
[port-layer.log.txt](https://github.com/vmware/vic/files/682084/port-

[2017-01-03 10:57] tovinayv commented on #3552
I tried with increasing timeout with 60 min.. But same result..

[2017-01-03 15:48] chengwang86 commented on #3551
@omegaharvest Did you "shutdown" the wordpress container from the vsphere web client or did you use "docker stop"?

[2017-01-03 16:00] chengwang86 commented on #3552
@tovinayv From the port layer log, I find the following error msg:
[code]
By default, "datastore1" is used if no other datastore path is specified in the "vic-machine create" cmd.
[code]
Could you please verify if you have "datastore1"?

[2017-01-03 16:06] vburenin commented on #3552
I think we need to return any error that is significant from the portlayer to a vic-machine to be displayed for the user. Since we have such direct communication channel, it should not be problematic.

[2017-01-03 16:21] yfauser opened #3553 "Container VM Tools doesn't report IP correctly, breaking NSX DFW functionality"
**VIC version:**

Master, commit ce9e90cfc5299a9560311024198be7f2404b50a3

**Deployment details:**

[code]

**Steps to reproduce:**

1) Configure DHCP and Routing on with NSX on the Networks 2 and 3
2) Deploy the following container at least 2 times

[code]

This container has a port-scan app included (https://github.com/yfauser/sample-flask-container)

3) Now configure an NSX security group with

[2017-01-03 16:27] vburenin commented on #3479
The reason we need this feature is actually to insure PortLayer starts without problems. One of the most obscure issues was an access to vSphere API that could fail with very unclear description. However, we can get this feature a little further by having a separate channel to return any error that may happen on ApiCheck, PortLayer, docker-persona and vic-admin sides to vic-machine.

For this purp

[2017-01-03 17:29] omegaharvest commented on #3551
I shutdown the entire vApp object whilst the VCH and 2 containers were running.

[2017-01-03 17:35] matthewavery opened #3555 "Image Store Pathing is not space character friendly"
Support issue that is tracked in bugzilla ticket #1788767

The VCH deployment fails due to a space character in the datastore name used for the image store. It is highly likely that the paths for datastores used for volume stores and other storage mechanisms suffer from this issue as well.

The proposed solution is to change the way that we treat paths so that it is compliant with the actual "acce

[2017-01-03 18:13] fdawg4l commented on #3555
[code]

[2017-01-03 18:17] mdubya66 commented on #3551
This could be related to #2856 and/or #3257

[2017-01-03 19:59] fdawg4l commented on #3528
Hi @steffenmoen, thanks for the log.  However, it looks like this isn't the log bundle I was referring to.  Apologies, I should've been more clear.

You can get a VIC log bundle by going to the admin URL (which is printed after running `vic-machine` to install VIC, usually something like `https://10.118.67.226:2378/`), logging in, and clicking `Log Bundle` on the right.  A `.zip` file will be down

[2017-01-03 20:44] rajanashok commented on #3455
Completed.

[2017-01-03 20:44] #3455 closed

[2017-01-03 20:59] steffenmoen commented on #3528
[logs.zip](https://github.com/vmware/vic/files/683216/logs.zip)
Sorry, i don't know what happened to the log bundle. Please try this one.

[2017-01-03 23:57] fdawg4l commented on #3528
Thanks for the logs!

[code]
157 time=2016-12-16T09:02:36.712851192Z level=debug msg=[BEGIN] [github.com/vmware/vic/pkg/vsphere/disk.(*Manager).CreateAndAttach:85] [vmNFS03] Images/VIC/422fce56-5b54-e347-c93b-f122ad8a2ae5/images/511136ea3c5a64f264b78b5433614aec563103b4d4702f3ba7d4d2698e22c158/511136ea3c5a64f264b78b5433614aec563103b4d4702f3ba7d4d2698e22c158.vmdk·
158 time=2016-12-16T09:02:36.712877

[2017-01-04 00:07] fdawg4l commented on #3528
@steffenmoen Can you give us some details about the datastore?  Is it a storage appliance or a software NAS?

Also the `vic-machine` command pasted in the first comment mentions `TemplatesNFS01` but the datastore mentioned in the logbundle is `vmNFS03`.  I just want to verify we're looking at the right logs.

[2017-01-04 04:39] tovinayv commented on #3552
Attaching new set of logs where datastore1 is present.. With same issue..
[vicadmin.log.txt](https://github.com/vmware/vic/files/683930/vicadmin.log.txt)
[container-logs.zip](https://github.com/vmware/vic/files/683931/container-logs.zip)
[docker-personality.log.txt](https://github.com/vmware/vic/files/683932/docker-personality.log.txt)
[init.log.txt](https://github.com/vmware/vic/files/683934/init

[2017-01-04 07:04] steffenmoen commented on #3528
@fdawg4l
This is a nested ESXi environment with two nodes. Both connected to shared NFS datastore (Synology NAS for home use) I have deployed several VCH's and tried both TemplatesNFS01 and vmNFS03.
So for the logs uploaded vmNFS03 is the correct one.

The first VCH I deployed worked a couple of days, but suddenly started to get this error.
When deploying new VCH's they fail immediately.

Kind reg

[2017-01-04 16:00] #3550 closed

[2017-01-04 17:24] anchal-agrawal commented on #3426
Closing as dup of #3251

[2017-01-04 17:24] #3426 closed

[2017-01-04 17:25] anchal-agrawal commented on #3425
Closing as dup of #3251

[2017-01-04 17:33] vburenin commented on #3425
It is not a dup of #3251
adding vicadmin into sudoers will not solve the problem.
We need a special group to run all out VIC related services so we can manage permissions for that group only.

[2017-01-04 17:49] #2859 closed

[2017-01-04 18:04] hmahmood commented on #3498
@mchenetz is this issue still occurring for you?

[2017-01-04 18:45] fdawg4l commented on #3528
@steffenmoen from a vsphere perspective, that's not a supported installation.  But, we develop on a similar setup (minus the synology NAS) so I'm not sure where the issue is just yet.

Do you know what filesystem the synology NAS is formatted with?  I'm reading synology makes NASes which run all manner of filesystems (Ext, btrfs, ntfs, etc) and want to narrow down our scope.

Also, have you tried

[2017-01-04 19:39] #3533 closed

[2017-01-04 19:40] emlin commented on #3315
https://ci.vmware.run/vmware/vic/7504

[2017-01-04 20:48] anchal-agrawal opened #3563 "Write a regression/integration test to scrape vic log files for sensitive info"
We should write a test to check for passwords or sensitive credentials in VIC's log files. This would be a good addition at the end of the regression and vicadmin integration tests. We could use a custom password and look for it explicitly in the log files.

/cc @gigawhitlocks @sgairo

[2017-01-04 21:31] mdubya66 commented on #3563
this is a great test. putting it into the todo list

[2017-01-04 22:19] #3492 closed

[2017-01-04 22:21] caglar10ur commented on #3500
https://github.com/vmware/vic/commit/63fd97ed5864bfa78a2dad1f7c203a2c65566ad1 fixed the issue but we still need to document the fact that putting an ESXi host into the maintenance mode will;

- for the containers with active sessions; power off containers on that host
- for the containers without active sessions and if vmotion is enabled; migrate containers to other hosts

[2017-01-04 22:36] vburenin opened #3564 "Not friendly authentication error screen"
# Actual
Entering wrong credentials ended up with this screen on vic-admin page.

![image](https://cloud.githubusercontent.com/assets/4350891/21661826/e1c0e51c-d29b-11e6-8c8a-d9e65d0a7de6.png)

# Expected

User should be returned to a login page.

[2017-01-05 02:40] #3251 closed

[2017-01-05 02:48] vburenin opened #3569 "vic-admin vsphere session timeout leads to weird errors on the screen"
1. Log into vic-admin UI. Do not use it for a while(several hours I guess).
2. Refresh the page, you will still be logged into vic-admin UI, but lots of errors will be displayed regarding to the connection to vSphere API.

vSphere session timeout is just a guess, it might be something else. Unfortunately, all related data including logs is no longer available.

[2017-01-05 14:02] stuclem commented on #3501
https://github.com/vmware/vic/issues/3453 is implemented in PR https://github.com/vmware/vic/pull/3562.

[2017-01-05 14:11] stuclem commented on #3555
@matthewavery do we need to update https://vmware.github.io/vic-product/assets/files/html/0.8/vic_installation/vch_installer_options.html#datastore to state that spaces are not supported in 0.8?

[2017-01-05 15:47] anchal-agrawal commented on #3569
@vburenin this is expected behavior currently. It was implemented in #3106 towards issues #2811 and #3082. One UX improvement we can make is to prompt the user that logging out and in again could resolve the session issue.

[2017-01-05 15:55] vburenin commented on #3569
@anchal-agrawal So, you are saying it is a know bug that is a less even than the other. Ok. Let's keep it open.

[2017-01-05 16:17] sgairo commented on #2872
@hmahmood With some time to marinate, are you still thinking it could be vsan? Or a mixture of vsan and something else?

[2017-01-05 16:23] mdubya66 opened #3570 "CI: Cannot authenticate. This is an outdated version of Coverage and is expired. Please upgrade."
Uploading file 1 bin/vic_7522.tar.gz to https://api.bintray.com/content/vmware/vic-repo/build/7522/vic_7522.tar.gz
Result: success
[info] Pulling image plugins/drone-coverage:latest
Drone Coverage Plugin built from 06590b3
Parsing coverage file /drone/src/github.com/vmware/vic/.cover/cover.out
Cannot authenticate. This is an outdated version of Coverage and is expired. Please upgrade.

[2017-01-05 16:41] hmahmood commented on #3029
Seen here: https://ci.vmware.run/vmware/vic/7521

[2017-01-05 16:42] #3453 closed

[2017-01-05 18:23] fdawg4l commented on #3029
@hickeng I'm giving this bug to you since you either know where it needs to be or know who in vsphere needs to look at it.

[2017-01-05 18:36] matthewavery commented on #2899
@hickeng @emlin so this has showed up again in the set 0.9.0 and I am looking into it right now. Looks like @mreferre 's last post appears to have displayed #3046 as working now(I remember adding fixes for it in 0.7.0). I will attempt the recreation steps, but I suspect that #3046 ticket is closable. I believe I lost track of this one since I was out for an emergency in November, I will wrap this

[2017-01-05 19:05] matthewavery commented on #3046
I want to make an additional note that the main issue here when this ticket was filed is that the delete was issued with a `--force` which removes volume stores. As of 0.7.0 there is a check to see if the path exists on every volume create operation and if it is suddenly gone we recreate it.

[2017-01-05 19:16] matthewavery opened #3571 "VCH does not pick up volumes created by other VCHs when sharing a volume store"
This was found when confirming that #3046 is no longer around.

reproduction:

1. Create two VCHs sharing the same volume store.

2. Create a volume using each VCH.

3. do `docker volume ls` for both VCHs and note that they do not display the other's volume.

4. attempt to mount the volume from the other VCH, a internal server error on the portlayer will occur saying `file not found`

When two VCH

[2017-01-05 19:17] matthewavery commented on #3571
<img width="1801" alt="screen shot 2017-01-05 at 1 11 13 pm" src="https://cloud.githubusercontent.com/assets/8620942/21694113/4280806c-d349-11e6-832b-61315b963d52.png">

[2017-01-05 19:20] bhravich commented on #3542
The following are the details of the same application when deployed onto a **regular** docker host:

[code]

[code]

[code]

[code]

[2017-01-05 19:21] thefallentree opened #3572 "Support reconfigure on VCH"
Please include support to change  image-store, volume-store and  possibility various network through the CLI.

[2017-01-05 19:21] anchal-agrawal commented on #3570
Closing as resolved per https://ci.vmware.run/vmware/vic/7523.

[2017-01-05 19:21] #3570 closed

[2017-01-05 19:22] fdawg4l commented on #3571
@mathewavery we don't support that use case. We don't support sharing of volume locations.

[2017-01-05 19:22] thefallentree opened #3573 "Debug command doesn't work"
[code]

[2017-01-05 19:23] mdubya66 commented on #3570
Ivan upgraded the container to fix this

[2017-01-05 19:26] bhravich commented on #3542
Adding the mysql container details on **regular** docker host as well:
[code]

[2017-01-05 19:44] matthewavery commented on #3571
This ticket will stay open as an informational ticket.

[2017-01-05 20:14] chengwang86 commented on #3542
@bhravich @hmahmood By comparing the network configs of the containers when deployed by vic vs. regular docker, it seems that the containers were added to the bridge network under vic whereas they were not under regular docker.

Since the alias "mysql" was not added to the bridge network, and the dns requests of the wordpress container used the bridge network, the wordpress container was not able

[2017-01-05 20:33] thefallentree opened #3574 "ImageStore operation is super slow"
Hi,

I am using a iscsi backed datastore for image , I setup VCH with no issue, pulled 2 images (~10 layers total) and restarted VCH,  the VCH takes about 10minutes to start , blocking on imageStore operations.

And when deleting VCH, it takes even longer to delete all the files from datastore.

It is simply way too slow

[2017-01-05 20:47] thefallentree commented on #3574
On a newly created VCH that have 1 image "ubuntu" pulled.

[code]
NOTE here that it takes an solid 2 minutes to finish "creating image store" and start up.

[code]

[2017-01-05 20:54] #3425 closed

[2017-01-05 21:15] hmahmood commented on #2872
@sgairo have we confirmed this _only_ happens when vsan is in the mix?

[2017-01-05 22:34] mdubya66 commented on #3573
@thefallentree Are you sure the username and password have the correct permissions?

ERRO[2017-01-05T11:17:38-08:00] Unable to enable SSH in appliance VM: ServerFaultCode: The guest authentication being used does not have sufficient permissions to perform the operation.

Seems to indicate they do not.

Please attach the full output and if possible the logs from the vic-admin

[2017-01-05 22:36] mdubya66 commented on #3574
without the logs there is no way for us to tell what is causing this delay. Also, more details on the iSCSI setup would be needed. please attach the logs from the vicadmin portal.

[2017-01-05 22:37] mdubya66 commented on #3574
please attach the logs from this VCH See https://vmware.github.io/vic-product/assets/files/html/0.8/vic_admin/log_bundles.html for instructions on gathering them from the VCH Admin portal

[2017-01-05 22:38] mdubya66 commented on #3573
please attach the logs from this VCH See https://vmware.github.io/vic-product/assets/files/html/0.8/vic_admin/log_bundles.html for instructions on gathering them from the VCH Admin portal

[2017-01-05 22:39] mdubya66 commented on #3572
Closing as a duplicate of #2911

[2017-01-05 22:39] #3572 closed

[2017-01-05 22:39] matthewavery commented on #3046
pending @fdawg4l 's input I planning to close this issue. Explanation: If you remove a VCH using `--force` it is documented that all volume stores associated with it will be removed. In this case the only issue I can see is that the error message reported currently(in 0.8.0) is `Error response from daemon: [POST /storage/volumes/][500] createVolumeInternalServerError  &{Code:500 Message:ServerFaul

[2017-01-05 22:45] fdawg4l commented on #3046
Makes sense @matthewavery.  I don't know if you'll be able to capture the ERRINUSE error, however, since it's vsphere that's throwing it.  We don't know that the volume is locked by another VM and the error returned may not make it that obvious but I don't know for sure.

[2017-01-05 22:52] matthewavery commented on #3046
Closing this issue, since we do not support sharing volume stores between VCHs. The `--force` performed its function correctly in this instance.

[2017-01-05 22:52] #3046 closed

[2017-01-05 22:53] thefallentree commented on #3573
@mdubya66  I am using the administrator account, which has full privilege .

[2017-01-05 22:56] matthewavery commented on #3046
@stuclem the docs may need some additional input on volume stores not being shareable. this may have been missed during the doc hackathon, if so I apologize.

[2017-01-05 22:59] anchal-agrawal commented on #3569
I came across this screen today:

<img width="1415" alt="vicadmin" src="https://cloud.githubusercontent.com/assets/4361620/21700781/bba68dec-d367-11e6-8270-34b0aadf6050.png">

The [error message](https://github.com/vmware/vic/blob/master/cmd/vicadmin/server.go#L541) was improved in #3270 to prompt the user to re-login. If you saw the same screen, we can close this issue since this is expected beha

[2017-01-05 23:27] hmahmood commented on #3014
Just tested this with a local build (i.e., > 0.8.0), and got this in hostd.log when I ran `docker rm -f` on the container:
[code]
So it appears we are neglecting to power off the VM before destroying it. Calling `docker stop` on the container has no effect.

[2017-01-06 15:49] mdubya66 commented on #3555
"After more testing in my lab, I was able to reproduce this issue with a perl script I did.
This issue is not an issue with VIC, but an issue with the vCenter 6.0 U2 API.

Thanks a lot for your help, you can close this case."

Closing as not a bug

[2017-01-06 15:49] #3555 closed

[2017-01-06 17:22] nerdybarry opened #3578 "Feature request: Windows Server 2016 container support"
There is interest in deploying Windows containers in my environment, and I would prefer to hand the developers a VCH endpoint instead of a VM or physical server.  It would be great if we could get Windows Server 2016 container support in VIC.

[2017-01-06 17:59] mdubya66 commented on #3578
Thanks @nerdybarry. Windows containers are something we will be looking into. @karthik-narayan for tracking purposes

[2017-01-06 18:37] hmahmood commented on #2932
@mlh78750 setting `arp_notify` to 1 should fix this? See https://www.kernel.org/doc/Documentation/networking/ip-sysctl.txt

[2017-01-06 20:33] andrewtchin commented on #3268
This has been fixed

[2017-01-06 20:33] #3268 closed

[2017-01-06 20:55] sgairo commented on #24
Readdressing this issue, does this take care of it:
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/container_portlet_ui.md

[2017-01-06 22:34] thefallentree commented on #3574
[logs.zip](https://github.com/vmware/vic/files/690986/logs.zip)

Here's the log bundle, the VCH instance takes 5 minutes to startup and function, there is just a few images in it.

[2017-01-06 22:50] fdawg4l commented on #3574
Odd. This operations generally complete on the order of seconds. What device is the iscsi lun backed by? I'll look st the logs and get back to you if there is something obvious there. But, it would be helpful if you could describe the topology you're installing the VCH onto.

[2017-01-06 22:57] thefallentree commented on #3574
It was a 42disk raid10 freenas setup, which itself it is pretty fast.

[2017-01-06 22:57] thefallentree commented on #3573
any idea how to debug further? I can't enable debug mode, so I can't login into the machine to do more inspections.

[2017-01-07 00:54] mdubya66 commented on #3573
@emlin can you take a look at this please?

[2017-01-07 01:02] fdawg4l commented on #3574
[code]

[2017-01-07 01:07] fdawg4l commented on #3574
Yep, 5m an image.  That's waaaaay tooo sloooowwww...

So in that operation (`GetImage`), all we're doing is `stat`'ing some files and walking a directory tree.  The amount of `I/O` per image found is on the order of < 1k.

Are you using Virtual Center?  If so, can you see any alerts related to storage performance?  Also do you have other VMs on this host also with suspiciously slow IO throughput?

[2017-01-07 01:10] thefallentree commented on #3574
No, nothing is running on that data store. Actually the vch has no mounted
disk, how was it doing the stat and disk ops? Through which esxi? Might
that be a problem?

On Fri, Jan 6, 2017 at 5:07 PM Faiyaz Ahmed <notifications@github.com>
wrote:

[2017-01-07 01:24] fdawg4l commented on #3574
The VCH VM doesn't mount any disks on startup, just on `docker pull`.  We stat by way of the ESX APIs.  Essentially, the VCH uses the VMOMI API to ask the host to stat the files for the VCH.  That way, the VCH itself is out of the IO path on startup.  If you're using VC, the host stating the files can vary.  If you aren't using VC, then the host configured when installing the VCH is the one servic

[2017-01-07 02:08] thefallentree commented on #3574
i have tested the store with at least 2k ops and ~70mbps random io
bandwidth , it is not fast. But it is not slow like this.

I am using vc and there is a lot of esxis connected to this store , so it
may be scheduling. Stay on a lot of random esxis?

In any case it seems very inefficient to have request proxy to vc and to
esxi and back, are all of your testing done with single esxi? That would
see

[2017-01-07 02:45] emlin commented on #3573
@thefallentree The VM remote access and console login are disabled by default for security consideration. But if the vic services are started, you can login to vic-admin to get more information. https://vmware.github.io/vic-product/assets/files/html/0.8/vic_admin/access_vicadmin.html is the instruction for how to do it.

If unfortunately, the vic-admin is not started successfully, we can only enab

[2017-01-07 02:46] thefallentree commented on #3573
Like I said I am using the administrator account. With full privileges.
Restart doesn't work either
On Fri, Jan 6, 2017 at 6:45 PM Emma Lin <notifications@github.com> wrote:

[2017-01-07 03:13] emlin commented on #3573
Could you access vic-admin?

[2017-01-07 03:29] fdawg4l commented on #3574
It's not a proxy exactly. It's an API constraint we have to live with. The datastore doesn't have a VFS one can make remote operations on. And VC clusters require VC to do all arbitration of operations in order to do things like load balancing and scheduling. Without vfs, this is the constraint we designed for.

We test and develop with iscsi backed datasores, nfs, and vsan.

I'm still curious as

[2017-01-07 03:38] fdawg4l commented on #3574
Do you mean IOPS?  If so, that's actually kinda low even for a single spindle.

[2017-01-07 03:45] fdawg4l commented on #3574
To be clear, that's still more than enough for VIC and enumerating images like we are at startup.  5m is still way too long.  Very eager to see the result of `dd` in a container using that datastore.

[2017-01-08 20:58] fdawg4l commented on #3573
@thefallentree Can you confirm the URL you're providing `vic-machine` is to your VC instance and not your host?  Also can you confirm the username and password you're passing is correct by logging into your VC instance?  It may not be the issue but the error reported leads me to believe it is.

[2017-01-09 01:48] thefallentree commented on #3573
Yes, they are all correct

On Sun, Jan 8, 2017 at 12:58 PM Faiyaz Ahmed <notifications@github.com>
wrote:

[2017-01-09 15:48] #2824 closed

[2017-01-09 16:17] #3057 closed

[2017-01-09 16:17] #1687 closed

[2017-01-09 16:40] #2867 closed

[2017-01-09 18:11] #3563 closed

[2017-01-09 18:28] rajanashok commented on #3506
PR merged #3568

[2017-01-09 18:28] #3506 closed

[2017-01-09 18:54] rajanashok opened #3583 "Multiple-VLAN test for nightly fails during teardown"
This is a test issue, nimbus cleanup during the suite tear down needs update.

![image](https://cloud.githubusercontent.com/assets/21340516/21778822/99610540-d66a-11e6-8dd2-fffb6af0b228.png)

[2017-01-09 18:59] rajanashok opened #3584 "Heterogenous nightly test fails on vSphere 6.0"
![image](https://cloud.githubusercontent.com/assets/21340516/21779037/7f5ab47e-d66b-11e6-8bde-70112660fac3.png)

[2017-01-09 19:26] mhagen-vmware commented on #3058
Really not necessary, closing this. There are only a total of 2 tests that use this pattern in all the vicadmin tests, little to no readability improvement would be had here.

[2017-01-09 19:26] #3058 closed

[2017-01-09 21:33] #2679 closed

[2017-01-09 21:52] thefallentree commented on #3574
![image](https://cloud.githubusercontent.com/assets/1256464/21785041/d3422b42-d672-11e6-9a09-7ec1bbd895ff.png)

[2017-01-09 22:01] #3193 closed

[2017-01-10 14:20] mrchrispo opened #3586 "Whitelist Container Registries"
**Story**
As an administrator of a VCH I would like to be able to restrict where images can be obtained from during VCH deployment

**Details**
This will specifically deal with `pull` as the image acquisition mechanism, not import/load/et al. As such this issue is about restricting registries that may be used as image sources for a given VCH.
Registry whitelist will be specified by a vic-machine l

[2017-01-11 09:53] steffenmoen commented on #3528
@fdawg4l Sorry for the late reply, but I have been struggling with the iSCSI setup.
I think that the Synology NAS (DS415+) is using Btrfs file system, but I get the same error when trying a iSCSI LUN from this NAS as well.
I will grab a fresh logbundle and send it by mail.

[2017-01-11 11:33] hickeng commented on #3137
Added customer found for Stefan Verbist

[2017-01-11 13:53] hickeng commented on #3586
#151 is the high level issue for adding this capability. Adding this as a sub issue for initial pass at whitelisting only.

There are a variety of ways in which whitelisting can be phrased which work well in static or pre-defined environments where the registry is long lived:
1. IP/hostname
2. FQDN wildcard match

For more dynamic environments (and also static) we could consider:
3. subnet mask (n

[2017-01-11 14:18] wolruf opened #3590 "VCH installation fails to find datastore if located within a vCenter folder"
**VIC version:**

0.8.0GA

**Deployment details:**

vSphere 6.0U2 is used with vCenter 6.0U2 as well.
Storage is using NFS.

**Steps to reproduce:**

Have VM Network, VMKernel in a vCenter folder, see screenshot below.
![screenshot](https://cloud.githubusercontent.com/assets/13536363/21851760/c900d2d8-d810-11e6-9cac-797e0a77b093.png)

**Actual behavior:**

Installation fails

**Expected behavior:*

[2017-01-11 16:27] bezorrao commented on #3590
What i did to make the command work was to run the command with 'folder_name/dvs_name' instead of only 'dvs_name' on the "--bridge-network" option

[2017-01-11 16:27] anchal-agrawal opened #3591 "Add https://vmware.github.io/vic to the GitHub repo description/link"
We should link to our github.io site on the repo like Harbor does:

<img width="841" alt="harbor" src="https://cloud.githubusercontent.com/assets/4361620/21856541/010e246a-d7e8-11e6-8cdb-7d00a937c180.png">

Assigning to @mdubya66 since admin permissions are needed to do so.

[2017-01-11 17:15] stuclem opened #3593 "Document H5 client installation"
Per https://github.com/vmware/vic/issues/3216

[2017-01-11 17:31] wolruf commented on #3590
You're right, folders work for portgroups. We tested again.
We have only the issue left with datastores located in folders.

mdestrez@desk:~/VIC/vic$ ./vic-machine-linux create --target
pcc-37-187-228-16.ovh.com/pcc-37-187-228-16_CePasCeluiLaQueTuViensDeCreer
--image-store "Shared Network/pcc-003899" --user mdestrez
--bridge-network vic-portgroup  --tls-cname=pcc-37-187-228-16.ovh.com
--compute-re

[2017-01-11 17:39] bezorrao commented on #3590
I'm stuck on the same problem... seems they already know of this... https://github.com/vmware/vic/issues/773

[2017-01-11 17:41] wolruf commented on #3590
Thanks for finding it! I'm closing this issue, this is indeed the same issue.

[2017-01-11 17:41] #3590 closed

[2017-01-11 18:37] gigawhitlocks commented on #3569
This is by design

[2017-01-11 18:45] vburenin opened #3594 "Catch up with the upstream swagger"

[2017-01-11 21:38] mdubya66 commented on #3591
Updated the landing page.

[2017-01-11 21:38] #3591 closed

[2017-01-12 04:51] lgayatri commented on #1741
Is this issue resolved in the Dec'2016 released bits?

[2017-01-12 14:38] mdubya66 commented on #1741
No. it is resolved in our master. @lgayatri

[2017-01-12 15:32] mdubya66 commented on #773
assigning to dougm to investigate the govmomi requirements

[2017-01-12 19:03] vburenin commented on #3569
@gigawhitlocks This design has to be improved.

[2017-01-13 00:21] gigawhitlocks commented on #3569
@vburenin with regard to the planning we did this week, probably doesn't make much sense to spend a lot of time refining this UI.

I initially had `vicadmin` log the user out in this case and @anchal-agrawal was told to change it to do what it does now. The messaging about "Logging in again may resolve the issue" was added to clarify things in this situation.

I don't personally think it's worth s

[2017-01-13 00:25] vburenin commented on #3569
@gigawhitlocks I am not pushing to address it right now, it should be addressed at some point eventually.This bug can just stay open until it is addressed.

[2017-01-13 23:33] thefallentree opened #3599 ""docker run ubuntu" will cause inconsistent container status"
With release 0.8.0 , if  just do docker run ubuntu (Note the lacking of usual -it) , the Container VM will start,  and power itself off correctly, however the VCH will still think this VM is up,  docker ps will show "up" status, and docker kill will fail, because the machine is already powered off.

[2017-01-17 15:15] mhagen-vmware opened #3600 "Research spike: Investigate CI work"
As a QE on the project, I need to understand what work needs to be done in order to advance the story on improving our CI infrastructure so that I can work on the issues in future sprints.  The stories generated from this research spike need to be ready to work on in future sprints.

CI Requirements
=============
In priority:
Reliable  - Trust the results
Available - CI During work hours
Productio

[2017-01-17 15:33] chengwang86 commented on #3599
@thefallentree I tried your cmds but couldn't reproduce this issue.
1. Could you please upload your log bundle?
2. Were you able to reproduce it?
3. What is the cmd you use to create the VCH?

[2017-01-17 16:54] emlin commented on #3207
[code]

[code]

Found the above log in hostd.log. Looks like user root@192.168.254.159 has some problem and is locked. I assume this is not our CI esxi, right? Our CI upgrade test runs well, and that already involves snapshot create and delete.

[2017-01-17 17:08] cgtexmex commented on #2248
I'm hoping that this and filtering of containers #1676 can share some common filtering code, so while not related from a functional perspective they will be related via implementation.

[2017-01-17 17:18] emlin commented on #3337
Even we deleted the child vmdk, the parent vmdk is still not deletable, cause file manager is not responsible to change that attribute, and not looks like anybody else is triggered the the children file deletion.
So no matter it's vc 6.5, or vSAN, the only workaround is to nuke the folder first and then delete folder.

[2017-01-17 17:19] cgtexmex opened #3601 "Filter PortLayer API Results"
As a user I need the filter criteria supplied in the docker client to be enforced in the vic results.  I must be able to filter the following items:

- Images via images command
The following `images` filtering options should be available and functioning:
[code]

- Containers via ps command
The following `ps` filtering options should be available and functioning:
[code]

[2017-01-17 17:39] #3470 closed

[2017-01-17 17:52] jzt opened #3602 "VIC image IDs not consistent with docker image IDs"
Currently, image IDs calculated by VIC do not match those calculated by docker. This is caused by VIC appending the empty layer diffID to the rootFS section of the image config JSON instead of (like docker) excluding it.

Since the image ID is effectively a sha256 of the image content data, the IDs should be consistent so that a user will know whether or not an image contains the correct bits.

[2017-01-17 17:52] mhagen-vmware opened #3603 "Failure in serially start 5 long running containers"
From build: https://ci.vmware.run/vmware/vic/7557

From portlayer.log:

[code]

[integration_logs_7557_ca0dbcb305c8f0b8e8b41da045650324def149b4.zip](https://github.com/vmware/vic/files/711889/integration_logs_7557_ca0dbcb305c8f0b8e8b41da045650324def149b4.zip)

[2017-01-17 17:53] jzt commented on #3163
Closing in favor of the encompassing general issue #3602

[2017-01-17 17:53] #3163 closed

[2017-01-17 18:09] emlin commented on #2911
Two things still to be considered in this story:
- We didn't define the scope of update from user perspective. Not everything configured in vic-machine create can be updated.
  For example, the bridge network ip range. If one range is already there, and some containers created in that scope, we cannot simply remove the previous ip range and update to a separated new range. But we probably could ad

[2017-01-17 18:10] mhagen-vmware opened #3604 "Failure in docker run ps password check test"
From build: https://ci.vmware.run/vmware/vic/7554

from docker personality:
[code]

From portlayer, it looks like we got stuck for about 3 minutes here:
[code]

But from vmware.log, it looks like the container finished on time as expected:
[code]

[integration_logs_7554_0e85c97314d461ba869ab55ab8b894fb11c994c4.zip](https://github.com/vmware/vic/files/711925/integration_logs_7554_0e85c97314d461ba86

[2017-01-17 18:15] mhagen-vmware opened #3605 "Failure in pkg unit test - recipe for target 'test-job-github.com/vmware/vic/pkg' failed"
From build: https://ci.vmware.run/vmware/vic/7552

[code]

[2017-01-17 18:22] emlin opened #3606 "vic-machine upgrade: support data migration"
As a vic admin, after create VCH through vic-machine create, and new vic engine binary is available, I want to update existing VCH to latest version, without impact my current workload, which means my containers.
I don't care if underline vic engine configuration is changed or not, it should succeed if all env is correctly prepared.
If there is anything wrong, the upgrade should be reverted and ol

[2017-01-17 18:28] mhagen-vmware commented on #25
@sflxn I need help on this one, does the current CI testing satisfy the original intent of this story or is there something else you are looking for? Specifically, what does "benchmark" mean in your comment - performance based? or something else?

[2017-01-17 18:29] emlin opened #3607 "Upgrade data migration design"
As a developer, I need a data migration design document to make sure my implementation does not violate initial design, and I need a developer guideline, so while I need to change configurations, includes vch, container configuration and key/value stores, I know how to do to make the data migrated to newer version.

[2017-01-17 18:29] emlin opened #3608 "Data migration framework implementation"

[2017-01-17 18:29] emlin opened #3609 "vic-machine upgrade: include data migration"
As a vic admin, after create VCH through vic-machine create, and new vic engine binary is available, I want to update existing VCH to latest version, without impact my current workload, which means my containers.
I don't care if underline vic engine configuration is changed or not, it should succeed if all env is correctly prepared, as long as the old version of existing VCH is still supported.
If

[2017-01-17 18:30] emlin opened #3610 "port-layer: support in memory data migration for container configuration"
As a user, I want to upgrade VCH to a newer version, and leave existing container in old version. If I need newer version's container, I will recreate new container, which should be in newer version. So that I get similar workflow with vanilla docker.

[2017-01-17 18:42] emlin opened #3611 "Upgrade integration test for data migration"
As a vic engine QE, I need to have integration test for vic-machine upgrade, to make sure no PR breaks upgrade data migration.
Also as a vic engine QE, I need to have integration test for VCH appliance backward compatibility, to make sure no PR touch container configuration breaks data migration.

[2017-01-17 18:49] hmahmood commented on #2586
Acceptance:
* verify that endpoint id not the same as the container id and is unique per endpoint

[2017-01-17 18:50] cgtexmex opened #3612 "vagrant port collisions"
The vagrant box is defined with the following port assignment:

`vic_dev.vm.network 'forwarded_port', guest: 2375, host: 12375`

That will map host port 12375 to guest VM port 2375.

If a port collision is encountered then vagrant will halt the boot of the vm.

To minimize these collisions we should use the `auto_correct: true` option.  This will allow vagrant to choose a non-conflicting port and

[2017-01-17 18:58] hmahmood commented on #2721
Acceptance:
* can ping two container on different networks from a container that is on both networks

[2017-01-17 19:01] fdawg4l opened #3613 "Integrate, setup, and start using PullApprove"
https://about.pullapprove.com/

## Requirements
Require component owners to sign-off on changes to particular components.  This should prevent changes (PRs) from being merged until those parties have approved the change.

## Work items
- [ ] Split repo into components by paths.  Each component can map to many paths.
- [ ] Configure the paths identified above to be approved in the PullApprove confi

[2017-01-17 19:04] hmahmood commented on #1654
Closing as dup of #1655 as this will be tackled there.

[2017-01-17 19:04] #1654 closed

[2017-01-17 19:42] hickeng commented on #3542
@chengwang86 I think that Admiral is calling `network connect` for new_net instead of creating the container directly on it. Can you confirm the following with regular docker host & VCH:
1. regular compose - does this use `network connect` or set the network directly on creation
2. admiral compose - is my hypothesis correct about admiral calling `network connect`

The aliases are added for both ne

[2017-01-17 19:48] fdawg4l commented on #2340
I don't know what else we can do with this.  We ask for a disk, VC says we have a disk, a disk is not found.  We aren't using `udev`, and we're querying the `vmw_pvscsi` driver directly for the new disk.  Reading the `vmw_pvscsi` driver code itself, a disk attach is itself a scsi bus message.  From my cursory reading, this message cannot be ignored.  So, provided the hypervisor is attaching the di

[2017-01-17 19:56] fdawg4l commented on #2340
Where the device is added
https://github.com/torvalds/linux/blob/master/drivers/scsi/vmw_pvscsi.c#L1028

Called from
https://github.com/torvalds/linux/blob/master/drivers/scsi/vmw_pvscsi.c#L1092

And put on a work queue here:
https://github.com/torvalds/linux/blob/master/drivers/scsi/vmw_pvscsi.c#L1128

It's a pretty simple loop.

[2017-01-17 20:03] #3612 closed

[2017-01-17 20:12] gigawhitlocks commented on #3495
This is only open because we still want to do testing. Marking it medium priority.

[2017-01-17 20:13] gigawhitlocks commented on #1
Is this still relevant? @hickeng

[2017-01-17 20:18] gigawhitlocks commented on #1879
I believe this is no longer relevant since we added shell access to `debug` in `vic-machine`

[2017-01-17 20:54] hmahmood commented on #3542
@hickeng the aliases are added correctly. The problem seems to be that the same calls from Admiral result in different behavior in VIC vs. docker. It is very likely that we are not processing the parameters to the network connect or docker create call properly.

[2017-01-17 21:03] hmahmood opened #3615 "Implement custom log formatter"
Acceptance:
* log formatter should conform to the logurs [Formatter](https://github.com/sirupsen/logrus/blob/master/formatter.go) interface
* all uses of logrus in VIC engine use the new formatter

[2017-01-17 21:04] hmahmood opened #3616 "Make logging package"

[2017-01-17 21:04] hmahmood opened #3617 "Subsume trace.Operation into logging calls"

[2017-01-17 21:09] dougm commented on #773
Note that vic-machine should already support inventory folders if provided as an absolute path:
[code]
Or relative to the datacenter:
[code]

However, the vic-machine suggestions do not recurse into folders.  In any case, customers expect to be able to specify resources by name, 'cluster1' in this case.  This has come in a number of times in gomvomi/govc as well.

Most of the changes should be wit

[2017-01-17 21:25] caglar10ur opened #3618 "Design tether"
As a nerd reading the source code of the project, I need to understand what how tether works, its internal details, plugin architecture and interaction component. I also would love if reading the tether source code could be little bit easy on eyes.

[2017-01-17 21:37] mhagen-vmware commented on #2340
So, having trouble following the entire thread here - but do we have an open bug with vsphere yet? While this may not be an error in our code, we have to be careful punting issues in that case because regardless of whether it is our fault or not we will still get blamed by customers for it. So we need to be our own advocates within vmware to fix issues in vsphere, and cause a real stink if they ma

[2017-01-17 21:46] dougm commented on #773
There are 2 high level issues related to folder support.  Spoke with @hickeng and this issue is related to inventory support for **creating new resources**.  For example, users should be able to specify which inventory folder container VMs are created in.  A separate issue is **finding existing resources** within inventory folders when the full path is not specified.

[2017-01-17 22:05] emlin commented on #3001
Fixed in latest code

[2017-01-17 22:05] #3001 closed

[2017-01-17 22:06] fdawg4l commented on #2340
No.  That's why I added George to the assignees in case there is someone or a component we could assign a bugzilla bug to.

Fully agree.  I don't think we punted it by putting it in *Not Ready*.  Punting would be lowering priority or closing.  It was *In Progress* due to the change which was pushed that we believed would fix the issue.  Then this issue was reopenned.  Since there is nothing else w

[2017-01-17 22:09] hmahmood commented on #3051
Some inconsistency problems to fix:

We lack consistency in our log output. For example, in vic-machine with `--debug 1` we get something like:
[code]

In addition we are using the default formatter object from [logrus](https://github.com/sirupsen/logrus), which just outputs the key value pairs, in addition to escaping `"` and `\n`:
[code]

This makes debugging even more challenging than it alread

[2017-01-17 22:10] dougm opened #3619 "Support inventory folders when creating new resources"
As a customer, I want to use vCenter inventory folders to organize inventory resources created by VIC so that I can apply management operations at the inventory folder level, such as RBAC.

Both vic-machine and VCH should support creating resources within inventory folders for existing types:

* VirtualApp

* VirtualMachine

And consider type we may create in the future, such as:

* DistributedVir

[2017-01-17 22:18] matthewavery commented on #506
@hickeng How are we feeling about this issue? I do not think this is an issue anymore tbh. I am advocating that we close this issue, but I will wait to see what you think.

[2017-01-17 22:19] hmahmood commented on #1986
Don't believe this is a problem anymore since we switched to using port 2377.

[2017-01-17 22:19] #1986 closed

[2017-01-17 22:21] dougm opened #3620 "Add find by name support to govmomi inventory Finder"
As a customer, I want to specify existing resources by name to vic-machine so I do not need to specify the full inventory path.

Inventory resource types specified as options to vic-machine include:

* Datacenter

* Datastore

* ResourcePool

* Network

* ComputeResource

When running vic-machine against ESX or VC without inventory folders, these resources can be specified by their name.  However,

[2017-01-17 22:21] matthewavery commented on #1503
Both the Doc issue and the PR were merged. There are integration tests in place to prove functionality and guard against regression now. Closing the issue.

[2017-01-17 22:21] #1503 closed

[2017-01-17 22:22] dougm commented on #3620
Most of the changes should be within the govmomi finder package and tests.  Unknown if there are any assumptions within vic-machine that would require additional changes.

[2017-01-17 22:24] fdawg4l commented on #3482
We need a plan of how we want to address this functionality.  One suggestion was to use overlayfs to implement COW on the volume.  In any case, investigation is required and an interface defined.

[2017-01-17 22:24] #424 closed

[2017-01-17 22:26] hickeng commented on #2340
@fdawg4l If the user re-pulls will it work? If the answer's no then this is high priority (and we'll have to figure out how to recreate and who to engage with on the hypervisor side) - if the answer's yes then it's medium or low and we'll still need to figure out who/how ;)

[2017-01-17 22:26] fdawg4l commented on #13
Not an issue and we can reopen it if we require it for vmotion.

[2017-01-17 22:26] #13 closed

[2017-01-17 22:27] jooskim opened #3621 "H5 UI Plugin won't show up in vSphere Client of vCenter 6.5 for Windows"
User statement: The local-cache approach for deploying the plugin doesn't work with H5 Client running on vCenter 6.5 for Windows. HTML SDK team mandates that we always use a web server to deploy the plugin. This will potentially be solved once VIC later has REST API server but for now we could circumvent the problem by embedding an HTTPS server in `vic-ui-*` which will be fired and killed automati