[2016-08-10 11:07] stuclem commented on #1599
Thanks @hmahmood

[2016-08-10 11:07] #1599 closed

[2016-08-10 12:21] stuclem opened #1900 "Document support for vCenter Server 5.5"
Per https://github.com/vmware/vic/issues/1856 and PR https://github.com/vmware/vic/pull/1891.

[2016-08-10 12:23] stuclem commented on #1712
The suggestion of valid networks is in PR https://github.com/vmware/vic/pull/1889.

[2016-08-10 12:27] stuclem opened #1901 "Document support for mapping a random host port to containers when the host port is not specified"
Per https://github.com/vmware/vic/issues/1735, which is merged in PR https://github.com/vmware/vic/pull/1873. Requires an updated to the entries for `docker run` and `docker port` in the table of supported Docker options.

[2016-08-10 12:29] stuclem commented on #843
https://github.com/vmware/vic/issues/812 is in progress

[2016-08-10 12:31] stuclem opened #1902 "Document how to change user/password in ESXi environment"
Per https://github.com/vmware/vic/issues/1879. No milestone yet.

[2016-08-10 14:30] mdubya66 commented on #1879
Assigning to @gigawhitlocks

[2016-08-10 14:36] mdubya66 commented on #1898
assigning to @hickeng for triage.

[2016-08-10 14:38] mdubya66 commented on #1888
Assigning to @jzt

[2016-08-10 14:42] mlh78750 commented on #1888
@jzt I have a nimbus setup that you can use to repro/test against if you want.

[2016-08-10 14:46] stuclem commented on #1527
A good thing to do is to deploy a VCH and watch the Recent Tasks view in the old C# client, which tells you a lot more about what is going on than the Web Client.

[2016-08-10 14:48] mdubya66 commented on #1878
This is a blocker to CI functioning correctly. Raising it's priority. @hmahmood will you take point on this and the other issues in this list?

#1878, #1870, #1822, #1823, #1109

[2016-08-10 14:49] mdubya66 commented on #1870
This is a blocker to CI functioning correctly. Raising it's priority. The others are:

#1878, #1870, #1822, #1823, #1109

[2016-08-10 14:49] mdubya66 commented on #1822
This is a blocker to CI functioning correctly. Raising it's priority. @hmahmood will you take point on this and the other issues in this list?

#1878, #1870, #1822, #1823, #1109

[2016-08-10 14:50] mdubya66 commented on #1823
This is a blocker to CI functioning correctly. Raising it's priority. @hmahmood will you take point on this and the other issues in this list?

#1878, #1870, #1822, #1823, #1109

[2016-08-10 14:50] mdubya66 commented on #1823
This is a blocker to CI functioning correctly. Raising it's priority. @hmahmood will you take point on this and the other issues in this list?

#1878, #1870, #1822, #1823, #1109

[2016-08-10 14:51] mdubya66 commented on #1109
This is a blocker to CI functioning correctly. Raising it's priority. @hmahmood will you take point on this and the other issues in this list?

#1878, #1870, #1822, #1823, #1109

[2016-08-10 14:57] mdubya66 commented on #1836
adding hasan as this is an issue being seen that's blocked successful CI runs

[2016-08-10 15:11] anchal-agrawal commented on #1898
Both are transient failures, they didn't show up in [3781](https://ci.vmware.run/vmware/vic/3781).

[2016-08-10 15:35] jooskim opened #1904 "Research H5 Client for VIC UI migration"
Fling: https://labs.vmware.com/flings/vsphere-html5-web-client#instructions

[2016-08-10 15:37] #1856 closed

[2016-08-10 15:42] anchal-agrawal commented on #1878
These errors are originating from [pkg/vsphere/vm/vm.go:199](https://github.com/vmware/vic/blob/master/pkg/vsphere/vm/vm.go#L199) and [pkg/vsphere/vm/vm.go:226](https://github.com/vmware/vic/blob/master/pkg/vsphere/vm/vm.go#L226)

[2016-08-10 16:33] jooskim commented on #531
According to Mike Hagen NGC testing cannot run on the current test environment because of internal dependencies that the test framework references. He said a new internal test environment is being set up. Closing the issue until it's ready.

[2016-08-10 16:33] #531 closed

[2016-08-10 18:14] hickeng commented on #1896
@fdawg4l same symptom, however in this case the VCH is the author of both of the operations rather than conflicting with a reconfigure operations originated by an unknown author.

[2016-08-10 19:22] jzt opened #1909 "task waiter should return the actual error or preserve it upon wrapping"
[code]

We are unable to inspect the `*types.TaskInfo` that comes along with this error. This makes it impossible to distinguish between various situations that may call for a different type of error propagation (for example, when the exec portlayer calls `vm.VirtualMachine.Reconfigure`, we can't know if it failed because the VM didn't exist or because of some other error, which is something we ne

[2016-08-10 19:31] jzt commented on #1640
I've written an integration test for this, will merge once local integration tests finish.

[2016-08-10 19:47] #1837 closed

[2016-08-10 19:54] #1640 closed

[2016-08-10 20:10] hmahmood opened #1910 "lib/guest unit tests require an ESX to run"
Unit tests should not reach to external resources like an ESX. Currently the tests under `lib/guest` all require an ESX URL to be set:

[code]
The tests should be rewritten to mock out the external resources, or we should move them to integration tests, or we could use vcsim for them.

[2016-08-10 20:29] #1321 closed

[2016-08-10 20:29] #1870 closed

[2016-08-10 20:56] andrewtchin commented on #1860
offending line https://github.com/vmware/vic/blob/master/lib/install/validate/network.go#L320

[2016-08-10 21:43] hickeng opened #1915 "Investigate concurrent use of govmomi session for multiple property collectors"
We need to confirm the behaviour of the underlying transport when running concurrent operations across the same vmomi session. This is primarily of interest for property collectors which require a persistent stream response. This may be related to #1878

There are two main combinations of interest:
- [ ] property collector established and streaming, followed by govmomi operations such as power off

[2016-08-10 22:15] jzt commented on #641
This seems to be resolved. @hickeng @caglar10ur @mdubya66 can you repro? If not, I suggest we close this.

[code]

[2016-08-10 22:16] hickeng opened #1916 "vic-machine install with non-existent VDS results in cascade error"
If the network isn't found for VC we still attempt to do a host check on it, resulting in very ugly error output.

We also see the following line, which I've not seen before:
[code]

Full output:
[code]

The validator should be updated so as not to continue with the vDS host check if the vDS doesn't exist.

[2016-08-10 22:18] hickeng commented on #1916
@emlin I've assigned this to you for re-assignment. The estimate is for fixing the error message.
If you can determine where the "Unsolicited response ..." comes from then please open another issue to address that as it's not a consistent failure.

[2016-08-10 22:19] jzt commented on #1822
@mhagen-vmware those don't seem to be the logs corresponding to this problem, but instead to the `docker kill` problem that I believe @dougm is already addressing.

[2016-08-10 22:28] jzt commented on #1878
@mhagen-vmware Are there more logs with this? Specifically, hostd logs would be useful for debugging this issue.

[2016-08-10 23:44] jzt commented on #1822
@mreferre, are you still able to reproduce this? I have attempted it but have been unsuccessful. I believe @caglar10ur's fix that went in last night may have solved this problem. I will test against a known slow/overused VC in our office to see if I can reproduce there.

Here is my output from my local ESX using NFS storage from a local VM (I hit the 8 VM limit on my ESX though, so there are fewer

[2016-08-11 01:43] emlin commented on #1916
Andrew, please have a look for this issue. Should be another edge case in vDS membership checking.
thanks

[2016-08-11 12:01] lazarin commented on #1821
I hit the same issue with build 3831. Seems like a regression since I never had this with build 3411.

1. I'm trying to run hello-world container - fails - no such image
2. list images - there are none
3. pull hello-world - seems OK
4. list images - there are none

[code]

Cannot find useful traces in the logs

[2016-08-11 14:11] andrewtchin commented on #1711
datastores in PR #1812
network in PR #1889

[2016-08-11 15:18] anchal-agrawal commented on #1109
As per the discussion with @hmahmood yesterday, vic-machine can't ping the engine server and the portlayer to check if they're up since they listen on localhost.

The installer currently waits on the key `"guestinfo..init.sessions|port-layer.started"` but that seems to be set when the portlayer process has been spawned, not when it has started serving. A solution would be to add two keys in [`Virt

[2016-08-11 15:38] mhagen-vmware commented on #1109
We currently have a sleep before each integration test it probably adds several minutes to each build, which is why it would be great if we could fix this and get rid of that sleep :)

[2016-08-11 15:46] #1834 closed

[2016-08-11 15:46] #1836 closed

[2016-08-11 15:48] matthewavery commented on #1870
Looks like both issues that are tied to this ticket have been merged. I will be investigating whether or not this has been resolved now.

[2016-08-11 15:49] matthewavery commented on #1823
Looks like both issues that were found to be tied to this one have been closed with merged fixes. I will be investigating whether this issue has been resolved now.

[2016-08-11 15:56] mhagen-vmware opened #1922 "Parallelize unit tests"
We already have at least three high level unit test areas that would seem to be ideal for making parallel in order to speed up build times:
TEST_DIRS=github.com/vmware/vic/cmd
TEST_DIRS+=github.com/vmware/vic/lib/
TEST_DIRS+=github.com/vmware/vic/pkg

Can we parallelize this in order to reduce build times?

[2016-08-11 15:59] #1569 closed

[2016-08-11 16:03] andrewtchin commented on #1916
I think this is a dup of #1800 and there's a PR out for that

[2016-08-11 16:40] fdawg4l commented on #1836
I hit this yesterday on an unhappy VC setup.  The following `govc` command exhibited the same behavior.

[code]

The host referenced was an a very unhappy state.  I needed to nuke and recreate it (which itself is not a workaround).  But, something was up with the host.  I couldn't tell what was wrong with it or how it got in that state, but all attempts to fix it weren't helping.  Just FYI.

[2016-08-11 16:41] #1860 closed

[2016-08-11 16:42] fdawg4l commented on #1836
I added some debug statements in `vic-machine` in case this is useful.

[code]

[2016-08-11 16:50] gigawhitlocks commented on #1651
@emlin the newline is there to separate hits. If you don't specify --force, it will print out each volume store that is *not* removed, for the user's reference, so the \n is to separate them. I fixed it incidentally in PR #1678

[2016-08-11 16:55] emlin commented on #1651
@gigawhitlocks then that's great 👍

[2016-08-11 16:57] emlin commented on #1916
@andrewtchin that's great. Please verify and close it with your PR

[2016-08-11 16:59] mhagen-vmware opened #1924 "Failure in CI test Stop a container with specific grace period"
This test has now failed 3 times in a row with 3 different errors:
3846: 125 != 0
[integration_logs_3846_936a10a4e99665dd7521fe7fbd8d6482296e0621_1470925723.zip](https://github.com/vmware/vic/files/413758/integration_logs_3846_936a10a4e99665dd7521fe7fbd8d6482296e0621_1470925723.zip)

3856: 1 != 0
[integration_logs_3856_cb88305b25486548b7829c822926f4c61b63f808_1470934272.zip](https://github.com/vmw

[2016-08-11 17:01] andrewtchin commented on #1916
Verified on master
[code]

[2016-08-11 17:01] #1916 closed

[2016-08-11 17:05] hickeng commented on #1879
This is exactly the same issue as any other form of vic-machine reconfigure so don't think of it as just 'update credentials'

[2016-08-11 17:52] hickeng opened #1928 "vic-machine: no default datastore for volume-store when only one datastore available"
Running vic-machine with `--volume-store=/volumes:default` (note the leading /) - expected this to work in the same way that `--compute-resource=/` works when there's a single cluster.

This is also a very misleading error message - what is the datastore hostname? What should the person invoking vic-machine do to set the hostname of the datastore?

[code]

On fix:
- [ ] error message doesn't menti

[2016-08-11 17:58] hickeng commented on #1928
Original estimate was just for correcting the error message, but this should also alter behaviour.

[2016-08-11 18:48] hmahmood commented on #933
The PR #1764 associated with the issue was reverted in #1927 . @fdawg4l is going to put up another PR for this, so reopening.

[2016-08-11 19:24] #1922 closed

[2016-08-11 20:22] jzt commented on #1083
Actually no, #1054 deals with image IDs, and this one deals with pulling by digest and running `docker images --digests`. They are very similar issues though and can probably be tackled at the same time.

[2016-08-11 20:25] anchal-agrawal commented on #1109
There's no other way to determine exactly when the portlayer has started serving other than pinging it. Since the portlayer isn't exposed, we can use the following dependency to ensure that the portlayer is serving before the installer exits.

`vic-machine waits until it can connect to the personality -> personality waits until it can connect to the portlayer`

@hmahmood @emlin

This approach may

[2016-08-11 20:36] gigawhitlocks commented on #1879
Right, this is actually pretty tricky of an issue, especially w/o some form of vic-machine update in place.

The way I imagine this working is adding the ability to do something like `vic-machine update --vch-user=root --vch-password=newpassword` and have `vic-machine` do the reconfiguration.

It should also be noted that this is only an issue for ESX targets -- VC targets use the extension keypai

[2016-08-11 20:39] #1210 closed

[2016-08-11 20:39] #925 closed

[2016-08-11 20:40] gigawhitlocks commented on #1778
I believe this is resolved by #1678

[2016-08-11 20:42] gigawhitlocks commented on #1218
Path forward: randomly generate a password at install time and echo it to the console at the end of the `vic-machine` installation? I can do this and re-enable SSH access to the appliance in one pull request once that strategy gets a 👍

[2016-08-11 22:46] caglar10ur opened #1935 "stop/shutdown could return an error"
stop fails with following error

[code]

because of a race between toolbox and API. In that case event logs shows that VM stopped just after the timeout.

[2016-08-11 23:51] caglar10ur opened #1938 "vic-machine panics"
[code]

following is how that script uses vic-machine
[code]

[2016-08-12 01:07] #1702 closed

[2016-08-12 01:16] emlin commented on #1938
@caglar10ur
This is really weird, the line optional_string.go:38
[code]
*b.val is defined in Data.go, and used in create command, which is not possible to have nil pointer issue.

So is there any other weird thing happens before or after this error? E.g. out of memory, etc.

[2016-08-12 01:24] caglar10ur commented on #1935
closing for now as I can't reproduce it anymore

[2016-08-12 01:24] #1935 closed

[2016-08-12 01:36] caglar10ur commented on #1938
Nope, nothing else is going on. Cleaned up the vm, building from scratch will let you know

[2016-08-12 01:40] caglar10ur commented on #1938
same result, this time I tried to deploy to ESXi

[code]

[2016-08-12 01:43] caglar10ur commented on #1938
to remove the script from the equation

[code]

[2016-08-12 01:48] caglar10ur commented on #1938
[code]
renamed  --image-datastore to --image-store and that was my issue but this panic is not helpful to understand

[2016-08-12 01:49] #1550 closed

[2016-08-12 01:50] dougm commented on #1924
Seen with the 10s grace period too:

[code]

https://ci.vmware.run/vmware/vic/3916

[2016-08-12 01:56] emlin commented on #1938
[code]

[2016-08-12 01:56] emlin commented on #1938
There should be something wrong. The above is the result I execute your command in my env

[2016-08-12 01:57] emlin commented on #1938
I just sync the latest code and build vic-machine

[2016-08-12 02:42] dougm commented on #1924
Looks like the test may just need to wait a bit.. possible we are sending the stop signal before the signal handler (shell trap) is registered within the container process.  In which case, it will exit on the stop signal, without having trapped/echo'd to the ${container}.log file.

[2016-08-12 03:35] mlh78750 commented on #1888
I'm attaching a log bundle. The only commands used on this VCH were the following:

(mikeh) Bauxite:~/vicbin/vic-3538 $ docker -H 10.161.246.167:2376 --tls ps -a
CONTAINER ID        IMAGE               COMMAND             CREATED             STATUS              PORTS               NAMES
(mikeh) Bauxite:~/vicbin/vic-3538 $ docker -H 10.161.246.167:2376 --tls create busybox
Unable to find image 'bus

[2016-08-12 03:51] mlh78750 commented on #1888
Confirmed this is also failing with today's build 3910. Find bundle attached.
[container-logs build 3910.zip](https://github.com/vmware/vic/files/414608/container-logs.build.3910.zip)

[2016-08-12 03:58] mlh78750 opened #1939 "vicadmin reports incorrect storage availability"
Build 3910 (8/11/16)

installed on VC but pointed to specific datastore on host for image-store.

Install command:
./vic-machine-darwin create --target 10.161.25.72 --image-store ds1 --name vic-test-mike3 --user Administrator@vsphere.local --password 'Admin!23'  --compute-resource /ha-datacenter/host/10.161.236.25/Resources --bridge-network bridge --external-network vm-network

Datastore ds1 has a

[2016-08-12 08:19] mreferre opened #1941 "local docker images duplicates?"
This may require a bit more testing but I wanted to flag it sooner than later.

I am iterating on an app that I am dockerizing and one of its components has been downloaded (docker pull) already on a VCH.

As I pushed a new version to docker hub I re-pulled it (with the same name). VIC seemed to recognize it was a different images (despite the same name:latest being already pulled locally) and it

[2016-08-12 08:40] mreferre opened #1942 "Image management deviates from standard docker engine."
I have experimenting a bit around docker pulls and I noticed a weird behavior with VIC in the way it manages references to images by their full path (i.e. including the registry piece).

More details and an exemple is provided in the PPTX attached but in a nutshell the key point is that a standard docker host is able to pull by image or by registry/image and keep said name when querying the docker

[2016-08-12 10:27] mreferre commented on #1942
BTW this <may> be due to the fact the build I am using doesn't support yet "tagging".

[2016-08-12 13:59] stuclem commented on #842
vic-machine ls is merged in PR https://github.com/vmware/vic/pull/1858.

[2016-08-12 14:01] stuclem commented on #837
Docker logs is merged in PR https://github.com/vmware/vic/pull/1931.

[2016-08-12 14:03] stuclem commented on #926
https://github.com/vmware/vic/issues/925 is merged in PR https://github.com/vmware/vic/pull/1678.

[2016-08-12 14:07] stuclem opened #1943 "Document change in behaviour of default datastore for volume-store when only one datastore available"
Per https://github.com/vmware/vic/issues/1928.

[2016-08-12 15:22] #1651 closed

[2016-08-12 15:23] mdubya66 commented on #1888
Re-assigning to @hickeng and @fdawg4l. We should look at this to see what we may be doing, if anything, to corrupt the vmdk.

[2016-08-12 15:26] jzt commented on #1813
Yep, closing.

[2016-08-12 15:26] #1813 closed

[2016-08-12 15:33] #1800 closed

[2016-08-12 15:42] mlh78750 commented on #1888
internal bug is open against 6.5 beta 3 for files left un deletable. 1704879

[2016-08-12 16:06] gigawhitlocks commented on #1879
Yeah this is actually fairly complex, especially while we don't have a `vic-machine update` or `reconfigure` sub-command (or something similar) in place or in progress

[2016-08-12 16:40] mhagen-vmware opened #1946 "Failure in docker kill test: signal container with default signal"
Build 3922 failed with the following issue:

[code]

[integration_logs_3922_57a4eb202703eeb7bb9e386dc590256b22fa1ee9_1471018933.zip](https://github.com/vmware/vic/files/415749/integration_logs_3922_57a4eb202703eeb7bb9e386dc590256b22fa1ee9_1471018933.zip)

[2016-08-12 16:49] mdubya66 commented on #1946
Adding @hmahmood as @dougm is out this week and we can't go another week of flakey CI

[2016-08-12 16:50] caglar10ur commented on #1946
3016 according to https://www.vmware.com/support/developer/vix-api/vix17_reference/errors/errors.html
VIX_E_TOOLS_NOT_RUNNING
Guest tools is not running.

[2016-08-12 16:55] mdubya66 commented on #1946
It's also sporadic

[2016-08-12 16:58] emlin commented on #116
@hickeng Please help to confirm on this issue. thanks

[2016-08-12 17:00] emlin commented on #1366
@fdawg4l @hickeng Could you please help to confirm on this issue? thanks

[2016-08-12 17:00] emlin commented on #1476
@hickeng Please help to confirm on this issue. thanks

[2016-08-12 17:01] emlin commented on #1166
@hickeng Please help to confirm on this issue. thanks

[2016-08-12 17:11] dougm commented on #1946
Likely another case where we need more time in between start and kill (or stop).  Either a sleep 1 or poll for tools state with govc vm.info<http://vm.info> -json, we do similar in .robot checking for power state.  Note that tether start waits until toolbox is initialized before start returns, but may not mean the vmx state considers tools running quite yet.

Sent from my iPhone

On Aug 12, 2016,

[2016-08-12 17:21] caglar10ur commented on #1946
Yep, that's also what I suspected but unfortunately clocks between host/guest and drone was out sync so it's hard to make sure about ordering of events. Looking at the other logs with the hope of spotting something, at worst case we can sleep/poll

[2016-08-12 17:23] #1778 closed

[2016-08-12 17:30] fdawg4l commented on #1366
@emlin I'm not sure what you're asking.  Apologies.

For clarity, I think we want a file in the log bundle that includes the output of `docker ps -a`, `docker images`, and `docker volume ls`.  Then, in another file, `docker inspect` for each container we found in `ps -a`.

@hickeng do you agree?

[2016-08-12 17:32] caglar10ur commented on #1946
[code]

[code]

[2016-08-12 17:51] caglar10ur commented on #1946
@dougm still reading the code but can't we use the ping trick that you used in tests to make sure that we at least receive one ping request before returning from start? I think I'll try that - unless pings are not issues by esxi

[2016-08-12 18:00] dougm commented on #1946
Tether waits past when the first ping happens, waits for the PowerOn callback.  Not sure if we should have tether start wait even longer.  You can see all rpc traffic with toolbox.Trace = true.  Could also have PL kill wait for tools running state if needed.  But probably simpler to just do so in the test for now, to see if that is indeed the issue.

Sent from my iPhone

On Aug 12, 2016, at 10:51

[2016-08-12 18:30] caglar10ur commented on #1946
[code]

another snippet. This shows that we register just fine. Following events are interesting though

[code]

*cough* internal code *cough* shows that this is happening because of a VMX reset, VMX is flushing all pending rpc requests and signals the clients to send them again - if needed.

[2016-08-12 18:54] mdubya66 opened #1952 "CI: need an integration test dashboard"
preserve all the robot html logs in a single dashboard
is there potential to use integration.vmware.run for this?

[2016-08-12 19:09] mhagen-vmware commented on #1823
[integration_logs_3947_140c4183042152f95cc42e790b5c7cfda58df935_1471027500.zip](https://github.com/vmware/vic/files/416015/integration_logs_3947_140c4183042152f95cc42e790b5c7cfda58df935_1471027500.zip)

[2016-08-12 20:28] emlin commented on #812
@hickeng Here is the draft based on my understanding, and with some assumption or questions inside. https://github.com/emlin/vic/blob/upgrade/doc/design/upgrade.md
As not be able to confirm with you for all issues, please have a look while you're working on the upgrade document.

[2016-08-12 20:42] mhagen-vmware opened #1954 "Failure in the image tests"
We saw this failure on one build yesterday.
[code]

[2016-08-12 20:42] mhagen-vmware commented on #1954
[integration_logs_3893_aac5bb5914e3ad8b3b6c2e1613d17779e4e3900e_1470950104.zip](https://github.com/vmware/vic/files/416148/integration_logs_3893_aac5bb5914e3ad8b3b6c2e1613d17779e4e3900e_1470950104.zip)

[2016-08-12 20:53] jzt commented on #641
Closing as fixed, @hickeng, @caglar10ur, @mdubya66 please reopen if you are able to repro.

[2016-08-12 20:53] #641 closed

[2016-08-12 21:44] mlh78750 commented on #1888
Just reproduced with build 3951 (.5 candidate) and 6.5 RC1

(mikeh) Bauxite:~/vicbin/vic-3951 $ ./vic-machine-darwin create --target 10.162.4.26 --image-store datastore1 --name vic-test --user Administrator@vsphere.local --password 'Admin!23'  --compute-resource /ha-datacenter/host/cluster/Resources --bridge-network bridge --external-network vm-network
INFO[2016-08-12T16:38:07-05:00] ### Installin

[2016-08-12 21:49] #1711 closed

[2016-08-12 21:56] mlh78750 commented on #1888
This seems to be the spot in the log where things start falling apart.
2016-08-12T21:41:37.287Z info hostd[F503B70] [Originator@6876 sub=Vimsvc.TaskManager opID=7d5ce024-01-45-ad39 user=vpxuser:vpxuser] Task Created : haTask--vim.host.OperationCleanupManager.createEntry-154397396
2016-08-12T21:41:37.287Z verbose hostd[F503B70] [Originator@6876 sub=PropertyProvider opID=7d5ce024-01-45-ad39 user=vpx

[2016-08-12 22:02] caglar10ur commented on #1946
I keep running the tests, this time it failed with

[code]

[2016-08-12 22:12] hmahmood commented on #1946
@caglar10ur did you take a look at the logs?

[2016-08-12 22:14] hmahmood commented on #1954
imagec.log:
[code]

[2016-08-12 22:16] caglar10ur commented on #1946
@hmahmood https://console.cloud.google.com/m/cloudstorage/b/vic-ci-logs/o/integration_logs_3950_646c4317f3d7dad2776f8af8e6fc3598be3244bb_1471031058.tar

[2016-08-12 23:23] hmahmood commented on #1946
From the logs it looks like we gave up too soon. Maybe 5x is not enough?

[2016-08-13 01:33] corrieb opened #1963 "Docker RM test govc call needs modifying for VC"
I'm raising an issue because I don't know the cleanest way to fix this, so delegating.

Simple problem is that the VCH vApp on VC means that govc ls /ha-datacenter/vm doesn't show the test containerVM. You have to prefix the vApp name.

This means that for the govc command in "Remove a container deleted out of band", you need the following: ${rc}  ${output}=  Run And Return Rc And Output  govc vm.

[2016-08-13 17:08] mdubya66 opened #1964 "update docs to v0.5.0"
Docs should be updated to reflect the version in the License and Notice.

[2016-08-13 17:10] mdubya66 opened #1965 "update software version to v0.5.0"
update vic-machine and vch versions to v0.5.0 to match current repo version

[2016-08-13 19:42] mhagen-vmware opened #1966 "Could not register the vSphere extension due to err: context deadline exceeded"
Failed to deploy VIC to a nimbus created VCH recently with this error:
[code]

[vmware.zip](https://github.com/vmware/vic/files/416741/vmware.zip)

[2016-08-14 15:53] mdubya66 commented on #1797
Putting this in the Icebox for now. We can look at pulling it out if we get the time.

[2016-08-14 15:55] mdubya66 commented on #1938
@caglar10ur : are you still seeing this?

[2016-08-14 18:03] #844 closed

[2016-08-14 18:03] #1528 closed

[2016-08-14 18:03] #820 closed

[2016-08-14 18:03] #1258 closed

[2016-08-14 18:03] #826 closed

[2016-08-14 18:03] #719 closed

[2016-08-14 18:03] #867 closed

[2016-08-14 18:03] #1598 closed

[2016-08-14 18:03] #1843 closed

[2016-08-14 18:03] #845 closed

[2016-08-14 18:04] #577 closed

[2016-08-14 18:04] #1668 closed

[2016-08-14 18:04] #933 closed

[2016-08-14 18:04] #1299 closed

[2016-08-14 18:04] #680 closed

[2016-08-14 18:04] #594 closed

[2016-08-14 18:04] #547 closed

[2016-08-14 18:04] #1329 closed

[2016-08-15 11:25] stuclem commented on #1808
https://github.com/vmware/vic/issues/1797 is in the icebox.

[2016-08-15 11:26] stuclem commented on #1964
Done in https://github.com/vmware/vic/pull/1968

[2016-08-15 11:41] stuclem opened #1969 "Document that vic-machine defaults to datastore if only one exists"
Per https://github.com/vmware/vic/issues/1206. Implemented in PR https://github.com/vmware/vic/pull/1957.

[2016-08-15 12:55] emlin opened #1970 "vic-machine create: change container-datastore to container-store"
Now, the image and volume are all using name XXX-store, to match it, should change container-datastore to container-store as well.

[2016-08-15 12:56] emlin commented on #1970
@stuclem per your suggestion, open this issue

[2016-08-15 12:58] emlin commented on #1970
@mdubya66 do we need to have it in 0.5?

[2016-08-15 12:58] stuclem opened #1971 "Document change from container-datastore to container-store"
Per https://github.com/vmware/vic/issues/1970.

[2016-08-15 13:02] stuclem commented on #837
Updated the table of supported Docker commands to include the caveat about the `--timestamps` and `--since` options:
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_app_dev/container_operations.md

[2016-08-15 13:33] emlin commented on #1965
@mdubya66 didn't find the version message from vic-machine inspect. Here is one sample
[code]

[2016-08-15 13:37] stuclem commented on #926
Updated https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md#image-store. Actually, @gigawhitlocks already updated the doc, but I tweaked it and added the bit about vic-machine creating the folder if it doesn't already exist.

[2016-08-15 13:53] stuclem commented on #1712
Updated the following sections in the topic on `vic-machine-create` options:

- [target](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md#target)
- []()
- []()
- []()

[2016-08-15 13:58] kjplatz commented on #1939
The "420G remaining" was a placeholder carryover from the mockup.  I have submitted a PR to correctly populate this.

[2016-08-15 14:05] stuclem commented on #1712
Also updated the `--target` section in the doc for `vic-machine delete` and `inspect `to say that they suggest valid DCs:
- [Delete](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/delete_vch_options.md#target)
- [Inspect](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/inspect_vch_options.md#target)

[2016-08-15 14:12] mhagen-vmware opened #1973 "Errant log message: sh: 3: /ha-datacenter/host/10.160.223.154/Resources: not found"
The installer completed successfully, and was usable without issue but for some reason vic-machine create ended with the above error message.  The vic-machine.log doesn't actually report it though:
[code]

[2016-08-15 14:15] mhagen-vmware commented on #1973
Also seeing this:
sh: 2: /ha-datacenter/host/10.162.37.213: not found

[2016-08-15 14:18] stuclem commented on #1969
Incidentally, once https://github.com/vmware/vic/pull/1957 is merged, then the --image-store option will no longer be mandatory, so I'll need to move it out of the section on mandatory options.

[2016-08-15 14:34] stuclem commented on #1850
Added version info in the topic on Support Docker commands:
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_app_dev/container_operations.md

@mdubya66 is this OK?

[2016-08-15 14:35] #1964 closed

[2016-08-15 14:38] mdubya66 commented on #1965
Closing as not a bug.

[2016-08-15 14:38] #1965 closed

[2016-08-15 14:49] emlin commented on #1966
@mhagen-vmware can I access your vc env? I didn't see obviously error from vpxd log

[2016-08-15 15:11] mdubya66 commented on #366
This cannot be closed until the other half of the work in #1682 is merged and tested together.

[2016-08-15 15:13] mdubya66 commented on #366
while this part is merged it is not done as it can't really be tested without #1682.

[2016-08-15 15:21] mhagen-vmware opened #1974 "Error response from daemon: [POST /storage/volumes/][500] createVolumeInternalServerError &{Code:0xc82000f540 Message:volumestore (http://VCH-0-8191/storage/volumes/default) not found}"
Saw this issue on the latest attempt to test the build on VC in nimbus.  Here is the log bundle:
[VCH-0-8191-container-logs.zip](https://github.com/vmware/vic/files/418319/VCH-0-8191-container-logs.zip)

[2016-08-15 15:37] mhagen-vmware commented on #1966
env doesn't exist anymore.  And this passed once I was on the office network this morning.

[2016-08-15 15:38] mhagen-vmware commented on #1966
If that error is coming from a normal VC operation, maybe we can have lifecycle team take a look at the bundle?

[2016-08-15 15:48] #1954 closed

[2016-08-15 16:08] emlin commented on #1966
Yeah, that is a normal VC operation, to register one extension only. It would be better to have lifecycle team have a look, or file a bug to VC team.

[2016-08-15 16:09] emlin commented on #1966
From our side, not much to do, to be honest.

[2016-08-15 16:13] hmahmood opened #1975 "Make vic-machine support taking datastore path for appliance and bootstrap isos"
Currently we upload the bootstrap and appliance iso's every time we create a VCH for the integration tests (each time we run a .robot file). We really just need to reference the already built iso's every time we create a VCH.

vic-machine already has an option to specify appliance and bootstrap iso file paths, `--appliance-iso` and `--bootstrap-iso`, and we can make those options use datastore pat

[2016-08-15 16:14] #1225 closed

[2016-08-15 16:21] stuclem opened #1976 "Document that vic-machine supports taking datastore path for appliance and bootstrap ISOs"
Per https://github.com/vmware/vic/issues/1975. No milestone yet.

[2016-08-15 16:39] jooskim commented on #1590
Finished writing initial tests, but have a blocker w/ CI integration because the environment doesn't allow connecting to internal network. Mike Hagen said last week that another test environment was being set up.

[2016-08-15 17:07] #1206 closed

[2016-08-15 17:09] hickeng commented on #1166
@emlin The currently model absolutely requires a shared datastore for images.

With work we could allow more flexibility here at the expense of constrained placement of VMs on hosts, but for the moment we don't have that capability.

If there is only one host that is attached to all the datastores specified for the various stores then we should absolutely warn the customer as it impacts ability to

[2016-08-15 17:32] mhagen-vmware opened #1978 "push up networks to install vic keyword arguments"
push them up so that individual test cases can set the variables if needed.

Install vic appliance to test server
     [Arguments]  ${certs}=${false}  ${vol}=default  ${bridge}=network  ${external}='VM Network'
     Set Test Environment Variables  ${certs}  ${vol}  ${bridge}  ${external}

[2016-08-15 17:38] emlin commented on #1166
ok, fair enough.

[2016-08-15 17:53] jooskim commented on #1904
Some observations and thoughts about H5 Client and SDK:
* Regarding the known limitation in the Flex client's capability to show an HTML-based portlet in the Summary view, we now have a workaround that will make it possible to display the HTML version for the H5 client and Flex version for the Flex client, in one plugin package.
* Knowing that H5C works with VC 6.0 and will be shipped with 6.5, th

[2016-08-15 17:58] mhagen-vmware commented on #1974
This was seemingly caused by an inaccurate compute-resource being specified in the vic-machine create command.  We need to handle that better. Either 1. fail the install if the compute resource doesn't work out, 2. does volume-store create really need a compute resource in order to be successful?

[2016-08-15 18:01] mhagen-vmware commented on #1973
This was due to the automation scripts not pulling the correct compute resource when there are multiple hosts within a VC.  This needs to be fixed in the integration scripts.

[2016-08-15 18:02] caglar10ur commented on #1946
Another failure, this time ESXi shows a protocol error caused by toolbox's reply

[2016-08-15 18:21] #1614 closed

[2016-08-15 18:27] corrieb commented on #1086
This should be a P0 candidate. It's been flagged by the Bellevue team as an issue and we identified it in mid-July as a significant UX problem

[2016-08-15 18:31] hmahmood commented on #1946
@caglar10ur is that just a timeout?

[2016-08-15 18:34] mdubya66 commented on #1086
making a p0 as this is more prevalent that originally thought

[2016-08-15 19:13] caglar10ur commented on #1946
@hmahmood not sure, this time it looks like start failed. We don't have all the logs (like debug) and vmware.log shows toolbox timeouts but it manages to register itself so that means tether was also running.

[2016-08-15 19:36] hmahmood commented on #1946
Sorry I should have put this in my previous comment. I asked because the timestamps around the error differ by ~30s:
[code]

[2016-08-15 20:07] corrieb opened #1980 "Docker stop integration test(s) failing with 0.5 tag build against VC"
Using build 3991, I came across a bunch of failures in the docker stop tests.
[code]

[2016-08-15 20:12] corrieb commented on #1980
Seems like the step where the debug is downloaded is failing

[suite-html.zip](https://github.com/vmware/vic/files/418850/suite-html.zip)
[VCH-0-6682-container-logs.zip](https://github.com/vmware/vic/files/418849/VCH-0-6682-container-logs.zip)

[2016-08-15 20:23] sflxn commented on #1687
I did more investigation. The path I was looking at (inspect data) was a red herring.  I ran a debug build of docker and see that it is also doing an attach.  The container's exit causes the attach to end.  The following is the output from a debug build of the docker daemon:

[code]

In the end, it appears this is just another run of the mill inability to detect a process exited issue.  This is re

[2016-08-15 20:34] mdubya66 commented on #1904
Don't forget that we have to support 5.5 as well. Not sure if it matters

[2016-08-15 20:39] jooskim commented on #1904
I've already made the Flex version work with 5.5. HTML version will only work on H5 Client though. The two versions (Flex and HTML) could be put into one package each of which will be loaded depending on which client you're on.

[2016-08-15 20:43] jzt commented on #1036
@mhagen-vmware is it only the error message that we are interested in?

[2016-08-15 20:49] mhagen-vmware commented on #1036
For the original issue, yes.  Not sure how it relates to the issues that @hickeng  mentioned.

[2016-08-15 21:47] corrieb commented on #1942
You may be right about tagging. Imagec seems to be fine here, but docker run doesn't recognize the image we're talking about

root@ubuntu-1604-vmware:~/vic/src/github.com/vmware/vic-n# docker pull registry.hub.docker.com/library/nginx
Using default tag: latest
Pulling from library/nginx
a3ed95caeb02: Pull complete
51f5c6a04d83: Pull complete
51d229e136d0: Pull complete
bcd41daec8cc: Pull complete

[2016-08-15 21:58] caglar10ur opened #1986 "[6.5] vic-machine port check fails"
6.5 comes with 8080 disabled. We should find a default that works with 5.5/6.0 and 6.5

[code]

[2016-08-15 22:12] caglar10ur opened #1987 "[integration] add Cmd and Entrypoint tests"
so that we can catch issues like https://github.com/vmware/vic/pull/1985

[2016-08-15 22:59] sflxn opened #1989 "Research spike: Investigate the correct timeouts for all portlayer calls"
Currently, all calls outside of attach uses the default swagger timeout of 30s.  We should re-examine what the correct timeouts for each individual calls to the portlayer.  For instance, docker start does not appear to have a set timeout from a quick skim of Docker's code.  For docker start, we might want to have an infinite timeout?  #1733 is an existing issue to add an infinite timeout for attac

[2016-08-15 23:08] hickeng opened #1990 "vicadmin: pprof connections are not closed"
While investigating a 100% cpu issue with vicadmin I'm noticing too many threads with open net connections, and netstat shows that we have various connections persisting to the pprof servers.

It's possible that this is intentional, but I'd guess not given the number of threads in the vicadmin pprof trace in the attached bundle.
[logs.zip](https://github.com/vmware/vic/files/419159/logs.zip)

[cod

[2016-08-15 23:10] corrieb opened #1991 "vicadmin server consumes 100% CPU in 0.5 tag candidate"
I have tried to reproduce the steps I went through initially, but have been unable to. However, I have a log bundle with pprof enabled which I will attach here. Logging into the appliance confirms with top that it's the admin server looping, not being restarted.

I will keep the VCH alive as long as I can so that it can be poked if necessary.

[logs.zip](https://github.com/vmware/vic/files/419166/

[2016-08-15 23:22] sgairo commented on #1991
@corrieb were you running multiple VCH off of the same host?

[2016-08-15 23:22] sflxn commented on #1687
I checked the VIC portlayer logs when running the operation in question.  There is no attempt to attach stdin, which is as expected.  I was just verifying this to be the case.

I think if we add the ability to detect the container exiting in the interaction portlayer, this issue will be resolved... partly.  There is still the fact that docker run calls container wait at the end.

[2016-08-15 23:23] mreferre commented on #1822
I am attaching the logs of a similar occurrence (using build 3991).
[container-logs.zip](https://github.com/vmware/vic/files/419185/container-logs.zip)

root@ubuntu:~# ./multiple-containers-create.sh
instantianting container: nginx0 - c18c8cd7c127c77b001918d34f49d305a5e49010806d6802b96092de5296ae6e
instantianting container: nginx1 - 3c289d3d7e65c14df2b7ed22d596335a00dce416a3d56a7478e63b0059ebc44d

[2016-08-15 23:23] corrieb commented on #1991
This is against VC. Yes I think there was another VCH on there at the time

[2016-08-15 23:25] hickeng commented on #1991
I grabbed a profile via :6061/debug/pprof/profile (which we really should include in the bundles!).
[vic-admin.zip](https://github.com/vmware/vic/files/419188/vic-admin.zip)

The `top` from profile is:
[code]

and cross-referencing that with the stack traces from the bundle then this thread is maxing CPU:
[code]

[2016-08-15 23:26] sgairo commented on #1991
what was the space allotted to your host? I have had a similar issue in the past and it was because I was creating multiple VCH against VC with the same host but there wasn't enough space. Once I increased it, it works fine.

[2016-08-15 23:29] corrieb commented on #1991
@sgairo plenty of space. < 40% memory used. Plenty of CPU and disk

[2016-08-15 23:33] hickeng commented on #1991
This is almost certainly a code problem in `main.findSeekPos` - I'm not sure precisely what. I *highly* recommend some unit tests to track down this problem once a hypothesis as to the exact issue is formed.

[2016-08-15 23:39] sflxn commented on #1822
I just looked at the code.  I really think this is a timeout issue and not a portlayer issue.  If the portlayer is also using docker's truncindex code then it is possible that there is a problem there, but as far as I know, it is not.

ContainerRm() looks up the full container ID (using the short name which is 60 in this case) as the first operation.  If it cannot find the container partial id, th

[2016-08-15 23:39] corrieb commented on #1991
Yea looking at it, this is exactly the kind of code that's very hard to verify visually

[2016-08-16 01:11] corrieb commented on #1638
Seems related/dup of #1942. This is going to get a lot more focus as it prevents containers being deployed from Bellevue

[2016-08-16 08:49] stuclem commented on #1469
Implementation of https://github.com/vmware/vic/issues/1781 is in PR https://github.com/vmware/vic/pull/1982.

[2016-08-16 08:49] stuclem commented on #1712
Reviewed by @andrewtchin via Slack.

[2016-08-16 08:49] #1712 closed

[2016-08-16 08:49] #837 closed

[2016-08-16 08:50] #926 closed

[2016-08-16 12:18] stuclem opened #1995 "Document H5 client for VIC UI"
Per https://github.com/vmware/vic/issues/1904. No milestone yet, but in progress. Presumably this is for the post-GA release to go with vSphere 6.5.

[2016-08-16 12:24] stuclem opened #1996 "Document that image-store must be shared between all hosts in a cluster"
Per https://github.com/vmware/vic/issues/1166#issuecomment-239863028 from @hickeng.

[2016-08-16 12:26] stuclem commented on #1969
https://github.com/vmware/vic/pull/1957 is now merged.

[2016-08-16 12:30] stuclem commented on #843
Draft ideas for upgrade are in PR https://github.com/vmware/vic/pull/1955

[2016-08-16 12:56] stuclem opened #1997 "Document status reporting"
Per https://github.com/vmware/vic/issues/116

[2016-08-16 13:04] stuclem commented on #1521
This is still in To Do on the dev side, so moving this one back to backlog.

[2016-08-16 13:49] corrieb commented on #368
Finger in the air initial sizing:

Need to implement System.AuthenticateToRegistry. Estimate at least a day for initial impl and testing. Beyond that, there may be implications on the transport. To implement the authentication via central server could easily take a week to test and implement, depending on the experience of the engineer.

[2016-08-16 14:13] stuclem opened #1998 "Running vic-machine ls on a host that is managed by VC returns an empty list"
When you run `vic-machine ls` and specify an ESXi host in the `target ` option, if that ESXi host is managed by vCenter Server, `vic-machine ls` returns an empty list. This happens even if there are VCHs running on that ESXi host in VC. This is potentially misleading.

If possible, `vic-machine ls` should return an error stating that the target host is managed by VC XXX, as is the case when you tr

[2016-08-16 14:57] mdubya66 commented on #1638
Moving this up in the priority list. @jzt please take a look

[2016-08-16 16:02] hmahmood opened #1999 "VCH should not reboot endlessly on panic"
Currently if the vic-init process (which is the default process on the VCH) panics, we reboot the VCH. This is not useful at all because we need to look at the logs for the panic call stack, etc.; these are obliterated on reboot.

We need to:
1. stop rebooting on panic
2. launch vic-admin as a separate (systemd) service so that it is always running on the VCH, even if vic-init crashes

[2016-08-16 16:10] kjplatz opened #2000 "Ensure volumes are writeable when creating VIC appliance"
When attempting to create a VIC appliance, it will quietly succeed when assigning a volume store that the VCH does not have write permissions to.  For example, using the following command will succeed in creating a volume on datastore2:bing (assuming the directory bing exists on datastore2):

[code]

However, the user will not be able to write anything to either the myvol or myvol2 datastores, and

[2016-08-16 16:15] matthewavery commented on #1974
cc @gigawhitlocks

[2016-08-16 16:18] gigawhitlocks commented on #1974
Assigning myself to have a look at this once I finish #1982

[2016-08-16 16:41] mhagen-vmware commented on #1822
Saw this again on a build from yesterday;

[integration_logs_4015_81e1bdb20765d0148cb96b27bdee095989de893a_1471297550.zip](https://github.com/vmware/vic/files/420785/integration_logs_4015_81e1bdb20765d0148cb96b27bdee095989de893a_1471297550.zip)

[2016-08-16 16:42] mhagen-vmware opened #2002 "switch integration log bundle to zip so it is more convenient to upload to github"

[2016-08-16 16:46] #1939 closed

[2016-08-16 17:00] mhagen-vmware commented on #1488
Calling this done now, based on our meetings in SF and the agreement on the QA presentation I gave to the leads then the entire team.

[2016-08-16 17:00] #1488 closed

[2016-08-16 17:19] mhagen-vmware opened #2004 "write test to ensure #1778 is caught"
#1778

[2016-08-16 17:40] stuclem commented on #842
Added new topics on `vic-machine ls`:
- [List Virtual Container Hosts and Obtain Their IDs](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/list_vch.md)
- [Virtual Container Host List Options](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/list_vch_options.md)

Added the new `id `option in the topics on the `vic-machine inspect` and `delete` options:

- [vic-ma

[2016-08-16 17:43] #1752 closed

[2016-08-16 18:03] corrieb opened #2006 "Cannot map container port to 8080 (not available)"
root@ubuntu-1604-vmware:~/vic/src/github.com/vmware/vic-n# docker run -d -p 8080:80 nginx
4c85c24058372f10334a419c077c333bbd70546f2abbef069ac01f93ea4b5c71
docker: Error response from daemon: error mapping ports: port 8080 is not available.

Speculation on vic-dev is that the port layer is published on port 8080. Many customer demos will expect to be able to use port 8080 to publish on, so this is

[2016-08-16 18:31] sgairo commented on #1952
I found this interesting, does it relate to what you are looking for? https://github.com/boakley/robotframework-hub

[2016-08-16 18:49] emlin commented on #842
This looks good. 👍

[2016-08-16 19:31] #1788 closed

[2016-08-16 19:35] sgairo opened #2008 "Improper CSS layout on VIC Admin page"
![vicadmin](https://cloud.githubusercontent.com/assets/19394901/17713164/0e39ac42-63bf-11e6-96c5-9d9ce914816a.png)

[2016-08-16 19:58] #1785 closed

[2016-08-16 20:03] sflxn commented on #1733
I was looking at the code for the go-httpclient round tripper and looked at the go-swagger runtime.  I'm not sure we need to do anything with the round tripper to make this hold indefinitely.  For attach, we're using calls with context, which has no timeouts if we don't specify any.  If we specify 0 for timeouts, it should hold indefinitely, but then we will need to think about the error condition

[2016-08-16 20:07] sflxn commented on #1687
Just chatted with @hickeng.  There is one side effect that we have now that we need to deal with.  The fact that the container is still running even though /bin/sh should have exited.  It appears the tether is creating a stdin for the container regardless of what we specify for attach.  That is why /bin/sh is not exiting and the container continues to run.

We need some mechanism to tell the tethe

[2016-08-16 20:11] hickeng opened #2010 "vic-admin free space remaining incorrect"
vic-admin status page says 420GB remaining yet datastore total capacity is 30.5GB and free is 20.12GB.

Reality:
![image](https://cloud.githubusercontent.com/assets/3923729/17713991/8c510e02-63b2-11e6-87cc-2819ea103f37.png)

vic-admin:
![image](https://cloud.githubusercontent.com/assets/3923729/17714009/a13a9c84-63b2-11e6-87ca-48d421d90294.png)

[2016-08-16 20:58] mhagen-vmware opened #2011 "Failed to fetch image blob"
Saw this on a recent CI build:
[integration_logs_4070_fe089a13384da6e9e62355813a33948ccb8da951_1471380846.zip](https://github.com/vmware/vic/files/421275/integration_logs_4070_fe089a13384da6e9e62355813a33948ccb8da951_1471380846.zip)

[2016-08-16 21:00] mhagen-vmware commented on #2011
[code]

[2016-08-16 21:02] mhagen-vmware commented on #2011
[code]

[2016-08-16 21:20] mhagen-vmware opened #2013 "Error response from daemon: [POST /storage/volumes/][500] createVolumeInternalServerError &{Code:0xc82000f700 Message:Another task is already in progress.}"
Saw this in one of the latest CI:
[integration_logs_4076_fb4a743b76b95b99029f483c596efe1638984ce3_1471381988.zip](https://github.com/vmware/vic/files/421311/integration_logs_4076_fb4a743b76b95b99029f483c596efe1638984ce3_1471381988.zip)

[2016-08-16 21:21] caglar10ur opened #2014 "[6.5] vic-machine fails to remove"
[code]

[2016-08-16 21:21] #2008 closed

[2016-08-16 21:22] mhagen-vmware commented on #2013
[code]

[2016-08-16 21:22] caglar10ur commented on #2014
[hostd.log.zip](https://github.com/vmware/vic/files/421313/hostd.log.zip)

[2016-08-16 21:23] mhagen-vmware commented on #2013
[code]

[2016-08-16 21:27] mhagen-vmware opened #2015 "Failed to fetch OAuth token: Get https://auth.docker.io/token?scope=repository%!A(MISSING)library%!F(MISSING)busybox%!A(MISSING)pull&service=registry.docker.io: dial tcp:"
Saw this failure on a recent CI build:

[integration_logs_4080_5685722d6a53cec1a6f3a82c7d2fc5664b06a35b_1471382669.zip](https://github.com/vmware/vic/files/421318/integration_logs_4080_5685722d6a53cec1a6f3a82c7d2fc5664b06a35b_1471382669.zip)

[2016-08-16 21:28] mhagen-vmware commented on #2015
From imagec.log:
[code]

[2016-08-16 21:28] mhagen-vmware commented on #2015
From docker-personaliy.log:
[code]

[2016-08-16 22:17] #1897 closed

[2016-08-16 22:33] #1853 closed

[2016-08-17 00:08] fdawg4l opened #2018 "PL PANIC on GET to /containers/list"
I wanted to see the values being returned via `List()` of containers.  This apparently PANICs.

Swagger spec says this should be possible
[code]

[code]

[code]

[2016-08-17 00:10] caglar10ur commented on #1938
Yep, I just did

[code]

[2016-08-17 00:10] fdawg4l commented on #2018
Ah.  Since `all` is optional, it can be `nil`.

Minor change.

[2016-08-17 00:10] sflxn commented on #368
While I don't think this is going to take long, it's not exactly a day.  The good news is that we can reuse some of Docker's code.  The bad news is that it may or may not be compatible with how we authenticate in imagec today.  The documentation says we can pull using either credentials or token.  Imagec today, relies on credentials.  That's not the OAuth2 way.  Fine, I can resolve that.  There ar

[2016-08-17 08:10] stuclem commented on #951
See also this socialcast post (VMware internal): https://vmware-com.socialcast.com/messages/31433553

[2016-08-17 08:16] stuclem commented on #1900
PR https://github.com/vmware/vic/pull/1891 is merged.

[2016-08-17 08:17] stuclem commented on #842
Thanks @emlin!

[2016-08-17 08:18] #842 closed

[2016-08-17 08:19] stuclem commented on #1771
https://github.com/vmware/vic/issues/1166 is implemented in PR https://github.com/vmware/vic/pull/2005.

[2016-08-17 13:36] mreferre commented on #1822
Interestingly, I am now seeing the "no such container" problem even when trying to delete containers that have been previously deployed just fine.

Here it is what I mean:

        root@lab-vic01:~# docker --tls ps
        CONTAINER ID        IMAGE                  COMMAND                  CREATED             STATUS              PORTS               NAMES
        623137ef7262        mreferre/haprox

[2016-08-17 13:48] #1978 closed

[2016-08-17 14:16] mdubya66 commented on #2006
I consider this a show stopper. Marking as p0.

[2016-08-17 14:19] mdubya66 commented on #1980
While this is on VC and not part of our integration tests yet it is a show stopper. Assigning to @hickeng for initial triage

[2016-08-17 14:20] mdubya66 commented on #1975
Putting this in Icebox for now.

[2016-08-17 14:22] stuclem commented on #1976
https://github.com/vmware/vic/issues/1975 is now in the icebox.

[2016-08-17 14:39] mdubya66 opened #2021 "docker stop results in an RPC error returned from portlayer"
**VIC Version:**

0.5.0

**Code**
[code]

**Expected behavior:**
The container to stop without error

**Actual behavior:**
Error response from daemon: server error from portlayer : Operation failed: An RPC send operation failed. - (&{{} %!s(*types.GenericVmConfigFault=&{{{{<nil> [{{} msg.vigor.transport.rpc.send.fail [] An RPC send operation failed.}]}}} An RPC send operation failed.}) An RPC send

[2016-08-17 14:51] #1266 closed

[2016-08-17 14:57] mdubya66 commented on #1638
Asking anchal to take a look at this.

[2016-08-17 15:01] emlin opened #2023 "change container VM directory in VMFS"
Container VM name is changed from ID-><name>-ID to make slightly easy to read. But the VM folder in datastore is not changed, if the datastore is not vSAN.
This issue is to track the change for VMFS file system.

[2016-08-17 15:01] emlin commented on #2023
This change will impact integration test

[2016-08-17 15:36] emlin commented on #1938
I reproduced it as well after I update golang to 1.7.
There might have something different, will look at this after finished upgrade versioning issue.

[2016-08-17 16:49] kjplatz opened #2027 "vic-machine aborts with nil pointer dereference"
When attempting to perform a vic-machine delete, a nil pointer derefence is generated:

[code]

This is when running against master and commit 1640c93047f49277bb8169c21d31eeab7bc0beca

[2016-08-17 17:05] mhagen-vmware opened #2028 "Error while pulling image manifest: Unexpected http code: 401, URL: http://registry-1.docker.io/v2/library/busybox/manifests/latest"
Saw this on one of the recent builds:
[integration_logs_4108_874f5840ed1e42f06dca17d602cdc3c68a7ec0e1_1471448360.zip](https://github.com/vmware/vic/files/423120/integration_logs_4108_874f5840ed1e42f06dca17d602cdc3c68a7ec0e1_1471448360.zip)

[2016-08-17 17:08] mhagen-vmware commented on #2028
from imagec.log:
[code]

[2016-08-17 17:17] caglar10ur commented on #2015
ok so I  think this clearly shows that dns lookup failed while trying to resolve auth.docker.io not sure what to do. Suggestions?

[2016-08-17 17:18] caglar10ur commented on #2011
same with #2015, shows dns lookup failure

[2016-08-17 17:28] stuclem commented on #924
Updated the following topics for VC 6.0:

- [Install the vSphere Integrated Containers Plug-In on vCenter Server For Windows, without SFTP or a Web Server](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/plugin_vc_no_sftp_or_web.md)
- [Install the vSphere Integrated Containers Plug-In on vCenter Server For Windows by Using SFTP](https://github.com/stuclem/vic/blob/master/d

[2016-08-17 17:31] mhagen-vmware commented on #2015
Seen in this build as well:
[integration_logs_4111_62f785f9155a6b9de0d1696df2096a6917acf084_1471450142.zip](https://github.com/vmware/vic/files/423176/integration_logs_4111_62f785f9155a6b9de0d1696df2096a6917acf084_1471450142.zip)

[2016-08-17 17:32] mhagen-vmware commented on #2011
Seen in this build as well:
[integration_logs_4111_62f785f9155a6b9de0d1696df2096a6917acf084_1471450142.zip](https://github.com/vmware/vic/files/423177/integration_logs_4111_62f785f9155a6b9de0d1696df2096a6917acf084_1471450142.zip)

[2016-08-17 17:35] mhagen-vmware commented on #2015
Seen in this build as well:
[integration_logs_4108_874f5840ed1e42f06dca17d602cdc3c68a7ec0e1_1471448360.zip](https://github.com/vmware/vic/files/423183/integration_logs_4108_874f5840ed1e42f06dca17d602cdc3c68a7ec0e1_1471448360.zip)

[2016-08-17 17:38] mhagen-vmware commented on #2013
Seen in this build also:

[integration_logs_4100_9bd28f7edd64a6d9211d59cc0d71ed91cf686575_1471390242.zip](https://github.com/vmware/vic/files/423189/integration_logs_4100_9bd28f7edd64a6d9211d59cc0d71ed91cf686575_1471390242.zip)

[2016-08-17 17:42] mhagen-vmware commented on #2028
Seen also in this build:
[integration_logs_4106_ad928bba496805bc2a9a7fce1364b3b5dfcf8e24_1471444627.zip](https://github.com/vmware/vic/files/423203/integration_logs_4106_ad928bba496805bc2a9a7fce1364b3b5dfcf8e24_1471444627.zip)

[2016-08-17 17:43] mhagen-vmware commented on #2015
[integration_logs_4106_ad928bba496805bc2a9a7fce1364b3b5dfcf8e24_1471444627.zip](https://github.com/vmware/vic/files/423207/integration_logs_4106_ad928bba496805bc2a9a7fce1364b3b5dfcf8e24_1471444627.zip)

[2016-08-17 17:45] mhagen-vmware commented on #2011
Seen in this build also:
[integration_logs_4097_816441ecbb71d6974ee234c320e7dc3f6c82f452_1471389864.zip](https://github.com/vmware/vic/files/423210/integration_logs_4097_816441ecbb71d6974ee234c320e7dc3f6c82f452_1471389864.zip)

[2016-08-17 17:46] mhagen-vmware commented on #2015
Seen in this build also:
[integration_logs_4097_816441ecbb71d6974ee234c320e7dc3f6c82f452_1471389864.zip](https://github.com/vmware/vic/files/423214/integration_logs_4097_816441ecbb71d6974ee234c320e7dc3f6c82f452_1471389864.zip)

[2016-08-17 17:46] mhagen-vmware commented on #2028
[integration_logs_4097_816441ecbb71d6974ee234c320e7dc3f6c82f452_1471389864.zip](https://github.com/vmware/vic/files/423216/integration_logs_4097_816441ecbb71d6974ee234c320e7dc3f6c82f452_1471389864.zip)

[2016-08-17 18:07] mdubya66 commented on #1822
I saw the "no such container" today after I borked the portlayer when I found #2021

[2016-08-17 18:43] #924 closed

[2016-08-17 20:31] caglar10ur opened #2033 "secrets.yml needs to be versioned"
Or at least contain a comment on the top of the file like SOA where we can increase every time we edit it. Otherwise it's impossible to know who uses which version.

As an engineer on the project I would like to see secrets.yml be versioned in order to avoid different developers overwriting each others changes.

[2016-08-17 20:48] kjplatz commented on #2010
@hickeng Can you verify this against the current build?  PR #1972 should have addressed this yesterday.

[2016-08-17 20:51] sgairo commented on #2010
^^ Correct, this was a placeholder value while we implemented it, which should have been merged yesterday.

[2016-08-17 20:53] matthewavery commented on #1896
Looks like #2013 is also suffering from this issue.

[2016-08-17 21:29] sgairo opened #2037 "Remove container health status from vicadmin until after GA"
With current setup, measuring container health doesn't make sense. In the future, we will add a section that reports on information about containers. Additionally, Docker 1.12 has built in health checks that could be at our disposal, however, we are currently running Docker 1.11 .

[2016-08-17 21:38] mhagen-vmware opened #2038 "${output} = Error response from daemon: server error from portlayer : Operation failed: The attempted operation cannot be performed in the current state (Powered off). - (&{{} %!s(*types.InvalidPowerState=&{{{{<n..."
Saw this in a recent CI build:
[integration_logs_4112_c61b35292f46740fc318eab050a8fde3a426853b_1471463307.zip](https://github.com/vmware/vic/files/423662/integration_logs_4112_c61b35292f46740fc318eab050a8fde3a426853b_1471463307.zip)

[2016-08-17 21:42] caglar10ur commented on #1822
happened just now

[code]

[2016-08-17 21:43] caglar10ur commented on #1822
[logs.zip](https://github.com/vmware/vic/files/423673/logs.zip)

[2016-08-17 21:59] caglar10ur commented on #2028
from the first log bundle

[code]

this clearly shows that we did everything correct, the scope is there, we managed to obtain the oauth token but when we fired the request docker registry decided to return 401 as response to us hence we failed. #2032 will handle this.

[2016-08-17 22:08] caglar10ur commented on #2028
The other log doesn't show 401 but a dns timeout so not related with this bug

[code]

[2016-08-17 22:11] mhagen-vmware commented on #1974
Was able to reproduce this locally while trying to run concurrently 4 integration test runs:
[VCH-0-4678-container-logs.zip](https://github.com/vmware/vic/files/423718/VCH-0-4678-container-logs.zip)

Making this back into a p0 as it will block the ability to run concurrent builds on an ESX system.

[2016-08-17 23:28] #2015 closed

[2016-08-17 23:30] caglar10ur commented on #2028
Closing this now that #2032 is merged

[2016-08-17 23:30] #2028 closed

[2016-08-17 23:30] caglar10ur commented on #2011
Closing this now that #2032 is merged

[2016-08-17 23:30] #2011 closed

[2016-08-18 00:12] sflxn commented on #368
Here is a breakdown of the work I believe that is needed to get docker login completed.  It's a rough estimate based on initial investigation.

1. Investigate the TLS and insecure path for login for VIC  (est 2 days)
  - Most of this is debugging and tracing docker and harbor (e.g. getting Harbor up and going with TLS or tracing docker behavior for insecure auth).  I do not believe there is a lot

[2016-08-18 00:32] mdubya66 commented on #368
@karthik-narayan please comment on @sflxn's questions. @corrieb

[2016-08-18 00:43] sflxn commented on #368
I was able to do a docker login with VIC and an insecure Harbor server.  I'm having some difficulty getting Harbor up with TLS. Digging into that tonight.  Please note, that although I can login, the token handling in docker pull and imagec hasn't been touched yet.  The above estimate for number 1 still holds.

[2016-08-18 06:57] sflxn commented on #368
I now have a pretty good understanding of how this all works. and what needs to be done.  First, I was able to login with VIC to an insecure Harbor server as mentioned above.  I was not able to pull any images or create any after logging in.  Here are some notes:

1. After logging on, the CLI creates ~/.docker/config.json with credentials or token.  With my current setup, it is saving credentials

[2016-08-18 07:03] sflxn commented on #368
### To Dos:

Here are more detail info on what needs to be done.

1. Add flag to personality server to accept insecure registry (very easy)
2. Add code to login to personality server (very easy)
3. Figure out scopes in Harbor
4. Test with an external credential store
5. Look at imagec authentication and authorization code and fix it
6. Verify OAuth2 tokens are used for docker pull
7. Write lots of

[2016-08-18 08:53] mreferre opened #2042 "docker: Error response from daemon: error mapping ports: port <xyz> is not available."
Currently using rel 0.5.

I have a script that instantiate 5 containers and exposes them on some ports (-p x:y)

I have noticed that sometimes the script fails like this:

         967a2a33a1ab1657a58975a485bfac0c72d5413d6524c4183ed5e77e4d077e33
         docker: Error response from daemon: error mapping ports: port 8001 is not available.
         8fe14151060ddd24091b1b69a336d23c4491dd1e9057f96e5f5

[2016-08-18 15:00] mhagen-vmware opened #2043 "Running integration tests concurrently fails"
Not sure how to tackle this any better, so creating this epic as a bundle and we can either start breaking it up into constituent issues or start dissecting some other way.

The bundle to end all bundles:
[concurrent.zip](https://github.com/vmware/vic/files/425217/concurrent.zip)

The bundle contains 4 directories (test1,test2,etc) for each run that includes the robot output and then a single dire

[2016-08-18 16:10] reasonerjt commented on #368
Hi, for configure Harbor with TLS, please refer to:
https://github.com/vmware/harbor/blob/master/docs/configure_https.md

Essentially, it's setup https on nginx and make docker engine/vic engine trust that cert.

[2016-08-18 16:12] reasonerjt commented on #368
And for 10) we'll vendor docker/distribution 2.5.0 with Harbor.

[2016-08-18 17:13] hmahmood commented on #2006
The port layer uses 8080, as well as the attach server. We need to move both to obscure ports.

[2016-08-18 18:39] jooskim opened #2045 "--serverThumbprint flag is not recognized in vic-ui"
Using build 4031, UI installer fails because `vic-ui` it couldn't recognize the `--serverThumbprint` flag which is needed for plugin deployment

**Expected**
`vic-ui install ~~~~ --serverThumbprint 11 22 33 AA BB CC ...` should complete successfully

**Actual**
It fails with the following message

[code]

[2016-08-18 19:15] mdubya66 commented on #2043
can we throw hardware at this? what would it take?

[2016-08-18 19:35] corrieb commented on #368
@sflxn, this is really great investigation work and I want to thank you for having that ready for our call this morning.

Do please reach out to the harbor team whenever you need assistance - they're keen to help.

To answer your questions above

Harbor is the principal focus and priority. Curious as to how docker login to docker hub different?

If it's a stepping stone on the way to our ultimate

[2016-08-18 19:37] mdubya66 commented on #368
@corrieb would it make sense to get insecure login working as the first milestone?

[2016-08-18 19:42] corrieb commented on #368
Subject to Loc's confirmation, I would say yes. Once we have this in our back pocket, this issue is no longer the blocker it once was

[2016-08-18 20:34] #1109 closed

[2016-08-18 21:41] hmahmood commented on #2006
[code]

[2016-08-18 22:19] caglar10ur opened #2050 "Add more testing to imagec"
To test most if not all the cases

[2016-08-18 22:22] hmahmood commented on #2006
2377 is still available: http://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.txt

I am going to use that since we are already using 2378 for vicadmin.

[2016-08-18 22:25] hickeng commented on #2043
@mdubya66 We should be able to do this however. Unless this is a nested issue throwing resources at it isn't going to eliminate the root cause and that root cause could impact customers.

[2016-08-18 22:33] hickeng commented on #2043
@mhagen-vmware looking at concurrent.zip\test1\log.html:
The test `Docker ps all containers` is failing because there's no `dmesg` container. This is deceptive as the reason for that is that this test depends on the successful completion of the prior test `Docker ps only running containers`.
This test should be rewritten to have a setup phase that creates the containers the subsequent tests operat

[2016-08-18 23:08] hickeng commented on #2043
@mhagen-vmware the test1 suite 1-16 (network ls) tests are failing because the port layer has come up so slowly that the personality has given up (failed to repopulate container cache message).

This is only a code problem if, subsequent to that message, additional `network ls` commands continue to  report no bridge network even once the port layer is up.

[2016-08-18 23:39] #2050 closed

[2016-08-19 01:55] hmahmood opened #2053 "docker pull fails with error 500 from port layer"
Get this error in the test suite for several tests for PR #2049 (see attached logs for build [4170](https://ci.vmware.run/vmware/vic/4170)):

[code]

[integration_logs_4170_7c25b65f0beb59332358ab785fabeba1b3c8bd75_1471566347.zip](https://github.com/vmware/vic/files/426175/integration_logs_4170_7c25b65f0beb59332358ab785fabeba1b3c8bd75_1471566347.zip)

[2016-08-19 04:36] caglar10ur commented on #2053
@fdawg4l I think we need your help here, port-layer log shows following

[code]

so not sure why it returned 500. Could there be a timing hole somewhere? Timestamps show that CreateStore and the Refresing the cache happens at the same time

[2016-08-19 13:46] stuclem opened #2055 "Document that container health status is not in vic-admin"
Per https://github.com/vmware/vic/issues/2037. No milestone yet.

[2016-08-19 13:59] #1938 closed

[2016-08-19 14:09] emlin commented on #1966
@mhagen-vmware are you still seeing this?

[2016-08-19 14:42] #2027 closed

[2016-08-19 15:22] hickeng commented on #1823
This should be addressed by checking for the illegal state reponse (text reason is "The operation is not allowed in the current state", but that's true if the VM is still powered on as well so we should attempt to get the actual state).
The fallback path in this scenario is to unregister the VM and then delete it's folder using FileManager.

[2016-08-19 15:44] mhagen-vmware commented on #1966
Haven't tried this at home again since.

[2016-08-19 16:56] mhagen-vmware commented on #1725
In progressing this, as we think that @matthewavery PR may fix this: #2058

[2016-08-19 16:57] caglar10ur opened #2059 "ensureComponentsInitialize is not using ctx"
it should either be longer than 10sec or needs to honor timeout option

[2016-08-19 17:22] fdawg4l commented on #2053
#zipfilesaredumb

[2016-08-19 17:30] fdawg4l opened #2062 "Make finding integration logs for tests that fail easier"
[code]

Finding the relevant log file in this zip file (which contains yet more zip files) for integration tests is kind of annoying.  Can we at least annotate the name with the integration test and it's pass/fail status?

[2016-08-19 18:03] hickeng commented on #1823
At this time I'm inclined towards the following:
1. add slight delay (which makes me cringe) in the containerVM shutdown path to avoid guestinfo updates colliding with power off. This should reduce the indcience of the issue.
2. add a check to the delete path that falls back to unregister/filemanager.remove
3. document that this can occur and that deleting the container is the solution.

[2016-08-19 18:17] mhagen-vmware commented on #2033
I have spent probably a bit too much time investigating this and talking with Fabio, unfortunately this is going to have to be iceboxed until we move to drone 0.5, as there is not really any good way to do this until then.

[2016-08-19 18:18] mhagen-vmware commented on #2033
Once we move to drone 0.5 they have moved the secrets to a db from the yml file and we will be able to much better maintain consistent secrets and prevent reversion.

[2016-08-19 18:30] caglar10ur commented on #2033
in the meantime can't we add a comment in the top of the file

[code]

[2016-08-19 18:30] mhagen-vmware commented on #1845
@karthik-narayan Any progress on this yet?  Any sketch of initial ideas I might be able to work off of?

[2016-08-19 18:36] mhagen-vmware commented on #2033
I did consider that, but what does it really buy us? Without a programmatic solution, it is just another variable that may or may not get updated properly and won't really solve the problem will it?

[2016-08-19 18:41] caglar10ur commented on #2033
At least we can refer it with something, no? In the past I used old secrets.yml file to update secret file without realizing it. So we could ask are you using version X questions. But of course manual updating is error prone so not sure...

[2016-08-19 18:48] mhagen-vmware commented on #2033
Yea, not really any good solution here at all at this point that I can see, as I am loathe to add yet another update item to the secrets file that already has so many problems. I am just fairly certain that if we add a comment like that, it is just going to not get updated or people will just still revert to old versions because it is just so easy to do and completely easy to ignore still.

[2016-08-19 18:51] emlin commented on #1966
@mhagen-vmware The timeout is for almost the whole create operation. From your vic-machine log, the image upload takes 11m, and after that extension registration failed immediately.
You probably set timeout to 15m, including resource validation, there is no time left for anything else.
Please try longer timeout to see if anything different.

[2016-08-19 19:01] mhagen-vmware commented on #1966
I set the timeout to 30min and 60min as well and saw the same error.

[2016-08-19 20:01] emlin commented on #1966
Then please post that output as well. From this one, not likely it is 30 or 60 minutes.

I think this is still because of your slow env, cause I cannot reproduce it through wifi and vpn. But the output could help me to understand what's happening.

[2016-08-19 20:04] sflxn commented on #368
Yeah, insecure login is a good milestone.  Secure vs insecure isn't what I am currently worried about.  Docker login is actually quite easy.  I already have VIC logging in with insecure Harbor.  It's also logging into docker hub over secure https (hopefully that means logging into a secure Harbor just works).  It's updating docker pull and imagec to correctly handle OAuth that may take awhile.  Ho

[2016-08-19 20:20] mhagen-vmware commented on #1966
But if it took 11 minutes to upload and we still had 4 minutes left, why would it take over 4 minutes to just register the extension which was the next step after upload right? That should never take that long especially on a system that is sitting idle not doing anything else right?

[2016-08-19 20:23] hmahmood commented on #2053
github won't let you upload tar.gz's

[2016-08-19 20:56] fdawg4l opened #2064 "Image cache doesn't persist tag information"
https://github.com/vmware/vic/blob/master/cmd/imagec/imagec.go#L391

[code]

`WriteImage` can only be called once for a given ID.  Calling it again with nil data will not update the metadata associated with an image.  So basically nothing is being persisted here.

We need another means for you to keep an updated set of tag information which is mutable.  The Image calls won't allow you to do that (

[2016-08-19 21:22] fdawg4l commented on #2064
[code]

Yeah, this is just wrong.

[2016-08-19 23:03] hmahmood commented on #1823
One cause of this is active property collectors on the VM config during shutdown leading to invalid VM config in the aftermath. Container rm comes after stop, and exposes this invalid VM state. We do wait for the power state to change after we issue a kill to the container process, and that power state change wait relies on the property collector. So at least property collector is active during sh

[2016-08-19 23:12] sflxn commented on #368
The OAuth workflow in imagec is broken.  Fixed a few bugs.  I have another day for imagec's auth code to be fixed.  It doesn't appear the docker pull code needs a lot of changes other than to allow for insecure registries.

[2016-08-19 23:53] fdawg4l commented on #2053
Several problems in the code here.  The issue is you have 2 clients (probably both the personality) asking the port layer to create an image store.

First issue- The PL Rest handler for create image store will only return the "already exists" error if the storage layer returns `os.ErrExist`.  However, the only path we return that error is if the store we're trying to create is already in the cache

[2016-08-21 17:54] fdawg4l opened #2069 "Remove call to CreateImageStore from docker image cache and imagec"
From #2053

`CreateImageStore` should be called from the docker personality on startup and not on every interaction with the storage layer involving images.  Right now, `imagec` and the image cache call this function (mostly due to legacy).

I don't understand why the image cache is calling this at all.  If you guys can clarify, I can remove this first.

[2016-08-21 21:23] fdawg4l opened #2070 "Remove image from image cache when rmi is called"
`docker rmi` will remove images from the image store.  However, something needs to purge the entry from the image cache (in the docker daemon) if the image store call is successful.

[2016-08-22 09:02] stuclem opened #2072 "Document which ports are used by internal VIC services"
Per https://github.com/vmware/vic/issues/2006, which is implemented in PR https://github.com/vmware/vic/pull/2056.

[2016-08-22 09:10] stuclem opened #2073 "Document when vic-machine option values need to be escaped"
Per this [SocialCast posting](https://vmware-com.socialcast.com/messages/31466650), clarify when you need to escape the values for all `vic-machine` options. We currently state that usernames and passwords need to be escaped if they contain special characters and that datastore names and paths support hyphen and underscores, but not other characters.

However, we also need to mention the following

[2016-08-22 10:33] stuclem opened #2074 "Documentation: update vic-machine create examples"
A lot of new stuff has been added to `vic-machine create` since  I last updated the examples. They definitely need refreshing and expansion with new examples.

[2016-08-22 15:08] #1036 closed

[2016-08-22 15:55] emlin commented on #1966
The other 4 minutes are just some time might be used before upload images, cause vic-machine will do validation for all configured parameters.
Please post all vic-machine log if next time this issue is reproduced, then we can have clear idea for how long time each step took.

[2016-08-22 16:11] stuclem commented on #2073
I have updated the following doc topics to describe when to wrap options in quotes:
- [Virtual Container Host Deployment Options](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md)
- [Virtual Container Host Inspect Options](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/inspect_vch_options.md)
- [Virtual Container Host Delete Optio

[2016-08-22 16:14] anchal-agrawal commented on #2059
#1992

[2016-08-22 16:51] fdawg4l commented on #2064
cc: @hickeng

[2016-08-22 16:53] fdawg4l commented on #2070
This is related to #2064 (image cache isn't persisting anything).  Since images (and their metadata) are immutable, this "up-call" to freshen the image cache is needed.

[2016-08-22 17:18] jzt commented on #2064
Isn't this precisely what the PL-side k/v store was supposed to solve?

In docker world, the `repositories.json` file serves this purpose:

[code]

We discussed this with @corrieb and @hickeng when we were designing the approach for the image metadata/caching stuff.

[2016-08-22 17:28] hickeng commented on #2064
@jzt yes, this is specifically what the global PL k/v store was intended for.

[2016-08-22 17:31] hickeng commented on #1999
@hmahmood In general I agree, but this is actually awkward to accomplish while preserving the restart behaviour for the cases where it does help.

First pass at this should be to stash a log bundle prior to restart - that allows for diagnostics irrespective of subsequent behaviour.

[2016-08-22 17:49] hmahmood commented on #1999
@hickeng stashing the log bundle is fine, but it doesn't stop the infinite reboot cycle, and could possibly lead to running out of space on the datastore eventually.

I would argue that when we panic there is more of a chance that a subsequent boot will always panic, as opposed to say a configuration error like not being to get an IP address from DHCP. This I am basing on just my experience with v

[2016-08-22 17:52] hickeng opened #2079 "Persist appliance log bundle on shutdown"
Currently when the appliance shuts down, all of the logs are dropped due to stateless filesystem. Generally this isn't an issue as they can be pulled via vicadmin however it leaves a hole between VM poweron and vicadmin initialization during which we're unable to tell what has occurred.

The log bundle is the contents of /var/log/vic/ at a minimum - ideally it would include the rest of the local c

[2016-08-22 17:57] hickeng commented on #1999
@hmahmood it entirely depends on the cause of the panic - if it's because of a malformed configuration for example then rebooting is not going to help. If it's because of out-of-space or similar runtime error then a reboot should address it. As you say (and part of what I was referencing in my comment) - detecting a reboot cycle is awkward.

I've opened #2079 for persisting the log bundle (so we c

[2016-08-22 18:01] fdawg4l opened #2080 "Implement KV store in PL for generic personality specific data"
This KV store will implement

- CRUD semantics
- There will be no cache for it in the PL unless we find usage pattern to require it.
-  Also this data should be cleaned up when vic-machine removes the VCH.
-  Should follow the same URI based image store mechanism to namespace the k/v data (in case we fan in personalities each with their own image store).

[2016-08-22 18:02] fdawg4l commented on #2080
cc @jzt and @cgtexmex

[2016-08-22 18:04] fdawg4l commented on #2080
From @hickeng

So basically that means the URIs will be per host then. Simple enough to implement.

`datastore1 /<root dir>/<vch uuid>/storage/kv/<UUID for the vch host passed as param>`

[2016-08-22 18:08] fdawg4l commented on #2064
@hickeng Just closing the loop.  An issue asking for one was never created so it wasn't done.

 Created #2080 to track it.  Obviously, this is required for GA.

[2016-08-22 18:21] hickeng commented on #1823
@hmahmood The event based logic should help but we cannot guarantee that no property collectors are registered when the VM shuts down so we will need the fallback logics as well.

[2016-08-22 18:25] fdawg4l commented on #2080
From @hickeng

Sounds good.

[2016-08-22 18:26] hickeng commented on #2080
@fdawg4l we can put the file in the applianceVM directory - that should simplify things immensely as the scoping is identical.

[2016-08-22 18:31] fdawg4l opened #2081 "Remove redundant "images" directory from path when vic-machine -i only includes a datastore"
`./vic-machine-linux create ... -i datastore1`

**Expected behavior:**
`./VIC/564d9a86-068d-dfad-823e-0d0a2b4c76df/images/scratch/scratch.vmdk`

**Actual behavior:**
**./images**`/VIC/564d9a86-068d-dfad-823e-0d0a2b4c76df/images/scratch/scratch.vmdk`

[2016-08-22 18:35] fdawg4l commented on #2080
Ok, so in that case it will live in `<vm folder>/kv`.  And the expectation is it will be created on startup (as part of `Configure` in the API REST handler).  If we want to namespace these, we'll need to revisit creation. (Basically we'll need to know what VCHs exist as we start up, but lets not consider that just yet).

[2016-08-22 18:48] hickeng commented on #2069
This is currently blocking #2054 / #2061

[2016-08-22 19:05] hickeng commented on #2059
@anchal-agrawal @caglar10ur 's point is not addressed in #1992 - currently there is a hardcoded delay rather than making use of the remaining duration from the vic-machine `--timeout` option.

[2016-08-22 19:23] anchal-agrawal commented on #2059
@hickeng Yep, my comment was just a placeholder to tag the related PR. I'm working on this right now.

[2016-08-22 19:37] #2053 closed

[2016-08-22 19:49] mdubya66 commented on #368
I'd suggest iterating on this instead of one big pull request.

[2016-08-22 20:38] jzt commented on #1822
It makes sense to me that, if a context deadline was exceeded in a swagger call during the write step on the portlayer, the container would actually get created but not cached on the persona side, resulting in the ability to see the container in a `ps` but not act upon it except within persona operations that use the portlayer as the source of truth with regard to container existence.

That being

[2016-08-22 20:41] jzt commented on #2069
I should be able to refactor the image store creation step out of the cache `Update`.

[2016-08-22 20:42] fdawg4l commented on #2069
Rawk.  Thanks @jzt!

[2016-08-22 22:21] #2059 closed

[2016-08-22 22:26] caglar10ur commented on #2014
same again, just installed and removed without doing anything in between

[code]

[2016-08-22 22:40] sflxn commented on #368
I'll be issuing a PR either end of today or early tomorrow.  I have code to fix the OAuth workflow in imagec.

There is a new wrinkle.  It's back to secure vs non-secure.  Non-secure registry has a vic installation implication.  It needs to know the non-secure registry at startup because we are using docker's distribution code to perform the login.  This was extra work I did not anticipate so I in

[2016-08-23 03:20] #1681 closed

[2016-08-23 04:32] derekbeard commented on #1966
Hi Mike and Emma. I don't see any failed ExtensionManager.registerExtension calls in that support bundle.  Emma, can you confirm that I'm looking for the correct API?

Thanks,

Derek

[2016-08-23 08:35] #2073 closed

[2016-08-23 08:44] stuclem commented on #1850
This is done and merged. Closing.

[2016-08-23 08:44] #1850 closed

[2016-08-23 09:03] stuclem commented on #1971
https://github.com/vmware/vic/issues/1970 is implemented in PR https://github.com/vmware/vic/pull/2078.

[2016-08-23 09:07] stuclem commented on #843
PR https://github.com/vmware/vic/pull/2031 adds versioning to ISO files, which is a step towards implementing VCH upgrade.

[2016-08-23 09:16] stuclem opened #2086 "Document how vic-machine validates the DPG for container-network-xx options"
Per https://github.com/vmware/vic/issues/1602, which is implemented in https://github.com/vmware/vic/pull/2075 (not merged yet).

[2016-08-23 09:43] stuclem opened #2087 "Language review of all customer visible strings"
I saw a couple of error messages in a PR today that needed a bit of cleaning up, language-wise. This is undoubtedly true for other customer-visible texts. Since we don't have a lot of UI, this exercise is probably limited to error messages, vic-machine output and log messages.

@mdubya66, how should we proceed? If messages are included in resource files rather than hardcoded, that will make life a

[2016-08-23 13:27] #1862 closed

[2016-08-23 13:42] #1557 closed

[2016-08-23 14:01] #2045 closed

[2016-08-23 14:01] lazarin opened #2089 "VIC does not return image name"
**VIC Version:**

0.4.0 / build #4031

**Code**

1. Create alpine container
2. Inspect the container CLI / RestAPI
3. Image element should return image name, but it has internal VIC's image id

[code]

**Expected behavior (as it is on regular docker host):**
[code]
**Actual behavior:**
[code]

[2016-08-23 14:05] mhagen-vmware opened #2090 "Unit test failure on CI system"
https://ci.vmware.run/vmware/vic/4258
[code]

[2016-08-23 14:06] lazarin opened #2091 "VIC returns container command doubled"
**VIC Version:**

0.4.0 / build #4031

**Code**
1. Create alpine container
2. Inspect the container CLI / Rest API
3. Cmd element has the content doubled

[code]

**Expected behavior (as returned from regular docker host) :**
[code]
**Actual behavior:**
[code]

[2016-08-23 14:22] npakrasi commented on #1807
Added to Supported Docker commands.

[2016-08-23 14:24] andrewtchin commented on #1970
completed in #2078

[2016-08-23 14:24] #1970 closed

[2016-08-23 14:26] stuclem commented on #1971
https://github.com/vmware/vic/pull/2078 is merged

[2016-08-23 14:33] emlin commented on #1966
@derekbeard you're right.

But from the vic-machine output, we can see that extension registration failed immediately after image upload. That means client might not send out extension registration at all.
So this issue might be caused by the slow network connection through VPN.
@mhagen-vmware see this again?

[2016-08-23 14:33] mhagen-vmware opened #2092 "Failed to obtain list of images: [GET /storage/{store_name}][404] listImagesNotFound"
https://ci.vmware.run/vmware/vic/4271

[integration_logs_4271_a331e5a85fe9269e8f3b306535442f15990fb500_1471962085.zip](https://github.com/vmware/vic/files/432662/integration_logs_4271_a331e5a85fe9269e8f3b306535442f15990fb500_1471962085.zip)

[2016-08-23 14:35] mhagen-vmware commented on #2092
From imagec.log:
[code]

[2016-08-23 14:37] mhagen-vmware commented on #2092
From portlayer.log:
[code]

[2016-08-23 14:42] mhagen-vmware commented on #1823
[integration_logs_4280_d6def22e628d9502782fc1bde453d3b2ae457fc3_1471962043.zip](https://github.com/vmware/vic/files/432700/integration_logs_4280_d6def22e628d9502782fc1bde453d3b2ae457fc3_1471962043.zip)

[2016-08-23 14:57] mhagen-vmware commented on #2013
See also build:
[integration_logs_4277_540271e3d55c747b2e4c3338aa9fa000c6830c68_1471964133.zip](https://github.com/vmware/vic/files/432744/integration_logs_4277_540271e3d55c747b2e4c3338aa9fa000c6830c68_1471964133.zip)

[2016-08-23 14:58] matthewavery commented on #2013
PR #2058 should solve this issue. it is similar to #1725 and #1896

[2016-08-23 15:01] emlin commented on #812
As the upgrade feature scope is not clarified yet, move this issue back to TODO.
The #2031 is just pre upgrade support.

[2016-08-23 15:03] emlin commented on #2023
The PR is conflict with latest container rm logic. Is working on it now.

[2016-08-23 15:25] #2023 closed

[2016-08-23 15:27] emlin commented on #2023
It is a known issue for container rm. Portlayer error: "Failed to invoke operation: The operation is not allowed in the current state."
Passed with a rerun.

[2016-08-23 15:29] mdubya66 commented on #1867
marking for VIC GA for now. need to get create to fail then see what happens.

[2016-08-23 15:32] mdubya66 commented on #2087
@stuclem we should review these as best we can. Not everything is in a resource file, unfortunately. @emlin @hickeng can we help out here by figuring out a way to extract customer visible texts?

[2016-08-23 15:33] jzt commented on #1298
@hmahmood and I sad down with this yesterday and came up with an approach. It's currently prioritized under p0 bugs, but it will be the next thing I move to.

[2016-08-23 15:38] anchal-agrawal commented on #1638
This seems to be an image cache issue. An image from a private registry, such as `localhost:5000/ubuntu` is tagged as `ubuntu`, so a subsequent `run localhost:5000/ubuntu` fails because a cache lookup for `localhost:5000/ubuntu` fails. However, a `run ubuntu` succeeds after picking up the image that was pulled from the private registry since it was tagged as `ubuntu`.

This is different from docke

[2016-08-23 15:39] casualjim commented on #1840
change `"type": "bool"` to `"type":"boolean"`

for /vch/info

change `"contains"` to `"consumes"`

[2016-08-23 15:41] jzt commented on #1840
Need this fix in the portlayer spec as well:

https://github.com/vmware/vic/blame/master/lib/apiservers/portlayer/swagger.json#L1106
https://github.com/vmware/vic/blame/master/lib/apiservers/portlayer/swagger.json#L1112

[2016-08-23 15:43] fdawg4l commented on #2069
Looks like we're still racing on the image cache creation logic.  Can you guys remove the create call from the image cache asap?  #2092 seems to manifest this.

[2016-08-23 15:43] casualjim commented on #1840
and the defiinition EndpointConfig should either remove gateway from the required array or it should add the property gateway

[2016-08-23 16:13] jzt commented on #2069
PR should be up momentarily, just waiting on these tests to finish!

[2016-08-23 16:17] anchal-agrawal opened #2093 "[minor] Typo in user output string"
https://github.com/vmware/vic/blob/master/cmd/imagec/docker.go#L141

[2016-08-23 16:19] kjplatz commented on #1991
Fixed by PR #2035  and unit tests implemented

[2016-08-23 16:53] cgtexmex commented on #2018
dupe #1767

[2016-08-23 17:59] dougm commented on #1682
Should also be useful to debug #1946

[2016-08-23 18:00] corrieb commented on #1638
@anchal-agrawal We need to be functionally consistent with Docker here.

We urgently need to have a proposal for a fix and a size for how long it's going to take. This and #368 are currently flagged as must-haves for VMworld. If you need to get with other folks such as Caglar and George in order to hammer out a plan, we need to do that today.

[2016-08-23 18:41] mhagen-vmware opened #2095 "Unit test CI failure in vic-init"
Was this build, before @gigawhitlocks restarted the job, may be related as well to #2090:
https://ci.vmware.run/vmware/vic/4291
[code]

[2016-08-23 18:42] mhagen-vmware opened #2096 "Unit test failure in vicadmin"
Was this build before @cgtexmex restarted the build:
https://ci.vmware.run/vmware/vic/4290
[code]

[2016-08-23 18:58] mhagen-vmware commented on #2095
Possibly a dupe of #2090 as well

[2016-08-23 18:59] mhagen-vmware commented on #2096
Potentially related to #2090 and #2095

[2016-08-23 18:59] jzt commented on #1638
Since imagec currently cannot yet report back to the persona when it pulls an image, the persona needs to reach out to the portlayer to ask for information on what to cache once the pull is complete. Because of this, the repository information must be stored either in or alongside the image metadata on the PL side. Obviously this is going in the opposite direction from what we want (image immutabi

[2016-08-23 19:00] jzt commented on #1638
related:  https://github.com/vmware/vic/issues/2064

[2016-08-23 19:10] #2081 closed

[2016-08-23 19:25] andrewtchin commented on #1787
I reproed this on a nimbus esx and in this case found that this is a manifestation of the invalid state bug in #1823
[code]

[2016-08-23 19:26] kjplatz opened #2099 "VCH restarts if required process cannot be restarted."
Test setup:
1. Login to VCH appliance
2. Remove/rename /sbin/port-layer-server
3. Kill the port-layer-server

(Note: this works with the docker-engine-server and the vicadmin processes as well)
**Expected behavior:**
System attempts to restart a finite number of times, and then reports an error, leaving the VCH up and running in order to download logs

**Actual behavior:**
VCH immediately reboots.

[2016-08-23 20:08] mhagen-vmware commented on #1822
Seen also in 8-1 tests here:
[integration_logs_4295_5a80961523980906b45050c2fd07a40463833faf_1471982194.zip](https://github.com/vmware/vic/files/433445/integration_logs_4295_5a80961523980906b45050c2fd07a40463833faf_1471982194.zip)

[2016-08-23 20:49] vmtocloud opened #2102 "vIC error when using a private insecure registry"
**VIC Version:**

0.5.0 / master

**Code**
// A self-contained demonstration of the problem follows...

When trying to pull an image from a private registry I get an error. When testing on a host with Docker running locally the same registry runs fine.

Here is the command that I run:
docker -H 192.168.100.170:2376 --tls pull reg.corp.local/library/myblog:latest

**Expected behavior:**
Image pulle

[2016-08-23 20:55] #2090 closed

[2016-08-23 20:59] matthewavery commented on #1560
This was closed in a previous PR but the ticket was missed in the actual pr. pr #2058 is reenabling the test for this case which shows that we do in fact support uuid random names of volumes now.

[2016-08-23 21:07] jzt commented on #1822
Disregarding those latest logs, as they appear to be caused by the disk space issues created during a merge that has since been reverted.

[2016-08-23 21:12] kjplatz commented on #2089
Verified this on current Master build (commit 89092b8ccd02e8b97473c2aeea7528bc71e08936):

Running against Docker v1.11.2:
* ```docker run -i -t -d --name cont1 alpine sh -c 'echo string'```
* ```docker inspect cont1 | grep Image```
[code]

Running against VIC:
[code]

[2016-08-23 21:39] #2018 closed

[2016-08-23 21:58] sflxn opened #2103 "Support custom CA roots for registry validation"
We need to be able to upload a self generated ca certificate to the appliance's in order to handle private registries using TLS with self-signed certificates.  This is for docker login and docker pull.

The docker personality server must also be able to use this certificate.

[2016-08-23 22:00] sflxn commented on #368
I created a new issue for the ca certificates for self generated ca.crt for secured private registries.  The PR for this issue can close this issue.  The new issue affects vic-machine.  The docker personality should work with secure registries (I tried against docker.io).  Vic-machine just needs to upload the ca.cert to the appliance.
#2103

[2016-08-23 22:00] travisfinch opened #2104 "Create container fails when using VIC as a Docker endpoint with Jenkins"
Using VIC 0.5.0. Trying out Jenkins with Docker Plug-in (https://wiki.jenkins-ci.org/display/JENKINS/Docker+Plugin).

When Jenkins tries to create the container for my build, I am seeing failures with the following error in the logs:

Provisioned agent Image of evarga/jenkins-slave failed to launch
com.github.dockerjava.api.BadRequestException: Container.validateCreateConfig: invalid config

This

[2016-08-23 22:04] travisfinch commented on #2104
Here is the HTTP request/response between Jenkins and VIC:

2016-08-23 17:02:55,255 INFO o.m.p.h.HttpProxyHandler returning response:

	{
	  "statusCode" : 400,
	  "headers" : [ {
	    "name" : "Server",
	    "values" : [ "Docker/library-import (linux)" ]
	  }, {
	    "name" : "X-Content-Type-Options",
	    "values" : [ "nosniff" ]
	  }, {
	    "name" : "Content-Length",
	    "values" : [ "47" ]

[2016-08-23 22:15] hickeng opened #2106 "Flag vic-machine delete errors in all tests in addition to the targeted ones"
We're currently ignoring errors from vic-machine delete except in the case of the specifically targeted tests. This is going to make it much harder to catch/verify #1787 or tell how reliable delete is in general.

It's also misleading in the case of build https://ci.vmware.run/vmware/vic/4295 where everything looks happy until we start seeing the disk space errors.

[2016-08-23 22:34] hickeng opened #2107 "vic-machine: delete should use tasks.Retry"
vic-machine delete should use the tasks.Retry call instead of tasks.Wait so that we can still delete VMs in the case where there are operations still finalizing.

https://ci.vmware.run/vmware/vic/4295 is the build that illustrated the problem

[2016-08-23 22:49] caglar10ur opened #2108 "--net=none is not supported"
[code]

[2016-08-24 00:08] sflxn commented on #2103
I'm unsure, but it appears we may not need to put the CA certs in the appliance keychain.  Documentation seems to indicate only adding the CA certs into /etc/docker/certs.d/<FQDN>/ca.crt should be enough.  I'll have to verify this.

[2016-08-24 08:21] stuclem commented on #1697
https://github.com/vmware/vic/issues/368 is (partially?) implemented in PR https://github.com/vmware/vic/pull/2105. Check with @sflxn whether we can claim full support.

[2016-08-24 09:23] stuclem commented on #831
See also: https://github.com/sflxn/vic/blob/docker-support-docs/apiservers/engine/COMPOSE-COMPATIBILITY.md

[2016-08-24 13:05] stuclem commented on #1527
Good info in @mreferre 's doc for VMworld, especially about what the VM in the VCH vApp does:
_"The VCH  contains a “system VM” that acts as a proxy: it accepts docker commands and it translates those commands into vSphere API calls and vSphere infrastructure constructs."

See https://docs.google.com/document/d/13tf1Ot_9CjgtQUnmm-cDaAzx78CHlFemwLBjzzf4cZM

[2016-08-24 13:36] stuclem commented on #1996
Added a section on Datastore Requirements in the [prereqs topic](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vic_installation_prereqs.md#datastore-requirements), that states that clusters require a shared datastore.

Also added a para to the section on the [image-store](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md#im

[2016-08-24 14:07] mhagen-vmware commented on #2092
See also (https://ci.vmware.run/vmware/vic/4314):
[integration_logs_4314_a3ce5ee75c02ea1d36963920685c345bee4cf531_1471991282.zip](https://github.com/vmware/vic/files/434868/integration_logs_4314_a3ce5ee75c02ea1d36963920685c345bee4cf531_1471991282.zip)

[2016-08-24 14:59] mdubya66 commented on #2013
Merge was revered. Moving back to In Progress

[2016-08-24 15:30] emlin commented on #2107
George, @andrewtchin reproduced #1787 in nimbus env, but in the vic-machine log, there is no TaskInProgress error found. So I'm wondering where to use the retry.

The delete logic is like following:
Power Off Task->Task Finished->Destroy Task->Task Finished no error->Delete datastore files
                                                                             ->With error->fail vic-machine d

[2016-08-24 15:41] mdubya66 commented on #2108
Removing the P0. Not a test stopper at the moment.

[2016-08-24 16:57] corrieb opened #2113 "Docker rm fails with "no such container" for unknown executable"
Very simple to reproduce in 0.5.0:

[code]

[2016-08-24 16:58] emlin opened #2114 "vic-machine delete should not delete volume vmdk attached to container VM"
@matthewavery @hickeng
Currently, vic-machine delete will delete container VMs if VM status is powered off, so the attached volume VMDK will be removed as well, even if --force is not specified. (--force is not good to define volume delete, but that's another story)

vic-machine delete should do similar thing with container rm in portlayer.

[2016-08-24 16:58] corrieb commented on #2113
[logs (1).zip](https://github.com/vmware/vic/files/435246/logs.1.zip)

[2016-08-24 17:06] matthewavery commented on #2062
I think it might be beneficial to mark the `Group` numberfor the test suite that has run against the bundle. e.g. `<build#>-<VCH#>-Group8Tests`

[2016-08-24 17:08] corrieb opened #2116 "vic-machine create should fail early if user attempts to deploy to VC-managed host"
What happens in 0.5.0 if you try to do this is that resource pool creation fails and then vic-machine delete can't find the VCH because it presumes that the resource pool creation succeeded.

If this is something we support, we need to make vic-machine more defensive in how it works around the creation of the resource pool. If we don't support this, then we should have a check far earlier on in vi

[2016-08-24 17:10] corrieb commented on #2116
[code]

[2016-08-24 17:12] corrieb commented on #2091
It's not unreasonable to ask someone who's raising a bug to try against the latest released version - 0.5.0. 0.4.0 is now pretty old.

[2016-08-24 17:14] corrieb commented on #2089
This would explain why <insert portal name here> displays the image ID rather than the image name when you inspect a container. This is a highly visible UX issue in <insert portal name here>, so if it's a simple fix, it would be great to target this at 0.5.5

[2016-08-24 17:28] #1998 closed

[2016-08-24 17:36] jzt opened #2117 "imagec incorrectly handles images without a latest tag"
While randomly pulling images while investigating #1821, we came across this behavior:

With vic:
[code]

With docker:
[code]

[2016-08-24 17:54] fdawg4l commented on #2080
The following also needs to be undone

[code]

[2016-08-24 18:21] fdawg4l opened #2119 "Failed WriteImage isn't purging vmdk"
Found in CI (ping @matthewavery who found it).

[code]

[2016-08-24 18:22] #2095 closed

[2016-08-24 18:22] fdawg4l commented on #2119
We should also check that the `manifiest` exists before `GetImage` returns.  Basically verify doneness.  I'll add a helper for this.

[2016-08-24 18:23] fdawg4l commented on #2080
ping @cgtexmex about the above.  I'm planning on removing the above because it violates the immutable nature of the image store.  Also its mostly noop since the storage layer doesnt actually write any updated data.

[2016-08-24 19:13] cgtexmex opened #2120 "vic-machine delete throws error, but delete completes successfully"
When deleting the VCH via vic-machine via the following command:
` vic-machine-linux delete -t 'root:vagrant@192.168.175.131' -n vickie-esx" `

The following output occurs:
[code]

The error is regarding the appliance vm, but appears to be a false error as everything is deleted and there are no items "orphaned" on the datastore.

Environment Details - Standalone ESXi:
[code]

This is backed by a l

[2016-08-24 19:56] mdubya66 commented on #2113
@corrieb I reproduce this in 0.5.0. Not sure how it slipped through. @mhagen-vmware?  I just tested on build 4331 and the issue does not reproduce.

[2016-08-24 20:03] mdubya66 commented on #2113
from Build 4331
[code]

[2016-08-24 20:03] mhagen-vmware commented on #2113
Probably didn't have the rm tests enabled at the time, due to the issues we were seeing around all the race conditions in rm.

[2016-08-24 20:05] mhagen-vmware commented on #2113
Actually we currently still have 2 out of 6 rm tests still disabled due to p0 bugs.

[2016-08-24 20:07] mdubya66 commented on #2113
whelp, I'm wrong. it does occur on 4331 if you use the xxxx as an invald command.
[code]

I think we need a test for this case @mhagen-vmware

[2016-08-24 20:08] cgtexmex commented on #2113
I believe this only occurs in an "unhappy path" situation.  In @corrieb 's example he attempted to run with a bad path -- so the start failed.  I was just looking at this as I hit it while working on Wait...

[2016-08-24 20:13] mhagen-vmware opened #2123 "Create regression test for #2113"
#2113

docker create container with a bad command, then try to delete it.

[2016-08-24 20:13] mhagen-vmware commented on #2113
Yep, need a new test for this:

https://ci.vmware.run/vmware/vic/4344

[2016-08-24 20:45] cgtexmex commented on #2113
This is happening because when the container fails to start the persona removes it from it's local cache.  Then when you issue a rm with only a partial id or the name it will fail.  If instead you use the entire ID then it works.

Here's the line that is removing from the local cache:  https://github.com/vmware/vic/blob/master/lib/apiservers/engine/backends/container.go#L568

I'm not sure why we a

[2016-08-24 20:57] sflxn commented on #368
Working on robot scripts right now to test docker login/pull against a base private docker registry.  It's going to take awhile.  While it is easy to run a private registry, it's more tedious to do it with robot (because of lack of experience).

[2016-08-24 21:04] hickeng commented on #1647
I'm seeing the same issue for dVS not found:
[code]

[2016-08-24 21:12] mdubya66 commented on #368
@mhagen-vmware can you help loc here. this is critical for next week

[2016-08-24 21:15] kjplatz commented on #2010
Corrected in #1972

[2016-08-24 23:20] hickeng opened #2127 "Cannot instantiate the Volume Lookup cache"
Deployed to VC with NAS storage with the following (which passed validation with no issues):
[code]

Portlayer failed to come up:
[code]

This works fine when I specify the same datastore for image-store and for volume-store.
It's worth noting that each host in the cluster has a `datastore1`

[2016-08-25 00:47] corrieb opened #2128 "Implement docker load command"
After discussion with @hickeng about the fact that there's no way to push images to VIC 1.0, he suggested we may want to reconsider implementing docker load.

Workaround is to have a private registry - so you would need to have Harbor or equivalent running in order to provision your app to a VCH. You would push to the registry and then pull from the docker command-line. This is fine, but there's a

[2016-08-25 00:54] #2092 closed

[2016-08-25 00:56] #2069 closed

[2016-08-25 04:06] dougm commented on #1682
Have the govmomi part working and a govc datastore.tail command:
https://github.com/vmware/govmomi/compare/master...dougm:datastore

Need to integrate with vic + more tests.

[2016-08-25 10:28] stuclem opened #2129 "Update product name throughout documentation"
As per title.

[2016-08-25 10:30] stuclem opened #2130 "Document the VIC Endpoint VM (i.e. the VM inside the VIC vApp)"
Per Massimo's doc for VMworld: https://docs.google.com/document/d/13tf1Ot_9CjgtQUnmm-cDaAzx78CHlFemwLBjzzf4cZM/edit#heading=h.pc5t3ivzoq7z

[2016-08-25 10:47] stuclem opened #2131 "Document Docker load"
Per https://github.com/vmware/vic/issues/2128. Might or might not happen, but apparently it's needed if you want a private registry and don't have Harbor. No milestone yet.

[2016-08-25 10:50] stuclem opened #2132 "Document that vic-machine checks that image/volume stores are writable from compute resource"
Per PR https://github.com/vmware/vic/pull/2126.

[2016-08-25 10:52] stuclem commented on #2072
https://github.com/vmware/vic/pull/2056 is merged.

[2016-08-25 10:52] stuclem commented on #1317
https://github.com/vmware/vic/issues/1229 is implemented in PR https://github.com/vmware/vic/pull/2098.

[2016-08-25 10:54] stuclem opened #2133 "Document that you can add volume stores that already contain volumes"
Per PR https://github.com/vmware/vic/pull/2125.

[2016-08-25 10:56] stuclem commented on #866
Reverting this one to To Do because PR https://github.com/vmware/vic/pull/2118 adds support for using `docker run` with custom registries. Worth mentioning in the big table of Supported Docker Commands.

[2016-08-25 11:01] stuclem commented on #1697
According to @mdubya66 in [this comment](https://github.com/vmware/vic/issues/368#issuecomment-242209799), issue https://github.com/vmware/vic/issues/368 is required for 0.5.5

[2016-08-25 11:06] stuclem opened #2134 "Document what happens if you run vic-machine ls on a host that is managed by VC"
Per https://github.com/vmware/vic/issues/1998, which is implemented and merged in https://github.com/vmware/vic/issues/2110.

[2016-08-25 12:42] stuclem opened #2135 "Document that VIC requires firewall port 2377"
Since build 4375, I see the following error:
`ERRO[2016-08-25T15:15:25+03:00] Firewall must permit 2377/tcp outbound to use VIC`.  This was implemented in PR https://github.com/vmware/vic/pull/2056.

Need to update the doc accordingly.

[2016-08-25 13:42] stuclem commented on #1900
Added 5.5 to [Supported vSphere Configurations](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vic_installation_prereqs.md#supported-vsphere-configurations) in the topic on environment prereqs.

Also included the extra question about deploying the client plugin to VC 5.5 in the topics on deploying the UI on VCSA:
[Install the vSphere Integrated Containers Plug-In on a vCe

[2016-08-25 13:48] stuclem opened #2136 "Document latest changes in UI installer script."
Per comment from @jooskim in https://github.com/vmware/vic/pull/2029#issuecomment-241036590. Not in a PR yet, but the work is done.

[2016-08-25 13:54] stuclem commented on #2135
Updated  [ESX Host Requirements](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vic_installation_prereqs.md#esxi-host-requirements) in the topic on prereqs.

Also added a new troubleshooting topic, [VCH Deployment Fails with Firewall Validation Error](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/ts_firewall_error.md).

[2016-08-25 14:13] stuclem opened #2138 "Document that DPG for bridge network cannot be shared by multiple VCHs"
Per comment from Hasan via Slack:

"sharing a dpg (or switch) between VCH’s may be a problem since it may lead to two containers getting the same IP address

[5:22]
bridge networks allocate ip’s from the same pool (172.16.0.0/12) by default, so potentially two VCH’s on the same port group may allocate the same IP for two containers

[5:23]
since they are on the same physical network, that could ca

[2016-08-25 14:22] stuclem commented on #824
The content of this PR is covered by https://github.com/vmware/vic/issues/924, https://github.com/vmware/vic/issues/823, and https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/vch_portlet_ui.md. This issue is therefore redundant.

[2016-08-25 14:22] #824 closed

[2016-08-25 14:55] stuclem commented on #2136
The implementation is in PR https://github.com/vmware/vic/pull/2094.

[2016-08-25 15:07] stuclem commented on #2135
Updates approved by Hasan in PR https://github.com/vmware/vic/issues/2137.

[2016-08-25 15:07] #2135 closed

[2016-08-25 15:20] #1229 closed

[2016-08-25 15:22] kjplatz commented on #2037
Resolved in PR #2098

[2016-08-25 15:40] mhagen-vmware opened #2139 "Unit test CI failure in tether test"
See build: https://ci.vmware.run/vmware/vic/4378
[code]

[2016-08-25 15:40] #1996 closed

[2016-08-25 15:40] #1900 closed

[2016-08-25 15:52] stuclem commented on #2138
Updated the section on [bridge-network](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md#bridge-network)

[2016-08-25 15:53] stuclem commented on #823
Added [Find Container Information in the vSphere Web Client](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/container_portlet_ui.md).

@jooskim is this OK? Thanks!

[2016-08-25 16:14] jooskim commented on #823
* In 'Prerequisites' the first bullet point seems to omit the reference to another doc on how to pull a container.
* 4 in 'Procedure': it should be container VM not virtual container host VM. VCH VM contains the 'Virtual Container Host' portlet not the 'Container' portlet

[2016-08-25 16:23] stuclem commented on #2133
Added "You can designate the same datastore as the volume store for multiple virtual container hosts", which is presumably the reason why we allow you to designate a VS that already contains volumes.

Added the same line to the description of container store. It was already there for image store.

[2016-08-25 16:29] stuclem commented on #848
Added a line about container names in [Find Container Information in the vSphere Web Client](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/container_portlet_ui.md) in the Admin doc.

[2016-08-25 16:38] stuclem commented on #1971
Done throughout.

[2016-08-25 16:43] stuclem commented on #982
@mhagen-vmware says Ubuntu 16.04 LTS in https://github.com/vmware/vic/pull/2137#issuecomment-242441377.

[2016-08-25 16:48] stuclem commented on #823
Thanks @jooskim - @npakrasi had already spotted the first one, and the second is sloppy cut-n-paste from the topic on the VCH portlet. Both fixed!
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/container_portlet_ui.md

[2016-08-25 16:57] sflxn opened #2140 "Get a base private registry running in VIC"
We need a private registry running on VIC for use with our CI system.  We need one that allows pushing of images on it.  An idea is to use a DIND container with a registry.  If that doesn't work, find out why.

[2016-08-25 16:59] sflxn commented on #2140
I quickly tried the following:

[code]

It's using the DIND container to allow pushing images to the registry.  Haven't investigated why it failed.  Should investigate further.

[2016-08-25 17:03] stuclem commented on #2129
Updated the READMEs, covers and book metadata files in https://github.com/stuclem/vic/commit/b1ee03fd8b89c19b31726073fd152818dab70fa3.

Now onto the actual content of the docs!

[2016-08-25 17:10] stuclem commented on #2072
@hmahmood, are there any other ports that need to be open, or just 2377? Thanks!

[2016-08-25 17:56] hickeng commented on #2139
A passing run as the following output (the ordering can vary quite substantially):
[code]

The key portions for triggering exit are these, which indicate that the launched process exited and we started on the tether exit paths:
[code]

None of the exit paths show up in the failed output, suggesting that either:
a. the launched process hasn't exited, or
b. something else received the wait status so

[2016-08-25 18:00] hickeng commented on #2127
Added @gigawhitlocks as well because I'm not sure if this should be a functional setup and is failing (one for @matthewavery), or if it's a case that needs to be rejected in validation.

[2016-08-25 18:29] jooskim commented on #823
@stuclem Thanks!

[2016-08-25 18:38] mdubya66 commented on #2140
why wouldn't we use harbor?

[2016-08-25 18:49] jzt commented on #1289
This looks like a dupe of #2139 which is currently being worked on.

[2016-08-25 19:06] hmahmood commented on #2072
That's the only requirement right now for VIC.

[2016-08-25 19:44] mdubya66 commented on #2113
There's no workaround that I can find for removing the container once you get in this state. making this a P0 and assigning to @jzt .

[2016-08-25 19:46] mdubya66 commented on #2113
[code]

[2016-08-25 19:53] anchal-agrawal commented on #1823
Ran into this on a recent PR build.

[VCH-4385-5605-container-logs.zip](https://github.com/vmware/vic/files/437936/VCH-4385-5605-container-logs.zip)

[2016-08-25 19:58] jooskim commented on #823
@stuclem Oh one more thing to the 'Result' section; it could show port mapping information if the user specified any port to be exposed.

![image](https://cloud.githubusercontent.com/assets/3834071/17983870/5aa2bae4-6ad4-11e6-98b2-ddb45dd01c1c.png)

[2016-08-25 20:16] jooskim opened #2142 "Write robot tests for UI installation/uninstallation cases"
These tests will cover all possible scenarios with the installer / uninstaller scripts.

[2016-08-25 20:20] jooskim commented on #1590
Just had a meeting with Mike, Kevin and Joshua. Some of the things from the meeting:

1. Need to have tests for UI installation / uninstallation - use robot
2. UI test could be performed on a nightly server which will have the same setups as the Nimbus setup we have right now.
3. There seem to be some vSphere-level bugs when browsing through the Web Client. Not sure at this moment whether to write

[2016-08-25 21:43] jzt opened #2145 "Portlayer panics when datastore creation attempted after VCH restart"
If the VCH is restarted, the portlayer will panic when the docker persona attempts an idempotent creation of the image store.  Reboot was triggered with a `shutdown -r now` within the VCH.

[code]

[2016-08-25 21:44] emlin commented on #2120
@mdubya66 is this a p0 bug?
It's a regression, although it does not break test, it is one 100% reproducible issue.

[2016-08-25 21:54] hmahmood commented on #2038
The code to handle this error is already in `Container.stop`, but is not run because `tasks.WaitForResult` does not preserve the error from govmomi.

@matthewavery is already working on fixing `WaitForResult` as part of #2013, so assigning it to him.

[2016-08-25 22:13] fdawg4l commented on #2145
Looks like this only happens if the vch is restarted.  I smell issues with guestinfo.  Still debugging.

[2016-08-25 22:30] #1991 closed

[2016-08-25 23:24] fdawg4l commented on #2145
It's not guestinfo.  We're nesting the image store inside the vch's directory on the datastore which already exists.  There's a logic error here;  we don't parse the nested path correctly.

Fixing the error and adding a restart test to the datastore wrapper which creates nested datastore roots and tries to restart them.

[2016-08-26 08:04] stuclem commented on #2133
PR https://github.com/vmware/vic/pull/2125 is merged.

[2016-08-26 08:08] stuclem opened #2151 "Document that VCH must get IP address from DHCP"
Per this [SocialCast thread](https://vmware-com.socialcast.com/messages/31530057), we must confirm that you can't currently set a static IP on a VCH.

[2016-08-26 08:11] stuclem commented on #1469
PR https://github.com/vmware/vic/pull/1982 is merged.

[2016-08-26 08:12] stuclem commented on #823
Thanks for the info, @jooskim. Reopening.

[2016-08-26 08:20] stuclem commented on #2072
Thanks @hmahmood. In that case, this one is done.

[2016-08-26 08:21] #2072 closed

[2016-08-26 08:24] stuclem commented on #982
Reopening this one, following @mdubya66 's comment in https://github.com/vmware/vic/pull/2137#issuecomment-242503464. Awaiting reply from @hickeng.

[2016-08-26 08:29] stuclem commented on #1317
PR https://github.com/vmware/vic/issues/2098 is merged.

[2016-08-26 10:14] stuclem commented on #823
Done: https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/container_portlet_ui.md

[2016-08-26 10:55] stuclem commented on #2134
Added the following topics in Admin:

- [Running vic-machine ls on an ESXi Host Fails with an Error](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/ts_ls_error.md)
- [Deleting or Inspecting a VCH Fails with a Resource Pool Error](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/ts_delete_inspect_error.md)

@emlin are these OK? Thanks!

[2016-08-26 10:59] stuclem commented on #2151
Added that VCH IP must come from DHCP in https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vic_installation_prereqs.md#network-requirements

[2016-08-26 11:43] stuclem opened #2152 "Putting username but not password into vic-machine create --target doesn't allow you to enter password"
If you insert a username into `vic-machine create --target` but do not add the password, `vic-machine create` prompts you for the password but does not give you an opportunity to enter it. The deployment of the VCH fails with an incorrect username/password error.

For example:

[code]

There is no pause between the lines `Please enter ESX or vCenter password:` and `### Installing VCH ####`.

Same

[2016-08-26 13:13] npakrasi commented on #1901
Added to the supported docker commands table.

[2016-08-26 13:33] emlin commented on #2134
@stuclem vic-machine delete/inspect do not support target validation at this time, the reason is that if user create VCH from VC, but check that from ESXi, the resource path is different. VC resource pool is not ESXi resource pool.
So in theory, user cannot get any VCH information from a ESXi managed by VC, no matter from vic-machine or from vSphere interface.
this is why I didn't add the target c

[2016-08-26 14:08] emlin commented on #2120
for closed by mistake

[2016-08-26 14:14] stuclem commented on #2134
Hi @emlin, yes, I had guessed that this was the case, and I imagined that there was no way around it. That's why I created that troubleshooting topic. I think that should be enough, and there is no need to add the target check, in my opinion.

[2016-08-26 14:43] hmahmood commented on #2151
@stuclem 👍

[2016-08-26 14:47] stuclem commented on #2151
Thanks @hmahmood !

[2016-08-26 14:47] #2151 closed

[2016-08-26 15:02] stuclem commented on #982
Final verbiage is blessed by @hickeng:
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vic_installation_prereqs.md

[2016-08-26 15:12] emlin commented on #2120
@gigawhitlocks turns to be a regression cased by your change: https://github.com/vmware/vic/pull/2083
deleteImages will delete configured image datastore path. If custom image path is not configured, VCH name will be used. And for your above change, no default child directory created for image store. The image store path in guestinfo will be [datastore] virtual-container-host, which is the VCH VM

[2016-08-26 15:27] #2113 closed

[2016-08-26 15:39] emlin commented on #2151
👍

[2016-08-26 15:43] emlin commented on #2134
@stuclem ok, then I think for the solution of delete/inspect failure, vic-machine ls will be better.
User could easily list all VCHs for one VC/ESXi, and then use the output to delete/inspect.

[2016-08-26 15:50] emlin commented on #2152
also reproduced on Linux. should be platform irrelevant.

[2016-08-26 16:24] mhagen-vmware commented on #1822
See also:
[integration_logs_4428_bce85a24b725d0283f21db7e59b450586419eee0_1472228331.zip](https://github.com/vmware/vic/files/439685/integration_logs_4428_bce85a24b725d0283f21db7e59b450586419eee0_1472228331.zip)

[2016-08-26 16:35] #2119 closed

[2016-08-26 16:35] mdubya66 commented on #2152
I was prompted on MacOS in v0.5.0 and B4384

[2016-08-26 17:28] hmahmood commented on #1822
From the last log bundle it appears that the container VM powered off on its own. My suspicion is a  tether initiated VM shutdown on panic or error. I couldn't find any tether logs in the bundle for the container VM though. @hickeng in what case would we not persist the tether log? From the code it appears we always send the logs over a serial port.

[2016-08-26 18:06] caglar10ur opened #2155 "running "make tests" changes host systems state"
eg; /etc/resolv.conf is removed.

[2016-08-26 19:43] terpsho opened #2156 "Failed to write to image store: [POST /storage/{store_name}][500] WriteImage default &{Code:0xc8204163c8 Message:Invalid configuration for device '0'.}"
[vic.zip](https://github.com/vmware/vic/files/440029/vic.zip)

**VIC Version:**

0.5

**Code**
Error code: Failed to write to image store: [POST /storage/{store_name}][500] WriteImage default  &{Code:0xc8204163c8 Message:Invalid configuration for device '0'.}

[code]

**Expected behavior:**
Should pull image successfully
**Actual behavior:**
Fails to pull image

[2016-08-26 19:49] terpsho commented on #2156
[vic.zip](https://github.com/vmware/vic/files/440027/vic.zip)

[2016-08-26 20:59] stuclem commented on #2134
@emlin, I like the idea. Duly updated the topic:
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/ts_delete_inspect_error.md

Is this OK?
Thanks!

[2016-08-26 21:32] stuclem commented on #2074
Updated the [Examples of Deploying a Virtual Container Host](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_examples.md) to reflect the latest state of `vic-machine create`.

-  @emlin please can you take a look at all of them?
- @hmahmood please can you look at the network examples?
  - [Deploy a Virtual Container Host to a Cluster and Specify External, Man

[2016-08-26 21:45] #368 closed

[2016-08-26 21:50] stuclem commented on #1697
PR https://github.com/vmware/vic/pull/2105 is now merged.

[2016-08-26 21:51] #1602 closed

[2016-08-26 21:52] stuclem commented on #2086
PR https://github.com/vmware/vic/pull/2075 is now merged.

[2016-08-26 21:58] stuclem commented on #2138
@hmahmood can you please take a look at  [bridge-network](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md#bridge-network), specifically the note about not sharing the DPG?

[2016-08-26 22:02] stuclem commented on #2074
If @mreferre could take a look too, that would be fab.

[2016-08-26 22:05] stuclem commented on #2136
PR https://github.com/vmware/vic/pull/2094 will be merged after 0.5.5, so moving this back to backlog.

[2016-08-26 22:17] stuclem commented on #1969
Added the following in the section on `image-store` in the topic on [`vic-machine create` options](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md#image-store):

"The `image-store` option is **mandatory** if there is more than one datastore in your vSphere environment, If there is only one datastore in your vSphere environment, the `image-store` op

[2016-08-26 22:24] jooskim opened #2158 "vApp showing VIC version as 0.0.1 not 0.5.0"
![image](https://cloud.githubusercontent.com/assets/3834071/18021980/d9cee18a-6bb0-11e6-8af1-da2e69b024cb.png)

This file seems the one where the version is set:
https://github.com/vmware/vic/blob/af71181d82f0bff404f7109cd3176ed0ecc21ca7/lib/install/management/virtual_app.go

[2016-08-27 00:07] stuclem commented on #866
PR https://github.com/vmware/vic/pull/2154 completes the implementation, I think.

[2016-08-27 00:46] mdubya66 commented on #2113
Just tested this and can confirm it works
[code]

[2016-08-27 05:15] corrieb opened #2159 "Weird error and delay pulling non-existent image from private repo"
In VIC 0.5.5, if you try to pull a non-existent image from a private repo, it waits 10 seconds and then comes back with:
[code]
With regular Docker, this is the result
[code]
VIC shouldn't delay and we should report a more friendly message like the Docker one

[2016-08-27 11:54] npakrasi commented on #1697
Added to Docker commands table.

[2016-08-27 12:05] npakrasi commented on #866
Added info on pulling images from private and custom registries to the Supported Docker Commands table.

[2016-08-27 12:07] npakrasi commented on #848
Added info on using prettyname-ID in the supported docker commands table.

[2016-08-27 14:24] anchal-agrawal commented on #2159
Related/dup of #2117

[2016-08-28 05:29] stuclem commented on #1282
See https://github.com/vmware/vic-product/tree/master/docs/setup/alpha for some preliminary docs about Harbor/Admiral by @corrieb.

[2016-08-28 19:00] hickeng commented on #1974
This appears to be failing because the 'default' volume store returns not found. Initial investigation suggests this is because the VolumeLocation entry for default is:
Host: "datastore1"
Path: "[datastore1] test"

It's possible that this is intentional, but that's not the URL structure we were using the last time I looked.
Will attempt to validate the URL construction logic

@mhagen-vmware do you

[2016-08-28 19:28] hickeng commented on #1878
I believe this is an issue that @dougm and I discussed back in the bonneville days, and again last week.
While we do have keep-alive configured there exists the possibility that the control connection to ESX or VC drops or is terminated. If that occurs the connection will be re-established on the next keep-alive interval currently.

This sort of global cross cutting error (along with Task in Progr

[2016-08-28 19:38] hickeng opened #2163 "vic-machine: remove timeout as a default behaviour"
#1557 is "closed" in that we now provide a more helpful error message in the case where we time out, however that's not exactly addressing the root behaviour.

The primary reason for a timeout is to preserve liveliness in the overall system - in the case of `vic-machine` this basically means when it's being called as part of an automated workflow.

The original reason for the timeout was to 'detec

[2016-08-28 20:40] hickeng opened #2164 "vic-admin: strip vmware.log"
vmware.log for the appliance contains the extraconfig entries for the VM - this needs to be sanitized by vic-admin prior to bundling.

https://bugzilla.eng.vmware.com/show_bug.cgi?id=1727636

[2016-08-28 20:51] hickeng commented on #2006
I'd like to revert this change. What we've just done is require that almost all VIC deployments have ESX firewall disabled, modified on each host boot, or manually create and deploy a VIB to all hosts - this just isn't a viable stance.

We can either:
a. find a different port that is also enabled outbound by default on ESX 6.5
b. continue to use 8080 and doc the conflict
c. install a VIB during VC

[2016-08-28 21:02] anchal-agrawal commented on #1532
Dup of #1311; closing as this was resolved in #1753.

[2016-08-28 21:02] #1532 closed

[2016-08-28 22:07] hmahmood commented on #2006
I don't agree that using 8080 is a good idea -- to many users default to that after port 80. And I also do not want to use another port that is designated for something else. Installing a VIB of course is only viable until another host is added, as @hickeng points out.

Instead of reverting this change, I believe we should seriously consider adding 2377 to the default firewall port rulesets that E

[2016-08-28 22:11] hmahmood commented on #2138
@stuclem I believe just having a separate distributed port group may not be enough. The DPG would also need to have a unique VLAN id. I am not sure if when creating a new DPG, a VLAN id is specified, but I believe this is necessary so that the bridge network is isolated.

[2016-08-28 22:13] hmahmood commented on #1878
Do we get a specific error back from the client in this case that we can check for in the tasks package? @dougm do you think putting a retry in this case in govmomi is viable?

[2016-08-29 02:16] hickeng commented on #2006
@hmahmood that works for the release after 6.5, but isn't a viable solution for the currently shipping versions that we need to support.

The other possibility is that we figure out how to make the multiple interfaces work so we don't have this conflict at all - that should function and completely eliminates this problem.
I didn't understand the issue you referenced in #2056 about the client IP ad

[2016-08-29 09:04] #2129 closed

[2016-08-29 11:06] stuclem commented on #2138
Thanks @hmahmood. I updated the following topics to include the VLAN ID:

https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vic_installation_prereqs.md#network-requirements

https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md#bridge-network

Does this cover it?

Thanks!

[2016-08-29 14:09] emlin commented on #2116
#2110 fixed this issue.

[2016-08-29 14:09] #2116 closed

[2016-08-29 14:20] emlin opened #2167 "upgrade design"
Design first support of vic-machine upgrade

[2016-08-29 14:22] emlin opened #2168 "versioning iso files"
Add version information into iso files, and while upload to datastore, change file name to include version information.
This is to help vic-machine upgrade to detect new binary version and switch vch iso files.

[2016-08-29 14:23] emlin opened #2169 "versioning vch and container VM configurations"
Have version in vch and container vm configuration, so that it's easy to detect existing vch version during upgrade.

[2016-08-29 14:23] emlin opened #2170 "Automatically generate binary after tag release"
vic binary currently rely on github release tag as the release version, we should generate release binary automatically after tag release in github.

[2016-08-29 14:24] emlin opened #2171 "Basic upgrade workflow"
Here is the upgrade workflow
- Find existing VCH appliance
- Query out VCH configuration
- Verify new version and existing VCH's version
- Valiate VCH configuration with new version's validator. If anything incompatible found, stop the upgrade. As no data migration yet.
- Snapshot VCH appliance VM. - Should quiesce VCH during upgrade here (how?)
- Poweroff VCH appliance VM if it's not
- Upload iso

[2016-08-29 14:25] emlin opened #2172 "vic-machine validator: validate existing VCH configuration"
Validate VirtualContainerHostConfigSpec data, to make sure all required attributes is there, and all values are in expected format.
This function will be used in upgrade, to verify if existing VCH configuration is compatible with latest VirtualContainerHostConfigSpec version.
If not, return correct error message.
This function should not print out message only, cause eventually, we'll need to migr

[2016-08-29 14:29] emlin commented on #2168
#2167

[2016-08-29 14:30] #2013 closed

[2016-08-29 14:31] #2168 closed

[2016-08-29 14:38] #2133 closed

[2016-08-29 14:38] #1971 closed

[2016-08-29 14:38] #2134 closed

[2016-08-29 14:39] #823 closed

[2016-08-29 14:39] matthewavery commented on #2038
Solved in pr #2141 due to the previous implementation of `WaitForResult` the fault's were getting squashed and never made it back to the callers. This has been fixed, and the fault checks on errors are now valid is this area.

[2016-08-29 14:39] #2038 closed

[2016-08-29 14:39] #982 closed

[2016-08-29 14:39] #1969 closed

[2016-08-29 14:40] stuclem commented on #1876
This info is in https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/verify_vch_deployment.md and https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/verify_vch_deployment_esx.md

[2016-08-29 14:40] #1876 closed

[2016-08-29 14:41] matthewavery commented on #1725
pr #2141 implemented retry logic around TaskInProgress faults which should handle this issue.

[2016-08-29 14:41] #1725 closed

[2016-08-29 14:43] stuclem opened #2174 "Document vic-machine validator"
Per https://github.com/vmware/vic/issues/2172. No milestone yet.

[2016-08-29 14:54] matthewavery commented on #1896
solved with pr #2141

[2016-08-29 14:54] #1896 closed

[2016-08-29 14:55] matthewavery commented on #1781
cc @fdawg4l can you comment briefly on what reopened this issue?

[2016-08-29 15:01] mhagen-vmware opened #2175 "vmware/vic/.cover: is a directory"
Seeing this more and more, example:
https://ci.vmware.run/vmware/vic/4454

Generating coverage data
Generating coverage data
Generating coverage data
rm: cannot remove '/drone/src/github.com/vmware/vic/.cover': Is a directory
Makefile:227: recipe for target 'test-job-github.com/vmware/vic/lib' failed
make: *** [test-job-github.com/vmware/vic/lib] Error 1

[2016-08-29 15:08] hmahmood commented on #2006
We have already documented this issue: https://github.com/vmware/vic/blob/master/doc/user_doc/vic_installation/ts_firewall_error.md . This is a little bit of a hurdle to adoption, but I really don't think we have any other good option other than to document this.

Having two ip addresses on the same subnet on two NIC's is something that is brittle, and difficult to pull off. Not recommended as per

[2016-08-29 15:11] matthewavery commented on #2127
@hickeng I believe this should be a validator thing. We have been talking about validating that a compute resource is attached to a target volumestore. But also validating that volumestores are valid should be covered in the scope.

[2016-08-29 15:23] hmahmood commented on #2138
@stuclem that should do it. Thanks.

[2016-08-29 15:32] stuclem commented on #2138
Thanks @hmahmood

[2016-08-29 15:32] #2138 closed

[2016-08-29 15:44] emlin commented on #1166
@gigawhitlocks as we discussed last week, #1974 is duplicate with this issue, so reassign this one to you.

[2016-08-29 15:51] emlin opened #2177 "Refactor VirtualContainerHostConfigSpec"
To separate this big configuration structure to different functional structures. So any changes in one structure will not impact others.
This will help the data migration in vic-machine upgrade

[2016-08-29 15:51] emlin opened #2178 "Refactor container VM configuration"
Remove attributes not used for container VM setup, e.g. Key, LayerID, RepoName in ExecutorConfig structure.

[2016-08-29 15:54] emlin commented on #812
Convert this issue to Epic, to split upgrade related tasks.

[2016-08-29 16:25] fdawg4l commented on #1781
I believe the change was reverted. Also, I believe @sgairo reopened it. She may have more details.

[2016-08-29 16:33] sgairo commented on #1781
Correct, Matt W. asked that I revert and reopen last Thursday.

On Aug 29, 2016, at 9:26 AM, Faiyaz Ahmed <notifications@github.com<mailto:notifications@github.com>> wrote:

I believe the change was reverted. Also, I believe @sgairo<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_sgairo&d=CwMCaQ&c=Sqcl0Ez6M0X8aeM67LKIiDJAXVeAw-YihVMNtXt-uEs&r=tCZwlfDcXCdCpz3_ppVAqoiM28k06Nbbnu9QsMc

[2016-08-29 16:50] #1787 closed

[2016-08-29 16:50] emlin opened #2180 "vic-machine ls: show the vch version, and upgrade status"

[2016-08-29 16:51] emlin opened #2181 "vic-machine inspect: show vch version and upgrade status"

[2016-08-29 18:52] emlin commented on #1969
agree 👍

[2016-08-29 18:53] emlin commented on #2134
This one is nice. 👍

[2016-08-29 19:01] emlin commented on #2074
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_examples.md#deploy-a-virtual-container-host-directly-on-an-esxi-host-with-no-resource-pools-and-a-single-datastore

vic-machine create one standard vSwitch, instead of distributed vSwitch.
user can only create dvSwitch through VC.

[2016-08-29 20:04] emlin commented on #2074
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_examples.md#deploy-a-virtual-container-host-to-a-cluster-and-specify-external-management-client-and-container-networks

we probably can mention if container network alias is not specified, vsphere network name will be used

[2016-08-29 20:04] emlin commented on #2074
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_examples.md#deploy-a-virtual-container-host-and-specify-an-image-store-folder-and-a-different-datastore-for-container-vm-files

container-store is still not supported

[2016-08-29 20:10] #2089 closed

[2016-08-29 20:16] emlin commented on #2074
Overall looks good, with few minor comments/questions. 👍

[2016-08-29 20:42] matthewavery commented on #1565
@mhagen-vmware We use sparse disks so until they are written to they will not "inflate" so the Filesize will not be 100 even though the disk allocated should have a capacity of 100.  cc @fdawg4l thoughts?

[2016-08-29 20:44] matthewavery commented on #1562
@mhagen-vmware loooks like the standard docker approach would be to return `invalid size: %s` is this a better string to look for?

[2016-08-29 20:45] fdawg4l commented on #1565
@mhagen-vmware im not following how you can create a volume and use govc to test it.  Can you post a link to the test and the govc invocation?

[2016-08-29 20:47] fdawg4l commented on #1565
Also, @matthewavery is right.  The size of the disk will only include the data written to it.

[2016-08-29 20:49] mhagen-vmware commented on #1565
@fdawg4l This is tested in:
Docker volume create with specific capacity
In the 1-19-Docker-Volume-Create.robot test suite.

@matthewavery Sparse is fine, I can write it out to inflate it and test it I guess...

[2016-08-29 20:51] mhagen-vmware commented on #1562
That are like 6 scenarios up there, for which scenario(s) do you propose printing invalid size: %s?

[2016-08-29 21:03] mhagen-vmware commented on #431
Initial test development is complete on this, removing myself as the only assignee.

[2016-08-29 21:05] mhagen-vmware opened #2185 "384"

[2016-08-29 21:05] #2185 closed

[2016-08-29 21:08] matthewavery commented on #1562
Almost all of them really. It would fit both the negative and the 0 value inputs. The really large inputs we could possibly look for a different value too. perhaps a `Capacity range out of bounds: %s` on the number?

[2016-08-29 21:09] matthewavery commented on #1562
For number 6 we may already have better message handling now. This ticket has been around for a little while. and some changes have occurred since then.

[2016-08-29 21:10] mhagen-vmware commented on #1562
It works for me, if we can match docker output, should be fine.

[2016-08-29 21:12] mhagen-vmware commented on #2175
And here:
https://ci.vmware.run/vmware/vic/4468

[2016-08-29 21:13] mhagen-vmware commented on #2175
And here:
https://ci.vmware.run/vmware/vic/4462

[2016-08-29 21:15] mhagen-vmware commented on #2175
And here:
https://ci.vmware.run/vmware/vic/4427

[2016-08-29 23:15] anchal-agrawal commented on #2102
Closing as this was resolved in #2154.

[2016-08-29 23:15] #2102 closed

[2016-08-29 23:23] anchal-agrawal commented on #2087
Related: #2093

[2016-08-30 06:40] corrieb opened #2187 "docker ps shows stale data after exiting from busybox shell"
With 0.5.5 release, I observe the following:

[code]

Docker ps is continuing to show the container as running, when it has in fact stopped. This should be very easy to reproduce. Here is the command I used to install the VCH:

[code]

[2016-08-30 06:41] corrieb commented on #2187
[container-logs.zip](https://github.com/vmware/vic/files/444173/container-logs.zip)

[2016-08-30 07:48] urfuwo commented on #105
Hi all,
what happened to this feature? We are considering at SAP to start exploring vic, but this makes only sense if we have a process to use it in conjunction with kubernetes.
are you still planning on delivering support for kubernetes? any timeline ideas?
M.

[2016-08-30 09:44] stuclem commented on #2074
Distributed switch vs. tandard switch: fixed

Container network descriptive name: Added " If you do not specify a descriptive name, Docker uses the vSphere network name." Also added this in the topic on `vic-machine create` options.

Container store: I have been including it in the options and examples topics, but with the note "**NOTE**: In the current builds of vSphere Integrated Containers Engi

[2016-08-30 09:44] #2074 closed

[2016-08-30 09:56] stuclem opened #2188 "Document that vic-machine inspect shows VCH version and upgrade status"
Per https://github.com/vmware/vic/issues/2181. Related to https://github.com/vmware/vic/issues/843.

[2016-08-30 09:59] stuclem commented on #1469
PR https://github.com/vmware/vic/pull/1982 was reverted and https://github.com/vmware/vic/issues/1781 has been reopened.

[2016-08-30 10:01] stuclem opened #2189 "Document that VCH and container VM configurations are versioned"
Per https://github.com/vmware/vic/issues/2169. Part of https://github.com/vmware/vic/issues/843.

[2016-08-30 10:04] stuclem opened #2190 "Document that ISOs are versioned"
Per PR https://github.com/vmware/vic/pull/2031 (merged). Part of https://github.com/vmware/vic/issues/843.

[2016-08-30 10:16] stuclem opened #2191 "Document any changes to firewall requirements"
Per https://github.com/vmware/vic/issues/2006. As @hmahmood says in https://github.com/vmware/vic/issues/2006#issuecomment-243152704, we have documented the current situation. Opening this issue to track any changes to the firewall requiremnents that might result from https://github.com/vmware/vic/issues/2006.

[2016-08-30 10:19] stuclem opened #2192 "Document support for vSphere 6.5"
No single engineering issue for this.

@mhagen-vmware, are we in a position where we can currently claim support for 6.5 beta? Thanks!

[2016-08-30 10:32] stuclem commented on #827
We currently state the following in the topic on [Interop](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/interop.md):

"The virtual container host maintains filesystem layers inherent in container images by mapping to discrete VMDK files, all of which can be housed in vSphere datastores on Virtual SAN, NFS, or local disks."

@mhagen-vmware, is this OK?

[2016-08-30 12:30] stuclem commented on #818
We currently say the following in the topic on [vSphere interop](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/interop.md):

## vSphere High Availability, Fault Tolerance, and vSphere vMotion
IT teams can assure service-level agreements for container workloads with VMware vSphere Distributed Resource Scheduler as well as reduce planned and unplanned downtime with VMware vSphere

[2016-08-30 13:59] mhagen-vmware commented on #2192
Adding test support for it right now, not quite ready for claimed full support.

[2016-08-30 14:34] stuclem commented on #2192
OK, thanks @mhagen-vmware. I'll leave it at 5.5 and 6.0 for now.

[2016-08-30 14:40] #2175 closed

[2016-08-30 16:22] #2091 closed

[2016-08-30 16:25] emlin commented on #2074
👍

[2016-08-30 16:40] fdawg4l commented on #1565
Inflating it is likely not the best way to find out the size.  If, for test purposes, you create a container with a given size, you should probably just attach to the container and `du -h` the device.  Inflating has it's own issues and actually verifying the volume is created, attached, of the correct size, AND mounted, is likely the best approach.

[2016-08-30 16:53] anchal-agrawal commented on #2096
https://ci.vmware.run/vmware/vic/4481

[2016-08-30 18:36] #2169 closed

[2016-08-30 21:09] mhagen-vmware opened #2195 "vicadmin doesn't include both log directories for a container on VSAN"
On the datastore for a vsan deployment we have two directories linking to the same files:
a2f2c557-b44c-fbda-cc0e-0200051150c9
kickass_dijkstr-0806e51820ded115e3cda453ee7c1d17816ad6cbd9a5e33f0e0c3bda9f242a77

In vicadmin it looks like we only grabbed the non-friendly named directory with it's logs:
[code]

We either need to just grab both or at least the friendlier named directory otherwise the us

[2016-08-30 21:13] carlsone commented on #1888
I am also unable to use VIC version 4478 on vCenter build 4154739 (vsphere65-beta3):

$ ./docker/docker --tls pull ubuntu
Using default tag: latest
Pulling from library/ubuntu
a3ed95caeb02: Pull complete
952132ac251a: Pull complete
82659f8f1b76: Pull complete
c19118ca682d: Pull complete
8296858250fe: Pull complete
24e0251a0e2c: Pull complete
Digest: sha256:0cdb7cdc41a288622718832742b4fa935a528cdca

[2016-08-30 21:29] caglar10ur opened #2196 "[vsan] file operations are failing"
This happens after a fresh deployment

[code]

I can create vms and attach disks to that VM using UI, vic-machine also works fine.

[2016-08-30 21:51] hickeng opened #2197 "Add user authentication to the personality"
The default docker mechanism is TLSVERIFY. This would entail:
a. modification to vic-machine to supply CA certificate to validate clients

There is also the extended docker authorization plugin mechanism which presumably requires that the client send user credentials (or session identifier) with each request. I do not know the details of this mechanism and a quick search of the remote API 1.24 doc

[2016-08-30 23:29] #2145 closed

[2016-08-31 00:15] terpsho opened #2202 "vMotion a vic-created VM but fails."
vMotion a VM generated by vCH failed for both server vmotion and storage vmotion.
**VIC Version:**

0.5 / master / commit ID

**Code**

[code]

**Expected behavior:**
vMotion to other host or to other storage supposed to be successful.
**Actual behavior:**
vMotion failed for both cases with the same error message “Unable to prepare migration, Migration of virtual machine with remote serial port co

[2016-08-31 00:20] fdawg4l opened #2203 "TestLogTail ran too long"
[code]

[2016-08-31 00:24] fdawg4l commented on #2203
@hickeng I don't know who to give this to.   Please reassign as necessary.

[2016-08-31 00:24] caglar10ur commented on #2202
duplicate of https://github.com/vmware/vic/issues/770

[2016-08-31 00:24] #2202 closed

[2016-08-31 01:11] anchal-agrawal commented on #2203
Possibly a dup of #2096.

[2016-08-31 15:21] hickeng opened #2204 "remove winscp from shipping bundle"
The winscp binary that is pulled into the bundle uses OpenSSL 1.01 which has published CVEs.
While this is only used for a single point-in-time setup it's still not acceptable and nor is download of the binary without checking thumbprints.

There is a wider question about whether this should be in the main bundle at all. While we need to have a lowest common denominator solution as a fallback for

[2016-08-31 15:23] mhagen-vmware commented on #2123
Assigning to @rajanashok this is probably as good a candidate as any to get your feet wet.

[2016-08-31 15:29] rajanashok commented on #2123
Thanks, will look into it.

[2016-08-31 15:54] #2155 closed

[2016-08-31 16:10] gigawhitlocks commented on #2120
Oh, yep, I know the cause of this. Augh.

[2016-08-31 16:39] cgtexmex opened #2206 "Refactor Event Manager to pub / sub"
Refactor the event manager to provide event publish / subscribe for portlayer components.

[2016-08-31 16:43] hmahmood commented on #1823
@jzt is going to take care of the fall back logic here -- unregister followed by delete from disk.

[2016-08-31 17:06] hickeng opened #2207 "UI plugin install: confusing doc around running install.bat"
Reading through the docs for how to install the UI plugin:
[code]

This reads as if install.bat needs to be run on the vCenter system as the administrator account.
The note about using the correct account is associated with point 10, not point 9.

This is an issue in all of the plugin install sections

[2016-08-31 17:10] cgtexmex opened #2208 "exec event handling"
Remove event handling from the container cache and implement event handling in the exec layer.  That event handling will take advantage of the refactored event manager ( #2206 ) and produce vic events

[2016-08-31 17:29] hickeng opened #2210 "Document workarounds for cross-platform installation of client plug-in"
This applies to all of the UI plugin installation paths, but using this one as an example:
https://vmware.github.io/vic/assets/files/html/vic_installation/plugin_vcsa_no_web.html

The install script (install.sh or install.bat) is run on the client system where the VIC package was unpacked. This system could be linux, OSX, or Windows and that has no correlation with the type of vCenter server we're

[2016-08-31 18:36] hickeng commented on #1578
Ran through the logic with @caglar10ur. This requires:
1. move extension initialization ahead of session launch (lib/tether)
2. modify the session reader/writers to be plain Writer interface (lib/tether)
3. check whether reader/writers are already populated during tether.launch and combine with the standard reader/writers if they are (lib/tether)
4. change meaning of session.attach boolean to bloc

[2016-08-31 20:59] #1680 closed

[2016-08-31 21:32] caglar10ur opened #2214 "attaching the same container from multiple terminal is problematic"
Looks like we round-robin between them so each gets some of it.

@hickeng suggested duplicating the stream in personality or in the portlayer instead of creating individual connections from client to tether for each attach operation.

[2016-09-01 04:59] stuclem commented on #2136
PR https://github.com/vmware/vic/pull/2094 is now merged.

[2016-09-01 08:30] stuclem opened #2217 "Document certificate generation and TLS verify"
Per https://github.com/vmware/vic/issues/2197. No milestone yet.

[2016-09-01 08:31] stuclem commented on #2217
Requires update in both app dev and install, as there will be `vic-machine create` updates.

[2016-09-01 08:37] stuclem commented on #2189
https://github.com/vmware/vic/issues/2169 is merged in PR https://github.com/vmware/vic/pull/2194.

[2016-09-01 12:55] stuclem commented on #2210
Hi @hickeng. You're quite right that the doc assumes that if you're running a Windows VC then you need to run the Windows installer script on a Windows machine, and that if you're running VCSA then you need to run the Mac/Linux installer script on Mac/Linux. However, having played about a bit this morning, I think that the doc actually reflects the reality of the UI installer scripts as they are c

[2016-09-01 13:23] mhagen-vmware opened #2218 "Unit Test CI Failure: recipe for target 'test-job-github.com/vmware/vic/pkg' failed"
As seen on build: https://ci.vmware.run/vmware/vic/4532

# github.com/vmware/vic/pkg/vsphere/session
compile: reading input: EOF
Makefile:227: recipe for target 'test-job-github.com/vmware/vic/pkg' failed
make: *** [test-job-github.com/vmware/vic/pkg] Error 2
make: *** Waiting for unfinished jobs....

[2016-09-01 13:24] stuclem commented on #2207
Removed the lines about the VC account from the "Run the installer" step in the topics on deployment to a Windows VC from :
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/plugin_vc_no_sftp_or_web.md
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/plugin_vc_sftp.md
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/plugin_vc_w

[2016-09-01 13:25] stuclem commented on #2207
Incidentally, I am dealing with the cross-platform deployment issue in https://github.com/vmware/vic/issues/2210, so let's keep that discussion there.

[2016-09-01 13:26] mhagen-vmware opened #2219 "Imagec failure in CI test - Verify Logfile Test"
As seen in build:
https://ci.vmware.run/vmware/vic/4533

Logs:
[integration_logs_4533_13537f464b6a9078e6a31385e83a4c9a820c353b_1472684150.zip](https://github.com/vmware/vic/files/449722/integration_logs_4533_13537f464b6a9078e6a31385e83a4c9a820c353b_1472684150.zip)

[code]

[2016-09-01 14:09] stuclem commented on #2210
Added instructions about how to deploy the UI from a Windows machine to a VCSA in the following files:

https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/plugin_vcsa_web.md
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/plugin_vcsa_no_web.md

[2016-09-01 14:17] #2002 closed

[2016-09-01 15:05] jooskim commented on #2210
Hi Stuart, that's a great point. Actually only if we can provide a working web server that hosts the plugin bundle file then there is no need for further work to be done except for running the vic-ui binary. However, from multiple inputs and meetings we assume there's no web server to get started with, so we're covering all possible scenarios in each platform.

Obviously such scenarios are differe

[2016-09-01 15:22] jooskim commented on #2210
@hickeng I am aware that the installer scripts do not detect which system it is deploying the plugin to (VCSA or vCenter Windows) If the user is using a web server for deployment though, this could be simply ignored as there's installer will stop as soon as the extension is registered with VC. However with the other case where we don't assume a web server, things get complicated. For example, tryi

[2016-09-01 15:43] stuclem commented on #2210
Hi @jooskim, I used Git Bash, and it did work. I updated the doc to make that clear:
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/plugin_vcsa_web.md
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/plugin_vcsa_no_web.md

[2016-09-01 15:44] mhagen-vmware opened #2223 "vic-machine delete leaves custom path behind"
+    ${output}=  Run  bin/vic-machine-linux create --name=${vch-name} --target=%{TEST_URL} --user=%{TEST_USERNAME} --password=%{TEST_PASSWORD} --image-store=%{TEST_DATASTORE}/long/weird/path

After this test is run and vic-machine delete is run, it leaves behind:

/long/weird

Only the leaf was deleted.

[2016-09-01 15:48] jooskim commented on #2210
Further thoughts here for each cross-OS scenario:

1. Deploying to VCSA from Windows
VCSA is a Linux box and if the VIC UI is deployed without a web server, access to `ssh` and `scp` is absolutely needed, so the user needs to run the `install.sh` file in a terminal emulator that supports those commands correctly. Also which vic-ui binary to use needs to be taken into account now that we have Windo

[2016-09-01 15:50] jooskim commented on #2210
@stuclem Thanks. The docs look good now. As far as the terminal emulator supports `ssh` and `scp` correctly like I just said in the comment above it should be all good for deploying the plugin to VCSA from a Windows machine.

[2016-09-01 16:30] stuclem commented on #2210
Thanks @jooskim. I have updated the VCSA topics to say that the shell must support SSH and SCP:
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/plugin_vcsa_web.md
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/plugin_vcsa_no_web.md

I also updated the Windows VC topics to state that you can only run the script from Windows systems:
https://github.

[2016-09-01 17:17] mhagen-vmware commented on #1823
[container-logs.zip](https://github.com/vmware/vic/files/450310/container-logs.zip)

New longevity test fails consistently with this error.

[2016-09-01 17:18] #2062 closed

[2016-09-01 17:57] jzt commented on #1638
This is currently working (fixed in #2154) with the known caveat that a single image cannot currently contain multiple tags. This in effect means that you cannot tag the same image with multiple repos.

[code]

[2016-09-01 17:57] #1638 closed

[2016-09-01 18:34] dougm commented on #1878
Did we get any hostd.log correlation with this error "Post https://192.168.31.13/sdk: EOF" ?  I believe this would be returned by Go's http client if it was able to send the request, but did not get a proper http response.  Not sure that's something we can or want to retry.  If the connection is closed, Go's http client would take care of opening a new one.  In that case we do need to re-authentic

[2016-09-01 19:53] #2004 closed

[2016-09-02 00:33] hmahmood commented on #1643
@caglar10ur @hickeng with my recent PR (#2182), I notice that with /run unmounted, the `poweroff` and `reboot` command do not work on the vch anymore. If I don't unmount `/run`, they work fine. I don't understand how it used to work before.

[2016-09-02 00:40] hmahmood commented on #1643
[code]

[2016-09-02 00:40] hmahmood commented on #1643
[code]

[2016-09-02 05:17] stuclem commented on #1469
PR https://github.com/vmware/vic/pull/1982 has been replaced by PR https://github.com/vmware/vic/pull/2229.

[2016-09-02 05:45] #2210 closed

[2016-09-02 05:46] stuclem commented on #2207
Merged in https://github.com/vmware/vic/issues/2227.

[2016-09-02 05:46] #2207 closed

[2016-09-02 14:45] #1848 closed

[2016-09-02 14:55] mhagen-vmware commented on #2139
Hit this again:
https://ci.vmware.run/vmware/vic/4585

[2016-09-02 15:54] andrewtchin opened #2236 "Spurious integration test failure"
Build failed in https://ci.vmware.run/vmware/vic/4586

Test case removing container out of band gave
```${output} = govc: The attempted operation cannot be performed in the current state (Powered off)```

Forked the build and it passed https://ci.vmware.run/vmware/vic/4588

The CI is flaky! This is the first time I've seen this so might be hard to repro

Mike says p0

[2016-09-02 16:47] #1846 closed

[2016-09-02 16:51] #890 closed

[2016-09-02 16:52] mhagen-vmware commented on #1845
@karthik-narayan pingy ping

[2016-09-02 18:46] mhagen-vmware commented on #1822
See also:
[integration_logs_4591_81d1cd58325fb627441f7340b646c208a70b9a20_1472837750.zip](https://github.com/vmware/vic/files/452707/integration_logs_4591_81d1cd58325fb627441f7340b646c208a70b9a20_1472837750.zip)

[2016-09-02 20:52] #2106 closed

[2016-09-02 21:31] cgtexmex opened #2240 "EventManager communication should be non-blocking"
The EventManager provides basic pub / sub services for event notification.  The publish (and subsequent notifications) should be facilitated in a go-routine to avoid blocking.

[2016-09-02 23:01] jzt opened #2241 "Investigate filemanager delete in VC"
We need to know if `DeleteDatastoreFile_Task` deletes the entire disk chain in VC when we remove a VM. If we verify that it does not, and that our volumes can be preserved when deleting VM data using the filemanager, we can merge #2230 otherwise we may need to implement a workaround.

[2016-09-03 02:24] SlickWish opened #2242 "Container VM never starts on vic backed by vvol datastore."
**VIC Version:**

0.1 / master / 7ed76a8cfdee853ffb63821a963015f59b103630

**Code**

[code]

**Expected behavior:**
Virtual machine gets added to the resource pool and VM/Container started.
**Actual behavior:**
Virtual machine is created but never started. Never gets added to resource pool.
Logs from host indicate a problem with Mkdir.  The code seems to indicate special handling for vsan  so I as

[2016-09-04 09:08] flamby commented on #1184
+1 as dhcp is regularly forbidden for external network in telco

[2016-09-05 12:51] stuclem commented on #1469
PR https://github.com/vmware/vic/pull/2229 is now merged.

[2016-09-05 17:01] mdubya66 commented on #2236
assigning to Doug M to investigate govc issue

[2016-09-05 17:03] mdubya66 commented on #2006
we need to have a discussion with @karthik-narayan as there seems to be disagreement on how to proceed with it.

[2016-09-05 17:04] mdubya66 commented on #2104
This is nice to have for GA but may be indicative of a core issue. @hickeng please triage.

[2016-09-05 17:05] mdubya66 commented on #2128
We should keep the discussion going but Iceboxing for now.

[2016-09-05 17:16] mdubya66 commented on #431
@hickeng help me find a good owner for this.

[2016-09-05 17:17] mdubya66 commented on #2197
Moving to Icebox. GA is pretty packed.

[2016-09-06 14:44] andrewtchin commented on #2218
no repro on more recent builds e.g. https://ci.vmware.run/vmware/vic/4609
`ok  	github.com/vmware/vic/pkg/vsphere/session	1.651s	coverage: 73.1% of statements`

[2016-09-06 14:50] jooskim commented on #2204
@hickeng I agree with your concern and that WinSCP should be excluded from the main package. It is used in a scenario where the user insists on using SFTP to install the UI plugin:(https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/plugin_vc_sftp.md)

So if we remove this package, do you think it makes sense that we include a step that instructs the user to download WinSCP as

[2016-09-06 14:56] sgairo commented on #2164
@hickeng Could you show a snapshot of an example please?

[2016-09-06 15:05] #2010 closed

[2016-09-06 15:06] mhagen-vmware opened #2244 "Clean up error when installing VIC into maintenance mode"
INFO[2016-09-06T10:02:28-05:00] Collecting ha-host hostd.log
ERRO[2016-09-06T10:02:28-05:00] --------------------
ERRO[2016-09-06T10:02:28-05:00] vic-machine-linux failed: Creating the appliance failed with Operation failed: The operation is not allowed in the current state. - (&{{} %!s(*types.InvalidState=&{{{<nil> []}}}) The operation is not allowed in the current state.}). Exiting...

The host

[2016-09-06 15:06] #2037 closed

[2016-09-06 15:21] #2096 closed

[2016-09-06 15:21] #2203 closed

[2016-09-06 15:28] mhagen-vmware opened #2245 "VCH appliance prevents the host from entering maintenance mode"
After installing VCH into a nested ESX host environment, running:

govc host.maintenance.enter

now hangs at 100% and doesn't complete.  When I ctrl-c out of the command, it causes the host to be in some sort of invalid state that I cannot exit or leave maintenance mode nor do anything with VMs.  Power cycling the host recovers and the host ends up in maintenance mode when it comes back up.

VIC s

[2016-09-06 15:29] mhagen-vmware commented on #860
See #2245
See #2244

[2016-09-06 15:51] mhagen-vmware opened #2246 "Build a local CI environment with capabilities of running the functional tests on nimbus."
We need to set up an Ubuntu VM that has drone cli installed and can execute the manual test cases on nimbus nightly based on a cron job.  Upon completion we need to email vic-eng and potentially message a slack channel as well using drone's notification plug-ins.

[2016-09-06 16:45] matthewavery opened #2248 "Implement images filtering"
Implement the filter functionality for the `docker images` call. This will provide filtering functionality which is especially helpful when managing a large image store.

[2016-09-06 18:49] #860 closed

[2016-09-06 19:57] mhagen-vmware opened #2250 "Write vMotion for VIC test plan"
Need to write a new test plan to test how VIC behaves in the face of vMotion happening.

[2016-09-06 20:16] #2206 closed

[2016-09-06 20:23] #1564 closed

[2016-09-06 20:23] #1562 closed

[2016-09-06 20:24] #1563 closed

[2016-09-06 20:24] #1561 closed

[2016-09-06 20:28] cgtexmex opened #2252 "Allow subscriptions to all events"
Currently the event manager only allows for subscriptions to a single event.  So if a component would like to receive all events from the manager then a subscription for each concrete event would need to be created.

The current subscription logic should be changed to allow for subscription to all events with a single subscribe call.

[2016-09-06 20:36] mhagen-vmware opened #2253 "Execute the vMotion test cases"
Execute the test cases defined in #2250 on Nimbus cluster

[2016-09-06 20:45] matthewavery commented on #1560
This has been resolved.

[2016-09-06 20:45] #1560 closed

[2016-09-06 21:00] jzt commented on #2219
@mhagen-vmware since this issue is intermittent, and since the error comes from actual docker code, I'm going to add a `log.Warn` in our code when we get it, describing the error in detail. We can already see that the reference becomes `""` somewhere in the path, and I suspect it may happen somewhere in docker's code (since we are clearly passing in `photon` as the reference during the integration

[2016-09-06 21:12] mhagen-vmware commented on #2219
Yep, that sounds reasonable.

[2016-09-06 21:24] mhagen-vmware opened #2254 "Update integration test image to the latest govc once a new release is made"
Current version is 0.8.0, which doesn't have vmotion support, once a new release is made that includes that we need to update the integration test image to pull that in.

[2016-09-06 23:50] anchal-agrawal commented on #2123
Fixed in #2249

[2016-09-06 23:50] #2123 closed

[2016-09-07 11:14] stuclem commented on #864
See https://github.com/vmware/vic/issues/2245 and https://github.com/vmware/vic/issues/2244

[2016-09-07 11:35] stuclem commented on #2055
https://github.com/vmware/vic/issues/2037 is implemented in PR https://github.com/vmware/vic/pull/2098.

[2016-09-07 11:38] stuclem opened #2261 "Update UI docs to reflect that WinSCP has been removed"
Per https://github.com/vmware/vic/issues/2204

[2016-09-07 11:40] stuclem commented on #2217
https://github.com/vmware/vic/issues/2197 is now in the ice box.

[2016-09-07 11:41] stuclem commented on #2131
https://github.com/vmware/vic/issues/2128 is in the ice box now

[2016-09-07 14:01] #2250 closed

[2016-09-07 14:43] mhagen-vmware commented on #1822
Another bundle:
[container-logs.zip](https://github.com/vmware/vic/files/459411/container-logs.zip)

[2016-09-07 15:07] mhagen-vmware commented on #1823
Reproduced on the latest code:
[container-logs.zip](https://github.com/vmware/vic/files/459498/container-logs.zip)

[2016-09-07 15:12] mhagen-vmware commented on #1974
Possibly seen here as well:
[integration_logs_4631_39f4838045c15e930c2935abb98695e1acbb2181_1473201704.zip](https://github.com/vmware/vic/files/459529/integration_logs_4631_39f4838045c15e930c2935abb98695e1acbb2181_1473201704.zip)

[2016-09-07 15:23] mhagen-vmware commented on #1823
This is currently a blocker for the longevity test.

[2016-09-07 15:23] jzt commented on #1823
This issue has a [PR](https://github.com/vmware/vic/issues/2230) out ready to be merged once  #2241 is determined. @hickeng is there a way we can expedite #2241 with @fdawg4l out this week?

[2016-09-07 15:44] matthewavery commented on #1974
@hickeng Looks like the `vic-machine create` command can be found in the /tests/resources/util.robot file. The volume store looks like `--volume-store=%{TEST_DATASTORE}/test:${vol}`

[2016-09-07 16:00] matthewavery commented on #1565
@mhagen-vmware here is the solution for checking disk sizes. `${disk-size}=  Run  docker ${params} logs $(docker ${params} start $(docker ${params} create -v ${output}:/mydata busybox /bin/df -Ph) && sleep 10) | grep by-label | awk '{print $2}' `

the mount will show the actualy size of the disk.

[2016-09-07 16:00] #1565 closed

[2016-09-07 16:11] andrewtchin commented on #2218
closing no repro

[2016-09-07 16:11] #2218 closed

[2016-09-07 16:27] mhagen-vmware commented on #2236
Fixed with #2268

[2016-09-07 16:27] #2236 closed

[2016-09-07 16:28] #2093 closed

[2016-09-07 16:28] #2117 closed

[2016-09-07 16:28] mhagen-vmware commented on #2236
The issue was that the name of the container was a bit too generic so if there was any issue elsewhere deleting containers then it would cause this test to fail because there were multiple containers named 'test*', so I made it more specific to the test itself.

[2016-09-07 16:29] matthewavery commented on #1545
@cgtexmex moved this to a feature from a bug, even though there is a test it is being done in conjunction with a feature implementation.

[2016-09-07 16:32] mhagen-vmware opened #2269 "Epic to implement filtering across the product"
This is an epic to encapsulate the variety of filtering related issues.

[2016-09-07 16:46] mhagen-vmware opened #2270 "Follow on work for vmotion test plan"
@mhagen-vmware couple of items of note
1. It's not clear to me whether we're installing 3 concurrent VCHs, or cleaning up prior to subsequent install.
2. The initial test (powered off vch) isn't testing vmotion, but is testing some of VCH restart.
3. We should be specific about which commands are crucial in expected results. Saying all docker commands complete without error is already wider than v

[2016-09-07 16:49] matthewavery opened #2271 "Stopped Containers appear to not actually be stopped"
When attemping to reproduce another issue. I made a busybox /bin/top container. started it. then stopped it(supposedly) and tried to remove it. The removal fails with a "power of the container first" type error, this is after a reportedly successful stop call.

[code]

[2016-09-07 17:48] matthewavery opened #2272 "Containers are stored on the same path as the root VCH path"
repro:
docker pull busybox
docker create busybox /bin/ls (or something short lived)

Now look in the datastore and notice that it will have both the VCH and containers in the same directory instead of containers being stored under the VCH namespace. When two VCHs are deployed next to each other it is not possible to tell which container belongs to which VCH.

The proposed solution is to move the c

[2016-09-07 19:26] matthewavery commented on #2272
containers are associated with resource pool created at vic-machine create time. So It will not cause issues between multiple VCHs. This still might be an issue for datastores that are being shared with other none VIC related operations and might still be a future improvment.

[2016-09-07 19:26] #2272 closed

[2016-09-07 19:32] jerryemby opened #2273 "Error response from daemon: vSphere Integrated Containers does not implement container.ContainerWait"
**VIC Version:**.05.5

0.1 / master / commit ID

**Code**
Using vic_4654.tar.gz
[code]

[2016-09-07 20:02] jooskim commented on #2204
Just talked with Joshua Kenney that we can simply drop this option (using SFTP) altogether, as this approach 1) is not any part of requirements for the UI to be installed, 2) is significantly more complicated than the other options, and 3) adds more security concerns that George has raised.

@stuclem Could you please review if this makes sense and have the documentation reflected? While you're wor

[2016-09-07 20:24] anchal-agrawal commented on #2273
This feature is being tracked in #384.

[2016-09-07 20:24] #2273 closed

[2016-09-07 20:45] mdubya66 commented on #2271
possible dupe of or related to #1541

[2016-09-07 20:47] mdubya66 commented on #2271
see also #378 and #2230

[2016-09-07 21:02] mdubya66 commented on #2271
I'll move this back to p0.

[2016-09-07 21:06] anchal-agrawal commented on #1941
I can repro this. Possibly related to #2064.

[2016-09-07 21:18] #2171 closed

[2016-09-07 21:57] anchal-agrawal commented on #2159
This should have been fixed in #2258. I'm getting this error message now:

[code]

Matching docker's error message is a simple change. I'll create another issue for it. @corrieb, please re-open this if you come across the original issue again.

[2016-09-07 21:57] #2159 closed

[2016-09-07 22:04] anchal-agrawal opened #2276 "Show clearer error on a non-existent image from a custom repo"
Follow-up of #2159

We should show a clearer error message while pulling a non-existent image from a custom repo.

VIC

[code]

Docker
[code]

[2016-09-07 23:10] #1974 closed

[2016-09-07 23:31] matthewavery commented on #2242
@SlickWish I will need more details as well as the long bundle from your vch deployment. Is this really version 0.1? this functionality was not supported in version 0.1 of VIC. The long bundle can be retrived from the `vicadmin` service that is also launched on a successful `vic-machine create`.

[2016-09-07 23:39] dougm commented on #1682
govmomi PR: https://github.com/vmware/govmomi/pull/587

[2016-09-07 23:48] dougm commented on #1682
After govmomi 0.9.0 release is done, VIC changes to integrate and support logs tail + follow are minimal: https://github.com/vmware/vic/compare/master...dougm:logs

[2016-09-08 00:14] #2208 closed

[2016-09-08 00:14] #2240 closed

[2016-09-08 00:21] SlickWish commented on #2242
No, the version is a mistake, but the https://github.com/vmware/vic/commit/7ed76a8cfdee853ffb63821a963015f59b103630 should be correct.

I will pull the latest and try to get the logs you need. Do you have access to a vvol environment?

[2016-09-08 00:24] gigawhitlocks commented on #2127
This should be fixed now, needs verification. @hickeng if you want to see if you can still install with those command line arguments, please have a go at it. Validation should now fail if the volume store datastore isn't accessible.

[2016-09-08 00:24] gigawhitlocks commented on #2127
If not I'll test this tomorrow when I'm back in the office.

[2016-09-08 00:25] #2000 closed

[2016-09-08 00:25] gigawhitlocks commented on #2000
Fixed in #2126

[2016-09-08 00:26] gigawhitlocks commented on #1781
This was reopened due to a failing integration test that I checked in. The test is fixed and the feature has been in master for a few days now, so I'm closing this.

[2016-09-08 00:26] #1781 closed

[2016-09-08 00:27] gigawhitlocks commented on #1166
This is a duplicate of #1974 and was fixed in  #2126

[2016-09-08 00:27] #1166 closed

[2016-09-08 00:29] gigawhitlocks commented on #1330
I can take care of the portlayer change whenever I get to this issue.

[2016-09-08 01:38] jzt commented on #1821
I've been investigating this today, and it appears the problem is caused by the image metadata being altered during write to the storage port layer.  I can see the image metadata (including actual image ID) before the call to `WriteImage` in imagec, but by the time it gets into the storage port layer, the image ID is no longer present in the metadata.

This causes the subsequent call to `ListImage

[2016-09-08 01:59] anchal-agrawal commented on #1898
Closing this as the first test hasn't been repro'd since and #1822 is an umbrella ticket for CDE errors.

[2016-09-08 13:23] lazarin commented on #1821
I guess the size is different because of the base for the image.
For example:
  - kitematic starts from scratch : https://github.com/kitematic/html/blob/master/Dockerfile
  - neoof86/hello-world-nginx is based on ubuntu : https://hub.docker.com/r/neoof86/hello-world-nginx/~/dockerfile/

[2016-09-08 14:02] mhagen-vmware commented on #1966
Closing as not reproducible. I believe I have figured out what happened here. My laptop doesn't appear to be completely interoperable wirelessly with my home network, so the connection continuously drops. (I have since updated the firmware, hopefully that fixes it) I think what happened here is that the initial upload of the ISOs succeeded but the connection dropped immediately afterwards, in part

[2016-09-08 14:02] #1966 closed

[2016-09-08 15:48] sgairo commented on #2164
@hickeng Would it be appropriate to remove all of the guestinfo from this log?

[2016-09-08 16:11] jooskim commented on #2204
@jak-atx @karthik-narayan FYI, we decided to drop an installation option for vCenter Windows using SFTP for the reasons above. Please let us know if you have any concern or suggestion on this.

[2016-09-08 16:25] #1973 closed

[2016-09-08 16:39] mhagen-vmware commented on #1822
Another bundle:
[integration_logs_4679_db9538f1627fda3c2a5230f78922f141c9c0dd8c_1473299917.zip](https://github.com/vmware/vic/files/462153/integration_logs_4679_db9538f1627fda3c2a5230f78922f141c9c0dd8c_1473299917.zip)

[2016-09-08 16:48] emlin opened #2279 "UI build failed for gzip: stdin: not in gzip format"
The merge build https://ci.vmware.run/vmware/vic/4671 failed. The last message is as following
[code]
The change is not related to UI or UI build, and later on build passed as well.

@mhagen-vmware for more information in case.

[2016-09-08 16:59] jooskim commented on #2279
i removed the winscp binary yesterday and updated bintray. it's clearly because of the wrongly formatted tgz file. i'll correct the issue and let you know.

[2016-09-08 17:16] jooskim commented on #2279
[code]

[2016-09-08 17:42] jooskim commented on #2279
I'm now running a full ci on PR #2257 to see if the issue is gone. It turns out build 4671 downloaded a defective binary file which caused `tar` to throw an error. I also notice that build was created about 20 hours ago from now, when I was working on PR #2275 and this issue. So it seems that this build downloaded the defective file before I replaced it on Bintray.

[2016-09-08 19:02] mhagen-vmware commented on #2279
Sounds good @jooskim , it sounds like this was a temporary issue that you have already fixed then.  Can you close this issue then please if my synopsis is correct?

[2016-09-08 19:03] anchal-agrawal commented on #2271
I can repro this on a VC setup but not on a single ESX.

[2016-09-08 19:10] mhagen-vmware opened #2281 "400 Bad Request: Bad request error from portlayer: invalid config"
While attempting to run the dogfood test I received this error.
From docker-personality.log:
[code]

Log bundle:
[container-logs.zip](https://github.com/vmware/vic/files/462474/container-logs.zip)

[2016-09-08 19:32] anchal-agrawal commented on #1941
This is happening because we cache images both by ID and name, and we have 2 entries for this image in the ID cache because the ID has changed. The name cache still has one entry.

Without changing the caching mechanism, this issue can be worked-around by populating the output of `docker images` using the `cacheByName` index. While this is a simple change, I'm holding off on it because #2080 track

[2016-09-08 19:40] jooskim commented on #2279
@mhagen-vmware The latest build failed after merging the latest `vmware/master` branch. Following is the error that broke the test. That probably doesn't have to do with the issue we're talking about here though. Maybe I could rerun the test, but in other successful builds I noticed that those were picking up the right `tgz` file (size being 1326476 bytes)

**From 1-4**
[code]

[2016-09-08 19:47] jooskim commented on #2279
Closing the issue, as I've seen already in other recent successful builds that the new binary gets downloaded and expanded without an issue.

[2016-09-08 19:47] #2279 closed

[2016-09-08 20:11] jzt commented on #2241
https://github.com/vmware/vic/pull/2230#issuecomment-245345748

[2016-09-08 20:11] #2241 closed

[2016-09-08 21:18] sflxn commented on #431
I have started investigating compose.  Starting with basic learning of compose.  Just from the start, I can say there is a lot to learn, and probably no one on the team knows much about it.  Much like how we discovered the widespread dependencies on docker ps and container-wait, there will be a lot of these unknowns within docker-compose.  We should not go into this with assumptions as that has bi

[2016-09-08 22:03] #2158 closed

[2016-09-09 00:18] sflxn commented on #431
With some small changes to our docker create and inspect code, I can now perform compose up on VIC with a basic compose file.  Our tests will need to change.  There will be some variations between VIC's and regular docker's support for compose.  This applies to support for both CLI options and YAML options.

[2016-09-09 04:28] anchal-agrawal commented on #1108
Closing as this was fixed by @corrieb in #1461.

[2016-09-09 04:28] #1108 closed

[2016-09-09 14:05] #1849 closed

[2016-09-09 14:17] mhagen-vmware opened #2285 "Error response from daemon: [POST /storage/volumes/][500] createVolumeInternalServerError &{Code:0xc42014ebb0 Message:File [datastore1] test/VIC/volumes/multiple7/multiple7.vmdk was not found}"
Saw this on a recent CI run.

Log bundle:
[integration_logs_4698_1e481fdd2b7a79e1d5b4fe6cc555d0e87e966bed_1473371685.zip](https://github.com/vmware/vic/files/464125/integration_logs_4698_1e481fdd2b7a79e1d5b4fe6cc555d0e87e966bed_1473371685.zip)

@matthewavery We need to triage this quickly to understand if it is a regression or a latent problem.

[2016-09-09 14:20] mhagen-vmware commented on #1888
Saw this on a recent CI build (not on 6.5 either):
[integration_logs_4690_217af9fe805f9918ebc0a0ad55fd569ac70df197_1473369764.zip](https://github.com/vmware/vic/files/464138/integration_logs_4690_217af9fe805f9918ebc0a0ad55fd569ac70df197_1473369764.zip)

[2016-09-09 15:12] #2276 closed

[2016-09-09 15:13] mhagen-vmware commented on #1987
Should be caught with 1-4-Docker-Create.robot: Create a container with no command specified

[2016-09-09 15:13] #1987 closed

[2016-09-09 15:44] mhagen-vmware commented on #979
This is currently being tested in CI

[2016-09-09 15:44] #979 closed

[2016-09-09 15:46] mhagen-vmware commented on #859
vMotion is being tested here: #2270 #2250
And was initially implemented here: #2251

DRS support testing to follow shortly.

[2016-09-09 16:26] #1157 closed

[2016-09-09 16:35] cgtexmex commented on #1767
Closing as I'm unable to recreate.

[2016-09-09 16:35] #1767 closed

[2016-09-09 17:27] gigawhitlocks opened #2287 "Need SearchDatastoreSubFolders_Task in VC simulator"
We have two unit tests commented out due to the lack of this method in the VC simulator, in `/lib/install/management/delete_test.go` at the bottom of `TestDelete` you will find this:
[code]

`SearchDatastoreSubFolders_Task` needs to be implemented in vcsim so that `testDeleteVCH` and `testDeleteDatastoreFolders` can be re-enabled.

This issue can be closed once those two tests are re-enabled.

[2016-09-09 17:36] gigawhitlocks commented on #2287
[the TODO quoted above can be seen here](https://github.com/vmware/vic/blob/master/lib/install/management/delete_test.go#L93)

[2016-09-09 18:04] #2120 closed

[2016-09-09 18:25] gigawhitlocks commented on #2223
Isn't this the desired behavior? @hickeng can you clarify this? I was aware that this is how `vic-machine delete` behaves and thought it was to spec.

I can change this to, alternatively, prune any empty directories along `/long/weird/path` and stop if we find one that's not empty after removal of images (or volumes, as I believe this will apply to volume stores as well)

[2016-09-09 19:51] betazep opened #2290 "Deploys - Timed Out Waiting for Appliance Components"
Daily: vic_4712.tar.gz

**Expected behavior:**
Works

**Actual behavior:**
Timed Out.  Increased timeout to 10min and still timed out.
-------------

[root@ZZ vic]# vic-machine-linux create -t XXXXXX/GDC-Lab -i GDC-004Lab-VMAX1-01 -u XXXXXXXXXXX --bridge-network "VICBridge" --external-network "VLAN 402" --name TESTVIC --no-tls
INFO[2016-09-09T12:40:25-07:00] Please enter ESX or vCenter password:
I

[2016-09-09 19:57] betazep commented on #2290
![image](https://cloud.githubusercontent.com/assets/22081672/18400947/f25345de-768c-11e6-9131-5b4d7d8395de.png)

![image](https://cloud.githubusercontent.com/assets/22081672/18400898/af576c60-768c-11e6-814d-12109543b7da.png)

[2016-09-09 19:58] mhagen-vmware commented on #2290
@betazep Does it eventually work if you set the timeout to something like 20 or 30 min?

[2016-09-09 19:59] betazep commented on #2290
Tried 10.  I will set it to longer.

[2016-09-09 20:21] betazep commented on #2290
@mhagen-vmware Is it possible to know the Photon VCH root pwd? Maybe I can determine what process is killing the CPU.

[2016-09-09 20:24] #2287 closed

[2016-09-09 21:14] betazep commented on #2290
Yeah... not working.  CPU of VCH stays pegged and even though I got the IP address during Debug (and could ping it), the deployment failed to complete.

![image](https://cloud.githubusercontent.com/assets/22081672/18403066/932701a8-7697-11e6-8544-d08748a27885.png)

I jumped back a month and randomly picked 3711, and it deployed fine.

![image](https://cloud.githubusercontent.com/assets/22081672/18

[2016-09-10 11:20] shadjiiski opened #2294 "Names of containers are not resolved"
I have been following the [Simple Bridge Network example](https://github.com/vmware/vic/tree/master/doc/design/networking#simple-bridge-network). I could not ping one container from another using its name (or even its hostname).

**VIC Version:** JFrog Bintray builds 4677, 4715 and 0.5.5

**Code**
[code]

**Expected behavior:**
Container's name should have been resolved and I should have been able

[2016-09-10 11:21] shadjiiski opened #2295 "Containers not able to connect to each other using exposed ports in a network"
I am trying to get a simple Wordpress application running while making use of the networking feature. Basically I create a network, then create a mysql container, then create a wordpress container and point it to connect to the previously created mysql container. See Code section for details.

**VIC Version:** JFrog Bintray builds 4677, 4715

**Code**

[code]

**Expected behavior:**
Wordpress cont

[2016-09-10 12:54] shadjiiski commented on #1298
@jzt, anything new on this issue? I am using JFrog Bintray build 4715 and have just run this command in 2 different terminals:
[code]
Both `docker run` calls did not find the alpine:3.1 image locally and both started pulling it from registry, however one of them succeeded (and provisioned an alpine container) and the other one failed with
[code]
From your first message on this issue I couldn't get

[2016-09-11 01:31] MedavieGuy commented on #2290
Can you elaborate on the ... I jumped back a month and randomly picked 3711, and it deployed fine...
I'm having the exact same issue.  What do you mean you jumped back a month?

[2016-09-11 02:02] betazep commented on #2290
@MedavieGuy

I downloaded one of the earlier daily builds here:  https://bintray.com/vmware/vic-repo/build/view#files

Unfortunately 3711 didn't work even though it did deploy properly.

I also performed a build of the current source and deployed it with the same result.  (even though the build shouldn't necessarily matter as the appliance iso should be able to run in vSphere 6.0U1 without pegging

[2016-09-12 15:02] #859 closed

[2016-09-12 15:07] #2254 closed

[2016-09-12 15:30] mhagen-vmware commented on #2139
Hit again:
https://ci.vmware.run/vmware/vic/4727

[2016-09-12 16:39] emlin commented on #2290
The firewall looks ok. The problem is that VCH services are not launched correctly, so we need log messages to see what happens there.
As you already got ip address, you might check vicadmin from here: http://<ip>:2378, or ssh directly to VCH appliance vm through root:password. Log files are located in /var/log/vic

[2016-09-12 17:21] betazep commented on #2290
K building, deploying, checking...

[2016-09-12 17:45] hickeng opened #2297 "Refactor pidfile logic out of base tether code"
The following code in the OS agnostic lib/tether/tether.go is:
a. linux specific
b. assumes directories exist
c. does not use the test directory prefixes for absolute path references
d. only useful when the tether is not running as pid 1 (i.e. vic-init scenario)

This code should:
a. be in cmd/vic-init/
b. use a test directory (see the cmd/tether/ops.go:pathPrefix logic).

[2016-09-12 17:48] hickeng commented on #2139
Opened #2297 to deal with the errors from the pidfile logic in the last failure. Will try running this locally to recreate outside of drone.

[2016-09-12 18:02] betazep commented on #2290
Is there a requirement for a full cert (not self-signed) on the https://vcenter/sdk site?

[2016-09-12 18:26] hickeng commented on #2290
@betazep currently there's a default password of `password` - be warned, this goes away when we're not configured for dev convenience so best if we can debug via the log files. Did you get a log bundle from the vic-admin server? It's on port 2378 of the VCH appliance as @emlin mentioned.
We can see from the debug output that the various components were started, so the basic launch was successful,

[2016-09-12 18:35] #2181 closed

[2016-09-12 18:37] betazep commented on #2290
Quick note per comment that just came in from @hickeng  :  The port wasn't listening. You can replicate the condition by way of the explanation below. I understand on the password: I had expected VMWare1! or equivalent. :)

Okay.  I think I figured it out. My client accepts a shortname and appends the dns suffix (through dns suffix search) to connect to vCenter.  When the VCH appliance comes up, i

[2016-09-12 19:18] mhagen-vmware opened #2298 "VCH unresponsive after HA event"
New test, installs a VCH into a cluster with DRS and HA enabled and powers off the host that it resides on.  Afterwards, it is expected to start working again but it becomes completely unresponsive - can't ping or SSH to it however govc reports that the VM is powered on and has the same IP address.

Only log bundle I could get was from VC:

[vc-sc2-rdops-vm02-dhcp-89-209.eng.vmware.com-2016-09-12-

[2016-09-12 19:29] #2204 closed

[2016-09-12 19:58] hickeng commented on #431
@sflxn I presume that we're able to tolerate compose by ignoring labels rather than returning Not Implemented? The target we've got for compose is the voting-app example:
https://github.com/vmware/vic/blob/master/doc/design/application-topologies.md

[2016-09-12 19:59] jzt commented on #1298
@shadjiiski The plan is to have the functionality match that of Docker's, just as you described. Unfortunately it is a non-trivial change that is currently prioritized below other changes to the same area of code that are making this somewhat of a moving target. At the point when things settle down and higher-priority items like p0 bugs are addressed, we can begin the rather large refactor that wi

[2016-09-12 20:09] hickeng commented on #2139
Caught this in action by adding very long timeout. This shows that we're legitimately waiting for the `tee` process to exit:
[code]

Unfortunately we've already deleted the test directory with the tee output so we cannot see precisely what's going on. I've made a local change to delete the files _after_ mocker.Cleaned is closed.

[2016-09-12 20:18] caglar10ur opened #2302 "Could not create volume store due to error: root directory is empty"
creating a VCH

[code]

ends up with

[code]

error. git blame points to d9143170619e59951e20b3580463e8d7fb996b98

[code]

changing   --volume-store datastore1:default to   --volume-store datastore1/store:default workarounds the issue.

The error could be little bit clear as well.

[2016-09-12 20:23] anchal-agrawal opened #2303 "Shared data volumes"
## Promoted to epic
There is a general requirement for shared volumes with concurrent access across multiple containers.
Some basic usages are in the conversation below and we should confirm those are addressed by however this feature is implemented.

Delivered feature design should cover at least:
1. Where the shared data is hosted (in appliance, container, or out-of-band)
2. How volume store is

[2016-09-12 20:28] anchal-agrawal commented on #2281
#2303 is the follow-up ticket.

[2016-09-12 20:28] #2281 closed

[2016-09-12 20:41] hickeng commented on #2139
Currently checking to see that a call to RawConn.Read after the channel has been closed returns EOF.

[2016-09-12 20:51] gigawhitlocks commented on #2271
Further investigation reveals that `stop` does work, but the state of the machine is not reported properly back to the VCH. `ps`'s output is therefore erroneous, and anything that relies on the internal state reporting to be correct is also broken

[2016-09-12 20:55] hickeng commented on #2303
@anchal-agrawal This just isn't going to work with vic as there's no mechanism available to us to share that local directory with the remote container.
Even with regular docker I don't think it has value beyond either:
* volume create (if a name is required), or
* anonymous volume
unless docker have added a mechanism to upload the contents of the client's directory to the server.
In your example,

[2016-09-12 21:18] anchal-agrawal commented on #2303
Gotcha, thanks George. In my example, the `myapp` dir contains an empty file. Running `docker run -it -v ~/myapp:/myapp busybox` with vanilla docker, any changes inside `myapp` from the host are synced to the container.

[2016-09-12 21:33] hickeng commented on #364
@matthewavery is this still TBD?

[2016-09-12 22:32] hickeng commented on #2303
Changes from the _host_ are reflected in the contianer, not change from the _client_ - I'm assuming they're separate systems?

[2016-09-12 22:34] hickeng opened #2305 "Inconsistent license check reporting between vic-machine and vic-admin"
When deploying to a nimbus testbed - from the installer:

[code]

from vic-admin:

[code]

I've not yet tracked down which is correct, but I am finding that while I can create containers I cannot get an active connection to them.

[2016-09-12 22:35] hickeng commented on #2305
Assigning to you initially, @andrewtchin, as you did the vic-machine license work.

[2016-09-12 22:40] hickeng commented on #2305
This may be because part of my build is out of date. Rebuilding from clean master.

[2016-09-12 22:44] anchal-agrawal commented on #2303
Sorry, in my example, the host system and the client are the same system. I see that adding support for NFS volumes would achieve the intended goal.

[2016-09-12 23:35] sflxn commented on #431
Labels are attributes in create.  We're going to handle labels correctly.  It must be supported for docker-compose to work.  It's a simple fix once you figure out it's because of incorrect labels support.

[2016-09-13 00:07] sflxn commented on #431
The lamp yml tests returns the following error:

[code]

[2016-09-13 10:15] stuclem opened #2306 "Document shared data volumes"
Per https://github.com/vmware/vic/issues/2303. We should add support for mounting directories as a volume on containers with the `-v` option.

[code]

Requires an update in the App Dev doc, if implemented. No milestone yet.

[2016-09-13 10:18] stuclem commented on #1698
Initial implementation of https://github.com/vmware/vic/issues/384 is in PR https://github.com/vmware/vic/pull/2304.

[2016-09-13 10:20] stuclem opened #2307 "Document how Docker container remove discerns between anonymous and regular volumes"
Per https://github.com/vmware/vic/issues/364#issuecomment-232805849

[2016-09-13 10:22] stuclem commented on #2174
Implementation of https://github.com/vmware/vic/issues/2172 is in PR https://github.com/vmware/vic/pull/2301.

[2016-09-13 10:33] stuclem commented on #2261
WinSCP was removed in PR https://github.com/vmware/vic/pull/2275.

[2016-09-13 10:38] stuclem commented on #2188
https://github.com/vmware/vic/issues/2181 is implemented in PR https://github.com/vmware/vic/pull/2286.

[2016-09-13 12:59] stuclem commented on #1473
This is implemented in #802

[2016-09-13 13:03] stuclem commented on #829
Partial implementation of #701 is in https://github.com/vmware/vic/pull/2283.

[2016-09-13 14:39] stuclem commented on #2132
PR https://github.com/vmware/vic/pull/2126 is merged

[2016-09-13 14:43] stuclem commented on #843
Upgrade workflow is in https://github.com/vmware/vic/issues/2171, which is merged in PR https://github.com/vmware/vic/pull/2264.

[2016-09-13 16:46] matthewavery commented on #1313
@corrieb I am closing this after confirming that it is resolved by #1441.

[2016-09-13 16:51] #2270 closed

[2016-09-13 16:54] #2290 closed

[2016-09-13 18:53] cgtexmex opened #2310 "Out of band guest shutdown results in wrong container state"
When issuing an out of band shutdown to a container VM the expected state via `docker ps` is "Stopped".  Currently the container will be set to "Stopping" and won't reach "Stopped".

To recreate simply create a container, start the container and then perform a guest shutdown via govc or a ui client.

[2016-09-13 19:06] #2271 closed