[2017-03-10 00:44] fdawg4l commented on #4168
I suppose i need clarity on how the API should function now.  What is looked up, how do you enumerate (list) it,  and how/where is it stored?  If an image is no longer a vmdk, we need to rethink how the api is suppose to behave.

[2017-03-10 00:54] sflxn commented on #3648
After digging more, it appears VIC is currently grabbing a manifest with schema 1 format, and the digest needs to be a hash of schema 2 format.

[2017-03-10 00:55] malikkal commented on #4195
Would be great if docker run -h 'myhostname' works. But, if feature implementation takes time, could you suggest a workaround, please? We are going live in productions soon; real soon.. and this would be good to have for certain applications...

[2017-03-10 01:50] lcastellano opened #4211 "not found error while removing a volume"
VIC version: v0.8.0-0-8575c8c

After removing Admiral I am left with two volumes. I was able to remove the first one but the remove of the second volume fails.

**docker volume ls
DRIVER              VOLUME NAME
vsphere             c5b0dd99-044e-11e7-9806-005056aa69bc**

**docker volume rm c5b0dd99-044e-11e7-9806-005056aa69bc
Error response from daemon: Server error from portlayer: File [shared-is

[2017-03-10 01:57] chengwang86 commented on #3762
@stuclem @sflxn

I have tried several examples of `docker-compose ps/events/scale` and they all worked fine. So I think we can claim that vic engine 0.9 support these features.

There is one issue with `docker events`. The output event sequence is not exactly the same with that from regualar docker. E.g., (1) if you do `docker stop`, regular docker output `kill --> die-->stop` whereas vic reports

[2017-03-10 02:23] lcastellano opened #4212 "Nginx container stuck in Starting mode"
#For bug reports, please include the information below:

**VIC version:**v0.8.0-0-8575c8c

master, commit id: e29e98c

Nginx stuck in starting mode:

[lcastellano(718) vic (props)]$ docker ps -a
CONTAINER ID        IMAGE                COMMAND                  CREATED             STATUS              PORTS                          NAMES
26c7c4efc9c7        nginx                "nginx -g daemon off;

[2017-03-10 02:30] anchal-agrawal commented on #4212
From a glance at the portlayer logs, this looks similar to #3315.

[2017-03-10 02:51] chengwang86 commented on #3762
About this: https://github.com/vmware/vic/issues/3762#issuecomment-285404978

- security-opt: not supported since it is only used for windows containers (we only have linux containers I remember)
- stop-signal: yes
- stop-grace-period: not sure
- sysctl: not sure
- ulimit: not supproted

@stuclem @sflxn I didn't try all these `docker run` options when I did the research spike for `compose`. Maybe

[2017-03-10 08:33] #3537 closed

[2017-03-10 11:20] stuclem opened #4213 "Document support for docker network create --internal"
Per https://github.com/vmware/vic/issues/3736, which is implemented in PR https://github.com/vmware/vic/issues/4179. This missed the boat for 0.9, so putting it in docs for 1.1.

[2017-03-10 11:22] stuclem commented on #879
According to @chengwang86 in https://github.com/vmware/vic/issues/3762#issuecomment-285550441 docker compose scale works in 0.9.

[2017-03-10 11:26] malikkal commented on #4195
passing hostname as an argument during docker run using --entrypoint and using this in the entrypoint shell script helps. But, is this right to do this?

docker -H IP:2376 --tls run -itd --cpuset-cpus 8 --memory 16g --name myname --entrypoint /home/user/myentry.sh --net mynet01 IP:443/library/image:version tsthstnm001

#!/bin/sh

if [ $# -eq 0 ]
   then
      echo "No arguments supplied; will use

[2017-03-10 11:27] stuclem commented on #879
Fixing this in the context of https://github.com/vmware/vic/issues/3762. Closing.

[2017-03-10 11:27] #879 closed

[2017-03-10 11:42] fduranti opened #4214 "Root Password expired when trying to remote access to a VCH after setting debug mode"
I've enabled the debug mode, enabled ssh and setup a root password but I'm not able to login to the vic. It seems that the password is not recognized.
I've tried to send an "authorized_keys" file for my user to be able to login without password but I get asked for a password to be changed so it seems that the VCH root password expire and the debug command is not able to automatically change it.
I'

[2017-03-10 12:24] stuclem commented on #3991
PR https://github.com/vmware/vic/pull/4165 is merged. This didn't make it into 0.9.

[2017-03-10 13:10] stuclem commented on #3910
Not essential to doc this for 0.9. Moving to 1.1.

[2017-03-10 13:11] stuclem commented on #3515
Not essential doc this for 0.9. Moving to 1.1.

[2017-03-10 13:11] stuclem commented on #3529
Not essential doc this for 0.9. Moving to 1.1.

[2017-03-10 13:12] stuclem commented on #3092
Not essential doc this for 0.9. Moving to 1.1.

[2017-03-10 13:14] stuclem commented on #3827
Per conversation on Slack with @matthewavery the NFS implementation will only become really customer-visible once the `vic-machine` aspects are implemented. So, moving this out to 1.1.

@matthewavery please correct me if I'm wrong!

[2017-03-10 13:26] stuclem commented on #3762
Thanks @chengwang86. I have added support for `docker-compose ps/events/scale` and added the caveats about events to both `docker events` and `docker compose events`.
https://github.com/stuclem/vic/blob/docker/doc/user_doc/vic_app_dev/container_operations.md#container

I added the missing options in https://github.com/stuclem/vic/blob/docker/doc/user_doc/vic_app_dev/docker_compose_file_options.md.

[2017-03-10 13:44] stuclem commented on #3593
Dup of #3226

[2017-03-10 13:44] #3593 closed

[2017-03-10 14:41] mhagen-vmware commented on #4195
Yea, unfortunately there isn't a great way to do it in docker outside of the entrypoint script like you have done since we have not implemented -h just yet.

@hmahmood Can you help me estimate the effort involved in implementing docker run -h?

[2017-03-10 14:45] mhagen-vmware commented on #4195
If you just want to interact with them between containers, you can also use --name on the container then you can ping that name from a different container. Like here:
https://github.com/vmware/vic/blob/master/tests/test-cases/Group1-Docker-Commands/1-06-Docker-Run.robot#L68

https://github.com/vmware/vic/blob/master/tests/test-cases/Group1-Docker-Commands/1-06-Docker-Run.robot#L75

[2017-03-10 14:56] mhagen-vmware commented on #1745
Well, my bigger concern here @sflxn is that we are not actually running the standard voting app, we are running a modified voting app right? So that if we run the standard voting app we would still see this either way because we don't and aren't going to implement build right? That puts us in a bad position, because just returning ERROR: 404 when a customer tries to run the standard voting app is

[2017-03-10 16:32] chengwang86 commented on #3762
@stuclem

I have several comments:

1) I think we should remove the two bugs from the documentation for `docker events`, and only leave `we don't support volume/network events`.

2) for `docker-compose file options`,
- for `volumes` options, we do support all of them: driver, driver_opt, external,label. The only problem is that we do not support shared volumes. So if only one of the containers nee

[2017-03-10 16:38] chengwang86 opened #4215 "docker events does not display image name"
**VIC version:**

build 8351

**Deployment details:**

What was the vic-machine create command used to deploy the VCH?
bin/vic-machine-linux create --debug 1 --volume-store=datastore1/test:default --name=vch-100 --target=root:pwd@192.168.60.162 --thumbprint=... --no-tlsverify --no-tls

**Steps to reproduce:**
1) `docker events`
2) `docker create busybox`

**Actual behavior:**
In the output of `doc

[2017-03-10 16:45] chengwang86 opened #4216 "docker events on vic does not show the same event sequence as regular docker"
**VIC version:**

build 8351

**Deployment details:**

What was the vic-machine create command used to deploy the VCH?

bin/vic-machine-linux create --debug 1 --volume-store=datastore1/test:default --name=vch-100 --target=root:pwd@192.168.60.162 --thumbprint=... --no-tlsverify --no-tls

**Steps to reproduce:**
1) `docker events`
2) `docker run`
3) `docker stop`

**Actual behavior:**
[code]

**Expe

[2017-03-10 18:21] emlin commented on #1745
@mhagen-vmware what about we open another issue to track the docker build issue? So if you're okay with the change for integration test, we can close this issue.

[2017-03-10 18:23] gigawhitlocks commented on #4203
TIL github has a `diff` choice for syntax highlighting patches!

Anyway I'm more than happy to implement a regression test for this issue while putting in your fix @hickeng -- it also strikes me as something that it might be helpful to break into a helper function so that if we need to find all occurrences of this test we can use `guru` instead of trying to find the instances manually in the futur

[2017-03-10 18:32] lcastellano commented on #4212
I just saw this message scrolling back in my window:

docker: Error response from daemon: Server error from portlayer: unable to wait for process launch status: Post https://10.192.44.113/sdk: context deadline exceeded.

[2017-03-10 18:35] lcastellano commented on #4211
I checked on the datastore and volumes/volumes is empty, so It appears like a discrepancy between the output of "docker ls" and the actual configuration in VSphere.

[2017-03-10 18:48] mdubya66 commented on #4203
We will prioritize this for future sprints. thanks.

[2017-03-10 19:13] mdubya66 commented on #4214
I am also unable to change the password on my ESX running in fusion. VIC Engine GA 0.8.0 version.

[code]

[2017-03-10 19:19] mdubya66 commented on #4214
debug login works on with VIC B8351.  The v0.9.0 candidate.

(mwilliamson) ib-aus-office-137:~/Downloads/vic-8351 $  ./vic-machine-darwin debug -target 172.16.127.196 -user root --password 'password' --thumbprint FA:41:58:37:DB:11:C9:6A:74:64:73:28:1F:F9:40:CF:10:35:5F:C3 --ssh --name vic-v09
Mar 10 2017 13:17:12.248-06:00 INFO  ### Configuring VCH for debug ####
Mar 10 2017 13:17:12.411-06:00 INF

[2017-03-10 19:35] hickeng commented on #4168
@fdawg4l Again we're in need of a glossary - we're mixing layers, images, and probably other terms. Anyway, right from the very beginning we've had a relationship where layer data implies associated layer metadata, but it's never been contractually commutative. The portlayer API isn't exposing VMDKs directly - this is at most revisiting how the implementation functions.

Whether this should be in

[2017-03-10 20:04] emlin commented on #4038
this issue is to track the docker-compose problem for lack of docker build, but what I an doing is to verify modified voting-app works well with vic.
move this back to backlog, and open a new one to track the verification issue.

[2017-03-10 20:04] anchal-agrawal commented on #4212
@lcastellano This looks like a dup of #3315; I'm closing it. Thanks!

[2017-03-10 20:04] #4212 closed

[2017-03-10 20:04] anchal-agrawal commented on #3315
Also seen in #4212.

[2017-03-10 20:06] emlin opened #4220 "Make sure modified voting app works for vic"
As a docker-compose QE, I need to know the docker compose works with vic, and the example is the modified voting app should work well for each build.

Current integration test just tested the container is started correctly, without service check. We need to add enough check in the test

[2017-03-10 20:35] hmahmood commented on #4195
@mhagen-vmware 3 seems fine for this.

[2017-03-10 20:38] matthewavery opened #4221 "Move the VolumeJoin functionality to the VolumeStore implementation and create a join function for the VolumeCache."
**User Statement:**

As a user I would like the nfs implementation and vmdk implemention details to be less exposed to the swagger related portions of the portlayer. The Mode bits of a storage implementation along with other aspects of mounting and joining volumes should be done at the volumestore level since this is where we make our distinctions in the implementations.

**Details:**
Move the cur

[2017-03-10 21:00] corrieb commented on #4168
This is a great discussion to be having. The understanding that we create a VMDK for each metadata layer was present in Bonneville and while I felt it was sub-optimal in Bonneville, it didn't bother me like it does in VIC. I wanted to get to the bottom of why I feel that way, so I just ran a side-by-side comparison on the exact same datastore.

As it turns out, Bonneville and VIC both create the s

[2017-03-10 21:13] corrieb commented on #4168
In terms of the philosophical approach of Personality vs SPL, I think it's a good question. I'm a little on the fence about it. Let's say that we decide to add further optimizations so that any child layer smaller than a particular size threshold gets extracted onto its parent VMDK and we mark that parent VMDK as "special" in that it's clear that it's not the original content and can't be re-used.

[2017-03-10 21:20] emlin opened #4223 "docker compose without "-d" option cannot start container"
As a user of VIC and docker compose, I should be able to bring up a compose application in the foreground.

Acceptance Criteria:  Bring up a compose application with "docker-compose up" instead of "docker-compose up -d".  If testing this is possible, we should write a robot script to verify this.

---

docker compose does not work without option "-d"
[code]
The timeout doesn't matter, because ther

[2017-03-10 21:40] sflxn commented on #1745
@mhagen-vmware I've had this discussion with Ben and George many times.  Right now, all we can do is to say our recommended workflow is to use a registry for production deployment.  Use standard docker for development workflow.

[2017-03-10 21:47] emlin commented on #4038
move back to backlog by mistake, fix it now.

[2017-03-10 21:53] emlin commented on #1745
Leave this bug open to track the missing function of docker build, and the impact for docker compose.
Move it back to backlog, and use new issue #4220 to track verification requirement

[2017-03-10 21:58] sflxn commented on #3648
Maybe this isn't a 3 after all.  Finding the reason was easy.  Resolving it will take a little longer.

[2017-03-11 00:31] hickeng commented on #4203
@gigawhitlocks the diff I supplied DOESN'T handle cluster style paths such as `/cluster1/my/resource/pool` when there's no datacenter specified. I've not found a way of supplying a datacenter wildcard.
One approach would be to reject anything except a single path element for compute-resource (e.g. `mypool` is okay, `my/pool` is not) in the case where there's no datacenter qualifier.

The datacente

[2017-03-12 12:00] malikkal commented on #4195
Thank you. I understand that we could use --name for resolution between containers. In the interim, I will use the --entrypoint script to pass argument for setting hostname.

[2017-03-12 20:19] #4038 closed

[2017-03-13 11:03] stuclem opened #4228 "Document docker run -h"
Per https://github.com/vmware/vic/issues/4195

[2017-03-13 11:27] stuclem commented on #3762
@chengwang86 thanks for the comments

- Fixed  `docker events`.
- For the `docker-compose` file `volume` options, I added the options and the statement "vSphere Integrated Containers 0.9 does support shared volumes. You can use these options for containers that do not share volumes."
- For the `docker-compose` file `network` options, this doc is for 0.9, which is using build 8351 from 2nd March. S

[2017-03-13 14:13] malikkal commented on #4223
Even docker a run without -d doesn't work. I have the same error while trying to interact with container via -it. Even a case opened with support and no resolution yet. Steps to reproduce.

1. Deploy a VCH with --insecure-registry and container network.
2. Run a container out of the registry with -it. In this case a Redhat 6.8 base image.
3. Container will be stuck at Starting...
4. However, the c

[2017-03-13 14:53] mhagen-vmware opened #4230 "Move node install code from the drone.yml into the integration image"
This is slowing down builds installing every time:

      - curl -sL https://deb.nodesource.com/setup_7.x | bash -
      - apt-get install -yq nodejs

[2017-03-13 15:44] stuclem opened #4231 "Provide thumbprint if wrong thumbprint is specified in vic-machine create --thumbprint"
**VIC version:** 0.9, build 8351

**Deployment details:**

What was the vic-machine create command used to deploy the VCH?

$ vic-machine-windows create --target 10.xx.xx.xx --user 'Administrator@vsphere.local' --password 'xxx' --thumbprint `‎_thumbprint_` --bridge-network 'vic' --no-tls --name vch1

**Steps to reproduce:**

Deploy a VCH to a VC that you haven't used before, by using a command tha

[2017-03-13 16:00] stuclem commented on #4203
Added the following to the release notes:

----

- <b>Deployment fails with a `list failed` error when you specify resources by name rather than by path. [#4203](https://github.com/vmware/vic/issues/4203)</b><br>Deployment of a VCH fails with an error about failing to find resources that you specified by name in the `--compute-resource` option. However, `vic-machine` suggests the resource that you

[2017-03-13 16:15] stuclem commented on #2910
Removing kind/note

[2017-03-13 16:16] stuclem commented on #3817
Removing kind/note

[2017-03-13 16:17] stuclem commented on #2802
Thanks @mlh78750

[2017-03-13 16:17] stuclem commented on #2729
Removing kind/note

[2017-03-13 16:18] stuclem commented on #3946
Removing kind/note

[2017-03-13 16:22] stuclem commented on #3975
Added the following to the release notes:

----

- <b>`vic-machine ls` doubles output. [#3975](https://github.com/vmware/vic/issues/3975)</b><br> When you run `vic-machine ls`, VCHs are listed twice in the output.

   Workaround: Specify the `--compute-resource` option when you run `vic-machine ls`.

-----

@anchal-agrawal does this cover it?

[2017-03-13 16:38] andrewtchin commented on #3737
[code]

[2017-03-13 17:50] andrewtchin commented on #3737
[code]

[2017-03-13 17:51] andrewtchin commented on #3737
I verified docker-compose works, this is just a minor network inspect issue now

[2017-03-13 18:09] mhagen-vmware opened #4232 "VCH not working with Harbor when using HTTP"
I install harbor with protocol=http, and I install VCH with the following params:
[code]

Yet, when I do a pull, it still has a mismatch on the HTTP/HTTPS:
[code]

[2017-03-13 18:13] mhagen-vmware commented on #4232
[container-logs.zip](https://github.com/vmware/vic/files/839219/container-logs.zip)

[2017-03-13 18:16] corrieb opened #4233 "Specifying --volume-store = --image-store results in two root datastore folders"
In many cases, if you want the lifespan of the volume store to be equal to the lifespan of the VCH (you use --force on cleanup), you'll also want them arranged in the same root folder in the datastore.

Example:

```--image-store=iSCSI-nas-2 --volume-store=iSCSI-nas-2/0.9.0:default```

The images end up in iSCSI-nas-2/0.9.0/<uid>/images
Volumes end up in iSCSI-nas-2/0.9.0/volumes
But then the VCH

[2017-03-13 18:39] #4220 closed

[2017-03-13 18:40] mhagen-vmware commented on #3960
closing this as the PR is merged?

[2017-03-13 18:40] #3960 closed

[2017-03-13 18:50] mhagen-vmware commented on #4211
Please prioritize and estimate this and move to the backlog based on our defined criteria for priority and sizing.

[2017-03-13 19:21] mhagen-vmware commented on #4190
Why is this not in Sprint 4 milestone?  Nor does it have an estimate.

[2017-03-13 19:24] jooskim commented on #4190
Well, I originally had a feature to be implemented in Sprint 4 and that got blocked for a constraint from the H5 Client. I had to make a change of plan to instead working on test infra for UI.

[2017-03-13 19:25] jooskim commented on #4190
FYI, all test stuff is not even part of vmware/vic repo. It's under a private repo as Matt suggested before. I simply had to make this PR to update two lines in the robot file.

[2017-03-13 19:26] jooskim commented on #4190
For the sake of consistency I could take this back to backlog now if it works for you.

[2017-03-13 19:34] mhagen-vmware commented on #4190
Nope, if you are working on it - then it should be in the sprint.

[2017-03-13 19:51] jakedsouza commented on #3674
Reporting servers are available on

https://vic-logs.vcna.io/
https://vic-dashboard.vcna.io/

[2017-03-13 19:56] mhagen-vmware commented on #4232
This is because I specified port number in the --insecure-registry.  I am lowering the priority and closing this and duping it off of #4141

[2017-03-13 19:56] #4232 closed

[2017-03-13 19:58] mhagen-vmware commented on #4141
I hit this in #4232 as well, if you don't specify the port number I could get it to work. So you need to specify it with just the IP address.  I closed that issue and duped it here.  We need to be able to support port number and protocols in our specification.

[2017-03-13 20:03] mhagen-vmware commented on #4203
@stuclem lgtm

[2017-03-13 20:15] #4190 closed

[2017-03-13 20:22] andrewtchin commented on #3979
demo: https://asciinema.org/a/40izgi40z70lscfvfch75d2jf

[2017-03-13 21:48] caglar10ur opened #4235 "Header checker needs to enforce copyright year changes"
We could get a list of changed files eg: ```git diff-tree --no-commit-id --name-only -r HEAD``` and run header check against them and fail if needed.

[2017-03-13 22:17] vburenin commented on #4087
containerd can discover all necessary container data.

[2017-03-13 22:17] #4087 closed

[2017-03-13 22:25] anchal-agrawal commented on #3975
LGTM, thanks Stuart!

Side-note: I couldn't repro this issue (with/without `--compute-resource`) on a VC with 1 ESX. On a standalone ESX, the workaround we have is valid.

[2017-03-13 22:32] #3935 closed

[2017-03-13 22:34] vburenin opened #4236 "Receive and integrate events from VIC engine into containerd runtime plugin."
Containerd expects to receive events from container when something happens to container: CREATED, RUNNING, STOPPED, DELETED. Recently, related functionality has been added into port layer, so container runtime plugin can listen to those events and update container status accordingly so systems stays consistent.

Due to containerd event subsystem is incomplete, it might be hard to get any useful re

[2017-03-13 22:57] #3137 closed

[2017-03-13 23:14] hmahmood opened #4237 "Cannot start container after restarting VCH: "could not find IP range""
Certain containers will not start after exiting after a VCH restart:
[code]
Steps to reproduce:
1. `docker run -itd --name c1 busybox sleep 10` (add more time if you need more time to do step (2.))
2. Power off the VCH, and wait for the container above to exit
3. Power on the VCH
4. `docker run -itd busybox` (this will take the IP that was assigned to `c1` above since `c1` is not currently running

[2017-03-13 23:17] hmahmood commented on #4237
When `c1` exits, the event generated by vsphere is ignored by the VCH since its not running. Consequently we do not zero out the assigned ip address in the container VM guestinfo, and it remains whatever was assigned on the previous run. When VCH is now powered back on, and another container is started it gets the IP address that was previously assigned to `c1`. Now when `c1` is started, the port

[2017-03-13 23:45] jakedsouza commented on #4067
Verified password login is disabled on all boxes.

[2017-03-14 00:04] maplain commented on #3914
blocked by #3677

[2017-03-14 00:06] maplain commented on #3914
blocked by #3677

[2017-03-14 00:11] #3812 closed

[2017-03-14 04:51] stuclem commented on #4203
Thanks @mhagen-vmware. Removing kind/note.

[2017-03-14 07:54] corrieb opened #4241 "Implement docker run --rm"
It's a really useful feature, particularly when it comes to running a container to modify a volume and you then want it subsequently detached to be used by a different container.

Should be relatively simple - just a question of chaining a delete call following container shutdown?

[2017-03-14 09:53] frapposelli commented on #3913
VAC support will require a research spike in the next sprint

[2017-03-14 12:04] vivek-parikh opened #4243 "Failed to write to image store parentMap.tmp was not found"
docker: Failed to write to image store: [POST /storage/{store_name}][500] WriteImage default  &{Code:0xc42095ef08 Message:File /vmfs/volumes/53061925-77305773-73ad-74867ae3d1ae/VCH02/VIC/564d9379-ab62-acac-5931-06df153c5794/parentMap.tmp was not found}.

#For bug reports, please include the information below:

**VIC version:**

v0.8.0-7315-c8ac999

**Deployment details:**

./vic-machine-linux crea

[2017-03-14 15:03] mhagen-vmware commented on #3922
cat admiral.ovf can show the prop options available.

[2017-03-14 15:29] mhagen-vmware commented on #2033
This will be, at least until we upgrade to drone 0.5, covered in #4186

[2017-03-14 15:29] #2033 closed

[2017-03-14 15:30] mhagen-vmware commented on #3655
We now have a reporting server, we need to work to integrate nightly test results into that server as well.

[2017-03-14 15:35] #3921 closed

[2017-03-14 15:36] hmahmood commented on #3845
Logs from this build are not available, so I am not sure how to debug this. I would close this until we see this again in the longevity tests. @mhagen-vmware

[2017-03-14 15:39] hmahmood commented on #406
I can confirm that HA works without the heartbeat (and shared storage). Should we close this issue and track support for health check in another?

[2017-03-14 15:46] mhagen-vmware commented on #3845
We have not re-run longevity since the last failure, in order to close this as no-repro or lacking logs we need to at least run longevity once more.

[2017-03-14 15:47] mhagen-vmware commented on #3845
I will be starting a longevity run this afternoon on the latest build.  If this doesn't repro, we can close this then.

[2017-03-14 15:48] hmahmood commented on #744
@corrieb @mdubya66 @mreferre @mhagen-vmware

Update on HA:

1. add option to vic-machine for HA appliance  — need clarification on this; I am not sure what this is for
2. add docker run --restart handling - should pass through to portlayer create — --restart=always is currently the behavior, both on host and vm (tether) failure; is this enought for 1.1?
3. heartbeat support in tether — don't think

[2017-03-14 16:58] #3659 closed

[2017-03-14 17:22] mhagen-vmware commented on #3674
lgtm

[2017-03-14 17:25] amandafeng001 commented on #4097
NSX Security Tag is supported on our containerVMs now. The comparison of using Security Tag versus vNIC to associate membership to NSX Security Group is this PR: https://github.com/vmware/vic/pull/4071

[2017-03-14 17:25] #4097 closed

[2017-03-14 18:28] caglar10ur opened #4247 "vic-machine delete throws 'ServerFaultCode: Cannot complete the operation due to an incorrect request to the server.' warning"
[code]

[2017-03-14 20:29] sgairo commented on #4235
Needs proper story format please :)

[2017-03-14 20:45] anchal-agrawal commented on #3970
Reprioritizing to medium after chatting with @hmahmood. The original issue has been addressed; we now drop traffic from the bridge network to the management network. What remains is routing that traffic via the public network. Until that's addressed, the user can deploy a VCH with `--container-network` to give a container direct access to management resources if needed.

[2017-03-14 21:08] fdawg4l commented on #4243
@vivek-parikh can you tell us a bit more about your installation? Are you using vcenter?  What kind of datastore is this (iscsi, nfs, etc)?  From the logs, it looks like this is a new VIC instance that was just installed but I'm seeing some files already exist so I'm not certain.

Also, if you could grab the log bundle from the admin interface (it will download a zip file which includes the vmware

[2017-03-14 22:50] sflxn opened #4249 "Random VIC UI test failure in CI"
As a VIC developer, I should not see random VIC UI test failures in CI.

Acceptance criteria:  No more random failures.

---

From time to time, I will see random UI test failures.  We do not pull CI logs when this happens.  Usually, these failures will go away if the build gets restarted.

[code]

[2017-03-14 23:06] hickeng commented on #2928
The recent FCD change is the only thing that allows us to address this cleanly - even then it will instead mean that VM folder and read/write disk are left behind after a VM deletion so we'd need to then perform cleanup of the orphaned disks.

Without FCD we could disable the deletion method from the UI, but that introduces it's own issues.
I really don't have a good answer to this.

[2017-03-14 23:33] jooskim commented on #4249
This is not random, but happening when the build system gets slow enough to cause a unit test to take more than 5 seconds. I previously submitted a PR to fix this but seems like it's not fixed properly. I'll work on this tomorrow as soon as I get to the office.

[2017-03-15 00:31] jooskim commented on #4249
Looking from log above, it seems that the timeout for the very first test was still 5 seconds, when it was supposed to be set to 30 seconds, whereas executing test 18 took close to 15 seconds and it still did not fail. See [this](https://github.com/vmware/vic/blob/master/ui/vic-ui-h5c/vic/src/vic-app/src/app/app.component.spec.ts) and [that](https://github.com/vmware/vic/blob/master/ui/vic-ui-h5c/

[2017-03-15 05:34] vivek-parikh commented on #4243
I'm not using vcenter.  Datastore is of type nfs.
Yes the vic was just installed. Already existing files might be due to past vic installations and re-installations

I did not find vmware.log file in logs.zip or container-logs.zip (downloaded through vic web interface)

[2017-03-15 08:56] stuclem commented on #821
According to @hmahmood in https://github.com/vmware/vic/issues/406#issuecomment-286461378, HA works, so we can update the doc to claim support.

@hmahmood is this true for 0.9? Thanks!

[2017-03-15 08:58] vivek-parikh commented on #4243
Had to create a silly workaround:

I manually uploaded parentMap.tmp to VCH01/VIC/ID directory but it was getting renamed to parentMap and hence a complaint of .tmp not being found. I placed a shell script there(through sshing into ESX) which did this:

`#!/bin/sh
while [ true ]
do
    touch parentMap.tmp
done
`
No errors after that. +1 for race condition.

Also I believe this might have something

[2017-03-15 12:26] frapposelli commented on #3912
Closed by #4242

[2017-03-15 12:26] #3912 closed

[2017-03-15 12:26] frapposelli commented on #3915
Closed by #4242

[2017-03-15 12:26] #3915 closed

[2017-03-15 12:28] frapposelli opened #4250 "Research Spike: VAC integration for OVA appliance"
User Statement: Want to track usage of the OVA Appliance, if the user has given consent.

Acceptance Criteria: Design for supporting Phone Home (VAC) with granular properties about what is currently installed in the appliance

[2017-03-15 12:29] frapposelli commented on #3913
Tracking VAC requirement in #4250

[2017-03-15 12:30] frapposelli commented on #3913
Rest of the story completed with #4240

[2017-03-15 12:30] #3913 closed

[2017-03-15 12:32] frapposelli opened #4251 "Create upgrade script for Harbor"
User Statement: Want to be able to upgrade from the previous Harbor-only OVA appliance to the new unified one.

Acceptance Criteria: Must perform a data move of the previous install and copy all the configuration over.

[2017-03-15 12:32] frapposelli opened #4252 "Create systemd unit for Harbor start/stop"
User Statement: Want to have Harbor started up and shut down on startup/shutdown of the OVA

Acceptance Criteria: Must support startup and clean shutdown of the Harbor application

[2017-03-15 12:32] frapposelli opened #4253 "Create systemd unit for Admiral start/stop"
User Statement: Want to have Admiral started up and shut down on startup/shutdown of the OVA

Acceptance Criteria: Must support startup and clean shutdown of the Admiral application

[2017-03-15 12:35] frapposelli opened #4254 "Create small web app for vic-machine download and vic-ui hosting for OVA appliance"
User Statement:

- Want to be able to download current `vic-machine` installer locally, without internet access.
- Want to be able to install vic-ui easily.

Acceptance Criteria: Must support download of the vic-machine version shipped with the OVA, must support install workflow of the vic-ui plugin via vCenter

[2017-03-15 14:45] mhagen-vmware commented on #4247
Please size, prioritize, label and put into backlog.

[2017-03-15 14:55] mhagen-vmware commented on #3914
This isn't blocked by #3677, you can add this into the manual section and add it into our nightlies if you want.

[2017-03-15 14:59] #3906 closed

[2017-03-15 15:14] #3907 closed

[2017-03-15 15:16] mhagen-vmware commented on #3940
I am not sure what to do with this, I don't see anything documentation or code or otherwise attached to this?

[2017-03-15 15:18] mhagen-vmware commented on #3674
@rajanashok Can you verify this as well, for a 2nd pair of eyes please?

[2017-03-15 15:31] rajanashok commented on #3674
@jakedsouza I get prompted for login when I access the reporting servers, couldn't login using my network creds though. Do we use a different authentication mechanism for this?

[2017-03-15 15:45] mhagen-vmware commented on #3674
I gave him it on slack

[2017-03-15 15:57] casualjim opened #4255 "libnetwork with NSX"
As a user I want to be able to create networks for docker libnetwork which are backed by NSX
As an admin I want to be able set security policies for networks managed through libnetwork

We want to create a docker swarm and have them connect the nodes to overlay networks managed by NSX

* Create a docker swarm
* Run a helloworld service with 2 or 3 replicas on a private network segment
* Have every

[2017-03-15 15:58] rajanashok commented on #3674
LGTM. One comment on the log reporting. It would be nice to have a shortcut link to the log bundle to help troubleshoot a failure.

[2017-03-15 16:19] mdubya66 commented on #4250
Given this is our last sprint for 1.1 features I asked @mhagen-vmware to lower this priority. We will need to pull it into the 1.2 release.

[2017-03-15 16:21] mdubya66 commented on #3917
Keeping this Epic tight for 1.1 release so I removed #4250

[2017-03-15 16:24] mhagen-vmware commented on #4255
No assignees or milestone in the backlog, and needs a priority please.  Looks like medium.

[2017-03-15 16:42] fdawg4l commented on #4243
@vivek-parikh you, obvioulsy, shouldn't need to create a shell script to do that.  Clearly something is amiss either in our code, the API we're using, or something else.

In any case, the `.tmp` file is a temporary file and is moved to it's final location after the upload to the datastore is complete.  The loop which is complaining is uploading the tmp file, then complaining the file it just uploa

[2017-03-15 16:42] frapposelli opened #4256 "Add Admiral to the Unified OVA"
User Statement: As a user, I want to be able to deploy the management ui with a single unified deployment

Acceptance Criteria: Admiral added in the build of the unified OVA

[2017-03-15 16:42] frapposelli opened #4257 "Add Harbor to the Unified OVA"
User Statement: As a user, I want to be able to deploy the container registry with a single unified deployment

Acceptance Criteria: Harbor added in the build of the unified OVA

[2017-03-15 16:59] hickeng commented on #4172
The user field is already present - this involves:
1. creating a user & group entry
2. create a home directory - could we use the configured working dir?
3. set the user in the container spec

We already launch appliance components as non-root user, but that's because we can control 1 & 2 easily.

[2017-03-15 17:02] hmahmood commented on #4172
@hickeng aren't (1.) and (2.) done in the docker file separately? Don't think if you just USER in docker file, we are expected to create and set up the user.

[2017-03-15 17:05] hmahmood commented on #821
@stuclem yes, with one bug outstanding: #4237

[2017-03-15 17:07] hickeng commented on #4172
@hmahmood Updated my prior comment to note the consistency requirements.
To answer your question, maybe - last time I looked at it was before the user mapping code went into docker.

Requiring consistency with IDs for volume permissions still needs to be addressed, no matter how this is done.

[2017-03-15 17:08] hmahmood commented on #821
@stuclem I don't think my PR actually made it into 0.9 actually, so I guess we can't claim HA support in 0.9.

[2017-03-15 17:28] hmahmood commented on #4172
For consistency with volume permissions, that doesn't seem like something we should address -- it sounds like the dockerfile writer should be cognizant of that, and if the uids/gids are not consistent, then we just have fail gracefully. What particular use case do you have in mind?

[2017-03-15 17:29] caglar10ur opened #4258 "Maintenance mode should not shut down container with active attach sessions"
As a VIC admin, I want to be able to put hosts into maintenance mode and have container workloads vMotioned off that host, regardless of the attach status of the container.

As a VIC user, I don't want my containers to shut off without my knowledge.

Problem Statement
Problem currently is that an open serial port inhibits vMotion of a VM. When a user attaches to a containerVM, they open a connecti

[2017-03-15 17:35] fdawg4l opened #4259 "Add internal disk manager call to get parents to govmomi"
I don't remember the call name.  Will add it when I find it again.  It's an internal method and returns all of the information for a given vmdk which includes its lineage of parents.

[2017-03-15 17:37] fdawg4l opened #4260 "Integrate disk method into vsphere storage layer"
Once we have the internal method implemented in govmomi (from #4259), we can remove the parentMap.

This issue will encompass all of the changes necessary to integrate the call into the vsphere storage implementation for images.

[2017-03-15 17:39] fdawg4l opened #4261 "Migrate from using parentMap to using internal disk method for parents"
We're using the parentMap in the vsphere storage layer to keep track of which disk delta disks are children of which parent.  This was a temporary solution, but in order to get away from direct datastore access via GET/PUT, using the vsphere disk apis to get this information is preferable.

[2017-03-15 17:40] fdawg4l commented on #4261
This epic will avoid #4243 all together.

[2017-03-15 17:50] matthewavery opened #4262 "Change behavior of volumestore creation away from causing a panic on failure"
**User Statement:**

As a user I would like for the portlayer to not panic and fall over if a volumestore target is not able to be created. That way when I call `docker info` I can tell which volumestores failed to be created as a user.

**Details:**
The `Configure` function for the storage handlers should not panic on volumestore creation failuer. Instead they should log errors and explanations.

[2017-03-15 17:57] caglar10ur commented on #3048
dup of https://github.com/vmware/vic/issues/3649

[2017-03-15 17:57] #3048 closed

[2017-03-15 17:58] caglar10ur opened #4263 "Add attach support to exec'ed session"
Story
As a VIC developer I want to be able to attach  exec'ed sessions while it's live

Detail
We now have exec cmd's running in detached mode, we need to add support of attaching them to portlayer/personality and tether.

Acceptance
docker run -d busybox /bin/top
docker exec ID /bin/aash gives you an interactive shell

[2017-03-15 18:07] caglar10ur opened #4264 "Add inspect support to exec'ed session"
Story
As a VIC developer I want to be able to inspect a container with exec'ed sessions

Detail
We now have exec cmd's running in detached mode, we need to add support of inspecting them

Acceptance
docker inspect ID needs to show ExecIDs of exec'ed session, personalities exec backend needs to return identical data to https://docs.docker.com/engine/api/v1.25/#operation/ExecInspect

[2017-03-15 18:10] hickeng commented on #692
Changing this to high to elicit conversation specifically about firewall rule being applied when a container makes use of NFS volume

[2017-03-15 18:19] lcastellano opened #4265 "Container logs are not displayed in Admiral"
**User Statement:**
Since we are not implementing the container log option "--since", we need a workaround for Admiral to display the log content.

**Details:**
The workaround can either be implemented in Admiral (retry without --since) or VIC (ignore the --since flag). In either case Admiral and VIC need to be tested in combination.

**Acceptance Criteria:**
Admiral should display container logs

[2017-03-15 18:33] #4112 closed

[2017-03-15 18:33] mdubya66 commented on #4112
closing as not reproducible.

[2017-03-15 18:43] #3574 closed

[2017-03-15 19:01] sflxn opened #4266 "Determine and fix any issues around VIC and Harbor with wildcard certificate"
As a user of VIC and Harbor, I should be able to use a wildcard certificate with Harbor and VIC.

Acceptance Criteria:  Robot scripts that verifies wildcard certificates works.

---

We need to first determine if this is an issue.  If it is, we need to fix it.

[2017-03-15 19:02] sflxn commented on #4266
Not sure this is an issue.  Ian looked at an issue that involved wildcard certificates but was gated by another issue so we never determined if this is an issue.

[2017-03-15 19:18] mhagen-vmware commented on #2847
Passed on the latest run, no longer able to repro

[2017-03-15 19:18] #2847 closed

[2017-03-15 19:52] jakedsouza opened #4267 "Deploy drone 0.5 nodes"
**User Statement:**

As a vic engineer, I want to run builds on the latest version of drone.

**Details:**
Deploy a new ci environment using the latest drone build

**Acceptance Criteria:**

- [ ] New drone master and 8 agents deployed with TLS enabled on a new domain
- [ ] Ansible scripts to configure each node
- [ ] New Domain ci.vcna.io for the tests

[2017-03-15 19:59] jakedsouza opened #4268 "Modify all drone files to work on new ci infrastructure"
**User Statement:**

As a vic engineer, I want to be confident that all changes are built on the latest ci infrastructure

**Details:**

Modify existing drone files to build on new ci infrastructure
Depends on #4267

**Acceptance Criteria:**

- [x] All drone files are modified to work on latest drone
- [x] Documentation is updated to reflect this change
- [ ] Document new CI infrastructure in goog

[2017-03-15 20:11] #3648 closed

[2017-03-15 21:21] sflxn commented on #4223
I'm able to reproduce this.  It appears be a tether related issue.

[2017-03-15 21:40] fdawg4l commented on #4243
[code]

Looks like I can repro this locally.  And when using a datastore name without paranthesis, it works as expected.

[2017-03-15 21:46] sflxn commented on #4223
This is a really nasty bug.  The container started by compose in this way never fully gets into "running" state and cannot be deleted.

docker-compose down fails
docker rm fails

[2017-03-15 21:59] sflxn opened #4269 "Containers can get into a state where the container cannot be deleted"
As a VIC user, I should be able to delete any container using 'docker rm'.

---

We have found a situation during docker-compose up where containers get into a "starting" state and cannot be deleted.

docker-compose down fails
docker rm fails.

[code]

To reproduce, take the following compose file and perform docker-compose up (without -d).
[docker-compose.yml.zip](https://github.com/vmware/vic/fi

[2017-03-15 22:00] fdawg4l commented on #4243
@vivek-parikh the workaround for now is to use a datastore without a parenthesis in the name until we can get a code fix in to avoid the issue.

[2017-03-15 22:02] sflxn commented on #4223
Wrote up #4269 to address the issue in my last comment.

[2017-03-15 22:02] fdawg4l commented on #4243
[code]

Looks like the datastore helper is rooting all of the files in the mangled images directory.

[2017-03-15 22:05] fdawg4l commented on #4243
Found it.  This is....  embarrassing.

https://github.com/vmware/vic/blob/master/pkg/vsphere/datastore/datastore.go#L327
[code]

[2017-03-15 22:46] sflxn commented on #4223
docker-compose up, without -d causes an attach to occur; however, if we inspect the container that's created, we see the following,

[code]

[2017-03-15 23:11] cgtexmex commented on #4269
@sflxn where's the example compose file?

[2017-03-15 23:13] sflxn commented on #4223
It turns out the above comment about inspect is the reason this issue occurs.  These flags are used in the portlayer to determine whether to connect the serial port.  Later when compose does an attach, it cannot do so because there is no serial port connected on start.

The fact that compose creates a container with these attach values set to false and then later tries to attach goes against every

[2017-03-15 23:24] sflxn commented on #4269
It's in docker-compose.yml.zip above.

[2017-03-15 23:46] mdubya66 commented on #4182
let's confirm with @karthik-narayan that we want to do this.

[2017-03-15 23:51] sflxn commented on #4223
At the top of my head, we can resolve this by forcing AttachStdout and AttachStdin to true on ContainerCreate or move the attaching of the serial port to the attach call instead of the create call.

[2017-03-16 00:14] sflxn commented on #4223
I just created a special build of the docker daemon where I set all the attach flags to false during create.  Using this daemon, I created a container and inspected it to make sure the flags are all set to false.  They are.  I then was able to attach to the container.

The conclusion is that these flags during container create have no meaning for standard docker.  I suspect the only value they hav

[2017-03-16 00:16] cgtexmex commented on #4269
@sflxn way to edit that issue :-) -- Thanks!

[2017-03-16 07:07] pkhodaveissi opened #4272 "Add support for docker import"
Hi there
I am trying to integrate gitlab-runner with VICE instead of local docker server, but getting this error that it seems VIC api does not implement one of the functions:
`
Running with gitlab-ci-multi-runner 1.11.1 (a67a225)
  on vm-docker-runner (a6e17466)
Using Docker executor with image maven:3-jdk-8 ...
ERROR: Failed to create container volume for /builds/cmts API error (500): vSphere In

[2017-03-16 09:13] stuclem commented on #821
Thanks @hmahmood. Leaving this one in the 1.1 milestone, in that case.

[2017-03-16 10:18] stuclem commented on #1282
This will be rendered redundant once we have the unified installer.

[2017-03-16 10:18] #1282 closed

[2017-03-16 12:00] stuclem commented on #3975
Thanks @anchal-agrawal. Removing kind/note.

[2017-03-16 14:21] stuclem commented on #3226
Updated the content about installing the Flex plug-in and added info about the H5 plug-in in https://github.com/vmware/vic/commit/95c1d2a6e8a8e94d19f6e510e5dfbca6be04e965.

@jooskim can you please take a look? Thanks!

[2017-03-16 14:22] karthik-narayan commented on #4182
@mhagen-vmware Is there a reason we are looking to make this change? Let's chat over email.

[2017-03-16 14:28] mhagen-vmware opened #4274 "Implement test for vmwarecna/nginx"
User statement:
As a customer of VIC, I would like to know that VMware's version of nginx image with photon OS splash screen has been tested and works with VIC.

Details:
docker pull vmwarecna/nginx

Acceptance Criteria:
1. New test is implemented and runs in either nightly or CI.

[2017-03-16 14:31] stuclem commented on #4223
@sflxn does this need to be included in the release notes for 0.9?

[2017-03-16 14:35] stuclem opened #4275 "Document support for docker compose bundle"
Per https://github.com/vmware/vic/issues/3648, which is merged in  https://github.com/vmware/vic/issues/4227

[2017-03-16 14:36] stuclem commented on #4002
See also https://github.com/vmware/vic/issues/4258

[2017-03-16 14:43] stuclem opened #4276 "Update docs to point to downloads on Google Storage rather than Bintray"
Per https://github.com/vmware/vic/issues/4183, we are moving the binary downloads to Google Cloud Storage.

[2017-03-16 14:51] stuclem commented on #2763
Now that we have the unified installer (doc effort is tracked in https://github.com/vmware/vic-product/issues/22), this issue is redundant.

[2017-03-16 14:51] #2763 closed

[2017-03-16 15:06] #380 closed

[2017-03-16 15:06] jooskim commented on #4254
Additional requirements:

Web server should always use HTTPS connection with its SHA-1 fingerprint handy. This could be hardcoded into the installer script, or even more advanced solution is that `vic-ui install` will all take care of it so that there will be no need for any shell scripts.

[2017-03-16 15:14] anchal-agrawal commented on #4272
@pkhodaveissi, thanks for reporting. What is the command/script you're running? We haven't implemented `docker import` yet, which is what seems like the command is trying to do.

I'll update the issue title so we can use this to track `docker import` work.

[2017-03-16 15:51] jooskim opened #4277 "VIC UI installer for Windows doesn't work as expected with H5 Client in vCenter 6.5"
Expected Behavior:
After installing the H5 Client plugin using `vCenterForWindows/install.bat` with a web server hosting the plugin zip file, the VC should successfully deploy the plugin and show it. The VC this issue refers to is vCenter 6.5 Windows.

Actual Behavior:
The plugin won't show up.

As a UI engineer I want to make sure all UI installers (`install.sh` for Linux and macOS and `install.b

[2017-03-16 15:57] andrewtchin commented on #4254
Which installer script needs the fingerprint? I don't think it could be hardcoded because that would mean every install would have the same cert
Customers would probably also want to be able to use their own cert as an option

[2017-03-16 16:02] jooskim commented on #4254
Fingerprint has to be supplied as a flag for extension registration with VC. `--thumbprint` for `vic-ui` to be specific. So that's going to be based off of the certificate of the OVA appliance I suppose.

[2017-03-16 16:14] #3922 closed

[2017-03-16 16:54] #839 closed

[2017-03-16 16:54] #1696 closed

[2017-03-16 16:54] #3762 closed

[2017-03-16 16:54] #3848 closed

[2017-03-16 16:54] #3849 closed

[2017-03-16 16:54] #3855 closed

[2017-03-16 16:54] #4007 closed

[2017-03-16 17:12] mhagen-vmware commented on #4186
Hey @jakedsouza , sorry for the whiplash but as the secrets file will be going away with the move to drone .5 anyways this story only buys us a couple weeks of change.  After discussing with Matt, it is probably not worth spending any time at all on.

[2017-03-16 17:24] dougm commented on #4259
vmware/govmomi#686

[2017-03-16 17:47] jooskim opened #4279 "VIC UI installer script for Windows won't work under a certain condition"
**User Statement:**
As a UI engineer, I want to ensure the UI plugin installer works across all supported environments.

**Details:**
The plugin installer should work across all supported environments whether it's a vCSA or vCenter 6.5 instance, but the H5 Client plugin won't install against vCenter 6.5 without a web server serving the plugin zip file. Installing without a web server involves copy

[2017-03-16 18:11] jakedsouza commented on #4186
@mhagen-vmware While 0.5 will not require us to manage this file. I think we should still complete this task for the following reasons

1. 0.5 is still a few weeks away and this change will add some consistency to how we manage the secrets
2. Even with 0.5, it is still nice to have an up-to-date secrets file for secrets that need to change. Drone secrets management does not let us see the secret v

[2017-03-16 18:34] corrieb commented on #406
HA works in a limited set of circumstances. It works in the event of host failure, but doesn't in the event of workload failure. Unless there's something I'm misunderstanding. That's what this is designed to address, right?

[2017-03-16 18:42] corrieb commented on #744
(1) @hickeng can clarify. If this is a question of host failure, then I suspect we already cover it with what we've done. If it's WRT some kind of heartbeat on the portlayer/personality services then that should be covered under #406

(2) The interesting problem here is that HA is either enabled on the cluster (in which case, you'd need to explicitly set --restart=never to get different behavior)

[2017-03-16 18:59] mhagen-vmware commented on #4186
Agreed, good points!

[2017-03-16 19:18] cgtexmex opened #4282 "docker persona not saving image repo digest correctly"
The docker persona is not saving the image metadata repo digest correctly.  This results in the `docker images` command providing incorrect output.

Current - 1.11.2 client:
[code]
Expected - 1.11.2 client:
[code]

[2017-03-16 19:44] mhagen-vmware commented on #3022
[container-logs.zip](https://github.com/vmware/vic/files/848843/container-logs.zip)

Hit this issue again upon running longevity

[2017-03-16 19:53] gigawhitlocks opened #4283 "VIC Admin takes extremely long time to load when Internet connection is not available"
**Details:**
When a connection to the WAN is severed, VIC Admin tries to do an Internet connectivity test by reaching out to a known IP on the Web. This test does not fail until the attempted connection times out, causing the status page to take about 8 minutes to load, as it waits for the test to complete before loading.

**Acceptance Criteria:**
Put a much more aggressive timeout on the Internet

[2017-03-16 20:03] mdubya66 opened #4285 "older versions of nginx fail on 0.9.0"
#For bug reports, please include the information below:

**VIC version:**

v0.9.0
**Deployment details:**

What was the vic-machine create command used to deploy the VCH?

 ./vic-machine-darwin create -target 172.16.127.196 -user root --password 'password' --no-tlsverify --thumbprint FA:41:58:37:DB:11:C9:6A:74:64:73:28:1F:F9:40:CF:10:35:5F:C3 --volume-store datastore1/as:default --name vic-v09

**

[2017-03-16 20:37] mhagen-vmware commented on #4067
lgtm

[2017-03-16 20:37] #4067 closed

[2017-03-16 21:02] hickeng commented on #4223
@sflxn the serial port connection code is in the attach path currently - however if stdin/stdout/stderr are all false then attach capability is disabled for that process as it's interpreted to mean that attach is not allowed.
If these fields are simply to record which streams are currently attached then we already have that data from live sources due to our stream handling logic - which io.Copy's

[2017-03-17 14:21] mdubya66 commented on #4285
nginx:1.8.1 and nginx:1.9.15 both run fine with VIC v0.9.0
[code]

[2017-03-17 14:50] #4277 closed

[2017-03-17 14:58] #4249 closed

[2017-03-17 14:59] #3226 closed

[2017-03-17 15:23] mhagen-vmware commented on #3686
moving this to high now as we finally have all the parts ( I think ) and we need to get this setup ASAP.

[2017-03-17 15:33] mhagen-vmware commented on #4274
related #4285

[2017-03-17 15:38] mhagen-vmware commented on #4279
@jooskim Is this issue still valid or closed with #4277 ?

[2017-03-17 15:45] jzt opened #4289 "Request canceled when waiting on container VM process to launch"
**VIC version:**

0.8

**Deployment details:**

What was the vic-machine create command used to deploy the VCH?
[code]
**Steps to reproduce:**
`docker -H <VCH IP>:2376 --tls run -i --cpuset-cpus 2 --memory 4g --name rhelbase <registry ip>/library/rhel6.8`

**Actual behavior:**
[code]
**Expected behavior:**
Container deployed without error.

**Additional details as necessary:**
Reproduction done us

[2017-03-17 15:46] jooskim commented on #4279
@mhagen-vmware This is a separate issue and will be addressed by the OVA work that Fabio is working on.

[2017-03-17 16:03] #4282 closed

[2017-03-17 16:38] dougm commented on #4289
"net/http: request canceled" is from the stdlib net/http client and happens in this case when we hit the 3 minute propertyCollectorTimeout set here: https://github.com/vmware/vic/blob/master/lib/portlayer/exec/base.go#L186

[2017-03-17 16:43] stuclem opened #4291 "Document the new features for the H5 Client plugin"
Per https://github.com/vmware/vic/issues/3753.

This is all after 1.1.

[2017-03-17 18:10] #3759 closed

[2017-03-17 20:05] #4283 closed

[2017-03-17 21:02] hickeng opened #4294 "Inconsistent handling of container failure to start"
This is identified during investigation of #4289

The containerVM in question is not setting the `session.started` flag and as such the property collector times out. The reason why it's not being set is unimportant in this issue.
The problem is how we handle that failure - we Unbind the network config, but we do not power down the container. This means that if the container process didn't start su

[2017-03-17 21:24] hickeng opened #4295 "Reuse single VCH for CI test run and share VC infrastructure with other CI jobs"
**Story**
As a VIC developer I want my CI to find issues likely to occur in customer production scenarios
As a VIC customer I want to use multiple VCHs within a VC as a tenancy/partitioning mechanism for my compute resources.

**Detail**
Our primary deployment scenario for VIC is into a vCenter environment with supporting multiple VCHs providing tenant boundaries. This should encompass concurrent

[2017-03-17 21:35] sflxn commented on #4223
Interesting side effect of enabling attach during create,

docker-compose up     //succeeds
ctrl-c
docker-compose up     //hangs on attach

[2017-03-17 22:12] hickeng opened #4296 "Ensure that runblocking is configured anew for each container start"
**Story**
As a docker API user calling start I expect the container process to launch when the container starts
As a docker API user calling attach before start I expect to receive _all_ of the container process output

**Detail**
We have a mechanism called runblocking that inhibits the container process from starting until an attach is performed. This is triggered by the following API call orderi

[2017-03-17 22:15] hickeng commented on #4020
Could someone confirm what the correct behaviour should be - I agree that there's an ambiguity if "abe" is permitted and there's a container ID that collides, but I'm unsure it actually qualifies as a name collision.
WDDD? (what does docker do?)

[2017-03-17 22:25] anchal-agrawal commented on #4020
[code]

That's interesting - looks like we're conflating the container's name and ID, while Docker isn't.

[2017-03-17 22:41] hickeng opened #4297 "Possible collision of tests using the same volume store directory"
Looking into the failure of https://ci.vmware.run/vmware/vic/8746 the hostd output appears to show that there is a vic-machine delete running at the same time as our test.
Working assumption is that there was an attempt to delete another VCH that was using the same [datastore1] tests/volumes/ directory

This is one of the reasons that #4295 is open - if we're seeing this in an artificially simple

[2017-03-17 23:42] sflxn opened #4298 "Docker inspect on compose app's services are wrong for attach configs"
As a VIC user, I should be able to run docker inspect on a service in a compose app and see correct attach configuration.

Acceptance Criteria:  Robot scripts that checks docker inspect on a service in a compose app and verifies the attach configuration are correct.

---

These are the values from any services started with "compose up" or "compose up -d":

[code]

[2017-03-17 23:46] sflxn commented on #4298
AttachStdin, AttachStdout, AttachStderr, Tty, OpenStdin should just be the same value used by containercreate.  We're trying to get those values from the portlayer's containerinfo operation.  Those values should be stored in the container's annotation to be read back out.

StdinOnce should probably change after disconnect from attach and stored in annotation.

[2017-03-17 23:56] sflxn commented on #4223
Also found that inspect data for compose services are incorrect.  Wrote up https://github.com/vmware/vic/issues/4298 for it.

[2017-03-18 07:32] pkhodaveissi commented on #4272
@anchal-agrawal I'm not the one who's running the scripts, I'm afraid. It's gitlab's CI doing the job via gitlab-runner.
I'll be glad to provide any information you ask for.
cheers

[2017-03-19 15:05] alexanderkjeldaas commented on #3682
I'm getting `Unrecognized input header: 69` for most services on 17.03.0 when running `docker service logs <something>`.  Are you sure this is fixed?

[2017-03-19 18:38] anchal-agrawal commented on #3682
@alexanderkjeldaas which version of VIC are you running? VIC Engine 0.8.0 doesn't have this fix. Please use the [0.9.0 release](https://github.com/vmware/vic/releases/tag/v0.9.0). Also, VIC doesn't support `docker service` commands yet. VIC Engine 0.9.0 supports Docker client v1.13 and Docker API v1.25. You can view the list of supported commands in 0.9.0 [here](https://vmware.github.io/vic-produc

[2017-03-20 10:14] stuclem commented on #4223
Added the following to the release notes for 0.9:

-------

- <b>Containers remain in the `Starting` state when you run `docker compose up`. [#4223](https://github.com/vmware/vic/issues/4223)</b><br>Bringing up a compose application by using `docker-compose up` results in containers getting stuck at the `Starting` state. This does not happen if you use the `-d` option when you run `docker compose

[2017-03-20 14:58] mhagen-vmware opened #4302 "Publish the nightly reports to the new logging server"
User statement: As an engineer on VIC I would like all of our reports to be published to the new logging server so that we have a single unified location for all of our different testing

Details:  This story is just to store the nightly results in the logging server for now, making it a small story. We need to figure out what we want to look at for the reporting side, so just putting it on the lo

[2017-03-20 15:03] anchal-agrawal commented on #4272
@pkhodaveissi I took a quick look at gitlab-runner and looks like you're using the Docker executor with VIC. Does your `.gitlab-ci.yml` include a `docker build` command as shown [here](https://docs.gitlab.com/runner/executors/docker.html#use-docker-in-docker-with-privileged-mode)? Would it be possible to show your `.gitlab-ci.yml` or just the Docker commands in it?

[2017-03-20 15:20] mhagen-vmware commented on #4259
What is the state of this issue?  It looks like the code has already been merged but neither I nor Ashok verified?

[2017-03-20 15:20] mhagen-vmware commented on #4243
What is the state of this issue?  It looks like the code has already been merged but neither I nor Ashok verified?

[2017-03-20 15:21] mhagen-vmware commented on #3940
@casualjim ^^^

[2017-03-20 15:46] fdawg4l commented on #4243
@mhagen-vmware That's right. Code is merged and I thought you may want to verify it.

[2017-03-20 15:47] fdawg4l commented on #4259
@mhagen-vmware the merged code is internal to our product. Verifying externally won't be possible.

[2017-03-20 16:08] dougm commented on #4259
Both this change and the previous vendor/govmomi update (for metrics) can be verified, but only with govc commands and bats tests - since there isn't VIC code calling the new APIs yet.  What do you prefer to do in these cases @mhagen-vmware ?

[2017-03-20 17:45] andrewtchin commented on #4254
- [ ] Create webserver to display directory listing of `vic-machine`, `vic-ui`, `plugin-packages/com.vmware.vic-0.8.0.zip`, and `vsphere-client-serenity/om.vmware.vic.ui-0.8.0.zip`
- [ ] Modify OVA to put binaries on the filesystem
- [ ] Use self signed certs

[2017-03-20 17:49] jooskim opened #4304 "Add --detect-server-thumbprint to vic-ui"
**User Statement:**

As a UI engineer I would want to improve the VIC UI installer for better user experience. As per #4254, the VIC UI plugin zip files would eventually be served in a web server running on the OVA appliance. This makes it possible to make the UI installer much leaner and more secure in a couple aspects such as not having to SSH into the VC with the root credentials. One change th

[2017-03-20 17:50] jooskim commented on #4304
Looping in @andrewtchin

[2017-03-20 17:59] andrewtchin commented on #4304
This looks good. We should be able to reuse thumbprint code from `vic-machine`

[2017-03-20 18:08] hickeng opened #4305 "Design: plan out changes to integration tests to allow single VCH use across majority of test suite"
**Story** - these inherit from the epic
As a VIC developer I want my CI to find issues likely to occur in customer production scenarios
As a VIC customer I want to use multiple VCHs within a VC as a tenancy/partitioning mechanism for my compute resources.

**Detail**
Our primary deployment scenario for VIC is into a vCenter environment with supporting multiple VCHs providing tenant boundaries. Thi

[2017-03-20 18:08] hickeng opened #4306 "Design: plan out changes to CI setup to allow use of a single shared VC for test jobs"
**Story** - these inherit from the epic
As a VIC developer I want my CI to find issues likely to occur in customer production scenarios
As a VIC customer I want to use multiple VCHs within a VC as a tenancy/partitioning mechanism for my compute resources.

**Detail**
Our primary deployment scenario for VIC is into a vCenter environment with supporting multiple VCHs providing tenant boundaries. Thi

[2017-03-20 18:19] mhagen-vmware commented on #4259
In this case, just tagging our story where we plan on using the new calls would be good.  Thanks!

[2017-03-20 18:20] mhagen-vmware commented on #4243
Well, the process is actually to verify before merging.. In this case, I think that the 2 unit tests mods look good enough.  Thanks!

[2017-03-20 18:20] #4243 closed

[2017-03-20 18:21] #4259 closed

[2017-03-20 18:22] mhagen-vmware commented on #4230
@jakedsouza Why did you re-open this?

[2017-03-20 18:23] mhagen-vmware commented on #4182
@jakedsouza Once the PR is verified by QE and merged, the story can be closed.

[2017-03-20 18:23] #4182 closed

[2017-03-20 18:25] chengwang86 opened #4307 "Add trailing slash to vic-machine cmds in the test cases to separate TEST_URL and TEST_DATACENTER"
#For stories, please include the information below:

**User Statement:**

As a vic user and a developer, I should be able to specify the %{TEST_DATACENTER} env variable and use it in the test cases when vic-machine related cmds are used.

**Details:**
Originally we didn't handle the trailing slash properly in the test cases, so that we needed to add a `/` to `TEST_DATACENTER`, e.g., `TEST_DATACENT

[2017-03-20 18:26] mhagen-vmware commented on #3674
Verified by both @rajanashok and myself. @jakedsouza Once you have LGTMs for either one of us and at least one other, you can close.

[2017-03-20 18:26] #3674 closed

[2017-03-20 18:52] jakedsouza commented on #4186
secrets are not hosted on internal repo.

[2017-03-20 18:58] hmahmood commented on #406
If by workload failure you mean tether failure (panic), then we reboot the VM currently, and we could modify that behavior to conform to whatever restart policy the user wants. I am not sure we need  heartbeat for this, since vsphere will monitor network traffic and cpu (?) if no heartbeat support is present in the toolbox. @dougm could you confirm that is the case since you stated above heartbeat

[2017-03-20 19:18] #4186 closed

[2017-03-20 19:34] dougm commented on #406
@hmahmood my comment was related to VM HA when a host fails, and referenced a comment that the HA test was broken (using local storage).

Our toolbox responding to the "ping" command is also enough for vSphere to set the VirtualMachine.guestHeartbeatStatus to "green".

I'd still need to investigate what exactly the tools "heartbeat" message is used for.

Also note that "App HA" has been EOL'd:
htt

[2017-03-20 19:36] hickeng opened #4310 "Check to ensure that container version supports exec/reload"
Broken out from #4110

We should be returning an error if a task operation is performed on a powered on container where the tether does not support reload.

**Acceptance**
Upgrade test from 0.8 with a live container - container should reject `exec` with a useful error message explaining that the container version does not support exec.

[2017-03-20 20:33] jakedsouza commented on #4230
@mhagen-vmware  the issue got closed by github, I moved it to the verify pipeline.

[2017-03-20 20:37] mhagen-vmware commented on #4230
@jakedsouza Ok, np.  But once you have me or Ashok LGTM on the PR you can let github close the parent issue or close it yourself. Thanks!

[2017-03-20 20:37] #4230 closed

[2017-03-20 20:46] hickeng opened #4312 "Fix `vic-machine` recommendations for compute, datastore, and network"
**Story**
As a viadmin deploying a VCH I want vic-machine to provide a list of valid choices for compute, storage, and networking values

**Detail**
Changes to govmomi finder resulted in our "recommendation" logic being broken and #3557 broke the detection of absolute inventory paths in some cases.
This is a follow on from #4203.

We attempt to provide "recommendations" for compute resources and d

[2017-03-20 22:23] hickeng opened #4314 "Add wrapper and sudoers entries for iptables/NAT forward setup"

[2017-03-20 22:25] hickeng opened #4315 "Add secured mount wrapper or coarse CAP_SYS_ADMIN for portlayer"

[2017-03-20 22:25] hickeng opened #4316 "Appliance components run with least-privilege"
**Story**
As a security engineer I want the VCH endpoint to be as secure as possible, given it's a gateway to the management network and mechanisms

**Detail**
Security in depth should be applied to the entire VIC architecture, and to the VCH endpointVMs in particular, as they provide a gateway into the infrastructure.
As such the components in the endpoint should be running with minimal privilege

[2017-03-20 22:59] hickeng commented on #833
@stuclem can this be closed given #3298 and the existing docs for #1689

[2017-03-20 23:50] #4152 closed

[2017-03-21 00:23] sflxn opened #4317 "docker-compose has issues with tls and VIC"
As a user of VIC, I should be able to use TLS with docker-compose against VIC.

Acceptance criteria:  Have robot scripts that can execute docker-compose --tls without getting the following,

[code]

[2017-03-21 00:28] sflxn commented on #4317
I was seeing this issue a lot on my local drone CI runs.  I thought it was just drone, but I've been able to reproduce it locally (outside of drone).

[code]

[code]

As we can see above, docker works fine with --tls, but docker-compose does not.  There are a lot of reports of this issue in both github issue and from a casual google of this topic.  It's currently unclear what the issue is just yet

[2017-03-21 06:56] lgayatri opened #4318 "Containers"
Virtual Container Host goes into zombie status post ESX upgrade with new VCSA

**Details:**
Any details of what you want that might clarify for the developer how to approach the implementation.
1. Installed VCSA and ESX with 6.5P01 builds
2. Created 32 VCH along with 1 container VM each - all VCH are connected to DVPG of VDS
3. Upgraded ESX host to latest build 6.5U1
4. Installed a new VCSA
5. Add

[2017-03-21 11:08] stuclem commented on #833
@hickeng yes it can.

[2017-03-21 11:08] #833 closed

[2017-03-21 11:13] stuclem commented on #3827
The vic-machine work for NFS support is in PR https://github.com/vmware/vic/pull/4246.

[2017-03-21 14:36] vburenin opened #4320 "ERROR failed to create /.tether/ttyS0 for com1: file exists"
Problem statement
-------------------
During the process of debugging tether it failed to run a second time due to already existent serial port devices.

Acceptance criteria
-------------------
Tether should ignore such errors if devices already exist and continue its start process.

[2017-03-21 14:55] mdubya66 commented on #4318
@mhagen-vmware can we get the logs from this

[2017-03-21 15:08] chengwang86 opened #4322 "docker inspect invalid object on client versions 1.13+ returns an incorrect response"
**VIC version:**

0.9

**Docker client versions:**

1.13 and 17.03.0-ce

**Steps to reproduce:**

`$ docker -H <VCH> inspect fake`

**Actual behavior:**
[code]

**Expected behavior:**
[code]

[2017-03-21 15:09] cgtexmex commented on #4166
https://ci.vmware.run/vmware/vic/8790
https://ci.vmware.run/vmware/vic/8778

Two more examples of the issue -- cc @hmahmood

[2017-03-21 15:12] mhagen-vmware commented on #4166
[integration_logs_8778_ff14beadd481cae362c3af4f76637e93ccbd12cf.zip](https://github.com/vmware/vic/files/858573/integration_logs_8778_ff14beadd481cae362c3af4f76637e93ccbd12cf.zip)
[integration_logs_8790_91d8720677b46900f4de8f705f04f0ee817345c5.zip](https://github.com/vmware/vic/files/858572/integration_logs_8790_91d8720677b46900f4de8f705f04f0ee817345c5.zip)

[2017-03-21 15:17] #3178 closed

[2017-03-21 16:26] emlin commented on #3975
Talked with Doug offline. Looks like a better option is to use new containerview wrapper in govmomi to fix this issue, so assign to Doug as he will take care of this issue after the change in govmomi.
thanks Doug

[2017-03-21 16:41] mhagen-vmware commented on #4125
[skip ci] is supported already, that is what doc changes should be using, please re-open if I misunderstand this.

P.S. we currently support:
[skip ci]
[full ci]
[specific ci=<suite>]

[2017-03-21 16:46] mhagen-vmware opened #4324 "Implement test to run and verify the proper working behavior of the top 15 containers in docker hub"
User statement:  As a user of VIC, I would like to know that VIC works with and has been tested with the top most popular containers.

Details:
https://hub.docker.com/explore/
Wouldn't normally say that many, but this story originated from postgresql problems, which is number 12 on the list, so now we get to do the top 15!

Each one probably just needs to be:
docker run <container> followed by a c

[2017-03-21 17:00] corrieb commented on #4324
I would honestly just keep expanding the list over time. There are all sorts of quirks in various Dockerfiles and given that we don't have explicit function tests for all the Dockerfile grammar, the more we can verify real function, the better

[2017-03-21 17:13] lgayatri commented on #4318
hostd logs attached
[hostd.0.gz](https://github.com/vmware/vic/files/859005/hostd.0.gz)
[hostd.1.gz](https://github.com/vmware/vic/files/859001/hostd.1.gz)
[hostd.2.gz](https://github.com/vmware/vic/files/859002/hostd.2.gz)
[hostd.3.gz](https://github.com/vmware/vic/files/859003/hostd.3.gz)
[hostd.4.gz](https://github.com/vmware/vic/files/859000/hostd.4.gz)
[hostd.5.gz](https://github.com/vmware/v

[2017-03-21 17:17] anchal-agrawal commented on #4125
@mhagen-vmware `skip ci` skips the `misspell` target, which can cause future builds to fail if a doc change is merged with `skip ci`. To prevent this, the current practice is to not use `skip ci` for doc changes. Instead, we should come up with a solution that uses just the `misspell` target for doc changes (or something similar).

[2017-03-21 17:54] stuclem commented on #3827
This issue was moved to vmware/vic-product#39

[2017-03-21 17:55] #3827 closed

[2017-03-21 17:56] stuclem commented on #4145
This issue was moved to vmware/vic-product#40

[2017-03-21 17:57] #4145 closed

[2017-03-21 17:58] stuclem commented on #821
This issue was moved to vmware/vic-product#41

[2017-03-21 17:58] #821 closed

[2017-03-21 17:59] stuclem commented on #4275
This issue was moved to vmware/vic-product#42

[2017-03-21 17:59] #4275 closed

[2017-03-21 18:00] stuclem commented on #3862
This issue was moved to vmware/vic-product#43

[2017-03-21 18:01] #3862 closed

[2017-03-21 18:02] stuclem commented on #3851
This issue was moved to vmware/vic-product#44

[2017-03-21 18:02] #3851 closed

[2017-03-21 18:03] stuclem commented on #3991
This issue was moved to vmware/vic-product#45

[2017-03-21 18:03] #3991 closed

[2017-03-21 18:04] stuclem commented on #4143
This issue was moved to vmware/vic-product#46

[2017-03-21 18:04] #4143 closed

[2017-03-21 18:05] stuclem commented on #4213
This issue was moved to vmware/vic-product#47

[2017-03-21 18:06] #4213 closed

[2017-03-21 18:08] stuclem commented on #3782
This issue was moved to vmware/vic-product#48

[2017-03-21 18:08] #3782 closed

[2017-03-21 18:09] stuclem commented on #4142
This issue was moved to vmware/vic-product#49

[2017-03-21 18:09] #4142 closed

[2017-03-21 18:10] stuclem commented on #4127
This issue was moved to vmware/vic-product#50

[2017-03-21 18:10] #4127 closed

[2017-03-21 18:11] stuclem commented on #3776
This issue was moved to vmware/vic-product#51

[2017-03-21 18:11] #3776 closed

[2017-03-21 18:11] stuclem commented on #3529
This issue was moved to vmware/vic-product#52

[2017-03-21 18:12] #3529 closed

[2017-03-21 18:12] stuclem commented on #3092
This issue was moved to vmware/vic-product#53

[2017-03-21 18:13] #3092 closed

[2017-03-21 18:13] stuclem commented on #3910
This issue was moved to vmware/vic-product#54

[2017-03-21 18:14] #3910 closed

[2017-03-21 18:14] stuclem commented on #3515
This issue was moved to vmware/vic-product#55

[2017-03-21 18:15] #3515 closed

[2017-03-21 18:16] stuclem commented on #3505
No longer required following doc migration to `vic-product` repo.

[2017-03-21 18:16] #3505 closed

[2017-03-21 18:23] mhagen-vmware commented on #4125
good point, I like Jake's suggested [doc change].  We can implement that easily enough.

[2017-03-21 18:23] hickeng commented on #4318
There are various issues here:
1. having installed a new VCSA, the certificate thumbprint has changed from `"54:C8:BB:40:F2:8B:05:4A:63:25:E0:9D:C8:D7:E1:0A:24:26:81:0E"` to `7B:4A:AF:F7:19:B7:71:21:E8:4F:67:49:AA:30:F9:46:00:CC:58:F8`
2. the morefs have changed for the inventory objects (see https://github.com/vmware/vic/issues/3490)

The debug log for the appliance shows continual port-layer res

[2017-03-21 18:24] stuclem opened #4325 "Doc: Error in firewall rule topic"
Per the following comment on Slack, there is at least one error in the topic on opening the firewall port:

-----

Lakshmi Gayatri [7:01 PM]
@sclements , on https://vmware.github.io/vic-product/assets/files/html/0.8/vic_installation/ts_firewall_error.html the firewall rule needs to be corrected.
1. The service id should be in "" instead of ''
2. <port type='dst'>2377</port> should be on two separa

[2017-03-21 18:26] hickeng commented on #2875
This is in the code `--ops-user` - done as part of the RBAC work. We do not create the user or configure it with RBAC automatically as aluded in the description, but the vic-machine support is there.
Unclear why this was not closed

[2017-03-21 18:26] #2875 closed

[2017-03-21 18:28] stuclem commented on #2890
This was addressed by the docs for `--ops-user`. Closing.

[2017-03-21 18:28] #2890 closed

[2017-03-21 18:47] lalegre opened #4326 "Cannot deploy a VIC Machine into a portgroup with the same NAME created on two different vdSwitches"
#For stories, please include the information below:

**Details:**
Any details of what you want that might clarify for the developer how to approach the implementation.

**VIC version:**

VIC 1.0.0

**Deployment details:**

./vic-machine-linux create --target vcenter-05.prod.gire.com --user user --password Vmware01! --name POC-VIC --compute-resource PRODUCCION --bridge-network vic-bridge --image-st

[2017-03-21 18:48] hickeng commented on #4141
@lubronzhan this is the issue you were talking about - however with hostname instead of IP the parse succeeds,

[2017-03-21 19:00] hickeng commented on #4141
This completely breaks our ability to specify insecure registries - even if a hostname is used instead it gets incorrectly parsed.

[2017-03-21 21:18] chengwang86 opened #4328 "ping exhibits random behavior when running tests on vsan setup"
**VIC version:**

0.9

**Deployment details:**

What was the vic-machine create command used to deploy the VCH?
```bin/vic-machine-linux create --debug 1 --name=vch-new --target= --user=Administrator@vsphere.local --image-store=vsanDatastore --password=pwd --force=true --bridge-network=bridge --public-network=vm-network --compute-resource=/vcqaDC/host/cls/Resources --timeout 30m --volume-store=vsa

[2017-03-21 21:22] #4258 closed

[2017-03-21 21:22] mhagen-vmware commented on #4258
lgtm

[2017-03-21 21:23] mhagen-vmware commented on #4258
please don't merge things before they are verified.

[2017-03-21 23:10] sflxn commented on #4317
I've tracked down the issue.  It's both an issue with docker-compose and a need to make some changes to our robot scripts to handle TLS with compose properly.  Here are the issues:

1) docker-compose does not seem to allow specifying TLS version on the command line.  They allow this version set via an environment variable.  However, there is a github issue in the compose repo that claims that you

[2017-03-21 23:32] sflxn commented on #4317
To get docker-compose working with VIC, set the following env variables:

COMPOSE_TLS_VERSION=TLSv1_2
DOCKER_TLS_VERIFY=1
DOCKER_CERT_PATH=<path of your cert files>

The cert file path must have CA.pem, client_key.pem, and client cert.pem.  Docker-compose can then be executed as so,

docker-compose -H <vch addr> -f <compose file> up

A note about the above command.  If a user installs a VCH with v

[2017-03-21 23:48] anchal-agrawal commented on #4322
After debugging this @chengwang86, we found that on Docker clients v1.13 and v17.03.0-ce, `docker inspect` invokes inspect on plugins as well in addition to the usual objects like containers and images. Our code for inspecting plugins returns an error in all cases, which is why we see `Error response from daemon: vSphere Integrated Containers does not yet support plugins` on the client:

[code]

W

[2017-03-22 00:02] #4110 closed

[2017-03-22 00:24] kreamyx commented on #3897
In case this helps, when I faced the same issue, the only thing that made the most recent commit to get pulled was to rebase off of master (I guess merging would work too, not tested) but essentially it happens when there are conflicts

[2017-03-22 04:24] lgayatri commented on #4325
@stuclem , I checked https://kb.vmware.com/selfservice/microsites/search.do?language=en_US&cmd=displayKC&externalId=2008226 and noticed that point#2 applies for legacy hosts of 5.5 and 6.0 as well.

[2017-03-22 08:47] stuclem commented on #4325
@lgayatri, thanks for doing that. So, the doc is currently correct for 6.5, but not for 6.0.

[2017-03-22 09:17] stuclem commented on #4317
Added the following to the release notes for 0.9:

------

- <b>`docker-compose` does not allow you to specify the TLS version on the command line. [#4317](https://github.com/vmware/vic/issues/4317)</b><br>`docker-compose` only allows you to set the TLS version by using environment variables. For more information, see [`docker-compose` issue 4651](https://github.com/docker/compose/issues/4651). Fu

[2017-03-22 15:03] stuclem commented on #3863
This issue was moved to vmware/vic-product#67

[2017-03-22 15:05] stuclem commented on #852
This issue was moved to vmware/vic-product#68

[2017-03-22 15:06] #3863 closed

[2017-03-22 15:07] #852 closed

[2017-03-22 15:08] stuclem commented on #952
Error messages have become much clearer, and troubleshooting topics added on an as-needs basis. Since there is no concrete request here, closing.

[2017-03-22 15:08] #952 closed

[2017-03-22 15:09] stuclem commented on #1527
This issue was moved to vmware/vic-product#69

[2017-03-22 15:09] #1527 closed

[2017-03-22 15:11] stuclem commented on #3055
This issue was moved to vmware/vic-product#70

[2017-03-22 15:11] #3055 closed

[2017-03-22 15:13] stuclem commented on #3420
This issue was moved to vmware/vic-product#71

[2017-03-22 15:13] #3420 closed

[2017-03-22 15:17] stuclem commented on #3486
Covered by https://github.com/vmware/vic-product/issues/70. Closing as a dup.

[2017-03-22 15:17] #3486 closed

[2017-03-22 15:19] stuclem commented on #3841
This issue was moved to vmware/vic-product#72

[2017-03-22 15:19] #3841 closed

[2017-03-22 15:21] stuclem commented on #3843
Dup of https://github.com/vmware/vic/issues/3863

[2017-03-22 15:21] #3843 closed

[2017-03-22 15:24] stuclem commented on #3854
This issue was moved to vmware/vic-product#73

[2017-03-22 15:25] #3854 closed

[2017-03-22 15:31] stuclem commented on #4276
This issue was moved to vmware/vic-product#74

[2017-03-22 15:33] #4276 closed

[2017-03-22 15:34] stuclem commented on #3502
This Epic has been made redundant by https://github.com/vmware/vic-product/issues/64.

[2017-03-22 15:34] #3502 closed

[2017-03-22 15:36] stuclem commented on #3296
Not really sure that this warrants documenting.

[2017-03-22 15:36] #3296 closed

[2017-03-22 15:36] stuclem commented on #2984
This issue was moved to vmware/vic-product#75

[2017-03-22 15:36] #2984 closed

[2017-03-22 15:39] stuclem commented on #3503
Made redundant by https://github.com/vmware/vic-product/issues/64.

[2017-03-22 15:39] #3503 closed

[2017-03-22 15:40] #819 closed

[2017-03-22 15:44] stuclem commented on #2306
This issue was moved to vmware/vic-product#77

[2017-03-22 15:44] #2306 closed

[2017-03-22 15:47] stuclem commented on #2541
This issue was moved to vmware/vic-product#78

[2017-03-22 15:47] #2541 closed

[2017-03-22 16:04] stuclem commented on #3123
Actually, this is being dev'd in https://github.com/vmware/vic/issues/3649.

[2017-03-22 16:04] stuclem commented on #3123
This issue was moved to vmware/vic-product#79

[2017-03-22 16:05] #3123 closed

[2017-03-22 16:07] stuclem commented on #3865
This issue was moved to vmware/vic-product#80

[2017-03-22 16:07] #3865 closed

[2017-03-22 16:08] stuclem commented on #3122
This issue was moved to vmware/vic-product#81

[2017-03-22 16:08] #3122 closed

[2017-03-22 16:10] stuclem commented on #3504
Replaced by https://github.com/vmware/vic-product/issues/66.

[2017-03-22 16:10] #3504 closed

[2017-03-22 16:22] stuclem commented on #3534
@anchal-agrawal sorry for the delay - only just noticed this one. I just this checked on Safari and Chrome on iOS 10.2.1 and, other than the menu bar at the top being grey on grey, it doesn't suffer from the other problems that you describe on Android.

However, I checked https://vmware.github.io/harbor and https://vmware.github.io/admiral on iOS and they both have the menu bars with a grey backgr

[2017-03-22 16:23] stuclem commented on #3534
This issue was moved to vmware/vic-product#82

[2017-03-22 16:25] stuclem commented on #3534
Closing as migrating all doc issues to vic-product.

[2017-03-22 16:25] #3534 closed

[2017-03-22 16:26] rajanashok commented on #4159
Link to the docker compose test fixtures.
https://github.com/docker/compose/tree/master/tests/fixtures

[2017-03-22 16:29] stuclem commented on #4001
This issue was moved to vmware/vic-product#83

[2017-03-22 16:29] #4001 closed

[2017-03-22 16:30] stuclem commented on #4002
This is merged in PR https://github.com/vmware/vic/pull/4308.

[2017-03-22 16:30] stuclem commented on #4002
This issue was moved to vmware/vic-product#84

[2017-03-22 16:31] #4002 closed

[2017-03-22 16:32] stuclem commented on #3860
This issue was moved to vmware/vic-product#85

[2017-03-22 16:32] #3860 closed

[2017-03-22 16:34] stuclem commented on #3780
This issue was moved to vmware/vic-product#86

[2017-03-22 16:34] #3780 closed

[2017-03-22 16:35] stuclem commented on #3859
Dup of https://github.com/vmware/vic/issues/3123, which is now https://github.com/vmware/vic-product/issues/79

[2017-03-22 16:35] #3859 closed

[2017-03-22 16:44] stuclem commented on #3938
Added the following to the release notes for 0.9:

----

- <b>vSphere Integrated Containers leaks DOM objects on VMware vSAN. [#3938](https://github.com/vmware/vic/issues/3938)</b><br>When using a VMware vSAN datastore as the image store, if you pull an image and then delete the VCH, DOM object leaking occurs on the datastore. Running docker rmi without deleting the VCH has the same issue.

   Wor

[2017-03-22 16:46] stuclem commented on #3992
This issue was moved to vmware/vic-product#87

[2017-03-22 16:46] #3992 closed

[2017-03-22 16:48] stuclem commented on #3992
This issue was moved to vmware/vic-product#88

[2017-03-22 16:51] stuclem commented on #3779
This issue was moved to vmware/vic-product#89

[2017-03-22 16:52] #3779 closed

[2017-03-22 16:56] mhagen-vmware commented on #3315
See in longevity:
[container-logs.zip](https://github.com/vmware/vic/files/862178/container-logs.zip)

[2017-03-22 16:56] stuclem commented on #3938
@dougm, @emlin says that you might have a proper workaround for this issue. Can you help?

[2017-03-22 16:58] stuclem commented on #885
Does this need to be documented, even if it is implemented? I think not. @emlin please reopen if you think that this would need doc.

[2017-03-22 16:58] #885 closed

[2017-03-22 17:04] mhagen-vmware commented on #4310
should this be in the sprint milestone?

[2017-03-22 17:17] stuclem commented on #1808
This is a subset of the wider VCH reconfigure issue https://github.com/vmware/vic/issues/2936

[2017-03-22 17:17] #1808 closed

[2017-03-22 17:18] stuclem commented on #2131
This issue was moved to vmware/vic-product#90

[2017-03-22 17:18] #2131 closed

[2017-03-22 17:22] stuclem commented on #1474
This issue was moved to vmware/vic-product#91

[2017-03-22 17:24] #1474 closed

[2017-03-22 17:26] stuclem commented on #849
Dup of https://github.com/vmware/vic/issues/3863, which is now tracked by https://github.com/vmware/vic-product/issues/67

[2017-03-22 17:26] #849 closed

[2017-03-22 17:27] stuclem commented on #3095
This issue was moved to vmware/vic-product#92

[2017-03-22 17:28] #3095 closed

[2017-03-22 17:29] stuclem commented on #3778
This issue was moved to vmware/vic-product#93

[2017-03-22 17:29] #3778 closed

[2017-03-22 17:31] stuclem commented on #4291
This issue was moved to vmware/vic-product#94

[2017-03-22 17:31] #4291 closed

[2017-03-22 17:33] stuclem commented on #4128
NSX is tracked by https://github.com/vmware/vic-product/issues/73

[2017-03-22 17:33] #4128 closed

[2017-03-22 17:37] stuclem commented on #4129
This issue was moved to vmware/vic-product#95

[2017-03-22 17:37] #4129 closed

[2017-03-22 17:38] stuclem commented on #4131
This issue was moved to vmware/vic-product#96

[2017-03-22 17:39] #4131 closed

[2017-03-22 17:40] stuclem commented on #3777
This issue was moved to vmware/vic-product#97

[2017-03-22 17:41] stuclem commented on #3760
Will be covered by https://github.com/vmware/vic-product/issues/94. Don't think that we need this issue too.

[2017-03-22 17:41] #3760 closed

[2017-03-22 17:41] #3777 closed

[2017-03-22 17:42] stuclem commented on #830
This issue was moved to vmware/vic-product#98

[2017-03-22 17:43] #830 closed

[2017-03-22 17:44] stuclem commented on #853
Will be addressed at the same time as https://github.com/vmware/vic-product/issues/98

[2017-03-22 17:44] #853 closed

[2017-03-22 17:45] stuclem commented on #878
Out of date and covered by other issues.

[2017-03-22 17:45] #878 closed

[2017-03-22 17:47] stuclem commented on #1844
This was covered by other issues...

[2017-03-22 17:47] #1844 closed

[2017-03-22 17:49] stuclem commented on #2711
@sflxn isn't this made redundant by the fact that we now support v1.25?

[2017-03-22 17:51] stuclem commented on #2936
Another dup of https://github.com/vmware/vic-product/issues/95

[2017-03-22 17:51] #2936 closed

[2017-03-22 17:52] stuclem commented on #2715
No longer an issue now that we support Docker 1.25

[2017-03-22 17:52] #2715 closed

[2017-03-22 17:52] stuclem commented on #3127
This issue was moved to vmware/vic-product#99

[2017-03-22 17:52] #3127 closed

[2017-03-22 17:55] stuclem commented on #1976
This issue was moved to vmware/vic-product#100

[2017-03-22 17:55] #1976 closed

[2017-03-22 18:03] stuclem commented on #850
This issue was moved to vmware/vic-product#101

[2017-03-22 18:03] #850 closed

[2017-03-22 18:07] vburenin opened #4334 "usage of custom iso for appliance or bootstrap causes panic."
I tried to deploy custom ISO with not related to VIC content and it resulted in panic.

[code]

[2017-03-22 18:26] AntonioFilipov commented on #4265
#https://github.com/vmware/admiral/issues/59

[2017-03-22 18:30] dougm commented on #3938
The fix (#3787) will be in the next release.

It is possible to use govc to list and remove leaked objects:
https://github.com/vmware/govmomi/blob/v0.13.0/govc/USAGE.md#datastorevsandomls
https://github.com/vmware/govmomi/blob/v0.13.0/govc/USAGE.md#datastorevsandomrm

List leaked objects:
[code]

Remove leaked objects:
[code]

[2017-03-22 18:42] jooskim opened #4335 "Suppress Node.js output during UI build"
**User Statement:**
The CI build log should remain as succinct as possible, and as a UI developer I should contribute to that.

**Acceptance Criteria:**
1. CI build log shows less UI build log outputs

[2017-03-22 18:46] lcastellano opened #4336 "Harbor cannot be installed on a VCH using docker compose"
**VIC version:**

0.80/master/7269eff

**Steps to reproduce:**

Use a VCH to deploy Harbor using docker-compose.

**Actual behavior:**

Deployment fails due to LoadImage not being supported

**Expected behavior:**

Deployment should work, need to implement load image

[2017-03-22 18:55] hickeng opened #4337 "Allow vic-machine upgrade to be used as part of daily dev workflow"
**Story**
As a VIC developer I want to be able to easily deploy my freshly built VIC binaries
As a VIC developer I want to be exercising core product workflows as part of my dev workflow whenever possible to catch problems

**Details**
Currently the build version is embedded into bin/.iso-base.tgz and is generated from git repo tags. This approach has two problems when applied to a dev environment

[2017-03-22 18:58] hickeng commented on #4337
The version is currently injected into xorriso-options.cfg during the `initialize_bundle` function (isos/base/utils.sh) - this should be moved to the `generate_iso` function in the same file.

[2017-03-22 18:58] dougm commented on #3975
@emlin opted to hold off on integrating with ContainerView as it would just be an optimization in this case and would need a vcsim impl to test.

Sticking with the original plan for now: vmware/govmomi#689

[2017-03-22 19:10] mdubya66 commented on #4336
probably a dupe of #1028

[2017-03-22 20:04] dougm commented on #4203
@jzt where are you at with this?  I'm working on #3975 which is likely related, but start starting to get into the vic-machine part.  Opened #4338 , Finder enhancement that may help in your case too.

[2017-03-22 20:05] #4109 closed

[2017-03-22 20:06] mhagen-vmware commented on #4109
i think the fixes statement in you PR needs to be on 2 separate lines to auto close

[2017-03-22 20:34] dougm commented on #3975
The Finder enhancement cures the double ls issue: https://github.com/vmware/vic/compare/master...dougm:issue-3975

I'm going to work on simulator based tests before opening a PR.

[2017-03-22 21:06] jzt commented on #4203
@dougm I have a working solution that I don't think is particularly ideal, as it apparently should not work. :) I spoke with @hickeng and he mentioned that your govmomi changes should drastically simplify the suggestions code. I was going to wait for your merge (which I suspect will happen soon) before deciding whether or not I should put up a PR yet. Judging by what I'm seeing/hearing, I should p

[2017-03-22 21:29] karthik-narayan commented on #1723
@mdubya66 Can we bump the priority on this one for the next sprint? Both the performance and scale teams will be working close to these limits and will be blocked if we are not able to fix this.

[2017-03-22 21:56] #4334 closed

[2017-03-22 22:25] mdubya66 commented on #1723
I think we should consider it for inclusion into 1.2 but for 1.1 this would be too risky for the final sprint, IMO. @karthik-narayan. Setting to medium

[2017-03-22 22:31] karthik-narayan commented on #1723
@mdubya66 Apologies. I meant to say for 1.2, not 1.1.

[2017-03-22 22:47] lcastellano opened #4344 "Docker login is broken when the host is specified as <IP-ADDRESS>:<PORT-NUM>"
**VIC version:**

0.80.0 / master / e0c5365

** Environment **
Running with Harbor as secure repository

**Steps to reproduce:**

docker login IP-ADDRESS:PORT-NUMBER
or
docker login HOSTNAME:PORT-NUMBER

fails with, (after specifying username/password):

Error response from daemon: parse 10.118.67.211:80/v2/: first path segment in URL cannot contain colon

**Expected behavior:**

It should succeed

[2017-03-22 23:48] dougm commented on #4203
@jzt ok Finder change is merged, ls change is in review.  Lemme know if I can help with this one.

[2017-03-23 00:16] #4257 closed

[2017-03-23 00:17] frapposelli commented on #4252
Closed by #4347

[2017-03-23 00:17] #4252 closed

[2017-03-23 01:40] kreamyx opened #4348 "Attaching multiple times to the same containers does not work as expected"
**User Statement:**

As a VIC user, I should be able to attach multiple times to my container.

**Details:**
Currently, `docker attach` does not work as expected in the following scenario
- `docker run --name test /bin/top`
- `docker attach test`
- After being attached, hit Ctrl^C. The container should exit.
- Start the container `docker start test`
- Try to attach again, this attach request will

[2017-03-23 03:01] dougm commented on #3434
Seen in build: https://ci.vmware.run/vmware/vic/8911

[2017-03-23 03:14] hickeng opened #4350 "Add vSphere health reporting for endpointVM"
**Story**
As a viadmin I want to receive alerts when a VMs health/status degrades
As a VIC user I want any health issues in my VCH to be resolved as quickly as possible

**Details**
There is a very capable health reporting system built into vSphere, along with alerts, remediations, notifications, etc.
We should be, at a minimum, reporting a health warning/error in the following cases:
1. high resu

[2017-03-23 04:12] sflxn commented on #4317
@stuclem I would add more to this.

VIC supports TLS 1.2.  To use docker-compose with VIC, users must tell docker-compose to use TLS 1.2 and that can only be done with environment variable.  Also, add that this applies only if users install a VCH that uses TLS.  It is possible to install a VCH without TLS (--no-tls).

[2017-03-23 08:33] stuclem commented on #1902
This will be dealt with by `vic-machine reconfigure`, which is tracked elsewhere.

[2017-03-23 08:33] #1902 closed

[2017-03-23 08:34] stuclem commented on #2761
This issue was moved to vmware/vic-product#102

[2017-03-23 08:34] #2761 closed

[2017-03-23 08:35] stuclem commented on #1828
This issue was moved to vmware/vic-product#103

[2017-03-23 08:35] #1828 closed

[2017-03-23 08:38] stuclem commented on #1699
This issue was moved to vmware/vic-product#104

[2017-03-23 08:38] #1699 closed

[2017-03-23 08:39] stuclem commented on #2904
This issue was moved to vmware/vic-product#105

[2017-03-23 08:39] #2904 closed

[2017-03-23 08:41] stuclem commented on #1943
This issue was moved to vmware/vic-product#106

[2017-03-23 08:41] #1943 closed

[2017-03-23 08:42] stuclem commented on #3033
This issue was moved to vmware/vic-product#107

[2017-03-23 08:42] #3033 closed

[2017-03-23 08:44] stuclem commented on #872
This issue was moved to vmware/vic-product#108

[2017-03-23 08:45] #872 closed

[2017-03-23 09:11] stuclem commented on #4317
Thanks @sflxn. Reworded as follows:

------

- <b>`docker-compose` does not allow you to specify the TLS version on the command line. [#4317](https://github.com/vmware/vic/issues/4317)</b><br>vSphere Integrated Containers supports TLS v1.2. You must configure `docker-compose` to use TLS 1.2. However, `docker-compose` only allows you to set the TLS version by using environment variables. For more i

[2017-03-23 13:44] frapposelli opened #4354 "Notary DB startup has a race condition"
When `notary-db` starts up enters in a race condition with `harbor-log`, this is being tracked upstream as vmware/harbor#1738

[2017-03-23 14:38] stuclem commented on #3000
Added kind/note for inclusion in the 1.1 release notes.

[2017-03-23 14:54] #4335 closed

[2017-03-23 15:26] rogeliosanchez commented on #4185
Moved six documents to this space: https://confluence.eng.vmware.com/display/VICP/Continuous+Integration in confluence.

[2017-03-23 16:13] frapposelli opened #4358 "YAML parsing in Harbor configuration sometimes writes spurious data"
During the boot configuration of Harbor, `configure_harbor.sh` parses `docker-compose.yml` and `docker-compose.notary.yml` under `/etc/vmware/harbor`.

This is triggered to perform configuration of the Harbor port using OVF environment properties.

Sometimes during this operation, a spurious `ersion: 2` is written in the `docker-compose.yml` file, leading to harbor startup failure.

[2017-03-23 16:30] dougm commented on #3845
@mhagen-vmware any related results from longevity tests yet?

[2017-03-23 16:37] mhagen-vmware commented on #3845
I was not able to repro as of yet on two different runs, I will start another and if this fails to repro then we can close this as non-repro for now.

[2017-03-23 17:07] stuclem opened #4360 "Replace "Harbor"/"Admiral" with "Registry"/"Management Portal" in OVA installer"
The OVA installer uses "Harbor"/"Admiral" throughout the Customize template page. This should be "Registry"/"Management Portal".

![harbor](https://cloud.githubusercontent.com/assets/16718369/24260192/768255ca-0ff3-11e7-9a4e-737c44f770b3.png)
![admiral](https://cloud.githubusercontent.com/assets/16718369/24260194/78334ba4-0ff3-11e7-81bb-a08c2eb6cc94.png)

Submitting an issue for this after discuss

[2017-03-23 17:36] fdawg4l commented on #4151
[code]

The directory clearly exists for the 2 times the dat file is written immediately prior to the error, so I'm thinking your mkdir fix is a redherring.

[2017-03-23 17:39] mhagen-vmware opened #4363 "VIC + Harbor using self-signed certs not working"
I have installed harbor, and downloaded the self signed certs provided by harbor.
Next I install VIC with the certs I downloaded from harbor:
[code]

When I then try to pull anything from the harbor, I get the following error:
docker -H xxxx:2375 pull xxxx/library/photon:1.0
Error response from daemon: Head https://xxxx/v2/: x509: certificate signed by unknown authority (possibly because of "crypt

[2017-03-23 17:45] anchal-agrawal commented on #4317
Reopening as #4349 was reverted (#4356).

[2017-03-23 17:55] fdawg4l commented on #4151
Clarified with @matthewavery offline, the directory exists (like we see) but the file upload vs the file move dont seem to be atomic.  We've seen namespace issues (top level directory that is) in vsan with respect to mkdir being atomic, which is why I brought it up.  Apparently we have file issues being atomic as well.  Effectively `touch foo && ls -l foo` may not return non-zero on vsan.  This is

[2017-03-23 18:49] #4264 closed

[2017-03-23 19:02] #4167 closed

[2017-03-23 19:38] #4199 closed

[2017-03-23 19:42] gigawhitlocks commented on #4363
Might be related to #3441

[2017-03-23 19:43] #4200 closed

[2017-03-23 19:50] mhagen-vmware commented on #4185
lgtm, just needs the vpn info updated.   @rajanashok Can you give this a review as well please?

[2017-03-23 19:57] rajanashok commented on #4185
lgtm, @rogeliosanchez can we also add the nightly doc from this location pls?
https://docs.google.com/document/d/1M-oYglOyFJrnT1GOmBYzSvmJwvEX6QqBpw1UVm5uspw/edit

[2017-03-23 20:09] #3972 closed

[2017-03-23 20:14] sflxn commented on #4317
@stuclem That sounds a lot better.

[2017-03-23 20:26] hmahmood opened #4367 "Running a container twice does not produce output the second time"
[code]
Second command does not produce output sometimes. At times when it does not produce output, running `docker start -a test` again would produce expected output from the second run immediately (even before the container has powered on).

[2017-03-23 20:27] mhagen-vmware opened #4368 "switch CI to use docker 1.13 as default"
As discussed in the last sprint demo meeting, now that we have support for it, we want to make docker 1.13 the default for all of our CI tests.

[2017-03-23 20:28] hmahmood commented on #4367
The problem is that we're reusing the ssh channel for attach from the previous run, when we should be tearing it down on container VM power off. There is race where attach will get the old connection first, and finally when the container attaches the old connection is rewritten in the connection cache with the new connection. We just need to remove the connection from the connection cache on conta

[2017-03-23 20:48] #4253 closed

[2017-03-23 20:54] anchal-agrawal commented on #4368
#4322 should be addressed before this.

[2017-03-23 21:02] hickeng commented on #4363
Is there an error reported in the personality code when initializing? It's possible that they've not generated the cert as a CA which means we'll likely fail when adding it to the RootCA pool in the appliance.

[2017-03-23 21:04] hickeng commented on #4348
Closing in favour of #4367 which has a good identification of the origin of the problem

[2017-03-23 21:04] #4348 closed

[2017-03-23 21:37] mhagen-vmware commented on #4363
[container-logs.zip](https://github.com/vmware/vic/files/866266/container-logs.zip)

[2017-03-23 21:39] mhagen-vmware commented on #4363
@hickeng only error in personality log AFAICT is the final error when I try to do a pull...

[2017-03-23 21:55] #4358 closed

[2017-03-23 23:09] gigawhitlocks commented on #4337
@hickeng your link to bash-helpers.sh above is broken

[2017-03-23 23:17] gigawhitlocks commented on #4363
@mhagen-vmware and I talked about this in person, and because this is related to my issue I'm reading up on Docker's behavior when connecting to insecure registries. Note that since Harbor is using a self-signed certificate here, this is considered an insecure registry regardless of TLS, and so with the VCH installed without `--insecure-registry=`, I believe this is the correct behavior. My unders

[2017-03-23 23:19] gigawhitlocks commented on #4363
(my understanding is that docker takes `--insecure-registry` to mean what we mean when we say `--no-tls` or `--no-tlsverify`)

[2017-03-23 23:20] gigawhitlocks commented on #4363
https://github.com/vmware/vic/issues/3441#issuecomment-265646874 <- related to my comments above

[2017-03-23 23:22] frapposelli opened #4373 "Harbor UI and Jobservice can't connect to MySQL"
This issue tracks the problem upstream on vmware/harbor#1771

[2017-03-23 23:51] jakedsouza opened #4374 "vic-machine inspect and ls, show upgrade available for latest(higher) version"
#For stories, please include the information below:

**User Statement:**

As an vic user, running `vic-machine ls` and `vic-machine inspect` using an **older** binary of vic-machine, I want to see accurate update information of my VCH, even if the VCH is from a newer version.

**Details:**
Any details of what you want that might clarify for the developer how to approach the implementation.

**VIC

[2017-03-23 23:59] anchal-agrawal opened #4375 "Support name resolution for renamed running containers"
**User Statement:**

As a user of VIC, I should be able to rename a running container (`c1`) and use the new name to create a link to or ping from another container (`c2`) without restarting container `c1`.

**Details:**

We need to update the alias and any name resolution metadata for the container during its rename operation. This is a follow-up of #4082, whose scope includes support for name re

[2017-03-24 00:03] anchal-agrawal commented on #4375
Need an estimate from @hmahmood - I suspect this will be no less than a 3.

[2017-03-24 00:17] caglar10ur commented on #4367
assigning this to myself as I believe I'm fix this as a part of exec attach work

[2017-03-24 00:30] chengwang86 opened #4378 "docker inspect container shows incorrect image info"
**VIC version:**

0.9

**Deployment details:**

What was the vic-machine create command used to deploy the VCH?

[code]
**Steps to reproduce:**
[code]

**Actual behavior:**
[code]

**Expected behavior:**
This is the output from regular docker
[code]

This needs to be fixed for `docker-compose up`. Currently compose was trying to check the existence of image `d7f9...` from vic but `no such image`.

[2017-03-24 00:46] sflxn commented on #4378
This is related to compose rename.  After a successful rename, compose returns "no such image" even if the container was renamed.

[2017-03-24 01:58] caglar10ur commented on #4367
unassigned as I realized this is not in the sprint. @hmahmood @hickeng @sflxn what to do here?

[2017-03-24 02:25] emlin opened #4380 "auto create user for container"
As a docker admin, I want to have application running with customized uid:gid. If that user does not exist in container image, the user should be auto created, and group is set as specification. To make sure application access data and remote file system with correct permission.

Acceptance Criteria:
docker run with -u can start container with specified uid:gid, and the user is created if not exis

[2017-03-24 09:36] stuclem commented on #3938
Thanks @dougm. Updated the workaround:

-----

- <b>vSphere Integrated Containers leaks DOM objects on VMware vSAN. [#3938](https://github.com/vmware/vic/issues/3938)</b><br>When using a VMware vSAN datastore as the image store, if you pull an image and then delete the VCH, DOM object leaking occurs on the datastore. Running `docker rmi` without deleting the VCH has the same issue.

   Workaround:

[2017-03-24 09:37] stuclem commented on #3938
And since the issue won't be present in 1.1, there is no need for additional doc.

[2017-03-24 09:37] #3938 closed

[2017-03-24 09:51] stuclem commented on #4141
I missed this issue until now as I have been filtering by doc milestone. If this is being fixed for 1.1 then we can remove `kind/user-docs`.

Added (belatedly) to the Release Notes for 0.9:

-----

- <b>VCH deployment fails with invalid URL error when using `--insecure-registry`. [#4141](https://github.com/vmware/vic/issues/4141)</b><br>If you use the `--insecure-registry` option with `vic-machine

[2017-03-24 12:43] stuclem commented on #4317
@sflxn thanks!

[2017-03-24 14:12] andrewtchin opened #4382 "OVA installer webserver should not run as root"
**User Statement:**
As a person, I do not want the OVA installer webserver to run as root.

**Details:**
Don't run as root
`installer/fileserver/server.go`
`installer/engine_installer/server.go`

**Acceptance Criteria:**
- [ ] Getting Started Page webserver doesn't run as root
- [ ] Demo VCH Installer Wizard webserver doesn't run as root

[2017-03-24 14:15] #4254 closed

[2017-03-24 14:42] emlin commented on #4172
Opened #4380 to track user creation requirement

[2017-03-24 15:07] mhagen-vmware commented on #4363
confirmed this procedure worked in VIC 0.8

[2017-03-24 16:18] mhagen-vmware commented on #4141
This is required to be fixed by 1.1

[2017-03-24 16:22] jzt commented on #4378
This is caused by the container create path using the layer ID from the `ImageConfig` instead of the image ID:  https://github.com/vmware/vic/blob/master/lib/apiservers/engine/backends/container.go#L1625

Fix should look like this:
[code]

Although there seem to be implications on the portlayer side, in `Commit` specifically:
[code]

[2017-03-24 16:28] jooskim opened #4383 "Portlets are broken (related to #4134)"
PR #4134 changed the key for the pretty name of a Docker container from `guestinfo.vice./common/name` to `common/name` and `guestinfo.vice./init/common/name` to `init/common/name`, which break the VCH and Container portlets.

**Expected behavior:**
Portlets should show up with correct information

**Actual behavior:**
Portlets are broken

[2017-03-24 16:35] mhagen-vmware commented on #4267
For this story we want to start working on this in Sprint 6, and we want to change to reqs slightly.  We have 1 or 2 big servers idle in OVH now so we want to deploy a fresh drone .5 server and 8 workers on to one of those servers so that we have our own dedicated infra. We need to also take a new domain and migrate from ci.vmware.run to vic-ci.vmware.run or something like that.  @jakedsouza Can y

[2017-03-24 17:04] mhagen-vmware opened #4384 "Error response from daemon: Server error from portlayer: A general system error occurred: vDS host error: see faultCause"
Saw this error on latest Longevity run

Logs:
[container-logs.zip](https://github.com/vmware/vic/files/868610/container-logs.zip)

docker-personality
[code]

portlayer:
[code]

[2017-03-24 17:36] hickeng commented on #4378
@jzt This is some of our technical debt cropping up (lack of the join/bind semantic for images). @chengwang86 should be familiar with where the image location is currently getting injected as he's touched it with rename.
https://github.com/vmware/vic/blob/master/lib/spec/disk.go#L71

[2017-03-24 17:39] fdawg4l commented on #4378
@hickeng  From my perspective Docker hasn't been very clear on what they use (image id or layer id) for what use case and we're suffering from it.  In that case, I'm not sure join/bind will help.  But we do need it for other things going forward.

[2017-03-24 17:42] #4383 closed

[2017-03-24 17:51] hickeng commented on #4378
@fdawg4l It doesn't help with which ID we need, but it does avoid the issue of the assumption being hardcoded in a file that really has nothing to do with the disk management.

[2017-03-24 17:58] #3975 closed

[2017-03-24 18:51] #4201 closed

[2017-03-24 19:06] jzt commented on #4378
temp fix here:  https://github.com/vmware/vic/pull/4370
correct fix here:  https://github.com/vmware/vic/pull/4387  (waiting until later to do a full ci run)

[2017-03-24 19:09] #4141 closed

[2017-03-24 19:12] emlin opened #4388 "Upgrade is broken for insecure registry support"
After PR #4343 is merged, upgrade with insecure registry configured will be broken.

As a vic admin, I need vic-machine upgrade to upgrade old VCH with insecure registry to latest version, and have insecure registry function works after upgrade, so that I can have newer VCH's function, and do not lose my existing work.

Acceptance Criteria:
- Install old version's VCH with insecure registry config

[2017-03-24 19:13] emlin commented on #4388
This break upgrade, so marked as high priority

[2017-03-24 20:23] rajanashok opened #4389 "Nightly failure: 'Check for the proper log files' failed"
Keyword 'Check For The Proper Log Files' failed after retrying 5 times. The last error was: '-rw-r----- 0/0             265 2017-03-24 01:12 proc-self-fd
-rw-r----- 0/0          379395 2017-03-24 01:12 portlayer/heap
-rw-r----- 0/0            1711 2017-03-24 01:12 proc-mounts
-rw-r----- 0/0             180 2017-03-24 01:12 ip-route
-rw-r----- 0/0            2088 2017-03-24 01:12 iptables
-rw-r----

[2017-03-24 20:50] rajanashok commented on #4389
This is apparently caused due to the timing of the test code that the nightlies pulled in. We should not see this for the future builds, but in any case we need to fetch the commit the bintray build is tied to so we don't see this happening again.

[2017-03-24 21:48] #4310 closed

[2017-03-24 22:13] rogeliosanchez commented on #4185
Added the nightly builds doc this morning.

[2017-03-24 23:03] #4260 closed

[2017-03-25 08:11] #4354 closed

[2017-03-25 13:49] andrewtchin opened #4393 "Create systemd unit for ova-webserver"
User Statement: Want to have installer OVA webserver started up and shut down on startup/shutdown of the OVA

Acceptance Criteria: Must support startup and clean shutdown of the OVA webserver

[2017-03-25 14:08] #4336 closed

[2017-03-25 14:08] mdubya66 commented on #4336
closing as a duplicate of the loadimage issue, #1028

[2017-03-25 14:15] mdubya66 commented on #4326
#2 is covered by #3619

[2017-03-25 15:22] #4378 closed

[2017-03-25 17:25] emlin opened #4394 "integration test for docker user"
For #4172, we have docker user and user in Dockerfile support, we need to have integration test covering this scenario, to make sure no regression happens in the future.

Test scenarios:
covering following user format:
- nonexist
- nonexist:nonexist
- root:nonexist
- root:root
- newuser:newgroup (created in image)
- 2000
- 2000:2000
- 0:0

Should test the above user format in both docker command a

[2017-03-25 20:45] anchal-agrawal opened #4397 "Container's "fixing" state is handled incorrectly while fixing invalid state"
**VIC version:**

master / 6a162e77b2f86ccfc81ddbd46f0d59ced79a6be7

**Details:**

Seen in CI master build https://ci.vmware.run/vmware/vic/9102

[code]

Container `3c28911287be` was in invalid state and got dropped from the portlayer's container cache before the portlayer's [`Remove`](https://github.com/vmware/vic/blob/master/lib/apiservers/portlayer/restapi/handlers/containers_handlers.go#L235)

[2017-03-25 20:51] anchal-agrawal commented on #4397
Marked as high priotiry for consideration for Sprint 6. @mhagen-vmware, please re-assess if needed.

[2017-03-26 00:41] sflxn commented on #4172
I think we need both #4380 and the check in Emma's PR to close this issue.  After chatting with Emma, without the creation part, docker will likely return an error as the user and group do not exist.

[2017-03-26 00:53] #3441 closed

[2017-03-26 00:53] #4363 closed

[2017-03-26 02:45] #4172 closed

[2017-03-26 17:45] #4203 closed

[2017-03-26 18:14] #4344 closed

[2017-03-26 19:36] #4082 closed

[2017-03-26 19:44] chengwang86 commented on #4075
By this PR https://github.com/vmware/vic/pull/4134, we have removed containerName from `/etc/hosts`. So this issue does not exist anymore.

[2017-03-26 19:44] #4075 closed

[2017-03-26 21:22] anchal-agrawal commented on #4375
There's an integration test in `Group1-Docker-Commands/1-36-Docker-Rename` tagged against this issue.

[2017-03-26 23:30] #4100 closed

[2017-03-26 23:39] #4101 closed

[2017-03-27 03:05] #4388 closed

[2017-03-27 03:19] jakedsouza opened #4403 "Improve integration test 11-03 to test with an actual registry"
#For stories, please include the information below:

**User Statement:**

As a vic engineer, I want to ensure that upgrade of VIC to the latest version updates the insecure registries correctly

**Details:**
For issue #4388 we have an integration test 11-03-Upgrade-InsecureRegistry which tests that an insecure registry added to an older version of vic is updated correctly during an upgrade
Current

[2017-03-27 13:05] frapposelli commented on #4373
Still not fixed, reopening

[2017-03-27 14:14] mhagen-vmware commented on #3845
Not able to repro currently.  Will re-open if we see this again.

[2017-03-27 14:42] andrewtchin opened #4404 "Update OVF XML for installer fileserver"
Specify `fileserver.port` in OVF XML
Used in `installer/packer/scripts/fileserver/configure_fileserver.sh`

[2017-03-27 14:49] andrewtchin opened #4405 "Pull vic-ui build into makefile"
As a developer I want to be able to build a VIC bundle that includes all tools needed to deploy VIC Engine.

Currently the vic-ui portion can only be built with Drone which makes it hard to test locally.

Acceptance criteria:
- [x] move `vicui` from `.drone.yml` into a make target
- [x] able to build full bundle with OVA installer make targets
- [x] document steps to build

[2017-03-27 15:09] mhagen-vmware commented on #4185
lgtm

[2017-03-27 15:10] #4185 closed

[2017-03-27 15:11] #4393 closed

[2017-03-27 15:52] mhagen-vmware commented on #4403
Thanks Jake, I am going to keep this high as this needs to go into next sprint.

[2017-03-27 15:54] mhagen-vmware commented on #4367
@caglar10ur It will be top priority for next sprint. If you have all your work done for this sprint already, go ahead and pull it in to current sprint.  Thanks!

[2017-03-27 15:57] andrewtchin commented on #4404
Maybe also add options for user provided TLS cert and key for the fileserver. This would also require updating the packer scripts to pass the cert and key in and start the fileserver with the provided cert

[2017-03-27 16:14] hmahmood commented on #4367
Another variation:
[code]
Should output `one` every time, but will fail if run more than once.

[2017-03-27 16:25] #2840 closed

[2017-03-27 16:38] anchal-agrawal commented on #4272
Thanks @pkhodaveissi. I can't gather much else other than the fact that gitlab-runner with the Docker executor requires `docker import` to work, which we don't yet support.

Please watch this issue since we'll use it to track `docker import` work. Thanks for your patience!

[2017-03-27 17:22] mhagen-vmware commented on #3914
@maplain If you put the term 'fixes: #3914' into the PR body then this will close automatically with the PR next time.

[2017-03-27 17:22] #3914 closed

[2017-03-27 17:46] jakedsouza commented on #4267
We cannot use the two big servers, they are not on the vrack hence can not access any of the esxi's
We can re-use some of the other machines  ones with the older nested esxi's, VC's and drone-integration nodes

[2017-03-27 18:26] mhagen-vmware commented on #3940
@casualjim lgtm, I would like to see the addition of at least a consideration of future system requirements here.  I got this basically up and running on a VM in google cloud, but it was rough. A good idea of what a "typical" k8s cluster entails would help future testing.  Thanks!

[2017-03-27 18:26] #3940 closed

[2017-03-27 18:40] anchal-agrawal commented on #360
I found a helpful section from the Pro Git book for this: https://git-scm.com/book/en/v2/Customizing-Git-An-Example-Git-Enforced-Policy

[2017-03-27 21:42] corrieb commented on #4172
@sflxn I'm not clear on the implications of what you're saying. I can't see anywhere in the Docker documentation on --user or USER that a user or group is created by the command.

[2017-03-27 21:42] #4256 closed

[2017-03-27 22:20] hmahmood opened #4410 "Successive docker starts do not start container every time"
One docker start call after another in quick succession on the same container sometimes will return 125 exit code from the docker cli.

Steps to reproduce:
1. `docker create --name test busybox echo foo`
2. run in a tight loop: `docker start -a test`; should return "foo" and exit code 0 every time, but sometimes will return 125 with or without the correct output

[2017-03-27 22:22] hmahmood commented on #4410
For at least the case where we get a 125 and no output, I found out that the start command does not start the container. We get the powered off event for the previous start call late, and set the container state to stopped for the current call, which results in the container not getting started.

[2017-03-27 22:24] corrieb commented on #4172
Long slack chat with @slfxn and I think we need to clarify exactly what's happening here.

USER in a Dockerfile presumes that a user has already been created in the Docker image that's being run. If not, you get the following error:
``docker: Error response from daemon: linux spec user: unable to find user vmware: no matching entries in passwd file.``

Docker run --user is the same. The user needs

[2017-03-27 22:46] corrieb commented on #4172
Spoke to @hickeng about the /root/.bashrc issue. He said that it's because it's unclear what behavior we should be doing with respect to setting the HOME env var. There should be a wider discussion about this, because user HOME can be set in a variety of different ways. It would be better if we did set the HOME and ran the .bashrc, but that's a separate and far less urgent requirement.

[2017-03-27 22:56] corrieb opened #4411 "Decide how to handle setting of HOME in container"
In #4172, there's a related issue with respect to how we handle setting of HOME environment variable when we run a container as a particular user. As a result, HOME is set to /root even if /home/user exists and we're running as user.

Having spoken to @hickeng, the question of what we run in shells is a wider question than this, but I'd like to try to stick to HOME in particular in this issue.

Qu

[2017-03-27 23:18] corrieb commented on #4380
To be very clear, this is nothing to do with #4172. In the case of --user and USER in a Dockerfile, VIC should not be creating users. A pre-existing user is either baked into the image or it's not.

There is a need however to support consistent user profiles across containers in the case where multiple containers are sharing resource, such as an NFS volume mount. There may be other cases where we

[2017-03-28 00:33] emlin commented on #4172
thanks @corrieb for the clarification

[2017-03-28 03:08] hickeng commented on #4410
Where do we abort a start call based on the container state? It's supposed to be an idempotent operation, so portlayer would just do nothing if the container is already in the desired state - but that should be being determined based on the VM runtime structure, not the container cache state, which is primarily for faking the transition states.

[2017-03-28 04:04] #4317 closed

[2017-03-28 09:40] hickeng commented on #2505
Wish there was a way to schedule this - this should be pulled in at the start of the work for the 1.2 release.

[2017-03-28 09:48] hickeng commented on #4405
I honestly think that we should be splitting the UI into a separate repo.

It's not tightly tied to a VIC release version (hetrogenous versions of VIC should be supported within a single ESX/VC), and it's got very different concerns.

What we should have, and don't, is a tightly defined data contract that we abide by, and tests in the VIC repo to enforce that.

[2017-03-28 15:02] #4251 closed

[2017-03-28 15:59] jzt commented on #4191
Closing as this issue was in reference to https://github.com/vmware/vic/issues/3868 which was opened by the customer outside the bugzilla discussion unbeknownst to myself and the GSS engineer assigned to the issue.

[2017-03-28 15:59] #4191 closed

[2017-03-28 17:41] emlin opened #4418 "Research Spike: UX define for vic-machine reconfigure"
As a developer, we need a user friendly vic-machine command line for reconfigure operation to make sure it really helps user to solve their problems.

In details, the requirement is to define vic-machine command keywords for operations: create, read(list), update and delete.
And possibly rollback.

Not every operation requires all these four keywords, but for any required operation, they should us

[2017-03-28 18:04] maplain commented on #3914
ok... next time I'll know

[2017-03-28 19:00] emlin opened #4419 "Research Spike: Define vic-machine reconfigure scope for each operation"
As a developer of vic-machine reconfigure, I need to understand the feature requirement for each operation, to make sure I'm not working on anything unwanted, or not viable.

In this story, we need to answer following questions for each operation from implementation point of view
- Which keywords can be supported for this operation. (For example, add/update/remove a image store is not viable at th

[2017-03-28 19:03] dougm commented on #3710
Seen in: https://ci.vmware.run/vmware/vic/9229

[2017-03-28 19:21] chengwang86 opened #4420 "document how to set up test env for running integration/manual tests on nimbus vc and vsan"
As a VIC developer and tester, I need to be able to run the integration tests and manual tests on nimbus vc both with and without vsan setup.

**Details:**
Currently we do have several instructions in different places in our code repo. However, we need a test documentation which puts all the information together in one place.

**Acceptance Criteria:**
- information on how to set up vsandeploy test

[2017-03-28 20:25] cgtexmex opened #4421 "docker stats integration tests"
User statement:  As a user of VIC, I want to know that docker stats functionality has been fully tested so that I can have confidence in it's behavior.

Details: Create integration tests for the docker stats functionality represented in #4413 -- CPU and Memory.

Acceptance criteria:
Tests defined and running in either CI or nightly.

[2017-03-28 21:01] #3965 closed

[2017-03-28 21:04] cgtexmex commented on #4171
fixed by #4413

[2017-03-28 21:04] #4171 closed

[2017-03-28 21:05] cgtexmex commented on #386
Partially completed with #4413 -- will open a new issue for remaining stats

[2017-03-28 21:05] #386 closed

[2017-03-28 21:10] cgtexmex opened #4422 "docker network and storage stats"
Docker stats was partially implemented with #4413 by providing CPU & Memory stats.  Network and storage stats still need to be implemented.

[2017-03-28 22:22] sflxn commented on #4223
Based on feedback on the interaction part for the reattach logic, I've removed that code as it's more involved and touches the attach server.  I'm leaving that part to Caglar since he's currently working on that code right now.  The PR submitted should still handle compose up, without -d.  Reattach for both docker and compose will fail till Caglar gets that fixed.

[2017-03-28 23:22] hickeng opened #4424 "Move OVA installer and packaging to vic-product repo"
**Story**
As a VIC engine developer I want the repo code base to be as small and as simple as possible to accomplish required engine behaviour
As a VIC engine developer I want build times on PRs and merges to be as low as possible
As a VIC engine developer I want build failures to be pertinent to the component on which I'm working
`<repeat all of the above for VIC product developer> `

**Details**

[2017-03-28 23:22] hickeng commented on #4424
@frapposelli Feel free to be more eloquent in the description ;)

[2017-03-28 23:31] mdubya66 commented on #4424
Lowering the priority. I also think the estimate is off.

[2017-03-28 23:46] #4223 closed

[2017-03-29 00:08] lcastellano opened #4425 "Investigation of Single Access Control Vic/Admiral/Harbor"
**User Statement:**
Vic/Admiral/Harbor should share the same Access Control layer. There should be one single source for common objects (e.g. Projects), Roles, Access Policies, Authentication.

**Details:**
This activity requires  to work with Admiral/Harbor teams to define a common layer for Authentication and Access Control.

**Acceptance Criteria:**
The output of this activity should be a desig

[2017-03-29 03:21] mlh78750 opened #4426 "Investigate work needed for k8 support for VIC"
**User Statement:**
As a VIC developer I want to know what needs to be done for k8 support in VIC

**Details:**
This issue tracks the investigation into k8 support and should result in a set of issues added to the parent epic #4427.

**Acceptance Criteria:**
A list of issues added to #4427 that describes the work needed to support k8 in the next release of VIC.

[2017-03-29 03:21] mlh78750 opened #4427 "Work items for k8 support for VIC 1.2"
**User Statement:**
As a VI admin I want an easy way to provision and manage Kubernetes clusters for my users.
As a Kubernetes user I want to use a supported Kubernetes cluster deployed on vSphere.

**Details:**
This epic is to track investigation and work items for our initial support of Kubernetes for VIC.
The initial issue in this epic is an investigation that will result in additional user sto

[2017-03-29 03:30] mlh78750 commented on #4427
Need to reconcile this with #105 as well.

[2017-03-29 03:31] mlh78750 commented on #4427
And #3829.

[2017-03-29 03:32] anchal-agrawal commented on #4322
Re-prioritizing to high because #4368 is marked high.

[2017-03-29 08:19] frapposelli commented on #4424
I would bring it back as `medium` as going forward our testing is going to require a different set of needs and it shouldn't bog down engine builds (and viceversa).

This story should also have an upstream dependency on the Drone 0.5 work, given the `.drone.yml` is going to be brand new I want it to be tailored to the new version already.

[2017-03-29 08:55] frapposelli opened #4428 "Investigate running Lightwave as container without --net=host"

[2017-03-29 08:56] frapposelli opened #4429 "Investigate common RBAC Project model for Harbor and Admiral"

[2017-03-29 08:57] frapposelli opened #4430 "Investigate Lightwave configuration via OVF properties"

[2017-03-29 08:59] frapposelli opened #4431 "Investigate OpenID Connect between Harbor/Admiral and Lightwave"

[2017-03-29 09:00] frapposelli opened #4432 "Investigate PSC/LW Local User management when not connected to upstream LDAP"

[2017-03-29 09:00] frapposelli opened #4433 "Single AuthZ/AuthN model for Harbor and Admiral through PSC/LW"
Desired outcome of this Epic is a breakdown of the body of work required for VIC 1.2 concerning AuthZ/AuthN in VIC Product, stories created from this research spike will track implementation work for 1.2.

[2017-03-29 12:06] frapposelli opened #4434 "Implement single AuthZ/AuthN model for Harbor and Admiral through Lightwave"

[2017-03-29 12:19] mshipkovenski opened #4435 "Deleting container with "-v" option does not remove attached volumes"
**VIC version:**
Bintray build 9168

**Steps to reproduce:**
Provision a container based on the `kitematic/hello-world-nginx` image:
[code]
Observer that a new volume has been created and attached to the container:
[code]
Initiate container delete request and specify the "-v" option (delete volumes too)
[code]
Check the volumes
[code]
**Actual behavior:**
The volume is still there.

**Expected beh

[2017-03-29 13:31] mhagen-vmware opened #4436 "Decompose performance requirements for VIC 1.2"
User statement:  As an engineer working on VIC, I need a set of well defined stories to work on the desired performance requirements as laid out in the PRD.

Details:  See the performance requirements laid out in the PRD.

Acceptance criteria:
Set of fully decomposed and defined stories that provide all of the work required to complete the performance requests in the PRD.

[2017-03-29 13:35] andrewtchin opened #4437 "Installer OVA firewall for fileserver rules not applied"
`iptables` rules aren't being added correctly. The command is executed according to the unit's logs, but rules do not appear when doing `iptables -S`
`jornalctl -u fileserver_startup`

[2017-03-29 13:37] andrewtchin commented on #4437
Adding `-w` worked once but doesn't seem to work anymore

[2017-03-29 13:40] mhagen-vmware commented on #4410
@hmahmood Please prioritize and estimate and move to backlog.

[2017-03-29 13:44] mhagen-vmware commented on #4434
@frapposelli Does this one need to be closed?

[2017-03-29 13:52] mhagen-vmware commented on #4435
@mshipkovenski Thanks, I think this is an unimplemented feature at this point. @matthewavery Trying to classify this as a bug or a feature request... Are we supposed to support -v currently?

[2017-03-29 13:59] andrewtchin opened #4439 "Easy Nimbus testing"
**User Statement:**

As a developer I would like the ability to have deployed and configured Nimbus resources available for testing without waiting. I want to be able to test my code in a variety of environments.

**Details:**
I have a web app prototype that launches vCenter in Nimbus and maintains a pool of resources developers can claim without waiting. Adding this so I can get a block of time t

[2017-03-29 14:20] mdubya66 commented on #4405
Not critical to 1.1 or 1.2

[2017-03-29 14:23] #431 closed

[2017-03-29 14:23] mdubya66 commented on #431
All issues are closed. If we need to do more compose work it should be done under a new Epic

[2017-03-29 14:32] mdubya66 commented on #3490
This is not a stop ship for 1.1.

[2017-03-29 14:59] mdubya66 commented on #4427
#3940  was also investigation towards k8
Other related isues #3942, #4099, #3941, #3785

[2017-03-29 15:04] andrewtchin opened #4440 "Move UI build out of vic repo"
**User Statement:**

As a developer I would like to separate the UI build from the `vmware/vic` repo.

**Acceptance Criteria:**
- [x] UI plugin code moved to separate repo
- [x] UI plugin build moved to separate drone file
- [x] UI plugin artifacts pushed to Google Cloud Storage for each tag release
- [x] UI plugin code and builds removed from `vmware/vic`
- [ ] `vmware/vic` local and Drone builds

[2017-03-29 15:05] andrewtchin commented on #4405
Added #4440 for George's concerns

[2017-03-29 15:14] chengwang86 commented on #4020
This is because we check whether the containerName exists or not here https://github.com/vmware/vic/blob/master/lib/apiservers/engine/backends/container.go#L449
[code]
In containerCache.go,
[code]
We check the existence of the containerName assuming it is either a name or an ID. But actually we should not be checking the following during container creation
[code]

[2017-03-29 15:37] mhagen-vmware commented on #4085
@vburenin Please migrate this to new project that we discussed

[2017-03-29 15:37] #4085 closed

[2017-03-29 15:38] mhagen-vmware commented on #4236
@vburenin Please migrate this to new project that we discussed

[2017-03-29 15:38] #4236 closed

[2017-03-29 15:41] anchal-agrawal commented on #4020
I've updated the issue to track this as a bug.

[2017-03-29 16:07] emlin commented on #3611
test case is added together with migration plugin added, so close this issue as already done.

[2017-03-29 16:07] #3611 closed

[2017-03-29 16:14] matthewavery commented on #4435
@mshipkovenski @mhagen-vmware This would be a feature request :-) we have not implemented it yet, there is a TODO in the code for handling this case. Currently we ignore the `-v` flag. Estimating at a 2 since there will need to be new tests surrounding this issue, the actual implementation is not complex.

[2017-03-29 16:32] dougm opened #4441 "Automate appliance OS security auditing"
As a developer, I want to automate security auditing for the VCH appliance so I can detect known OS security issues and
warnings.

For this issues, let's start with the open source [lynis](https://cisofy.com/lynis/) tool as it would be possible to
integrate with our external CI.  We'll want to automate:

* Download VIC build from bintray

* Install VIC via vic-machine

* Enable ssh in the applianc

[2017-03-29 16:34] dougm opened #4442 "Automate MiTM vulnerability testing"
As a developer, I want automated MiTM vulnerability testing to validate VIC components prevent Man-in-the-middle
communications.

Surfaces to focus on initially:

* VCH communications with vCenter/ESX

* VCH communications with image registries

Possible approaches to MiTM implementation:

* DNS spoofing via modification /etc/hosts on the VCH (can be automated via ssh)

* Use a MiTM framework, to

[2017-03-29 16:35] dougm opened #4443 "Static code analysis"
As a developer, I want CI to run static code analysis on the VIC code base and report the results.

VIC currently has a 'make gas' target to run [gas](https://github.com/GoASTScanner/gas) against the code base.

We should look at the current results and determine:

- [x] Which warnings can/should be acted upon

- [x] Which rules should be disabled, if any

- [x] Decide if/when to make CI fail base

[2017-03-29 16:37] dougm opened #4444 "Automate vCenter RBAC for limited operations user"
As a developer, I want to validate that VIC functions properly when using a limited set of vCenter resources and
permissions.

Currently, VIC CI runs tests with ESX/vCenter unlimited administrator credentials.  Both CI and developers need a tool
to automate:

* User creation

* Role definition

* Assign user to role

* Apply role to resources (such as a datacenter or cluster)

The manual steps are

[2017-03-29 16:49] chengwang86 commented on #4384
I checked out the hostd logs. All the hostd logs are truncated with the **_latest 5000 lines_** of logs starting from `2017-03-24T13:08:50`, which unfortunately do not contain the time-frame when the error occurred.

From the portlayer msg, it seems that the operation of `create DVPort 589 of VDS test-ds on the host milhouse.eng.vmware.com` failed. But we don't know the exact reason on the host du

[2017-03-29 17:02] dougm commented on #4443
See also #906

[2017-03-29 17:04] chengwang86 commented on #4384
This is the `hostd.log` from `milhouse.eng.vmware.com`:
[code]
The lines of logs we are interested in are missing.

[2017-03-29 17:07] dougm opened #4445 "Product Security Requirements Assessment"
See: #904

[2017-03-29 17:08] dougm opened #4446 "Penetration Testing"
See: #907 #4442

As a developer, I want to conduct a Penetration test to make sure VIC product satisfy all criteria described in this document: https://wiki.eng.vmware.com/PlatformSecurity/SecurityTestingCriteria

VIC product contains 3 parts: VIC Engine, Harbor, Admiral
Whole test is divided into two parts.
* VIC Engine team penetrate Harbor and Admiral
* Harbor and Admiral team penetrate VIC Eng

[2017-03-29 17:09] dougm opened #4447 "Vulnerability Scanning"
See #908 and #4441

[2017-03-29 17:09] fdawg4l opened #4448 "Support datastore URLs with unicode characters"
**User Statement:**

As a VIC user, I should be able to specify datastores with unicode characters, spaces, and some symbols

**Details:**
We're using `url.Parse` for datastore names with paths which are more restrictive than vsphere is for datastore names.  Moving to `govmomi's` `DatastorePath` struct is the appropriate thing to do here since it provides the right helpers to validate the paths.

[2017-03-29 17:14] dougm opened #4449 "1.1 Security review and testing"

[2017-03-29 17:19] hickeng opened #4450 "Milestone: engine notary support"
**Story**
As a user I want to have confidence that the bytes I am using are the bytes I think I'm using, and that the author is known.
As a user I want to have confidence that the bytes I am using are the bytes I should be using given the application I'm running
As an admin I want to know that bytes used by users are from trusted sources and are use in an appropriate manner

**Details**
All trust

[2017-03-29 17:37] hickeng opened #4451 "Determine the relationship between docker client, registries and notary servers"
**Story**
As a VIC developer I need more information about the interaction between client, notary, and registries in order to make informed plans about configuration structure

**Details**
Notary server configuration lists valid GUN prefixes for registries, implying a relationship arity that allows more than one registry per notary server

Questions:
- [ ] given an image `registry/repository:tag`

[2017-03-29 17:48] fdawg4l opened #4452 "Secure containers using NFS shared volumes from external traffic"
When a user adds an NFS volume to a container, and adds the relevant network to the container where the external server is hosted, the container is now completely open to the external network.  To mitigate this, we should add a netfilter rule to DENY all incoming from that external network.

In order to add the rule or any fw configuration to the container need to identify the nfs target server (w

[2017-03-29 17:59] hickeng opened #4453 "Investigate approaches for VCH to author notary trusted content"
**Story**
As a user I want to be able to create and push trusted content

**Detail**
Where consumption of trusted content relies on public certificates, creation requires access to private certs. The VCH should always be configured to use a [delegate certificate](https://docs.docker.com/engine/security/trust/trust_delegation/) rather than a root, but that's mostly down to the admin.

We need to kn

[2017-03-29 18:26] hickeng commented on #4367
Ironically the changes needed here are the bulk of the changes needed for exec attach...

[2017-03-29 18:29] #4360 closed

[2017-03-29 18:29] #4404 closed

[2017-03-29 18:33] jakedsouza commented on #4368
This can happen with moving to a new drone env #4267

[2017-03-29 18:43] hickeng commented on #3490
@mdubya66 I think we need a separate label for stop ship/urgency or severity - this is a potentially severe issue and dropping it into the mix of medium priority items loses that differentiation.

[2017-03-29 18:56] fdawg4l commented on #4448
I already have a change for this.

[2017-03-29 18:59] corrieb opened #4455 "Response to test/dev use case PRD"
As an engineer working on VIC, I need a set of defined stories in the area of how to advance the usability of VIC in test/dev use-cases.

Output of sprint: User stories resulting from the PRD.

[2017-03-29 19:18] corrieb opened #4456 "Epic for advancing test/dev usecases for VIC"
Epic to cover the PRD response to dev/test use-cases and which will cover all of the resulting stories

[2017-03-29 19:21] corrieb opened #4457 "Support for nested Docker and Moby integration"
Epic to cover the stories needed to allow VIC to spin up Moby VMs containing nested Docker and the supporting drivers and capabilities needed to support integration with NSX and vSAN.

[2017-03-29 19:24] corrieb opened #4458 "Response to nested Docker integration PRD"
As an engineer working on VIC, I need a set of defined stories in the area of how to integrate Docker's Moby release in creating nested Docker hosts in VIC and the necessary SDDC integrations implied.

Output of sprint: User stories resulting from the PRD.

[2017-03-29 19:24] chengwang86 commented on #4322
Based on discussion with Anchal, here is a temporary workaround before we actually support `docker plugin`.

[code]

[2017-03-29 19:32] kreamyx opened #4460 "Epic for vulnerability scanning PRD"

[2017-03-29 20:37] #4405 closed

[2017-03-29 22:47] chengwang86 opened #4464 "implement docker plugin inspect"
**User Statement:**

As a VIC user, I would like to obtain detailed information about the plugin I have added.

**Details:**
From Docker 1.13, when `docker inspect object` is called, docker would try to obtain information of the object assuming it is a container, an image or a plugin. Therefore, `plugin inspect` will be called. Docker will output `No such object` for an object that does not exist,

[2017-03-29 22:48] jooskim opened #4465 "H5 Client UI installer script needs to be refactored"
**User Statement:**

As the UI build steps are moved into Makefile, and `installer/scripts/build-bundle.sh` is ready, I want to make sure the UI build scripts are in sync with some of the changes #4438 made. For example, the vSphere Client plugin manifest file needs to be refactored to accommodate what `build-bundle.sh` is doing.

**Acceptance Criteria:**

UI installer script for H5 Client (ui/ins

[2017-03-30 11:53] hickeng commented on #4367
In the case of the following:
[code]

CloseStdin is being called before the input data is ever copied to the container - see the reported EOF at the end of this snippet and the ordering of the calls to `CloseStdin` and `Stdin`:
[code]

[2017-03-30 15:22] #4465 closed

[2017-03-30 15:29] hmahmood commented on #4367
That is correct. https://github.com/vmware/vic/pull/4352 fixes it.

[2017-03-30 15:41] anchal-agrawal opened #4469 "vCenter: image operations not working on restarted VCH"
**VIC version:**

master / ee1c09a

**Deployment details:**

vCenter 6.5.0 b4602587 with 3 ESX 6.5.0 b4564106 hosts deployed with https://github.com/vmware/vic/blob/master/tests/resources/Nimbus-Util.robot#L140

**Steps to reproduce:**

1. Deploy VCH
2. `docker pull busybox`
3. Power off and then power on vApp from vSphere web client
4. `docker pull alpine`
5. `docker images`
6. `docker rmi alpine

[2017-03-30 15:47] hickeng commented on #4367
@hmahmood which part of #4352 ?

[2017-03-30 15:49] mhagen-vmware commented on #4436
Leaving this for the performance team.

[2017-03-30 15:49] #4436 closed

[2017-03-30 15:52] dougm commented on #4469
Is rmi working before restarting the VCH?
Looks like we need to set the dc param when calling QueryVirtualDiskInfo() https://github.com/vmware/vic/blob/master/pkg/vsphere/disk/disk_manager.go#L218

[2017-03-30 15:59] anchal-agrawal commented on #4469
@dougm Yes, `rmi` is working before a restart.

[2017-03-30 16:01] hmahmood commented on #4367
Changes to `cmd/tether/attach.go`

[2017-03-30 16:05] dougm commented on #4469
Might be the case that `QueryVirtualDiskInfo` is only used after a restart, since the initial image disk chains were tracked in memory, @fdawg4l can say for sure.  But, the dc param is required for  `QueryVirtualDiskInfo` against VC and optional against ESX.

[2017-03-30 16:39] fdawg4l commented on #4469
Yeah, @dougm is right.  We track relationships in memory until we reboot and have to rebuild that index.  And since our CI doesn't include VC and my local dev env doesn't either, this slipped through.

[2017-03-30 17:02] mhagen-vmware opened #4470 "Tagging release process needs to support non-master branch"
When we tag a commit for a release, it comes into drone as something like:
mdubya66 authored 13 minutes ago to refs/tags/v1.1.0-rc2

We need to modify .drone.yml and integration-test.sh in order to support this running the full tests and publishing the artifact to bintray.

[2017-03-30 17:04] #4322 closed

[2017-03-30 17:04] mhagen-vmware commented on #4470
This is going to be slightly trickier than normal as it seems like the documentation for drone 0.4 has been brought offline

[2017-03-30 17:07] mhagen-vmware commented on #4470
Found it:
https://web.archive.org/web/20160305092452/http://readme.drone.io/usage/build_test/

[2017-03-30 17:57] fdawg4l commented on #4469
Fix was trivial.  PR incoming.  Tried this against 65 VC w/ VSAN.

[code]

[2017-03-30 18:33] anchal-agrawal commented on #2329
Also seen in https://ci.vmware.run/vmware/vic/9286:

[code]

[2017-03-30 20:17] maplain commented on #4437
lgtm

[2017-03-30 20:33] #4437 closed

[2017-03-30 20:41] corrieb opened #4478 "Specifying volume-store == image-store leads to unintended volume loss (ESX)"
Related to #4233, it turns out that VMFS on ESX has different behavior to the iSCSi datastore I was using in 4233.

On ESX, if you specify ``--name=dev --image-store=datastore1 --volume-store=datastore1/dev:default`` in vic-machine create, then all your volumes will go into the *same* folder as your images and the VCH. On iSCSI, it creates a dev_1 folder (see #4233).

There may be other datastore

[2017-03-30 21:07] corrieb opened #4479 "vic-machine create --container-network cannot take a network name with a space"
Simple problem:

``vic-machine create --public-network "ExternalNetwork" --container-network "ExternalNetwork"``
works

``vic-machine create --public-network "External Network"``
works

``vic-machine create --public-network "External Network" --container-network "External Network"``
does not work:

vic-machine error output:

``Mar 30 2017 21:02:19.420Z ERROR Unable to create appliance VM: A specif

[2017-03-30 21:50] anchal-agrawal opened #4482 "vCenter: vic-machine ls not working as expected"
Related to #4203 /cc @dougm

**VIC version:**

1.1.0-rc2 / ee1c09a

**Deployment details:**

Single-cluster vCenter 6.5.0 b4602587 with 3 ESX 6.5.0 b4564106 hosts deployed with https://github.com/vmware/vic/blob/master/tests/resources/Nimbus-Util.robot#L140

**Steps to reproduce:**

[code]

**Additional details:**
Test https://github.com/vmware/vic/blob/master/tests/test-cases/Group6-VIC-Machine/6

[2017-03-30 22:05] dougm commented on #4482
Workaround: don't specify `--compute-resource` to `vic-machine ls` and all VCHs will be found.

The problem is related to the Finder query + VirtualApp.  Works fine with ESX as no vapp is in the mix.  The vcsim tests for this include nested resource pools, but no vapp.  Would need vcsim work to support that, but the vic-machine fix is a 1-liner I'll open a PR for.

[2017-03-30 22:24] rogeliosanchez commented on #4184
Doc is now here: https://confluence.eng.vmware.com/display/VICP/Agile+for+VIC+Engine

[2017-03-30 22:55] kreamyx opened #4484 "SSH occasional disconnection after vMotion of a containerVM finishes"
** Details **
If a user is attached to a containerVM that gets vMotioned, there is a chance the ssh connection will get disconnected after vMotion completes. The containerVM will be powered on but the user might get detached after vmotion completes. This event happens if the user is typing on the stdin right before the containerVM goes to the downtime state (usually between 58% and 72% of the vMot

[2017-03-31 08:06] lubronzhan opened #4486 "Deploy OVA with certificate chain will store certificate in wrong format"
Same as https://github.com/vmware/harbor/issues/1259
Fixed in Harbor not in VIC OVA.

## Details

When Deploy OVA With certificate chain, like
[code]
The format of cert file will be twisted, for example, the first line of cert file will become
`——BEGIN CERTIFICATE—————BEGIN CERTIFICATE——`

But if deploy the OVA with certificate with only one root certificate inside the cert file, like
[code]
Harbo

[2017-03-31 08:06] lubronzhan commented on #4486
@frapposelli

[2017-03-31 11:44] frapposelli commented on #4424
the more I think of this, the more it makes sense to move it off `vmware/vic` ASAP, @mdubya66 I would classify this as high priority for 1.2.

[2017-03-31 13:59] mhagen-vmware commented on #4184
lgtm, nice job!
@rajanashok can you verify too please?

[2017-03-31 14:00] mhagen-vmware commented on #3901
assignee?  milestone?  I assume @lcastellano is the assignee and should this be in the current sprint?

[2017-03-31 14:35] hickeng opened #4490 "Update vic-machine inspect with DOCKER_CERT_PATH for tlsverify configurations"
**Story**
As a user of vic-machine I expect `vic-machine inspect` to provide the information I require to access a VCH

**Details**
Inspect is not returning a certificate path - this is because it's potentially hard to do so without some foreknowledge - however it's also not warning about the fact that necessary data is missing.
With the actual output you cannot connect to the docker API as you do

[2017-03-31 14:58] rajanashok commented on #4184
Nicely laid out, lgtm.

[2017-03-31 15:07] mhagen-vmware commented on #4384
Seen on latest longevity run again, @jzt is investigating the logs that are too big to attach.

[2017-03-31 15:19] lalegre opened #4492 "SSH Available but cannot connect"
I already enabled ssh and shell access. All the process goes well and finish with

### Configuring VCH for debug ####
[...]
SSH to appliance:
ssh root@vch_address
[...]
Completed successfully

But when i try to connect using SSH or Shell access it tells me that the password is incorrect. Am i missing something? Because I cannot find more things in the documentation.

Please this is urgent, i have

[2017-03-31 15:24] jzt commented on #4289
I'm currently in the process of trying to repro the issue. We are definitely hitting the 3 minute timeout as @dougm suggested, although the vpxd log window provided in the bundle is well after the window in which the incident occurred, and there are no other indications that I've been able to see in the logs as to why it happened.

[2017-03-31 15:27] #4397 closed

[2017-03-31 15:40] #4394 closed

[2017-03-31 16:06] mdubya66 commented on #4492
Assuming you are on v0.8.0, this might be a duplicate of #4214. Have you tried a newer version?

https://bintray.com/vmware/vic/Download/v0.9.0 or https://bintray.com/vmware/vic/Download/v1.1.0-rc2

[2017-03-31 16:06] hickeng opened #4493 "Robustness of vSPC to malformed data"
I was attempting to determine how best to confirm connectivity between an ESX host and the endpoint and tried running the following on the host:
[code]

The result was a vSPC crash.
[code]

This gets a security label because it's a potential DoS vector, malicious or otherwise and could be triggered by basic port scanning.
The priority is set to high as some of our PSR requirements will involve por

[2017-03-31 16:08] hickeng opened #4494 "Network portlayer resiliency to partially complete data from containerVMs"
I have been trying to recreate/diagnose #4289 and saw the following - this was immediately after rebooting the VCH to recover from #4493. Logs are attached.

[code]

[container-logs (27).zip](https://github.com/vmware/vic/files/886251/container-logs.27.zip)

Priority is high as it seems likely this is due to a partial configuration in a containerVM - the states that seem likely to elicit it are co

[2017-03-31 16:24] mdubya66 commented on #3901
this should fall under the authz and authn Epic for 1.2. once we have agreement on approach from the admiral team we can start development.

[2017-03-31 16:25] mdubya66 commented on #3901
also, we should move the comments in the sharepoint file into the issue. no need to keep them internal or in a separate doc.

[2017-03-31 16:26] mdubya66 commented on #4424
We can chat about it but until we have a CI system in place that can adequately meet the testing requirements it needs to remain.

[2017-03-31 16:28] mdubya66 commented on #4484
This edge case needs a release note.

[2017-03-31 16:29] hickeng commented on #4296
Confirmed that the following does not function correctly (although this is on my exec branch):
[code]

The container hangs at this point and presumably we'll then hit the 3min timeout and it will be left as "Starting".
This differs from #4289 as the ssh connection to the container does actually occur, but we never unblock the main process - this is because the interaction session has never been ex

[2017-03-31 16:29] chengwang86 opened #4495 "vic-machine reconfigure: Update vCenter server credentials"
**User Statement:**

As a VIC operation user, I need the ability to update the server credentials (username, password/SSO token and server thumbprint) for the appliance, in case the vCenter server credentials have been changed. See one example here #1879.

**Details:**
- supported operations:
  - update username
  - update password
  - update thumbprint
- hot update:
  - no; need to restart the VC

[2017-03-31 16:49] mdubya66 commented on #4214
This appears to be resolved in
https://bintray.com/vmware/vic/Download/v0.9.0 or https://bintray.com/vmware/vic/Download/v1.1.0-rc2

Keeping this open for root causing the original issue in v0.8.0 and for testing purposes @mhagen @hickeng

[2017-03-31 16:54] chengwang86 opened #4496 "vic-machine reconfigure: Rename the VCH"
**User Statement:**

As a VIC operation user, I need the ability to rename the vsphere display name of a VCH after it is created.

**Example Use Case**
After creating a VCH, I want to rename it to incorporate the VIC version number for better management.

**Details:**
- supported operation:
  - VCH rename
- hot update:
  - yes; no need to restart the VCH
- input/output data format
  - input: `--na

[2017-03-31 16:59] hickeng commented on #4269
This is trivially simple to recreate - see #4296 for the steps to create a container that's hung in starting state.

[2017-03-31 17:40] hickeng commented on #4269
@dougm @caglar10ur It looks as though the Pl is sending the guest op but the tether doesn't honor it. I think there's two issues:
1. why aren't we failing over to the vm.poweroff case?
2. why can't tether halt the VM - think this is because of session.Lock() in halt (@caglar there's a couple of places where we could do with being able to inspect a session while `launch` is still holding the lock d

[2017-03-31 17:49] stuclem commented on #2303
After conversation with @mshipkovenski, this is for inclusion in the release notes for both VIC Engine and Admiral.

[2017-03-31 18:30] anchal-agrawal commented on #3315
Also seen on https://ci.vmware.run/vmware/vic/9335 in test `Group6-VIC-Machine/6-07-Create-Network`:

[code]

Portlayer log snippet:
[code]

Log bundle:
[Test-Cases.Group6-VIC-Machine.6-07-Create-Network-VCH-9335-8157-container-logs.zip](https://github.com/vmware/vic/files/886587/Test-Cases.Group6-VIC-Machine.6-07-Create-Network-VCH-9335-8157-container-logs.zip)

[2017-03-31 19:16] #4470 closed

[2017-03-31 19:17] hickeng commented on #4374
@jakedsouza It's expected that an old `vic-machine` cannot necessarily deploy a newer VCH - vic-machine should actually be checking that it's deploying the version it was built with.
We do need to alter the ls and inspect output to note that it cannot modify (reconfigure, or upgrade) the newer versions.

Related: #4337

[2017-03-31 20:27] cgtexmex opened #4504 "docker run --rm will not auto remove container with 1.13.1 client"
If you execute `docker run --rm busybox date` with a docker 1.13.1 client vic will not auto remove the container when execution is complete.  The same command works as expected with the docker 1.11 client.

Example:
[code]

The container should have been removed.  I've not investigated, but potentially due to the fact that we are not populating the docker die event with the container exit code.

[2017-03-31 20:34] cgtexmex commented on #4504
possible dupe #4241

[2017-03-31 20:40] mdubya66 commented on #4460
@kreamyx the epic is for the whole effort to complete the issues called out in the PRD. Each issue should get points assigned and those will aggregate. The first issue in the Epic is to decompose the PRD into issues which then get fed into the Epic. Does that make sense?

[2017-03-31 20:41] mdubya66 opened #4505 "Breakdown the Vulnerability scanning PRD into underlying issues."
As a VIC team member I need to understand the level of effort to meet the requirements spelled out in the PRD.

**Details:**
The vulnerability scanning PRD contains details on what is requested from PM to meet the customer expectations. These need to be captured so the team can estimate how many sprints it will take to meet the requirements.
**Acceptance Criteria:**
All issues for the Vulnerabilit

[2017-03-31 20:47] lalegre opened #4506 "Certificate Unknown Authority"
Suddenly VIC 0.8.0 and 0.9.0 stopped working with the error of the x509 certificate unknown authority.

Can somebody please tell me why this could be?

Thanks in advance.

[2017-03-31 20:54] anchal-agrawal commented on #4506
@lalegre Is this during installing a VCH or running Docker commands? Please post the commands and logs. Thanks!

[2017-03-31 20:55] lalegre commented on #4506
Already resolved just needed a reboot

[2017-03-31 20:55] #4506 closed

[2017-03-31 20:56] lalegre commented on #4492
Now i tried the new version buy i am having this error:
ERROR: ------------------

And nothing else.

[2017-03-31 21:41] mdubya66 commented on #4492
Sorry you are having difficulties. We can't reproduce this so we'll need more details. Per the issue submission request can you provide this info.

**VIC version:**

x.y.z / master / commit ID

**Deployment details:**

What was the vic-machine create command used to deploy the VCH?

**Steps to reproduce:**

**Actual behavior:**

**Expected behavior:**

**Logs:**

* If you can access the VCH Admin

[2017-03-31 21:41] mdubya66 commented on #4492
Here's my attempt at reproducing.
[code]

[2017-03-31 21:43] mdubya66 commented on #4492
and with passing in the --rootpw
[code]

[2017-03-31 22:18] anchal-agrawal commented on #4492
I can't repro this on a VC.

[code]

[2017-03-31 23:01] kreamyx opened #4507 "reduce the verbosity of vspc logs"
**User Statement:**

As a VIC developer, I should be able to easily and quickly read the port-layer logs without unnecessary verbose information

**Details:**
The vSPC currently has verbose logging that is, most of the time, unnecessary

**Acceptance Criteria:**
Sufficient but not verbose vSPC logs should be provided. Increasing the debug level should increase the verbosity of the vSPC

[2017-04-01 00:52] lalegre commented on #4492
Thanks you eveyone for your efforts.Finally i upgrade from vic 0.9 to 1.1.0 and it worked!

[2017-04-01 00:52] #4492 closed

[2017-04-01 01:01] lubronzhan commented on #4486
Still have problem when deploy OVA using VC UI.
When deploy it, it requires input ssl Certificate, I just copy from http://w3-dbc302.eng.vmware.com/dmaceachern/vic/eng.vmware.com.crt
and pasted it into the column, then it becomes one line, The output of `ovfenv --key ssl_cert_key' is also oneline without anything in between, like
[code]
The script expects there are spaces between each line but act

[2017-04-02 05:47] #4184 closed

[2017-04-02 16:17] swhitney-vmware opened #4509 "When Starting a Container, it powers off after about 30 seconds"
I have stood up multiple VCHs and can't seem to get any containers running. I have tried anything from busybox to mysql to wordpress. The container does start, but about 30 seconds later it gets powered off and listing containers shows nothing. VM still in inventory. I've checked several logs and can't understand why this is happening..

docker container ls shows no containers..

swhitney-m01:~ sw

[2017-04-02 16:28] swhitney-vmware commented on #4509
[container-logs (1).zip](https://github.com/vmware/vic/files/888485/container-logs.1.zip)

[2017-04-02 21:45] swhitney-vmware commented on #4509
Even calling something simple like hello world fails...

swhitney-m01:~ swhitney$ docker --tls run hello-world

Hello from Docker!
This message shows that your installation appears to be working correctly.
...

^^ cli then hung

docker container list shows "Exited ()" as status

swhitney-m01:~ swhitney$ docker --tls container ls -a
CONTAINER ID        IMAGE               COMMAND                  C

[2017-04-02 23:13] swhitney-vmware commented on #4509
Fixed.. user error :)

1. internal errors fixed on mysql
2. Other tests like busy box needed to run with -it paramater

[2017-04-02 23:13] #4509 closed

[2017-04-03 11:09] frapposelli commented on #4486
Your PR #4508 temporarily fixes the issue, still keeping in backlog to address it better, hopefully during this sprint.

[2017-04-03 14:32] lalegre opened #4511 "Cannot pull images using a Proxy"
I am having this problem:

When i run the following command **docker -H VCH_ENDPOINT_IP:2376 --tls pull hello-world** i got the following error:

https://registry-1.docker.io proxy authentication required

I can push images locally on my Ubuntu machine where the vic engine is installed because i use CNTLM for NTLM proxy authentication.

My doubt is how can i set the same on the VCH Endpoint becaus

[2017-04-03 14:33] chengwang86 opened #4512 "vic-machine reconfigure: Add volume stores"
**User Statement:**

As a VIC operation user, I need the ability to add new volumes to my VCH. Related to #1797

**Details:**
- supported operations:
  - add a volume store
- hot update:
  - no
- input/output data format:
  - input: e.g., `--volume-store datastore/path:label`, `--volume-store datastore:label`, `--volume-store nfs://host:port/nfs:nfs`
  - output: N/A
- impact on VCH/containerVMs:

[2017-04-03 14:47] chengwang86 opened #4513 "vic-machine reconfigure: Update the Virtual Container Host memory and CPU details via the vic-machine CLI"
**User Statement:**

As a VIC operation user, I need the ability to update the VCH's CPU and memory details via the vic-machine CLI.

**Details:**
- supported operations (both vsphere UI and vic-machine cli):
  - update CPU details (cpu limit in MHz, cpu-reservation, cpu-shares)
  - update memory details (memory limit, memory-reservation, memory-shares)
- hot update:
  - yes.
- input/output data f

[2017-04-03 14:56] chengwang86 opened #4514 "vic-machine reconfigure: Update the containerVM memory and CPU values"
**User Statement:**

As a VIC admin, I need the ability to update the memory and cpu values for an existing containerVM.

**Details:**
- supported operations:
  - update cpu limits of a containerVM
  - update memory limits of a containerVM
- hot update:
  - no; need to restart the containerVM to make the changes take effect.
- input/output data format:
  - input: e.g., `--modify --cpu --memory --c

[2017-04-03 14:58] chengwang86 commented on #4514
Since docker also support updating the cpu and memory values for a container (`cgroups`), I think it might be better to leave it as a feature of the docker persona instead of the vic-machine.

[2017-04-03 15:13] chengwang86 opened #4515 "vic-machine reconfigure: Update the TLS certificate for the Virtual Container Host"
**User Statement:**

As a VIC operation user, I need the ability to update the TLS certificate for the VCH. See here https://vmware.github.io/vic-product/assets/files/html/latest/vic_installation/vch_installer_options.html#adv-security for reference.

**Details:**
- supported operations:
  - update `key` (will be renamed to `tls-server-key`)
  - update `cert` (will be renamed to `tls-server-cert`)

[2017-04-03 15:13] emlin opened #4516 "Load guestinfo encryption key from ovfenv"
As a vic-machine developer, I need to know vch configuration encryption key out of VCH guestOS, to decrypt/reencrypt VCH configuration during VCH update.

Acceptance:
API to retrieve VCH configuration encryption key

[2017-04-03 15:13] emlin commented on #4495
The vCenter user password and host certificate are secret configuration, encrypted with same key.
To support this update, we'll need to load encryption key from ovfenv. Depends on #4516

[2017-04-03 15:23] chengwang86 opened #4517 "vic-machine reconfigure: update DNS servers"
**User Statement:**

As a VIC operation user, I need the ability to update the dns servers.

**Example Use Case**
The default dns server is `8.8.8.8`. Now I want to switch to my own dns server.

**Details:**
- supported operations:
  - restore default dns servers (--reset-dns-server)
  - replace existing DNS servers (this corresponds to remove existing servers first and then add new servers. For e

[2017-04-03 15:30] chengwang86 opened #4519 "vic-machine reconfigure: Update the image datastore"
**User Statement:**

As a VIC operation user, I need the ability to update the image datastore used for my VCH.

**Details:**
- supported operations:
  - **Since currently VIC does not support multiple image datastores, we will not allow the user to update the image datastore.**
- hot update:
  - no;
- input/output data format:
  - input: e.g., `--image-store datastore1`
  - output: N/A
- impact o

[2017-04-03 15:38] chengwang86 opened #4520 "vic-machine reconfigure: Update or reset the base image size"
**User Statement:**

As a VIC admin, I need the ability to update or reset the base image size from which all other images are created. The default value is 8GB. See relevant discussions here #1781 and #159 .

**Details:**
- supported operations:
  - update base image size
- hot update:
  - no; need to restart the VCH to make the changes take effect.
- input/output data format:
  - input: e.g., `-

[2017-04-03 15:57] chengwang86 opened #4521 "vic-machine reconfigure: Update the bridge network settings"
**User Statement:**

As a VIC admin, I need the ability to update the bridge network settings.

**Details:**
- supported operations:
  - update bridge network
- hot update:
  - no; need to restart the VCH to make the changes take effect.
- input/output data format:
  - input: `--modify --bridge-nework ...`
  - output: N/A
- impact on VCH/containerVMs:
  - VCH: We allow the VCH to either or both (1

[2017-04-03 16:00] frapposelli opened #4522 "The OVA UI shows all the IPs of the container instead of just the main interface"
Must show only main interface instead of all the IPs attached to the VM

[2017-04-03 16:11] chengwang86 opened #4523 "vic-machine reconfigure: Update the public network settings"
**User Statement:**

As a VIC admin, I need the ability to update the public network settings.

**Details:**
- supported operations:
  - update public network
- hot update:
  - no; need to restart the VCH to make the changes take effect.
- input/output data format:
  - input: `--modify --public-network ...`
  - output: N/A
- impact on VCH/containerVMs:
  - VCH: We allow the VCH to either or both (

[2017-04-03 16:14] #4482 closed

[2017-04-03 16:15] chengwang86 opened #4524 "vic-machine reconfigure: Update the client network settings"
**User Statement:**

As a VIC admin, I need the ability to update the client network settings.

**Details:**
- supported operations:
  - update client network
- hot update:
  - no; need to restart the VCH to make the changes take effect.
- input/output data format:
  - input: `--modify --client-network ...`
  - output: N/A
- impact on VCH/containerVMs:
  - VCH: need portlayer network support
  - c

[2017-04-03 16:18] chengwang86 opened #4525 "vic-machine reconfigure: Update the management network settings"
**User Statement:**

As a VIC admin, I need the ability to update the management network settings.

**Details:**
- supported operations:
  - update management network
- hot update:
  - no; need to restart the VCH to make the changes take effect.
- input/output data format:
  - input: `--modify --management-network ...`
  - output: N/A
- impact on VCH/containerVMs:
  - VCH: Need portlayer network s

[2017-04-03 16:21] chengwang86 commented on #4525
If the VCH uses static IP, maybe we also need to make sure that the new management network ip range contains the current static IP; otherwise, the user needs to specify a new valid static IP that is within the new IP range.

[2017-04-03 16:29] chengwang86 opened #4527 "vic-machine reconfigure: Add the container network settings"
**User Statement:**

As a VIC operation user, I need the ability to add or remove the container network settings.

**Details:**
- supported operations:
  - add container network. If the container network `label` has been used by existing container networks, vic-machine throws an error msg and the `add` operation will fail.
- hot update:
  - no; need to restart the VCH to make the changes take effe

[2017-04-03 16:35] chengwang86 opened #4528 "vic-machine reconfigure: Add or remove list of insecure registries"
**User Statement:**

As a VIC admin, I need the ability to add or remove list of insecure registries.

**Details:**
- supported operations:
  - add an insecure registry
  - remove an insecure registry
- hot update:
  - no; need to restart the VCH to make the changes take effect.
- input/output data format:
  - input: `--add --insecure-registry ... --insecure-registry ...`, or `--rm --insecure-regi

[2017-04-03 16:42] chengwang86 opened #4530 "vic-machine reconfigure: Enable or disable the debug state"
**User Statement:**
As a VIC operation user, I need the ability to enable or disable the debug state. Currently the VCH debug state is disabled by default. So I don't have enough log information when failures occur. It will be very helpful if I can switch to debug state (or a higher debug level with more information) to diagnose the failure/error.
This story does not include changing debug level f

[2017-04-03 16:50] chengwang86 opened #4531 "vic-machine reconfigure: Update or reset the HTTP and HTTPS proxy values"
**User Statement:**

As a VIC operation user, I need the ability to update or reset the HTTP and HTTPS proxy values. The proxy is used only when pulling images.

**Details:**
- supported operations:
  - update (or add) the HTTP and HTTPS proxy values
  - remove existing HTTP and HTTPS proxy values
- hot update:
  - no; need to restart the VCH to make the changes take effect.
- input/output data fo

[2017-04-03 17:00] chengwang86 opened #4532 "vic-machine reconfigure: Update or remove the container datastore"
**User Statement:**

As a VIC admin, I need the ability to update or remove the container datastore, if the `vic-machine create --container-store` option is implemented. By default, the container VM files are stored in the same datastore as the one used by the image store.

**Details:**
- supported operations:
  - update the container datastore
  - remove the container datastore
- hot update:
  -

[2017-04-03 17:30] jzt commented on #4384
Found this, investigating further:
[code]

[2017-04-03 17:31] jooskim commented on #4279
Closed via #4254

[2017-04-03 17:31] #4279 closed

[2017-04-03 17:35] #4469 closed

[2017-04-03 17:52] jooskim opened #4533 "Determine core services to port"

[2017-04-03 17:54] jooskim opened #4534 "Research migration from Kendo Datagrid to Clarity Datagrid"

[2017-04-03 17:58] jooskim opened #4535 "Port core services into Angular"

[2017-04-03 18:00] jooskim opened #4536 "Create component specs for Tasks Console view"

[2017-04-03 18:00] jooskim opened #4537 "Write Tasks Console view components"

[2017-04-03 18:01] jooskim opened #4538 "Tasks Console view in VIC UI workspace"
User Statement:

As a UI engineer, I would like to replicate the Tasks Console view from the H5 Client to a reasonable detail.

Details:

The Tasks Console view is part of [PRD 1.2](https://onevmw-my.sharepoint.com/personal/aluther_vmware_com/_layouts/15/WopiFrame.aspx?sourcedoc=%7Bb123251c-42f7-4adc-a1f1-b83d794071d1%7D&action=default) and its UX mockup can be found [here](https://vmware.invision

[2017-04-03 18:05] mhagen-vmware commented on #4449
please prioritize, add description and move to backlog when ready

[2017-04-03 18:06] mhagen-vmware commented on #4479
please prioritize, label and estimate and move to backlog

[2017-04-03 18:06] mhagen-vmware commented on #4484
please prioritize, estimate and move to backlog

[2017-04-03 18:07] mhagen-vmware commented on #4538
please estimate and move to backlog when ready

[2017-04-03 18:08] mhagen-vmware commented on #4478
please estimate and move to backlog when ready

[2017-04-03 18:08] jooskim commented on #4538
Merged this epic into an existing epic

[2017-04-03 18:08] #4538 closed

[2017-04-03 18:14] mhagen-vmware commented on #4511
@lalegre Hi! We currently don't have direct support for proxies that require logging in. Right now we only support the following options at VCH install:
[code]
You can try to input that in the form of:
https://<username>:<password>@ip:port and see if that works (I suspect it probably won't), but otherwise that is a new feature that we will need to implement.

[2017-04-03 18:27] #4493 closed

[2017-04-03 18:55] rajanashok opened #4540 "Docker-compose volume label test fails with plugin error"
⇒  docker-compose -H 10.160.36.169:2375 up -d
Creating volume "vic_volume_with_label" with default driver
ERROR: error looking up volume plugin : plugin not found

YML file:

version: "2.1"

services:
  web:
    image: busybox
    command: top
    volumes:
      - volume_with_label:/data

volumes:
  volume_with_label:
    labels:
      - "label_key=label_val"

[2017-04-03 19:37] rajanashok opened #4541 "Docker-compose fails to create a dependent container for network_mode"
⇒  docker-compose -H 10.160.36.169:2375 up -d
Creating network "vic_default" with the default driver
Creating vic_none_1
Creating testcon
Creating vic_bridge_1
Creating vic_host_1
Creating vic_service_1
Creating vic_container_1

ERROR: for host  Cannot create container for service host: Server error from portlayer: [POST /scopes/{scope}/containers][500] addContainerInternalServerError  &{Code:0 Me

[2017-04-03 19:50] jooskim commented on #4533
**Dependency tree for services required for the Tasks Console view**
  - timeFormatterService
    - localStorageService
      - userSessionService
      - logService
      - browserLanguage -> use i18nService
  - objectTypesService - no dependency
  - gsonAdapterService - no dependency
  - taskFormatter (4)
    - taskConstants
    - objectTypesService (v)
    - gsonAdapterService (v)
    - timeFor

[2017-04-03 19:53] emlin commented on #4069
Update has same issue with upgrade, move this issue to update epic

[2017-04-03 19:54] chengwang86 commented on #4541
@stuclem could you please add this bug to the 1.1 release note?

[2017-04-03 20:05] chengwang86 opened #4542 "vic-machine should be able to enable or disable ssh login to the VCH"
**User Statement:**

As a VIC admin, I need the ability to enable or disable ssh login to an existing VCH. This also relates to **vic-machine reconfigure**#2911.

**Details:**
- supported operations:
  - enable or disable ssh login to the VCH
- hot update:
  - yes
- input/output data format:
  - input: `--enable-ssh` and `--disable-ssh`
  - output: N/A
- impact on VCH/containerVMs:
  - VCH: The us

[2017-04-03 20:05] chengwang86 commented on #4542
**enable-ssh** could be achieved by `vic-machine debug --enable-ssh`. **disable-ssh** could be achieved by restarting the VCH since the VCH is stateless.

[2017-04-03 20:24] emlin commented on #4512
volume-store option sample: "datastore/path:label" or "datastore:label", and can be a url to like "nfs://host:port/nfs:nfs"

For remove operation, need to make sure no volumes exist in that volume store. If any volume created in that volume store, volume-store delete is not allowed, no matter if that volume is attached to container or not. (is discussing with @karthik-narayan in the PRD)

[2017-04-03 20:38] chengwang86 commented on #4496
For vicadmin, I suspect that the VCH name on the web portal would be updated to the latest name upon page refresh, via calling vsphere API. Need to verify this.

[2017-04-03 20:40] chengwang86 commented on #4496
@hickeng @emlin Currently we use the VCH name as the name and folder name of the TLS certificates. When doing rename, I think these names should also be updated. Any comments?

[2017-04-03 20:56] #4486 closed

[2017-04-03 21:16] #4522 closed

[2017-04-03 21:46] emlin commented on #4496
The display name can be used to generate certificate if not specified, but the certificate should still work well after vch rename. (worth to try it to make sure we do not have a wrong assumption)

But if the certificate dir still there, we could rename the certificate folder to the new display name, so that it's easier for vic-machine to find the certificate file during inspect.

[2017-04-03 23:09] frapposelli opened #4544 "Remove Email settings from the OVF properties"
For 1.1 Admiral is not using them and Harbor now has a way to change them in the UI, going forward these properties will be stored in the common user/data store.

[2017-04-04 08:07] stuclem commented on #4478
@mhagen-vmware does this need to go in the release notes for 1.1?

[2017-04-04 14:28] mhagen-vmware commented on #4384
http://pubs.vmware.com/vsphere-60/index.jsp?topic=%2Fcom.vmware.wssdk.apiref.doc%2Fvim.fault.NetworkDisruptedAndConfigRolledBack.html

[2017-04-04 15:10] chengwang86 commented on #4519
Although we disallow adding/removing the image datastore in general, there are two corner cases where we might be able to allow updating the image datastore.

**Case I**:
If the existing image datastore that is being used is **empty or the VCH does not have any images yet (only the scratch file)** and the user wants to switch to another image datastore, vic-machine could delete the old image datas

[2017-04-04 15:21] emlin commented on #4513
- For this function, user can do it from vSphere UI, but that's out of vic-machine update scope, so please remove that description from the story.
- The change happens in resource pool and vApp, no need to restart VCH.
- Please try to manually reduce resource reservation to a smaller value than currently used, to see VC behavior. We'll use that as our reference.

[2017-04-04 15:32] emlin commented on #4495
@chengwang86 btw, the major point of this update is for operation user, instead of admin user used by vic-machine, please update the option names

[2017-04-04 15:45] emlin commented on #4514
Not requirement right now. Could close it

[2017-04-04 15:46] mhagen-vmware opened #4546 "1-07 docker stop test: wrong assignment logic"
[code]
Can't do that, the 2nd ${rc} ${dir} overwrites the variable every time, need to use Set Variable If instead or nested run keyword if

[2017-04-04 15:59] emlin commented on #4515
@karthik-narayan
Do we need to support new certificate generation? Or anytime, user wants to update certificate, he/she needs to provide one certificate?

[2017-04-04 16:03] emlin commented on #4512
@karthik-narayan copy new comments from PRD:
technically speaking, vic-machine is managing the volume store, instead of volumes in that volume store. So vic-machine update is supposed to be able to remove one volume store, which make sense.
But if there is volumes in that volume store, should vic-machine delete volumes in that volume store, if no container attached to that volume?
My understanding

[2017-04-04 16:20] #4159 closed

[2017-04-04 16:24] mhagen-vmware opened #4547 "Test 6-07 create network: bridge network - vcenter none"
[code]
failure does not exists here, should be looking for:
Apr 3 2017 17:20:37.205-05:00 ERROR An existing distributed port group must be specified for bridge network on vCenter: network 'VCH-0-7850' not found

[2017-04-04 16:39] cgtexmex opened #4549 "docker stats race condition"
When executing `docker stats` the VCH appliance _might_ encounter a race condition that would orphan a go routine.  This orphaned routine would never be garbage collected resulting in a memory leak.

[2017-04-04 17:02] frapposelli commented on #4373
fix confirmed in pre-RC build

[2017-04-04 17:02] #4373 closed

[2017-04-04 17:34] mhagen-vmware opened #4552 "Don't name files with colons in them"
vet: walk error: lstat tests/resources/dockerfiles/Dockerfile.1-37-Docker-USER-NewUser:NewGroup: no such file or directory

Need to rename:
[code]

[2017-04-04 18:15] kreamyx opened #4554 "Investigate Vulnerability Scanning Integration Points with Harbor and/or Admiral"

[2017-04-04 19:46] mhagen-vmware commented on #3022
@emlin longevity system is currently in this state right now.  @jzt is looking at it in conjunction with the fix for the other longevity failure that he was working on.  Please work together to make sure longevity is fixed as quickly as possible. If you need anything from let me know ASAP, so we can get longevity/stress unblocked.

[2017-04-04 19:47] lubronzhan opened #4555 "When deploy OVA with static IP, there is no network and DNS entered is missing in `/etc/resolv.conf`"
**User Statement:**

When deploy OVA with static IP,  there was no network and DNS entered was missing in `/etc/resolv.conf`
`vic-v1.1.0-rc2-866fae49.ova`
And taking snapshot brought down the VM, after canceled the snapshot task, the VM was up again, butIP becomes different.

**Details:**
I tried to deploy the OVA with following configuration
[code]
After the VM is up. I cannot `ping google.com`
S

[2017-04-04 19:54] emlin commented on #4520
@fdawg4l this base image size is used to set scratch vmdk size only, can you assume in which case, user need to update this size?

[2017-04-04 19:55] emlin commented on #4520
@chengwang86 portlayer does not resize scratch vmdk file after it's created at this time.

[2017-04-04 20:31] #4552 closed

[2017-04-04 20:32] mhagen-vmware commented on #4552
fixed with https://github.com/vmware/vic/pull/4553

[2017-04-04 20:35] #4544 closed

[2017-04-04 20:47] gigawhitlocks opened #4557 "Make vicadmin respect proxy settings"
Proxy settings are not applied to the applianceVM as a whole, so the settings must be read out of the environment (stored in an env var) and passed into the Golang HTTP client that does the health checks in vicadmin so that those health checks respect the proxy settings used elsewhere in the application.

[2017-04-04 21:02] mdubya66 commented on #4557
is there a workaround? Should we release note this?

[2017-04-04 21:05] gigawhitlocks commented on #4557
I don't think there is a workaround. There is definitely not a simple one.

[2017-04-04 21:06] gigawhitlocks commented on #4557
That being said, it should also not be a terribly difficult bugfix (famous last words).

[2017-04-04 21:08] chengwang86 commented on #4517
@hmahmood If the newly added DNS server is unreachable, will the VCH try to use the default `8.8.8.8` or just gives up?

[2017-04-04 21:08] mdubya66 commented on #4557
@mhagen-vmware this was found by an early adopter customer, wtih no workaround. Should we consider it for 1.1?

[2017-04-04 21:11] corrieb opened #4558 "Container run failure with "unable to wait for process launch status: summary.runtime.powerState=poweredOff""
On my new ESXi host, I quite regularly get a container start failure with the above message. I suspect it's timing related because it seems to happen randomly and I haven't yet seen it on my much slower VC cluster. That's not to say it's definitively an ESXi-only problem.

Port layer log file shows the following, which seems to suggest the error occurs before the container is even started. Maybe w

[2017-04-04 21:11] #4507 closed

[2017-04-04 21:11] corrieb commented on #4558
Log bundle here:
[container-logs (3).zip](https://github.com/vmware/vic/files/894555/container-logs.3.zip)

[2017-04-04 21:23] mhagen-vmware opened #4559 "12-01-Delete: need to support 1.13 docker client"
This test installs an old version of VIC, need to modify the test to work with 1.13 again.  Probably just use docker1.11 in the first part of the test.

[2017-04-04 21:24] mhagen-vmware opened #4560 "11-01-Upgrade-Test"
This test installs an old version of VIC, need to modify the test to work with 1.13 again. Probably just use docker1.11 in the first part of the test.

[2017-04-04 21:43] hmahmood opened #4561 "docker client 1.13 always returns 0 with VIC"
Steps to reproduce:
1. `docker run busybox false` should return 1, but returns 0

[2017-04-04 21:44] hmahmood commented on #4561
Maybe related to #4504

[2017-04-04 21:44] hmahmood commented on #4561
Client does not seem to be calling container wait anymore, which is how VIC sends back the exit code. Very likely events are used for this now, and we are not putting the exit code in the events we send back from the port layer.

[2017-04-04 22:21] kreamyx opened #4562 "VCH should not allow ContainerVMs to run if their vulnerability degree exceeds the project threshold"

[2017-04-04 22:23] jakedsouza opened #4564 "1-08 - Docker Logs: needs to support 1.13 docker client"
This test installs an old version of VIC, need to modify the test to work with 1.13 again. Probably just use docker1.11 in the first part of the test.

[2017-04-04 22:24] #4555 closed

[2017-04-04 22:27] lubronzhan opened #4565 "After adding empty line to Admiral private key file, Admiral cannot recognize the private key."
**User Statement:**

After adding empty line to Admiral private key file, Admiral cannot recognize the private key.

**Details:**

The java package Admiral uses to decode private key only supports PKCS8 format. If add an empty line to a correct PKCS8 format private key file, the library would report error: `Failed to read PKCS#8 PEM file.`

The library should be able to identify the content of the

[2017-04-04 22:37] #4565 closed

[2017-04-04 22:52] kreamyx opened #4568 "Return the vulnerability scan results if a user attempts to run a container based on a vulnerable image"

[2017-04-04 22:59] maplain opened #4569 "need to make the best of build servers"
#For stories, please include the information below:

**User Statement:**

In CI environment, we want to make sure build servers are not overburdened. But the current way to ensure that often results in less builds running than the number of drone servers.

This problem is more problematic than I initially thought. In essence, there are two sets of resources: drone workers and esxi build servers. T

[2017-04-04 23:06] jakedsouza commented on #4368
Blocked by
#4561   #4560 #4559 #4564

[2017-04-04 23:11] kreamyx opened #4570 "Write integration tests to ensure Engine reacts appropriately to various degrees of image vulnerabilities"

[2017-04-04 23:24] kreamyx opened #4571 "Ensure Engine takes the correct action if a running container is found to be vulnerable"
**User Stories**

As a VIC Admin, I expect Engine to take proper actions should a running container is found to be vulnerable

**Details**

A Vulnerability database refresh may found new vulnerabilities in images that were not vulnerable before. If containers based on these images happen to be running in production, Engine has to take some actions.

Based on a discussion with @hickeng, the assumpt

[2017-04-04 23:59] kreamyx commented on #4505
Done!

[2017-04-04 23:59] #4505 closed

[2017-04-05 00:29] mdubya66 commented on #4460
@karthik-narayan - take a look and let us know if anything is not covered.

[2017-04-05 00:31] mdubya66 commented on #4505
Cleaning up this. The Epic should not be in the Sprint, The issue to fill the epic should be.

[2017-04-05 00:55] lcastellano opened #4573 "VIC with Docker client 1.13 returns incorrect error message on non-existing object"
**VIC version:**

Server:
 Version:      0.8.0
 API version:  1.25 (minimum version 1.19)
 Go version:   go1.8
 Git commit:   866fae4
 Built:        Mon Apr  3 22:25:08 2017
 OS/Arch:      linux/amd64
 Experimental: true

**Steps to reproduce:**

Run the following docker command with docker 1.13 client:

docker inspect fake

where **fake** is non existent object

the output is:

_Error response fr

[2017-04-05 01:59] hickeng commented on #3586
Estimated at a 5 to encompass:
* vic-machine changes - some thought required:
  - should be whitelist by default. Should error if no registryca's, or insecure-registry arguments are specified - error message should provide the argument to disable whitelist behaviour.
  - we could use --registry-ca as a whitelist identifier, but it can identify a set of registries if the same CA is used. We could u

[2017-04-05 02:10] hickeng opened #4574 "Allow appliance to enforce notary requirements"
**Story**
As a security engineer I want a VCH to enforce the restrictions described by a notarized deployment for a set of images.

**Details**
With the regular docker model the notary validation is performed by the docker CLI client - this makes sense as if deploying to a large scale set of docker hosts/swarm there's likely to be a variety of different requirements, and it's up to the person depl

[2017-04-05 02:18] anchal-agrawal commented on #4573
This is similar to #4322. To fix this, we should change https://github.com/vmware/vic/blob/master/lib/apiservers/engine/backends/swarm.go#L47 to

[code]

[2017-04-05 02:27] hickeng opened #4575 "Provide debuglevel constants and enforce behavioural consistency"
**Story**
As a VIC developer I want to have useful symbolic constants that describe when certain debug features should be activated
As a support engineeer I want clear documentation on what behaviour different debug levels produce
As a customer I want to know exactly what is in a support bundle at different debug levels
As a customer I want to know what reductions in security apply at different de

[2017-04-05 03:27] hickeng opened #4576 "vicadmin incredibly slow to load after login"
As a follow on from #4289 (bug1832759) we saw that vicadmin was extremely slow to load - after 5min we still had not got to the main page after submitting credentials.

Apparently this is happening in both available environments. The vicadmin logs will hopefully shed light on at least where we're blocking.

[2017-04-05 03:33] hickeng opened #4577 "Containers configured with runblocking should exit or give up blocking eventually"
**Story**
As a user I expect my containers to start successfully or fail to start with a helpful error message

**Detail**
We have runblocking to address the case where it's absolutely necessary to get _all_ container output - however a container configured in this manner will block indefinitely until an attach attempt makes it to the container and unblocks the process launch.

Two items to addres

[2017-04-05 10:38] frapposelli opened #4578 "OVA fileserver doesn't start when supplying a custom certificate"
certificate is not correctly stored in a file and preserved in the data directory

[2017-04-05 10:57] stuclem opened #4580 "Installing UI plug-in reports success when it fails"
**VIC version:**

OVA installer: `vic-v1.1.0-rc2-81820686.ova`

**Deployment details:**

Attempting to install the VIC UI plug-in to the vSphere 6.5 HTML5 client for a VC instance running on Windows.

**Steps to reproduce:**

1. Deployed OVA successfully
2. Downloaded and unpacked `vic-engine-v1.1.0-rc2-81820686.tar.gz`
3. Updated vic/ui/vCenterForWindows/configs as shown below:
[code]
4. Ran inst

[2017-04-05 10:59] stuclem commented on #4580
Also of interest to @alextopuzov

[2017-04-05 12:45] stuclem opened #4581 "Update doc link in output of `systemctl status harbor/admiral/fileserver`"
**VIC version:**

OVA installer: `vic-v1.1.0-rc2-81820686.ova`

**Deployment details:**

N/A

**Steps to reproduce:**

SSH into the appliance VM and run  `systemctl status harbor/admiral/fileserver`

**Actual behavior:**
Output inludes links to the docs.

Registry: `Docs: http://github.com/vmware/harbor`
Portal: `Docs: https://github.com/vmware/admiral`
Engine: `Docs: https://github.com/vmware/vic

[2017-04-05 13:33] hickeng commented on #4576
high priority for initial investigation as to what's happening - revisit after triage is done.

[2017-04-05 13:34] hickeng commented on #4574
high priority inherited from notary PRD planning.

[2017-04-05 14:11] #4578 closed

[2017-04-05 15:06] mhagen-vmware commented on #3901
@lcastellano ^^^?

[2017-04-05 15:09] jooskim commented on #4580
It's been a while since I last worked on `install.bat`. Will reproduce this and fix it soon.

[2017-04-05 15:16] mhagen-vmware opened #4582 "Need to establish signed public CA testing procedure"
User statement: As a customer of VIC, I might use public signed CA certs and want to be assured that the engine, harbor, and admiral have been tested to work properly with them

Details:
letsencrypt.org
https://github.com/andrewtchin/ca-test
https://github.com/cloudflare/cfssl

Acceptance criteria:
A keyword or set of keywords that provides public signed certs to be used in harbor/admiral/engine i

[2017-04-05 15:20] mhagen-vmware opened #4583 "Need to hook up robot remote server testing with windows servers"
User statement:  As a customer of VIC, I will likely be using windows as a VI admin, I want to be assured that VIC has been tested properly with it.

Details:
https://github.com/robotframework/PythonRemoteServer
https://github.com/robotframework/RemoteInterface

Acceptance criteria:
One or more windows servers are configured and setup to be used for testing with the remote server library.

[2017-04-05 15:24] emlin commented on #4517
I think we're able to support modify dns as well, so if user already set a dns server, and wants to change to another one, it's still doable.

[2017-04-05 15:32] emlin commented on #4519
The preference so far, is not to do anything for the two scenario @chengwang86 mentioned.

The first case means user does not have anything yet. In this case, recreate a new VCH is easy.

For the second case, the better technical solution should be leveraging datastore cluster, or multiple image store, cause data copy or move between datastores will significantly impact data I/O on both datastores

[2017-04-05 15:48] mhagen-vmware commented on #4478
@stuclem yes, this should be release noted

[2017-04-05 15:49] emlin commented on #4521
- The link reference in description is not a discussion for bridge network.
- Change port group of bridge network is not something we want to do.
   - Change port group will impact existing container. Will need to update container vnic if it connect to bridge network.
   - vic-machine does not rely on portlayer services because VCH might be powered off during update. And vic-machine is not suppose

[2017-04-05 15:49] #3657 closed

[2017-04-05 15:50] #3917 closed

[2017-04-05 15:50] lcastellano opened #4584 "PSC vs local LW deployment investigation"
**User Statement:**
In a VIC deployment we have the choice of using PSC (in VC) or deploying a local copy of LW. An in depth investigation is necessary to establish which approach fits in which customer scenarios.

**Details:**
The purpose of the investigation is two-folds. It is necessary to understand the properties of PSC when deployed in VC. Among these:
- user/group provisioning,
- OIDC suppo

[2017-04-05 15:51] mhagen-vmware commented on #3917
closing as all stories are complete, if we need to do more unified OVA work for future releases please create a new epic.

[2017-04-05 15:55] #3818 closed

[2017-04-05 15:58] emlin commented on #4523
I guess you mixed the description for bridge network into public network.

- Allow public network update includes both port group and static ip address, to make sure VCH continue to work while user's network env is changed.
- Add one more operation is to toggle between dhcp and static ip
- We do not set public network scope and ip range
- No requirement to portlayer to update public network. All c