[2016-07-18 15:12] mhagen-vmware opened #1545 "Docker ps -l and ps -n=2 does not show containers that have been created but not started"
docker create busybox ls
docker ps -l

Actual output:

[code]

Expected output:

[code]

[2016-07-18 15:19] mhagen-vmware opened #1546 "Status created does not exist"
Actual behavior:
[code]

Expected behavior:
[code]

[2016-07-18 15:22] cgtexmex opened #1547 "PortLayer container cache to include MoRef ID"
Currently the PortLayer container cache is a map with the container ID as the key.  This needs to be refactored to allow for the lookup of container vms via the vSphere MoRef ID of the container VM.  This will be in addition to look up via container ID.

The MoRef ID is the unique identifier of a vSphere managed object (per cluster) and is returned as part of the event stream.

Related to #1329

[2016-07-18 15:41] gigawhitlocks commented on #1535
@stuclem this issue should be closed later today, as I have a PR open to address it, although I wouldn't be surprised if we find a few more special characters that vSphere supports that vic-machine does not, as the regex I'm using is fairly strict.

It might be helpful to call it out in the docs as I've been as-of-yet unable to find documentation listing which characters are legally allowed by vSp

[2016-07-18 15:53] stuclem commented on #831
@hickeng, we see that https://github.com/vmware/vic/issues/431 (docker compose up) is flagged for GA. So, what exactly do we need to write up for Onsite Beta? Thanks!

[2016-07-18 16:46] hickeng commented on #1538
@stuclem @cormachogan I'd honestly rather not have the --appliance arguments in there at all. I don't think they add any value and have the potential for significant confusion amongst custmoers.
The _only_ reason for changing CPU/memory for the appliance outside of debugging is to allow for caching of larger image layers (ramfs) during pull and that could be accomplished via the vsphere UI if abso

[2016-07-18 17:05] #1437 closed

[2016-07-18 17:22] #702 closed

[2016-07-18 17:22] #811 closed

[2016-07-18 18:45] #1535 closed

[2016-07-18 18:48] matthewavery opened #1548 "Add support for random naming of volumes"
Currently `docker volume create` requires that the `--name` option be specified for a successful interaction to occur. Docker behavior is that a volume with `--name` when created will get a random uuid as a name.

[2016-07-18 19:30] emlin opened #1550 "vic-machine ls"
Usage sample:
[code]
The following example lists VCHs under a specific resource
[code]

[2016-07-18 20:33] caglar10ur commented on #1459
Unfortunately we can't do this without changing docker client code as they filter out links in the client side (https://github.com/docker/docker/blob/de64324109d2694b1525e62b5c0072267282a36c/runconfig/opts/parse.go#L613)

[2016-07-18 20:34] emlin commented on #1538
@hickeng if we don't allow the configuration of appliance, what number is the preferred default value for appliance?
Still 1 cpu, 2048 memory?

[2016-07-18 20:37] caglar10ur commented on #1459
https://github.com/docker/docker/blob/792adb7199634941d1151c798a267918d9a6aa7a/api/client/container/create.go#L62

https://github.com/docker/docker/blob/792adb7199634941d1151c798a267918d9a6aa7a/api/client/container/run.go#L80

[2016-07-18 20:38] matthewavery commented on #917
Yes this one is pretty much wrapped up opening a PR on it now. was very simple to get working. Just lacks some unit tests and this ticket is good to go.

[2016-07-18 20:45] #983 closed

[2016-07-18 21:04] Simon321vmware commented on #1535
Hello @gigawhitlocks, @emlin.

I have recently started to work with VIC and the VCH. I`m trying to use Photon OS to deploy VIC, however i think i could find an issue.

Heres what i`m trying to do:

./vic-machine-linux create --target 192.3.1.12 --image-datastore /DC_Name/Shared/VLABDS03/ -name vch01 --user administrator@vsphere.local --password ZZZZZZ --compute-resource /DC_Name/host/ClusterName/R

[2016-07-18 22:56] fdawg4l commented on #1535
Hi @Simon321vmware!

The error being reported is that the `--image-datastore` arg is wrong.  Just pass the name of the datastore.  In this case it looks like it should be `--image-datastore DC_Name`.

Give that a try and let us know if it's still unhappy.   Thanks!

[2016-07-18 23:44] npakrasi commented on #844
Added to [Supported Docker Commands](https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_app_dev/container_operations.md) table.

[2016-07-19 00:46] caglar10ur commented on #1464
Assigning myself as I started to change them

[2016-07-19 03:29] corrieb opened #1557 "vic-machine create fails over slow connection"
I just tried to install a VCH from my laptop over the VPN. Connection speed was about 0.8MB/s. The whole operation took just over 5 minutes and then failed.

I appreciate we can't hold connections open for hours, but it feels like 5 minutes isn't an unreasonable time to have to wait for an upload.

If we really do end up timing out or we drop the connection completely, I wonder if there's a neater

[2016-07-19 08:56] stuclem opened #1559 "Document that datastore names can include special characters"
Per https://github.com/vmware/vic/issues/1535.

At present it's just a hypen (and underscore?) but the intention is to support all of the special characters that vSphere permits.

[2016-07-19 08:57] stuclem commented on #1535
Thanks @gigawhitlocks. I created the above doc issue for this. To confirm, we're just permitting hyphens, right, or hyphens and underscores?

I'll have a look around the vSphere docs to see if I can find a list of permitted characters.

[2016-07-19 09:07] stuclem commented on #1522
Partial implementation is in https://github.com/vmware/vic/pull/1552. Full implem is for GA, but it looks like some of it will be there for onsite.

[2016-07-19 09:09] stuclem commented on #932
See also https://github.com/vmware/vic/issues/1548, which allows support for random volume names.

[2016-07-19 09:12] stuclem commented on #833
Comment from @gigawhitlocks via Slack:

_You know I’m not really sure what the state of this is since we decided to use a vsphere extension for authentication. I know there are some more RBAC-related things that George wants to do, but I’m not 100% sure on what the timeline is on those

or how the design has changed, because initially we were going to create a user in vSphere to do VCH things and

[2016-07-19 09:23] stuclem commented on #1535
@gigawhitlocks so far I have found the following doc about special characters:

- [KB 2012890](https://kb.vmware.com/selfservice/microsites/search.do?language=en_US&cmd=displayKC&externalId=2012890) says that square brackets and forward slashes are not permitted (but this is for VC 4.x-5.0.x)
- [KB 2046088](https://kb.vmware.com/selfservice/microsites/search.do?language=en_US&cmd=displayKC&externa

[2016-07-19 10:52] stuclem commented on #872
Added the following to the topic on `vic-machine create` options:

"The `vic-machine` utility allows you to specify the datastores in which to store container VM files, container image files, and the files for the virtual container host appliance. vSphere Integrated Containers fully supports VMware Virtual SAN datastores.

**NOTE**: When you deploy a virtual container host, even though you specify

[2016-07-19 11:10] stuclem commented on #1007
Added the following to the topic on `vic-machine create` options:

"You specify the `compute-resource` option in the following circumstances:

- A vCenter Server instance includes multiple instances of standalone hosts or clusters, or a mixture of standalone hosts and clusters.
- An ESXi host includes multiple resource pools.
- You want to deploy the virtual container host to a specific resource p

[2016-07-19 13:44] mdubya66 commented on #1542
@hmahmood please give this a quick triage

[2016-07-19 13:47] mdubya66 commented on #1409
assigning to @hickeng for triage

[2016-07-19 13:48] mdubya66 commented on #1413
Moving to icebox per discussion with Mike, the order shouldn't matter

[2016-07-19 13:51] mdubya66 commented on #1448
Assigning to @mhagen-vmware to keep an eye out for this one. During triage we can decide who should take it on for our GA push.

[2016-07-19 13:53] mdubya66 commented on #1450
assigning to hickeng for initial triage and re-assignment.

[2016-07-19 14:00] mdubya66 commented on #1489
I'm putting this into Backlog and GA for now. This is a candidate for the tech debt relief.

[2016-07-19 14:04] mdubya66 commented on #1503
Marking this as Onsite, it can probably move to GA but a fix would be nice.

[2016-07-19 14:06] mdubya66 commented on #1517
assigning to @hickeng for initial triage and more detail.

[2016-07-19 14:08] mdubya66 commented on #1525
In my experience this can be stale fairly quickly unless API's are used instead of static locations. I'm moving this to Icebox for now.

[2016-07-19 14:10] mdubya66 commented on #1541
@hickeng needs a clear owner. marking for GA for now

[2016-07-19 14:11] mdubya66 commented on #1545
@hickeng needs an owner

[2016-07-19 14:12] mdubya66 commented on #1546
Marking this as Onsite for now. @hickeng it needs an owner

[2016-07-19 14:13] mdubya66 commented on #1405
Assigning to @mhagen-vmware for initial triage

[2016-07-19 14:14] mdubya66 commented on #1406
assigning to @mhagen-vmware for triage

[2016-07-19 14:14] mhagen-vmware opened #1560 "VIC does not support creating a volume with auto-generated name"
Actual behavior:
Error response from daemon: Server error from Portlayer: Name in body is required

Expected behavior:
anon@anon-Latitude-E7450:~/vic$ docker volume create
d3a0986406196224a06f4592c3ef730f97646a0cc920c31d9656ee16b3ecfd20

[2016-07-19 14:16] mdubya66 commented on #1429
@mhagen-vmware please keep an eye on this one.

[2016-07-19 14:17] mhagen-vmware opened #1561 "Bad error message when volume store is not found"
Just need to clean this up:
[code]

[2016-07-19 14:18] mdubya66 commented on #1442
@hmahmood please review this. It may be a candidate for onsite.

[2016-07-19 14:20] mdubya66 commented on #1446
Assinging to @caglar10ur for confirmation of above comment. Please re-assign if inappropriate.

[2016-07-19 14:22] mdubya66 commented on #1452
Assigning to @emlin for triage. Please move to backlog if you don't feel this is an issue for Onsite and put it in the GA Milestone.

[2016-07-19 14:24] mdubya66 commented on #1476
Assigning to @emlin for inclusion in GA. @karthik-narayan @reddolan we should take a look at this one for gathering more input from the Onsite customers.

[2016-07-19 14:26] mdubya66 commented on #1501
@hickeng please triage and assign to appropriate team

[2016-07-19 14:27] mdubya66 commented on #1505
Moving to todo. @matthewavery please confirm this is still on your plate for Onsite.

[2016-07-19 14:28] mdubya66 commented on #1509
@jzt please take a look and confirm you can get to this for Onsite.

[2016-07-19 14:33] mdubya66 commented on #1439
@hickeng should this have been prioritized above some of the other Onsite work? It needs a milestone.

[2016-07-19 14:33] reddolan commented on #1476
I created a document of questions that we are looking to ask customers at the Onsite: https://docs.google.com/a/vmware.com/document/d/1jCGLSsv8hBihu2nwNO-yvt73YdDiU3unB51tUHAby60/edit?usp=sharing

[2016-07-19 14:34] mdubya66 commented on #1514
Since this is in Progress I am marking it required for Onsite. IMO it could be a candidate for GA instead.

[2016-07-19 14:34] mhagen-vmware opened #1562 "When specifying capacity of a volume, volume create does not handle invalid input correctly"
Actual behavior:
[code]

Expected behavior:
We need to clean up most of the wording of these errors, additionally:
1. Don't indicate an optional parameter is required, just indicate it is invalid output
2. Don't create volume when capacity is specified as -1
3. Just need error language cleanup
4. Just need error language cleanup
5. Error from 3 indicates we only support int, but this somehow parse

[2016-07-19 14:35] mdubya66 commented on #1529
marking for Onsite as it's in Progress. this and #1542 need to be followed up on with more details.

[2016-07-19 14:37] mhagen-vmware commented on #1215
Haven't seen this in a while, closing for now until we see it again.

[2016-07-19 14:37] #1215 closed

[2016-07-19 14:39] mdubya66 commented on #1562
Needs triage. Flagging for Onsite for now. May be related to #1503

[2016-07-19 14:57] mhagen-vmware opened #1563 "Volume create name parameter needs input checking"
Actual behavior:
anon@anon-Latitude-E7450:~/vic$ docker -H 192.168.254.149:2376 --tls volume create --opt Capacity=100  --name test???
test???

Expected behavior:
anon@anon-Latitude-E7450:~/vic$ docker volume create --name test???
Error response from daemon: create test???: "test???" includes invalid characters for a local volume name, only "[a-zA-Z0-9][a-zA-Z0-9_.-]" are allowed

[2016-07-19 15:09] mhagen-vmware opened #1564 "Volume create with a bad driver specified results in success"
Actual behavior:
Running command 'docker -H 192.168.254.168:2376 --tls volume create -d fakeDriver --name=test2'
${rc} = 0
${output} = test2

Expected behavior:
Error looking up volume plugin fakeDriver: plugin not found

[2016-07-19 15:28] mhagen-vmware opened #1565 "When you create volume, the capacity is not reported by govc"
Not sure if this is expected or not but when I create a volume with capacity of 100, then run a test on it using govc I receive the following:
[code]

[2016-07-19 15:54] cgtexmex commented on #1546
FTR - we have a number of issues around the state machine of vic and how it's presented via the docker client.  This is one manifestation of that -- IMO we need to define the valid states in VIC and then map the translation to docker.  This will need to take into account VM state & tether (extra configuration) information.

While I was in Austin with @hickeng we discussed this a bit.  If this can

[2016-07-19 16:09] #1514 closed

[2016-07-19 16:09] #1464 closed

[2016-07-19 16:14] caglar10ur commented on #1446
They work now (just tested) so closing

[2016-07-19 16:14] #1446 closed

[2016-07-19 16:16] caglar10ur commented on #1244
@hickeng they are shutting down cleanly here, how are you testing?

[2016-07-19 16:52] mdubya66 commented on #1546
Thanks @cgtexmex - i still need to determine if this is a requirement for onsite. later this week would push it out.

[2016-07-19 17:10] corrieb opened #1568 "Container start hangs intermittently (over 30s wait)"
This is an issue I've seen a number of times running integration tests. It's hard to determine exactly what's going on, but I'm starting to become convinced that it's not due to the system just taking too long to power or boot the container. It's hard to reproduce, but I managed to capture a log bundle with all the information in it.

Let's at least explore whether it could be a deadlock or some k

[2016-07-19 17:13] corrieb commented on #1568
[VCH-0-6108-container-logs.tar.gz](https://github.com/vmware/vic/files/372029/VCH-0-6108-container-logs.tar.gz)

[2016-07-19 18:02] #1350 closed

[2016-07-19 18:59] mhagen-vmware opened #1569 "Network rm with active endpoints should have better language"
Actual output:
'Error response from daemon: scope has bound endpoints'

Expected output:
'Error response from daemon: network test-network has active endpoints'

[2016-07-19 19:42] mhagen-vmware commented on #1488
Please see https://github.com/vmware/vic/pull/1549

This is the start of what I would like to do, you can see I have implemented a bit more tagging, cleaned up the drone file, and introduced a really fast regression test.  I think we need to expand the regression test some more - not too much, but it is very basic right now.  With the conditional statement in the integration.sh now though we can m

[2016-07-19 20:13] sflxn commented on #1390
Almost done with this.  Getting VCH mhz, memory limit.  Also getting vch os, version, and name from AboutInfo.  This is now in portlayer's misc section of portlayer.

[2016-07-19 20:14] jooskim commented on #1178
This issue is already resolved. VCH portlet now shows the Docker endpoint

[2016-07-19 20:14] #1178 closed

[2016-07-19 20:14] sflxn commented on #1364
Hey, how is this different from #1390?  It appears this sounds very similar and is nearly done.  You all can look in #1390 to see what values is now retrieved from the VCH and exposed to docker info.  If the data are the same, then we should just close this issue as a duplicate.

[2016-07-19 20:34] jzt commented on #1439
Most of the work on this is done, but there are two major issues left to be fixed:

1. There is a race condition that I am currently trying to track down wherein pulling an image with many layers results in a client-side `unexpected EOF`.

2. Docker handles multiple concurrent pulls of the same set of layers by sharing the progress update with each client. It keeps track of transfers currently in

[2016-07-19 20:35] jzt commented on #1509
@mdubya66 @hickeng should be doable.

[2016-07-19 20:51] emlin commented on #1452
@kjplatz Our approach is to keep the existing result there, instead of clean up anything we created for a failed operation.
I think there might have different issues happen during vch deployment, and lots of them are vSphere env related, for example, no enough permission in your case, network mis-configuration, network is unreachable, or wrong resource usage, etc.
Even after the appliance VM is su

[2016-07-19 21:01] hickeng commented on #1542
@cormachogan Does this work if you don't specify dns/ip?
Can you grab a the container log (<id>.debug in the containerVM directory) directly after recreating this - the container log bundle doesn't include it (and actually has errors about incorrect credentials). Are you able to collect a container log bundle that has container folders in it?

[2016-07-19 21:14] sflxn commented on #1364
PR #1572 takes care of #1390.  If this issue is different, then we can add the additional information on top of #1572.

[2016-07-19 21:31] jooskim commented on #528
This is now implemented. Closing the issue.

[2016-07-19 21:31] #528 closed

[2016-07-19 21:32] jooskim commented on #1418
Implemented.

[2016-07-19 21:32] #1418 closed

[2016-07-19 21:35] npakrasi commented on #867
Added to [Supported Docker Commands](https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_app_dev/container_operations.md)

[2016-07-19 23:18] corrieb commented on #1429
This is actually a dup of #1568. I have a log bundle and more info on that one, so let's close this in favor of that. I also reproduced that with the latest build.

[2016-07-19 23:18] #1429 closed

[2016-07-19 23:18] corrieb commented on #1568
same issue as #1429. Closed that one in favor of this one.

[2016-07-19 23:22] npakrasi commented on #932
Added the note to the [Supported Docker Commands](https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_app_dev/container_operations.md) table.

[2016-07-19 23:28] npakrasi commented on #1522
Added to [Supported Docker Commands](https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_app_dev/container_operations.md)

[2016-07-20 01:11] matthewavery commented on #1162
This may no longer be an issue. We have moved from using hostnames to more appropriate behavior.

[2016-07-20 01:24] sflxn opened #1578 "Improve docker run for quick ending containers by delaying attach"
When users use the CLI to call attach with individual operations, they usually use the following sequence:
1. docker create
2. docker start
3. docker attach

When users use the CLI to call docker run, the actual sequence occurs
1. docker create
2. docker attach
3. docker start

For quick ending containers, start will end quick but attach will continue to wait till it times out.  If we delay attach

[2016-07-20 01:30] matthewavery commented on #1503
This is already fixed @hickeng. `return fmt.Errorf("Capacity must be an integer value. The unit is MB: %s", convErr)` I believe it made it in with creat w/ volumes.

[2016-07-20 03:55] matthewavery commented on #1511
This should be resolved. I believe this was among the first of the volume calls to be implemented. I am now hand testing everything to make sure that it works. I will look at writing integration tests now since mike got Volume Create tests running.

[2016-07-20 05:36] corrieb commented on #1568
I can actually now consistently reproduce this on a nested vSAN cluster

[2016-07-20 05:41] corrieb commented on #1568
Interesting to note that when you try to stop these containers, you get "not found":

[code]

That would suggest that we also need to look at our error path here. Docker ps can clearly see them, but docker stop cannot.

[2016-07-20 06:36] stuclem commented on #1521
Looks like https://github.com/vmware/vic/issues/1511 is complete.

[2016-07-20 06:38] stuclem commented on #1543
https://github.com/vmware/vic/issues/1538 is implemented in https://github.com/vmware/vic/pull/1576.

[2016-07-20 06:48] corrieb commented on #1568
@mdubya66 I'd like to prioritize this if possible. It's interfering with the effectiveness of our testing and it could well impact any customer attempting to use this on VC

[2016-07-20 08:12] stuclem commented on #951
https://github.com/vmware/vic/issues/938 is implemented in PR https://github.com/vmware/vic/pull/1577.

[2016-07-20 08:16] stuclem commented on #924
See also https://github.com/jooskim/vic/commit/ea529ad9e78d79931adbabcfd2ed28fbdf620b18 and https://github.com/jooskim/vic/commit/43c59b0c91841bd646b537bbbfde625bc173109c

[2016-07-20 08:18] stuclem commented on #824
This is in PR https://github.com/vmware/vic/pull/1513

[2016-07-20 08:21] stuclem commented on #924
See PR https://github.com/vmware/vic/pull/1571 for implementation of vic-machine ui install and remove.

[2016-07-20 08:25] stuclem commented on #1525
OK, fair enough.

[2016-07-20 08:45] cormachogan commented on #1542
Repro'd on v0.4.0 @hickeng - logs attached from repro as requested.

Interesting debug snippet: _failed to apply network endpoint config: failed to add gateway route for endpoint con-nw: invalid argument_

[container-logs(1).tar.gz](https://github.com/vmware/vic/files/373194/container-logs.1.tar.gz)
[logs(3).tar.gz](https://github.com/vmware/vic/files/373195/logs.3.tar.gz)
[41a8d89ae1119c4330fffb9

[2016-07-20 08:56] cormachogan commented on #1542
Exactly the same error as before without a DNS entry on the cmd line @hickeng

_failed to apply network endpoint config: failed to add gateway route for endpoint con-nw: invalid argument_

So it is definitely a gw issue, not a DNS one. Will continue to try a few options to see if I can get it working.

[2016-07-20 09:02] cormachogan commented on #1542
OK - seems to be the CIDR of the gateway

192.168.100.0/16 works
192.168.100.0/24 does not work

[code]

This does leave DNS with an odd setting though:
/ # cat /etc/resolv.conf
nameserver 192.168.100.0

[2016-07-20 09:42] cormachogan opened #1579 "VCH backend engine does not start if container network specified"
**VIC Version:**

0.1 / master / build 2978

When creating VCH with container network specification, services do not start. This same command line worked with VIC v0.4.0. Also, if the container network specification is omitted, VCH launches with no issues.

[code]

**Expected behavior:**
VCH backend engines should start, or if there is a config issue report it during deployment

**Actual behavior:

[2016-07-20 10:54] cormachogan commented on #1442
This no longer appears to be an issue with build #2978. I can connect a network using the container short name. Therefore closing

[2016-07-20 10:54] #1442 closed

[2016-07-20 11:23] cormachogan opened #1581 "docker logs command is supported only for "json-file" and "journald" logging drivers (got: )"
**VIC Version:**

0.1 / master / #2978

Not sure if this is implemented, but could not find it as a known issue.

The docker "logs" command complains about being "supported only for "json-file" and "journald" logging drivers (got: )"

I tried it on a few container images (busybox, ubuntu):

[code]

**Expected behavior:**
If this is a limitation not yet implemented, we should at least doc it. I don

[2016-07-20 11:36] mhagen-vmware commented on #1581
#366 @cormachogan - this is being tracked in the feature.  It is not implemented at all just yet.

[2016-07-20 11:52] cormachogan commented on #1581
thank @mhagen-vmware

[2016-07-20 13:32] mhagen-vmware opened #1582 "cannot enable tty mode on non tty input"
Our integration tests are now failing on the link test.  It works locally when running robot directly, but I am able to reproduce when I run using drone locally, so it appears to be some sort of nested container/drone related issue.

[2016-07-20 13:42] mhagen-vmware commented on #1582
@caglar10ur :

https://github.com/docker/toolbox/issues/136

Removing -t seems to eliminate that issue, but now causes:
Error response from daemon: vSphere Integrated Containers does not implement container.ContainerWait

[2016-07-20 14:08] mhagen-vmware commented on #1582
This is now a dupe of: #384

[2016-07-20 14:22] #1405 closed

[2016-07-20 14:29] stuclem commented on #1261
Reviewed by @emlin via slack.

[2016-07-20 14:40] andrewtchin commented on #1007
looks good also ran it by emma 👍

[2016-07-20 14:44] stuclem commented on #1007
Great, thanks @andrewtchin and @emlin!

[2016-07-20 14:49] mdubya66 commented on #1578
@hickeng : please triage for prioritization

[2016-07-20 14:50] mdubya66 commented on #1579
assigning to @andrewtchin for evaluation

[2016-07-20 14:51] mdubya66 commented on #1581
going to close this but @stuclem and @npakrasi please look at documenting this limitation until #366 is implemented.

[2016-07-20 14:51] #1581 closed

[2016-07-20 14:54] stuclem commented on #1581
Added the note label to flag this in RNs.

[2016-07-20 14:55] mdubya66 commented on #1568
reprioritizing. @sflxn please get on this and see what we can get done for the onsite target.

[2016-07-20 15:17] mdubya66 commented on #1511
@matthewavery this is an Epic that seems to have two issues remaining, #1508 and #1510 It's not resolved until those are.

[2016-07-20 15:18] mdubya66 commented on #1162
@matthewavery since you opened it and if you can confirm it's no longer an issue, please close it.

[2016-07-20 15:33] mhagen-vmware commented on #1385
Fixed by #1549

[2016-07-20 15:33] #1385 closed

[2016-07-20 15:33] #1406 closed

[2016-07-20 15:33] #1498 closed

[2016-07-20 15:37] hmahmood commented on #1542
@cormachogan the dns is set to the gw if dns is not specified. Weird that /24 does not work.

[2016-07-20 15:38] mhagen-vmware opened #1584 "Make sure there is a test written for #1383"
#1383

[2016-07-20 15:39] cormachogan commented on #1542
@hmahmood - got it, but should it be allowed to set it to .0? I actually don't know why this needs a CIDR to be honest. I would think that this should just be an IP address.

[2016-07-20 15:42] hmahmood commented on #1542
The CIDR is used to figure out the ip range if it is not specified; the ip range is the full subnet in that case.

[2016-07-20 15:43] cormachogan commented on #1542
Sorry - i meant for the gateway. The gateway is looking for a CIDR, which is strange in my opinion. Makes perfect sense to use CIDR for IP range.

[2016-07-20 15:50] mhagen-vmware opened #1585 "make sure there is a test for #1389"
#1389

[2016-07-20 15:54] jooskim commented on #527
Done except for port mapping. Will include it after onsite beta

[2016-07-20 15:59] mhagen-vmware opened #1586 "Make sure there is an integration test for #1398"
using govc maybe, try and start/stop/delete containers then see what VIC does.

#1398

[2016-07-20 16:38] fdawg4l commented on #1511
@matthewavery Sort of.  VolumeDestroy on the vsphere side will return an error "TBD. Not supported yet".  FYI.  If you have the docker client -> docker server -> pl stuff done, then I'm ok closing this issue if we can create an issue to capture filling in the functionality on the vsphere side.

[2016-07-20 16:46] stuclem commented on #1258
For inclusion in a Limitations topics in the App Dev book.

[2016-07-20 16:56] corrieb commented on #1557
Just got the same problem installing to a vSAN cluster where, for some reason, uploading appliance.iso took a surprisingly long time:
[code]

[2016-07-20 17:00] emlin commented on #1557
@corrieb There is one timeout flag for vic-machine create. I ever ran to this issue as well.
The default value for timeout is 3 minutes, so in your case, you can increase the timeout to maybe 10 minutes, and it will succeed.

[2016-07-20 17:07] corrieb commented on #1557
I would like us to consider two things then: (1) is the default high enough? and (2) if we do time-out, we need a better user experience, replacing some of the "context deadline" stuff with "timeout" and a suggestion to use the "timeout" flag.

[2016-07-20 17:11] hickeng commented on #1579
critical error message is:
[code]
The content of the arguments to vic-machine needs to be validated, but otherwise this suggests that the container network data is no longer being persisted correctly by vic-machine or cannot be retrieved by the portlayer.

[2016-07-20 17:27] hickeng commented on #1579
@andrewtchin please also look into what we need to add to the integration tests to catch this - it's core function so we should have tests that at a minimum will try creating a VCH with fully specified container network args

[2016-07-20 17:37] emlin commented on #1557
Not sure about customer's env, normal network bandwidth. But in our office env, I never met timeout. We might collect customer feedback on that.

[2016-07-20 17:37] emlin commented on #1557
make sense

[2016-07-20 17:40] emlin commented on #787
Currently, the ContainerNameConvention is not set by vic-machine yet. Do we need to add flag for that? And what is supposed to be set there?

[2016-07-20 17:40] emlin commented on #787
Per @mdubya66 , this is not a high priority issue for OnSite. Will hold on additional decision.

[2016-07-20 17:50] caglar10ur commented on #1244
As far as I see it's not becoming a zombie, it's just not starting another one until a request comes. That lay initialization part must be coming from go-swagger part cause I just tried it with a DNS disabled port-layer and had the same effect.

I'm keen to close this as I'm not seeing a zombie process, it's just old one is waiting a request to come to start new one. @hickeng?

[2016-07-20 19:00] Simon321vmware commented on #1535
@fdawg4l Hello, Provided Datastore name only (so no path  with '\' like with the resources) and it worked out.

[2016-07-20 19:03] Simon321vmware commented on #1470
@stuclem Does the Static IP for Appliance mean literally the VCH ? ;)

I have been recently trying to find a method to provide VCH with static IP, but I was unfortunate to find that so far only DHCP is working :(

[2016-07-20 19:11] #513 closed

[2016-07-20 20:23] jooskim opened #1590 "Investigate NGC automation test environment"
This will provide the UI team with a way to automatically test VIC UI plugin on the vSphere Web Client. At this point we have only two portlets and not so much user interaction is involved. However, as we have more elements implemented the automated testing capability will come handy. This is rather a big topic so we may need to reach out to the team that created this test framework for help.

Ref

[2016-07-20 20:34] hmahmood commented on #1542
Apparently the .0 address cannot be used for gateway. I tried using 192.168.100.1/24 and it worked:

[code]

[2016-07-20 21:04] emlin commented on #1452
tried to install VCH failed, and then run vic-machine delete, everything is removed clearly. So close bug as work by design.

[2016-07-20 21:05] #1452 closed

[2016-07-20 21:05] #1547 closed

[2016-07-20 21:34] sflxn commented on #1578
Since @hickeng is sick, I'll mentioned he said he wanted this of onsite during our meeting on Monday.  I looked for a pre-existing issue and created this new one when I didn't find one.

[2016-07-20 21:51] #1336 closed

[2016-07-20 22:33] jzt opened #1593 "No output when interactively running a container command"
**Expected behavior:**
[code]
**Actual behavior:**
[code]

[2016-07-20 22:34] jzt commented on #1593
Inspection of the container vm log on the ESX shows that the command did run.

[2016-07-20 23:10] jzt opened #1594 "Container config ENV being overwritten by container command"
**Expected behavior:**
[code]

**Actual behavior:**
[code]

You can see that the `PATH` in `Env` gets overwritten by the command `/bin/date`.

This seems to be an issue with create:

[code]

[2016-07-20 23:20] hickeng commented on #1578
I don't think we'll be able to get this in for onsite given we're going with a build tomorrow, but I'll still work on it as time allows.
My approach is very simple for now conceptually:
1. in the personality, check if there's an active attach for the container about to be started. This likely requires the addition of a map to record active attach connections in the personality side.
2. when starti

[2016-07-20 23:41] mdubya66 commented on #1594
Approved for onsite

[2016-07-21 00:39] npakrasi commented on #826
Adding to the Limitations topic.

[2016-07-21 00:40] npakrasi commented on #1258
Adding to the Limitations topic.

[2016-07-21 03:49] #1390 closed

[2016-07-21 05:10] corrieb opened #1595 "Session cannot resolve to multiple hosts for "/ha-datacenter/host/*/*""
There are multiple places in the unit tests where we don't successfully resolve multiple hosts in the case where they exist. See comment I added to session_test.go for #1461

[code]
This also impacts vm_test.go. When run against a system with multiple hosts, it fails in vsphere/test/test.go line 46

[code]
The test is clearly intended to pick a random host, but it never gets there.

[code]

It's n

[2016-07-21 05:25] corrieb opened #1597 "specify --bridge-network and --external-network in integration tests for vSAN"
For the vSAN tests, the --external-network needs to be specified and it needs to be different to --bridge-network. In order to make the tests work, tests/resource/Util.robot vic-machine create commands need to be manually hacked.

I would suggest that we specify the network names in the secrets file like the datastore etc.

[2016-07-21 05:26] corrieb commented on #1597
@mhagen-vmware assigning to you as you'll know the best way to do this

[2016-07-21 08:14] cormachogan commented on #1542
OK - good to know @hmahmood , but why do we even need to specify the CIDR for a gateway? I don't think I've ever seen a CIDR requested when populating a gateway field for any product.

[2016-07-21 08:43] stuclem opened #1598 "Document the VCH info returned by Docker info"
Probably just a nice to have, but it might be worth listing the VCH details that docker info now returns, per https://github.com/vmware/vic/issues/1390 and PR https://github.com/vmware/vic/pull/1572.

[2016-07-21 08:49] stuclem opened #1599 "Document vic-machine option to specify bridge network range"
Implemented in PR https://github.com/vmware/vic/pull/1589. Can't find an associated dev issue.

[2016-07-21 08:56] stuclem commented on #1470
Hi @Simon321vmware yes, that means static IPs for the VCH.

My understand at present is that only DHCP is supported, and that static IP will be in place for GA. @hmahmood, can you please confirm?

[2016-07-21 13:36] stuclem commented on #1559
Added the following in the topic on vic-machine create options:

- vSphere Integrated Containers supports hyphens and underscores in datastore paths.
- vSphere Integrated Containers does not support hyphens and underscores in datastore names.

@gigawhitlocks is this OK?

[2016-07-21 15:08] mdubya66 commented on #1470
we plan to include #1184 for the GA

[2016-07-21 15:12] stuclem opened #1602 "container-network-gateway/dns/ip-range allow either DPG name or network name"
As discussed with @emlin, currently, when you specify `--container-network-gateway/dns/ip-range`, `vic-machine create` allows you to specify either the distributed port group name or the descriptive network name that you specify in `--container-network`. If you use the descriptive network name, deployment succeeds and containers appear to be using the correct network, but creating a container that

[2016-07-21 15:20] #871 closed

[2016-07-21 15:21] stuclem commented on #841
Added new topic that describes the vic-machine inspect options:

https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/inspect_vch.md
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/inspect_vch_options.md

@emlin are these two topics OK? Thanks!

[2016-07-21 15:23] stuclem commented on #828
Added new topic that describes the vic-machine inspect options:

https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/remove_vch.md
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/delete_vch_options.md

@emlin are these two topics OK? Thanks!

[2016-07-21 15:26] stuclem commented on #828
Actually, I missed two options: force and timeout. @emlin please wait before reviewing.

[2016-07-21 15:34] hmahmood commented on #1542
The CIDR notation is there to reduce the number of command line arguments. With this notation you can specify both the gateway and pool in one argument. I am not against changing it; can you please open an issue for it? Thanks.

[2016-07-21 15:34] jooskim commented on #527
This issue is closed as the initial container VM portlet is now in place. To be referenced with #854 later for displaying port mapping information.

[2016-07-21 15:34] #527 closed

[2016-07-21 15:41] stuclem commented on #828
Have now added force and timeout to https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/delete_vch_options.md

[2016-07-21 15:44] stuclem commented on #1416
Added detail about volume stores in the description of vic-machine delete --force here:
https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/delete_vch_options.md#force

We probably need a dedicated topic on how VIC handles volume stores too, but this will do for now.

@gigawhitlocks is this OK?

[2016-07-21 15:48] cgtexmex opened #1603 "Container shouldn't be added to PL cache until committed"
The container creation process is a multi-step / call process between the docker persona and the PortLayer.  During the initial call of this process a container is added to the PL container cache prior to it being created in the infrastructure.  If the creation process fails on a later step the container will be orphaned in the cache.

A container should only be added to the cache when the creatio

[2016-07-21 16:11] cormachogan commented on #1542
Then this may only need documenting. Let me do some more testing. I'm offline now until tomorrow AM, so will look there.

[2016-07-21 17:08] jzt commented on #1594
I have a fix for this, it will come in my next PR that addresses #1509.

[2016-07-21 17:15] andrewtchin commented on #1579
i pulled hasan's branch and verified this is resolved
[code]

[2016-07-21 17:55] #917 closed

[2016-07-21 18:48] #1529 closed

[2016-07-21 18:48] #1542 closed

[2016-07-21 18:48] #1579 closed

[2016-07-21 20:05] #1603 closed

[2016-07-21 20:31] fdawg4l commented on #872
Hi @stuclem!  So we have a bit of a mismatch.  #549 and #1017 are specific to VSAN UUIDs which are not the same as Managed Object References used by VC to identify things like datastores, VMs, disks, etc.  Those Managed Object References are unique identifiers for all objects in vsphere.  The VSAN change I made is specific to VSAN and used to guard against eventual consistency of datastore directo

[2016-07-21 20:33] sflxn commented on #1540
Where should 'default' come from?  Just a constant or is that saved in guestinfo?

[2016-07-21 20:48] fdawg4l commented on #1540
@sflxn "default" needs to be a specified volumestore label when the VCH is created otherwise you can't use anonymous volumes.  @matthewavery has more details, but i believe you're suppose to get an info message when you create a vch without one.

[2016-07-21 20:56] fdawg4l commented on #1540
@hickeng  Re- "not showing the datastore + path" (paraphrased)

Why?  There's an operational burden now on the docker (client) user now having to seek out the person who installed the VCH to map the store name to the datastore + path when requiring help.  Right?

[2016-07-21 20:56] npakrasi commented on #837
Added container logs command in the [Supported Docker Commands](https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_app_dev/container_operations.md) table.

[2016-07-21 21:00] cgtexmex commented on #1546
I have a change I'm waiting to push -- have a couple other changes in front of it.  This change will provide a "Created" status.  It will use the existing ps functionality (going to the infrastructure and not cache), so will require some minor refactoring in the future..

I think we need a separate issue to identify the overall state needs for the PL, etc..

[2016-07-21 21:14] #1538 closed

[2016-07-21 21:23] emlin commented on #841
This looks good.
Just one minor question. We know that the options used in vic-machine delete and inspect, is same with vic-machine create. Suppose that will make customer's life easier.
Do we need to explicitly mention that in the document?

[2016-07-21 21:58] jzt opened #1612 "Backend volume tests are hosed"
[code]

They aren't being caught by CI because the backend tests aren't running in CI. See #1613.

[2016-07-21 21:59] jzt opened #1613 "Backend unit tests aren't being run"
Backend unit tests aren't being run in CI.

[code]

This was discovered when running backend tests locally:  See #1612.

[2016-07-21 22:06] sflxn opened #1614 "vic-machine displays incorrect message for missing volume store label"
When I call vic-machine with --volume-store with the following format,

--volume-store=datastore1/testvolume

I get the following message:

[code]

In reality, the format for --volume-store is datastore-path:label.

[2016-07-21 22:12] sflxn commented on #1568
This isn't actually a bug.  Our current attach will timeout if the portlayer takes longer than 30s to attach.  @hickeng mentioned that if a container fails to startup within a certain amount of time, it gets shutdown, and that time is about 30s.  Unless I misunderstood what George said, this appears to be correct behavior.  Maybe 30s isn't the correct timeout.  If it's just a matter of adjusting t

[2016-07-21 22:15] #1334 closed

[2016-07-21 22:15] corrieb commented on #1568
I don't know I'm ready to conclude that it's simply a timeout issue. Are we certain that there isn't an ordering problem with the handshake or anything like that? Way to test the hypothesis is to increase the timeout and see if the problem goes away. Where is that timeout set?

[2016-07-21 22:36] sflxn commented on #1568
The timeout is set in the docker personality code and given to the portlayer server as a deadline (not timeout).

I took a look at the logs again, you can see above the tether failed to connect (did not receive synack) and there is an EOF.  I could be mistaken, but the times I have seen those, there won't be a connection.  That is how I am interpreting the logs.

[2016-07-21 22:38] corrieb commented on #1568
OK, so the way to prove this is to increase the timeout and re-run. Please show me the line of code I need to change and I can re-run on the system I know is consistently failing

[2016-07-21 23:21] npakrasi commented on #1524
Added to the docker info row in the [Supported Docker Commands] (https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_app_dev/container_operations.md) table.

[2016-07-21 23:23] npakrasi commented on #954
Docker kill and workaround in [Supported Docker Commands](https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_app_dev/container_operations.md) table.

[2016-07-22 00:40] #1509 closed

[2016-07-22 00:40] #1594 closed

[2016-07-22 01:00] jzt opened #1618 "Don't overwrite TERM if user supplies it from the cli"
We are currently overwriting `TERM` to be `xterm` when a container is created with the `-t` flag, even if `-e "TERM=<some other value>"` is used.

The user-supplied TERM value should take precedence over any other.

**Expected behavior:**
[code]

**Actual behavior:**
[code]

[2016-07-22 01:44] #1319 closed

[2016-07-22 01:59] #1540 closed

[2016-07-22 03:22] #407 closed

[2016-07-22 03:41] corrieb commented on #1568
Successfully increased the port layer timeout and it did show a successful handshake after 33 seconds. That would support the theory that the 30s timeout is not enough in this particularly slow config. However, the personality didn't wait longer than 30s for the port layer, so it still got a "context expired" message, despite the success a few seconds later. Need to investigate why that is. We can

[2016-07-22 07:02] corrieb opened #1623 "vic-machine delete fails with "cannot delete file" for vSAN image store"
Very simple to reproduce. Just create a VCH, pull an image and delete the VCH.

[code]

[2016-07-22 07:03] corrieb commented on #1623
We need to fix this for onsite. We're going to expect our customers to install to a vSAN cluster

[2016-07-22 07:14] corrieb commented on #1623
Worth nothing that you can't actually delete /VIC as an administrator within the VC client.

[2016-07-22 07:39] corrieb opened #1624 "Docker rm fails on vSAN with "no such container""
[code]

[2016-07-22 07:41] corrieb commented on #1624
I'm not yet sure whether it was a combination of things or what, but this really doesn't work

[2016-07-22 07:46] corrieb commented on #1568
It's clear that we need to increase the timeouts here. Whatever cruddy performance we have is being exacerbated by the nesting. If we were to ever scale this to multiple container starts, it's going to be worse still.

[2016-07-22 08:08] stuclem commented on #1264
SSH is reenabled in PR https://github.com/vmware/vic/pull/1622.

[2016-07-22 08:13] stuclem commented on #1598
We should also doc that docker info does not reveal datastore paths, which might include sensitive vSphere information, per https://github.com/vmware/vic/issues/1540.

[2016-07-22 09:16] stuclem commented on #841
You mean just doc them once for create and then cross-reference from delete and inspect? I prefer to list all of the options for each command, even if that leads to repetition.

[2016-07-22 09:17] stuclem commented on #1543
PR https://github.com/vmware/vic/pull/1576 is merged

[2016-07-22 09:21] stuclem commented on #1522
https://github.com/vmware/vic/issues/917 is fixed in PR https://github.com/vmware/vic/pull/1601 (merged).

[2016-07-22 09:23] stuclem commented on #1598
PR https://github.com/vmware/vic/pull/1572 is merged.

[2016-07-22 09:32] stuclem commented on #872
Thanks @fdawg4l - so, should I just remove that NOTE and mothball for future reinclusion, once MOR reference caching is implemented?

[2016-07-22 09:44] stuclem commented on #1416
Reviewed by @gigawhitlocks via Slack.

[2016-07-22 09:45] stuclem commented on #1559
Reviewed by @gigawhitlocks via Slack.

[2016-07-22 09:52] stuclem commented on #826
I think that this is purely app dev stuff, so removed from the Admin Epic.

[2016-07-22 13:15] hickeng commented on #1540
@fdawg4l the operational burden falls to the person who deployed the VCH to map the volume store name to the datastore, not to the user; the manner by which this is accomplished is part of what we want to assess in the onsite.
As for why - we had the datastore path and VC path in the docker info for bonneville and had explicit requests from customers to remove it because it leaked internal data ab

[2016-07-22 13:20] carsonpadawon opened #1625 "Insecure private registry"
Using VIC v.0.4.0 / build 2868

I am trying to pull images from a private registry.  The registry is on a separate PhotonOS linux box, setup as a
[logs.tar.gz](https://github.com/vmware/vic/files/378241/logs.tar.gz)
 insecure registry using v2 (registry:2).

I have created a VCH using the following command

 ./vic-machine-linux create -t vcsa-01a.corp.local -u administrator -p VMware1! -r VIC -i d

[2016-07-22 13:48] hickeng opened #1626 "container-logs does not have container logs"
This is a followup issue from #1542

In that issue the container-logs.tar.gz bundles supplied by @cormachogan do **not** have the container debug logs that would be critical for diagnosing this. There is an error in the vicadmin log:
[code]

This needs to be looked into ASAP as collection of container logs is crucial to our ability to diagnose problems.

[2016-07-22 13:51] hickeng commented on #1626
@kjplatz assigned to you for assessment. Please confirm whether or not you get container logs in our VC environments.

If not then please look at this as a matter of urgency, otherwise please work with @cormachogan to figure out why we're seeing this in only his environment.

[2016-07-22 14:17] emlin commented on #841
no, I mean we might mention that the parameter of compute-resource and name is exactly same with the value used in vic-machine create

[2016-07-22 14:27] mdubya66 commented on #1624
seems to work on my setup which is fusion running ESX. I did see the timeout issue though.
(mwilliamson) dubs:~/Downloads/vic $ docker --tls pull busybox
Using default tag: latest
latest: Pulling from library/busybox
a3ed95caeb02: Pull complete
8ddc19f16526: Pull complete
Digest: sha256:65ce39ce3eb0997074a460adfb568d0b9f0f6a4392d97b6035630c9d7bf92402
Status: Downloaded newer image for library/busy

[2016-07-22 14:28] emlin commented on #1623
Now vic-machine does not remove /VIC directory, cause that one is shared by all VCHs. If we try to delete it, it will have concurrent access issue.
Do you think this issue is related to this directory?
btw, this is one random issue. Looks like sometimes, vsan will reject the file delete request, but most of time, it does not.

[2016-07-22 14:33] emlin commented on #1623
Will change to recursively delete on vSAN, to clean up directory before remove it.

[2016-07-22 15:19] mdubya66 commented on #1624
Stopper for Onsite. @matthewavery is investigating

[2016-07-22 15:19] mdubya66 commented on #1623
Marking as stopper for Onsite. @emlin is investigating

[2016-07-22 15:23] stuclem commented on #924
Added topics on the current methods for deploying the VIC plugin:
- https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/install_vic_plugin.md
- https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/plugin_vc_web.md
- https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/plugin_vc_sftp.md
- https://github.com/stuclem/vic/blob/master/doc/use

[2016-07-22 15:26] stuclem commented on #841
Oh, I see. Yes, worth mentioning!

[2016-07-22 15:31] stuclem opened #1628 "Document the default PATH when not specified in image"
Per https://github.com/vmware/vic/issues/1509, https://github.com/vmware/vic/issues/1594 and PR https://github.com/vmware/vic/pull/1608

Info from Zach via Slack:

basically we are following the docker convention of adding a default PATH when someone builds a container image without one. vmware/photon is a good example - the dockerfile is very very minimal and doesn't include a path

the dockerfil

[2016-07-22 15:36] hickeng commented on #1568
@corrieb A 30s boot time is completely unacceptable in a non nested environment -- it's bad even in nested.

From the vmware.log for da3813e3 we can see that an alarming amount of time was taken in the following log fragment, however there's more below.:
[code]

From portlayer log we can that the container was powered off (final entires in log fragment above) well before we hit the 30s timeout (wh

[2016-07-22 15:57] hmahmood commented on #820
This really does not have much doc impact, other than to simply add support for DHCP in containers. @stuclem: you have already documented this some with the --container-network options documentation. I think somewhere we also need to say that containers can be put on a network that has DHCP, and that they will acquire and maintain DHCP addresses.

[2016-07-22 15:59] #938 closed

[2016-07-22 16:19] mhagen-vmware commented on #1568
I was able to reproduce this on a simple nested ESX system.
[VCH-0-4899-container-logs.tar.gz](https://github.com/vmware/vic/files/378643/VCH-0-4899-container-logs.tar.gz)

[2016-07-22 16:27] hickeng commented on #1568
There are two issues here:
1. Why are we unable to apply the gateway route?
2. Why does this not present as a start error - we're waiting for a value to be written into the session start, but we're not also waiting on a value being written that reports a failure to start the tether. This could well be a major factor in our test stability.

[2016-07-22 16:32] corrieb commented on #1568
@hickeng a 30s boot time for a single container *is* unacceptable, I agree. But for 10, 50 containers? I can easily see scenarios where the 30s timeout will be grossly inadequate

[2016-07-22 16:35] hickeng opened #1629 "Detect failure to configure containerVM as start error."
From https://github.com/vmware/vic/issues/1568

During VM start in the port layer we wait for a key to present in extraconfig. We also need to wait on VM power state changes.

Suggest either:
a. adding a boolean to WaitForKeyInExtraConfig that controls whether we abort the wait if the VM powers off (don't know, but it's probable that power off will cause a property change)
b. wait separately on po

[2016-07-22 16:42] hmahmood commented on #1568
"network is unreachable" usually is because there is no interface with an IP address on the network. However, the container logs indicate that an IP address was successfully assigned before the attempting to set the default route.

[2016-07-22 16:45] corrieb commented on #1568
More people seems to be seeing this issue, it would seem. Matt posted he saw it in #1624 on nested ESX

[2016-07-22 16:48] corrieb commented on #1624
This is me being tired. Notice in the output above, I'm using the docker on my host linux to try to delete images on a remote system. Stand down everyone. Sorry

[2016-07-22 16:48] #1624 closed

[2016-07-22 17:06] caglar10ur commented on #1625
that's expected @carsonpadawon as we added the required flag after the 0.4.0 tag, can you try a recent build? I tried exactly doing that 2 days ago and as far as I see everything works fine on our end

[2016-07-22 17:10] #1584 closed

[2016-07-22 17:10] #1585 closed

[2016-07-22 17:10] #1586 closed

[2016-07-22 17:32] npakrasi commented on #1528
Added to docker rm command in [Supported Docker Commands] (https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_app_dev/container_operations.md) table.

[2016-07-22 17:41] npakrasi commented on #820
Added to the Container Operations and Limitations topic.

[2016-07-22 18:05] #1244 closed

[2016-07-22 18:41] corrieb commented on #1623
Emma, removing /VIC is not necessarily the answer. I don't have a problem with us leaving it there, provided that the resources allocated into it by a VCH are cleaned up. I think you're correct that for some reason we're being prevented from deleting the image. We really need to understand what it is that we've done that's preventing the deletion

[2016-07-22 19:00] emlin commented on #1623
@corrieb I changed to delete files first, and then delete directory.
It usually work in my env, to delete the parent directory directly, even it is vSAN, but looks like suddently it stops working, and then nothing can be removed if the directory is not empty.
I don't know vSAN details, but clean up files is one working solution for it, so I move to that way.

[2016-07-22 20:27] fdawg4l commented on #1623
@emlin I noticed the same on vsan-  the volume and image unit tests clean up by removing all files first before removing the directory.  Weirdly, sometimes that step isn't necessary.  But removing all files first, then deleting the directory seems to work for me.

[2016-07-22 22:47] sflxn commented on #854
I was mistaken.  It is not free.  This is now done.  When container inspect was first started, I thought we needed to get this information in the port layer.  After @hmahmood implemented port mapping, we had a discussion about how the mapping metadata was used, and I also looked at the docker code for inspect again.  We don't really need to get any of this data from the portlayer at all.

[2016-07-23 13:03] mdubya66 commented on #858
GA feature from SSOD

[2016-07-23 13:04] mdubya66 commented on #890
GA feature from SSOD

[2016-07-23 13:04] mdubya66 commented on #431
GA feature from SSOD. Needs verification.

[2016-07-23 13:05] mdubya66 commented on #916
GA feature from SSOD

[2016-07-23 13:05] mdubya66 commented on #855
GA feature from SSOD. Adding mhagen.

[2016-07-23 13:06] mdubya66 commented on #378
GA feature from SSOD

[2016-07-23 13:07] mdubya66 commented on #692
GA feature from SSOD. @hickeng assigned in SSOD.

[2016-07-23 13:08] mdubya66 commented on #437
GA feature from SSOD

[2016-07-23 13:08] mdubya66 commented on #1101
GA feature from SSOD

[2016-07-23 13:10] mdubya66 commented on #854
GA feature from SSOD. needs to be tested.

[2016-07-23 13:11] mdubya66 commented on #433
GA feature from SSOD

[2016-07-23 13:11] mdubya66 commented on #810
GA feature from SSOD

[2016-07-23 13:12] mdubya66 commented on #701
GA feature from SSOD

[2016-07-23 13:12] mdubya66 commented on #905
GA feature from SSOD

[2016-07-23 13:13] mdubya66 commented on #906
GA feature from SSOD

[2016-07-24 20:59] #1623 closed

[2016-07-25 04:59] hickeng opened #1638 "tag of images pulled from private repo do not have repo prefix"
Having pulled the voting app from a local registry it cannot then be run. We appear to lose the registry prefix from the tag.

[code]

[2016-07-25 05:00] hickeng commented on #1638
@cgtexmex @jzt could you guys take a look at this please?

[2016-07-25 05:57] hickeng opened #1640 "portlayer error code for "already deleted or not completely created" and personality handling"
I was compelled to delete some container VMs directly due to out-of-disk issues - this resulted in an inconsistent state between VC, portlayer and personality.

[code]

As can be seen I tried several times to see if repeated invocation would result in different behaviour, but it does not.

The port layer is reporting:
[code]

and personality:
[code]

In this case the port-layer should return _410

[2016-07-25 06:22] hickeng opened #1641 "incorrect help in volumestore error message"
The error message for volume store parsing has the label and dspath swapped in order
[code]

Should be:
[code]

[2016-07-25 06:48] hickeng opened #1642 "generate /etc/mtab in container"
Currently we do not construct /etc/mtab in the container so the df command does not function:
VIC:
[code]

docker:
[code]

[2016-07-25 07:24] hickeng opened #1643 "unable to run postgres:9.4"
For some reason we're missing `/run/postgresql`

A quick hunt suggests that 60a4daae58264b9e52dbadafdc809e2d27a899fc2a5840f67a610cdbcf234289 is the ID in which this directory can be found, however it doesn't exist in our containers.

My hypothesis on the basis of a quick inspection is that the systemctl switch-root that we're using to move into the container filesystem is purging /run (or /var/run

[2016-07-25 07:25] hickeng commented on #1643
@caglar10ur assigned this to you for validation of hypothesis as we've previously discussed how to drop systemd from the bootstrap image.

[2016-07-25 08:03] hickeng opened #1644 "/etc/hosts should be 644 in container images"
The generated /etc/hosts file in the container image should be created with mode 644 so that applications such as postgres that launch as non-root users can resolve hostnames correctly.

[2016-07-25 08:18] stuclem commented on #924
Reviewed by @jooskim via Slack.

[2016-07-25 08:22] stuclem commented on #824
Given the minimal amount of info in the client at the beta milestone (which is mentioned in https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/install_vic_plugin.md) moving this to GA, for the more complete implementation in the client.

[2016-07-25 08:30] hickeng opened #1645 "fails to delete container with run --rm"
There is a timing hole when deleting containers via `run --rm`. The rm occurs as soon as the connection drops in this scenario. Because the shutdown is initiated from within the container and there's an actual OS shutdown, the VM may not have finished powering off by the time the rm is dispatched.

Recreate
[code]
port layer
[code]

This may need some logic to allow for a delayed retry in this sce

[2016-07-25 08:41] hickeng opened #1646 "ports are not being released correctly on stop or rm"
It appears that ports are not always being released when the container stops, or when it is then deleted.

[code]

[2016-07-25 09:16] stuclem commented on #926
https://github.com/vmware/vic/issues/925 has moved to GA

[2016-07-25 09:24] stuclem commented on #1544
Added the following in the topic on `vic-machine` create options:

Deploy the virtual container host to a resource pool rather than to a vApp. If you specify this option, `vic-machine create` creates a resource pool with the same name as the virtual container host.

@emlin, why exactly would a user want to do this? Thanks!

[2016-07-25 09:26] stuclem commented on #1599
Looks like  PR #1589 wasn't merged in time for onsite beta.

[2016-07-25 09:42] cormachogan opened #1647 "Cosmetic - nicer error when all hosts not connected to DVS"
**VIC Version:**

0.1 / master / 3190

This is simply a request to see if we could make a nicer error/warning when some of the hosts in the cluster are not attached to the DVS, and thus do not have access to the bridge network (this is a deployment to a vCenter obviously)

Here is the error:

[code]

**Expected behavior:**

Could we product a more human readable error? Even though all the informat

[2016-07-25 09:55] stuclem commented on #841
Added the following to the topics on delete and inspect:

- Specify `--name` with exactly the same value that you used when you ran `vic-machine create`.
- Specify `--compute-resource` with exactly the same value that you used when you ran `vic-machine create`.

[2016-07-25 09:57] cormachogan opened #1648 "Failed deployment due to hosts not attached to DVS leaves vApp hanging around"
**VIC Version:**

0.1 / master / 3190

When deploying a VIC to an VC but not all the hosts are connected to the DVS, the vApp is created but is not cleaned up. This means that future deployments won't work with the same name because  the vApp exists.

![empty vapp](https://cloud.githubusercontent.com/assets/18258500/17097616/6b6db900-5256-11e6-9060-518b86d2e6b7.png)

[code]

**Expected behavior:**

[2016-07-25 10:09] stuclem commented on #1531
We now have sub-diagrams and descriptions of the different networks, but I would like to expand this for GA.

[2016-07-25 10:33] stuclem commented on #1543
Added the following to the topic on `vic-machine create` options:

### `pool-memory-reservation` ###

Reserve a quantity of memory for use by the vApp or resource pool that contains the virtual container host. Specify the memory reservation value in MB. If not specified, `vic-machine create` sets the reservation to 0 (unlimited).

<pre>--pool-memory-reservation 1024</pre>

### `pool-memory-limit`

[2016-07-25 10:34] stuclem commented on #1530
https://github.com/vmware/vic/issues/1372 is for GA.

[2016-07-25 10:36] stuclem commented on #1355
Some progress made here, but moving this to GA for further work.

[2016-07-25 10:38] stuclem commented on #848
https://github.com/vmware/vic/issues/787 has moved to GA.

[2016-07-25 10:39] stuclem commented on #1523
https://github.com/vmware/vic/issues/1507 has moved to GA.

[2016-07-25 10:39] stuclem commented on #1471
https://github.com/vmware/vic/issues/1183 has moved to GA

[2016-07-25 11:07] cormachogan opened #1649 "imageMetadata/metaData was not found when removing VIC using VSAN datastore"
**VIC Version:**

0.1 / master / 3190

I was able to successfully deploy VIC using a vsanDatastore.
However on removal, I got the  errors shown below.
On checking the datastore afterwards, the VIC folder persists but is completely empty.

[code]

**Expected behavior:**
That the removal operation completes without errors.

**Actual behavior:**
As above.

[2016-07-25 11:13] stuclem commented on #837
https://github.com/vmware/vic/issues/433  is actually for GA.

[2016-07-25 11:15] stuclem commented on #954
https://github.com/vmware/vic/issues/378 is actually in GA.

[2016-07-25 11:40] #1502 closed

[2016-07-25 11:40] #825 closed

[2016-07-25 11:40] #1261 closed

[2016-07-25 11:40] #1007 closed

[2016-07-25 11:40] #841 closed

[2016-07-25 11:41] #828 closed

[2016-07-25 11:41] #1416 closed

[2016-07-25 11:41] #1559 closed

[2016-07-25 13:06] cormachogan opened #1651 "Cosmetic - control chars related to volumes when VCH removed"
**VIC Version:**

0.1 / master / 3190

Cosmetic issue - some control chars are displayed when VCH is removed, and a volume has been defined, but force option has not been used:

[code]

**Expected behavior:**
Not control chars - remove them from output

**Actual behavior:**
As above

[2016-07-25 13:15] stuclem commented on #926
Implementation is in https://github.com/vmware/vic/pull/1631

[2016-07-25 13:24] cormachogan opened #1652 "docker volume doesn't handle datastores with special chars"
**VIC Version:**

0.1 / master / 3190

I know there was an issue with this before, but I thought it was fixed, so I am opening this as a possible regression. Apologies if this is still open and I missed it.

Below is an attempt to create a volume store, and subsequently a volume. With the NFS datastore (isilion-nfs-01), I have issues creating the volume and also images removing the volume store.
W

[2016-07-25 13:28] cormachogan commented on #1652
[container-logs.tar.gz](https://github.com/vmware/vic/files/381584/container-logs.tar.gz)
[logs.tar.gz](https://github.com/vmware/vic/files/381585/logs.tar.gz)

[2016-07-25 13:35] stuclem commented on #1521
Actually, this is for GA.

[2016-07-25 13:41] stuclem commented on #882
This is now out of the icebox and is back in GA

[2016-07-25 14:04] mhagen-vmware commented on #999
Unable to reproduce this anymore

[2016-07-25 14:04] #999 closed

[2016-07-25 14:30] emlin commented on #828
@stuclem this looks good.

[2016-07-25 14:31] emlin commented on #841
this looks good

[2016-07-25 14:32] stuclem commented on #828
Thanks!

[2016-07-25 14:32] stuclem commented on #841
Thanks!

[2016-07-25 14:37] emlin commented on #1543
Yeah, I didn't get confirmation to remove them. While those are removed, the above parameters might be renamed as well.
btw, by default, the memory and cpu reservation are all 1, instead of 0, because govmomi does not allow 0 value right now.
and if share is not set, the value will be "normal".

everything else looks good.

[2016-07-25 14:39] emlin commented on #1544
@stuclem as @hickeng mentioned, this is a temporary option, so we can collect user feedback, for if they really want VirtualApp represent VCH.
So I assume we don't need to document this option, or maybe just doc for OnSite.

[2016-07-25 14:42] emlin commented on #1623
@fdawg4l yeah, that's why initially I didn't remove files first before directory. But this approach is more robust.

[2016-07-25 14:44] stuclem commented on #1543
Fixed. Thanks!

[2016-07-25 14:44] #1543 closed

[2016-07-25 14:55] mdubya66 commented on #384
See also #1329. Assigning to @cgtexmex and @corrieb per @hickeng. Pulling this into GA as it is a limiting factor in our ability to test appropriately.

[2016-07-25 14:58] kjplatz commented on #1626
Attempting to replicate the configuration using https://bintray.com/vmware/vic-repo/build/3164 -- when I specify the container-network-gateway of 192.168.100.0/24, this is now disallowed in the current build with the error:

ERRO[2016-07-25T09:51:51-05:00] Gateway 192.168.100.0 is not a routable address

Will continue attempting to replicate.

[2016-07-25 15:48] mdubya66 commented on #1652
Emma, Please review and re-assign appropriately.

[2016-07-25 15:49] mdubya66 commented on #1613
@jzt see what you can do with fixing this or assign to someone who can.

[2016-07-25 15:50] mdubya66 commented on #1640
@hmahmood please triage

[2016-07-25 15:51] #1618 closed

[2016-07-25 15:52] mdubya66 commented on #1642
@anchal-agrawal give this one a go

[2016-07-25 15:53] hmahmood opened #1653 "Tether DHCP client is deficient"
Several issues need to be fixed:
- the DHCP client state machine is not implemented, see http://www.tcpipguide.com/free/t_DHCPGeneralOperationandClientFiniteStateMachine.htm
- handling of what parameters to request from the server: which parameters to request based on config
- use an external library for the dhcp client: we really should not be writing our own dhcp client. The code in place right

[2016-07-25 15:53] mdubya66 commented on #1644
assigning to @anchal-agrawal for initial evaluation

[2016-07-25 15:53] hmahmood opened #1654 "Implement DHCP client state machine"
Per http://www.tcpipguide.com/free/t_DHCPGeneralOperationandClientFiniteStateMachine.htm

[2016-07-25 15:53] hmahmood opened #1655 "Use external dhcp library to implement client"
DHCP has several corner cases that we cannot possibly account for in our code in the time we have. Existing libraries/clients may be considerably more seasoned, and so we should consider using them. One possibility: systemd's DHCP client code. It is available here: https://github.com/systemd/systemd/blob/master/src/systemd/sd-dhcp-client.h . However, this is not available as a separate (shared) li

[2016-07-25 15:54] hmahmood opened #1656 "DHCP client request parameters should be based config, not hard coded"
Currently these are hardcoded in lib/dhcp/client. They should instead be based on what is in the config, e.g. if a nameserver list is present, then DNS servers should not be requested from the DHCP server.

[2016-07-25 15:54] mdubya66 commented on #1645
assigning to jzt for initial evaluation

[2016-07-25 15:56] mdubya66 commented on #1648
@emlin please triage and assign appropriately

[2016-07-25 16:28] kjplatz commented on #1626
It would appear that the problem is related to logging into the vSphere sdk:  "Failed to log in to https://<IP address> due to incorrect user name or password."  Continuing to research

[2016-07-25 16:48] hmahmood opened #1659 "Not enough information in build logs to debug container issues"
Currently only the log from the container and vmware.log are present in the build log for a failed build. This currently does not give enough information, for instance, to debug networking issues. We need a way get more information about the container in the build logs. Maybe a dump of guestinfo, and other commands like we do for the VCH.

[2016-07-25 16:58] emlin commented on #812
@hickeng so as my understanding, this command is just to help user find new VIC versions, and download to local.
We're not going to replace anything runtime, e.g. update existing VCH, etc.

[2016-07-25 17:03] emlin commented on #1550
Note, if we have vic-machine ls show VCH ID, we'd better to support vic-machine inspect --id, to help user show VCH in details.
@hickeng which VCH ID is your preference? VM mob id or RP/vApp mob id?

[2016-07-25 17:10] jooskim commented on #1335
FYI, here is the snippet I tested locally in my Vagrant box. It pulls required libraries such as ant and openjdk and SDK packages so that UI plugin can be compiled. Also the compiled plugin should be included in the tarball file so I added a couple lines in the 'bundle' task

[code]

[2016-07-25 19:42] caglar10ur commented on #1643
It is not purging but just propagating the mount points into the new environment so we end up with a tmpfs /run instead of Dockerfile created (static) one.

IMHO that's docker bug.  Their images should not assume /run/XYZ directories existence as systemd clearly says "Applications must ensure to recreate their own files/dirs on startup, and cannot rely that doing this at package installation will

[2016-07-25 19:46] jooskim commented on #1590
Contacted the Sofia team a few days ago, waiting on response.

[2016-07-25 19:53] anchal-agrawal commented on #1644
Can reproduce on a busybox container. `/etc/hosts` has mode 600.

This is where `/etc/hosts` is being created: https://github.com/vmware/vic/blob/master/lib/etcconf/etcconf.go#L64

To assign the correct permissions to `/etc/hosts`, I can `chmod` it after it has been created here.

[2016-07-25 19:55] #1493 closed

[2016-07-25 19:55] #1597 closed

[2016-07-25 19:55] mdubya66 commented on #1644
should we not have a way to create the file(s) with the correct permissions to begin with?

[2016-07-25 19:57] anchal-agrawal commented on #1644
The files seem to be created with 0644 here: https://github.com/vmware/vic/blob/master/lib/etcconf/etcconf.go#L43

[2016-07-25 19:59] mdubya66 commented on #1644
@hmahmood any input on this?

[2016-07-25 20:14] jooskim commented on #1360
Confirmed with Hasan that port mapping info is now available in the extraConfig array. Will finish the Container VM Portlet soon.

[2016-07-25 20:16] hmahmood commented on #1644
In [`save`](https://github.com/vmware/vic/blob/master/lib/etcconf/etcconf.go#L64) we actually create a temp file before renaming it to `/etc/hosts`. The temp file may not be created with 644. A simple fix would be to change the permissions on /etc/hosts after rename.

[2016-07-25 20:19] anchal-agrawal commented on #1644
Thanks @hmahmood. I'm trying out this fix.

[2016-07-25 20:36] emlin commented on #1369
I think this might be not easy to understand for one never use vic-machine, but the error message does show the correct information.
If no command specified, global options are only --version and --help, all others are wrong.
@kjplatz How do you think?

[2016-07-25 20:38] emlin commented on #1369
For this error message, actually it's wrong, cause we also support global option, --version and --help. It will be ok without any command specified.

[2016-07-25 21:07] anchal-agrawal commented on #1644
Closed via #1663

[2016-07-25 21:07] #1644 closed

[2016-07-25 21:35] emlin commented on #1649
This looks like related to vSan datastore query sequence. In our vSan env, the returned files and directories are in correct order, files first, and directory last.
But it's different in @cormachogan env.

[2016-07-25 21:40] emlin commented on #1648
After #802 is finished, suppose deployment will fail before vic-machine actually create vApp, and then this issue will not happen.

[2016-07-25 21:52] fdawg4l commented on #1649
@emlin Isn't the behavior @cormachogan is reporting exactly what we want?  If you have more than 1 VCH sharing a datastore, but you remove 1 of the VCH instances, you wouldn't want `/VIC` to be removed, right?

[2016-07-25 22:09] jooskim commented on #1360
Done

[2016-07-25 22:30] jooskim opened #1668 "Bash shell is not accessible through SSH to VCSA"
This is an urgent issue for VIC UI installation. For the onsite beta today Karthik tried installing the VIC UI plugin using the installer script, where there are (at least for now) two SSH connections to the target VCSA (one for `scp` and the other for `chown`) But the installer failed saying `Unknown command: scp` because the default shell was not Bash for the VCSA used for demo. (see below) I wa

[2016-07-25 22:43] #854 closed

[2016-07-25 22:55] andrewtchin commented on #1668
This looks like part of the way to what we were talking about in early discussions about `vic-machine install-ui` with some manual steps to start the UI installer container and have the user log out of the web UI to trigger the install. I like this approach as it will remove some of the junk in the install script and make it more platform independent.

How will the user get the image if there's no

[2016-07-25 23:07] jooskim commented on #1668
Right. I remember there's a way to import a bundle to create an image. [https://docs.docker.com/engine/reference/commandline/import/](https://docs.docker.com/engine/reference/commandline/import/)

[2016-07-25 23:15] fdawg4l commented on #1510
[code]

That shouldn't have worked.  What this means is the vsphere/filemanager does not check if a directory contains a `vmdk` and if that `vmdk` is referenced by a container vm.

So we either need to create a graph and figure out the set of un-attached volumes before deleting, or find another vsphere API which does this for us.  I find it hard to believe there isn't a vsphere "safe" way of delet

[2016-07-25 23:15] fdawg4l commented on #1510
cc @hickeng

[2016-07-25 23:32] fdawg4l commented on #1510
Maybe we should be using (this)[ https://github.com/vmware/govmomi/blob/master/object/virtual_disk_manager.go#L128] API.  I'll try it.

[2016-07-26 12:03] frapposelli commented on #368
Please implement authentication via central server[0] too, it is required to support registries with more complex authn/authz models.

[0] https://github.com/docker/distribution/blob/master/docs/spec/auth/token.md

[2016-07-26 13:07] stuclem commented on #868
This definitely needs to go into the topic on container use. It might require something in admin too.

[2016-07-26 13:16] stuclem commented on #1469
Not sure whether this is install or admin. Probably admin.

[2016-07-26 13:20] stuclem commented on #1475
This should go into the topic on container use.

[2016-07-26 13:25] stuclem commented on #1628
For the section on container use.

[2016-07-26 13:49] emlin commented on #739
Currently, we already support multiple compute resource format, and has resource suggesting if that parameter is wrong, do we still need this resource query feature?  @hickeng @mdubya66

[2016-07-26 13:52] carsonpadawon commented on #1625
I just tried build 3248 and have the same results.  This causes an issue with the docker run command.  When I issue "docker --tls run -it 192.168.120.20:5000/busybox" it will pull the image from the private registry but won't run because there is not tag on the image.  so I have to do a pull then a run with just busybox as the image name.

[2016-07-26 14:00] emlin commented on #1649
@fdawg4l this is not about sharing between two VCH. I reproduced this in @cormachogan env.
If I pull one image, and then delete VCH, there will have error message reported for Operation failed.
It should be the file sequence issue. In my vSan env, which is created by @dougm script, it always return files ahead of folders, but I assume in Cormac's env, it's on the contrary.
I need to check how to s

[2016-07-26 14:02] mdubya66 commented on #1162
ping @matthewavery

[2016-07-26 14:41] andrewtchin opened #1671 "Implement vic-machine integration test plan"
https://github.com/vmware/vic/pull/1661 added the test plan and we have some basic tests, but we need to add the remaining tests.

As a customer of VIC, I would like to have confidence that vic-machine utility has been thoroughly tested in a variety of scenarios.

As an engineer of VIC, I would like to have a set of vic-machine tests that are complete so that I can have confidence when I make a ch

[2016-07-26 14:52] #1626 closed

[2016-07-26 15:07] fdawg4l commented on #1649
I see.  So this is about the error.  And *not* about `/VIC` remaining.  Thanks!

[2016-07-26 15:08] carsonpadawon opened #1672 "docker volume create only takes default as label name"
Build 3248

vicadmin@vicMgr [ ~/vic ]$ ./vic-machine-linux create -t vcsa-01a.corp.local -u administrator -p VMware1! -r VIC -i ds-site01-iscsi -b VM-Site01-vDS-Bridge --container-network VM-Site01-vDS-Container:containerNet --container-network-gateway containerNet:192.168.120.1/16 --container-network-dns containerNet:192.168.110.10 --container-network-ip-range containerNet:192.168.120.75-100 --vo

[2016-07-26 15:13] cormachogan commented on #1672
I think you are missing the following option from the docker volume create command:

--opt VolumeStore=<label>

So in your case you need the following:

--opt VolumeStore=dockerVols

[2016-07-26 15:15] fdawg4l commented on #1672
@carsonpadawon, Can you try the same command with the flag Cormac suggests?  Unless specified, our volume layer will try to create volumes on the "default" volume store and it sounds like that's what's happening here.  Thanks!

[2016-07-26 15:17] carsonpadawon commented on #1672
vicadmin@vicMgr [ ~/vic ]$ docker -H 192.168.100.129:2376 --tls volume create --name web --opt VolumeStore=dockerVols                                 Error response from daemon: Server error from Portlayer: [POST /storage/volumes/][500] createVolumeInternalServerError  &{Code:0xc82000fa78 Message:file already exists}
vicadmin@vicMgr [ ~/vic ]$

[2016-07-26 15:22] emlin commented on #1649
Yeah, I think so.
But sadly, today I could not reproduce issue at @cormachogan env. Did you do anything on your vSAN?

[2016-07-26 15:24] cormachogan commented on #1672
This suggests that there is a volume called web already in the volume store. Can you check via the files view on the datastore if that is the case?

[2016-07-26 15:25] carsonpadawon commented on #1672
That was my fault, there was a volume already there with "web".  I was able to create with the --opt VolumeStore=.  THANK YOU.  Is there a list of commands somewhere for --opt

[2016-07-26 15:32] cormachogan commented on #1649
Ah - maybe @emlin

Prior to today, I had 2 VSAN clusters with 2 VSAN datastores. By convention, the first was called vsanDatastore, and the second was called vsanDatastore(1)

Do you think this might have been the reason?

The cluster with vsanDatastore(1) was removed from VC this morning.

[2016-07-26 15:34] cormachogan commented on #1672
There are only 2 right now:

--opt Capacity="size in MB"
--opt VolumeStore="label"

[2016-07-26 15:35] fdawg4l commented on #1672
@carsonpadawon Sounds like you're up and running.  I'm going to close the issue.  Thanks!

[2016-07-26 15:35] #1672 closed

[2016-07-26 15:49] cormachogan commented on #1649
I just tested it, and you are correct. Those messages no longer appear. I am doing some live demos tonight, but can move the other cluster back tomorrow AM, and see if that is the root cause. Exciting, huh? :-)

[2016-07-26 15:49] hmahmood opened #1674 "Failed to find slot for NIC when more than 3 interfaces are added to VCH"
I ran into this when I created a VCH that had 4 NICs. We use slot numbers to lookup up interfaces in the tether code. The slot numbers are assigned by vic-machine. However, there is no guarantee that vsphere will honor these slot numbers. This is what happened here; vsphere assigned a different slot number to the one we set in guestinfo.

We need to stop using slot numbers to identify interfaces,

[2016-07-26 16:01] mhagen-vmware commented on #993
firewall issue, not an VIC problem

[2016-07-26 16:01] #993 closed

[2016-07-26 16:12] #597 closed

[2016-07-26 16:12] caglar10ur commented on #1625
This is a different issue (related with tagging) passing the baton to @cgtexmex

[2016-07-26 16:56] #1546 closed

[2016-07-26 17:43] emlin commented on #1649
absolutely

[2016-07-26 17:44] emlin commented on #1649
I also can reproduce this issue if create one container, even without volume.
Will investigate more on it.
thanks.

[2016-07-26 18:00] cgtexmex opened #1676 "enable filter for docker ps"
The docker client allows a users to provide filter options for the ps command.  Details [here](https://docs.docker.com/engine/reference/commandline/ps/)

vic will need to provide parity with this functionality.

[2016-07-26 18:05] corrieb commented on #755
I'm going to close this as a dup of #1043

[2016-07-26 18:05] #755 closed

[2016-07-26 18:07] corrieb commented on #1043
I've set the estimate for this at 8. I think with 8 solid days of work, this could be done with a reasonable degree of testing. I plan to re-start work on this ASAP and will post updates to this epic as I go.

[2016-07-26 18:10] corrieb commented on #338
I can't size this until I'm clear on what work is involved. Will try to make time with George today.

[2016-07-26 18:12] corrieb commented on #470
From the issues attached to this that are still open, looks like estimate of 8 is about right

[2016-07-26 18:14] corrieb commented on #862
Seems to me this this is incorporated into #1043. Adding a couple days to that to make sure that it meets the requirements laid out here

[2016-07-26 18:38] mhagen-vmware commented on #1109
Assigning back to @hickeng as I have answered the question.

[2016-07-26 18:41] mhagen-vmware commented on #980
Tested manually by most of our developers

[2016-07-26 18:42] mhagen-vmware commented on #980
@karthik-narayan Moving this out of GA for now. We are getting most of this testing for free by our developers, we just don't have all the negative testing specifically under this OS.

[2016-07-26 18:46] mhagen-vmware commented on #1335
@jooskim I am giving this a 2 estimate, go ahead and change if you disagree. Thanks!

[2016-07-26 19:00] cgtexmex commented on #1625
related to...if not duplicated by #1638

[2016-07-26 19:14] hickeng commented on #1659
Agree for containers - the guestinfo is extremely useful. You should get this dumped if debug >= 1.
We cannot just dump the raw guestinfo for the appliance as it contains passwords - this is actually still a concern for containers as people may well be passing credentials in the environment.

[2016-07-26 19:32] jooskim commented on #1335
@mhagen-vmware It looks good to me. Actually this is already done on my local setting, but have been holding this off while I was working on something else. It'd be nice if you could comment on the snippet above so I can make according changes on my separate branch and make a PR.

[2016-07-26 19:33] jzt commented on #1612
Closed via #1664.

[2016-07-26 19:33] #1612 closed

[2016-07-26 19:38] matthewavery opened #1679 "add volume store name to the volume ls output."
currently the output only displays `driver` and `volume name`

Since our implementation also relies on multiple volume-stores. We want the `volume ls` command to actually report the name of a volume along with the store it belongs too.

**Expected behavior:**

[test-store]:VolumeName

**Actual behavior:**
VolumeName

[2016-07-26 19:46] jzt commented on #1613
Closing as this is duplicate work being done in #1294 .

[2016-07-26 19:46] #1613 closed

[2016-07-26 19:46] mhagen-vmware commented on #855
Urg, really thought I commented on this already... not sure where is went.  We have the current docker run tests here, and I just partial implemented them:
https://github.com/vmware/vic/blob/master/tests/test-cases/Group1-Docker-Commands/1-6-Docker-Run.robot

[2016-07-26 19:52] mhagen-vmware opened #1680 "make sure we have a test for the exit codes"
#1514

[2016-07-26 19:54] mhagen-vmware opened #1681 "ensure integration test for #1086"
#1086

[2016-07-26 19:55] hickeng commented on #925
vic-machine currently accepts paths, but while we can pull images with that config we cannot create containers from them.

[2016-07-26 20:00] dougm commented on #378
@jzt are you available to work on the API/PortLayer portion of this?  The tether/toolbox related work I'll be doing for #1268 will end up being used here to deliver the signals here.  The API work can be done in parallel.

[2016-07-26 20:03] dougm commented on #433
@jzt similar story here.. I plan to start by figuring out how to stream the logs from the datastore, but the API/PortLayer work can be done in parallel.

[2016-07-26 20:05] hmahmood commented on #1568
Apparently the network interface is down on the container:

[code]

[2016-07-26 20:08] emlin commented on #1668
we should have docker import image function ready, then no need to download registry from internet

[2016-07-26 20:15] dougm commented on #378
Assigning this to @jzt for the API/PortLayer portion.  I'll be implementing the tether/toolbox portion in #1267 and will hook it into the PortLayer handler.

[2016-07-26 20:17] dougm commented on #1501
Captured in v0.4.0's list of known issues.  This will be supported when #1267 and #378 are implemented.

[2016-07-26 20:17] #1501 closed

[2016-07-26 20:19] jzt commented on #433
@dougm sure, adding myself as an assignee here until subtasks are created (if needed).

[2016-07-26 20:20] dougm opened #1682 "Datastore file streaming"
In support of #366 - we need to figure out a way to stream log files from the datastore.  We are currently able to download a complete file, but we'll want to "tail" the file to support docker logs streaming.

[2016-07-26 20:26] dougm commented on #366
@jzt is going to take on the API/PortLayer piece, I'm taking the vSphere datastore file streaming piece (#1682)

[2016-07-26 20:42] jooskim commented on #1668
Will come up with a temporary solution which involves the exact step I took above. However, this issue definitely needs to be revisited soon.

[2016-07-26 21:00] hickeng commented on #1568
assigning to @hmahmood for fixing as you're most familiar with the current netlink code.

[2016-07-26 21:08] hickeng commented on #906
The only option I'm aware of here is to enable `-race` for all components. This is not what is intended by the static analysis portion of the security release processes, however it's what we have available for Go.

[2016-07-26 21:13] hickeng commented on #1409
Assigning @jzt to look into the context timeout - pulls could take a very long time with a slow network connection; this is not an operation that we should timeout (unless docker has a timeout here, in which case it should be on the personality side). Putting in initial estimate for investigation and fix of timeout.

#933 is the issue that will address the already exist/re-pull behaviour.

[2016-07-26 21:20] hickeng commented on #859
Estimate of 5 for basic automated validation of vMotion support - this does not encompass any performance/placement assessment.

[2016-07-26 21:21] hickeng commented on #770
Removed this from GA - the sub issues for basic support and testing using the initial implementation (on-demand attach connection) are left in GA.

[2016-07-26 21:52] mdubya66 commented on #378
since @sflxn's remaining feature 854 was closed he is free to work on this with you @dougm

[2016-07-26 21:56] caglar10ur commented on #1459
Cleared the milestone target

[2016-07-26 22:14] dougm commented on #378
ok thanks @mdubya66

[2016-07-26 22:50] hickeng opened #1687 "incorrect behaviour: `docker run busybox`"
Running `docker run busybox`

Regular docker: exits immediately - presumably because stdin is closed and `ash` will exit in that case

VIC: doesn't exit, but also doesn't allow interaction - presumably we're not closing stdin

[2016-07-26 22:50] hickeng commented on #1687
assigned to @sflxn for initial investigation - this could either be in the personality side or in the tether.

[2016-07-26 22:53] hickeng commented on #1578
Let's do this:

attach.Join(...) - configures the VM for attach at all (e.g. add serial port configured as network client)
attach.Bind(...) - configures the VM for interaction (configures the serial port for connect)

This is exactly the model that the other port layer components use and also allows us to perform the on-demand attach via a call to attach.Bind and disconnect via a call to attach.Un

[2016-07-26 22:56] hickeng commented on #577
I believe that #1294 will address this - it corrects some flushing behaviour. This should be revisited after that is merged.

[2016-07-26 22:57] hickeng commented on #1156
There is a WIP PR that includes this: #1466

[2016-07-26 23:00] hickeng commented on #1450
A simple exponential backoff with a cap of maybe 10sec should suffice for this.
It may require an update to the death records to log the time of death - inspecting the set of death records should make it evident if it's a new failure or we're in a backoff state.

[2016-07-26 23:10] hickeng commented on #1517
This requires:
a. personality processing these values
b. port layer exec.Create accepting memory and cpu parameters
c. port layer passing these through to the VM config spec used for creation

This does not encompass the runtime alteration of cpu/memory - there is no hotadd support in the containers at this time.

[2016-07-26 23:38] #1506 closed

[2016-07-26 23:41] hickeng commented on #692
@hmahmood I don't recall - does this require the iptables binary or not?

[2016-07-26 23:44] hickeng opened #1688 "avoid the attach/detach path for empty layers"
Currently we are attaching/detaching disks for those layers which are metadata only. In a fast environment that doesn't add too much time to a pull, however yesterday in a very slow env I saw a significant amount of time being spent with attach/detach of the 32B metadata layers.

If possible we should add an optimization which skips this path for those layers which have no files to extract.

Assig

[2016-07-26 23:51] hickeng commented on #1545
The same is true for `ps -n <x>` no matter what number is supplied. `ps -l` should show the last created container irrespective of state so the fact that we show STOPPED instead of CREATED for state should not be the cause.

Assigning to @jzt as this relates to the filtering. My speculation is that we're either:
a. seeing this because of a time skew between client and server that puts creation tim

[2016-07-26 23:53] hickeng commented on #463
Pretty much all of the operations have divergent semantics at this point. This is about identifying what those semantics are and where the differences lie in a clear fashion.

[2016-07-26 23:54] hickeng commented on #462
This will take a while if it's to be done at the level of sub commands/flags, and I think it needs to be.

[2016-07-26 23:58] hickeng opened #1689 "Add RBAC constraints to the ID that's used by the VCH."
The extension that is registered per VCH has unrestricted admin access currently. We need to apply RBAC constraints to this extension ID if that is possible.
- [X] determine if it is possible to apply RBAC to an extension ID
  - NOT POSSIBLE, RBAC REQUIRES USER
- [x] determine what RBAC privileges need to be specified for a VCH
  - [x] confirm VCH function with non-admin user
  - [x] confirm VCH f

[2016-07-27 00:29] hmahmood commented on #692
This would require the iptables binary. Any other way to allow only certain ports through?

[2016-07-27 00:30] #1568 closed

[2016-07-27 11:37] stuclem commented on #924
Plugin deployment has been updated in PR https://github.com/vmware/vic/pull/1690. See also https://github.com/jooskim/vic/commit/fb0b89b95854fdeee5fdc60a0b4ff33d06cad928.

[2016-07-27 11:39] stuclem opened #1692 "Document that access to VCH is RBAC based"
Per https://github.com/vmware/vic/issues/1689.

[2016-07-27 11:41] stuclem opened #1693 "Document Docker functions that are unsupported"
Per https://github.com/vmware/vic/issues/462, which will probably either grow over time or else lead to some other document.

[2016-07-27 11:44] stuclem opened #1694 "Document functions with divergent semantics"
Probably worth monitoring https://github.com/vmware/vic/issues/463 so that we can describe the differences that exist between standard Docker commands and VIC's implementation.

[2016-07-27 12:01] stuclem opened #1695 "Document that docker run supports the -c and -m parameters for containerVMs"
Per https://github.com/vmware/vic/issues/1517.

[2016-07-27 12:21] stuclem commented on #866
Looks like work is still ongoing on docker run, according to https://github.com/vmware/vic/issues/855.

[2016-07-27 12:58] stuclem commented on #1523
Goes in both install and admin. See also https://github.com/vmware/vic/issues/1679.

[2016-07-27 12:58] stuclem commented on #1522
New functionality proposed in https://github.com/vmware/vic/issues/1679.

[2016-07-27 13:01] stuclem commented on #980
@mhagen-vmware which version should we quote in the docs as supported? Or, which version do most of the devs use? El Capitan?

[2016-07-27 13:07] stuclem opened #1696 "Document docker ps filtering options"
https://github.com/vmware/vic/issues/1676 adds filtering options to docker ps. This potentially needs to be called out in the doc.

[2016-07-27 13:08] stuclem commented on #1599
https://github.com/vmware/vic/pull/1589 is now merged.

[2016-07-27 13:16] stuclem opened #1697 "Document docker login and authentication"
Per https://github.com/vmware/vic/issues/368.

[2016-07-27 13:21] stuclem commented on #1531
Some extremely useful info on @cormachogan 's blog:
http://cormachogan.com/2016/07/20/container-networks-vic-v0-4-0/

[2016-07-27 13:25] stuclem commented on #1526
Some very good info general info about volumes in @cormachogan 's blog:
http://cormachogan.com/2016/07/15/container-volumes-vic-v0-4-0/

[2016-07-27 13:29] stuclem commented on #867
Looks like port mapping (https://github.com/vmware/vic/issues/854) is implemented in PR https://github.com/vmware/vic/issues/1636.

[2016-07-27 13:51] stuclem opened #1698 "Document docker container wait"
Per https://github.com/vmware/vic/issues/384

[2016-07-27 13:58] stuclem commented on #852
When implemented, will require an update to the existing section on `--debug` in the topic on vic-machine create options, and a section in Admin about how to access and understand the information.

[2016-07-27 13:59] stuclem commented on #981
https://github.com/vmware/vic/issues/980 is out of GA, due to fact that most devs use Mac anyway. @mhagen-vmware what version of Mac OS should we claim support for in the docs? El Capitan?

[2016-07-27 14:05] stuclem commented on #982
Requires an update in the prereqs topic.

[2016-07-27 14:15] stuclem commented on #951
We have some use cases about networking in the [Network Overview](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/networks.md#use-cases) topic in Admin, which I think should actually move to the App Dev pub. Adding an example of a container using multiple networks would go alongside these existing examples.

[2016-07-27 14:19] stuclem commented on #1598
The VCH specific information listed in https://github.com/vmware/vic/issues/1390 and PR https://github.com/vmware/vic/pull/1572 should go into the description column in the [Supported Operations](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_app_dev/container_operations.md) table. We should also add the note about vSphere datastore paths.

[2016-07-27 14:27] stuclem commented on #831
We write up a procedure that uses the same Docker voting app as @mhagen-vmware uses in the [tests](https://github.com/vmware/vic/blob/master/tests/test-cases/Group3-Docker-Compose/3-2-Docker-Compose-Voting-App.md) (and that @corrieb mentions in the topologies doc) to demo that VIC can handle a multi-tier app.

[2016-07-27 14:30] stuclem commented on #845
Add the list of requirements from the description of https://github.com/vmware/vic/issues/802 in the topic on environment prereqs. The dev issues are for the implementation of checks in vic-machine to verify these things, but there is no reason why we can't document them as requirements straight away.

[2016-07-27 14:31] stuclem commented on #851
According to @emlin in https://github.com/vmware/vic/issues/739, the query feature might not longer be required.

[2016-07-27 14:37] stuclem commented on #818
Requires updates in the topic on [vSphere interop](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/interop.md).  The descriptions of https://github.com/vmware/vic/issues/859 and https://github.com/vmware/vic/issues/858 list what will be supported once those issues are implemented.

[2016-07-27 14:49] cgtexmex commented on #1545
I'm taking this from @jzt as it's very similar to #1676 and can be done in conjunction with it.

[2016-07-27 14:53] stuclem commented on #827
This is hopefully just a case of getting the section on [VSAN interop](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/interop.md#vmware-virtual-san) approved by George and Ben.

[2016-07-27 14:54] stuclem commented on #829
We should document that the list of things that will be implemented in https://github.com/vmware/vic/issues/701 are performed when you restart the VCH appliance.

[2016-07-27 14:57] stuclem commented on #850
Some of this is in the [Use Cases](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/networks.md#use-cases) currently in the networking topic in Admin, that I think need to move to App Dev.

[2016-07-27 15:02] stuclem commented on #864
This can go into the topic on [vSphere Interop](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/interop.md#vmware-virtual-san), in particular in cases in which VMs are vMotioned off a host when it goes into maintenance mode, per https://github.com/vmware/vic/issues/770.

[2016-07-27 15:07] stuclem opened #1699 "Document docker save"
Doc the docker command to get a tarball of images, per https://github.com/vmware/vic/issues/501.

[2016-07-27 15:09] stuclem commented on #881
Only one of the commands in https://github.com/vmware/vic/issues/373 has an associated issue so far (https://github.com/vmware/vic/issues/501 - doc issue is https://github.com/vmware/vic/issues/1699).

Normally, we should be getting issues for the other commands, in which case we'll add new doc issues. But, it's worth keeping this issue open to remind us to check intermittently on the status of  h

[2016-07-27 15:12] stuclem commented on #926
Requires an update in the section for `--image-datastore` and `--container-datastore` in the topic on `vic-machine create` options.

[2016-07-27 15:17] stuclem commented on #912
Completely forgot that I had done so, but a f

[2016-07-27 15:18] stuclem commented on #912
Commented and closed by mistake.

[2016-07-27 15:20] stuclem commented on #1340
https://github.com/vmware/vic/issues/1330 might not make it into GA.

[2016-07-27 15:31] mdubya66 commented on #854
I see this is closed. So docker port feature is working? is there a test? @sflxn @hickeng

[2016-07-27 15:51] stuclem commented on #1694
See also https://github.com/vmware/vic/issues/445

[2016-07-27 15:55] hmahmood commented on #1646
I can't reproduce this when I just start and stop a container with port mappings and then try to run another container with the same port mapping. However, if for any reason the container fails to start, we do not clean up the port mapping. Subsequent run of a container with the same port mapping will then fail. I will fix the latter.

[2016-07-27 16:17] hmahmood commented on #854
Seems to be working:

[code]

[2016-07-27 16:54] fdawg4l commented on #1688
@hickeng How, in the storage layer, do we know if the layer is a metadata layer?  This can only be discovered and marked as such from the docker server, no?

[2016-07-27 16:56] caglar10ur opened #1700 "Add ACME support"
maybe via https://github.com/google/acme so that users can use letsencrypt.org for their TLS needs.

[2016-07-27 17:02] hmahmood opened #1701 "docker ps does not show ports"
[code]

[2016-07-27 17:02] fdawg4l commented on #1505
This is done.

[2016-07-27 17:02] #1505 closed

[2016-07-27 17:03] fdawg4l commented on #1507
The only remaining item is documenting the behavior.

[2016-07-27 17:06] fdawg4l commented on #1364
[code]

[2016-07-27 17:06] fdawg4l commented on #1364
I think we have enough info to close this but leaving it to you @caglar10ur to make the call.

[2016-07-27 17:17] gigawhitlocks commented on #1210
Is this issue able to be closed after my PR here https://github.com/vmware/vic/pull/1678 is merged?

[2016-07-27 17:30] sflxn commented on #1403
This was completed with PR #1433.

[2016-07-27 17:30] #1403 closed

[2016-07-27 17:38] fdawg4l commented on #933
This really needs to be done for GA. Will take this on in the next day or two.

[2016-07-27 17:43] anchal-agrawal commented on #757
Investigating. We have a different error message now:

[code]

[2016-07-27 17:48] sflxn commented on #741
Not sure why the epic continues to say 5 of 8 issues complete.  Looked at every one of them, and they are closed, done, or merged.

[2016-07-27 17:49] fdawg4l commented on #1210
@gigawhitlocks yes.

[2016-07-27 17:56] sflxn commented on #366
Separated the last few docker operations into personality and portlayer work to follow the pattern we've been using on this project.

[2016-07-27 17:59] sflxn opened #1702 "Portlayer: Container logs"
Get container logs to support docker logs.  This is the other half that is tied to #366.

[2016-07-27 18:08] dougm commented on #1702
Most of the work needed here will be done with #1682 - so this task should just be some glue and tests.

[2016-07-27 18:18] fdawg4l commented on #925
@gigawhitlocks this is another one that #1678, i think, closes.

[2016-07-27 18:22] jzt commented on #757
The `Www-Authenticate` header returned from hub for a nonexistent image with a valid token includes `error="insufficient_scope"`, but for an existent image with an invalid token it uses `error="invalid_token"`. That could be used to differentiate between the two cases.

[2016-07-27 18:25] cgtexmex commented on #1398
@hickeng just to make sure this is an out of band start -- so VC UI, govc, etc...  I'm able to reproduce in that case and a quick fix, but investigating a bit more.

[2016-07-27 18:34] sflxn commented on #366
This will use a similar mechanism on the portlayer rest side as attach.  The same goes for the personality server side.  My estimates for this includes both the personality server and portlayer rest server.

In addition to container logs, docker logs also requires getting the stdout and stderr.  We should be able to attach to the tether and get those as well as get the container logs from the data

[2016-07-27 18:41] hickeng commented on #1109
There are a couple of approaches here:
1. block docker api operations until the port layer has finished initializing.
2. block the installer from returning until the port-layer is initialized (it currently blocks until the portlayer is launched)

[2016-07-27 20:30] emlin commented on #1165
@cormachogan This issue is to address the usability issue you raised previously.
Currently, we had few short name options for vic-machine create. Is there any more options need short name you think?
And I checked the options, almost all of them are optional, except --target and --image-datastore, so I gonna use a easiest way to show them as "Required" as the start of flag usage information. How do

[2016-07-27 20:32] emlin commented on #1165
@cormachogan @hickeng Would you think it's good to add acronym as the flag short name?
for example, --container-network-gateway, to -cng?
It's not that easy to have auto-complete for all options for Windows, I think. So I'm wondering one efficient short name for all options might work.

[2016-07-27 21:29] #1646 closed

[2016-07-27 22:54] npakrasi commented on #867
Updated table with details that docker port is supported and displays port mapping data.

[2016-07-27 22:56] caglar10ur commented on #757
Hmm that's good find @jzt, imagec could return different return codes based on that and personality could provide the expected error to the caller

[2016-07-27 23:12] mdubya66 commented on #1700
is this a GA target?

[2016-07-27 23:13] mdubya66 commented on #1689
who should get this one?

[2016-07-27 23:29] caglar10ur commented on #1700
no, just a nice to have feature

[2016-07-27 23:49] fdawg4l opened #1709 "Embed MoRef in URL for datastore in storage layer and vchConfig"
We're using URLs to represent the `[datastoreName] path/to/dir`.  For clarity this becomes

`
u := &url.URL{
     Scheme: "ds",
     Host: "datastoreName",
     Path: "path/to/dir"
}
`

The issue is the datastore name may include characters (spaces) that the URL spec doesn't support.  Also, we don't want to use names where we can use MoRefs.

We need to create a `struct` that either embeds the URL

[2016-07-28 00:49] caglar10ur opened #1710 "Structured errors"
https://github.com/vmware/vic/pull/1708/files#diff-20cac0652b997c8f1ee1d0fb89688480R706 is an example what happens when we don't define errors as types.

We should implement a set of types like net package (https://golang.org/pkg/net/) and start using type assertions

#3636 should be defining these errors as an integral part of the interface work for the portlayer.

[2016-07-28 02:04] #757 closed

[2016-07-28 02:07] emlin opened #1711 "vic-machine: suggest valid datastore, networks and datacenter"
Similar to compute resource suggestion, we also need suggestion for datacenter, network and datastore

[2016-07-28 02:08] emlin commented on #1711
Per @hickeng comments, add this issue to GA

[2016-07-28 02:18] #1649 closed

[2016-07-28 08:21] stuclem commented on #1522
PR https://github.com/vmware/vic/pull/1705 adds the name of the volume store that a volume is on to the output of volume ls.

[2016-07-28 08:23] stuclem opened #1712 "Document that vic-machine suggests valid datastores, networks and datacenter"
Per https://github.com/vmware/vic/issues/1711.

[2016-07-28 08:31] cormachogan commented on #1165
Both those recommendations work for me @emlin

[2016-07-28 11:08] stuclem opened #1713 "Document short names for remaining vic-machine options"
Per https://github.com/vmware/vic/issues/1165

[2016-07-28 11:14] stuclem commented on #837
Looks like this is in https://github.com/vmware/vic/issues/366.

[2016-07-28 11:16] stuclem commented on #926
See also https://github.com/vmware/vic/issues/1210

[2016-07-28 11:28] #1524 closed

[2016-07-28 13:44] stuclem commented on #1507
@fdawg4l we mention in the table of supported Docker commands that `docker info` returns a list of configured volume stores. We'll be adding that `docker volume ls` does the same when https://github.com/vmware/vic/issues/1679 is implemented.

Is there currently anything else to doc right now, that might be for the vSphere admin's eyes, rather than for the Docker app devs? I'm thinking about the en

[2016-07-28 13:54] cormachogan opened #1714 "Creation of a container network succeeds even when all nodes in cluster are not connected to it"
**VIC Version:**

0.1 / master / 3190

**Code**

When I create a container network from the VIC CLI, it allows me to create a container network referencing a distributed port group, even when all nodes in the cluster are not connected to it.
e.g

[code]

In the above example, only hosts 9 and 10 are connected to the distributed port group con-nw.

**Expected behavior:**
I feel that we need to have

[2016-07-28 14:00] emlin commented on #1165
@cormachogan Thanks for your confirmation

[2016-07-28 14:03] emlin commented on #1476
@hickeng @mdubya66 @karthik-narayan Is there specific answer for vic-machine inspect command?

[2016-07-28 14:30] cormachogan opened #1715 "Container network - DNS (/etc/resolv.conf) and gateway not populated"
**VIC Version:**

0.1 / master / 3190

I ran into two issues with container networks in this build of VIC:

1. Container gateway is left at 0.0.0.0
2. /etc/resolv.conf did not get created in container (busybox).

[code]

**Expected behavior:**

I would have expected to see the gateway populated, and the DNS entry in /etc/resolv.conf

**Actual behavior:**

As above.

[container-logs.tar.gz](https:/

[2016-07-28 14:47] cormachogan commented on #1714
Ignore this - it was a refresh issue in the vSphere web client. All hosts are connected to the DVS and have access to this DPG.

[2016-07-28 14:47] #1714 closed

[2016-07-28 14:50] mhagen-vmware commented on #980
El Capitan

[2016-07-28 14:53] cormachogan commented on #1715
As a test, I created another VCH with some slightly different GW and DNS settings:

[code]
There is still no /etc/resolv.conf, but neither is there any gateway configured.

[2016-07-28 15:08] anchal-agrawal opened #1717 "Show cleaner output while pulling non-existent image"
Follow-up of #757

Vanilla docker:
[code]
VIC:
[code]

VIC currently shows `latest: Pulling from foo/bar`, where `latest:` seems extraneous. cc @jzt

[2016-07-28 15:13] #1372 closed

[2016-07-28 15:13] #1376 closed

[2016-07-28 15:13] #1445 closed

[2016-07-28 15:24] mhagen-vmware opened #1718 "Implement volume ls filtering"
Expected:
docker volume ls -f name=test
Error response from daemon: Invalid filter 'name'

Actual:
DRIVER VOLUME NAME
 vsphere test
1. Not sure if we want to actually block filtering based on name or not, it would seem to be a nice feature that docker doesn't actually support.
2. We seem to be ignoring the filter completely, as no matter what I put in there it actually returns all volumes.

1 is a

[2016-07-28 15:42] jzt commented on #1640
What is happening here is that the `"Failed to invoke operation: ServerFaultCode: The object has already been deleted or has not been completely created"` error that the portlayer is sending back is coming by way of a `500 Internal Server Error`. If we assume that a `500` is always actually a `404` then we lose the ability to return `500`'s for actual internal server errors. I'm currently looking

[2016-07-28 15:54] mhagen-vmware opened #1720 "Volume rm not removing the volume"
Running command 'docker -H 192.168.254.172:2375 volume rm test2
${rc} = 0
${output} = test2

Running command 'docker -H 192.168.254.172:2375 volume ls
${rc} = 0
${output} = DRIVER              VOLUME NAME
vsphere             test
vsphere             test2

[2016-07-28 16:17] mhagen-vmware opened #1722 "Implement volume ls and rm tests"

[2016-07-28 16:34] hmahmood opened #1723 "Creating 75 containers fails due to connection reset"
This is from Erin on the performance team. One of the tests she has it to start 75 containers simultaneously, and she is reporting over 50 of the starts failing. Attached are the logs from the tests. It seems like we are dropping the sdk connection at some point, and subsequent starts fail.

[esxtop.csv.gz](https://github.com/vmware/vic/files/388881/esxtop.csv.gz)
[results.txt](https://github.com/

[2016-07-28 17:11] hickeng commented on #1568
We'll need to change this fix to have the network interface brought up appropriately by the tether when we shift from systemd. This is unlikely to present as an intermittent issue in that work item so I'm okay leaving this as is for now.

[2016-07-28 17:29] #1642 closed

[2016-07-28 18:03] corrieb commented on #1723
I feel like we should learn to walk before we can run here. How do we do with 5 or 10 or 20? Our existing 30 second timeout is going to probably be insufficient at a far smaller number than 75

[2016-07-28 18:12] #1643 closed

[2016-07-28 18:24] carlsone commented on #1723
The same test consistently succeeds with 10 parallel containers.

[2016-07-28 18:31] corrieb opened #1724 "Docker start time is inconsistent and avg 2x equivalent Bonneville (no vmfork)"
I decided to run some tests today to see where we stand with respect to like-for-like performance with Bonneville. By like-for-like, I mean same kind of datastore, vmfork disabled etc.

On a single ESX host with SSD datastore, here are the numbers from one run:

pull busybox   VIC 4.4  Bonn 5.3
create   VIC 0.54  Bonn 0.77
start   VIC 13.2  Bonn 4.2
delete   VIC 0.45  Bonn 0.25

I'll raise a separ

[2016-07-28 18:40] fdawg4l opened #1725 "Debug why "Another task is already in progress" when detaching/attaching disks quickly"
[code]

[code]

This is on a nested esx (4gb) with a devbox vm (2gb) running the storage unit tests.

( `sudo -E VIC_ESX_TEST_URL=https://root:@192.168.8.129/sdk VIC_ESX_TEST_DATASTORE=datastore1 go test -v github.com/vmware/vic/lib/portlayer/storage/vsphere/... github.com/vmware/vic/lib/portlayer/storage/... github.com/vmware/vic/pkg/vsphere/disk/...`)

When printing out the task IDs that we crea

[2016-07-28 18:44] fdawg4l commented on #1725
This issue seems to manifest the most on resource constrained instances.  I have not see it anywhere else.

[2016-07-28 18:48] fdawg4l commented on #1720
This is a dupe of #1511.  I'd like to close this unless you want to track the integration test separately @mhagen-vmware .

[2016-07-28 19:21] corrieb commented on #1724
I did a few manual boots and it seems like boot time is slow (7-8s), but consistent. I suspect there's two issues here. Boot time slowness (likely to be addressed as part of the work to optimize the container ISO) which can be addressed for GA. Then the additional inconsistencies being introduced in our control plane. This latter issue is a high priority to fix IMHO

[2016-07-28 19:22] hmahmood commented on #1715
So the last case I have already fixed in #1568, where the network interface is down and so setting the gateway fails.

As for the previous case, we were also not propagating the DNS to the container, which is also fixed.

@cormachogan could you try again with the latest build? Thanks.

[2016-07-28 19:42] hmahmood commented on #1715
Looks like the DNS issue still there. We cannot encode an array of net.IP types into extraconfig.

[2016-07-28 21:04] mhagen-vmware opened #1728 "vic-machine delete test should not attempt to grab logs after removing the VCH"

[2016-07-28 21:20] #1728 closed

[2016-07-28 21:29] corrieb opened #1731 "Modify vcsim to allow for testing control plane concurrent performance"
If we could drive our control plane (both the docker personality and the port layer) against vcsim for basic container lifecycle operations (create, start, ps, delete) and if vcsim could simulate sub-second container start-times, we could get a really good sense of where the bottlenecks are in our current control plane.

Take #1723 as an example. Figuring out how much of the issues are due to host

[2016-07-28 21:29] corrieb commented on #1723
I feel we should focus on #1724 first. Solving that - or at least improving it - would help significantly here. As a second order concern, we should adapt vcsim so that we can simulate creating containers very fast. This will help us figure out where the bottlenecks are in our control plane. Created #1731

[2016-07-28 21:34] sflxn commented on #384
When you guys get an idea on what this api looks like in the portlayer or utility function in the personality layer, can you post in #378?  Docker kill will need to use this mechanism to wait for the container to shutdown.

[2016-07-28 21:37] hickeng commented on #906
https://github.com/HewlettPackard/gas - alpha analysis tool for Go AST
@caglar10ur should I be assigning this to you? ;)

[2016-07-28 21:39] caglar10ur commented on #906
sure, I already created a report and looked at it this morning for fun. Nothing looked dangerous or wrong but we can still integrate it into Makefile I guess

[2016-07-28 22:08] sflxn opened #1733 "Need to make docker attach hold connection indefinitely"
Currently, attach has a timeout for total attach session time.  We should look into modifying the roundtripper to make the connection stay connected until the user disconnects.

[2016-07-28 22:39] mhagen-vmware opened #1734 "ValueError: Container 05efd8b1a0 does not have a com.docker.compose.container-number label"
Running docker compose with a LEMP server yml file, caused the following error:
[code]

Attaching logs as well.
[VCH-0-3949-container-logs.tar.gz](https://github.com/vmware/vic/files/389506/VCH-0-3949-container-logs.tar.gz)

[robot-logs.zip](https://github.com/vmware/vic/files/389510/robot-logs.zip)

[2016-07-28 23:13] caglar10ur opened #1735 "[docker] support empty host port"
[code]

works with vanilla docker and fails with VIC

[code]

[2016-07-29 00:17] #1652 closed

[2016-07-29 00:29] sflxn commented on #433
@hickeng @dougm and I just had a good conversation about docker logs.  Docker logs can do 2 things that we cannot currently do at this point.  The first is to tag all log lines with a timestamp.  The second is to be able to grab all log since a timestamp.  The importance of the latter may not be apparent immediately.  Docker logs interleaves containers logs, stdout, stderr into the output.  The te

[2016-07-29 00:42] sflxn commented on #366
@hickeng @dougm and I just had a good conversation about docker logs. Docker logs can do 2 things that we cannot currently do at this point. The first is to tag all log lines with a timestamp. The second is to be able to grab all log since a timestamp. The importance of the latter may not be apparent immediately. Docker logs interleaves containers logs, stdout, stderr into the output. The tether r

[2016-07-29 00:46] sflxn opened #1738 "Container logs need to have timestamp or a mechanism to index by timestamp"
Container logs currently do not have any timestamps.  For full docker logs functionality, the logs must have some mechanism for associating log lines with a timestamp.

As a developer on admiral, I need VIC to implement timestamps on docker logs in order for admiral to work with VIC.

[2016-07-29 00:48] corrieb commented on #1724
Here's some debug from an example. I start the same container 3 times in succession. It takes 16s, then 12s, then 8s. This is the output from the port-layer:
[code]
Notice where we're spending the time after "Caught EOF" - 10s, 6s and 2s respectively. This is the entirety of what accounts for the inconsistency in time

[2016-07-29 00:51] sflxn opened #1739 "Historical stdout and stderr must be kept for complete docker logs functionality"
To have complete docker log functionality, we must have some way to keep historical stdout and stderr for a container, and they need to be timestamped.  If you execute docker logs --since=<timestamp> you can extract all container logs, container stdout, container stderr up to that timestamp.  This implies docker is keeping that data around.  Today, when we attach to the tether, it returns all stdo

[2016-07-29 00:57] corrieb commented on #1738
+1 this is annoying

[2016-07-29 00:58] corrieb commented on #1724
Attaching log bundle. Container logs don't have timestamps #1738, which makes it hard to figure out what's going on.

[container-logs (1).tar.gz](https://github.com/vmware/vic/files/389677/container-logs.1.tar.gz)

[2016-07-29 01:30] sflxn commented on #378
Initial code is in, but it still needs the ContainerWait infrastructure to wait for the container to exit.  There is another way to perform the wait, but I don't think it's the way to go.  We can create a new swagger client, use a roundtripper that doesn't timeout and make the call to the portlayer wait till the container exits.  The call would become blocking.  We would also need to add a paramet

[2016-07-29 02:03] dougm commented on #1320
Depends on #1268

[2016-07-29 02:05] dougm commented on #1320
Note that 'docker stop' does send the stop signal (default is SIGTERM) immediately.  The -t flag is a grace period between sending the stop signal and sending a SIGKILL.  So, if SIGTERM does not stop the container, it will wait 10 seconds by default before sending a SIGKILL.

[2016-07-29 02:11] dougm commented on #1321
See #1320 - the '-t' flag does not wait to stop, it is a grace period between SIGTERM and SIGKILL.
Though we should still test that the flag is honored in this case.

[2016-07-29 02:46] #1165 closed

[2016-07-29 08:33] cormachogan opened #1741 "Remove CIDR requirement from container network"
**VIC Version:**

0.1 / master / 3190

This is opened based on a suggestion in https://github.com/vmware/vic/issues/1542

It doesn't make sense to me that the gateway for the container network would need CIDR notation. Typically a gateway is simply a single ip address.

In the example below, if I try to specify just an ip address for the gateway, which i think is what most people would do, I get a

[2016-07-29 08:42] cormachogan commented on #1715
Just tested it with version #3411 @hmahmood and I get the same behaviour:

[code]

[2016-07-29 09:24] reasonerjt commented on #1625
@caglar10ur

Do you mean in 0.4.0 VIC it support option like "--incesure-registry"?
If this is the case, how can I set it?  I'm also trying to pull image from a http registry.

[2016-07-29 13:25] stuclem commented on #954
Initial implementation is in PR https://github.com/vmware/vic/pull/1737.

[2016-07-29 13:25] stuclem commented on #1713
Implemented in PR https://github.com/vmware/vic/pull/1716.

[2016-07-29 13:28] stuclem commented on #837
According to @sflxn in https://github.com/vmware/vic/issues/366, the docker kill --timestamps (also -t) and --since options will not work initially.

[2016-07-29 13:30] stuclem opened #1743 "Document that hyphens and underscores are allowed in datastore names"
Per https://github.com/vmware/vic/issues/1652, which is implemented in https://github.com/vmware/vic/pull/1730.

[2016-07-29 13:33] stuclem commented on #1598
See also PR https://github.com/vmware/vic/pull/1732.

[2016-07-29 13:47] stuclem commented on #980
Gracias @mhagen-vmware!

[2016-07-29 13:48] stuclem commented on #981
Confirmed as El Capitan by @mhagen-vmware  in https://github.com/vmware/vic/issues/980.

[2016-07-29 13:48] stuclem commented on #1530
PR https://github.com/vmware/vic/pull/1515 is now merged.

[2016-07-29 14:09] stuclem commented on #1530
The VCH Admin portal is visible at https://`vch_address`:2378 after you deploy a VCH.

![vicadmin](https://cloud.githubusercontent.com/assets/16718369/17250941/d1874f28-55a6-11e6-84e6-f8cd9a25d151.png)

[2016-07-29 14:29] stuclem commented on #1530
@kjplatz and @sgairo, I see in the screencap above that my network connectivity is showing up as orange. I assume that this means that these squares can be green (OK), orange (something's dodgy), or red (it's dead). It would be good if in the docs we could point people to some clues as to what they need to do to make their squares green, if some of them are orange/red.

So, are there any design do

[2016-07-29 15:08] #1679 closed

[2016-07-29 15:27] #1360 closed

[2016-07-29 15:34] emlin opened #1744 "vic-machine create: update installation output to show vic-admin portal address"

[2016-07-29 15:44] mhagen-vmware opened #1745 "ERROR: 404 page not found while running docker-compose voting app"
[code]

Logs attached:
[VCH-0-8726-container-logs.tar.gz](https://github.com/vmware/vic/files/390881/VCH-0-8726-container-logs.tar.gz)

[2016-07-29 15:59] #1722 closed

[2016-07-29 16:06] caglar10ur commented on #1625
@reasonerjt does not support insecure registries. We added that support after we release 0.4.0. And looks like latest builds can pull the image but cannot run them due to #1638

[2016-07-29 16:21] hmahmood opened #1749 "network ls crashes docker personality after running container"
The sequence of commands:

[code]
crashes docker personality.

[2016-07-29 17:14] hickeng commented on #1734
We're lacking both:
* compose support #431
* label support

This is most likely an artifact of those two issues. Until #431 is complete it's hard to determine what the actual issue is here.
Assigning to @caglar10ur for follow up as he's been looking at compose.

[2016-07-29 17:50] hickeng commented on #1745
We do not and will not support docker build directly.

@caglar10ur @mreferre @cormachogan Do you think that the lack of build support is going to cripple the use of compose?

[2016-07-29 18:05] cormachogan commented on #1745
My only concern is if we want to support deploying project harbor via VIC?

If so, then we would need to support compose build.

Sent from my iPhone

On 29 Jul 2016, at 18:50, George Hicken <notifications@github.com<mailto:notifications@github.com>> wrote:

We do not and will not support docker build directly.

@caglar10ur<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_caglar10ur&

[2016-07-29 19:45] gigawhitlocks commented on #1651
@emlin it looks like this was fixed in PR #1536 ?

[2016-07-29 20:03] mhagen-vmware opened #1752 "fix the potential race in the ps test"
use govc maybe to check that the vm is not running anymore?

[2016-07-29 20:35] matthewavery opened #1754 "The Tailf function does not check if the file exists before trying to open it"
A check is needed so that we do not try to open and seek a non existent file. Which could happen in certain use case scenarios of VIC.

line 306 of `cmd/vicadmin/logs.go
`f, err := os.Open(file)`

[2016-07-29 20:43] hagenmt commented on #1754
Make sure to address any of the other issues pointed out by George in #1722 as well

[2016-07-29 20:44] hickeng commented on #1754
Consider using the hpcloud/tail package or similar rather than writing from scratch.

[2016-07-29 20:46] hickeng opened #1755 "Hang in DNS concurrency tests"
https://ci.vmware.run/vmware/vic/3452

There is a VERY long set of stack traces in the build output. This is a tiny fraction of them as a sample:
[code]

[2016-07-29 20:57] jooskim commented on #1590
Initial setup is done and successfully ran some automation tests successfully. For some reason now I'm getting errors that seem related to sync issues between the browser VM and the VCVA VM. I'm investigating it with the Sofia team.

Also wrote a guide on how to get started with the NGC auto test framework. Doc can be found here: https://docs.google.com/document/d/17mFC-TjZq-7DsN8H6ACtc2BNCADyniBx

[2016-07-29 21:57] sflxn commented on #1739
It appears docker is always persisting stdout and stderr by default to a json file.  Format of the file here,

[code]

When I first perform an attach, it simply output output from this point in time on.

[2016-07-29 22:06] #1641 closed

[2016-07-29 23:26] sflxn commented on #366
I noticed something very peculiar with docker logs.  I was trying to figure out how they delimit their log lines.  They are delimiting their logs with either /n or /r/n.

If you run

[code]

their json log file looks normal.  However, if instead of echo, I use printf (no newline), their json log files never gets updated nor can I get the logs of the container until I quit the running session.  At

[2016-07-30 08:44] reasonerjt commented on #1625
@caglar10ur Thanks for the reply.
So could you let me know what flag is needed?  Just checked the code seems there's flag in imagec:

But did not find how's that referenced in apiserver.

btw, I'm new to vic, could you let me know if there's a way to patch a deployed VCH?  Or do I have to rebuild the appliance.iso and re-deploy using vic-machine?

[2016-08-01 02:51] caglar10ur commented on #1745
I think we can't support all the compose yml files without build support but we can still bring up compositions if they just refer to an image on somewhere.

[2016-08-01 10:14] reasonerjt commented on #1561
Hi, I see the same error in portlayer log:

[code]
So does this mean `--volume-store` is required field when running vic-machine create?

[2016-08-01 11:06] reasonerjt opened #1758 "--volume-store doesn't seem to take effect."
VIC version:0.4.0
I setup VCH via the following command:
`./vic-machine-darwin create --name VCH --target root:vmware@x.x.x.x/Datacenter --image-datastore Stephen_Hu --no-tls --compute-resource Cluster2 -b DPortGroup --volume-store "vicvol:Stephen_Hu/myvol" -v 1`

Then I saw error when creating a volume:
[code]

And such message in portlayer log:
`time="2016-08-01T10:51:02Z" level=error msg="stora

[2016-08-01 11:25] reasonerjt commented on #1758
Or maybe is this "(http://VCH/storage/volumes/default) " misleading?
But then how can I verify that VCH is trying to access the volume store as I configured?
And I created directory "**myvol**" under datastore  "**Stephen_Hu**" why it says the volumestore not found?

[2016-08-01 13:29] compendius commented on #1279
Is  --cap-drop supported? For example  --cap-drop ALL . This would limit root capabilities in a container

[2016-08-01 15:39] matthewavery commented on #1507
@stuclem looks like we are not going to go through with #1679, see the discussion on pr #1705. If you feel that We should include this feature, then we should start another conversation on it. Otherwise I believe this ticket is ready to close. cc @fdawg4l @corrieb @hickeng

[2016-08-01 16:22] fdawg4l commented on #1507
For clarity (and because #<number>) is the least descriptive way to refer to a ToDo item;

#1679 - Adding the volume store to the `docker volume ls`.  Not doing that sounds like the right thing to do.

@stuclem as long as we document that you can get the volume store name in the `docker info` output, I think that closes this epic.

[2016-08-01 16:27] sflxn commented on #1739
After chatting with @hickeng on Friday, I realized the container logs already has all historical outputs of stdout and stderr.  It's just not tagged by stream and not timestamped.

[2016-08-01 17:05] fdawg4l commented on #1758
The docker invocation is missing the volume store name.  In your example, from `vic-machine`, you specified `vicvol` as the volume store name.  Try:

`docker -H 10.117.4.161:2375 volume create --name testvol --opt VolumeStore=vicvol`

We use volume store names to be able to specify more than 1 location that you may want to create volumes on.  For instance
`vic-machine create ... --volume-store "fa

[2016-08-01 17:05] #1758 closed

[2016-08-01 17:07] fdawg4l commented on #1758
@matthewavery we need to make the error messages here more useful to the user.  If they are missing the volume store name we should probably mention what volume stores exist.

[2016-08-01 18:32] mdubya66 commented on #1625
Delete the VCH and re-install is the current method for patching.

[2016-08-01 18:40] emlin commented on #1166
Network checking is tracked in #802, so I would like to have this track the datastore connection only.

[2016-08-01 18:41] caglar10ur commented on #1755
I'm guessing high load + our big sample size is creating some kind of pressure on the test system an we start to observe high lock contention and things slow down. SIGQUIT suggests that someone else killed the test so guessing drone became impatient.

The summary of that dump follows. I see no data race here, unless I missed it

[code]

[2016-08-01 18:43] emlin commented on #1166
@hickeng for the datastore connection checking, if we had this checking, user will have to use shared datastore in VC env. Is that a common scenario?
Anddo we need to enforce this requirement to all datastore configured? Image store, volume store and container stores?

[2016-08-01 18:45] emlin commented on #1369
Closed for it's by design.

[2016-08-01 18:45] #1369 closed

[2016-08-01 18:52] caglar10ur commented on #1755
Another observation, we are spending a lot of time compiling the same pkgs over and over (as they live in vendor/) for the  individual tests we run. We should first run ```go test -i ...``` install dependencies and then run tests. In this case it is 1.5 min vs. 6 sec. on my linux VM

[2016-08-01 19:33] matthewavery commented on #1758
@reasonerjt all volume-stores are configured at `vic-machine create` time. However, `docker -H 10.117.4.161:2375 volume create --name testvol` does not specify a volume store to create against so `default` is the volume store that is targeted. so, in order to make a volume using the store that was configured you would do. `docker -H 10.117.4.161:2375 volume create --name testvol --opt VolumeStore=

[2016-08-01 20:42] jak-atx commented on #113
@hickeng is this referring to having custom icons (for containerVM and vch) in the left nav tree in the web client?

[2016-08-01 20:52] #1398 closed

[2016-08-01 21:08] emlin commented on #1550
@hickeng @stuclem
For the ls command, what information is required at this moment?
My plan is to go with this format:
[code]

[2016-08-01 21:08] emlin commented on #1550
So far, user is not allowed to enter notes during VCH creation, so we cannot get back any notes during "vic-machine ls"

[2016-08-01 21:18] hmahmood commented on #1715
These lines from the output of vic-machine indicate DNS ips are still not being propagated to the VCH:

[code]
With [build 3487](https://bintray.com/vmware/vic-repo/build/3487):
[code]

[2016-08-01 22:03] hickeng commented on #759
Fixed by #1756

[2016-08-01 22:03] #759 closed

[2016-08-01 22:05] hickeng commented on #1578
@caglar10ur

[2016-08-01 22:25] mdubya66 commented on #1700
if it's low hanging fruit, then approved for GA. Please move it to Backlog or ToDo and mark it as GA milestone.

[2016-08-01 22:42] dougm commented on #1739
Closing as we already have the complete history and we have #1738 to track timestamp support.

[2016-08-01 22:42] #1739 closed

[2016-08-02 00:38] caglar10ur opened #1767 "docker ps panic traces in port-layer.log"
[code]

[2016-08-02 00:39] caglar10ur commented on #1767
we observed this failure after restarting the container vm manually via vc ui and run docker ps

[2016-08-02 01:45] #1311 closed

[2016-08-02 02:18] emlin commented on #1651
@gigawhitlocks Maybe post the new output here, and then it's easy to see if that's good now.

Looks like you used \n in the output, not quite sure if that's a good format. Why you need \n in the log message?

[2016-08-02 02:23] reasonerjt commented on #1758
@fdawg4l @matthewavery thanks a lot!

[2016-08-02 02:45] reasonerjt commented on #1625
Thanks @mdubya66

[2016-08-02 03:50] Bonn93 opened #1768 "Contianers do not start {portlayer : context deadline exceeded.}"
**VIC Version:** 0.5.0

**ESX Version:** ESXi 6.0.0 2494585

**Description:** After installing and inspecting a/ verifying the install, I cannot start any containers. I perform the docker pull busybox, and then attempt a run busybox, the contain appears to be created and initially boots, however after a few seconds, the container is powered off.

I've attached the logs that I can find/see relevant

[2016-08-02 04:15] #1755 closed

[2016-08-02 06:00] #1268 closed

[2016-08-02 06:00] #1320 closed

[2016-08-02 12:57] stuclem opened #1770 "Document usage of volume create"
See https://github.com/vmware/vic/issues/1758 for some useful info about how to use volume create. I think that we need a dedicated topic/section in App Dev about how to use volumes with VIC.

[2016-08-02 12:59] stuclem commented on #837
Partial implementation of https://github.com/vmware/vic/issues/366 is in PR https://github.com/vmware/vic/pull/1765.

[2016-08-02 13:02] stuclem commented on #1550
Looks good to me!

[2016-08-02 13:03] stuclem commented on #842
This is being implemented in https://github.com/vmware/vic/issues/1550

[2016-08-02 13:04] stuclem commented on #845
The check that all hosts in a cluster are in the DVS is in PR https://github.com/vmware/vic/pull/1747.

[2016-08-02 13:05] stuclem commented on #1527
The check that all hosts in a cluster are in the DVS is in PR #1747.

[2016-08-02 13:09] stuclem opened #1771 "Document that vic-machine checks datastore connection"
Per https://github.com/vmware/vic/issues/1166.

[2016-08-02 13:13] stuclem commented on #1507
Thanks @fdawg4l and @matthewavery. If we aren't doing https://github.com/vmware/vic/issues/1679 then I think that we're good from the docs perspective, so you can close this one.

[2016-08-02 13:14] stuclem commented on #1523
https://github.com/vmware/vic/issues/1679 is not being implemented after all.

[2016-08-02 13:21] stuclem commented on #1530
https://github.com/vmware/vic/issues/1744 will change the output of vic-machine create to include the vicadmin address (currently says `Log Server`). Requires an update in the topic on deploying a VCH.

[2016-08-02 15:57] fdawg4l commented on #1507
Awesome.  Thanks @stuclem!

[2016-08-02 15:57] #1507 closed

[2016-08-02 16:58] fdawg4l opened #1772 "Avoid concurrent WriteImage of the same image ID from multiple clients in the PL"
We need a way to prevent clients from downloading the same image ID at the same time.  Add a map of IDs in flight, check against it for every `WriteImage`, and throw an error for subsequent clients trying to write the same ID

[2016-08-02 16:59] fdawg4l commented on #1772
We already have an image cache in the port layer.  This seems like the appropriate place for this map.

[2016-08-02 17:17] #1648 closed

[2016-08-02 17:18] andrewtchin commented on #802
validations listed in this issue are resolved, closing

[2016-08-02 17:18] #802 closed

[2016-08-02 17:27] caglar10ur commented on #1710
@mdubya66 not sure why is this assigned to me and estimated as 2. This was just a placeholder issue to for the overall changes needed in our components. I think this is way bigger than 2 and requires multiple man efforts so I'm removing the milestone and putting it into icebox

[2016-08-02 19:42] fdawg4l opened #1778 "No such image error on successful docker pull"
Reported by @mreferre.  We suspect it's the datastore name, datastore path, or both being passed to `vic-machine create`

[code]

`/vic-machine create --target https://'administrator@vsphere.local:Vmware123!'@192.168.8.211 -i  sharedstorage --name VCH1 --external-network External --bridge-network BridgeVCH1”`

[2016-08-02 19:43] fdawg4l commented on #1778
cc @gigawhitlocks

Ian, I think this issue goes away with your change (#1678).  I'm going to assign this to you to try it with your change and close it if the issue goes away.  If not, feel free to debug or bounce it back to me to take a look at.

[2016-08-02 19:50] hickeng commented on #787
@emlin ContainerNameConvention would be set via vic-machine argument - the default that would provide the pretty name format described in the initial issue would be "{n}-{id}" if we follow the token replace method in my prior comment.

[2016-08-02 20:03] mlh78750 commented on #1778
I'm seeing same for create command on VC 6.5 beta 3:

`Bauxite:~/vicbin/vic-3538 $ docker -H 10.160.19.62:2376 --tls create busybox
Unable to find image 'busybox:latest' locally
latest: Pulling from library/busybox
a3ed95caeb02: Pull complete
8ddc19f16526: Pull complete
Digest: sha256:65ce39ce3eb0997074a460adfb568d0b9f0f6a4392d97b6035630c9d7bf92402
Status: Downloaded newer image for library/busybo

[2016-08-02 20:06] mlh78750 commented on #1778
Also, after you do this on VC 6.5 beta 3, you cannot delete the files in the datastore over the API. I have to login to the esx and rm -rf. Something is getting messed up on the host side. I can provide the logins/ip's for my setup on nimbus if someone wants to look at this.

[2016-08-02 20:16] mlh78750 commented on #1778
After the failure a vic-machine delete has the following error:
`Bauxite:~/vicbin/vic-3538 $ ./vic-machine-darwin delete  --target 10.160.64.44  --name vic-demo --user Administrator@vsphere.local --password 'Admin!23'  --compute-resource /ha-datacenter/host/10.160.6.233/Resources --force
INFO[2016-08-02T15:10:41-05:00] ### Removing VCH ####
INFO[2016-08-02T15:10:48-05:00] Removing VMs
INFO[2016-08

[2016-08-02 20:22] #1335 closed

[2016-08-02 20:48] fdawg4l commented on #1778
From @mreferre

[2016-08-02 20:49] mdubya66 commented on #1768
@hickeng please triage and re-assign to appropriate team member

[2016-08-02 20:50] mdubya66 commented on #1724
assigning to george for initial review. probably needs to be split across several

[2016-08-02 20:51] mdubya66 commented on #1700
@caglar10ur assigning to you

[2016-08-02 20:55] mdubya66 commented on #1745
Removing VIC GA. If this does get pulled into the release to support Harbor then we can have that discussion.

[2016-08-02 21:01] #647 closed

[2016-08-02 21:01] fdawg4l opened #1781 "Allow admin to set capacity for base disk (scratch) via vic-machine"
We need to allow the admin to set the base disk capacity via `vic-machine`.  Currently we use 8gb for the base disk and it's not tunable by the user.

[2016-08-02 21:02] fdawg4l commented on #159
Created #1781 to track the ask for GA.  Removing the GA label for this issue and using #1781 instead.

[2016-08-02 21:02] #362 closed

[2016-08-02 21:03] mdubya66 commented on #741
reopening this as #740 is not complete.

[2016-08-02 21:13] matthewavery commented on #1503
@stuclem There is now a PR out to address this(PR #1782). And we will need to update the documentation on this driver argument. Now the format is <integer><unit>. where the `integer` must be positive. and the unit can be `mb`,`mB`,`MB`,`Mb`(and so on for `gb` and `tb`). If we want that to be more restrictive just let me know.

[2016-08-02 21:37] mlh78750 commented on #1778
I installed and deleted with the binaries versions and didn't mix. There is still a problem here with VC targets.

[2016-08-02 21:48] corrieb commented on #1778
We should look at why our integration tests failed to pick this up

[2016-08-02 22:26] caglar10ur opened #1785 "Enable TestConcurrency test"
It's disabled for now

[2016-08-03 00:48] #906 closed

[2016-08-03 00:56] npakrasi commented on #1695
Added to the docker run command in the [Supported Docker Commands](https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_app_dev/container_operations.md) table.

[2016-08-03 01:33] sflxn commented on #366
In my WIP PR, I am checking for the end of log streaming by waiting on Swagger to receive an EOF.  This is an area we may have to tweak.

[2016-08-03 02:02] npakrasi commented on #866
Added more composite commands to docker run in the Supported Docker Commands table.

[2016-08-03 02:18] npakrasi commented on #1699
Added to Supported Docker Commands table under Future Release and will move it to Supported in GA when it is.

[2016-08-03 02:59] #1159 closed

[2016-08-03 03:52] hickeng opened #1786 "Guest shutdown error"
Hang when using guest shutdown:

![image](https://cloud.githubusercontent.com/assets/3923729/17353179/fb2fd086-58f1-11e6-91a9-20faff156335.png)

From the VM event log:
[code]

The container debug log (only has info level logging - console has more data for the portion displayed):
[code]

The `lossiness check PASSED` message means we're in the midst of establishing a backchannel connection for the

[2016-08-03 04:02] hickeng opened #1787 "vic-machine delete leaving containers behind"
I'm seeing container remnants left on several of the CI systems. Some of them cannot easily be identified as they are tagged as _invalid_, meaning that the corresponding datastore files have been deleted directly.

I'm also seeing empty VCH-X-Y resource pools left lying around on the systems, and containerVMs that have been orphaned (resource pool deleted before the VMs)

However some of them are

[2016-08-03 04:16] hickeng opened #1788 "vic-machine create test doesn't clean up failed VCHs"
I'm seeing the following from https://ci.vmware.run/vmware/vic/3578
[code]

However when I check vic-machine.log I see that VCH-3578-1398 installed successfully without error - the error turns out to have been during pull (the regression tests).

Suite teardown ran, but it didn't remove this failed VCH.

[2016-08-03 04:16] hickeng commented on #1788
@mhagen-vmware assigning to you for decision on whether this is a test error, or an issue with the robot Util functions.

[2016-08-03 04:25] hickeng opened #1789 "Session exit is closing application stdout on appliance"
Follow on issue from #1788

From journalctl output for init:
[code]

[2016-08-03 04:26] hickeng opened #1790 "Close of closed channel"
Follow on issue from #1788

From journalctl output - when looking into why vic-init didn't keep relaunching the components:
[code]

[2016-08-03 04:35] hickeng opened #1791 "network unreachable on appliance"
This is the original error that caused #1788.

The vic-machine basic create test failed due to a failed pull subsequent to an install. We've been having issues with VCH not responding and a corresponding failure to collect log bundles so hopefully this explains why. Due to the #1788 failure this VCH was left lying around and I was able to collect the logs after the fact:

[vic-logs.zip](https://gi

[2016-08-03 04:51] hickeng commented on #1791
@hmahmood I've assigned this to you - it's looks similar to #1397 in symptom, however we do have an IP. I do see us setting the IP twice however:
[code]

Shortly after the log snippet above we launch the port layer but get:
[code]

A quick scan of the journalctl output shows that we've still got DHCP active in some fashion:
[code]

[code]

[2016-08-03 04:56] hickeng commented on #1791
Don't know if it's relevant but I'm seeing two dhcp related files, the one from our repo and another:
[code]

That latter file will match with `external`...

[2016-08-03 04:59] hickeng commented on #1790
@dougm Not sure what the path is to hit this, but it's happening...

[2016-08-03 05:38] #1267 closed

[2016-08-03 11:31] stuclem commented on #848
https://github.com/vmware/vic/issues/787 is implemented in PR https://github.com/vmware/vic/pull/1761.

[2016-08-03 11:33] stuclem commented on #1317
Firewall check from https://github.com/vmware/vic/issues/1229 is partially addressed in PR https://github.com/vmware/vic/pull/1775.

[2016-08-03 11:37] stuclem commented on #1526
https://github.com/vmware/vic/issues/1503 is implemented in PR https://github.com/vmware/vic/pull/1782.

[2016-08-03 11:38] stuclem commented on #1503
Thanks @matthewavery, I have moved the associated doc issue (https://github.com/vmware/vic/issues/1526) into the To Do queue.

[2016-08-03 11:41] stuclem commented on #1469
This is being implemented in https://github.com/vmware/vic/issues/1781 and not in https://github.com/vmware/vic/issues/159.

[2016-08-03 11:42] stuclem commented on #1282
Per https://github.com/vmware/vic/issues/1745, Harbour integration might not happen for GA.

[2016-08-03 11:45] stuclem commented on #845
https://github.com/vmware/vic/issues/802 is now complete.

[2016-08-03 13:23] stuclem commented on #1523
There are two aspects to this from a docs perspective:

- Inform app developers how to find the list of volume stores that they can use.
- Inform vSphere Admins of the volumes that have been created in the designated volume store.

[2016-08-03 14:31] jak-atx commented on #575
THIS PORTLET IS NOW OBSOLETE AS WE ARE SHOWING THIS INFO ON THE "CONTAINER" PORTLET - CLOSING THIS.

[2016-08-03 14:31] #575 closed

[2016-08-03 14:32] andrewtchin commented on #1014
duplicate of #1166

[2016-08-03 14:32] #1014 closed

[2016-08-03 14:33] jak-atx commented on #514
We were able to get all of the portlet date we need via config.extraConfig attributes

[2016-08-03 14:33] #514 closed

[2016-08-03 14:35] jak-atx commented on #532
Gathering all current documentation for the UI plugin

[2016-08-03 14:57] emlin commented on #1787
@mdubya66 We'll need more triage for it, to make correct estimation.

[2016-08-03 15:20] hmahmood commented on #1791
There should be only one file under /etc/systemd/network -- no-dhcp.network. I will take a look at how that other file ended up there since I am pretty sure I removed it.

[2016-08-03 15:44] sgairo commented on #1530
@stuclem We are currently still working out what categorizes a status as green/orange/red for each health report. We will surely send it your way once we have it.

[2016-08-03 15:49] hmahmood commented on #1791
I just installed a new VCH, and don't see the extra file in /etc/systemd/network. I think this could be the same as #1568 .

[2016-08-03 16:00] #1375 closed

[2016-08-03 16:00] #1374 closed

[2016-08-03 16:13] stuclem commented on #823
https://github.com/vmware/vic/issues/575 is now obsolete.

[2016-08-03 17:16] caglar10ur commented on #858
vmotion disconnects file backed serial devices after the migration hence we are potentially losing data.

[2016-08-03 17:34] stuclem commented on #1530
@sgairo thanks!

[2016-08-03 17:37] stuclem commented on #924
Specs for the UI will be listed in https://github.com/vmware/vic/issues/532

[2016-08-03 17:40] stuclem commented on #932
https://github.com/vmware/vic/issues/1548 is implemented in PR https://github.com/vmware/vic/pull/1793

[2016-08-03 17:45] #1790 closed

[2016-08-03 18:30] caglar10ur commented on #1593
duplicate of #1578 closing

[2016-08-03 18:30] #1593 closed

[2016-08-03 18:53] caglar10ur commented on #1415
closing as this is no longer an issue

[2016-08-03 18:53] #1415 closed

[2016-08-03 18:57] caglar10ur commented on #377
this is already in, closing

[2016-08-03 18:57] #377 closed

[2016-08-03 18:57] #1548 closed

[2016-08-03 18:58] caglar10ur commented on #641
This can easily done with the go generate trick imagec uses https://github.com/vmware/vic/blob/master/cmd/imagec/doc.go

[2016-08-03 19:00] caglar10ur commented on #1183
can't we add a new serial for init.log and dump it there?

[2016-08-03 19:54] mdubya66 commented on #711
This needs an estimate

[2016-08-03 19:56] jzt commented on #1298
https://github.com/docker/docker/tree/master/distribution/xfer

This package is what docker uses to deal with the 2nd issue here.

[2016-08-03 19:56] mdubya66 commented on #116
This needs an estimate

[2016-08-03 20:01] mdubya66 commented on #740
Needs an estimate

[2016-08-03 20:09] mdubya66 commented on #1331
@hickeng who should take this on? is it GA?

[2016-08-03 20:09] mdubya66 commented on #1330
Emma, please take a look and assign as appropriate.

[2016-08-03 20:10] emlin opened #1797 "vic-machine update volume-store"
Had one discussion with @matthewavery this afternoon.
So far, customer has to carefully design their volume store usage during VCH deployment. After deployment, if user didn't have any volume store configured, or consumed too many volume store capacity, there is no way to add any other volume store into existing VCH.

So this issue is to track volume-store update requirement for vic-machine.
User

[2016-08-03 20:10] mdubya66 commented on #1387
@hickeng who should take this on?

[2016-08-03 20:12] #1791 closed

[2016-08-03 20:16] mdubya66 commented on #1394
This is fixed. Closing.

(mwilliamson) dubs:~/Downloads/vic $ ./vic-machine-darwin create --target 172.16.127.129 --user root --password 'virtualized' --image-datastore datastore1
INFO[2016-08-03T13:15:28-07:00] ### Installing VCH ####
INFO[2016-08-03T13:15:28-07:00] Generating certificate/key pair - private key in ./virtual-container-host-key.pem
INFO[2016-08-03T13:15:28-07:00] Validating supplie

[2016-08-03 20:16] #1394 closed

[2016-08-03 20:17] fdawg4l commented on #711
Looks like this is done.

[2016-08-03 20:17] #711 closed

[2016-08-03 20:17] mdubya66 commented on #1457
This needs an estimate @sflxn

[2016-08-03 20:20] fdawg4l commented on #1563
@matthewavery looks related to other sanitation that I think you're looking at.

[2016-08-03 20:23] mdubya66 commented on #856
@anchal-agrawal give this one a go

[2016-08-03 20:23] mdubya66 commented on #1183
who should take this on @hickeng?

[2016-08-03 20:25] mdubya66 commented on #445
I think we can close this. We have the document. @hickeng?

[2016-08-03 20:29] matthewavery commented on #1162
Looks like this is an old ticket. I do not think we used host names

[2016-08-03 20:30] #1162 closed

[2016-08-03 20:37] caglar10ur opened #1799 "make dns tests more resilient to network problems and enable them"
[code]

[2016-08-03 20:44] andrewtchin opened #1800 "vDS validation output error"
[code]

[code]

on vC this happens when trying to deploy and not specifying a bridge network and when specifying a bridge network that isn't a DPG

[2016-08-03 21:25] hickeng opened #1801 "Re-launch failure in cmd/tether unit test"
cmd/tether issue from build:
[code]

[2016-08-03 21:28] #1318 closed

[2016-08-03 21:34] jooskim commented on #1590
Currently having a version incompatibility issue where the test framework is targeted for vCenter 6.5 whereas the dev environment is on vCenter 6.0. I asked Tsvetelina from the Sofia team where we could get the version for vCenter 6.0.

[2016-08-03 21:45] anchal-agrawal commented on #1033
Can't reproduce this anymore, this was fixed in #1333.

[2016-08-03 21:45] #1033 closed

[2016-08-03 22:04] jooskim commented on #531
Test procedure is documented here:
https://docs.google.com/document/d/19Naz-E-u4BuJ0f8xbzWcp-UOTGksvOvhf1MI_u4rzuk

Finished:
1. Installing and configuring NGC test framework for vCenter 6.5
2. Writing Test 1, 2.1, 2.2, 2.3 and testing them on vCenter 6.5

Todo:
1. Writing Test 3
2. Installing and configuring NGC test framework for vCenter 6.0
3. Confirming that the tests work fine
4. Integrating

[2016-08-03 22:48] dougm commented on #269
Spoke w/ Clint, this is no longer needed.

[2016-08-03 22:48] #269 closed

[2016-08-03 23:34] npakrasi commented on #1598
Updated Docker info in Supported Docker Commands table to include VCH info and not reveal vSphere datastore paths.

[2016-08-04 00:52] bobbyjunzhang commented on #1745
In another work stream targeting VMworld US, the Harbor team is actively working on deploying Harbor to VIC via docker run (instead of docker compose.) Very likely we will have a working solution by August. If this timeline works for you, the VIC team should certainly consider to include Harbor in VIC GA.

[2016-08-04 00:54] bobbyjunzhang commented on #1282
More discussions at #1745 to re-consider Harbor for VIC GA.

[2016-08-04 01:28] caglar10ur commented on #1799
Just to make it clear, there is nothing wrong with the current tests. This bug is adding some resiliency for the network problems so that tests won't panic. But they will continue to fail under those conditions.

[2016-08-04 03:00] emlin commented on #1366
Supposed this is to add more information to current log zip file, including VCH and container relationship, and sanitized VCH configuration.

@fdawg4l Is the container configuration included here?

[2016-08-04 03:04] emlin commented on #1330
@gigawhitlocks is the port-layer change included in this issue?

[2016-08-04 03:07] emlin commented on #116
@mdubya66 Still need more clarification for what to do.
@hickeng We already did lots of validation, status report in vic-machine, not quite sure if this is still necessary at this time.

[2016-08-04 03:12] emlin commented on #631
@cgtexmex currently, it is by design. User need to explicitly run vic-machine delete to delete anything created by one failed deployment.
If there is anything cannot be removed by vic-machine delete, think that's a bug. But for this, it is by design.

[2016-08-04 03:12] #631 closed

[2016-08-04 11:11] stuclem opened #1806 "Document the VCH config log bundle"
Per https://github.com/vmware/vic/issues/1366. This appears to be in addition to the other logs on vicadmin. We need to doc how to find and interpret it.

[2016-08-04 12:25] stuclem opened #1807 "Document that you can use network name or ID with docker network rm"
Per https://github.com/vmware/vic/issues/1318 and PR https://github.com/vmware/vic/pull/1795. Requires an update in the table of supported Docker commands.

[2016-08-04 12:38] stuclem opened #1808 "Document vic-machine update volume-store"
Per https://github.com/vmware/vic/issues/1797. No milestone yet, so not sure whether this will be in GA.

[2016-08-04 14:23] stuclem commented on #932
See also https://github.com/vmware/vic/issues/1758

[2016-08-04 14:23] stuclem commented on #1770
This is a dup of https://github.com/vmware/vic/issues/932.

[2016-08-04 14:23] #1770 closed

[2016-08-04 14:54] matthewavery commented on #1562
I need to update the integration tests for the `docker volume` call to check this.

[2016-08-04 15:58] stuclem commented on #1522
https://github.com/vmware/vic/issues/1679 and PR https://github.com/vmware/vic/pull/1705 were abandoned, as `docker volume inspect` will provide the volume store info.

[2016-08-04 16:30] sgairo opened #1810 "Vic Admin not showing Font Awesome visuals"
![image](https://cloud.githubusercontent.com/assets/19394901/17409893/ca5444b0-5a36-11e6-825c-f83731d6d15a.png)

[2016-08-04 16:30] sgairo commented on #1810
Should be checks, not squares

[2016-08-04 16:36] mreferre commented on #1568
I came to this github issue by googling the error message I am getting in my (nested) environment:

    root@ubuntu:/go/src/github.com/vmware/vic/bin# docker --tls run -p 80:80 -d nginx
    Unable to find image 'nginx:latest' locally
    latest: Pulling from library/nginx
    a3ed95caeb02: Pull complete
    51f5c6a04d83: Pull complete
    51d229e136d0: Pull complete
    bcd41daec8cc: Pull complete

[2016-08-04 16:37] mreferre commented on #1568
I think we could set a default timeout (30 secs) and then give an option (through a vic-machine parameter) to increase it.

[2016-08-04 17:44] jzt opened #1813 "ContainerStop should implement timeout"
Currently VIC's `docker stop -t <timeout in seconds>` does not honor the timeout.

We need to add a timeout parameter to the portlayer `Commit` call and use it in places where a timeout can be supplied.

[2016-08-04 17:56] sflxn commented on #366
I am going to make the docker personality output the following errors if user uses --timestamps (also -t) or --since.

"vSphere Integrated Container does not yet support timestampped logs."

[2016-08-04 18:13] jzt commented on #1645
@hickeng This relies on `ContainerWait` (#384) being implemented. `docker run --rm` uses it to wait for the status code from a container exiting.

[2016-08-04 20:19] mdubya66 commented on #1745
adding @corrieb and @karthik-narayan

[2016-08-04 20:19] mdubya66 commented on #1282
adding @corrieb and @karthik-narayan

[2016-08-04 20:39] anchal-agrawal commented on #524
@jzt Looks like VIC is pulling one extra layer now - `a3ed95caeb02`. For `ubuntu`:

Docker:
[code]

VIC:
[code]

I can reproduce this while pulling `tomcat` as well. The only extra layer that VIC is pulling in both cases is `a3ed95caeb02`. I'm not sure what that is for.

[2016-08-04 20:42] hickeng opened #1817 "Tether restart test failure"
https://ci.vmware.run/vmware/vic/3641

[code]

[2016-08-04 20:44] mdubya66 commented on #373
@hickeng what to do with this one

[2016-08-04 20:46] mdubya66 commented on #381
@hickeng please review and re-assign or icebox

[2016-08-04 20:46] mdubya66 commented on #477
@hickeng please review and assign or icebox

[2016-08-04 20:49] mdubya66 commented on #524
@jzt please triage and re-assign if you aren't up to it :)

[2016-08-04 20:51] mdubya66 commented on #371
@hickeng please review.

[2016-08-04 20:54] mdubya66 commented on #1517
re-assigning to hickeng to decide who should take it on

[2016-08-04 20:54] mdubya66 commented on #368
@hickeng let's get this one assigned.

[2016-08-04 20:56] mdubya66 commented on #596
please assign @hickeng

[2016-08-04 20:56] mdubya66 commented on #598
please assign @hickeng

[2016-08-04 20:57] mdubya66 commented on #392
please assign @hickeng

[2016-08-04 21:00] fdawg4l opened #1819 "Create volumes from VOLUME command in image metadata"
Images can include a VOLUME which gets created when then container is started.  They're anonymous volumes and the image expects them to exist at the mount point specified AND include the data which  may already exist in that folder.

[2016-08-04 21:06] fdawg4l commented on #374
The first 3 are done.  The last one is TBD.  In any case, this is a dup of the issues mentioned.  Closing.

[2016-08-04 21:06] #374 closed

[2016-08-04 21:26] karthik-narayan opened #1821 "No such image error on docker run"
Running the vic-machine command as listed below is successful

Karthik-MB13:vic knarayan$ ./vic-machine-darwin create --target=10.xxx.xxx.xxx --user=Administrator@vsphere.local --image-datastore=local-0 -b=DPortGroup --use-rp --external-network=DPortGroup1 -name=test1

However a docker run command fails.

Karthik-MB13:vic knarayan$ docker --tls run -it busybox
Unable to find image 'busybox:latest'

[2016-08-04 21:38] mreferre opened #1822 "Error response from daemon: server error from portlayer : context deadline exceeded"
I am using a recent build (1 week) old and I keep hitting what appears to be timeout issues.

This is a good example of it:

     root@ubuntu:/go/src/github.com/vmware/vic/bin# docker --tls run -d vmwarecna/nginx
     561914bca648562c43df58c5b513693be422c13776bd9f1d6192c0b15cd3ec56
     root@ubuntu:/go/src/github.com/vmware/vic/bin# docker --tls run -d vmwarecna/nginx
     f646d5b158813f77af2a4ac0

[2016-08-04 22:04] mhagen-vmware opened #1823 "Error response from daemon: server error from portlayer : [DELETE /containers/{id}][500] containerRemoveInternalServerError"
Looks like failed to stop the container properly before trying to remove failed:
[integration_test_logs_3662_1470347704.zip](https://github.com/vmware/vic/files/402800/integration_test_logs_3662_1470347704.zip)

[code]

[2016-08-04 22:30] #1101 closed

[2016-08-04 23:47] jzt commented on #524
@anchal-agrawal Yeah, that is to be expected right now. The `a3ed` layer you are seeing is the "empty layer", which is basically a layer in which a command was run but the filesystem did not change.

In late June/early July, Docker switched to using schema v2 manifests, which omit the empty layer. The image metadata format is different, too, in that it does not include empty layer diffID's, but it

[2016-08-04 23:47] jzt commented on #524
cc @mdubya66

[2016-08-05 00:15] jzt commented on #1098
This has been added to all implemented persona operations involving images and containers except for `ContainerSignal`, which I don't think is called directly from the CLI. It is currently only called by `ContainerKill`, which uses the cache and thus can be called with container name or partial ID.

This issue can be closed.

[2016-08-05 00:26] hickeng commented on #1823
The full portion of the relevant hostd.log fragment is:
[code]

[2016-08-05 00:28] hickeng commented on #1823
It looks like the incorrect password is from vicadmin and probably not related to the VM invalid state issue.

[2016-08-05 00:59] #787 closed

[2016-08-05 09:43] stuclem commented on #924
https://github.com/vmware/vic/pull/1690 is merged.

[2016-08-05 09:46] stuclem opened #1827 "Document how VIC handles images that contain volumes"
Per https://github.com/vmware/vic/issues/1819. No milestone yet.

[2016-08-05 09:50] stuclem opened #1828 "Document docker container pause"
Per https://github.com/vmware/vic/issues/381. This is in the table of supported Docker commands but is marked as "Future Release". Looks like it is now in GA, but it might get iceboxed.

[2016-08-05 09:55] stuclem commented on #366
@sflxn you're missing an S at the end of "vSphere Integrated Container**s**" (just in case you cut and paste this into the code from your comment above).

[2016-08-05 09:56] stuclem commented on #837
Looks like  the `docker logs --timestamps` (also -t) and `--since` options will not work for GA, so this needs to be called out in the doc.

[2016-08-05 10:12] stuclem commented on #842
This is still in progress on the dev side, so moving back to Backlog.

[2016-08-05 11:19] stuclem opened #1829 "Rename vic-create --pool-xxx options to vch-xxx?"
I initially thought that you had to use the `pool-xxx` options in conjuction with `--use-rp`. But, I just tested them with and without `--use-rp` and they worked in both cases (which shouldn't have surprised me because I know that a vApp is just a fancy resource pool).

Since the `pool-xxx` options can be applied to either the regular vApp or to the resource pool (if you use `--use-rp`), I think t

[2016-08-05 11:48] cgtexmex opened #1830 "Container cache to support restart"

[2016-08-05 11:54] cgtexmex opened #1831 "Port layer event stream"
Implement event streaming from the vSphere infrastructure to the port layer.  Provide the necessary framework to allow subscriptions, notifications and event resolution.

[2016-08-05 11:57] cgtexmex opened #1832 "Relocate port layer container type and container cache"
Currently the Container type and cache resides in the exec portion of the port layer.  Refactor so that they are both accessible from all portions of the port layer.

This will provide a common Container Type for the port layer and a centralized cache.

[2016-08-05 12:03] cgtexmex commented on #1329
Since this initial event stream will only deal with the exec layer, I've changed the name of the issue.  Subsequent issues for the other layers will be created.

[2016-08-05 12:07] cgtexmex opened #1833 "Integrate vSphere event stream with Network Layer"
The network layer should subscribe to events and take the necessary actions as it pertains to the following:

- unbind of IP address on power off
- update of DNS

Additional detail will need to be identified.

[2016-08-05 12:42] stuclem commented on #849
https://github.com/vmware/vic/issues/773 has moved back to backlog, so moving this out of To Do. In the interim, I have added that datastore folders are not supported yet in the description of `image-datastore`.

[2016-08-05 12:44] stuclem commented on #981
Added in the topic on prereqs.

[2016-08-05 12:45] mreferre commented on #1822
After further testing in my (nested) environment I am leaning to conclude that the problem is due to using the NFS shared storage (provided by a VM running alongside the ESXi hosts).

To exercise the setup I am using a script that deploys 10 containers:

      for i in {0..9}
      do
      echo -n "instantianting container: nginx$i - " & docker --tls run -d -p 8$i:80 --name nginx$i vmwarecna/ngin

[2016-08-05 12:48] stuclem commented on #1743
Added the following in the description of the different datastore options:

"vSphere Integrated Containers supports all alphanumeric characters, hyphens, and underscores in datastore paths and datastore names."

[2016-08-05 13:11] stuclem commented on #845
Added the following section in the topic on prereqs for deployment. @hickeng is this OK?:

## ESXi Host Requirements ##

To be valid targets for virtual container hosts and container VMs, standalone ESXi hosts and all ESXi hosts in vCenter Server clusters must meet the following criteria:

- All ESXi hosts must be attached to shared storage for use as container datastores, image datastores, and vo

[2016-08-05 13:29] stuclem commented on #1599
Added the following to the descriptions of the vic-machine create options. @hmahmood, is this OK?

### `bridge-network-range` ###

Short name: `--bnr`

The range of IP addresses that container VMs can use if the network that you specify in the `bridge-network` option does not support DHCP. If you do not specify this option, the IP range for container VMs is 172.16.0.0/12.

When you specify the bri

[2016-08-05 13:34] stuclem commented on #1713
Added the remaining short names in https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md

[2016-08-05 13:49] stuclem commented on #1599
You can see this doc in situ here: https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md#bridge-network-range

[2016-08-05 13:49] stuclem commented on #845
You can see this doc in situ here: https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md#bridge-network-range

[2016-08-05 13:50] stuclem commented on #981
You can see this doc in situ here: https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vic_installation_prereqs.md#supported-platforms-for-vic-machine

[2016-08-05 13:51] stuclem commented on #1743
You can see this doc in situ here: https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md#image-datastore

[2016-08-05 13:52] mdubya66 commented on #1823
assigning to @hickeng for initial triage

[2016-08-05 14:14] emlin commented on #1829
👍 +1

[2016-08-05 14:16] emlin commented on #1829
@hickeng Did we get feedback on this vApp vs RP question? Can we remove the use-rp option at this time?

[2016-08-05 14:24] mdubya66 commented on #1797
@hickeng should this be post GA?

[2016-08-05 14:27] mdubya66 commented on #1821
@hickeng for triage

[2016-08-05 14:29] mdubya66 commented on #1822
@hickeng for triage

[2016-08-05 15:03] #856 closed

[2016-08-05 15:08] #1717 closed

[2016-08-05 15:38] hmahmood commented on #1599
A couple of comments: bridge networks never use DHCP, so that should not be mentioned. Also, the IP range is for bridge networks only; bridge networks are allocated from this range. For example, given a range of 172.16.0.0/12, the following ranges will be allocated to bridge networks: 172.16.0.0/16, 172.17.0.0/16, and so on, up to 172.31.0.0/16 (up to 16 networks can be created).

[2016-08-05 15:43] anchal-agrawal commented on #1735
I can take this up.

[2016-08-05 16:48] hickeng opened #1834 "Regression test for collection of container logs"
We have seen repeated regressions when it comes to collection of container logs in the log bundles. This is significantly impacting our ability to diagnose problems that present in the integration tests.

Required:
A regression test that validates all logs are collected successfully. This is to be added to the PR regression set, not just to the main integration test suite.

[2016-08-05 18:08] #1744 closed

[2016-08-05 18:08] #1754 closed

[2016-08-05 18:08] #1810 closed

[2016-08-05 18:49] hickeng commented on #1829
We didn't get much feedback, only the one person had an opinion and that was in favour of vApp.

I'm not a fan of the --pool- option name anyway. It really should be simply:
[code]

The only reason to have anything else is to differentiate from the appliance memory/cpu settings. However it's an appliance and being able to adjust it's mem/cpu is not something that should be needed or available unde

[2016-08-05 22:12] hickeng opened #1836 "nil pointer in vicadmin"
Unable to get a log bundle due to nil pointers in vicadmin:

[code]

[2016-08-05 22:24] hickeng opened #1837 "Tether nil pointer during shutdown"
Failure during vic-machine create tests (https://ci.vmware.run/vmware/vic/3703)

From containerVM console:
![image](https://cloud.githubusercontent.com/assets/3923729/17451801/8a7ed89e-5b1e-11e6-9662-7f52e7bef103.png)

No log bundle available due to #1836 so contianer debug log is:
[code]

There are at least three issues here:
- [x] `Failed to write to log, write /dev/stdout: bad file descriptor`

[2016-08-05 22:44] mreferre opened #1838 "docker info shows misleading information on a CPU/RAM manually capacity-limited VCH."
I have deployed a VCH in the root of the cluster.

if I do a docker info it shows the whole capacity of the cluster in terms of CPU (say 13.000 Mhz) and RAM (say 127GB).

I opened the properties of the VCH vApp, unflag unlimited and I set limits for CPU and RAM (say 5.000 and 20GB).

I was expecting docker info to report now 5.000Mhz and 20GB of RAM but it keeps reporting 13.000/127GB.

Is this th

[2016-08-05 23:32] hickeng opened #1839 "Failed to stop - tools is not running in this virtual machine"
Failed to stop container via tools: https://ci.vmware.run/vmware/vic/3709
Logs: https://console.cloud.google.com/m/cloudstorage/b/vic-ci-logs/o/integration_test_logs_3709_1470439492.tar?authuser=1

From the port-layer log:
[code]

[2016-08-05 23:34] hickeng commented on #1839
@dougm assigned to you with initial estimate. I've not done enough triage to determine whether this is a containerVM side issue or related to timing in the portlayer. We really shouldn't be returning from start until the process is launched so we definitely shouldn't be doing so prior to tools initialization.
We could potentially hit this on the stop path if tools is shut down by main process exit

[2016-08-05 23:35] caglar10ur opened #1840 "The swagger spec at "lib/apiservers/portlayer/swagger.yml" is invalid against swagger specification 2.0"
[code]

[2016-08-06 22:55] mbenachour opened #1842 "client is newer than server (client API version: 1.24, server API version: 1.23)"
running this on OSx 10.11.1
docker client version : Docker version 1.12.0, build 8eab29e, experimental

when I run a docker --tls ps
I get : Error response from daemon: client is newer than server (client API version: 1.24, server API version: 1.23)

the target is a esxi host .

[2016-08-07 05:16] mdubya66 commented on #1842
Try setting DOCKER_API_VERSION=1.23

[2016-08-08 05:10] Bonn93 commented on #1768
I've setup a Jenkins job to rebuild this each day, it seems to be fixed and working today.

`Client:
 Version:      1.11.2
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   b9f10c9
 Built:        Wed Jun  1 21:20:08 2016
 OS/Arch:      linux/amd64

Server:
 Version:      0.4.0
 API version:  1.23
 Go version:   go1.6.3
 Git commit:   175304a
 Built:        Mon Aug  8 02:53:48 2016
 OS/Arch

[2016-08-08 05:10] #1768 closed

[2016-08-08 08:37] stuclem opened #1843 "Document workaround for "client is newer than server" error"
Per https://github.com/vmware/vic/issues/1842. Will require confirmation from dev/QE about the exact version of Docker that we are using at GA time.

[2016-08-08 09:14] stuclem commented on #1530
https://github.com/vmware/vic/issues/1744 is merged in PR https://github.com/vmware/vic/issues/1811. Install output now says `vic-admin portal` instead of `Log server`.

[2016-08-08 09:30] stuclem commented on #1264
PR https://github.com/vmware/vic/pull/1622 is still open, pending further investigations/changes.

[2016-08-08 09:42] stuclem commented on #1712
The suggestion of valid datastores is merged in PR https://github.com/vmware/vic/pull/1812. Must check whether networks and datacenters are also suggested.

[2016-08-08 12:46] stuclem opened #1844 "Document any changes to vic-machine create memory and CPU options"
Per https://github.com/vmware/vic/issues/1829, the way we set the memory and CPU values on the appliance/vApp might change.

[2016-08-08 13:50] mhagen-vmware opened #1845 "Write and Execute PM/User/Demo Test Plan"
As a TME, PM or SE there are certain scenarios that I will be running through to demonstrate the value of VIC to a customer, I want to be ensured that those scenarios are tested and working before I attempt this.

[2016-08-08 13:52] mhagen-vmware opened #1846 "Write Stress Test Plan"
As a customer of VIC, I want to be assured that VIC has been put through an exhaustive set of stress tests so that I can be assured that it works under extreme conditions and fails gracefully.

[2016-08-08 13:53] mhagen-vmware opened #1847 "Execute Stress Test Plan"
As a customer of VIC, I want to be assured that VIC has been put through an exhaustive set of stress tests so that I can be assured that it works under extreme conditions and fails gracefully.

Depends on #1846

[2016-08-08 13:55] mhagen-vmware opened #1848 "Write and execute longevity test plan"
As a customer of VIC, I want to be assured that VIC has been put through a longevity test so that I can be assured that it works for long periods of time without failure.

[2016-08-08 13:59] mhagen-vmware opened #1849 "Write and execute dogfood test plan"
As a developer on VIC before deploying VIC into our development process, I want to be assured that it has been tested to work so that we have a reasonable belief that it won't halt development once deployed.

[2016-08-08 14:22] mdubya66 commented on #1842
VIC currently supports 1.11 but will work with 1.12 with the above workaround. @stuclem do we document the version of docker we rely on?

[2016-08-08 14:41] stuclem commented on #1842
@mdubya66, I thought that we did, but it's not there any more (maybe that was just for tech preview). Will make sure that we do before we publish doc for 0.5.

[2016-08-08 14:43] stuclem opened #1850 "Document the currently supported Docker version"
Per https://github.com/vmware/vic/issues/1842, we need to add that we currently support Docker 1.11 in the topic on Supported Docker Commands. Also need to state that it will work with 1.12 with the workaround that we'll document in the context of https://github.com/vmware/vic/issues/1843.

[2016-08-08 14:52] mhagen-vmware commented on #1823
Still being seen in CI:

[integration_test_logs_3713_1470506382.zip](https://github.com/vmware/vic/files/407048/integration_test_logs_3713_1470506382.zip)

[2016-08-08 14:52] mhagen-vmware commented on #1822
Still being seen in CI:
[integration_test_logs_3709_1470439492.zip](https://github.com/vmware/vic/files/407049/integration_test_logs_3709_1470439492.zip)

[2016-08-08 15:02] stuclem commented on #1523
Reviewed by @matthewavery in https://github.com/vmware/vic/issues/1809.

[2016-08-08 15:03] stuclem commented on #932
Reviewed by @matthewavery in https://github.com/vmware/vic/issues/1809.

[2016-08-08 15:03] stuclem commented on #1526
Reviewed by @matthewavery in https://github.com/vmware/vic/issues/1809.

[2016-08-08 15:03] stuclem commented on #1522
Reviewed by @matthewavery in https://github.com/vmware/vic/issues/1809.

[2016-08-08 15:31] mhagen-vmware commented on #1813
dupe of https://github.com/vmware/vic/issues/1321 ?

[2016-08-08 15:40] matthewavery commented on #1564
@mhagen-vmware currently we are really just ignoring the driver argument. I will look at this, shouldn't be a hard fix. Then we can assume the `default` driver and the ` vsphere` driver are the targets. I have this marked as lower priority in my list.

[2016-08-08 15:50] mhagen-vmware commented on #1083
dupe of #1054 ?

[2016-08-08 15:53] mhagen-vmware commented on #524
@jzt close this then?

[2016-08-08 16:31] hmahmood commented on #1749
Don't reproduce this anymore. However, there is an unrelated bug that I ran into that I will file a separate bug for.

[2016-08-08 16:31] #1749 closed

[2016-08-08 16:33] hmahmood opened #1853 "extraconfig package pointer serialization/deserialization is not symmetric"
When serializing a `nil` pointer, the extraconfig package will skip writing its key to guestinfo. However, when deserializing the corresponding pointer, if the key does not exist in guestinfo, extraconfig will still allocate an object to assign to the pointer.

[2016-08-08 16:52] stuclem commented on #981
Merged in https://github.com/vmware/vic/pull/1809.

[2016-08-08 16:52] #981 closed

[2016-08-08 16:53] stuclem commented on #1743
https://github.com/vmware/vic/pull/1809

[2016-08-08 16:53] #1743 closed

[2016-08-08 16:53] stuclem commented on #1713
https://github.com/vmware/vic/pull/1809

[2016-08-08 16:53] #1713 closed

[2016-08-08 16:53] stuclem commented on #1526
Merged in https://github.com/vmware/vic/pull/1809

[2016-08-08 16:53] #1526 closed

[2016-08-08 16:53] stuclem commented on #1523
Merged in https://github.com/vmware/vic/pull/1809

[2016-08-08 16:53] #1523 closed

[2016-08-08 16:53] stuclem commented on #1522
Merged in https://github.com/vmware/vic/pull/1809

[2016-08-08 16:53] #1522 closed

[2016-08-08 16:54] stuclem commented on #932
Merged in https://github.com/vmware/vic/pull/1809

[2016-08-08 16:54] #932 closed

[2016-08-08 16:54] stuclem commented on #1544
Reopening this one to track whether this option stays or goes....

[2016-08-08 16:55] hmahmood commented on #1222
We are not going to support overlay networks for GA. Is this just a wording issue? i.e. do we need to change the error message?

[2016-08-08 16:57] stuclem commented on #1843
Added new topic:
https://github.com/vmware/vic/blob/master/doc/user_doc/vic_app_dev/ts_docker_version_error.md

@mdubya66 does this cover it?

[2016-08-08 17:04] matthewavery commented on #1241
This should be doable by locating the ControllerManager object for a vm. Looks like the image mounting already is aware of where this is. Use that as an example for the volume joins and build the helper to be used everywhere where we need to locate the controller key.

[2016-08-08 17:07] jooskim opened #1856 "Test VIC UI against vCenter 5.5"
1. Figure out what official builds to get started with
2. Install vCenter and ESXi through Nimbus
3. Install VIC (VCH and plugin)
4. Try running the 6.0-based tests against 5.5
5. TBD

[2016-08-08 17:17] mhagen-vmware commented on #1222
I am expecting something like the following error message, when I haven't setup an overlay network yet:
    #Should Contain  ${output}  Error response from daemon: failed to parse pool request for address space "GlobalDefault" pool "" subpool "": cannot find address space GlobalDefault (most likely the backing datastore is not configured)

[2016-08-08 17:37] hickeng commented on #1838
@mreferre This is not expected behaviour - it should show the limits if set.

[2016-08-08 17:52] jooskim commented on #1856
Can't seem to find a 5.5 build for vCenter on Buildweb. Reached out to the serenity group.

[2016-08-08 18:23] mdubya66 opened #1857 "remove outdated comment"
remove outdated comment to bonneville

https://github.com/vmware/vic/blob/6279b8c95d192c63c3ab7bcc81d5dc678edd911a/lib/spec/spec.go#L139

[2016-08-08 18:52] emlin opened #1859 "Missing functions in vcSim currently found in vic-machine unit test"
Here list the missing functions required by vic-machine unit test:
- [x] VirtualDeviceList.FindIDEController
- [x] Host.ConfigManager.NetworkSystem, and create distributed virtual switch and distributed port group
- [x] Read and write VM guestinfo
- [x] HostDatastoreBrowser:hostdatastorebrowser-34 does not implement: SearchDatastoreSubFolders_Task
- [x] SearchIndex. Error message: "no such object:

[2016-08-08 18:57] jzt commented on #524
Yeah 👍

[2016-08-08 18:57] #524 closed

[2016-08-08 18:59] emlin commented on #1859
@dougm I opened one bug for you, to list all issues I met for vic-machine unit test. Just for your reference.

[2016-08-08 19:26] jooskim commented on #1856
Some initial findings:
1. Plugin cache folder is different from VC 6.0+, which means the installer script needs to be updated
2. The VIC UI plugin has a VC minimum requirement of 6.0 which will need to be adjusted to 5.5

[2016-08-08 19:43] emlin opened #1860 "vic-machine return nil error"
If there are multiple VC clusters exists, and user didn't specify a correct compute-resource, vic-machine create return error message like following:

invalid memory address or nil pointer dereference

[2016-08-08 19:43] #1720 closed

[2016-08-08 19:44] emlin commented on #1860
Andrew, assign to you for this error comes from check VDS code.
thanks

[2016-08-08 20:03] mhagen-vmware opened #1861 "Need to gather host ESX logs in the CI environment"
Life cycle team is debugging some of the errors we are seeing in the CI environment, but they need additional logs in order to be more successful.

[2016-08-08 20:18] karthik-narayan commented on #773
@andrewtchin @emlin I assume that this is the issue we hit with the customer. Could you confirm?

Also @hickeng the customer was using folders in VC to organize their switches. Besides datastores and datacenters, we might also need to account for folders in networking.

[2016-08-08 20:29] emlin commented on #773
@hickeng @karthik-narayan This customer also has network folder

[2016-08-08 20:30] karthik-narayan opened #1862 "vic-machine does not ask for bridge network in certain cases"
When you specify the -n option and use the name of an existing bridge network, vic-machine does not  prompt you for the -b option. This might not be the intended behavior for certain customers.

[2016-08-08 20:58] emlin opened #1863 "Update vic-machine design document"
https://github.com/vmware/vic/blob/master/doc/design/vic-machine.md
This document still contains old message for vic-machine command

[2016-08-08 21:20] hickeng opened #1865 "log which container is being operated on in trace"
Currently the trace output doesn't include which container is being operated on. This makes it almost impossible to trace concurrent operations, and awkward to map even serial operations across components:

Portlayer:

[code]

Personality:

[code]

[2016-08-08 21:47] sflxn opened #1867 "Docker start removed a container that it failed to start"
While trying to do some testing, I ran into a case where I tried to start a container (1st one after vic install).  It failed to start, and vic removed the container.  When I execute docker ps -a, the container is still present, but the backing VM was deleted.  An attempt to start the container again just hung.

steps:

docker --tls create -it busybox /bin/top
docker --tls start <container>

expec

[2016-08-08 21:56] sflxn opened #1868 "After vic initial install, log server unresponsive"
Just built VIC (master) and installed on my nested ESX environment.  What I found is the log sever was unresponsive.  I pulled the vic-init log, and I saw the following panic:

Aug 08 21:49:59 vic-docker vic-init[138]: 2016/08/08 21:49:59 http: panic serving 192.168.218.1:55286: runtime error: invalid memory address or nil pointer
 dereference
Aug 08 21:49:59 vic-docker vic-init[138]: goroutine 24

[2016-08-08 22:20] hickeng opened #1870 "stop should power off VM eventually irrespective of containerVM shutdown"
From #1822

Portlayer stop should eventually power off the VM, irrespective of successful guest halt.

The portlayer log shows us calling stop:
[code]
however there is no matching [END] call so we're never successfully returned.
The pprof trace shows that we're still waiting for the VMs power state to change:
[code]

This could be:
a. the signal was never delivered to the tether but not error was

[2016-08-08 22:25] sflxn opened #1871 "Integration tests fails for docker logs with timestamps and since certain time"
Need to check for a different return error until the portlayer side of docker logs is implemented.

[2016-08-08 22:33] hickeng commented on #1823
There are two portions to this:
- [ ] #1870 to address the portlayer shutdown logic
- [ ] why didn't the container shut down - this is blocked by the lack of collection of container debug logs by vicadmin (#1836 and the corresponding "incorrect username/password" issues)

[2016-08-08 22:35] caglar10ur commented on #1625
closing this as required arguments are in and #1638 tracking the tagging issue

[2016-08-08 22:35] #1625 closed

[2016-08-08 22:36] mdubya66 commented on #1868
could this be a dupe of #1836

[2016-08-08 22:41] sflxn commented on #1868
Yes, it does look similar.  Closing as duplicate.

[2016-08-08 22:41] #1868 closed

[2016-08-08 22:46] mdubya66 commented on #1625
@ reasonerjt is harbor blocked from working with vic because of this or #1638?

[2016-08-08 22:49] #1871 closed

[2016-08-08 22:58] jzt commented on #1640
@hickeng I've been thinking about this and, since this code involves changes to the persona and the portlayer (but not to the cache itself), it feels like it needs an integration test rather than vcsim test. Your thoughts?

[2016-08-08 23:37] sflxn commented on #1687
So, initially, I thought there was something special going on at the shell process (and there may still be something there), but after doing some inspection, I noticed that the container config for the container is different between VIC and regular docker.

For VIC, I got
[code]

For regular Docker, I got,

[code]

This may partially explain why we don't exit immediately.  VIC is going to attempt

[2016-08-09 00:24] #1373 closed

[2016-08-09 00:57] hickeng commented on #1351
The ISO path that's generated is based off the display name, not the actual VM folder path.
This value should be set in lib/install/management/appliance.go:createAppliance once the appliance VM has been created and the concrete path is known.
The appliance.iso path is relative and therefore correct.

[2016-08-09 11:50] stuclem commented on #1599
Updated the doc as follows:

### `bridge-network-range` ###

Short name: `--bnr`

The range of IP addresses that additional bridge networks can use when container application developers use `docker network create` to create new bridge networks. If you do not specify the `bridge-network-range` option, the IP range for bridge networks is 172.16.0.0/12.

When you specify the bridge network IP range,

[2016-08-09 12:26] lazarin opened #1874 "Incorrect datetime format used"
**VIC Version:**

0.4 / build #3411

**Code**

Getting information about container (via docker cli or using remote api) returns the date fields (created, startedat, finishedat) in format different from the RFC3399Nano used by docker daemon : [docker code](https://github.com/docker/docker/blob/master/daemon/inspect.go) / [api](https://docs.docker.com/engine/reference/api/docker_remote_api_v1.24/)

[2016-08-09 14:02] #1863 closed

[2016-08-09 14:29] mdubya66 commented on #1874
We should get this fixed for 1.0

[2016-08-09 14:29] stuclem opened #1876 "Document where to copy certificates"
We need to tell container app developers where to put the *.pem files if they are using a Docker client that is not the one that is shipped with VIC.

[2016-08-09 14:30] mdubya66 commented on #1862
@emlin please triage for GA inclusion

[2016-08-09 14:31] mdubya66 commented on #1842
Closing this as a workaround exists and 1.23 is the planned supported API version

[2016-08-09 14:31] #1842 closed

[2016-08-09 14:31] stuclem opened #1877 "Document how to obtain a VCH address"
We need to tell container application developers how to obtain the address of their VCH.

[2016-08-09 14:34] stuclem commented on #1850
Per https://github.com/vmware/vic/issues/1842, for GA the supported Docker version is 1.11 and the Docker API version  is 1.23.

[2016-08-09 14:35] #1861 closed

[2016-08-09 14:41] mdubya66 commented on #1867
hey @sflxn I tried to reproduce this and couldn't. I ran the two commands (note you missed the container ID in the start part). Checked the console for the VM in the ESXi web interface and I see top runnning.

What did I miss?

I'm running build vic_3711.tar.gz

docker --tls create -it busybox /bin/top
e2e598a117043e68cccdd7adfe995c0ead5d3e5f1eb73c1b8f295574b7bbbe20
(mwilliamson) dubs:~ $ docker -

[2016-08-09 14:44] mdubya66 commented on #1840
@caglar10ur is this critical to fix or just an annoyance?

[2016-08-09 14:45] mhagen-vmware opened #1878 "Error response from daemon: server error from portlayer : unable to wait for process launch status: Post https://192.168.31.13/sdk: EOF"
Saw this error on a recent PR regression run.

[integration_test_logs_3743_1470753354.zip](https://github.com/vmware/vic/files/409182/integration_test_logs_3743_1470753354.zip)

From portlayer.log:
[code]

[2016-08-09 15:27] kjplatz opened #1879 "Add ability to change user/password in ESXi environment"
In certain environments, ESX administers are required to change infrastructure passwords periodically (90 days being the norm).  However, since VIC uses user/password to authenticate against ESX, this password change will effectively break VIC, since there is no means to update these credentials in the VIC appliance.

We should add some means to update these credentials without requiring us to dep

[2016-08-09 15:41] karthik-narayan commented on #773
I'll let you figure out the implementation details, but this is a use case that I've hit more than once and is a very common one. Asking customers to move objects out of the folder to get VIC working is a non-starter and we should get to this at the earliest.

[2016-08-09 15:41] matthewavery opened #1881 "Cleanup Volume Create Integration Tests"
Capacity unit support is now available and we need to adjust the integration tests to pass different size arguments to through. a

[2016-08-09 15:53] emlin commented on #1829
@hickeng Still need more investigation for if options can be separated by section.

I'm looking at the flag attributes set by urfave, but looks like only hidden is one common, which is used to hide the advanced options.

But for Required and Optional options, still have no idea for how to separate them with existing attributes. Here is an issue opened long time ago in urfave community, https://git

[2016-08-09 16:39] emlin commented on #812
Start to work on design

[2016-08-09 16:58] hmahmood commented on #1599
@stuclem 👍

[2016-08-09 17:00] emlin commented on #1862
@karthik-narayan @hickeng @mdubya66  this issue is actually because customer thought the "-n" is to set network, instead of name. If they're clear for what they did, this is not confusing.
Just we might add one more description into the bridge-network option, to as following:
[code]

If you think it's not good, two options available:
- Change the short name -n to bridge-network, and remove short n

[2016-08-09 17:32] caglar10ur opened #1883 "Integration test for #1351"
From #1351

[code]

[2016-08-09 17:41] caglar10ur commented on #1840
To be honest I don't know the answer, maybe @casualjim could tell us

[2016-08-09 18:16] dougm commented on #1821
I ran into similar recently, logs didn't help at all since the actual error was swallowed here:

https://github.com/vmware/vic/blob/master/lib/apiservers/engine/backends/portlayer/container_proxy.go#L266-L268

I'm going to include a change with the PR for #1870 to at least log the actual error here.

[2016-08-09 18:25] #1351 closed

[2016-08-09 18:26] caglar10ur opened #1884 "vic-machine assumes conf.ImageStores[0] will be the appliance datastore"
Not sure whether that assumption is always true, @hickeng raised that issue in #1882

[2016-08-09 18:35] #1735 closed

[2016-08-09 19:11] hmahmood opened #1886 "Network config should not be applied when a session process exits on the VCH"
Currently a "reload" is triggered when a process on the VCH crashes, which in turn reconfigures the network. This should not happen if it succeeded the first time around. Only the process launch should be attempted again.

[2016-08-09 20:31] mlh78750 opened #1888 "docker create fails on 6.5_RC1 VC"
build 3538

installed 6.5b3 VC and two 6.5b3 hosts.

Installed to VC with

`./vic-machine-darwin create --target 10.161.245.177 --image-datastore datastore1 --name vic-demo --user Administrator@vsphere.local --password 'Admin!23'  --compute-resource /ha-datacenter/host/10.160.97.176/Resources --bridge-network bridge --external-network vm-network`

Then tried create:

$ docker -H 10.162.13.107:2376

[2016-08-09 20:55] #1874 closed

[2016-08-09 21:06] jooskim commented on #1856
The automated test cannot be performed on vCenter 5.5, as the test framework is strictly targeted for vCenter 6.5. It runs on 6.0 but only with some bypasses. vCenter 5.5 displays even more differences compared to 6.0 vs 6.5 so it's practically a better option to manually test it by installing the plugin and checking if it shows up fine in Web Client.

[2016-08-09 21:43] hickeng commented on #577
[code]

My best guess as to what is happening is that the runtime/OS isn't writing the output until after we've called handleSessionExit and shut down the writers. We can see that the output is getting written, but it's after the streams are all closed.
Whether this is Go or OS is TBD.

I've tried calling cmd.Wait() but it just hangs indefinitely as we've already called wait on the process in the

[2016-08-09 22:29] hickeng commented on #577
Having run through the logic of os/exec.go we need to close stdin before calling Wait or it hangs indefinitely. Calling cmd.Wait does appear to address this issue, however that's by experimental verification not because I can see why that should be the case.

[2016-08-09 23:49] hickeng opened #1896 "Another task is already in progress"
This is the first time I've actually seen this but we've known it will occur for a while.

This should be fixed via a retry mechanism in the tasks package - this and extraction of error messages is explicitly what that package was intended for.

The problem here is that scratch.vmdk preparation is still underway when we try to create a volume, causing a failure in the appliance reconfigure.
[code]

[2016-08-09 23:57] anchal-agrawal opened #1897 "[minor] Broken link in release process doc"
[RELEASE-PROCESS.md](https://github.com/vmware/vic/blob/master/doc/processes/RELEASE-PROCESS.md#release-cycle): the link to the contributing doc is broken.

[2016-08-10 00:07] fdawg4l commented on #1896
Looks the similar to #1725

[2016-08-10 03:14] anchal-agrawal opened #1898 "Integ test failure in docker create w/ volume"
Spotted two integration test failures in master build [3776](https://ci.vmware.run/vmware/vic/3776):

* [Create with volume](https://github.com/vmware/vic/blob/master/tests/test-cases/Group1-Docker-Commands/1-4-Docker-Create.robot#L22) in `1-4-Docker-Create`

[VCH-3776-4397-container-logs.tar.gz](https://github.com/vmware/vic/files/410256/VCH-3776-4397-container-logs.tar.gz)

Snippet from `docker-

[2016-08-10 07:58] lazarin opened #1899 "Empty start/finish date in inspected container"
**VIC Version:**

0.4 / build #3411

**Code**
I have running container, but it's started/finished time values are empty :
[code]
same docker inspect executed in docker env have the correct start time and 'zero'-ed finish time (the container is still running)
[code]
Noted that Pid is not populated too, but maybe this is fine since there's no real process on the host itself.

Similarly to #1874 that