[2016-11-01 20:06] dougm commented on #2818
There is no 'vm.properties' method, are you referring to the object.Common.Properties method?  That's just a shortcut to the property collector, there isn't anything specific to the object type vm or otherwise.  In any case, I'm not sure about adding a workaround for this bug to govmomi.  I may need to spend some time better understanding the bug and creating a small test case to reproduce outside

[2016-11-01 20:25] vburenin opened #2969 "docker start doesn't behave as expected."
Real docker behavior:
[code]

VIC behavior:
[code]

Notice the container status.

[2016-11-01 20:32] hickeng commented on #1867
The failed reconfigure is using a changeVersion from a time around when the VM was created/powered on - it's minutes out of date. This suggests that an operation is attempting to reuse an old handle.

[2016-11-01 20:44] emlin commented on #2818
Yeah, I know there is no vm.Properties method, but it looks like there is one, and we can add one for some workaround. That's what I mean.

It's reasonable to return the empty value back to caller, but it might be difficult to fix all callers for it. I'm fine with it, but is there good way to show the error if another NPE happens? For this specific one, it needs lots of additional effort to figure

[2016-11-01 21:00] dougm commented on #2818
If we are only concerned with the VirtualMachine.Device() case here, we can return an error if Config == nil and include ConnectionState in the error message.  How does that sound?  The more generic case I'm not sure about yet.

[2016-11-01 21:10] fdawg4l opened #2972 "Sync time with host via toolbox"
We need a way to sync time with the host and keep it in sync in the appliance with the ESX host.  We were using ntp (via the `timesync` daemon [which helpfully `systemd` decided we required]) until [this](https://github.com/vmware/vic/pull/2971) change.  The `timesync` daemon would slam the clock leading to sudden skew in the logs and weirdness with respect to deadline based timeouts (which use wa

[2016-11-01 21:11] fdawg4l commented on #2972
See #2340 for details on clock skew affecting deadline based timeouts (in the `context` package).

[2016-11-01 21:12] fdawg4l commented on #2972
Assigning to myself for now, but no reason this can't be rebalanced.

[2016-11-01 21:12] fdawg4l commented on #2972
cc @dougm, @hickeng, and @caglar10ur.

[2016-11-01 21:41] fdawg4l opened #2973 "Implement `rmi` up to last tag in SPL"
We're currently only deleting leaf images when an `rmi` is called on a given `repository:tag`.  Until recently we couldn't have more than 1 tag on a given image ID, but the personality's image cache now supports multiple tags and untagging on `rmi`.  We need to integrate this into the PL delete mechanism to delete upto the next image, thereby actually deleting more than just the last image.

Witho

[2016-11-01 21:52] fdawg4l commented on #2973
@mdubya66, @hickeng and I want to get this into GA because it's fairly important.  Pretty sure we can wrap this up quickly.  Just FYI.

[2016-11-01 21:57] emlin commented on #2818
For this specific case, if you check the connection state, it might be better to return an invalid state error.

But even with that, we also need to check the caller to make sure they are not throwing NPE. I can check vic code, to make sure they works even with empty vm.Config, but for govmomi, then you'll need to go through the callers. Otherwise we might go into other path to hit this NPE again.

[2016-11-01 22:06] emlin commented on #2818
And I'm wondering what should we do with this error. For example, https://github.com/vmware/vic/blob/master/lib/portlayer/exec/base.go#L107, if there is empty config returned, what should we do there?
Keep retry update doesn't help, and it doesn't go through the vm.WaitForResult path, so no one fix that yet.

[2016-11-01 22:10] emlin commented on #2818
I gonna have a method vm.Properties in vic vm.go file, to workaround this issue. And one log mechanism to catch NPE in vic-machine, in case we're leaking anything.

[2016-11-01 22:10] matthewavery commented on #1409
This may involve a fair amount of code change, and since there is a workaround this may not be a big issue for 0.8.0. It also occurs rarely, so it might be best if we table this one for now. @mdubya66 @hickeng

[2016-11-01 22:10] dougm commented on #2968
With vmware/govmomi#622 I was able to vic-machine create, pull + run busybox date.  Trying to run regression tests but keep getting dropped off the vpn.  Will try again later this evening.

[2016-11-01 23:03] vlakshmivenkat opened #2974 "remove image (rmi) is throwing Error response from daemon: [DELETE /storage/{store_name}/info/{id}][500] DeleteImage default &{Code:0xc4207cb4d0 Message:Cannot delete file [sharedVmfs-0]"
This might be similar issue to #2384, which happens on VSAN datastore. But this issue occurs in iscsi

VIC build: vic_6402
Harbor build: harbor_0.4.5_beta
vSphere build: ob-4584207

Steps:
1. ./vic-machine-darwin create --name VCH1 --target <vc-ip> --user administrator@vsphere.local --password '<pwd>' --compute-resource cls --no-tls --thumbprint D9:3F:BF:6B:DC:81:69:D5:D4:25:58:8C:F4:1A:23:04:66:1

[2016-11-01 23:39] npakrasi commented on #2886
Revised to say taking snapshots of the VCH and container VMs is disabled.

[2016-11-02 00:44] #1517 closed

[2016-11-02 02:37] mdubya66 commented on #2974
@matthewavery please take a look and triage for inclusion in 0.8.0

[2016-11-02 02:40] mdubya66 commented on #2886
@npakrasi we did not disable snapshots. the issue was closed as will not fix. we need to document that out of band snapshots and vm stop operations will break the docker personality @matthewavery can fill you in further

[2016-11-02 03:21] dougm commented on #2968
Regression tests pass against the env @mhagen-vmware gave me access to.  I'll open a PR to bump the vendor'd govmomi.

[2016-11-02 03:22] mlh78750 commented on #2537
@dougm: Looks like we need to make sure the env gets passed to the port layer/docker personality here: https://github.com/vmware/vic/blob/master/lib/install/management/appliance.go#L516-L534

I editing the vic-init systemd files to set the proxy env vars for your patch earlier today, but the creation of those sub-processes doesn't pass those env vars along and they don't ever try to use the proxy

[2016-11-02 03:26] dougm commented on #2818
@emlin sounds good.  I will just add the nil check in VirtualMachine.Device for now then.

[2016-11-02 03:54] dougm commented on #2818
vmware/govmomi#623 - includes a test case to reproduce nil VirtualMachine.Config

[2016-11-02 04:01] dougm commented on #2537
I see.  We could add an env passthrough whitelist that includes `HTTP_PROXY` and `HTTPS_PROXY` for now.  Or go ahead and add a generic vic-machine create `-e` flag to set any environment variable(s).  I'd rather do the latter as it is more user-friendly and not much more effort to implement.  If folks agree, I can get it done in the morning.

[2016-11-02 04:13] hickeng commented on #2969
@vburenin this is a dup of #1687 - we don't close stdin so the shell doesn't exit immediately.

[2016-11-02 04:13] #2969 closed

[2016-11-02 04:40] hickeng commented on #2965
Checking the vmware.log for the containerVM, the default route is explicitly set to false, rather than being omitted and that being the default boolean value:
[code]

I do not see a path in context.go that would allow this, and it's a partial modification which negates possibility of having dropped the scope bind data completely.

[2016-11-02 10:03] stuclem commented on #1695
PR #2946 is now merged yet.

[2016-11-02 11:03] stuclem commented on #1355
According to @hickeng in https://github.com/vmware/vic/issues/2764, we do not support  `docker run --net=host`.

[2016-11-02 11:07] stuclem commented on #2764
Fixes are in https://github.com/vmware/vic/pull/2939/commits/06b3e1ff0ed6f8c33bf36c6aa40646076d819741.

In [Installation Prereqs](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vic_installation_prereqs.md):

Comment from @hickeng: _"One VLAN, if you use VLAN for network isolation.
VLAN is needed only with vCenter/DPG and then only one per VCH if you're not using private V

[2016-11-02 12:23] stuclem opened #2978 "Documentation: create a vSphere Integrated Containers Engine vic-machine Options Reference doc"
Per a comment by @hickeng in https://github.com/vmware/vic/pull/2939#pullrequestreview-6559886, the `target`, `user`, `password`, and `thumbprint` options are common to all `vic-machine` commands. The `-force`, `-timeout`, and `-debug` options might also be made common eventually.

So, examine the possibility of creating a single reference for all common commands. This will require a bit of though

[2016-11-02 13:22] stuclem commented on #2676
Mentioned the `env` file in the descriptions of [--tls-cname](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md#--tls-cname) and [--no-tlsverify](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md#--no-tlsverify).

This is enough for 0.7. Moving this one back to Backlog and out of the 0.7 milestone Epic

[2016-11-02 13:26] stuclem commented on #2670
This depends on https://github.com/vmware/vic/issues/2678 (document `vic-machine debug`) as you need to SSH into the VCH for the workaround.

[2016-11-02 15:11] emlin opened #2981 "vic-machine delete: cannot recognize vch not fully created"
Solution is to create a constant VCH ID, represent not fully created VCH, so vic-machine delete can go ahead to delete that vm.

[2016-11-02 15:24] matthewavery commented on #2739
I could not find the exact opID listed in the `hostd` operation calls. I have not yet found a way to obtain that opID from the `TaskInfo` object that is returned to us. @derekbeard @hickeng Any advice on where to find it? I went

[2016-11-02 15:34] hmahmood commented on #2965
@hickeng yes I couldn't see a path in context.go that would allow this, which is why this is so puzzling. Added to that we didn't see it in following CI runs, and both @andrewtchin and I could not reproduce this locally.

[2016-11-02 15:40] vburenin opened #2982 "Slow communication between docker client and container in interactive mode."
The slow communication between docker client in interactive mode is caused by a combined set of factors that results in a slow data transfer over serial port.

Here is a list:
1. Long data path between docker client and tether.
2. Relatively slow data transfer over serial port - around 60KB/s.
3. Very small buffer on a serial port (if any).
4. Tether is blocked if data is not drained from serial p

[2016-11-02 15:46] jzt commented on #1695
@stuclem Just FYI, our usage has changed a little from the PR description.

Memory and CPU are now limitless (meaning a user can set them to be any value they want, however large). ESX will send an error back down if they exceed the available CPU count. Additionally, `--cpuset-cpus` takes a single argument, an integer representing how many CPUs on which the containerVM should be able to run. They

[2016-11-02 15:47] stuclem commented on #1695
Thanks @jzt. @npakrasi, can you please update accordingly? Thanks!

[2016-11-02 15:49] stuclem commented on #2190
The versions on the ISO files are not customer visible. We explain that new versions are uploaded in the topics on running `vic-machine upgrade`. I don't think that we need to mention explicitly that the ISOs are versioned.

[2016-11-02 15:49] #2190 closed

[2016-11-02 15:53] jzt commented on #1695
@stuclem @npakrasi It may also be worth documenting that `--cpuset-cpus` does not behave in VIC in the same manner as in Docker.  In Docker, `--cpuset-cpus` specifies which CPUs the container is allowed to utilize during execution whereas in VIC, it specifies the number of CPUs with which to provision the container VM.

[2016-11-02 16:00] #2537 closed

[2016-11-02 16:00] stuclem commented on #1695
Definitely. Thanks @jzt!

[2016-11-02 16:05] hickeng commented on #2965
I'm leaving it running as a background task locally - I've no idea how it could occur, but it did so will let it burn idle cpu for a while

[2016-11-02 16:28] matthewavery commented on #1827
@stuclem Looks great! Yes I had some spare cycles and noticed that I had forgotten an initial pass on that. Thank you for cleaning it up!

[2016-11-02 16:30] stuclem commented on #1827
Thanks @matthewavery! Closing as reviewed.

[2016-11-02 16:30] #1827 closed

[2016-11-02 16:36] mdubya66 commented on #2973
Do it :)

[2016-11-02 16:41] andrewtchin commented on #2197
Looks like when I install a VCH with existing certificates (generated previously by a VCH install) the installer doesn't have a client cert to poll the status of services so the install times out. The VCH though seems to work fine so this should just be a vic-machine issue.
```bin/vic-machine-linux create --target root:password@192.168.218.129 --name chin-vic-11 --tls-cname 192.168.218.200 --exter

[2016-11-02 16:45] #2831 closed

[2016-11-02 16:54] fdawg4l commented on #1409
@matthewavery, @jzt's recent `imagec` changes prevent multiple pulls of the same layer id from happening.  It's likely this is fixed.

[2016-11-02 16:57] matthewavery commented on #2974
@vlakshmivenkat Are both of those attached logs from the different deployments? If so did the problem occur when there was one host and then again when there were two?

[2016-11-02 17:19] stuclem commented on #2174
Added a brief line in [Upgrade a VCH](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/upgrade_vch.md):

"Validates whether the configuration of the existing virtual container host is compatible the new version. If not, the upgrade fails."

[2016-11-02 17:19] #2174 closed

[2016-11-02 17:20] #2968 closed

[2016-11-02 17:25] stuclem commented on #2542
Proxy support was uniceboxed has been implemented in PR https://github.com/vmware/vic/pull/2980. Adding this to the 0.7 doc milestone.

[2016-11-02 17:30] stuclem opened #2984 "Document what happens if VC/ESXi certificates are replaced/expire"
Comment from @dougm in https://github.com/vmware/vic/issues/2570#issuecomment-255000692:

-----

When using thumbprint based verification, updating the VC/ESX certificate will prevent VIC from managing existing container VMs, creating new ones, etc. However, existing container VMs will continue to run. User will need to use vic-machine to update.

-----

According to @emlin, updating certs is not

[2016-11-02 17:33] stuclem commented on #843
Added topics on upgrade in the Admin doc:
- [Upgrade a Virtual Container Host](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/upgrade_vch.md)
- [Virtual Container Host Upgrade Options](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/upgrade_vch_options.md)

@emlin, are these two topics OK? Thanks!

I have opened https://github.com/vmware/vic/issues/2984 to addr

[2016-11-02 17:34] fdawg4l commented on #2974
The `hostd` log in `logs.zip` starts at ` 2016-11-01T22:12:31.673Z`.  However, the `DeleteImage` starts at

[code]

[2016-11-02 17:50] andrewtchin opened #2985 "Panic in portlayer: http: panic serving 192.168.31.143:42152: runtime error: invalid memory address or nil pointer dereference"
Test failed in https://ci.vmware.run/vmware/vic/6483
We've seen this randomly fail before, but have been unable to determine root cause so far.
Test is disabled temporarily

[2016-11-02 17:57] fdawg4l commented on #2974
^^^  Looks like the same is true for the second log bundle (`container-logs.zip`).

@vlakshmivenkat is the VC you're using still accessible?  Looking at our logs, it looks like we can't read a few files and it's unclear why.  Are you seeing alerts related to your datastore in your VC alerts tab?

Also, is this repeatable?  The skew between when the action was taken (pull, create, kill, rmi) and wh

[2016-11-02 18:00] hickeng commented on #2965
I cannot recreate locally, but it happened again: https://ci.vmware.run/vmware/vic/6483

[code]

[2016-11-02 18:03] vlakshmivenkat commented on #2974
Yes the vc is still accessible. Will ping the ip in slack channel.. and we aren't able to see any alerts in the datastores.

[2016-11-02 18:05] vlakshmivenkat commented on #2974
"Are both of those attached logs from the different deployments? If so did the problem occur when there was one host and then again when there were two?"
@matthewavery :  Both the logs are from same deployment. From VCH admin portal, we captured one with container log and the other without container log.
Will post the vc details in slack channel

[2016-11-02 18:16] stuclem commented on #849
https://github.com/vmware/vic/issues/773 is in the icebox.

[2016-11-02 18:17] fdawg4l commented on #2974
`journalctl` on the VC.

[code]

I love the helpful error messages :-)

[2016-11-02 18:22] fdawg4l commented on #2974
`vpxd-5.log`

[code]

[2016-11-02 18:23] mdubya66 commented on #2985
Dupe of https://github.com/vmware/vic/issues/2985?

[2016-11-02 18:26] anchal-agrawal commented on #1838
I believe this was fixed by #2898. @mreferre could you please verify? Thanks!

[2016-11-02 18:30] fdawg4l commented on #2974
[vpxd-5.log.zip](https://github.com/vmware/vic/files/567383/vpxd-5.log.zip)

[2016-11-02 18:54] caglar10ur commented on #1582
reopening this and referring from disabled tests

[2016-11-02 19:07] emlin commented on #843
Upgrade:
* if --thumbprint not specified, vic-machine will print out the server's thumbprint to allow user confirm with it. If that's the correct one, which can be used to specify the thumbprint, instead of force the upgrade.
* vic-machine upgrade does not actually support upgrade from from 0.6.0, we might need to specify that

[2016-11-02 19:09] emlin commented on #843
For the iso options, I think we don't support PATH fetch. We only look for current dir, and the dir where vic-machine is located. Sorry for the confusion in slack.

[2016-11-02 19:48] mreferre commented on #1838
I will test and report @anchal-agrawal. thanks.

[2016-11-02 19:54] fdawg4l commented on #2974
Using the same VC + ESX instance, I created a VCH and tried the following.  Same error.

[code]

And this same error occurs with `govc`

[code]

As soon as you create a container, the associated disk can't be deleted _even if that container has been destroyed_.

Instead, *you have to delete the files recursively*.
[code]

[2016-11-02 19:55] fdawg4l commented on #2974
Looks like on 6.5 with VC, we get the same behavior on shared storage as we did on 6.0 with VSAN.  I think we have code to deal with this.  I'll make it the default delete semantic (which is to delete recursively).

[2016-11-02 19:56] fdawg4l commented on #2974
ping @mdubya66 to include this in GA.

[2016-11-02 19:58] mdubya66 commented on #2974
included

[2016-11-02 20:10] fdawg4l commented on #2974
The `deletable` flag lives in the `.vmdk` file.  My suspicion is we can delete that file directly, then delete the directory as normal.  Turns it that works.

[code]

[2016-11-02 20:11] fdawg4l commented on #2974
^^^ apparently all we have to do is delete the vmdk first.

[2016-11-02 20:40] hickeng commented on #2965
We explicitly preserve the ExtraConfig when refreshing handle state in commit.go as a workaround for callers of the portlayer not handling concurrent access errors.
However that means that we potentially discard changes made when we're racing with another operation that also modifies extraconfig.

Two operations get handles:
1. network.Bind
2. attach.Bind

network.Bind wins the race and updates th

[2016-11-02 20:58] #1578 closed

[2016-11-02 21:14] #2869 closed

[2016-11-02 22:21] npakrasi commented on #1695
Added these details to the docker create parameters table.

[2016-11-02 22:37] hickeng opened #2989 "logs --follow does not display all output"
Many builds exhibited this:
https://ci.vmware.run/vmware/vic/6453
https://ci.vmware.run/vmware/vic/6504
https://ci.vmware.run/vmware/vic/6506
https://ci.vmware.run/vmware/vic/6502

[code]

https://github.com/vmware/vic/pull/2956 addressed the truncation of logs on the datastore, but the test is still failing.
This suggests that there is an issue with logs --follow in some fashion.

Suggested first

[2016-11-03 01:59] dougm commented on #2989
I'll take a look, could be that #2445 didn't cover all the bases.

[2016-11-03 08:20] stuclem commented on #843
Regarding "For the iso options, I think we don't support PATH fetch. We only look for current dir, and the dir where vic-machine is located", I tested this by running vic-machine from a different folder to the `/vic` folder, that includes the ISOs, and it worked. I assumed that this was because I have set the path to `/vic` in my PATH. Will try again after moving the ISOs elsewhere. Thanks!

[2016-11-03 11:54] stuclem commented on #843
Regarding "_if --thumbprint not specified, vic-machine will print out the server's thumbprint to allow user confirm with it. If that's the correct one, which can be used to specify the thumbprint, instead of force the upgrade_", I had included this in the description of the options, but not in the topic on running `vic-machine upgrade`. I have now done so for all of the topics on running [`vic-mac

[2016-11-03 12:05] stuclem commented on #2927
Added the following disclaimer to all 3 of the above files:

----

**IMPORTANT**: Do not use the vSphere Client or vSphere Web Client to perform operations on virtual container host appliances or container VMs. Specifically, using the vSphere Client or vSphere Web Client to power off, power on, or delete virtual container host appliances or container VMs can cause vSphere Integrated Containers Eng

[2016-11-03 12:15] stuclem commented on #2670
I just hit this issue. The error is as follows:

[code]

[2016-11-03 12:23] stuclem opened #2994 "Document UI upgrade"
Just realized that I haven't doc'd this yet.

[2016-11-03 12:27] stuclem commented on #1317
I have created a [VCH Admin Status Ref](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/vicadmin_status_ref.md), but this needs fleshing out more with precise errors and workarounds. Not required for 0.7.0, though, so moving out of that milestone.

[2016-11-03 13:18] mreferre opened #2995 "Sharing image store folders not supported"
I am using build 6507 (0.7.0 candidate).

I am playing around with image store configurations.

I have deployed two VCHs both with `--image-store sharedstorage/test` (where `sharedstorage` is my datastore and `test` is the directory I want to specify).

When the two VCHs are deployed each of them land on the root of the DS (directories `VCH1` and `VCH2`). A third directory `test` is also created w

[2016-11-03 13:43] stuclem opened #2996 "Documentation: create troubleshooting topic about certificate thumbprints"
Create a TS topic that lists the errors that result when vic-xxx thumbprint is required but not specified and what to do.

Two such errors are, but there are possibly more:

- `Failed to verify certificate for target=<i>vcenter_or_esxi_host</i> (thumbprint=<i>thumbprint</i>)`
- `Certificate has no IP SANS specified` if trying to connect via IP address.

[2016-11-03 13:50] stuclem commented on #2730
According to @hickeng in https://github.com/vmware/vic/pull/2939#discussion_r85871552, VIC does not support vVols (aka [VMware vSphere&reg; Virtual Volumes&trade;](http://productnames.eng.vmware.com/details/VMware%20vSphere%20Virtual%20Volumes/).

@npakrasi can you please add it to the list? Thanks!

[2016-11-03 14:30] mlh78750 commented on #2995
My initial thoughts on this is to document that this is not supported and wait until post .8 to fix.

[2016-11-03 14:39] stuclem commented on #2995
In the current docs I state that you can share an image store between VCHs, as that is how (I think) things used to be. But I noticed the other day that the `VIC/.../images` folder is now created in the folder for the VCH. Previously, it was created at the top level of the specified datastore. As @mreferre  states above, if you specify the same DS folder as the image store for two VCHs then they d

[2016-11-03 14:43] stuclem opened #2997 "Documentation: update doc for image-store to reflect new folder structure"
The folders that vic-machine creates in the image-store have changed, so the [image-store doc](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md#--image-store) needs to be updated.

Also, we currently state that you can share an image store between VCHs, but @mreferre states in https://github.com/vmware/vic/issues/2995 that this does not work. Whethe

[2016-11-03 14:49] mlh78750 commented on #2995
cc @jzt What's supposed to be working here?

[2016-11-03 14:57] mreferre commented on #1838
@anchal-agrawal I tested it with 6507 and it works like a charm.

Thanks.

[2016-11-03 15:03] stuclem commented on #1317
Moving this out of in progress to backlog, as the current doc is OK for now and I have higher priorities for 0.7.

[2016-11-03 16:02] stuclem commented on #843
Reviewed by @emlin in https://github.com/vmware/vic/pull/2939.

[2016-11-03 16:02] #843 closed

[2016-11-03 16:40] #1838 closed

[2016-11-03 16:41] shadjiiski opened #3000 "create/run -P (publish all exposed ports to random ports) is unsupported"
In docker it is possible to have a single or all of the exposed ports published to a random (not specified by the user) port. I have tried to achieve the same via docker CLI and remote API and it is not working on VIC.

**VIC Version:**

JFrog Bintray build 6511

**Docker Code**

[code]

**VIC Code**
[code]

**Expected behavior:**
Having port 80 published in all cases like in docker: (after both c

[2016-11-03 16:46] fdawg4l commented on #2995
@mreferre

They are not meant to be shared. They *can* live in the same datastore or directory structure, but they will be namespaced to keep from conflicting.  The `image-store` parameter you passed also looks malformed, which is why you're seeing the racy behavior you're seeing.

[2016-11-03 16:47] fdawg4l commented on #2995
@mdubya66  Would like to close this.  We have no plans on sharing of image stores in the near future without some offline prep by the vi/container admin via a tool or out of band call to the PL.

ping @hickeng

[2016-11-03 16:51] fdawg4l commented on #2995
@mreferre

Some things are puzzling in your report.  Even with malformed `image-store` parameters provided on the `vic-admin` CLI, you shouldn't see the weirdness you're seeing.  Can you provide the full console output as well as log bundles from both VCH's?

[2016-11-03 16:52] mreferre commented on #2995
@fdawg4l thanks. What would have been a properly formatted parameter? I thought the format was <datastore_name>/<directory_name>.

Regardless, I am wondering if there is something we can do (e.g. a check in vic-machine?) to avoid users to do that other than writing in docs "don't do it".

[2016-11-03 16:53] dougm commented on #2989
Talked to @hickeng , he found an issue in the interaction layer, it uses an extra super tiny 64 byte buffer.  Explains why #2445 didn't work in this case - we'll need to allow it to drain to EOF, not just do 1 more read.

[2016-11-03 17:07] mreferre commented on #2995
@fdawg4l not sure what happened here. I teared down everything and recreated the two VCHs using the same parameter `--image-store sharedstorage/test`.

This time they are behaving properly:
[code]
From what I can tell I was doing the same thing before.

If I look at the directory structure it makes slightly more sense now as it has one VIC directory under test but there are two different branches

[2016-11-03 17:09] fdawg4l commented on #2995
Woops!!  You are right.  That format is totally correct provided the first param before the slash is a datastore.  Apologies.  I thought we used a colon separator between datastore and path, but clearly we do not.  Sorry about that!

[2016-11-03 17:10] emlin opened #3001 "vic-machine ls: --id option is not used"
ID is not a kind of filter for list, might add --name as another filter together with --compute-resources in the future.
At this time, just remove this option.

[2016-11-03 17:12] fdawg4l commented on #2995
We do this to avoid racing.  If a user create's 2 vchs pass the same image store path (like you did), we want to be able to identify them uniquely on the datastore and prevent racing on one another.  Docker gets away with being able to do bind mounts of image layers to containers because Linux allows 1 to many bind mounts on a given path.  We, however, are binding a block device;  we cannot attach

[2016-11-03 17:14] fdawg4l commented on #2995
I'll try your configuration here and see if I can reproduce this.  We have a test that mimicks this but if you saw this issue, it's likely to happen again due to a bug somewhere.  If you can repro, please grab logs from the VCHs and copy the full terminal output so we get more details as to what's happening.

[2016-11-03 17:28] stuclem commented on #2978
As a short term measure I created a [Common vic-machine Options](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/common_vic_options.md) topic in admin, and removed all of those common options from the delete, ls, upgrade, inspect, and debug topics. Much tidier.

TBD whether we want to pull those options out of install too, and create a standalone reference.

[2016-11-03 17:31] stuclem commented on #2678
Added topics in `vic-machine debug`:

- [Authorize SSH Access to the Virtual Container Host Endpoint VM](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/vch_ssh_access.md)
- [Virtual Container Host Debug Options](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/debug_vch_options.md)

@hickeng, does this cover it?
(Incidentally, I did follow your suggestion and cl

[2016-11-03 17:52] mhagen-vmware opened #3002 "Error response from daemon: Server error from portlayer: An RPC send operation failed."
Fail on Create container with port mappings test on build:
https://ci.vmware.run/vmware/vic/6519

Logs:
[integration_logs_6519_30a39dcd8641888706c59b83026769c56ba43b8e.zip](https://github.com/vmware/vic/files/569722/integration_logs_6519_30a39dcd8641888706c59b83026769c56ba43b8e.zip)

[2016-11-03 18:25] fdawg4l commented on #2995
[code]

[code]

@jzt looks like the `kvStores` file is not namespaced in this case.  This is likely related to @mreferre's issue since the kvstore will now race.

[2016-11-03 18:33] fdawg4l commented on #2995
Also cc @cgtexmex.

[2016-11-03 18:37] mlh78750 opened #3003 "kvstore susceptible to races when two VCH use same image store directory"
See #2995. In the investigation to #2995 @fdawg4l found a race issue for kvstore. See comment https://github.com/vmware/vic/issues/2995#issuecomment-258231620

I'm closing #2995 as won't fix, but the kvstore issue found needs to be fixed and will be tracked in this bug.

[2016-11-03 18:41] mlh78750 commented on #2995
@fdawg4l: good work root causing this. Opened a new issue #3003 to track the race and closing this one.

Looks like using the same image store is allowed and supported, but that sharing the actual images is not. Can someone confirm that is the case so that we update the documentation correctly?

[2016-11-03 18:41] #2995 closed

[2016-11-03 18:45] mlh78750 commented on #2997
Looks like there is a bug now tracked in #3003 with using the same image store. It should be supported (and work after that bug closes).

So a few things we may want to do.. Document the new namespacing scheme we use to allow multiple VCH to use the same path. Also for the .7.0 release document the problem in #3003 and recommend not using the same path for multiple VCH until it is resolved.

[2016-11-03 18:59] hickeng commented on #3002
The portlayer log for the issue:
[code]

The problem here is that we succeed in stopping at the same time as we give up and attempt to deliver the next signal.
`lib/portlayer/exec/base.go:259` does not check what the state of the containerVM is before returning an error.

Simply checking for current container state during the error is also a race as it's possible a HA operation (for example) will

[2016-11-03 19:13] anchal-agrawal opened #3004 "docker ps not showing ports with unspecified host port"
If a host port is not specified during a `docker create` or `docker run`, `docker ps` does not show the port binding in the `PORTS` section.

**VIC Version:**

master

**Expected behavior:**
[code]
**Actual behavior:**
[code]

[2016-11-03 19:59] anchal-agrawal commented on #3004
Related to #3000.

[2016-11-03 20:08] vburenin commented on #2453
are there any reliable repro-steps? I just can't get into this situation.

[2016-11-03 20:30] fdawg4l commented on #2995
@mlh78750 I can confirm that 2 VCHs that use the same image store path are racing on images.  `pull` busybox on both,  rmi on `vchone`, create on `vchtwo`, and suddenly `images` on `vchone` includes the image we removed.

The image cache in the personality is racing due to the kvstore issue (in #3003).  If we fix this, then we'll have the namespaced behavior we want where nothing is shared despite

[2016-11-03 20:32] fdawg4l commented on #2995
@mlh78750 we can discuss it in #3003, but i think we need to get this in `0.7.0`

[2016-11-03 20:33] fdawg4l commented on #3003
Echo'ing the conversation we're having in #2995.  I think we need to get the fix for this issue in to 0.7.0.

[2016-11-03 20:33] mreferre commented on #2995
@fdawg4l ah that may explain why I wasn't seeing this when I tried to reproduce? The racing condition may depend on what you are actually doing (and in my attempt I wasn't doing much, my bad).

@mlh78750 I am not sure we want to rush this into 0.7.0. I am going to call this a corner case. No?

[2016-11-03 20:36] mlh78750 commented on #3003
Will the work around of using separate paths for each VCH installed on the same datastore solve the problem for now?

If so, I recommend we doc this for 0.7 and mustfix for .8.

[2016-11-03 20:37] mlh78750 commented on #2995
@mreferre Agreed. See discussion in #3003.

[2016-11-03 20:39] mreferre commented on #3003
@stuclem

[2016-11-03 20:39] mlh78750 commented on #3003
@stuclem for docs this is related to #2995. For the .7.0 docs we need to caveat that you cannot use the same path on a datastore for multiple VCH installs. After this issue is resolved, this limitation will go away.

[2016-11-03 20:42] fdawg4l commented on #3003
Yup.  That's exactly right @mlh78750.

Using different paths is a perfectly good work around.

[2016-11-03 20:46] hmahmood commented on #3002
Can we just assume in case of this error during shutdown that the shutdown succeeded (and thus ignore the error)?

[2016-11-03 20:48] #1656 closed

[2016-11-03 20:54] npakrasi commented on #2730
Added vVols to the Not Supported list.

[2016-11-03 21:08] anchal-agrawal commented on #3000
@shadjiiski For specifying a single port published to a random port - the functionality is there but `docker ps` doesn't show the port mapping. I've created #3004 for this.

I believe publishing all ports with `-P` or `--publish-all` isn't supported yet.

[2016-11-03 21:14] npakrasi commented on #1355
Instead of creating a separate file with details on parameters, I'm including them in the Supported Docker Commands table. Loc's doc for docker create is out of date.

[2016-11-03 21:18] npakrasi commented on #1355
Added to docker run that --net=host is not supported.

[2016-11-03 21:38] #1886 closed

[2016-11-03 22:01] derekbeard commented on #2739
I tracked this down a bit more.  I spoke with Kira on our team about how VCQE is able to log the opid.  It turns out, that VC supports client-generated OpIDs, so VCQE generates it and passes it as an “operationID” SOAP element in the SOAP header.  My guess is that we could update the govmomi SOAP client (https://github.com/vmware/govmomi/tree/master/vim25/soap) to pass an OPID generated upstream.

[2016-11-03 22:34] npakrasi commented on #2886
Rephrased: Performing out of band snapshots and vm stop operations breaks the Docker personality.

[2016-11-03 22:41] npakrasi commented on #2918
Added to the Supported Docker Commands table.

[2016-11-03 23:06] npakrasi commented on #2762
Added --ip to set a static IP in the Supported Docker Commands table.

[2016-11-03 23:13] npakrasi commented on #2515
From George via email Oct 26:
Security related log messages - these will show up in docker-personality.log and vicadmin.log, however we will need to extract samples of those logs for reference. We do not have a separate security event log at this time.
Those logs are accessed via the vic-admin portal - we have an open issue to alter the way these logs are persisted as they will currently be erased

[2016-11-03 23:14] npakrasi commented on #2514
From George via email OCt 26:
The VM's VMX file is used to store configuration, allowing most of the configuration to be read-only by the guest. The endpoint VM is the one that holds VIC specific configuration. The container VMs may hold sensitive application data (environment variables for processes, command arguments, etc).
We do not currently have a list of the required RBAC privileges needed f

[2016-11-03 23:15] npakrasi commented on #2518
From George via email OCt 26:
I've actually no idea about how people will obtain security updates - that's related to how the formal VMware binary releases are provided; my assumption is via My VMware, but it's only an assumption.
There's not really any such thing as a patch to be applied - instead it's a version update, for which we have 'vic-machine upgrade'. It's a somewhat untested path at the

[2016-11-04 00:25] dougm commented on #2989
vmware/govmomi#624

I'll include a new robot test when updating vendor.

[2016-11-04 08:46] mreferre commented on #2303
@hickeng this is coming up more and more as of late. I think we should prioritize this work (NFS driver support) if possible.

/cc @corrieb

[2016-11-04 10:21] stuclem commented on #2886
I'm not sure that customers would know what you mean by "out-of-band snapshots" and "Docker personality". vic-machine does take a snapshot of the VCH during upgrade, so I imagine that's an "in-band" type of snapshot, but taking snaps yourself is what Matt means by "out-of-band".  Stopping a VM is a different issue to taking a snapshot. I would break this into two bullets:

- Creating  snapshots of

[2016-11-04 11:52] stuclem opened #3006 "Documentation: update and clarify the network overview"
The [Network Overview](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/networks.md) topic needs some attention.

`vic-machine create` allows you to define 5 types of network:

-  `--bridge-network`
- `--client-network`
- `--external-network`
- `--management-network`
- `--container-network `

In the network overview and diagram, we mention 4 types. Bridge is missing. We nee

[2016-11-04 12:05] stuclem opened #3007 "Documentation: clarify VIC and Docker terminology for networks"
The [Network Use Cases](https://github.com/vmware/vic/blob/master/doc/user_doc/vic_app_dev/network_use_cases.md) need some attention. Specifically, there is confusion between how VIC refers to certain networks and how Docker refers to the same networks.

The use cases topic uses the Docker terminology "external network" to refer to external networks that you connect to containers. In VIC terminolo

[2016-11-04 12:06] stuclem commented on #3006
See also https://github.com/vmware/vic/issues/3007 for a general clarification of VIC/Docker terminology when referring to networks.

[2016-11-04 13:12] stuclem commented on #1023
Updated [Access the Administration Portal for a Virtual Container Host](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/access_vicadmin.md) to include uploading the cert as a prereq, if you use TLS verify. Could only get the cert import to work in Firefox, so stated that other browsers don't work. @gigawhitlocks is this OK? Thanks!

@gigawhitlocks says that this behavior will cha

[2016-11-04 13:57] stuclem commented on #3003
Adding this to the queue for the release notes. Will also include the caveat in the core docs (to be removed once fixed) as a part of https://github.com/vmware/vic/issues/2997.

[2016-11-04 14:00] mreferre opened #3008 "Some network nomenclature (around the notion of "external") perhaps needs revisiting"
Currently using build 6507 (0.7.0 candidate).

As I am trying to get a bit deeper into the VIC networking model I think I found some of the fundamental issues and misleading aspects that made some of the discussions with @mlh78750 so hard in the past few weeks. In retrospect I think there was a language mismatch confusion that isn't only due to documentation to be perfected (e.g.  https://github.c

[2016-11-04 14:22] stuclem commented on #3007
See also @mreferre 's associated issue https://github.com/vmware/vic/issues/3008.

[2016-11-04 14:29] cgtexmex commented on #2817
dupe of #2043

[2016-11-04 14:31] cgtexmex commented on #2819
related to #2043

[2016-11-04 14:40] stuclem commented on #3007
From @mreferre via Slack:

"the `--external-network` is the equivalent of `ETH0` on a Docker Host and `--bridge-network` is the equivalent of `Bridge0`,
so basically the standard way to connect to the world via NAT
`--container-networks` allow a cVM to connect directly to a PG that can be routed outside without having to go through the VCH
so `--external-network` is external in the sense that it a

[2016-11-04 14:41] stuclem commented on #3006
From @mreferre :

![image](https://cloud.githubusercontent.com/assets/16718369/20009496/02f4b668-a2a5-11e6-984a-2ee578be27eb.png)

[2016-11-04 15:10] mreferre opened #3010 "Typo in vic-machine help?"
Using build 6507

In the vic-machine extended help there is:

`--container-network-gateway value, --cng value   Gateway for the container network's subnet in CONTAINER-NETWORK:SUBNET format, e.g. vsphere-net:172.16.0.0/16.`

Shouldn't the example 172.16.0.1? Also, why do we need to specify the subnet for the GW as well? We already specify it with the `--container-network-ip-range` parameter.

All

[2016-11-04 15:16] vburenin opened #3011 "No CLI prompt after attach."
Current behavior
[code]

Expected behavior

[2016-11-04 15:17] mreferre commented on #3010
To be clear, and more precise...

If I use `172.16.0.0/16` in the GW definition I get:

`Gateway 172.16.0.0 is not a routable address`

So there is indeed just a typo in the help that should say `.1`.

However the code seems to require the `/24` because if I only type `--container-network-gateway 172.16.0.1`

I get:

`Error parsing container network parameter PG2:172.16.0.1: invalid CIDR address:

[2016-11-04 15:33] stuclem commented on #2997
Updated the section on `--image-store` to reflect the new folder organization. I do not mention the `kvstore `folder yet, but will do so after 0.7 when https://github.com/vmware/vic/pull/3005 is merged. With regards to sharing the image store folder, I document the behaviour as it should be, but with a caveat that it doesn't work in the current builds. See https://github.com/stuclem/vic/blob/maste

[2016-11-04 15:35] stuclem opened #3012 "Document the location and purpose of the kvstore folder in image stores"
Per https://github.com/vmware/vic/issues/3003, which is implemented in https://github.com/vmware/vic/issues/3005 but not merged in 0.7.

[2016-11-04 15:37] stuclem opened #3013 "Documentation: remove caveat about sharing image store folders"
Remove the note from [image-store](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md#--image-store) after 0.7, when PR https://github.com/vmware/vic/pull/3005 is merged.

[2016-11-04 15:38] stuclem commented on #2997
Logged https://github.com/vmware/vic/issues/3013 to remove the caveat after 0.7, when https://github.com/vmware/vic/pull/3005 is merged.

[2016-11-04 15:50] stuclem commented on #2537
Doc is tracked in https://github.com/vmware/vic/issues/2542. Removing the kind/user-doc flag.

[2016-11-04 15:57] shadjiiski commented on #3000
@anchal-agrawal

You are right, it works for a specific ports and is not working for all ports. However, neither `docker inspect` nor the remote API reveal the host port on which the application can be accessed. Actually, I needed to enable the ssh access to the VCH and then check the iptables rules to verify your comment.

[2016-11-04 16:06] vburenin commented on #3011
After digging into the problem it happened so that docker set a terminal size for a detached container to 80x24.
So every time user attaches to the container docker resizes it causing CLI prompt refresh. However, we do not change terminal size when user disconnects, thus next time user attaches, Resize practically has not effect since it tries to set the same terminal size.

[2016-11-04 16:12] mreferre opened #3014 "Issues with container network with no ip-range and whose backing PG does not have DHCP"
Build 6507.

I am trying to create a container network on a vSphere port group that does NOT have DHCP. I am creating the container network WITHOUT specifying an IP range nor a GW.

Vic-machine allows me to do that.

However when I try to start a container (e.g. busybox .. it fails to start and you can't delete it).

Steps to reproduce (note: PG2 is a vSphere distributed port group with no ip serv

[2016-11-04 16:40] stuclem commented on #2670
Added troubleshooting topic: https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/ts_clock_skew.md

We're missing the error that appears when you run Docker commands against a skewed VCH.

@hickeng do you know what error is returned by Docker? Is the topic otherwise OK? Thanks!

[2016-11-04 16:45] stuclem opened #3016 "Document that you use vSphere credentials when accessing VCH portal with TLSVERIFY"
Per https://github.com/vmware/vic/pull/2883 (not merged yet).

Finishes the documentation job started in https://github.com/vmware/vic/issues/1023.

[2016-11-04 16:49] vburenin opened #3017 "'echo test | docker run -i busybox cat' - doesn't succeed"
Actual behavior

[code]

Expected behavior

[code]

[2016-11-04 16:50] vburenin commented on #3017
[container-logs.zip](https://github.com/vmware/vic/files/572125/container-logs.zip)

[2016-11-04 17:17] stuclem commented on #2591
Following comments from @hickeng in https://github.com/vmware/vic/pull/2939#pullrequestreview-7083823, I am removing the Securing Virtual Container Host Connections topic from the 0.7 doc.

[2016-11-04 17:18] stuclem commented on #2591
Further work is required on this topic before reinstating it in the doc after 0.7. See https://github.com/vmware/vic/pull/2939#pullrequestreview-7083823 and https://github.com/vmware/vic/pull/2939#pullrequestreview-7081635.

[2016-11-04 17:19] hickeng commented on #3014
@mreferre The container will not start because it's waiting for IP. As such the process will not start and _should_ be shut down after 3 minutes.
Not sure why this would prevent you from deleting it. Any chance of logs?

[2016-11-04 17:20] anchal-agrawal commented on #3000
With my fix for #3004, both `ps` and `inspect` show the mapped port:

[code]

[2016-11-04 17:22] #2974 closed

[2016-11-04 17:23] stuclem commented on #2591
Commented out the big intro section on [Security Options](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md#security) pending a rewrite based on https://github.com/vmware/vic/pull/2939#pullrequestreview-7083823.

[2016-11-04 17:24] #3003 closed

[2016-11-04 17:31] stuclem commented on #2217
Everything in this issue is done, although TLS still needs work.

[2016-11-04 17:41] #2591 closed

[2016-11-04 17:55] mlh78750 commented on #2997
That looks correct to me. But @fdawg4l is the authority on it.

[2016-11-04 17:57] hickeng commented on #3008
@mreferre Part of the issue here is that you're bridging two distinct roles:
1. viadmin/vicadmin
2. docker user

While the same individual could be performing both roles, the expectation is that they will likely be separated. The nomenclature was chosen for the role, and to be consistent with docker usage.
If we were to change anything, I'd prefer to change the --external-network naming for vic-ma

[2016-11-04 18:01] mlh78750 commented on #3008
I agree with @hickeng. But I do understand how it could be confusing for someone that is playing both roles. Perhaps we should rename the vic-machine "external" network to "public" or something like that? It's where the published ports that go through the VCH connect and public might help in that sense.

The external scope from a docker user perspective fits well since it implies that the docker u

[2016-11-04 18:04] mreferre commented on #3008
Yes I appreciate that but for someone approaching the product for the first time and testing the end-to-end workflows etc it's super difficult to understand what's going on with all these names crossing and matching.

I am fine with changing the --external-network parameter as long as we change one :)

We could call this:

--outside-network (you must be kidding)
--internet-network (mh...)
--public

[2016-11-04 18:06] mlh78750 commented on #3014
I think docker will still start the container correct? You just wouldn't have connectivity over the network until you fixed the ip. Why are we blocking execution on getting an IP for a --net network? Maybe I misunderstand the expected behavior.

[2016-11-04 18:07] vburenin opened #3019 "Not informative warning message: retrying task"
During vic_delete I received this bunch of warning messages:

[code]

Logging of warning messages should either be a little more detailed on what is going on or disabled completely.

[2016-11-04 18:09] hickeng commented on #3010
Confirm that the gateway example is incorrect.

[2016-11-04 18:09] mlh78750 commented on #3010
Agreed. And adding to GA.

[2016-11-04 18:11] hickeng commented on #3014
@mlh78750 It won't start - the reasoning was that if a network is specified it's an inherent aspect of the container in the same way a volume or environment variable is. There's no assurance of behavioural correctness (in as much as there ever is) if the network isn't available, so fail the launch.

[2016-11-04 18:12] emlin commented on #3010
@hickeng is the format correct? I mean if subnet is required

[2016-11-04 18:13] mreferre commented on #3010
Are we also removing the need to have the network class (e.g. /24) specified for the GW?

[2016-11-04 18:13] mlh78750 commented on #3010
@hmahmood can you take a look at this one and recommend the changes needed.

[2016-11-04 18:14] hickeng commented on #3008
My preference would be for --public-network.

I think a lot of the problem relates to the fact we don't have some clear diagrams front and center in our docs. A connectivity diagram would go a long way towards helping document the various network options vs attempting to describe it.
Without people having a mental model that is somewhat correct for how things hang together, attempting to finesse n

[2016-11-04 18:15] mlh78750 commented on #3014
Interesting. I think docker would let it launch, but I'm not sure.

[2016-11-04 18:19] mreferre commented on #3014
[container-logs.zip](https://github.com/vmware/vic/files/572342/container-logs.zip)

Logs attached @hickeng

[2016-11-04 18:25] mlh78750 commented on #3008
Let's go with public. @hickeng the docs you are asking for are something we need and something I hope to have for the beta2 customers by next week. I think this is enough of a usability thing that I'd like to see this change make it into GA. It is largely a doc change. I'd prefer to keep basic options on vic-machine stable after we've GAed.

So the todo here is to change --external-network to --pu

[2016-11-04 18:29] fdawg4l commented on #2997
@hickeng and I went back and forth on this feature several times and we decided that the best course of action is to prevent implicit sharing of images across VCHs.  Rather, we intend to make available an offline process (perhaps with a tool or a tick box in a web ui) which allows sharing of specific images across VCHs.  It should be up to the VI admin / container admin to decide what data should

[2016-11-04 18:31] hmahmood commented on #3010
#1741 already tracks removing specifying gateway in CIDR notation. As @hickeng pointed out, the gateway example is not correct. The ip range can be specified multiple ways, with CIDR notation, or as a range. In the latter case, figuring out the subnet correctly may not be possible. We could put out a warning from vic-machine saying the calculated subnet mask may not be correct. Here is the current

[2016-11-04 18:47] mdubya66 commented on #3010
should we put this in the release notes for 0.7.0?

[2016-11-04 18:53] mlh78750 commented on #3010
@hmahmood But do you need to specify the gateway value with the /XX CIDR. in this specific value it seems redundant. Correct?

[2016-11-04 18:53] mlh78750 commented on #3010
@mdubya66 Yes. But let's make sure we're all on the same page as to what it should be. :)

[2016-11-04 19:17] rajanashok opened #3021 "Parallelize the nimbus ESX deploy for nightly"
Do a Start Process nimbus-esxdeploy call using SSHPASS, and also create a util wrapper for the same.

[2016-11-04 19:18] rajanashok commented on #2962
Cleaning up the pxe folder resolved this, not an issue anymore.

[2016-11-04 19:18] #2962 closed

[2016-11-04 19:18] mhagen-vmware opened #3022 "Longevity Failure: Error response from daemon: Server error from portlayer: A specified parameter was not correct: path"
[14-1-Longevity-VCH-0-4365-container-logs.zip](https://github.com/vmware/vic/files/572455/14-1-Longevity-VCH-0-4365-container-logs.zip)

[2016-11-04 19:19] mhagen-vmware commented on #3022
Failing container:
9f3098502806660d1b711058df6ffe634e74e9a36f888c0205eecba2b718fd0a

[2016-11-04 19:20] mhagen-vmware commented on #3022
From docker-personality.log:
[code]

[2016-11-04 19:21] mhagen-vmware commented on #3022
From portlayer.log:
[code]

[2016-11-04 19:30] mlh78750 commented on #3022
hostd logs on homer don't seem to end with anything wrong for that container.

[2016-11-04 19:45] hickeng commented on #3022
From the hostd logs the VM is unregistered and registered - this suggests there was an Invalid VM state at some point:
[code]

No evidence of this occurring in the port-layer log.

[2016-11-04 20:06] #1582 closed

[2016-11-04 20:06] #2896 closed

[2016-11-04 20:14] hmahmood commented on #3010
@mlh78750 in the case where the ip range is specified in CIDR notation, it is redundant, yes.

[2016-11-04 20:17] mhagen-vmware commented on #1671
@andrewtchin Hey Andrew, if you haven't made any significant progress on this yet, let me and @rajanashok work on it so you can focus on bug fixes over the next 2 weeks.

[2016-11-04 20:18] cgtexmex opened #3025 "multiple image tags no longer working"
A single image could have multiple tags.  For example busybox:1.25.1 is image id `e02e811dd08fd49e7f6032625495118e63f597eb150403d02e3238af1df240ba` which is currently the same image id as busybox:latest.

Docker example:
[code]

vic should support this and previously did, but in recent merges this support has been broken.

vic Example
[code]

Multiple tag support needs to be fixed and a test needs

[2016-11-04 20:27] mlh78750 commented on #3010
@hmahmood yea. it's a bit strange. Most networking configurations put CIDR on the ip address or the "network" address (the all 0's of the mask address) and I've not normally seen it on the gateway.

Cool. We'll fix the removal of the gateway CIDR and track it with issue #1741

We will use this issue to track fixing the incorrect documentation that vic-machine spits out.

Release notes for 0.7.0: T

[2016-11-04 20:51] cgtexmex commented on #2064
This issue has touched on a couple of different issues within the code base.  The original of not persisting the tag information was fixed.  It has subsequently been broken, but that fix and regression test will be tracked in #3025

The other issue addressed here is the fact that vic only deletes the leaf layer of the images and that causes problems.  That issue is being tracked in #2973

So closi

[2016-11-04 20:51] #2064 closed

[2016-11-04 20:56] jzt commented on #3025
Quick fix & test incoming.

[2016-11-04 21:49] hickeng commented on #3014
@mlh78750 I'm not sure what would occur - I'm not even sure if you can have a docker container with a DHCP based endpoint that's not using --host

[2016-11-04 21:57] hickeng commented on #3010
IIRC this was to keep the number of options you must specify as low as possible (given how many there are). If it's DHCP you only need to provide `--container-network`.
If it's non-dhcp you must provide a gateway, however it's it's a full subnet you add `--container-network-gateway=x,x,x,x/yy` and nothing else.
If you need to supply a range that is not the full subnet (e.g. when wanting to have co

[2016-11-04 22:07] mreferre commented on #3010
Oh I see @hickeng. That's clever. However I fear it may be too over-engineered / optmized.

As a user (not an engineer) I would have expected (for non DHCP) the range to be a requirement (along with the GW). The current method allows you to specify only the GW (with the netmask) and that's it (which is awesome now that I realize it) but I am wondering if this is what the users expect.

I would say

[2016-11-04 22:43] npakrasi commented on #2886
Done!

[2016-11-04 23:38] fdawg4l opened #3029 "Test-Cases.Group8-vSphere-Integration.8-01-GuestTools fails"
Found on https://ci.vmware.run/vmware/vic/6544

[code]

[2016-11-04 23:39] fdawg4l commented on #3029
[integration_logs_6544_656538f8287a95e94540fd6bd9e225f7aedbb4a9.zip](https://github.com/vmware/vic/files/572844/integration_logs_6544_656538f8287a95e94540fd6bd9e225f7aedbb4a9.zip)

[2016-11-04 23:41] fdawg4l commented on #3029
@dougm I have a feeling this is either an intermittent failure and I just got lucky, or something that'll never happen again.

[2016-11-04 23:50] hickeng commented on #3029
At first I thought this was the InvalidState issue, but we don't see that end result. We do get the same "lost connection to vm" reports however:
[code]

[2016-11-05 15:56] #3025 closed

[2016-11-06 00:08] vmwarelab opened #3031 "Error deploying containers on VCH 0.6.0"
[code]

**Expected behavior:**

run the nginx container

**Actual behavior:**

I get the following erorr
docker: Failed to write to image store: [POST /storage/{store_name}][500] WriteImage default  &{Code:0xc42020d2d0 Message:parent (scratch) doesn't exist in http://VCH01/storage/images/421de96b-21dd-8489-9624-2e10936158c7: cannot stat '[MGMT-LocalDisk1] VCH01/VIC/421de96b-21dd-8489-9624-2e109361

[2016-11-06 19:38] vmwarelab commented on #2196
i m using a datastore on a local disk and i getting the same issue
https://github.com/vmware/vic/issues/3031

[2016-11-07 03:39] #2989 closed

[2016-11-07 11:49] stuclem commented on #2997
@mlh78750  and @fdawg4l , I reworded as follows:

-----

By specifying the path to a datastore folder in the `--image-store` option, you can designate the same datastore folder as the image store for multiple virtual container hosts. In this way, `vic-machine create` creates only one `VIC` folder in the datastore, at the path that you specify. The `VIC` folder contains one <code><i>vch_uuid</i>/im

[2016-11-07 12:02] stuclem commented on #2822
Added a note to the following sections:

- [Networks Used by vSphere Integrated Containers Engine](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/networks.md)
- [Networking Options](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md#networking-options)

@hickeng is this OK?

[2016-11-07 12:04] stuclem commented on #3012
At the same time as describing this folder, remove the caveat about not sharing an image store folder from the `--image-store` description.

[2016-11-07 12:06] stuclem opened #3033 "Document that VCH supports one NIC per network"
Per https://github.com/vmware/vic/issues/2802. Remove the notes limiting VCH to 3 networks from the following topics once https://github.com/vmware/vic/issues/2802 is fixed.

- [Networks Used by vSphere Integrated Containers Engine](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/networks.md)
- [Networking Options](https://github.com/stuclem/vic/blob/master/doc/user_doc/vi

[2016-11-07 13:53] stuclem commented on #2542
Added sections on configuring a proxy server:

- [vic-machine options](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md#options-to-configure-virtual-container-hosts-to-use-proxy-servers)
- [VCH deployment examples](https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_examples.md#configure-a-proxy-server)

@hickeng i

[2016-11-07 15:31] stuclem commented on #2994
Created a very basic upgrade topic that just refers people to the install topics and tells them to run upgrade instead of install.

https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/upgrade_ui_plugin.md

@jooskim does this do it, or am being too lazy in not repeating the whole procedure for each type of deployment?

[2016-11-07 16:18] #3010 closed

[2016-11-07 16:29] mlh78750 commented on #3031
@vmwarelab Can you please collect the logs from the vic-admin page? And do you still happen to have the command line params you used to install the VCH?

[2016-11-07 16:34] mlh78750 opened #3037 "Log the vic-machine command line used to install a VCH in the logs."
We commonly would like to see the command line options used by vic-machine to install the VCH. We should log this so it is in one of the logs that download from vic-machine. We should also log command line changes from things like vic-machine debug etc.

This is going to be very useful for quickly resolving customer found issues.

[2016-11-07 16:47] emlin commented on #2491
Tried to block tether connection by enable host firewall after vch deployment, the container vm missing issue is already fixed.
I also checked the container.go and container_proxy.go, they are not trying to delete container incorrectly. So I assume this bug is fixed by other PRs.

[2016-11-07 16:47] #2491 closed

[2016-11-07 16:49] mhagen-vmware commented on #1671
Talked with @andrewtchin - @rajanashok and I are going to take this over after he merges his current PR for this:  #3009

[2016-11-07 16:59] vmwarelab commented on #3031
[container-logs (1).zip](https://github.com/vmware/vic/files/576026/container-logs.1.zip)

command i have used
[code]
i also found out from the documentation that the VIC plugin is not functional in VCH 0.6.0 release
 https://vmware.github.io/vic/assets/files/html/vic_installation/plugin_verify_deployment.html

[2016-11-07 17:22] mhagen-vmware commented on #2894
No longer hangs on docker run ps, also using docker run -it busybox ps partial prints the output but truncates.

[2016-11-07 17:29] mlh78750 commented on #3031
From personality log:
time="2016-11-06T21:29:47Z" level=info msg="Creating image store"
time="2016-11-06T21:29:51Z" level=error msg="Failed to create image store"
time="2016-11-06T21:29:51Z" level=fatal msg="failed to initialize backend: [POST /storage][500] CreateImageStore default  &{Code:0xc42036b248 Message:Put https://esx-01a.vmwarelab.local/folder/VCH01/VIC/421df1e6-9de7-d684-b8fb-384f2e2fc1

[2016-11-07 17:31] vmwarelab commented on #3031
Sure i thought the 0.7.0 isn't yet released . do you happen to have the link handy so i can download it ?

[2016-11-07 17:51] stuclem commented on #2305
Already in the release notes, so removing the kind/note tag.

[2016-11-07 17:51] stuclem commented on #2298
Already in the release notes, so removing the kind/note tag.

[2016-11-07 17:52] stuclem commented on #2242
Already in the release notes, so removing the kind/note tag.

[2016-11-07 17:52] stuclem commented on #2214
Already in the release notes, so removing the kind/note tag.

[2016-11-07 17:52] stuclem commented on #2152
Already in the release notes, so removing the kind/note tag.

[2016-11-07 17:53] stuclem commented on #2108
Already in the release notes, so removing the kind/note tag.

[2016-11-07 17:53] stuclem commented on #2099
Already in the release notes, so removing the kind/note tag.

[2016-11-07 17:54] stuclem commented on #2103
Already in the release notes, so removing the kind/note tag.

[2016-11-07 17:54] stuclem commented on #1884
Already in the release notes, so removing the kind/note tag.

[2016-11-07 17:55] stuclem commented on #1838
Already in the release notes, so removing the kind/note tag.

[2016-11-07 17:55] stuclem commented on #1647
Already in the release notes, so removing the kind/note tag.

[2016-11-07 17:55] stuclem commented on #1486
Already in the release notes, so removing the kind/note tag.

[2016-11-07 17:56] stuclem commented on #1331
Already in the release notes, so removing the kind/note tag.

[2016-11-07 17:56] stuclem commented on #1222
Already in the release notes, so removing the kind/note tag.

[2016-11-07 17:57] stuclem commented on #1160
Already in the release notes, so removing the kind/note tag.

[2016-11-07 17:57] stuclem commented on #773
Already in the release notes, so removing the kind/note tag.

[2016-11-07 17:57] stuclem commented on #745
Already in the release notes, so removing the kind/note tag.

[2016-11-07 17:58] stuclem commented on #743
Already in the release notes, so removing the kind/note tag.

[2016-11-07 17:58] stuclem commented on #441
Already in the release notes, so removing the kind/note tag.

[2016-11-07 17:59] stuclem commented on #1718
Already in the release notes, so removing the kind/note tag.

[2016-11-07 17:59] stuclem commented on #1687
Already in the release notes, so removing the kind/note tag.

[2016-11-07 17:59] stuclem commented on #1545
Already in the release notes, so removing the kind/note tag.

[2016-11-07 18:00] stuclem commented on #1484
Already in the release notes, so removing the kind/note tag.

[2016-11-07 18:00] stuclem commented on #1457
Already in the release notes, so removing the kind/note tag.

[2016-11-07 18:01] stuclem commented on #1409
Already in the release notes, so removing the kind/note tag.

[2016-11-07 18:01] stuclem commented on #1409
Already in the release notes, so removing the kind/note tag.

[2016-11-07 18:01] stuclem commented on #729
Already in the release notes, so removing the kind/note tag.

[2016-11-07 18:02] stuclem commented on #1279
Already in the release notes, so removing the kind/note tag.

[2016-11-07 18:02] stuclem commented on #159
Fixed. Removing the kind/note tag.

[2016-11-07 18:07] stuclem commented on #3010
Added to release notes. Removing kind/note tag.

[2016-11-07 18:08] stuclem commented on #2590
This is fixed. Removing kind/note tag.

[2016-11-07 18:08] stuclem commented on #2537
This is fixed and documented in core doc. Removing kind/note tag.

[2016-11-07 18:09] stuclem commented on #2410
This is fixed. Removing kind/note.

[2016-11-07 18:10] stuclem commented on #2388
This is fixed. Removing kind/note.

[2016-11-07 18:10] stuclem commented on #2372
This is fixed. Removing kind/note.

[2016-11-07 18:11] fdawg4l commented on #3031
@vmwarelab

I'm suspecting this isn't 0.7.0.  What version of VIC did you download?

This also looks a bit suspect.  When you log into the esx or VC UI, do you see any alerts related to this?

[2016-11-07 18:11] stuclem commented on #2366
This is fixed in #1899. Removing kind/note.

[2016-11-07 18:12] fdawg4l commented on #2196
@vmwarelab #3031 is unrelated to this issue.  Let's stick to updating 3031 until we can root cause it.

[2016-11-07 18:12] stuclem commented on #2344
Not reproduced. Removing kind/note.

[2016-11-07 18:13] corrieb opened #3039 "Port Layer crash if local and shared datastores specified"
I created a VCH with the image store on a local datastore and the volume store on a shared datastore. This should be a supported configuration AFAIK. The result is a port layer crash. Details attached below.

Note that although the log says that it can't find the shared volume datastore, it's fine if you install everything that datastore.

----- Cmd line -----

./vic-machine-linux create --name=0.

[2016-11-07 18:14] #2878 closed

[2016-11-07 18:14] mhagen-vmware commented on #2878
This is working now

[2016-11-07 18:14] stuclem commented on #2340
This is fixed. Removing kind/note.

[2016-11-07 18:14] stuclem commented on #2337
This is fixed. Removing kind/note.

[2016-11-07 18:14] fdawg4l commented on #2997
@stuclem that sounds great.  Thank you for updating and thanks for closing the loop on this.  Much appreciated.

[2016-11-07 18:15] stuclem commented on #2328
This is fixed. Removing kind/note.

[2016-11-07 18:15] vmwarelab commented on #3031
@fdawg4l 0.7.0 downloaded from here
https://bintray.com/vmware/vic/Download/v0.7.0

[2016-11-07 18:15] stuclem commented on #2327
This is fixed. Removing kind/note.

[2016-11-07 18:16] mhagen-vmware commented on #2936
icebox with #2911

[2016-11-07 18:17] fdawg4l commented on #3031
Yeah, that's definitely the right place.

[2016-11-07 18:18] corrieb opened #3040 "Minor vic-machine UX suggestions"
Couple of small suggestions:

- Output the vic-admin server URI in vic-machine create, even if the create fails. This way, you can at least go in and attempt to triage why it failed to start.

- Add the DOCKER_API_VERSION to vic-machine create and the suggestion to set this on the client in the same place as DOCKER_HOST is set. We may also want to advise to use --tls on the client if --notls is no

[2016-11-07 18:18] stuclem commented on #2295
This is fixed. Removing kind/note.

[2016-11-07 18:19] stuclem commented on #2294
This is fixed. Removing kind/note.

[2016-11-07 18:19] stuclem commented on #1974
This is fixed. Removing kind/note.

[2016-11-07 18:21] stuclem commented on #1878
This is not reproduceable. Removing kind/note.

[2016-11-07 18:22] stuclem commented on #1822
This is fixed. Removing kind/note.

[2016-11-07 18:23] mhagen-vmware commented on #2958
@vburenin Can you reproduce this at all? Can you attach a full log bundle?  Unless you see this again we might need to close as unreproduceable but putting it into .8 for now.

[2016-11-07 18:23] stuclem commented on #1813
This is fixed. Removing kind/note.

[2016-11-07 18:23] stuclem commented on #1800
This is fixed. Removing kind/note.

[2016-11-07 18:23] corrieb commented on #3040
Oh, I just saw that the VM-ID is exposed through vic-machine ls. OK, that makes a little more sense, but it wasn't at all obvious. Question still stands as to why we might want two handles to a VCH

[2016-11-07 18:23] stuclem commented on #1787
This is fixed. Removing kind/note.

[2016-11-07 18:23] stuclem commented on #1778
This is fixed. Removing kind/note.

[2016-11-07 18:24] stuclem commented on #1800
This is fixed. Removing kind/note.

[2016-11-07 18:25] stuclem commented on #1767
This is unreproduceable. Removing kind/note.

[2016-11-07 18:25] hickeng commented on #3039
Adding the entire log portion for the handler.Configure for context.
[code]

@fdawg4l

[2016-11-07 18:25] stuclem commented on #1749
This is unreproduceable. Removing kind/note.

[2016-11-07 18:25] stuclem commented on #1735
This is fixed. Removing kind/note.

[2016-11-07 18:26] stuclem commented on #1715
Check whether this still needs to be noted in known issues.

[2016-11-07 18:27] stuclem commented on #1701
This is fixed. Removing kind/note.

[2016-11-07 18:28] stuclem commented on #1638
For release notes: a single image cannot currently contain multiple tags. This in effect means that you cannot tag the same image with multiple repos.

[2016-11-07 18:28] jzt commented on #3031
@vmwarelab You can fix this by either specifying the thumbprint, like so:  `-thumbprint=E1:E1:61:DF:72:8F:2B:EB:6B:85:B4:13:62:9C:2B:DF:A6:CC:9C:5B`, or by using `--force`.

[2016-11-07 18:29] stuclem commented on #1625
RN tracked in #1638. Removing kind/note.

[2016-11-07 18:29] stuclem commented on #1602
This is fixed. Removing kind/note.

[2016-11-07 18:31] stuclem commented on #1581
This is fixed. Removing kind/note.

[2016-11-07 18:31] stuclem commented on #1564
This is fixed. Removing kind/note.

[2016-11-07 18:32] stuclem commented on #1560
This is fixed. Removing kind/note.

[2016-11-07 18:32] stuclem commented on #1557
This is fixed. Removing kind/note.

[2016-11-07 18:33] stuclem commented on #1541
This is fixed. Removing kind/note.

[2016-11-07 18:33] stuclem commented on #1321
This is fixed. Removing kind/note.

[2016-11-07 18:38] stuclem commented on #1313
This is fixed. Removing kind/note.

[2016-11-07 18:38] stuclem commented on #1312
This is fixed. Removing kind/note.

[2016-11-07 18:39] mhagen-vmware commented on #2981
@emlin Iceboxing, I am assuming that the user can manually clean up any partial install then move on.  Is that right?

[2016-11-07 18:39] stuclem commented on #1225
This is fixed. Removing kind/note.

[2016-11-07 18:40] stuclem commented on #757
This is fixed. Removing kind/note.

[2016-11-07 18:40] stuclem commented on #1210
This is fixed. Removing kind/note.

[2016-11-07 18:41] stuclem commented on #1109
This is fixed. Removing kind/note.

[2016-11-07 18:41] stuclem commented on #1086
This is fixed. Removing kind/note.

[2016-11-07 18:42] mhagen-vmware commented on #3000
This issue has gotten slightly off track, but Iceboxing the original request for support for --publish-all support as that is a feature that we will not be getting to by GA.

[2016-11-07 18:43] mhagen-vmware commented on #3001
Iceboxing as minor technical debt, if we have time we can try and sneak this in.

[2016-11-07 18:44] mhagen-vmware commented on #3011
Iceboxing, as it is a nice to have but is only slightly annoying at this point.  If we somehow have time prior to GA we can try to get this in.

[2016-11-07 18:47] stuclem commented on #2997
Thanks @fdawg4l

[2016-11-07 18:47] #2997 closed

[2016-11-07 18:47] mhagen-vmware commented on #3014
Iceboxing for now, if we get a chance we can try to get this in to GA (not likely) but at this time we have documented that we require DHCP.

[2016-11-07 18:49] mhagen-vmware commented on #3031
Pulling this into 0.8 for now, we need to further triage prior to release.

[2016-11-07 19:00] chengwang86 commented on #2905
update:

I find the same behavior on my local setup with an ESXi server on my laptop. On avg "docker start" takes 10 seconds. This is reproducible.

Workflow:
-> docker create -it busybox
-> docker start ...

[2016-11-07 19:04] anchal-agrawal commented on #3000
Thanks @mhagen-vmware. I've updated the issue title.

[2016-11-07 19:12] corrieb commented on #2905
FWIW, 10-12 second start time in itself is not a problem. Significant inconsistency in start time is a bug.

[2016-11-07 19:26] fdawg4l commented on #3039
@corrieb the path has to exist for volumes.  I took the liberty of logging in to your VC and the path does not exist.  Can you create the directory on that datastore and try again?

We create the path you supply for images if it doesn't exist.  We don't do that for volumes.  I don't remember the merits of the argument to not create the directory for volumes, but I do remember chatting with @hicken

[2016-11-07 19:26] corrieb commented on #2905
@chengwang86 can you verify the build. I just tried with 0.7.0 and got start times varying between 15 and 18 seconds with nested ESXi. Sure this is slow, but that falls into the bucket of optimization. However if it's wildly inconsistent in your particular env, we need to investigate as a matter of urgency. Do you know how to upload a log bundle?

[2016-11-07 19:26] fdawg4l commented on #3039
ah, not a bug :-)

[2016-11-07 19:27] corrieb commented on #2905
FWIW, it will vary between different datastore types, depending on latency. If you're seeing variations between VCHs, that may well explain it. However if you're seeing significant variations with the same VCH, that's a problem

[2016-11-07 19:34] chengwang86 commented on #2905
@corrieb you can simply drag your log.zip to the comment text box :)

I doubt this one relates to Stopping containers thru vCenter is slower, as of build 5275 #2568  (also due to delayed "host sync" btw vCenter and ESXi). But it cannot explain why I observe similar behavior on my local setup without the vCenter.

[2016-11-07 19:37] vmwarelab commented on #3031
the 0.7.0 seems harder to install

i m using the following command now
[code]
and its timing out now throwing this error

ERRO[2016-11-07T14:35:37-05:00] Property collector error: context deadline exceeded
ERRO[2016-11-07T14:35:37-05:00] Unable to wait for extra config property guestinfo.vice..init.networks|client.assigned.IP: context deadline exceeded
INFO[2016-11-07T14:35:37-05:00] Unable to get

[2016-11-07 19:41] fdawg4l commented on #3039
Scratch that.  We definitely create the directory if its not there.

[2016-11-07 19:43] fdawg4l commented on #3039
I can repro locally and im getting the same timeout.  I don't have iscsi either.

[code]

[2016-11-07 19:43] corrieb commented on #2905
Heh - I was asking you if you knew (about the log bundle) :)

Apologies @chengwang86 I didn't recognize your ID initially. I've been out of this world for a little while now. Thought you were raising the bug from outside.

The more you can do to isolate the better. Does it only happen on a single ESXi host? Or with VC too? There was a time when I was seeing inconsistency, but not any more.

[2016-11-07 19:47] chengwang86 commented on #2905
@corrieb I didn't use the existing builds. I just downloaded the latest vic code this morning and created a VCH based on it. Actually what we observe seems consistent with the previous builds: with local esx, the avg time for "docker start" is around 7 sec (see here http://perfmon.eng.vmware.com/dashboards/bonneville_perf_pilot.html?limit=all)

[2016-11-07 20:25] corrieb commented on #2905
Again, I'm not concerned about average time. I'm concerned about standard deviation == consistency. Can you post an example of some start times with a single VCH - the deviation from the mean

[2016-11-07 20:27] corrieb commented on #3040
Hmm. Didn't mean to add any of those labels or milestones. Weird

[2016-11-07 20:31] corrieb opened #3043 "vicadmin: Chrome browser uses high CPU tailing logs"
Problem evident in 0.7.0 tagged build

When debugging an issue earlier today, I noticed that tailing the logs in vicadmin caused the fans to start whirring on my laptop. Turns out Chrome is using a lot of CPU for a small amount of output in vicadmin (update every couple seconds).

You wouldn't normally notice this because vicadmin doesn't put out much output. However, I've tried various ways of tr

[2016-11-07 20:37] mlh78750 commented on #3031
@vmwarelab For your original issue, are you deploying to a cluster of more than one host for the compute resource but to local storage on only one host?

For the .7.0 issue do you have DHCP available? If you don't you'll need to specify an IP. It looks like you're not getting any addresses. Is this a nested environment?

[2016-11-07 20:47] vmwarelab commented on #3031
@mlh78750 i m deploying to a cluster with one physical host (not nested) and DHCP is available as each of my deployment had an IP ..

[2016-11-07 20:56] vburenin opened #3044 "Can not pull containers from AWS docker repository."
VIC doesn't support AWS docker registry.

# Repro steps
AWS cli tool should be installed to generate "docker login"
During authentication process, I get the following error:
[code]

It is happening due to not supported Basic authentication on VIC side. VIC expects "Bearer" only in the www-authentication header.

[2016-11-07 20:58] vburenin commented on #2758
I no longer see this behavior. @caglar10ur, Is it already fixed?

[2016-11-07 21:01] #2367 closed

[2016-11-07 21:10] gigawhitlocks opened #3045 "Minor UI text alignment bug in Vic Admin"
The text `VIEW ON GITHUB` is not centered vertically because the github icon is slightly taller than the text:

<img width="228" alt="screen shot 2016-11-07 at 3 08 06 pm" src="https://cloud.githubusercontent.com/assets/3743903/20075985/352cbcc6-a4fc-11e6-9f78-d5426612b625.png">

CSS should be tweaked to align this text properly.

The bug is especially visible next to the properly-aligned `LOG OUT

[2016-11-07 21:12] mreferre opened #3046 "Volumes misbehaviour"
Using version 0.7.0

Apparently there is an issue where if you deploy multiple VCHs using the same values for `--volume-store` and `--image-store`, upon deletion of a single VCH the remaining VCHs will not be able to create volumes any more.

Steps to recreate:

[code]
At this point trying to create a volume on VCH5 will succeed.
[code]
At this point trying to create a volume on VCH5 will fail.

/

[2016-11-07 21:17] cgtexmex commented on #1941
The build workflow that @mreferre describes above is pretty common IMO and is problematic in vic due to a few remaining issues.  When the issue was filed the lack of multi-tag support and persistence caused the initial problems -- that is now implemented (v0.7.0 and later) and this workflow has uncovered a few other issues.  I'm working through those issues now and will update the issue shortly wi

[2016-11-07 21:38] mlh78750 commented on #3044
@vburenin please add version information and logs. And the commands you used to reproduce.

[2016-11-07 21:40] mlh78750 commented on #2758
https://github.com/vmware/vic/pull/2874 fixed it I believe.

[2016-11-07 21:46] mlh78750 commented on #1941
cc @mlh78750

[2016-11-07 21:49] caglar10ur commented on #2758
yep, I think we can close it now (and re-open if we hit with it again). CLosing

[2016-11-07 21:49] #2758 closed

[2016-11-07 21:57] emlin commented on #2981
@mhagen-vmware yes, you're right. In this single case, user will have one vapp and partial vch vm created, without any datastore consumption.
The only exception is the bridge network in esxi, that will not be deleted, if user just delete the vch vm and resource pool. But that still can be reused next time to deploy same name vch.

[2016-11-07 21:59] emlin commented on #3046
@hickeng @fdawg4l this is the issue we talked today in the meeting

[2016-11-07 22:03] emlin commented on #3046
it's doable to warn user from vic-machine create for the volume dir is already used by other vch, but no idea for which.

[2016-11-07 22:05] vburenin opened #3048 ""docker exec" is not implemented."
Sometime it is really need to connect to the container to really see what is going on at some moment of time. Using docker exec is really useful for that.

[2016-11-07 22:06] emlin commented on #3046
But there still have chance to have two vch deployed at the same time, and is using the same volume directory. In that case, vic-machine cannot warn user cause the volume directory is not used yet. That's a racing issue.

[2016-11-07 22:10] emlin commented on #3046
@stuclem the document for volume store configuration, mentioned this
[code]
Though user could reuse same datastore for volume store, but in general, they should specify different folder for different vch.

User can share volume stores, only after one vch is deleted, and another vch want to take over the volumes created by the previous vch.
Otherwise, user need to specify different folder for diffe

[2016-11-07 22:11] npakrasi commented on #1638
Added to known issues for 0.7.0.

[2016-11-07 22:24] npakrasi commented on #1823
Added to 0.7.0 known issues.

[2016-11-07 22:28] #2925 closed

[2016-11-07 22:34] npakrasi commented on #1823
Added to 0.7.0 release notes known issues.

[2016-11-07 22:37] npakrasi commented on #2595
Added to 0.7.0 release notes known issues.

[2016-11-07 22:38] npakrasi commented on #2303
Added to 0.7.0 release notes known issues.

[2016-11-07 22:38] npakrasi commented on #2582
Added to 0.7.0 release notes known issues.

[2016-11-07 22:39] npakrasi commented on #2724
Added to 0.7.0 release notes known issues.

[2016-11-07 22:39] npakrasi commented on #2840
Added to 0.7.0 release notes known issues.

[2016-11-07 22:40] npakrasi commented on #2853
Added to 0.7.0 release notes known issues.

[2016-11-07 22:49] chengwang86 commented on #2905
@corrieb I have repeated "docker start" 103 times with a VCH on my local esx; here are some stats:

avg: 10.19 sec
std:  0.56 sec
min: 9.82 sec
max: 12.69 sec
median: 10.03 sec
5%ile: 9.69 sec
95%ile: 11.43 sec

[2016-11-07 22:51] #3004 closed

[2016-11-07 23:14] hickeng commented on #2899
@matthewavery The significance of this should be reduced drastically when reconfigure is available.

[2016-11-07 23:23] hmahmood opened #3051 "Logging is inconsistent"
We lack consistency in our log output. For example, in vic-machine with `--debug 1` we get something like:
[code]

In addition we are using the default formatter object from [logrus](https://github.com/sirupsen/logrus), which just outputs the key value pairs, in addition to escaping `"` and `\n`:
[code]

This makes debugging even more challenging that it already is.

We need a formatter that will

[2016-11-07 23:39] rajanashok opened #3052 "govc-adding an ESX 5.5 host to distributed switch fails"
VC_VERSION  4531673
ESX_VERSION 3029944

nimbus-esxdeploy ${name} --disk=48000000 --ssd=24000000 --memory=8192 --nics 2 3029944

KEYWORD Nimbus-Util . Add Host To Distributed Switch /ha-datacenter/host/cls
Start / End / Elapsed: 	20161107 12:12:42.842 / 20161107 12:12:44.009 / 00:00:01.167
00:00:00.000 KEYWORD BuiltIn . Log To Console \nAdd host(s) to the distributed switch
00:00:01.163 KEYWORD ${

[2016-11-07 23:57] fdawg4l commented on #3039
Doh!  I made a booboo.  All datastores for volumes point to the default datastore :-).  Because that's helpful.

I'll take care of this.  Easy fix.

[2016-11-07 23:58] rajanashok commented on #3052
Drone Test execution log

[DRONE] starting job #1
[info] Pulling image vmware-docker-ci-repo.bintray.io/integration/vic-test:1.14
$ pybot -d 5-5-Heterogenous-ESXi tests/manual-test-cases/Group5-Functional-Tests/5-5-Heterogenous-ESXi.robot
==============================================================================
5-5-Heterogenous-ESXi :: Test 5-1 - Distributed Switch
===========================

[2016-11-08 00:02] gigawhitlocks commented on #2955
We also need to remove the use of `Validator` in rendering pages that do not need it

[2016-11-08 00:03] rajanashok commented on #3052
${vc} = svc.victestuser-VC-5815
${vc-ip} = 10.160.5.57

[2016-11-08 00:27] hickeng commented on #1450
There's now a 3sec delay between restart attempts. Incredibly basic, but enough to stop soaking up arbitrary amounts of CPU.

[2016-11-08 00:36] hickeng commented on #2839
@smaithani Please could you try with 0.7.0 - there's been significant work done on the attach paths which will likely have addressed this problem.

My speculation as to the issue is that this environment is running extremely slowly and the timeout we put in for attach to protect people from hung attach sessions when trying to connect to a container that's transitioning to off is kicking in:

initi

[2016-11-08 01:27] dougm commented on #3052
vmware/govmomi#626

[2016-11-08 05:13] jooskim commented on #2994
Once the user has downloaded a newer build it should already have the new binary for VIC UI as well so I don't think there's a need to copy either the zip file or the folder to their respective location. Simply running the `upgrade.sh` file should do the job.

There's a catch though that if, for some reason, we release a hotfix of the existing version (say v1.0.0) which has the exact same version

[2016-11-08 09:49] mreferre commented on #3046
Wouldn't it help it we just create automatically a folder for the user with the VCH name? So if I do `vic-machine create --name VCH1 --volume-store datastore1:default ........` we create automatically a folder called `datastore1/VCH1`.

This will help with:

1) the potential race condition (the VCH names need to be unique to start with)

2) honouring the fact that a new VCH can see the old volumes

[2016-11-08 09:55] mreferre commented on #2899
According to @hickeng it seems like now the VCH is able to inspect the image metadata and search for any VOLUME statement. If they are present VIC will create automatically said volumes and map them to the containerVM. An example of this is the vmware/admiral image.

If we don't have volumes enabled all these images fail to instantiate. I think this will be a usability nightmare. With all the mean

[2016-11-08 11:42] stuclem commented on #3046
@mreferre but if the image store is on datastore1 with no path specified, then the VCH appliance files will be in a folder with the VCH name....

[2016-11-08 11:44] stuclem opened #3054 "Document that volume stores should not be shared."
Per https://github.com/vmware/vic/issues/3046#issuecomment-258979301. Probably merits updating the 0.7 / beta 2 docs.

[2016-11-08 12:13] stuclem commented on #2994
Hmm, @jooskim I'm not sure that I agree with your first point. If there's a new version of the `com.vmware.vicui.Vicui-version.zip` file or `com.vmware.vicui.Vicui-version` folder then surely you either need to copy the ZIP to your Web server or the folder to the machine where VC is running. The only scenario in which you don't need to copy it is deployment to VCVA without a Web Server, I think...

[2016-11-08 12:16] stuclem commented on #3016
PR https://github.com/vmware/vic/pull/2883 is now merged.

[2016-11-08 12:27] stuclem opened #3055 "Documentation: improve TLS docs."
The TLS docs need more work.

Comment from @hickeng by email:

-----

I suggest we separate (the TLS doc) in the following manner:

1. How to supply a server certificate for a VCH (this is a really common thing for many servers - should be the piece people are most familiar with).
2. How to configure client authentication (mutual authentication)
3. How to disable TLS
--> what certificates are requ

[2016-11-08 12:40] stuclem commented on #3006
Per https://github.com/vmware/vic/issues/3008#issuecomment-258508106 we need to get a really clear diagram in the docs overview.

https://github.com/vmware/vic/issues/3008 also includes some nice discussion about the roles of the different networks.

[2016-11-08 12:42] stuclem opened #3056 "Documentation: rename --external-network to --public-network"
Per discussion in https://github.com/vmware/vic/issues/3008.

[2016-11-08 12:43] stuclem commented on #3008
I have two doc issues open to update the docs with the comments/decisions from this one: https://github.com/vmware/vic/issues/3006 and https://github.com/vmware/vic/issues/3056. Removing the kind/doc flag as this is the engineering issue.

[2016-11-08 12:45] stuclem commented on #3007
I think that this is covered by https://github.com/vmware/vic/issues/3006 and https://github.com/vmware/vic/issues/3056. Closing.

[2016-11-08 12:45] #3007 closed

[2016-11-08 12:48] stuclem commented on #911
One potential idea, approved by @karthik-narayan, is to go with github release notes at GA, then publish VMware-style release notes in VMware.com a week or so post-GA. TBC.

[2016-11-08 12:51] stuclem commented on #1355
New Docker options/parameters will be tracked in new issues. Closing.

[2016-11-08 12:51] #1697 closed

[2016-11-08 12:53] stuclem commented on #2516
Moving this back to backlog pending implementation of https://github.com/vmware/vic/issues/1689.

[2016-11-08 12:54] #1807 closed

[2016-11-08 12:55] #848 closed

[2016-11-08 12:57] #1901 closed

[2016-11-08 12:59] #1499 closed

[2016-11-08 13:00] #2495 closed

[2016-11-08 13:00] #954 closed

[2016-11-08 13:01] stuclem commented on #2517
Moving this one back to backlog pending the implementation of https://github.com/vmware/vic/issues/1689.

[2016-11-08 13:01] #2671 closed

[2016-11-08 13:02] #2513 closed

[2016-11-08 13:02] #2634 closed

[2016-11-08 13:03] #2570 closed

[2016-11-08 13:03] #1877 closed

[2016-11-08 13:04] #2435 closed

[2016-11-08 13:04] #951 closed

[2016-11-08 13:05] #1695 closed

[2016-11-08 13:06] #2764 closed

[2016-11-08 13:06] #2927 closed

[2016-11-08 13:07] #2678 closed

[2016-11-08 13:08] stuclem commented on #2730
Will track other unsupported features through separate issues. Closing this one.

[2016-11-08 13:08] #2730 closed

[2016-11-08 13:08] #2918 closed

[2016-11-08 13:08] #2762 closed

[2016-11-08 14:07] stuclem commented on #2670
Leaving this one in To Do because I need further info from @hickeng.

[2016-11-08 14:07] #1023 closed

[2016-11-08 14:07] #2217 closed

[2016-11-08 14:08] #2886 closed

[2016-11-08 14:08] #2822 closed

[2016-11-08 14:09] stuclem commented on #2542
Putting this back to In Progress, as I would like a review by @hickeng.

[2016-11-08 14:13] jooskim commented on #2994
@stuclem You're right. What I said above was for no web server case, and you definitely have to upload the newer zip file or folder to the target location when using the web server approach. Sorry for the confusion.

It's great that you already have that covered. It's been a while since I last looked at documentations.

[2016-11-08 14:33] stuclem commented on #2994
@jooskim no problem. I have made a couple of minor changes in the topics mentioned above. Details in https://github.com/stuclem/vic/commit/761cd2ce21945948ad006f54e4dee51e3d6ce9b7.

Does this cover it? Thanks!

[2016-11-08 14:52] stuclem commented on #3046
Just played about a bit with volumes and think I get what @mreferre is talking about. Is it normal that, `--volume-store` still creates `VIC/volumes` at the root of the datastore if you don't specify a folder? If you don't specify a folder, `--image-store` now puts the `VIC/.../images` folder inside the folder with the VCH name. Shouldn't `--volume-store` follow the same pattern as `--image-store`

[2016-11-08 15:04] stuclem commented on #3054
Added note to say that volume stores should not be shared, and fixed the descriptions of the resulting folder layouts.

Changes are in https://github.com/stuclem/vic/commit/417a8dea2577753f0a7fe3dce509ea9a92b7b045.

@emlin, is this OK? Thanks!

[2016-11-08 15:07] emlin commented on #3046
The dynamic folder name will always have problem between unique folder name and reusable folder name.
We cannot guarantee the VCH name is unique, because it's in hierarchy resource pool structure, name itself is not unique. That's why images store is using vch uuid, instead of vch name as the images boundary.
And with this solution, we're forcing user to use same vch name to reuse vch volumes.

[2016-11-08 15:12] emlin commented on #3046
@stuclem the reason for volume not to use same solution with image store, is just because user will need to reuse volumes created by other VCH.
Though we still didn't really reuse same volume vmdk between two different container vms.

The case is like user created one VCH, and then created volumes and write data into those volumes from containers.
But later on, this VCH can be removed with volumes

[2016-11-08 15:24] stuclem commented on #1544
@emlin and @hickeng, I see that `--use-rp` is still there in the extended help for `vic-machine create`. Are we keeping it? Under what circumstances would someone actually need/want to use it?

[2016-11-08 15:24] mhagen-vmware opened #3057 "Re-work vic-admin tests to be independent and not rely on previous cases passing"
See:
https://github.com/vmware/vic/pull/2883

[2016-11-08 15:25] mhagen-vmware opened #3058 "Simplify and cleanup vic-admin tests"
instead of pull/create/start could just use a simple docker run -itd for log, etc.

[2016-11-08 15:42] mhagen-vmware commented on #3029
Saw this here as well:
https://ci.vmware.run/vmware/vic/6582

[2016-11-08 15:44] mhagen-vmware commented on #2340
Saw this in:
https://ci.vmware.run/vmware/vic/6582

[2016-11-08 15:44] mhagen-vmware commented on #2340
[integration_logs_6582_49722bd7da1654b534a3dda80dfa6921ddebef73.zip](https://github.com/vmware/vic/files/578607/integration_logs_6582_49722bd7da1654b534a3dda80dfa6921ddebef73.zip)

[2016-11-08 15:46] mhagen-vmware commented on #2592
Seen in:
https://ci.vmware.run/vmware/vic/6582

[integration_logs_6582_49722bd7da1654b534a3dda80dfa6921ddebef73.zip](https://github.com/vmware/vic/files/578610/integration_logs_6582_49722bd7da1654b534a3dda80dfa6921ddebef73.zip)

[2016-11-08 16:17] emlin opened #3059 "vic-machine create with static ip address failed with ip X.X.X.X/24"
[code]
failed with
[code]

but without netmask, it works well.
Need to update vic-machine to block wrong ip settings.

[2016-11-08 16:23] gigawhitlocks commented on #2705
Completed with closure of PR #2883

[2016-11-08 16:24] gigawhitlocks commented on #2362
Completed in PR #2883

[2016-11-08 16:24] #2362 closed

[2016-11-08 16:42] emlin commented on #3059
this issue is not because of netmask, so close for now

[2016-11-08 16:42] #3059 closed

[2016-11-08 16:53] mreferre opened #3060 "Fixed IP VCH vm configuration does not honour the default DNS"
version 0.7.0

When setting a static IP address to the VCH, when the flag `--dns-server` is not populated we set the DNS to the GW specified (Vs. 8.8.8.8 as the help suggests):

[code]

Workaround: when setting a fixed IP explicitly use `--dns-server 8.8.8.8`

[2016-11-08 16:59] mlh78750 commented on #3031
@vmwarelab your PG dvPortGroup-Management-Network can reach the esx host as well? What is serving DHCP for you? it looks like your DNS settings from DHCP didn't make it into the appliance and I'm trying to figure out how that could happen.

[2016-11-08 16:59] mlh78750 commented on #3031
cc @hmahmood

[2016-11-08 17:07] mlh78750 commented on #3060
@stuclem: can we add this to the release notes for 0.7.0 please.

[2016-11-08 17:09] mhagen-vmware opened #3061 "Write an integration test to verify that we log failed vic-admin login attempts"
See issue: #2362

[2016-11-08 17:11] vmwarelab commented on #3031
@mlh78750 Yes.. of course its one flat network . my DHCP is my provider's router and it has no awareness of any DNS ? i dont though think thats the probelm.. cause i had no issue deploying the 0.6.0 release.

is there a way to specify the dns manually within the vic-machine-linux command ? to my knowledge you can no longer use the --dns-server parameter

[2016-11-08 17:28] #2705 closed

[2016-11-08 17:28] #2342 closed

[2016-11-08 17:33] hmahmood commented on #3031
@vmwarelab `--dns-server` should work if you specify a static ip for the external network (via `--external-network-ip`. I believe otherwise we get the DNS servers from DHCP. The change that does not request DNS servers from DHCP servers did not make it to 0.7.0, but should be present in the upcoming 0.8.0 release.

Can you give `--dns-server` a shot in any case?

[2016-11-08 17:36] emlin commented on #2451
[code]
now, successful out of band shutdown works well, but out of band start does not update vm status at all

[2016-11-08 17:38] hickeng commented on #3040
@corrieb The name is ambiguous and requires the compute resource as well. --id is a much shorter form if you are aware of it.
Updating the help output to make it evident that's you need ( --id,  ) || ( --compute-resource && --name ) makes sense, as does providing the ID in useful form in the create summary output.

[2016-11-08 17:45] hickeng commented on #3043
I do not see this issue with up-to-date chrome on Windows.

We are not doing anything complex with the log tail - it's just an unterminated http response.
You can try opening the chrome Developer Tools (More Tools->Developer Tools) to see if there's anything obvious there.
Also, please check it's the log tab that's consuming CPU using the chrome task manager.

[2016-11-08 18:00] hickeng commented on #3011
We may well adopt the resize approach on detach (for linux at least), but we will need to look at the impact it has on the log output and how the logs get used.
Implementing this solely for interactive shell may be worth it, but it's not an obvious call to me at this point.

[2016-11-08 18:07] hickeng commented on #2958
@emlin From the port layer log I'm seeing us attempt to fix invalid state - however the VM state isn't invalid... it's just not valid for the operation in question:
[code]

Looks like we need an additional check in the Fix path to differentiate invalid VM from invalid state for operation.

This does not address the initial failure @vburenin saw.

[2016-11-08 18:10] gigawhitlocks commented on #2361
<pre>~/go/src/github.com/vmware/vic master*
❯ wget -v --certificate=ian-other-vch/cert.pem --private-key=ian-other-vch/key.pem --no-check-certificate https://willie.eng.vmware.com:2378/logs/vicadmin.log
--2016-11-08 12:09:05--  https://willie.eng.vmware.com:2378/logs/vicadmin.log
Resolving willie.eng.vmware.com (willie.eng.vmware.com)... 10.17.109.220, 10.17.109.220
Connecting to willie.eng.vmware

[2016-11-08 18:10] #2361 closed

[2016-11-08 18:12] hickeng commented on #2958
@vburenin Do you still have the hostd.log for this failure? The fragment in question doesn't include the task that failed `haTask-81-vim.VirtualMachine.reconfigure-2021182977`, so we cannot say for sure what occurred.

[2016-11-08 18:15] gigawhitlocks commented on #2342
Completed with closure of #2883

[2016-11-08 18:23] vmwarelab commented on #3031
@hmahmood it accepted the parameter --dns-server but still timed out. if i check the datastore , it doesnt get to creating the vic folder with all its contents . i only see a new folder called kvStores

[2016-11-08 18:26] mlh78750 commented on #3031
@vmwarelab can you run the install with --debug=1 and post the output please.

[2016-11-08 18:27] mlh78750 commented on #3031
@vmwarelab And my comment from an hour ago was trying to figure out what happened with .6.0.  We can focus on getting your .7.0 setup.

[2016-11-08 18:32] dougm commented on #3052
Created a new release that includes the fix: https://github.com/vmware/govmomi/releases/tag/v0.11.3

Will leave it to you guys to update the image and add the flag to the robot calls.

[2016-11-08 18:53] hmahmood commented on #3031
@vmwarelab as far DNS behavior is concerned that is expected with 0.6.0 and 0.7.0. As long as you don't specify static ip for external network DNS servers will continue to get populated from DHCP, and `--dns-server` will have no effect. This will be fixed with 0.8.0.

[2016-11-08 18:56] vmwarelab commented on #3031
@mlh78750 here is output at the end . there tons of connection refused .. i just copied the end of the trail

DEBU[2016-11-08T13:32:10-05:00] Components not yet initialized, retrying
DEBU[2016-11-08T13:32:10-05:00] connection refused
DEBU[2016-11-08T13:32:11-05:00] Components not yet initialized, retrying
DEBU[2016-11-08T13:32:11-05:00] connection refused
time=2016-11-08T13:32:11.742321376-05:00 l

[2016-11-08 19:04] vmwarelab commented on #3031
Looks like we have a winner
[code]
this command deployed the VCH successfully.  now i can test the pulling and running containers so back to the original issue.

[2016-11-08 19:26] hickeng commented on #3006
@stuclem We need significantly more in terms of diagram:
- client network - needs to be explicit that the DOCKER API is served on that interface
- external network - needs to be explicit that forwarded ports are served on that interface
- bridge network - needs to be explicit that it's a DVS, without DHCP, an no other VMs (very advanced setups could weaken those constraints but no point in confusi

[2016-11-08 19:31] hickeng commented on #3008
For GA release:
- [ ] rename --external-network to --public-network in vic-machine
- [ ] update references in vic-machine to use `public` instead of `external` (otherwise arguments and output will mismatch)
- [ ] update appliance code to use `public.localhost` instead of `external.localhost` and any explicit interface references, e.g. ip tables config

[2016-11-08 19:32] #3039 closed

[2016-11-08 19:32] hickeng commented on #1355
@stuclem @npakrasi We do not support `--net=host`, but there should be a reference to the use of `--container-network` vic-machine option as a possible alternative approach.

[2016-11-08 19:44] hickeng commented on #3044
@vburenin This is significantly lacking in detail to assess relatively priority.
Is this a repo hosted in AWS or something else?
What is the version of the repo?
Is the `--email` error really coming from nowhere as implied by the recreate steps?

[2016-11-08 19:46] hickeng commented on #2303
@mreferre Are there specific use cases that keep repeating, a general request for shared volumes, or something else entirely?

[2016-11-08 19:50] caglar10ur opened #3063 "vic-admin --no-tls case"
right now it crashes and requires following

[code]

applying that fix solves the crash but we show login page over http which is not secure, instead we should be showing a message saying that they can't use vic-admin cause --no-tls

[2016-11-08 19:52] hickeng commented on #2582
@npakrasi This is actually the following:
* the IP provided to the `target` parameter must be reachable on the management network used in the deployment (may share with client or external)
* if using a DNS name instead of an IP, the name used must be resolvable by the created endpoint VM, using the dns server configured (via DHCP or the `--dns-server` parameter) - there is no default search domain

[2016-11-08 19:52] gigawhitlocks commented on #3063
Will generate self-signed certs for vicadmin for when no signed certs are provided so that we can still serve vicadmin over https in the `--no-tls` case

[2016-11-08 19:54] hickeng commented on #2853
@smaithani I'm not seeing any evidence that the vApp was actually created - in fact it looks as though it was not given the errors.

[2016-11-08 19:55] smaithani commented on #2853
The vApp does get created, I checked from UI

[2016-11-08 20:29] #2804 closed

[2016-11-08 20:35] hickeng commented on #2955
concur - +1 for a structured interface, and clean handling of unavailable/unimplemented portions.

we should be using vcsim for unit test of any portions of vicadmin that require infrastructure interaction.

[2016-11-08 20:39] mhagen-vmware commented on #2985
This appears to be due to a panic in portlayer:
[code]

[2016-11-08 20:45] mhagen-vmware opened #3065 "Figure out how to prevent concurrent tests from running on the test servers"

[2016-11-08 20:48] mlh78750 commented on #3031
@vmwarelab Looking through your original issue on 0.6.0 it looks like the VCH appliance was somehow trying to connect to a FQDN called esx-01a.vmwarelab.local and could no resolve it. However your install command was only using an IP for the target. Hence the questions about your DHCP And DNS setup. If you target a FQDN the VCH appliance needs to be able to resolve that name as well to connect to

[2016-11-08 20:52] vburenin commented on #3044
I am in process of digging into the problem. At the moment it looks like we simply do not support Basic authentication + combined with other protocol violations.

[2016-11-08 20:54] mlh78750 opened #3066 "vic-machine should test connectivity and name resolution on install of VCH and provide clear feedback and fail install if it doesn't work."
See: https://github.com/vmware/vic/issues/3031#issuecomment-259255064

If customer uses FQDN for install but it is only resolvable by the client (and possibly VC) but the VCH doesn't get configured with the same resolver then we will fail in very non-obvious ways. We should have vic-machine test the ability to resolve any passed in FQDN as well as get a list of hosts from the VC cluster/resource p

[2016-11-08 20:55] mlh78750 commented on #3066
not sure if i'd hold a hard line on this making it for 0.8.0 but I want us to try.

[2016-11-08 20:57] fdawg4l commented on #2819
@mhagen-vmware can you look at my comment above and advise?  We either need to identify the tests that are using hardcoded non-sharable paths which we are likely racing on, reduce the number of works to the number of esx hosts and stop sharing all together, or your change above has put us in a good place and we can close this issue.

[2016-11-08 21:09] emlin commented on #2958
@hickeng hmm... yeah, so even it's not invalid vm, we still might report InvalidState error. It's OK to check vm connection state before unregister it.

[2016-11-08 21:11] bbrundert commented on #3060
The install guide (https://vmware.github.io/vic/assets/files/pdf/vic_installation.pdf) also has a documentation bug on page 32. ```--dns-server```is the official flag but in the example it says
[code]

[2016-11-08 21:13] mlh78750 commented on #3060
Adding kind/docs for https://github.com/vmware/vic/issues/3060#issuecomment-259260958

[2016-11-08 21:14] caglar10ur commented on #740
Closing this (completed)

[2016-11-08 21:14] #740 closed

[2016-11-08 21:15] caglar10ur commented on #1817
Closing this (2 months without seeing it again)

[2016-11-08 21:15] #1817 closed

[2016-11-08 21:16] fdawg4l commented on #2340
thanks @mhagen-vmware!  I'll take a look.

[2016-11-08 21:31] corrieb commented on #2905
Thanks for doing this. I'd say that this is a reasonable deviation. We absolutely can and should drive down overall start time, but this is no cause for concern.

[2016-11-08 21:50] chengwang86 commented on #2905
@corrieb We have another similar issue here Stopping containers thru vCenter is slower, as of build 5275 #2568

[code]
So this is also a reasonable deviation, right?

[2016-11-08 22:09] cgtexmex commented on #1941
As @mreferre noted above the issue he encountered was during an iterative build / deployment of a custom image.  His result was incorrect due to the fact that multi-tag support wasn't present.  Unfortunately the code base still has issues with this iterative approach.

Here are the steps I've followed:

1. In a standard docker environment (A) I've built a simple image based on busybox
2. via envir

[2016-11-08 22:20] fdawg4l commented on #2340
[code]

[2016-11-08 22:29] corrieb commented on #3043
I reproduced on Chrome after shutting it down and restarting it running only a single tab with vicadmin. CPU rose slowly correspondent seemingly with the amount of text that accumulated in the browser window until it consumed 100% of one CPU. Developer tools didn't reveal anything obvious.

Doesn't appear to be a problem on Firefox.

[2016-11-08 22:30] fdawg4l commented on #2340
The `inotify` error looks interesting.

[2016-11-08 22:48] hickeng commented on #2568
@mdubya66 I don't think we've got a solution for this in the 0.8 timeframe.

[2016-11-08 22:53] andrewtchin commented on #3063
Disabled test for `--no-tls` in `tests/test-cases/Group6-VIC-Machine/6-04-Create-Basic.robot`

[2016-11-08 23:27] vburenin commented on #3044
@hickeng More details added after deep analysis.

[2016-11-08 23:38] fdawg4l commented on #2340
[code]

We waited 1minute before timing out in the PL.

hostd.log filtering for the task (`haTask-7636-vim.VirtualMachine.reconfigure-2282994`)
[code]

vsphere claims the reconfig operation completed in .1s.

[2016-11-08 23:39] jooskim commented on #2994
@stuclem Sorry for the delayed response. Looks great to me. Thanks.

[2016-11-09 00:46] chengwang86 commented on #2453
Update:

After using "git bisect", I find that this PR On demand serial port #2584 solves this issue. It does not occur anymore after this PR. Need to discuss with @caglar10ur about further details.

[2016-11-09 00:46] #2453 closed

[2016-11-09 01:18] hickeng commented on #3044
@jzt can you comment? Is Basic Auth supported for v2 registries?

[2016-11-09 01:30] hickeng commented on #2899
Optimized placement is already present - that's the current `volume-store` option.

If we place the volumes into the VCH applianceVM folder then they'll be deleted with the VM on vSAN, or they would persist and prevent us from reusing that folder name when recreating a VCH, which prevents easy re-use of volumes (we would need to know and specify the foldername of the previous VCH, which is not nec

[2016-11-09 03:56] andrewtchin commented on #1671
@mhagen-vmware @rajanashok #3009 was merged you're good to go

[2016-11-09 09:08] stuclem opened #3072 "Documentation: create a glossary of major terms"
@hickeng suggests a glossary of terms, to include descriptions of the key components/terms of VIC. Candidates for the list include:

- Each type of network
- Published ports
- Port layer
- Tether?

Some of these descriptions exist, but they are scattered through the doc. It would be good to consolidate them into one reference.

[2016-11-09 09:54] stuclem commented on #2994
Thank you!

[2016-11-09 09:54] #2994 closed

[2016-11-09 13:22] stuclem commented on #3046
Hi @emlin, thank you for the explanations. This definitely deserves to be mentioned in the doc, as it helps clarify how volumes work. Thanks!

[2016-11-09 13:25] stuclem opened #3073 "Documentation: Explain placement of volumes folder"
Per @emlin in https://github.com/vmware/vic/issues/3046#issuecomment-259162554:

------

...the reason for volume not to use same solution with image store, is just because user will need to reuse volumes created by other VCH.
Though we still didn't really reuse same volume vmdk between two different container vms.

The case is like user created one VCH, and then created volumes and write data int

[2016-11-09 13:35] stuclem commented on #3073
See also https://github.com/vmware/vic/issues/2899#issuecomment-259312380

[2016-11-09 13:49] stuclem commented on #3060
@bbrundert I have fixed the typo for `--dns-server`. I'll publish an update shortly. Thanks! @mlh78750 I'll add this to the release notes now.

[2016-11-09 13:56] stuclem commented on #3060
Release notes updated: https://github.com/vmware/vic/releases/edit/v0.7.0 (see first entry under Known Issues).

[2016-11-09 14:42] stuclem commented on #3060
Doc update published to github.io:
https://vmware.github.io/vic/assets/files/html/vic_installation/vch_installer_options.html#static-ip

[2016-11-09 15:35] stuclem commented on #3060
Updated the doc on the beta site too.

[2016-11-09 15:45] #3065 closed

[2016-11-09 16:11] #1941 closed

[2016-11-09 16:15] mhagen-vmware commented on #2329
https://ci.vmware.run/vmware/vic/6613

[2016-11-09 16:19] mhagen-vmware commented on #2819
Well, at this point my PR is in to prevent concurrency from happening again, so if we never see this again then I guess we can chalk it up to the aggressive cleanup from another job. But this line here:
    \   Continue For Loop If  '${state}' == 'running'
Should have prevented any removal for any other jobs that might have been running at the same time.

[2016-11-09 16:46] rajanashok opened #3078 "Refactor nightly to break test into multiple files and dynamically generate result email"
Break out the list of tests into a separate file, and source the file so that the multiple files/scripts (upload_logs.sh) can reference it as a single point of change and it will make it even easier to add a new test. And move to dynamically building the result html as well.

[2016-11-09 17:15] mlh78750 commented on #3066
Ran into this exact issue with high touch beta customer today. We need this in GA for sure.

[2016-11-09 17:24] mdubya66 commented on #3066
Just in case, is there a workaround?

[2016-11-09 17:37] mlh78750 commented on #3066
it's a quality issue. The error message is non-existent and there is no way to get info from the appliance to diagnose. Ben and I literally just spent 2 hours because we didn't have this.

[2016-11-09 17:49] mlh78750 opened #3079 "vic-machine debug should have option to collect logs."
When vic-admin is not answering, then the customer will need to enable ssh and ssh in and manually collect the logs. We should have an option for vic-machine debug that will login to the vch, collect the logs.

[2016-11-09 17:58] fdawg4l commented on #2819
@mhagen-vmware

But `${state}` is derived from `${build}`, and `${build}` is derived from `${item}`.  In my example, `${item}` is `[datastore] long/`.  This path doesn't include a VCH string so the `${build}` parsing will fail, right?  And if that's true, then `${state}` is bogus, no?

[2016-11-09 18:13] mhagen-vmware commented on #2819
Right so it would ignore that folder as well due to the previous line:
    \   Continue For Loop If  '@{build}[0]' != 'VCH'

[2016-11-09 18:19] fdawg4l commented on #2819
OOOHH!!  OK, cool.  Thanks.   In that case, let's close this bug and if we see weird datastore issues again, I'll investigate as they're likely real or reopen this and look for how to address any possible collisions.

We still have the issue of 2 VCHs using this hardcoded path and racing eachother.  This doesn't involve cleanup but just 2 VCHs conflicting with eacother.  I'll create an issue to tr

[2016-11-09 18:23] fdawg4l opened #3080 "Namespace integration test paths by VCH name"
Some of the volume tests include a hardcoded path which will collide if we enable concurrency again.  For instance, one of the volume store paths is `[datastore1] long/`.  We could make that `[datastore1] ${VCH}.long/` or something similar.

See #2819 for more details.

[2016-11-09 18:23] fdawg4l commented on #3080
Since concurrency is disabled, I'm putting this in the icebox in case we every decide to flip it on.  We should modify the tests anyway just to be consistent anyway.

[2016-11-09 18:24] #2819 closed

[2016-11-09 18:57] mdubya66 commented on #3066
Understood. until we have it we should document the workaround here.

[2016-11-09 19:48] emlin commented on #3002
@hickeng I didn't find anywhere in base to call task retry. startGuestProgram does not call retry method, so it should not because of that, I assume.

[2016-11-09 20:53] hickeng commented on #3066
#2811 addresses the purely functional aspect of this (protecting vicadmin against the case where vSphere isn't available) but doesn't touch on presenting data necessary to diagnose the problem.

A basic diagnostics workflow for why vSphere connection is unavailable:
1. Has a connection previously been made to vSphere using the configured target?
 - yes - likely network outage.
  - report `tracerou

[2016-11-09 21:13] mlh78750 opened #3081 "If management interface of the VCH is not Layer 2 adjacent to vSphere management endpoints VCH will not work."
Configuration of the management gateway for the VCH needs to include networks that should use that gateway.

Currently we have the options:

[code]
for setting up a VCH.

The problem is that the external (soon to be renamed public) interface should have the default route. Therefore, we need to allow the customer to specify the network(s) that need to route over the management network/interface of

[2016-11-09 21:14] mlh78750 commented on #3081
cc @hmahmood

[2016-11-09 21:19] mlh78750 opened #3082 "vic-admin should work even it can't speak to vsphere."
When the customer hit #3081 the port layer would just quit when it couldn't connect to the target. tether/vic-init would restart it and it would just quit again. During this time you could connect to vic-admin but it never returned any data. When the rest of the system is not working we need vic-admin the most. See also #3079.

[2016-11-09 21:20] mlh78750 commented on #3081
cc: @sflxn as @hmahmood said you saw something similar yesterday.

[2016-11-09 21:25] dougm opened #3083 "vicadmin leaking vSphere sessions"
With #2883 hitting the vicadmin page in chrome, even without logging in, creates 2 vSphere sessions.  Hitting the page with curl creates 1 session.  Example:

[code]

Open vicadmin in Chrome w/o login, e.g. https://172.16.124.186:2378/authentication

[code]

Reload the page:

[code]

Hit it with curl:

[code]

Note that PR #2993 sets the User-Agent header, so you can see which vic component is cre

[2016-11-09 21:27] dougm commented on #3083
@hickeng mentioned @anchal-agrawal was looking at removing a call to the validator, which could be related.

[2016-11-09 21:30] mlh78750 commented on #3082
@corrieb reports that when he was in a similar situation it did work.

[2016-11-09 21:32] mlh78750 commented on #3082
Turns out the log show that vic-admin was crashing from it's inability to reach vsphere. Dup of #2811.

[2016-11-09 21:32] #3082 closed

[2016-11-09 21:36] mlh78750 commented on #3081
@hickeng: @corrieb just explained that you were thinking of a similar issue with the container networks. Wanted to make sure you saw this.

[2016-11-09 21:41] mlh78750 opened #3085 "Improve customer facing documentation for networking."
Will edit details in a bit.

two things, config options for vic-machine and the firewall requirements for the vc/hosts

[2016-11-09 22:21] mlh78750 commented on #3066
@mdubya66 The best I can do for a workaround that would work for this is #3079 or the workaround listed in #3079.

[2016-11-09 22:22] mlh78750 commented on #3031
@vmwarelab Wanted you to be aware of the current networking limitations for the management interface on the VCH. It should work well if it is L2 adjacent to the vsphere endpoints, but if not, you will need to implement the work around in this issue: #3081.

[2016-11-09 23:21] hickeng opened #3086 "vic-admin: add endpointVM system time to vic-admin pages"
We should add the endpoint VM system time to the vic-admin pages, including the login page.
This is specifically useful in the case of clock-skew causing certificate validation errors as per #2670

@stuclem when added this should be mentioned in the troubleshooting related to clock-skew

[2016-11-09 23:23] hickeng commented on #2670
@stuclem I think with docker client you'll just get the "bad certificate" portion, maybe the "tls: " prefix as well as that's added by Go code.
I've opened #3086 to add the endpointVM system time to the vic-admin pages.

[2016-11-09 23:26] hickeng commented on #2542
@stuclem
We should make it explicit that this proxy is solely for pulling images - it is not used in any other workflow at this time.

In "Configure a proxy server" the --tls-xxx options are irrelevant - I would remove the following bullet as it seems to imply some coupling:
`Uses the --no-tlsverify option to implement TLS authentication with self-signed untrusted certificates, with no client veri

[2016-11-09 23:27] hickeng commented on #3054
lgtm

[2016-11-09 23:28] vmwarelab commented on #3031
@mlh78750 your absolutely right . that would be a great idea to provide better feedback so the users knows its a DNS related issue. .. thank you for your help on this. i still have to test the initial issue.

[2016-11-09 23:29] hickeng commented on #1544
@stuclem I've no idea when someone would want to use it - we had mention from some of the field facing folk that vApps were not in favour. This option was added to allow people to chose how it presents but I'm not sure it's even tested at this time.
@emlin I think we should remove this option now unless it's got decent tests to ensure it remains functional.

[2016-11-09 23:32] hickeng commented on #3058
@mhagen-vmware I think this will require a Robot keyword for clarity of usage.

At the moment the pull/create/start flow is used so that the output of `create` can be used directly as the container ID - if we start using run we'll need to extract that ID somehow.
If we do do this, is it viable to add some variability as to whether a given image uses pull/create/start or run? That way we'd be exerc

[2016-11-09 23:41] vmwarelab opened #3087 "Adding VCH 0.7.0 as a host in Admiral (lightweight Container Management platform)"
**VIC Version: 0.7.0**

// A self-contained demonstration of the problem follows...

Trying to add a VCH VM deployed with TLS as a host in Admiral
A new TLS options were introduced it seems in VIC 0.7.0 and and i m trying to understand which is the right supported option that i can use so i can successfully add it as a host in Admiral

TLS Options
[code]

One of the things i used to see with VIC 0

[2016-11-10 00:08] hickeng opened #3088 "vic-admin: use vim session cookie and depend on vsphere session management"
Update vicadmin to store the govmomi session cookie as the cached credentials, instead of the user supplied credentials.
This allow us to match the session expiration behaviour configured for vSphere and to honor explicit cancellation of an individual session by a viadmin.

It may be viable to address #3083 at the same time.

This is follow on work to #2883

[2016-11-10 00:11] fdawg4l commented on #2340
We decided the `systemd-udevd` is too error prone for our usecase.  I'm implementing a change that doesn't wait for `udevd` to create the device nodes.  Instead, we query the `vmw_scsi` device directly and mount the disk as soon as it presents.

[2016-11-10 00:26] hickeng commented on #2592
@carlsone Are you seeing this primarily during the bulk create tests? The only reason I can think of that you'd be seeing this in the perf tests if if the name generation is colliding and we're not handling retry correctly #334

[2016-11-10 00:57] vmwarelab opened #3089 "VIC 0.7.0 Plug-In Does Not Appear in the vSphere 6 Web Client."
**VIC Version: 0.7.0**

Following the steps to Install the vSphere Integrated Containers Engine Plug-In on a vCenter Server Appliance by Using a Web Server successfully complete

**Expected behavior:**
 vSphere Integrated Containers Engine Plug-In Does  Appear in the vSphere Web Client.
**Actual behavior:**
 vSphere Integrated Containers Engine Plug-In Does Not Appear in the vSphere Web Client.
ev

[2016-11-10 01:27] chengwang86 commented on #2508
Update:

This is because we set the "scope" of "annotation" to "hidden" in lib/config/executor/container_vm.go

Changing it to "read-only" solves the problem.

Another workaround is to copy the annotation/labels in the extraconfig manually when refreshing the container but keeping "annotation" hidden to the container.

Need to discuss with @hickeng about

[2016-11-10 03:12] emlin opened #3090 "vic-machine create: remove --use-rp"
No customer specifically requires resource pool, instead of vApp to manage vch, so remove the option.

[2016-11-10 03:14] emlin commented on #1544
#3090 is filed to remove --use-rp option.
In theory, this option should work well, as we're using resource pool directly, unless there is different interface for vApp, e.g. create vm.
But obviously, we don't have enough test to cover that, so we might remove the option, but leave the function there.

[2016-11-10 04:00] cgtexmex commented on #3090
Is this only in regards to documentation or are we going to remove functionality?  As I mentioned to you @emlin I don't care for our use (from my perspective misuse) of the vApp -- I'd be a customer utilizing resource pools.

[2016-11-10 07:47] vdeger commented on #3087
Your progress is better than me,  I can not communicate with Admiral with vchhostip:8282 yet :)
VIC 0.6 credentials:  root/password
VIC 0.7 credentials: root/Vmware123!  or root/'Vmware123   I did not try yet.

[2016-11-10 08:21] vmwarelab commented on #3087
@vdeger unfortunately Vmware123! doesn't work

[2016-11-10 08:42] vmwarelab commented on #3081
@mlh78750 to Login to the VCH via ssh and ensure the default route is on the external interface what is the  default password for root ?

[2016-11-10 08:46] vmwarelab commented on #3031
so testing running a simple container using the following command on the client machine against the vch host
[code]
failed with the following error

docker: Error response from daemon: No volume store named (default) exists.

[2016-11-10 09:27] stuclem commented on #3090
@cgtexmex, both. In the first instance, I wanted to know whether we should remove it from the doc, but @emlin and @hickeng see no reason to keep it at all.

[2016-11-10 09:29] vdeger commented on #3087
Could you try to activate debug mode?
.\vic-machine-linux  debug --name VCH --target 192.x.x.x --user vchuser@vsphere.local --password Vmware123! --enable-ssh --rootpw 'Vmware123!'

[2016-11-10 09:31] stuclem commented on #1544
@emlin  do you mean remove it from the doc and hide it in the help output, rather than removing it completely?

[2016-11-10 10:59] stuclem commented on #3089
Hi @vmwarelab, I just tested this with version 0.7 (build 6507) and I do see the plug-in. However, I don't have a Web server, so I followed the instructions in [Install the vSphere Integrated Containers Engine Plug-In on vCenter Server for Windows Without Access to a Web Server](https://vmware.github.io/vic/assets/files/html/vic_installation/plugin_vc_no_web.html). I logged out of the vSphere Web

[2016-11-10 11:17] #3054 closed

[2016-11-10 11:32] stuclem commented on #1531
This is a dup of https://github.com/vmware/vic/issues/3006

[2016-11-10 11:32] #1531 closed

[2016-11-10 11:34] stuclem commented on #3085
@mlh78750 we do have https://github.com/vmware/vic/issues/3006 open already to improve the network overview doc (and diagrams) but if you have specific comments about the `vic-machine create` networking options and the required ports, let's keep this one open too. Thanks!

[2016-11-10 11:41] mreferre commented on #2303
@hickeng last I heard was a customer that needed to have credentials inside containers and that mapping a volume that had such credentials was how they were doing it.

Provided we all agree it's a hack and you should never have persistent information on docker hosts (that you have to manually sync etc etc) let alone credentials.... this is how they are doing it with docker today (and can't be done

[2016-11-10 11:50] mreferre commented on #3006
@hickeng Yeah.. I am still trying to find a proper way to visualize that. I think the text you are suggesting @stuclem to add would be better added outside the context of the image where it is explained what those networks are and, they do and what they are used for.

I think the visual requires calling out more precisely that there is a VCH (vApp) and a VCH Docker Endpoint VM.

At that point the

[2016-11-10 11:57] mreferre commented on #2899
@hickeng I like the idea of making volume store explicitly configured or disabled.

However, when users choose to configure it, shouldn't we check / enforce that they use a unique directory at this point?

My understanding is that if they either specify no directory or if they specify the same directory we will end up in the problem described in https://github.com/vmware/vic/issues/3046

[2016-11-10 13:53] stuclem opened #3091 "Document that volume store must either be specified explicitly or disabled"
Per whatever the final conclusion is to the debate in https://github.com/vmware/vic/issues/2899. That issue is in the icebox but might come out of it.

[2016-11-10 14:11] vmwarelab commented on #3089
I m using a vCenter Appliance VCSA not windows and i did follow the verification where the Virtual Container Host portlet wouldn't show up in the summary page of the VCH machine.

[2016-11-10 14:13] stuclem commented on #3081
@vmwarelab my understanding is that you have to set the root password explicitly when you enable SSH access on the VCH by running `vic-machine debug --enable-ssh --rootpw '_password_' `. If you just use `--enable-ssh` without specifying `--rootpw`, I believe that the password is randomly generated.

@mlh78750 and @hickeng is this assumption correct? Should `--enable-ssh` require you to also specif

[2016-11-10 14:20] stuclem commented on #3089
In that case, @jooskim should be able to help.

[2016-11-10 14:29] mreferre commented on #2899
So I was playing with this a bit more (with 0.7.0)

I created two VCHs (VCH1 and VCH2).

I had `--volume-store sharedstorage/VCH1volumes:default` for the first one and `--volume-store sharedstorage/VCH2volumes:default` for the second one.

This created two different directories on the `sharedstorage` datastore. Both VCHs could create volumes in their respective folders.

I deleted VCH1 with the `-

[2016-11-10 14:30] vmwarelab commented on #3087
@vdeger i don't think the command is correct as there suppose to be a value for --enable-ssh.
can this be done only during the deployment time ?

[2016-11-10 14:54] stuclem commented on #2542
Added blurb in the options and examples topics to state that "The proxy that you specify serves exclusively for pulling images into the virtual container host from an external source, and is not used for any other purpose."

Removed the bullet about `--no-tlsverify` from all examples, as I agree that it's confusing overkill. Added a blurb at the beginning to state that all examples use it unless s

[2016-11-10 15:15] mlh78750 commented on #3087
@vmwarelab and @vdeger

Have you all tried the instructions here?: https://github.com/vmware/vic-product/blob/master/docs/setup/beta/install-configure-admiral.md

The vic-product repo includes workflows for installing and configuring VIC Engine, Harbor, and Admiral together.

For enabling ssh, you can do that after install with the vic-machine debug command. The password you pass in is up to you.

[2016-11-10 15:17] mlh78750 commented on #3081
@stuclem is correct. You will set the password or key with the debug command.

[2016-11-10 15:17] stuclem opened #3092 "Document that vic-machine checks connectivity and name resolution"
Per https://github.com/vmware/vic/issues/3066. Deserves a mention in the following topics

- What happens During Deployment (tracked by https://github.com/vmware/vic/issues/1527)
- The description of the `vic-machine create --target` option
- A new troubleshooting topic that includes the error message once https://github.com/vmware/vic/issues/3066 is implemented.

[2016-11-10 15:21] stuclem opened #3093 "Document how to collect logs manually if VCH Admin is offline"
Per https://github.com/vmware/vic/issues/3079. Workaround for now is the enable SSH with `vic-machine debug` and then capture the logs with `scp -r` to the VCH. If https://github.com/vmware/vic/issues/3079 doesn't make it into GA, then we'll remove workaround and document the new process via `vic-machine debug`.

[2016-11-10 15:22] vmwarelab commented on #3087
the commands worked but like this
[code]
but again i couldn't use the root and the password in Admiral as a credential option as it generated an error saying " A valid key pair was not found"
![2016-11-10_10-21-35](https://cloud.githubusercontent.com/assets/19843322/20182379/9385d14c-a72f-11e6-987f-5977bf4b549d.png)

[2016-11-10 15:24] stuclem opened #3094 "Document that VCH Admin includes system time of endpoint VM"
Per https://github.com/vmware/vic/issues/3086, which is flagged for 0.9 but is also currently In Progress.

[2016-11-10 15:32] jzt commented on #3031
@vmwarelab Please see this doc:  https://github.com/vmware/vic/blob/master/doc/user_doc/vic_app_dev/using_volumes_with_vic.md#create-a-volume-in-a-volume-store

This is likely caused by the `vmwarecna/nginx` image specifying a volume to use when creating a container.

If you create a `default` volume store when deploying your VCH, `vmwarecna/nginx` should be able to find and use it without error.

[2016-11-10 15:34] stuclem commented on #1355
@npakrasi can you please update accordingly, and link to https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md#--container-network? Thanks!

[2016-11-10 15:41] stuclem commented on #2582
Release not update done

[2016-11-10 15:44] mhagen-vmware commented on #3058
Yep, good idea. Can certainly switch off a random number and do either mechanism. Should be good and interesting then :)

[2016-11-10 15:47] stuclem commented on #3040
We document the `--id` option here: https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/common_vic_options.md#--id

[2016-11-10 15:49] stuclem opened #3095 "Document that vic-machine create output includes DOCKER_API_VERSION"
Per https://github.com/vmware/vic/issues/3040, if implemented.

[2016-11-10 15:53] stuclem commented on #2670
Fixed in https://github.com/stuclem/vic/commit/47ab9c3fde057696e5ff0dd887445dcaa4a46fbe. Thanks @hickeng.

Opened https://github.com/vmware/vic/issues/3094 to track the doc update for https://github.com/vmware/vic/issues/3086.

[2016-11-10 15:53] #2670 closed

[2016-11-10 15:55] mlh78750 commented on #3087
For adding a VCH to Admiral you need to use the keys and not user/password auth. Take a look at the docs here: https://github.com/vmware/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md#security

Specifically you should be able to use
cert.pem
key.pem
to setup the auto to the docker endpoint. The user/password option will not work with VIC Engine and is only used with Docker

[2016-11-10 15:55] mlh78750 commented on #3087
cc @mreferre

[2016-11-10 15:56] vmwarelab commented on #3087
@mlh78750 Thank you . i have looked at the instruction you mentioned around adding a host in admiral this paragraph specifically

"Since we have instantiate the VCH with the --no-tls flag, there is no need to configure the credentials. Should you have instantiated it with proper certificates you would have needed to configure the certificates based credentials in Admiral before connecting to the V

[2016-11-10 16:00] jzt commented on #3031
Following up:  I checked the `vmwarecna/nginx` metadata and was able to verify that it does use a volume:

[code]

[2016-11-10 16:01] stuclem commented on #3081
@mlh78750 in that case, shouldn't we make specifying either of `--rootpw` or `--authorized-key` mandatory if you specify `--enable-ssh`? At the moment you can use `--enable-ssh` on its own but then you are not able to log in to the VCH because you don't know the random password...

[2016-11-10 16:06] vmwarelab commented on #3031
@jzt from the documentation you mentioned and thank you for that.

it mentioned that if you only require one volume store, you can set the volume store label to default. If you set the volume store label to default, container developers do not need to specify the --opt VolumeStore=volume_store_label option when they run docker volume create.

so i added the volume-store and i set it to default  an

[2016-11-10 16:06] stuclem commented on #1355
Actually, I wanted to push an update to github.io, so I went in and did this.

https://github.com/stuclem/vic/commit/21cbcd9dd58086bea31e7d47a1a8c78c28c2528a

[2016-11-10 16:06] #1355 closed

[2016-11-10 16:11] emlin commented on #3090
tbh, I'm fine with both options. @hickeng mentioned no other customer, prefer to use this feature.
Another thing is that although we make the option hidden, we're not using hidden options exactly hidden from customer, instead, we're using that as advanced options.
So --use-rp gonna be something have to be explained in document.
but let's open this issue for discussion. If our final decision is to

[2016-11-10 16:19] #2885 closed

[2016-11-10 16:26] anchal-agrawal commented on #3086
I'm working on this as part of #2811.

[2016-11-10 16:29] anchal-agrawal commented on #3082
@mlh78750 Those logs would be very helpful to ensure that I'm addressing this particular issue as part of #2811. Do we still have access to them?

[2016-11-10 16:33] anchal-agrawal commented on #3083
@dougm Yes, I'm removing the validator requirement from the login page, so we should see fewer sessions being created/leaked.

[2016-11-10 16:39] vmwarelab commented on #3087
@mlh78750 if i do use the cert and key .pem files and use it as credentials i get the following error when adding the host

Socket channel closed:xn-cnx-tag-default:vch01.vmwarelab.local:2376

[2016-11-10 16:46] mlh78750 commented on #2498
@hickeng I'm okay with pushing this out to .9. You?

[2016-11-10 16:54] mlh78750 commented on #1823
Since this has a workaround and noted in known issues, we're pushing this to .9

[2016-11-10 16:56] hickeng commented on #2894
The initial problem should have been addressed by @caglar10ur  adding run blocking #1578 and the truncation is captured in #2660
Closing as dup

[2016-11-10 17:00] hickeng commented on #3083
Adding this to 0.8 as it both a potential DoS path against vSphere and impacts diagnostics

[2016-11-10 17:00] mlh78750 commented on #2857
Pushing out of GA.

[2016-11-10 17:06] mlh78750 commented on #2285
rare CI only.. Pushing for root cause in .9

[2016-11-10 17:07] mlh78750 commented on #2901
Only seen once and possibly related to #2285 which we pushed to .9. We'll close as no-repo.

[2016-11-10 17:07] #2901 closed

[2016-11-10 17:13] mlh78750 commented on #1687
Release notes already there. There is an easy work around. Need to get resolved before 1.0 but okay to push out of .8.

[2016-11-10 17:18] mlh78750 commented on #1457
Anyone still seeing this? Marking as no-repro.. @sflxn if this is still an issue, please reopen.

[2016-11-10 17:18] #1457 closed

[2016-11-10 17:22] hickeng commented on #3081
@stuclem the default password is "password" - I'd highly recommend that people specify it.

Until you run the debug command, neither console access nor ssh is enabled so the password is irrelevant.

Higher debug level with vic-machine (I think >2) results in the console login being enabled by default, and the default password is provided for that scenario specifically.

[2016-11-10 17:27] mlh78750 commented on #2384
cc @mhagen-vmware

[2016-11-10 17:39] mlh78750 commented on #2595
Caveat that you cannot pull large images into the VCH for the .8 release. Or that you need to use the  –appliance-memory option in the VCH if you plan to use large images.

Pushing to .9.

[2016-11-10 17:42] fdawg4l commented on #2384
@mlh78750 I'm fairly certain I took care of this in 656538f8287a95e94540fd6bd9e225f7aedbb4a9 (#2988).  Are you seeing something interesting?

[2016-11-10 17:43] mlh78750 commented on #2384
@fdawg4l We're pretty sure you didn't close the issue :)

[2016-11-10 17:43] #2384 closed

[2016-11-10 17:44] fdawg4l commented on #2384
Closing this.  Please reopen if you see something interesting.  Thanks all!

[2016-11-10 17:46] fdawg4l commented on #2384
It didn't occur to me that this was going to be the default behavior for non vsan as well with VC in 6.5.  But since it is, the fix also fixes this.

[2016-11-10 17:49] chengwang86 commented on #2954
Update:

This is because we set the "scope" of "annotation" to "hidden" in lib/config/executor/container_vm.go

Changing it to "read-only" solves the problem.

Another workaround is to copy the annotation/labels in the extraconfig manually when refreshing the container but keeping "annotation" hidden to the container.

Need to discuss with @hickeng @sflxn about the workaround.

[2016-11-10 17:50] mlh78750 commented on #2847
Low priority for 0.8. If it's the last thing left, then work on this.

[2016-11-10 17:50] fdawg4l commented on #3031
Generally, enterprises have storage devices that present as different datastores in vsphere.  Imagine a datastore named `[ReallyFastButNotBackedUp]`, `[MarginallyFastAndBackedUpNightly]`, `[ReallySlowButBackedUpHourly]`.  One can create volumes depending on their storage policy / backup policy for a given set of a containers.  It's to allow the storage options to container admins and users availab

[2016-11-10 17:51] mlh78750 commented on #2839
@smaithani : This should be resolved in 0.7. Please let us know if you are still seeing this issue.

[2016-11-10 17:52] mlh78750 commented on #2855
Need to fix, but not actually hitting it. Labeling debt and pushing to .9.

[2016-11-10 18:00] mlh78750 commented on #1486
Dup #2620

[2016-11-10 18:00] #1486 closed

[2016-11-10 18:00] mlh78750 commented on #1486
cc @mhagen-vmware

[2016-11-10 18:04] dougm commented on #2894
Reopening, test needs to be updated before closing:
[code]

[2016-11-10 18:08] mlh78750 commented on #2873
What is the functional impact of this issue?

[2016-11-10 18:12] mlh78750 commented on #3002
Error is reported but operation succeeds.

[2016-11-10 18:16] mlh78750 commented on #2958
After invalid state fix from @emlin we will close this. If the original issue shows again open a new issue _with logs_.

[2016-11-10 18:18] mlh78750 commented on #2965
Should be fixed with #3038

[2016-11-10 18:21] mlh78750 commented on #3017
cc @caglar10ur related to #2660

[2016-11-10 18:24] caglar10ur commented on #2873
Looks like we broke vic-init and it's no longer restarting the processes. Will update this as soon as I fix it.

[2016-11-10 18:26] sflxn opened #3102 "Document using Harbor with VIC Engine using self signed certs"
We don't have a method to upload certs to VIC Engine to use with Harbor.  For 0.8.0, we need to document how to manually perform this as a workaround.

[2016-11-10 18:41] hickeng commented on #2197
We have the following code in appliance.go:
[code]

We should reverse the `badTLSCertificate` and `tlsErrExpected` clauses.
We _could_/?should? return nil in that scenario rather than the error

[2016-11-10 18:57] mlh78750 commented on #3087
cc: @sflxn

I actually have not tried this recently, it is possible there is an issue with Admiral. Are you using the latest release of Admiral as well?

[2016-11-10 18:59] vmwarelab commented on #3087
@mlh78750 not sure  i m using admiral that is being shipped with vRA 7.1 Tech preview  feature . i didn't install admiral my self as a stand alone.

[2016-11-10 19:08] caglar10ur commented on #2873
the vic-init is fine problem was PEBKAC. The issue seems to be cosmetic only and create/rm/start/stop seems to be working fine

[2016-11-10 19:10] mhagen-vmware opened #3104 "We appear to semi-randomly report which interfaces are sharing the same NIC in vic-machine install"
In a setup where all portgroups share the same NIC, we see inconsistent output.

On different builds we see:
[34mINFO[0m[2016-11-10T17:56:00Z] Network role "management" is sharing NIC with "client"
[34mINFO[0m[2016-11-10T17:56:00Z] Network role "external" is sharing NIC with "client"

on other builds it reports just that management and external are sharing with not report of client.

It would be n

[2016-11-10 19:14] hickeng commented on #2873
We should determine if/why we're receiving events from vSphere multiple times - if the port layer has exited and been restarted then this duplication must be due to infrastructure state of some kind. @cgtexmex could be be inheriting our old event subscription somehow? (excuse terminology)

[2016-11-10 19:17] hickeng commented on #2660
#2894 should be closed when this is closed - this should re-enable the ps tests

[2016-11-10 19:31] carlsone commented on #2592
@hickeng -- Yes, I think it's name generation collision.   Specifically, it's the 100 sequential 'starts' on existing containers, where I see this error intermittently.  Creating 100 containers (sequentially) works fine, no errors.  Then, starting them fails due to one that returns an error like the following:

"docker start b1067c8beac9802f7890592409e2ec6fbe85ca44e16bf0118e6043184cff664f failed:

[2016-11-10 19:38] cgtexmex commented on #2873
With event monitoring we are asking for the last _n_ events...if no other vm events have fired for that resource pool then we could see duplicates.  We might need to store last event id  and/or timestamp so duplicates could be identified.

I'm not quite following the reproduction steps above -- @caglar10ur can you provide more detail?

[2016-11-10 19:44] caglar10ur commented on #2873
it's possible that this problem is not fixed because of all that refactoring in portlayer. I believe portlayer was trying to remove the container twice and was failing but I cannot reproduce it here 10 min ago (though I only tried once). I think you can deploy a vic, create a container, ssh to vch, kill the portlayer - maybe multiple times and then try to remove it. Feel free to close this if you

[2016-11-10 20:22] mdubya66 commented on #3044
I question this one for inclusion in v0.8.0 @hickeng @mlh78750?

[2016-11-10 20:27] #2894 closed

[2016-11-10 20:51] mhagen-vmware opened #3109 "Add test to verify that insecure-registry whitelist works, esp verify error message when it isn't on the whitelist"
#1486

should be a quick add to:
https://github.com/vmware/vic/blob/master/tests/manual-test-cases/Group5-Functional-Tests/5-9-Private-Registry.robot

[2016-11-10 21:04] vburenin commented on #3037
This type of log data might be sensitive, since it may include username/password, etc. I am going to replace such sensitive information with "********", however, I would like you to list things you may think are also sensitive. e.g. topology related info, such as IP addresses, host names, etc.

[2016-11-10 21:10] mdubya66 commented on #3044
I spoke to @mhagen-vmware and @hickeng and both agree it is out for v0.8.0. @mlh78750 if you disagree let me know

[2016-11-10 22:00] mdubya66 commented on #3037
@hickeng I think we have this kind of detail from our security review. can you comment for @vburenin?

[2016-11-10 22:05] mdubya66 commented on #3048
This may become an epic.

[2016-11-10 22:06] mdubya66 commented on #431
adding to 0.9.0 for now to complete the remaining issues.

[2016-11-10 22:07] mdubya66 commented on #769
adding for consideration in 0.9.0

[2016-11-10 22:08] mdubya66 commented on #81
flagging for consideration in v0.9.0

[2016-11-10 22:47] mlh78750 commented on #3082
[logs.zip](https://github.com/vmware/vic/files/584610/logs.zip)

[2016-11-10 22:48] mlh78750 commented on #2811
Logs from #3082
[logs.zip](https://github.com/vmware/vic/files/584611/logs.zip)

The reproduce steps is to configure a VCH and ensure it can't reach the VC.

[2016-11-11 00:06] sflxn commented on #3102
https://github.com/vmware/harbor/issues/1063

[2016-11-11 00:12] #2655 closed

[2016-11-11 00:44] mobla commented on #3102
Yes, this is very important!. At present we are able to do
a. Windows7-Toolbox/Linux (photon) docker works fine with Harbor https (Public CA signed) cert
b. Windows7-Toolbox/Linux (photon) docker works fine with Harbor https (Self-Signed CA) cert
    - gotcha: need to have certs under /etc/docker/certs.d/<FQDN>/ca.cert and restart docker
c. VIC Linux (photon) (VCH-TLS) - Harbor https (Public CA si

[2016-11-11 01:08] mobla opened #3114 "Error response from daemon: Server error from portlayer: --name: no such executable in PATH.**"
Could be related to
https://github.com/vmware/vic/issues/2273
https://github.com/vmware/vic/issues/1246
??

VIC build 0.7.0-6507
vic-machine-linux version v0.7.0-6507-6c4627d

Will provide the setup on a need basis.
Not able to connect to https://wdc-qead-dhcp-10-139-23-239.eng.vmware.com:2378 and collect logs

Steps:
1. Create VCH with TLS

2. docker login to Harbor private registry (https) publi

[2016-11-11 02:09] jzt commented on #3044
@hickeng I believe so, I think it's work that @sflxn implemented a while back. Loc.

[2016-11-11 07:27] mreferre commented on #1941
Thanks @cgtexmex. For the records 3069 doesn't add broad tagging support for images right? It only fixes the (wrong) behaviour in this specific workflow. Is that correct?

[2016-11-11 11:22] mreferre opened #3117 "vic-machine ls should have a --force option"
It would be handy if `vic-machine ls` supported a way to ignore vCenter unsigned certificates. Apparently `vic-machine ls` doesn't support the `--force` option.

You can always add the `--thumbprint` option but when you are automating lab environments it's additional (useless) work when you could just ignore the problem.

[2016-11-11 11:45] mreferre opened #3118 "Considering branching --force into multiple options?"
Currently using 0.7.0 and perhaps missing something in the richness of the options we have.

My understanding is that today the `--force` option is used to drive multiple behaviors. Let's take for example the `vic-machine delete` command.

`--force` serves the purpose of
- ignoring the thumbprint
- deleting all existing vms
- deleting the volume store

There may be circumstances where I may want t

[2016-11-11 13:45] stuclem opened #3119 "Document that vic-machine checks firewall compliance for specified networks"
Per https://github.com/vmware/vic/issues/2748, which is implemented in PR https://github.com/vmware/vic/pull/3111 (not merged yet).

[2016-11-11 13:50] stuclem opened #3120 "Document that logs include vic-machine command used to deploy VCH"
Per https://github.com/vmware/vic/issues/3037.

[2016-11-11 13:53] stuclem opened #3121 "Document that you can share network alias between multiple containers"
Per https://github.com/vmware/vic/issues/2592

[2016-11-11 14:08] stuclem opened #3122 "Document remaining aspects of docker compose up"
Per https://github.com/vmware/vic/issues/431

[2016-11-11 14:09] stuclem opened #3123 "Document docker exec support"
Per https://github.com/vmware/vic/issues/3048

[2016-11-11 14:13] stuclem commented on #852
In https://github.com/vmware/vic/issues/3081#issuecomment-259751868 @hickeng says that debug >2 automatically enables SSH.

@hickeng are these debug levels spec'd anywhere?

[2016-11-11 14:16] stuclem opened #3124 "Document default SSH password, and recommend changing it"
According to https://github.com/vmware/vic/issues/3081#issuecomment-259751868, the write up of vic-machine debug needs correction/improvement.

[2016-11-11 14:16] stuclem commented on #3081
@hickeng thanks for the explanations. I wasn't requesting a randomly generated password. This what just what I believed happened. Logged https://github.com/vmware/vic/issues/3124 to update the doc per your comments above.

[2016-11-11 14:47] stuclem commented on #3081
Just noticed the kind/note flag on this one. Attempted to write this up as follows:

- <b>Virtual container host does not work if management interface is not Layer 2 adjacent to vSphere management endpoints. [#3081](https://github.com/vmware/vic/issues/3081)</b><br>In vSphere Integrated Containers 0.7.0 one of the interfaces and gateways that you configure on the networks is selected randomly to s

[2016-11-11 15:09] mlh78750 commented on #3081
@stuclem That looks good. We might need to give them some more details on how to add the routes.

[code]

Where ```eth1``` is replaced by the interface that has the management IP in the address list of the first command.
And ```192.168.2.0``` is replaced with the network address of the network you want to route over the management gateway.
And ```255.255.255.0``` is replaced with the netmask for t

[2016-11-11 15:31] mlh78750 opened #3125 "When client interface not shared with external, clients may not be able to connect."
When we fix #2802 we need to also add the same fix for the client interface and gateway that we did for the management interface in #3081.

[2016-11-11 15:31] mlh78750 commented on #3081
Note that after we fix the 3 vnic limitation #2802 in the VCH that we need this same fix for the client network. I have opened #3125 to track this.

[2016-11-11 15:33] mlh78750 commented on #2802
When this is fixed, we must also fix #3125.

[2016-11-11 15:40] stuclem commented on #3081
Thanks @mlh78750, updated RNs accordingly. Removing kind/note.

[2016-11-11 15:45] mlh78750 commented on #3117
or the --ignore option you mentioned in #3118

[2016-11-11 15:46] stuclem commented on #2981
Just noticed the kind/note flag. Added the following to the RNs:

- <b>vic-machine delete does not recognize virtual container hosts that were not fully created. [#2981](https://github.com/vmware/vic/issues/2981)</b><br>`vic-machine delete` fails when you run it on a virtual container host that was not fully created.

  Workaround: Manually delete any components of a partial installation, for exam

[2016-11-11 15:51] stuclem commented on #864
@npakrasi can you please take a look?

[2016-11-11 15:52] stuclem commented on #965
Compatibility with vSphere versions and features is being addressed in individual issues. Closing this one.

[2016-11-11 15:52] #965 closed

[2016-11-11 15:54] stuclem commented on #1694
The tables referred to in #445 are hideously out of date. Divergent behaviour between Docker and VIC is being tracked in individual issues. Closing this one.

[2016-11-11 15:54] #1694 closed

[2016-11-11 15:55] mlh78750 commented on #3114
@mobla the --name option must be before the image name. All command line stuff after the container image is passed to the container as an alternative ENTRYPOINT (basically the command you want to run in that image).

That being said, after it initially exited, I would think the run with no --name flag as all should have worked. We can track why in this issue. But the -n and --name at the end of th

[2016-11-11 15:57] mlh78750 commented on #3114
@mobla what is the result of ```docker images -a```

[2016-11-11 15:58] stuclem commented on #1471
I think that this is covered by https://github.com/vmware/vic/blob/master/doc/user_doc/vic_admin/log_bundles.md. @hickeng is this OK?

[2016-11-11 16:01] stuclem commented on #1693
@sflxn and @hickeng did you ever produce such a list as the one proposed in #462? The tables in #460 are well out of date and @sflxn told @npakrasi that they should be ignored.

[2016-11-11 16:07] stuclem commented on #2429
https://github.com/vmware/vic/issues/2424 is in the icebox.

[2016-11-11 16:08] stuclem commented on #2917
https://github.com/vmware/vic/issues/2915 is in the icebox.

[2016-11-11 16:13] stuclem commented on #831
See also https://github.com/vmware/vic/blob/master/doc/application_workflow/webserving.md

[2016-11-11 16:18] stuclem commented on #1021
We mention the check for the DS in the image-store description, but not the cluster, dvSwitch or DS for volume stores.

[2016-11-11 16:19] stuclem commented on #1341
https://github.com/vmware/vic/issues/1339 is in the icebox.

[2016-11-11 16:19] stuclem commented on #1475
https://github.com/vmware/vic/issues/1186 is in the icebox.

[2016-11-11 16:20] stuclem commented on #1475
Actually, if #1186 is in the icebox, we should document that this version does not support pulling images via image digest. To be added in https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_app_dev/container_limitations.md.

[2016-11-11 16:21] mlh78750 commented on #3125
@hmahmood says his fix for #3081 will include this fix as well so moving into GA/0.8

[2016-11-11 16:22] stuclem commented on #872
@fdawg4l, can we reinstate the blurb from my comment of Jun 19 above?

[2016-11-11 16:26] stuclem commented on #1544
The discussion about whether to keep this option is going on https://github.com/vmware/vic/issues/3090. The `--use-rp` option is currently documented. Closing this one, and will open a new issue if https://github.com/vmware/vic/issues/3090 concludes that we do want to remove the issue.

[2016-11-11 16:26] #1544 closed

[2016-11-11 16:28] stuclem commented on #1997
https://github.com/vmware/vic/issues/116 was closed as no longer necessary.

[2016-11-11 16:28] #1997 closed

[2016-11-11 16:28] stuclem commented on #2192
@mhagen-vmware same question as before. How close are we to announcing support for 6.5? Should we wait until 6.5 GA?

[2016-11-11 16:31] stuclem commented on #2307
@matthewavery do we actually need to document anything here?

[2016-11-11 16:32] stuclem commented on #2412
https://github.com/vmware/vic/issues/2409 is in the icebox. We should document that vic-machine does not currently check this.

[2016-11-11 16:37] stuclem commented on #2937
@mdubya66 should we close this one?

[2016-11-11 16:39] stuclem commented on #2935
To add to the supported vSphere features topic.

[2016-11-11 16:42] mlh78750 commented on #2937
yes.

[2016-11-11 16:42] #2937 closed

[2016-11-11 16:43] stuclem commented on #2715
We already refer users to the troubleshooting topic in the verify VCH deployment topic, so that part of this issue is covered. Otherwise, https://github.com/vmware/vic/issues/2711 is in the icebox.

[2016-11-11 16:44] stuclem commented on #2984
@emlin, is there any plan for 0.8 to deal with changes in the VC certificates after the initial deployment of a VCH?

[2016-11-11 16:46] stuclem commented on #3013
https://github.com/vmware/vic/pull/3005 is merged.

[2016-11-11 16:48] stuclem commented on #3095
https://github.com/vmware/vic/issues/3040 is in the icebox.

[2016-11-11 16:51] mhagen-vmware commented on #2192
We have test 6.5 now, so I am comfortable claiming 6.5 support but confirm with @mdubya66 when he wants to announce it.

[2016-11-11 16:57] stuclem commented on #829
@hmahmood, I see that the Epic for restarting the VCH (https://github.com/vmware/vic/issues/701) is now in the icebox. I assume that when you restart a VCH is doesn't quite come back the same as it was previously. In terms of documentation, we need to write up what is and what is not persisted when you restart the VCH. What are the limitations that we need to document? Thanks!

[2016-11-11 17:02] mreferre commented on #3117
Yes @mlh78750

Here I said `--force` just because I wrote this issue 5 minutes before suggesting to branch `--force` :)

If we branch `--force` per my suggestion in 3118 then `vic-machine` ls should have a --ignore.

[2016-11-11 17:04] mlh78750 commented on #2192
We announced VIC Engine and Harbor as part of the announcement for vSphere 6.5 a month ago. It's fine to show that we support it now.

[2016-11-11 17:05] stuclem commented on #2192
OK, thanks @mhagen-vmware and @mlh78750

[2016-11-11 17:06] stuclem opened #3127 "Document vic-machine --ignore"
Per https://github.com/vmware/vic/issues/3117

[2016-11-11 17:08] stuclem commented on #2937
Thanks @mlh78750

[2016-11-11 17:15] dougm commented on #3088
govc persists session by default, it does so on disk but vic-admin can do it in memory.  The only piece it should need is session cookie, example from govc:

[code]

You can test if a session cookie is still valid like so: https://github.com/vmware/govmomi/blob/master/govc/flags/client.go#L356
If that fails, will need to Login again.

[2016-11-11 17:39] hmahmood commented on #829
The only outstanding issue in that epic is #482. @fdawg4l can you comment on what exactly is broken with VCH restart if #482 is not fixed?

[2016-11-11 17:43] vburenin commented on #3037
reassigned to @mhagen-vmware on request.

[2016-11-11 17:45] fdawg4l commented on #829
@hmahmood there is a currently a workaround in place for #482 which keeps track of the relationships we'd like the infrastructure to maintain.  This epic should be functional without #482 because the workaround exists and we're leveraging it.

[2016-11-11 18:12] mreferre commented on #829
I think that issue talk about "restarting the VCH" meaning two completely different things.

There is the restart of the complete VCH (i.e. the entire vApp which includes the VCH Docker EndPoint VM and ALL containerVMs) and what happens there (tracked in https://github.com/vmware/vic/issues/744)

And then there is the restart of the VCH Docker EndPoint VM alone (tracked in https://github.com/vmwar

[2016-11-11 19:00] #3063 closed

[2016-11-11 19:00] mlh78750 commented on #3079
If we document the work around in #3093 I'm okay with this not making it in to 0.8 GA.

[2016-11-11 19:09] anchal-agrawal commented on #2811
Thanks @mlh78750! I've root-caused the panic and can confirm that #3106 resolves this.

[2016-11-11 19:23] #2748 closed

[2016-11-11 19:31] mlh78750 commented on #2915
related to #3118

[2016-11-11 19:33] mlh78750 commented on #3117
related #2915

[2016-11-11 19:41] mdubya66 commented on #3089
@jooskim, please take a look

[2016-11-11 19:46] chengwang86 opened #3133 "Container labels fail when the key of a hidden attribute in ExtraConfig has ".""
This is related to #2954

In "vic/lib/config/executor/container_vm.go" where we define the ExtraConfig, the scope of the key "annotations" is "hidden". In "vi/lib/apiservers/engine/backends/container_proxy.go", we set **annotationKeyLabels="docker.labels"**, which makes the decode() function not able to obtain the container labels.

@sflxn @hickeng Could you please help me refine the description o

[2016-11-11 19:54] vmwarelab commented on #3089
just an update for everyone on this thread  i have used another method which is outlined here
https://github.com/vmware/vic/blob/master/doc/user_doc/vic_installation/plugin_vcsa_no_web.md

i did confirm that the plug-in files were copied over to the VCSA and i confirmed that the plugin is enabled under the administration-> plug-in section in the web client . but still don't see the VCH portly on t

[2016-11-11 20:01] mobla commented on #3114
REPOSITORY                                         TAG                 IMAGE ID            CREATED             SIZE
reg-bj.eng.vmware.com/mobla-project/powerclicore   1.0                 e3b924cb9ae8        47 hours ago        419.3 MB
reg-bj.eng.vmware.com/mobla-project/busybox        1.0                 e292aa76ad3b        4 weeks ago         1.093 MB

[2016-11-11 20:23] mlh78750 commented on #3114
and if you run DOCKER_CERT_PATH=/root/vic/vic/VCHTLS1 DOCKER_TLS_VERIFY=1 docker -H xxx.eng.vmware.com:2376 run -it xxxx.eng.vmware.com/mobla-project/busybox:1.0 now it will still say something about --name?

cc: @fdawg4l @jzt guys, I know that the first few commands should have failed like they did, but why could the last one be failing? are we caching the entrypoint that is provided on the comma

[2016-11-11 20:25] cgtexmex commented on #1941
@mreferre it address this workflow and untagged images.  When you say "broad tagging support" I assume you're referring to the `docker tag` command -- that is not implemented yet.

[2016-11-11 20:49] fdawg4l commented on #3114
I can tell you the portlayer storage piece of the puzzle is immutable.  As far as what data is being persisted, imagec is the thing providing the metadata to persist.  So @jzt will definitely be the authority here as to what's going on.

[2016-11-11 21:26] #2965 closed

[2016-11-11 21:38] mobla commented on #1023
Tried cert import steps mentioned in https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/access_vicadmin.md to my Windows7 desktop, but fails with an error "An error occurred during the addition of a certificate to the Trusted Root Certification Authorities store."

[2016-11-11 21:46] #2305 closed

[2016-11-11 21:58] mreferre opened #3137 "Shutdown and (re)Start of VCH has an improper behaviour"
Version 0.7.0

Freshly deployed VCH.

[code]

At this point we *SHUTDOWN THE VCH*

We then *START THE VCH* back up

On the vSphere side both containerVMs have re-started (along with the VCH EndPoint Docker VM).

But the docker client doesn’t seem to be able to cope with what’s going on:
[code]

I believe there are two things here:

https://github.com/vmware/vic/issues/701 should address this incon

[2016-11-11 22:23] jzt commented on #1821
@hickeng It looks like @caglar10ur fixed this problem in commit [6c4627d4](https://github.com/vmware/vic/commit/6c4627d401f20baa94bf88f8bdec80b99b23dffe#diff-68824f0584e18cbd83689d34c87021c4R146), although not by returning a 408.

Is 408 (timeout) the desired behavior here? If so, I'll update.

[2016-11-11 22:29] jooskim commented on #3089
@vmwarelab Thank you for providing details, and sorry for getting back to you late. It is possible that a cache is preventing the plugin from showing up which is a Web Client related issue we are well aware of, for which case you need to restart the Web Client's server. Were you able to restart the server by following `https://vmware.github.io/vic/assets/files/html/vic_installation/ts_ui_not_appea

[2016-11-11 23:34] andrewtchin opened #3139 "firewall status delayed on vcenter"
In a vCenter environment, after updating the firewall allowed IP rules on one of the managed hosts the data about the updated firewall rules is delayed in updating for an undetermined amount of time.

The result of this is that vicadmin can show an incorrect firewall status and that VCH create checks will operate based on stale state and incorrectly report success/failure.

This log shows that the

[2016-11-11 23:35] vmwarelab commented on #3089
@jooskim Thanks Josh but i did restart the vsphere-client services many times without anyluck

[vsphere_client_virgo.zip](https://github.com/vmware/vic/files/586931/vsphere_client_virgo.zip)

[2016-11-11 23:57] jooskim commented on #3089
I'm seeing multiple logs (100+) that say the package was filtered out:
`[2016-11-11T18:03:10.589-05:00] [INFO ] http-bio-9443-exec-7         70001581 100022 200012 com.vmware.vise.extensionfw.ExtensionManager                      Package is filtered out - com.vmware.vicui.Vicui:0.7.0`

Seems that the plugin was installed fine but somehow is skipped by VC. I've never seen this happen in our setups.

[2016-11-12 00:07] mobla commented on #3114
Any image is failing to run now, same error! Got stuck

docker: Error response from daemon: Server error from portlayer: --name: no such executable in PATH.

[2016-11-12 00:53] hickeng commented on #3087
@vmwarelab

--no-tls: this is a horrible deployment choice for anything but a lab but was common prior to the addition of the tlsverify mechanism in 0.7.0 - hopefully Admiral will be updated soon to allow for the tlsverify configuration

--no-tlsverify: the certificates generated with this option are _server certificates_ and should exist on the VCH endpoint VM. These allow the client to confirm t

[2016-11-12 01:07] mobla commented on #3114
logs uploaded
[name-error-bug.tar.gz](https://github.com/vmware/vic/files/586981/name-error-bug.tar.gz)

[2016-11-12 01:21] hickeng commented on #3087
@vmwarelab I made some significant edits to the previous comment - so don't rely on an emailed copy to read it.

[2016-11-12 02:11] hickeng commented on #3087
@stuclem It occurs to me that this might be useful for you as well

[2016-11-12 02:26] hickeng commented on #3137
@mreferre This is interesting - I try the same effective thing on ESX and it works without issue - which actually surprises me; I thought we would hit problems with the containerVMs coming up without an assigned IP address if they shutdown while the endpoint was still running (the endpoint unbinds the IP addresses on shutdown).

[2016-11-12 03:04] #2818 closed

[2016-11-12 04:32] hickeng commented on #3088
@gigawhitlocks I've also noticed that with chrome I'm getting redirected to the login page, even if my client certificate is correct.
It doesn't happen if I open an anonymous window and use that - I'm not sure if the certificate isn't being offered or whether chrome is for some reason caching the temporary redirection, but something to be aware of.

[2016-11-12 09:28] #3052 closed

[2016-11-12 14:57] vmwarelab commented on #3089
the VC is in my lab not sure what you mean by pointing you to it lol

[2016-11-12 15:56] vmwarelab commented on #3087
@hickeng Great write up. if i understood this correctly and please bare with me here.
are you saying that the only option we can work with today is to use the --no-tls  to successfully add a VCH 0.7.0 as a host in admiral ?

When i was using 0.6.0 release there was --no-tls options but yet there was 1 certificate (cert, key) generated/created where the vic-machine command was executed that i used

[2016-11-12 17:01] jooskim commented on #3089
Sorry if it was confusing. I meant IP to VC so I can access. I haven't yet tried the exact build you used but will try that out as soon as possible. Still it would be great if I could access your VC to see what went wrong.

[2016-11-13 01:47] zchef2k opened #3144 "OT, apologies. IRC channel?"
Is there an active IRC community in which you all participate? As a customer and advocate of containerizing enterprise workloads I'd love to communicate with you all. Unfortunately I can't find a great entry point other than with reps and SE's.

**VIC Version:**

0.1 / master / commit ID

**Code**

[code]

**Expected behavior:**

**Actual behavior:**

[2016-11-13 04:09] jzt commented on #3114
I created a VC cluster using the same VC & ESX builds as @mobla and was able to reproduce this. I've narrowed it down to the container create step altering the in-memory image cache. I suspect there is a pointer nested somewhere in the image metadata struct that is being changed somewhere where it should be a copy. I believe this only manifests if the image is tagged to an external registry, but I

[2016-11-13 16:15] #3133 closed

[2016-11-14 00:30] #3081 closed

[2016-11-14 00:30] #3125 closed

[2016-11-14 01:10] #1659 closed

[2016-11-14 09:17] stuclem opened #3147 "Document that you can set debug logging in VCH Admin"
Per PR https://github.com/vmware/vic/pull/3140 (not merged yet).

[2016-11-14 09:18] stuclem commented on #2860
https://github.com/vmware/vic/issues/2848 is implemented in PR https://github.com/vmware/vic/pull/3105.

[2016-11-14 09:43] stuclem commented on #3121
https://github.com/vmware/vic/issues/2592 is implemented in PR https://github.com/vmware/vic/pull/3101.

[2016-11-14 10:17] stuclem commented on #3127
https://github.com/vmware/vic/issues/3117 is in the icebox

[2016-11-14 10:18] stuclem commented on #3119
PR https://github.com/vmware/vic/pull/3111 is now merged.

[2016-11-14 10:26] stuclem commented on #3093
https://github.com/vmware/vic/issues/3079 won't be in GA, so we do need to write up the workaround.

[2016-11-14 11:18] stuclem commented on #3087
@hickeng yes the write up above is extremely useful. Thank you!

[2016-11-14 11:18] stuclem commented on #3055
There's a great writeup of TLS from @hickeng in https://github.com/vmware/vic/issues/3087#issuecomment-260089179.

[2016-11-14 11:21] stuclem opened #3148 "Document --cert-path option"
Per PR https://github.com/vmware/vic/pull/3141 (not merged yet), which fixes https://github.com/vmware/vic/issues/2197.

[2016-11-14 11:52] stuclem commented on #829
@mreferre are you talking about `docker --restart` here? Rather than an as-yet-unimplement `vic-machine --restart` command?

[2016-11-14 11:55] stuclem commented on #829
@fdawg4l and @hmahmood, can you please confirm that you are talking about restarting the vApp, and not restarting the endpoint VM? I assume so, but want to be 100% sure. Thanks!

[2016-11-14 12:18] stuclem commented on #829
See also https://github.com/vmware/vic/issues/3137

[2016-11-14 13:28] stuclem commented on #2192
Added 6.5 to the prereqs topic. Changes are in https://github.com/stuclem/vic/commit/c1e0b2189298708250ea5a8b822084b0eba7173b.

[2016-11-14 13:28] #2192 closed

[2016-11-14 14:05] stuclem opened #3149 "Document how and when to specify a gateway routing destination for client and management networks"
Per https://github.com/vmware/vic/issues/3081 and https://github.com/vmware/vic/issues/3125, that are fixed in https://github.com/vmware/vic/pull/3129 (merged).

[2016-11-14 14:13] vmwarelab commented on #3089
@jooskim unfortunately i don't have remote access to my lab. its a my home office

[2016-11-14 14:24] vmwarelab commented on #3087
@hickeng Hi Georage .. any comments on my last post .. thank you

[2016-11-14 14:28] stuclem commented on #3124
Added the following in the topic on `vic-machine debug` options:
---
If not specified, the default root password is `password`. It is strongly recommended that you use `--rootpw` to set a new password rather than leaving the default.
----

Change is in https://github.com/stuclem/vic/commit/e3deb2588052e90d4ef389f9a77fafe40afc524c

[2016-11-14 14:53] stuclem commented on #3013
Removed. Change is in https://github.com/stuclem/vic/commit/96f75bf007da98b1320a59851fc0d2346349e31f.

@fdawg4l, it is safe to remove the warning about not sharing image store folders now, correct?

[2016-11-14 14:54] stuclem commented on #3012
Added a very brief mention of the existence of the `kvStores` folders. Change is in https://github.com/stuclem/vic/commit/96f75bf007da98b1320a59851fc0d2346349e31f.

@fdawg4l do we need to say anything more about the `kvStores` folder, other than mention that it exists?

[2016-11-14 15:01] stuclem commented on #2412
We currently state the following, which I think is good enough:

-------------

**IMPORTANT**
- Do not assign the same `bridge-network` distributed port group to multiple virtual container hosts. Sharing a distributed port group between virtual container hosts might result in multiple container VMs being assigned the same IP address.
- Do not use the `bridge-network` distributed port group as the

[2016-11-14 15:10] #3037 closed

[2016-11-14 15:10] stuclem commented on #1021
Included the usual blurb about vic-machine failing and suggesting valid values if the values specified are wrong or omitted.

[2016-11-14 15:10] #1021 closed

[2016-11-14 15:14] mhagen-vmware commented on #2859
@emlin I can take this, so you can work on something more interesting :)

[2016-11-14 15:39] #3045 closed

[2016-11-14 15:40] emlin commented on #2859
cool, you're awesome!

[2016-11-14 15:46] mhagen-vmware commented on #2329
https://ci.vmware.run/vmware/vic/6801

[2016-11-14 15:46] mhagen-vmware commented on #2329
This time we got the output of ls on the directory and yet it still reporting unable to find the import...

[2016-11-14 15:46] stuclem commented on #3119
Added the following to the Networking options:

----

When you specify different network interfaces for the different types of traffic, `vic-machine create` checks that the firewalls on the ESXi hosts allow connections to port 2377 from those networks. If access to port 2377 on one or more ESXi hosts is subject to IP address restrictions, and if those restrictions block access to the network inter

[2016-11-14 15:49] emlin commented on #2958
As @mlh78750 mentioned, close this issue for the invalid state fix is in.

[2016-11-14 15:49] #2958 closed

[2016-11-14 15:55] #2954 closed

[2016-11-14 16:20] andrewtchin commented on #3119
@stuclem this check only applies to the management network. I would also document that if the management interface is set to use DHCP, we don't know the VCH's IP address at the time when this check is performed, so we are unable to fully assess whether the firewall would permit tether traffic with allowed IPs. (see the last sample output in the PR)

[2016-11-14 16:23] sgairo opened #3154 "UI for vicadmin Auth page needs to be fixed"
see alignment on navigation bar

[2016-11-14 16:28] jooskim commented on #3089
@vmwarelab I'm now trying the v0.7.0 on my test VC to see if I can reproduce the issue. Will get back to you soon.

[2016-11-14 16:30] hmahmood commented on #829
I was actually talking about the endpoint VM.

[2016-11-14 16:47] jooskim commented on #3089
@vmwarelab I was able to install and bring up the plugin with no problem. With regards to the `Package is filtered out` log message, it means the plugin is disabled in the Administrator > Solutions > Client Plug-Ins menu and thus it's no wonder that the portlets were not showing up. I don't know if you intentionally disabled the plugin for some reason, but please check if your VC displays the plug

[2016-11-14 16:56] stuclem commented on #911
Actually, even if we publish release notes on vmware.com after GA, we will end up with two versions of the release notes: markdown on github and HTML on vmware.com. This is a maintenance issue. After discussing with @npakrasi we decided to go with release notes on github only, linked from the landing page on vmware.com. This also allows engineering to update release notes directly.

[2016-11-14 16:57] stuclem commented on #912
This page will point to docs and release notes that are drafted in Markdown and hosted on github.

[2016-11-14 17:09] chengwang86 commented on #2357
This is fixed by #3145 and #3153

[2016-11-14 17:09] #2357 closed

[2016-11-14 17:10] stuclem commented on #2978
I prefer to keep things as they are, especially now that the common commands have been taken out of the  topics for delete, ls, upgrade, inspect, & debug.

[2016-11-14 17:10] #2978 closed

[2016-11-14 17:12] vmwarelab commented on #3089
@jooskim the plug-in is showing as enabled in the web client .. i also tried disabling and then enabling it

[2016-11-14 17:17] stuclem commented on #2518
We currently document that you should download a new vic and run upgrade:
https://github.com/vmware/vic/blob/master/doc/user_doc/vic_security/security_reference.md#apply-security-updates-and-patches

[2016-11-14 17:19] jooskim commented on #3089
@vmwarelab As long as the log file doesn't contain any error message identified by `[ERROR]` I'm pretty sure it's the web server's caching that is causing this. But you said you already restarted the server a couple times, I'm not quite sure what else is getting in the way. Do me a favor then; could you restart the Virgo web server, log into the Web Client, navigate to the Summary tab of the VCH V

[2016-11-14 17:21] vmwarelab commented on #3089
@jooskim its strange i know .. not sure what else to do.  other plug-ins are showing fine.
how do you restart the Virgo Web server ?

[2016-11-14 17:28] jooskim commented on #3089
@vmwarelab Open https://vmware.github.io/vic/assets/files/html/vic_installation/ts_ui_not_appearing.html and scroll down to the bottom to look for the solution for vCenter Server Appliance. Basically you SSH into VCSA and run `service vsphere-client stop` and then `service vsphere-client start`. Notice that rebooting the server would take about 3-5 minutes.

[2016-11-14 17:35] vmwarelab commented on #3089
@jooskim Ohh.. i did that many times. you just want me to do it again to capture the log file?

[2016-11-14 17:38] jooskim commented on #3089
@vmwarelab Yeah, but the order in which you do follow the steps above is very important. Following the exact order might leave a clue in the log file.

[2016-11-14 17:40] anchal-agrawal opened #3158 "VCH name is title-cased on vicadmin"
For a VCH named `vch-7`, vicadmin shows

<img width="468" alt="vicadmin" src="https://cloud.githubusercontent.com/assets/4361620/20275594/cc364cba-aa5e-11e6-82b6-4a767d58dfff.png">

We should preserve the case supplied by the user.

[2016-11-14 17:51] jzt commented on #3114
Fix here:  #3159

[2016-11-14 18:07] rajanashok opened #3161 "Nightly global test status is reporting incorrect status"
The nightly status is always getting reported as Passed even if a test fails. This is caused due to a bug in how we iterate the nightly status loop to fetch the global status.

[2016-11-14 18:15] cgtexmex opened #3163 "image id incorrect for image pulled from private registry"
The image id that is persisted to a private registry is not calculated correctly via vic.

1. build a docker image via standard docker
[code]
2. push custom image to registry: `docker push 192.168.175.142:5000/test`
3. pull custom image via another standard docker client: `docker pull 192.168.175.142:5000/test`
[code]
4. pull custom image via vic: `docker pull 192.168.175.142:5000/test`
[code]

No

[2016-11-14 18:28] caglar10ur commented on #3017
dup of #2660

[2016-11-14 18:28] caglar10ur commented on #2079
@vburenin do you wanna take this as well now that you are working on appliance logs?

[2016-11-14 19:08] gigawhitlocks commented on #3083
I will look into this while I address #3088

[2016-11-14 19:17] #3161 closed

[2016-11-14 19:39] cgtexmex commented on #2873
I am not seeing any duplicated events. I do see two distinct remove events being created by esxi during a vic container remove -- I suspect that has something to do with the manner in which we are removing disks and files.

[2016-11-14 19:39] #2873 closed

[2016-11-14 19:41] jzt commented on #3163
FYI, this is true for all images, not just ones tagged for private registries. This is because docker >= 1.12 omits the diff ID from the image metadata (although it keeps the corresponding history), resulting in a different image ID.

[2016-11-14 19:47] cgtexmex commented on #3163
@jzt yeah...after I created the issue I realized that....do we have a general issue open for that? or should we use this issue to track?

[2016-11-14 20:03] jzt commented on #3163
@cgtexmex I searched but couldn't find one. Closest one I found was the one being caused by removing and re-pulling an image, that was fixed here:  https://github.com/vmware/vic/pull/2834

[2016-11-14 20:20] #2811 closed

[2016-11-14 20:20] #3086 closed

[2016-11-14 20:45] cgtexmex commented on #2985
The panic is certainly an issue -- a conversion function is assuming that a session will always be available via the extra info (vmx file).  I'd say that will be the case 99.8% of the time, but in a system that's heavily loaded / seeing high latency, etc...it appears that the session information didn't get persisted in time.  The panic can be fixed by checking for the existence of the session info

[2016-11-14 20:56] #2848 closed

[2016-11-14 21:04] vburenin commented on #3066
I am going to run several tests on VCH side:
1. Ping www.vmware.com
2. ping www.emc.com
3. ping www.dell.com
4. ping VC
5. ping default gw
5. Access VC via HTTP/HTTPS - HEAD request
6. Access VC via HTTP + Proxy if proxy is defined.

Report will be displayed what was tested and what is the outcome.
Report will be available right after deployment and via VIC Admin page.

I am not clear about endpoi

[2016-11-14 21:38] mlh78750 commented on #3066
I think you only need 4 through 6. (and you have two 5's).

This was more about making sure that the networking configuration that they provided will allow the VCH to reach the --target.

[2016-11-14 21:55] #3060 closed

[2016-11-14 22:14] #2806 closed

[2016-11-14 22:17] matthewavery commented on #2767
Closing this. pr #2949 added additional logging to help us determine what causes these kinds of errors in the future. Additionally We have not seen one like this for a little while and it is possible that it has been fixed. We should definitely reopen this ticket if we seen a context deadline exceeded from the build again, along with the updated logs that go along with that failure.

[2016-11-14 22:17] #2767 closed

[2016-11-14 22:19] mdubya66 commented on #3163
i'm gonna backlog this.

[2016-11-14 22:21] anchal-agrawal commented on #3144
Hi @zchef2k, please feel free to get in touch via Gitter at https://gitter.im/vmware/vic.

[2016-11-14 22:21] #3144 closed

[2016-11-14 22:53] matthewavery commented on #1865
After looking through old closed tickets I have found #2494 which I suspect has actually already met the spirit of this ticket. As such I suspect that #3170 may be over kill and upon input from @hickeng may be closed with no merge.

[2016-11-15 01:10] mobla opened #3171 "vic-machine-linux inspect could give the info about insecure registries (esp. Harbor) configured with it"
In vanilla docker, user configures insecure registries using DOCKER_OPTS="--insecure-registry 10.160.162.65:80 --insecure-registry 10.139.23.231:80" added to /etc/default/docker or in daemon. User has a way to find out the configured insecure registries. Where as in VIC-VCH, there is no way for inspect the private registries that the VCH is configured with. it would be a nice to have feature to li

[2016-11-15 01:42] #3114 closed

[2016-11-15 14:14] stuclem opened #3173 "Document that management network and container VM network should be kept separate"
Per https://bugzilla.eng.vmware.com/show_bug.cgi?id=1740319 (VMware internal). These networks should be kept separate for security reasons.

[2016-11-15 15:11] stuclem commented on #3006
We should match the VIC networks to the default Docker networks that are listed in https://docs.docker.com/engine/userguide/networking/.

|**Docker Nomenclature**|**VIC Engine Nomenclature**|
|---|---|
|Default bridge network, aka `docker0` |Bridge network|
|External networks for containers|Container networks|
|Host network|Client network?|
|`none` network|N/A?|
|User-defined bridge networks|Netwo

[2016-11-15 15:13] mhagen-vmware commented on #2859
The trailing slash problems has been resolved, moving the rest of this ask to the next milestone as the  major bug in this has been resolved now, and the remainder is technical debt that we need to address and cleanup the validator code paths in vic-machine.

[2016-11-15 15:30] stuclem commented on #3056
Mostly done in https://github.com/vmware/vic/commit/9ec82fffc9bed2bd32e7955766a596388fe519d4.

The remaining area of confusion is in https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_app_dev/network_use_cases.md, which refers to both the VIC public network (the network formerly known as "external") and the Docker version of "external networks", which correspond to VIC's container network

[2016-11-15 15:31] #3154 closed

[2016-11-15 15:38] mdubya66 commented on #3114
Fixed in build 6879

[2016-11-15 15:43] chengwang86 commented on #2508
Update: @sflxn

When doing "docker-compose -H ... ps", it calls the function containers() in /usr/local/lib/python2.7/dis-packages/docker/api/container.py, instead of our docker-persona.

In the containers() function:
`
u = self._url("/containers/json")
res = self._result(self._get(u, params=params), True)
`
On vic, "res" returns containers that satisfy "params" with "Labels: None", whereas on reg

[2016-11-15 16:20] anchal-agrawal opened #3174 "Document recent changes to VCH admin's dashboard page"
Per #3106, there have been a few changes to VCH admin's dashboard page.

* `Network Connectivity` has been renamed to `Registry and Internet Connectivity`.
* If the VCH is unable to connect to vSphere:
  * The VCH status icon is yellow and a message explaining why the VCH is unable to connect to vSphere is displayed below it.
  * Firewall and License status checks are disabled because we can't cor

[2016-11-15 16:35] #2592 closed

[2016-11-15 16:39] mlh78750 opened #3175 "Need to add an upgrade test to full-ci test suite."
I'd like for us to add at least one test where the previous OSS released version is installed and then upgraded to the current build. We should then do a some basic use case tests with the upgraded install.

[2016-11-15 16:43] mlh78750 commented on #3175
cc: @mhagen-vmware

[2016-11-15 16:48] mlh78750 commented on #2839
@smaithani I am going to close this as no-repo since we believe this is resolved in the 0.7 or newer build. If you are still running into this issue please let us know and we will reopen the issue and sort it out.

[2016-11-15 16:48] #2839 closed

[2016-11-15 16:51] mdubya66 commented on #3175
We currently have https://github.com/vmware/vic/blob/master/tests/test-cases/Group11-Upgrade/11-01-Upgrade.md

[2016-11-15 16:53] mdubya66 commented on #3175
which appears to need some TLC since #2554 was fixed

[2016-11-15 16:53] vburenin opened #3178 "Confusing debug message: Failed to load host cert: nil certificate"
vic/lib/intall/management/inspect.go:89

Confusing message on debug level:
DEBU[2016-11-15T08:49:48-08:00] Failed to load host cert: nil certificate

Should be replaced by: "No host certificates provided"

[2016-11-15 16:54] mlh78750 commented on #2902
Needs triage post 0.8 release

[2016-11-15 16:57] mdubya66 commented on #3178
Debug message, moving to Icebox. Should look at it for 1.0

[2016-11-15 16:59] #3109 closed

[2016-11-15 17:19] andrewtchin commented on #2363
vicadmin now logs all logins. Docker API is remaining and won't be completed in v0.8.0, moving this to v0.9.0

[2016-11-15 17:23] mhagen-vmware opened #3179 "Failed to write to image store: [POST /storage/{store_name}][500] WriteImage default &{Code:0xc420b7b410 Message:open /sys/bus/pci/devices/0000:03:00.0/host0/subsystem/devices/0:0:0:0/block: no such file or directory}"
Seen on build:
https://ci.vmware.run/vmware/vic/6883

[integration_logs_6883_2b27e4b195d800b501a04a588df334dda533bf08.zip](https://github.com/vmware/vic/files/592666/integration_logs_6883_2b27e4b195d800b501a04a588df334dda533bf08.zip)

[2016-11-15 17:23] mhagen-vmware commented on #3179
Pulling this issue in as a P0 bug to the current milestone until we can triage

[2016-11-15 17:25] mhagen-vmware commented on #2814
moving to .9 as technical debt, on the understanding this is a test issue

[2016-11-15 17:26] stuclem commented on #3119
Thanks @andrewtchin. Moved this out of the general section on networks and into the management network section. Updated as follows:

---

When you create a virtual container host, `vic-machine create` checks that the firewall on ESXi hosts allows connections to port 2377 from the management network of the virtual container host. If access to port 2377 on ESXi hosts is subject to IP address restric

[2016-11-15 17:27] mdubya66 commented on #3089
@jooskim will we get this one addressed this week?

[2016-11-15 17:30] stuclem commented on #3174
Thanks @anchal-agrawal, I missed these changes. This also affects https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_admin/log_bundles.md.

@npakrasi can you please take a look?

[2016-11-15 17:36] mlh78750 commented on #3175
And it didn't catch the external network to public network conversion issue when @hmahmood made the changes for #3008. So if nothing else, we need to see if we can beef up the post upgrade tests.

[2016-11-15 17:46] jooskim commented on #3089
@mdubya66 yes. this is my top priority now, but i need further info and access to be able to fix this quickly. i've failed to reproduce the issue @vmwarelab has; v0.7.0 build installs and works fine on my test VC. once he send me the log file again then hopefully i'll be able to figure out what went wrong.

[2016-11-15 17:46] jooskim commented on #3089
forgot to change this to in progress 😛

[2016-11-15 17:50] vmwarelab commented on #3089
Hey guys i will get on it today .. just been busy with clients .. I m Sr. SE SDE with VMware as well

[2016-11-15 17:51] fdawg4l commented on #3179
smells related to my last PR.  Will take a look now.

[2016-11-15 17:52] jooskim commented on #3089
ok thanks! appreciate your quick response.

[2016-11-15 18:16] hmahmood opened #3180 "Upgrade is broken"
When running `vic-machine-linux upgrade` on a 0.7.0 install, I get this:
[code]
The error messages here were introduced as part of https://github.com/vmware/vic/commit/e66e2220fb72b7606f213f3846b35965bd16fb2d

[2016-11-15 18:17] gigawhitlocks commented on #3088
If Chrome is caching the redirect that's misbehavior on Chrome's part, which would surprise me. I'll test that after I've got a couple of bugfixes on my branch that may be related.

[2016-11-15 18:45] mlh78750 commented on #3175
The fact that #3180 just got found as @hmahmood was trying to fix #3008 shows that we need to have this in the test suites. Moving this into 0.8.

[2016-11-15 19:05] fdawg4l commented on #3179
@mhagen-vmware It shouldn't be related, but I keep seeing this in the tests.  Just FYI.

[code]

[2016-11-15 19:20] fdawg4l commented on #3179
[code]

From this, I gathered I need to look at Test-Cases.Group6-VIC-Machine.6-04-Create-Basic-VCH-6883-1228-container-logs.zip, but I don't see the error reported.  And looking at the log bundle, I only see `1228` mentioned in only the one zip file mentioned.

[code]

[2016-11-15 19:33] fdawg4l commented on #3179
Creating `scratch` worked without an issue.  We ask vsphere to attach a disk, we found it, created a filesystem, and detached it.
[code]

And then things go wonky.
[code]

The timeout looks suspect.  We have it set for `3s` but weirdley it doesnt look like we waited that long for `sda` to appear.

[2016-11-15 19:34] mdubya66 commented on #3144
https://github.com/vmware/vic/blob/master/CONTRIBUTING.md also points out our Slack channel. It requires registering though so we kept the gitter open as well.

[2016-11-15 19:43] #2719 closed

[2016-11-15 19:55] sflxn commented on #2103
When I install manually, I appended the self generated CA cert to the appliance's CA bundle and restarted the docker personality server.  That was the workaround.  If we proceed to implement this issue, we cannot just append the CA bundle as we will need the personality server to restart.  Golang loads the system certs when the personality server starts.

I'm going to approach this by having vic-m

[2016-11-15 19:58] sflxn commented on #2508
@mdubya66 I think there are two issues in this one.  @chengwang86 can fill in the details, but we should narrow the scope of this issue to just the truncation of the names.  The duplicate name issue is due to the fact we do not have docker ps filtering #1676, and that one is iceboxes.

[2016-11-15 20:03] sflxn commented on #2103
For GA, Harbor 0.5.0 will not be done in time for us to put it into our CI due to https://github.com/vmware/harbor/issues/1051.  I had a discussion with @mlh78750 and @mhagen-vmware, and we decided to proceed and get this issue in, manually test it, and add Harbor 0.5+ into our CI post-GA.

[2016-11-15 20:08] chengwang86 commented on #2508
Update:

The duplicate container information is due to #1676 enable filter for docker ps
Docker-compose needs the following two filters to obtain information from all the desired containers:

- com.docker.compose.project=vic
- com.docker.compose.oneoff=False

"Docker-compose ps" would make two queries: (i) oneoff=False (ii) oneoff=True. Since "filter" is not implemented, "Docker-compose ps" would

[2016-11-15 20:08] mdubya66 commented on #2103
do we need to be concerned about an upgrade path once the cert is inserted into guest info?

[2016-11-15 20:23] mobla opened #3183 "vic-machine-windows.exe failed: Failed to power on appliance Module 'MonitorLoop' power on failed. . Exiting..."
**VIC Version:**

vSphere/vCenter 6.5 RTM build #
VC: ob-4584207
ESX: ob-4564106
Harbor build: 0.4.5 re-spin

Steps:
1. Use windows client machine (may be doesn't matter)
2. Create a VCH using No TLS insecure registry configured to http harbor
3. Docker login to http and https harbor done in client machine
3. Pull an image from docker hub and tag/push it to harbor using local docker (windows)
4. R

[2016-11-15 20:29] mlh78750 commented on #3183
Adding to 0.8 for triage. Want to try and understand root cause before we decide where it needs to be fixed.

[2016-11-15 20:30] mlh78750 commented on #3183
cc @emlin

[2016-11-15 20:33] mlh78750 commented on #3180
Marked as p0 due to blocking #3175 and it's in 0.8

[2016-11-15 20:51] mlh78750 commented on #2103
@mdubya66 yes, but I assume that @sflxn will implement so that when the upgraded personality server starts it will see the cert and append. And for that matter if the server restarts for any reason (including upgrade)

[2016-11-15 21:02] sflxn commented on #2103
I'm looking to piggyback on existing cert work we already have in vic-machine.  Looking to verify my assumptions.  If vic-machine currently already handles certs correctly on upgrade, then there might not be anything I need to do.  We already have a mechanism to import CA certs, our help wording may need to change a little, but I can piggy back on that existing mechanism or add a duplicate path th

[2016-11-15 21:15] fdawg4l commented on #3179
Ah, we need to wait for the scisi device to attach before waiting for the block device's dev node to appear.  We were only retrying on the latter, but we also need to retry and wait for the former.

Simple fix.

[2016-11-15 21:15] mlh78750 commented on #2163
Related https://github.com/vmware/vic/issues/2794#issuecomment-254868808

[2016-11-15 21:16] andrewtchin commented on #2794
#3186 fixes error messages. Remaining work to improve our use of timeouts is in #2163

[2016-11-15 21:43] mdubya66 commented on #532
what's the status of this issue?

[2016-11-15 21:48] andrewtchin commented on #3183
This looks like an out of resource error:
[code]

[2016-11-15 22:57] cgtexmex commented on #2245
In the case of a standalone host you must first power down the VCH (or any other VMs) before entering maintenance mode.  The govc library could be improved to handle this more gracefully, but it's not an issue w/vic or the VCH.

In a clustered vSphere environment with DRS set to automatic I was able to put a host into maintenance mode which hosted a running VCH.  DRS will first migrate the VCH to

[2016-11-15 22:57] #2245 closed