[2016-06-24 14:37] hickeng commented on #1197
@kjplatz assigning to you for investigation as discussed:
* degenerative test case for statically linked Go program with nil dereference, built in same env as port layer
* follow up - modified rpctool variant with nil deference after data retrieval to assess signal behaviour of vmw-guestinfo

[2016-06-24 16:48] fdawg4l commented on #1117
Is this still happening after @emlin's change this morning (https://github.com/vmware/vic/pull/1191)?

If someone can get me recent logs (after the change pushed above) exhibitting the same symptoms, I'll take a look.

@jzt `deadbeef` isn't used anywhere in the storage code.  Never *ever* use deadbeef in production code anywhere.  It's too likely to have a collision somewhere because it's such a f

[2016-06-24 17:11] #801 closed

[2016-06-24 19:26] mlh78750 opened #1202 "Downloading container-logs.tar.gz gives an incomplete tar."
Installed build 2151 on a fresh esx. Tried run busybox and its not working so I went to look at logs. And the log I downloaded is incomplete.

**VIC Version:**

build 2151

**Code**

[code]

**Expected behavior:**
Complete tar.
**Actual behavior:**
Truncated vicadmin.log error.

[2016-06-24 19:33] hickeng commented on #1031
@fdawg4l I'm actually going to be adding entry/exit trace as I needed it to track down the issue with #1191 WIP. We can/should discuss having a more controllable logging solution - but entry/exit is needed in a debug scenario.

[2016-06-24 20:05] fdawg4l commented on #1031
Trace calls are missing by design.  They didn't provide value when you can simply increase the debug log level and get more relevant information.

I would rather not make the storage logging story more verbose than it already is.  If you want more granular logging, we need to talk about using a different log library that allows for component/loglevel twiddling.

[2016-06-24 20:06] fdawg4l commented on #1031
@hickeng what is the issue with 1191?

[2016-06-24 20:26] mlh78750 opened #1205 "docker run does not attach"
Fresh install of build 2151 on 6.0u2.

Ran run -ti busybox and it hangs my terminal. Due to #1202 I couldn't collect the logs the normal way so I grabbed them from the data store.

[7e7bb0a6ad9c003ef1b6273576880a3fc8afc810ef78ef69cfd46a9ac5d4356d.log.txt](https://github.com/vmware/vic/files/332525/7e7bb0a6ad9c003ef1b6273576880a3fc8afc810ef78ef69cfd46a9ac5d4356d.log.txt)
[7e7bb0a6ad9c003ef1b6273576

[2016-06-24 20:27] mlh78750 commented on #1205
Looks like the attach doesn't work. The console on my VM showed this:
![screen shot 2016-06-24 at 3 27 10 pm](https://cloud.githubusercontent.com/assets/16670605/16349756/2da88094-3a20-11e6-80c2-87856e4e6f9d.png)

[2016-06-24 20:32] mdubya66 commented on #1202
FYI I saw similar issues using hello-world. https://docs.docker.com/engine/getstarted/step_one/ and build 2151 on ESX running in fusion.

[2016-06-24 20:32] mdubya66 commented on #1202
(mwilliamson) dubs:~/Downloads/vic 3 $ docker --tls run hello-world
Unable to find image 'hello-world:latest' locally
latest: Pulling from library/hello-world
a3ed95caeb02: Pull complete
a9d36faac0fe: Pull complete
Digest: sha256:ff215bfe287b986dba232bc82892d636b0e1b1c1ae42f779202caced61f6376b
Status: Downloaded newer image for library/hello-world:latest

^C

^ZError response from daemon: vSphere

[2016-06-24 20:38] mdubya66 opened #1206 "vic-machine should default to datastore if only one exists."
**VIC Version:**
https://bintray.com/vmware/vic-repo/download_file?file_path=vic_2151.tar.gz

ESX version
VMware-VMvisor-Installer-6.0.0-3634798.x86_64 installed with all defaults in Fusion.

**Expected behavior:**
With only 1 datastore we should default to using it without failing, if more than 1 then present the options.

**Actual behavior:**
(mwilliamson) dubs:~/Downloads/vic 3 $ ./vic-machine-

[2016-06-24 20:48] mdubya66 opened #1207 "vic-machine output says to set DOCKER_OPTS but it seems to be ignored."
VIC Version:
https://bintray.com/vmware/vic-repo/download_file?file_path=vic_2151.tar.gz

ESX version
VMware-VMvisor-Installer-6.0.0-3634798.x86_64 installed with all defaults in Fusion.

Docker version
(mwilliamson) dubs:~/Downloads/vic 3 $ docker --version
Docker version 1.11.1, build 5604cbe

**Expected behavior:**
vic-machine suggests these settings

INFO[2016-06-24T13:39:26-07:00] DOCKER_HOST

[2016-06-24 21:06] mdubya66 opened #1208 "docker run hello-world hangs"
VIC Version:
https://bintray.com/vmware/vic-repo/download_file?file_path=vic_2151.tar.gz

ESX version
VMware-VMvisor-Installer-6.0.0-3634798.x86_64 installed with all defaults in Fusion.

Docker version
(mwilliamson) dubs:~/Downloads/vic 3 $ docker --version
Docker version 1.11.1, build 5604cbe

Installed b2151 and went to run the hello-world container and the shell locked up. My terminal is hung

[2016-06-24 21:12] emlin opened #1210 "vic-machine: create parent directory for images and volumes"
Parse the file directory configured by user, and create root directory if does not exist.
Persist the root directory to guestinfo, so that vic-machine delete can use that.

If on VSAN, and the root directory is name space, persist the name space uuid, to make sure next time we can delete the directory successfully.

[2016-06-24 21:17] mdubya66 commented on #1208
Second time I ran it it hung for a long time then exited with

(mwilliamson) dubs:~/Downloads/vic 3 $ docker --tls run hello-world
Error response from daemon: vSphere Integrated Containers 0.3 does not implement container.ContainerWait

[2016-06-24 21:19] mdubya66 commented on #1208
time="2016-06-24T20:58:49Z" level=info msg="Refreshing image cache..."
time="2016-06-24T20:58:49Z" level=info msg="TLS enabled"
time="2016-06-24T20:58:49Z" level=warning msg="/!\\ DON'T BIND ON ANY IP ADDRESS WITHOUT setting -tlsverify IF YOU DON'T KNOW WHAT YOU'RE DOING /!\\"
time="2016-06-24T20:58:49Z" level=info msg="Listener created for HTTP on TCP 0.0.0.0:2376"
time="2016-06-24T20:58:49Z" lev

[2016-06-24 23:35] #454 closed

[2016-06-25 16:29] mhagen-vmware opened #1213 "Looks like we still have a concurrency issue in our unit tests: concurrent map writes"
I think this is likely due to concurrent unit tests running again?

[code]

[2016-06-25 19:00] hickeng opened #1214 "Basic address acquisition"
This covers basic address acquisition from a DHCP server.
This does not cover renew and release operations.

[2016-06-26 14:24] mhagen-vmware opened #1215 "Intermittent errors in portlayer still"
Tests last night saw the following error, re-running the test saw the error go away:
[code]

We really need a better error message provided to the user for their benefit and ours in trying to debug after the fact.  Find attached the logs for the test run:

[integration_test_logs_1466903345.zip](https://github.com/vmware/vic/files/333616/integration_test_logs_1466903345.zip)

[2016-06-26 16:22] hickeng commented on #1031
@fdawg4l agreed we need a better library and much better dynamic config - but the trace calls are going in for TP3.

[2016-06-26 16:25] hickeng commented on #1215
@matthewavery please can you revert the error message blocking that was put into place.
@mhagen-vmware please can you identify the VCH in question that had the error - with the info here I have no choice but to search through all of the bundled files for the container ID in question.

[2016-06-26 18:17] mhagen-vmware commented on #1215
VCH-6923

[2016-06-26 23:48] hickeng commented on #1215
Took a look but there's as best I can tell  here until #1150 is done so I'm working on that.
The summary is that the container VM didn't start within the 30s timeout.

We see the incoming connection from the host when the VM is powered on 3-4 seconds after we invoke the operation:
[code]

Then we see the serial initialization sequence - this is part of linux boot. This is 24s after power on, indic

[2016-06-27 00:50] #919 closed

[2016-06-27 01:38] hickeng commented on #1144
@sflxn how is this going? IMO the most crucial bits of runtime state from the container that need to be reported are the IP address and the process status (exit code, successfully launched, et al). Let me know if there's anything holding you up w.r.t. getting hold of that information.

[2016-06-27 01:44] hickeng commented on #742
@dougm awesome news doug! the only thing we're using this channel for as of TP3 is the signal delivery, so please prioritize that over other RPC responses. I was initially thinking of doing this via a read-write key that the tether would erase once the signal was delivered, and using a reload to pick it up, but if you think there's a cleaner way that doesn't involve a guestinfo key directly, then

[2016-06-27 02:15] hickeng commented on #1205
@mlh78750 There's no indication of even an attempted connection back to the port layer. I suspect that you're ESX firewall is blocking the connection, or somehow the containerVM is attempting to connect back to an incorrect IP.

[2016-06-27 02:18] hickeng commented on #1202
@mlh78750 @mdubya66 This should be addressed by #1150 (PR is #1217).

@mdubya66 We don't implement wait. If @cgtexmex gets in the stretch goal of vc events for our VMs this coming week then we have a mechanism by which to do so, but there still won't be the necessary glue to implement Wait,

[2016-06-27 02:21] hickeng commented on #1207
Should triage for TP3. This is not expected behaviour, but it is also entirely out of our control as the docker client is unmodified. We should be able to doc the case however.
@mdubya66 what version is your docker client?

[2016-06-27 02:25] hickeng commented on #1210
@stuclem @npakrasi For TP3 we should document behaviour when specifying a directory that doesn't exit, and one that does but isn't empty.
The critical point is what occurs when `vic-machine delete` is run as that cleans up images and volumes with the assumption that all files in the directories are fair game.

[2016-06-27 02:27] hickeng commented on #1208
This is #1129 with the specific scenario in #1176. The former definitely needs addressing for TP3 if remotely possible. Closing as dup.

[2016-06-27 02:27] #1208 closed

[2016-06-27 02:38] hickeng commented on #1213
@fdawg4l can you take a look at this and determine the severity

[2016-06-27 02:42] mdubya66 commented on #1207
1.11.1. See the output at the top of this issue.

[2016-06-27 02:57] hickeng opened #1218 "Appliance SSH status and password"
Should we, or should we not, leave SSH installed and enabled on the appliance for TP3? If we do it should be a backup to the vicadmin log collection otherwise we will not improve that where it's lacking.

Irrespective, the root password for the appliance needs to be altered and we need to document how to determine what the password is - standard seems to be randomly generate and echo on the VM con

[2016-06-27 03:01] hickeng commented on #1207
Judging by the list here: https://docs.docker.com/engine/reference/commandline/cli/ DOCKER_OPTS is not actually consumed by the client, but is most likely processed by the /etc/default/docker or comparable service scripts.
We should remove the DOCKER_OPTS line from the vic-machine output.

[2016-06-27 03:07] hickeng commented on #1188
This was fixed along with #1180 in #1181

[2016-06-27 03:07] #1188 closed

[2016-06-27 03:17] hickeng commented on #809
@dougm are you aware of any significant addition items to go into govmomi for TP3 timeframe (thursday)? If not, can we get this done by 6/28 so we've got a couple of days with it before release.

[2016-06-27 04:08] dougm commented on #809
No major changes planned, but a minor one to revert the use of service ticket hostname for datastore access, mentioned in #1157

I'll get that change in and do a tag+release of govmomi, followed by vendor update in vic (by 6/28)

[2016-06-27 08:56] cormachogan commented on #1218
Hey George,

so a lot of the VMW appliances that we roll out set the initial root password as "changeme" and then it needs to be changed to something different the first time "root" logs in. Can we do something similar?

[2016-06-27 13:02] hickeng opened #1219 "Datastore upload/download without resolvable ESX hostnames."
This is the appliance side portion of the issue in #1164. The appliance cannot resolve the ESX hostnames that it gets from VC. This was also seen by @cormachogan.

Not sure what the best ordering for these is - given the image prep isn't a crucial fast path I would recommend the VC approach as primary initially given it's less logic to implement.
- [ ] try the FQDN for a host
- [ ] if unresolveabl

[2016-06-27 13:02] hickeng commented on #1219
@dougm please provide commentary on the datastore upload/download mechanism and viable approaches.

[2016-06-27 13:14] hickeng commented on #665
I ended up doing the remainder of #665, #686 and #666 in PR #1127 for #746. Updating the estimate appropriately.

[2016-06-27 13:14] hickeng commented on #686
I ended up doing the remainder of #665, #686 and #666 in PR #1127 for #746. Updating the estimate appropriately.

[2016-06-27 13:14] hickeng commented on #666
I ended up doing the remainder of #665, #686 and #666 in PR #1127 for #746. Updating the estimate appropriately.

[2016-06-27 13:29] hickeng commented on #253
This is not part of `vic-machine delete` - that is being accomplished with zero knowledge of the disk structures by deleting the entire image store.

[2016-06-27 13:30] hickeng commented on #652
This was completed by #1211

[2016-06-27 13:30] #652 closed

[2016-06-27 13:33] hickeng commented on #746
This has taken significantly longer than anticipated due to having to complete additional work needed in vic-machine (see #665, #666, #686)

[2016-06-27 13:34] hickeng commented on #1158
@jzt can I simply delete the image_test.go file to fix this?

[2016-06-27 13:46] hickeng commented on #1164
@karthik-narayan @mdubya66 potential issue that TP3 people will run into and requires user action to resolve. I've put this as GA because it is resolvable (see the last line of cormacs output), however #1219 has the same problem and is not so easily addressed.
Given that, do you want to pull this into TP3?

[2016-06-27 13:47] hickeng commented on #802
Part of this is implemented already - however we still need checks for:
volume stores
bridge dvs
mapped networks

[2016-06-27 13:51] hickeng commented on #648
This is addressed by #746 - #938 addresses the other questions

[2016-06-27 13:51] #648 closed

[2016-06-27 13:51] hickeng commented on #1131
I believe that iptables will have been added (or will be) by @hmahmood as part of #938

[2016-06-27 13:54] hickeng commented on #1129
@sflxn I've put a swag estimate on this, but you're the one who wrote it. Can you give a more reasoned estimate as to how long this will take?

[2016-06-27 13:57] hickeng commented on #1086
@mdubya66 @karthik-narayan I don't think addressing this is viable in a TP3 timeframe. While we may have the VC event stream if @cgtexmex gets the time I don't think we'll have the time to glue it into the networkPL.

[2016-06-27 14:00] hickeng commented on #1032
@jzt can you pick this up asap - it should be a relatively small item if the image metadata is available (either it's rolled into the base layer or it's added during container create)

[2016-06-27 14:03] hickeng commented on #635
Moving this to onsite as it's not feasible for TP3.

[2016-06-27 14:09] emlin commented on #828
@stuclem Merged vic-machine delete code yesterday. There will not have functional change, but still might update flags based on usability requirement.

[2016-06-27 14:22] hickeng commented on #714
@caglar10ur Think we're going to get this done for TP3? What's left in the impl side?

[2016-06-27 14:29] #1041 closed

[2016-06-27 14:42] mhagen-vmware opened #1222 "Remove integration test which references issue 1222 and close"
I can't find an epic or implementation issue to work on the above support, so creating this.  Close if we have a feature implementation issue already for this.

[2016-06-27 15:49] mhagen-vmware opened #1225 "docker network ls --no-trunc returning only 32 characters"
Returns a 32 character id instead of the expected 64 character id:

Actual:
NETWORK ID                         NAME                DRIVER
991173cb084ac45cf0da448d820471c5   bridge              bridge

Expected:
NETWORK ID                                                         NAME                DRIVER
06eccd2198d8b0f6cd22e95e6a129311b66aae1de6381caaebd1e2168a776e60   bridge              bridge
8

[2016-06-27 16:46] mlh78750 commented on #1205
@hickeng: Yup. New esx install and I failed to setup the firewall correctly. I'll close this and open and enhancement for vic-admin like we discussed this morning.

[2016-06-27 16:46] #1205 closed

[2016-06-27 16:53] fdawg4l commented on #1213
Issue in the unit test itself.  Will fix.  Very minor.  To be fair, the code being exercised isn't even being called yet so it's doubly minor.

[2016-06-27 17:07] dougm commented on #1219
We originally switched from the VC host to ESX host in order to support certificate based authentication:
https://github.com/vmware/govmomi/commit/6d4932af8843455825027239651df2f8c3128732

For now, we can just revert back to using the ESX IP address by default.  Use of the ServiceTicket HostName field was only added to support the simulator case, we can just have the sim enable that behavior inste

[2016-06-27 18:09] mlh78750 commented on #1202
@hickeng We should still likely handle the failure of gathering those logs better than we are. Seems the truncated file was actually vicadmin.log. So I'm not sure this will be fixed by #1150.

[code]

[2016-06-27 18:13] #1122 closed

[2016-06-27 18:22] mdubya66 commented on #1129
Also saw this on docker 1.11.1 using

%  docker --tls run docker/whalesay cowsay boo

[2016-06-27 18:22] #1117 closed

[2016-06-27 18:31] emlin opened #1228 "Add integration test for vic-machine delete"

[2016-06-27 18:59] mlh78750 opened #1229 "Add "healthy" setup checks into vic-admin web page."
I recently setup a new ESX and forgot to change my firewall rules so VIC was not working properly. I would be nice to be able to go to the vicadmin web page and get a "red/yellow/green" indicator of the setup of VIC in that environment. I'm thinking of something where it shows if all the hosts have the firewall rules set properly, the available space in the datastore being used, ability to connect

[2016-06-27 19:47] cgtexmex commented on #34
vCA is dead to us...long live vCA

[2016-06-27 19:47] #34 closed

[2016-06-27 20:05] #976 closed

[2016-06-27 20:25] mhagen-vmware opened #1234 "Cannot start a named container"
We cannot currently create a named container and start it:
[code]

[2016-06-27 20:53] andrewtchin commented on #937
already completed i think by george in a refactor of vic-machine validation code

[2016-06-27 20:53] #937 closed

[2016-06-27 20:54] mhagen-vmware opened #1235 "Container start failing after adding network to container"
Steps:
[code]
Response:
[code]
Snip from the container log:

[code]
[52174935373d5b0f6ed9a9d8dc8bdc366c43da6cb32f777e93dfc16861be481a.debug.zip](https://github.com/vmware/vic/files/335823/52174935373d5b0f6ed9a9d8dc8bdc366c43da6cb32f777e93dfc16861be481a.debug.zip)

[container-logs.tar.gz](https://github.com/vmware/vic/files/335818/container-logs.tar.gz)

[2016-06-27 21:14] mdubya66 commented on #1176
Per @hickeng dupe of #1129. Closing as dupe

[2016-06-27 21:14] #1176 closed

[2016-06-27 21:16] mdubya66 commented on #1115
might be documentable.

[2016-06-27 21:17] mdubya66 commented on #1086
Moving to onsite milestone. this depends on future work.

[2016-06-27 21:23] mdubya66 commented on #1116
@mhagen-vmware please retest this to see if it re-occurs.

[2016-06-27 21:27] mdubya66 commented on #786
BATS based. Closing

[2016-06-27 21:27] #786 closed

[2016-06-27 21:28] mdubya66 commented on #763
Close as will not fix. Will be redone by revised portlayer API

[2016-06-27 21:28] #763 closed

[2016-06-27 21:28] mdubya66 commented on #751
BATS related. Closing.

[2016-06-27 21:28] #751 closed

[2016-06-27 21:29] mdubya66 commented on #749
Cannot reproduce. Closing.

[2016-06-27 21:29] #749 closed

[2016-06-27 21:30] mdubya66 commented on #690
BATS issue. Closing.

[2016-06-27 21:30] #690 closed

[2016-06-27 21:31] mdubya66 commented on #624
Closed. Completed. Docker integration tests running in robot.

[2016-06-27 21:31] #624 closed

[2016-06-27 21:36] mdubya66 commented on #524
@jzt is this still an issue?

[2016-06-27 21:36] mdubya66 commented on #162
Closing as not an issue. Let's re-open this if we see it again.

[2016-06-27 21:36] #162 closed

[2016-06-27 21:44] mdubya66 commented on #1169
Tied to #806. Might need to turn it into an epic.

[2016-06-27 21:49] mdubya66 commented on #802
@andrewtchin please review all the validation Issues for duplicates and let's create an epic to track them all for GA

[2016-06-27 21:51] mdubya66 commented on #370
@sflxn is this being worked on under another issue?

[2016-06-27 21:52] mdubya66 commented on #732
Closing as all subissues are done.

[2016-06-27 21:52] #732 closed

[2016-06-27 21:55] #767 closed

[2016-06-27 21:56] mdubya66 commented on #449
Closing as sub-issue is closed

[2016-06-27 21:56] #449 closed

[2016-06-27 21:57] mdubya66 commented on #364
@matthewavery is this complete?

[2016-06-27 21:59] mdubya66 commented on #714
Closing this. #430 is covering this. Also addressed in a PR from Caglar

[2016-06-27 21:59] #714 closed

[2016-06-27 22:00] andrewtchin opened #1239 "vic-machine input validation"
Epic for any issues that involve validating user input to vic-machine

[2016-06-27 22:02] #1164 closed

[2016-06-27 22:03] andrewtchin commented on #802
created the epic, need to go through all the issues

[2016-06-27 22:04] dougm commented on #1164
@cormachogan this fix applies to datastore HTTP access within the appliance itself too.  Next build of the master branch will include the fix.

[2016-06-27 22:06] mdubya66 commented on #903
License recieved. Waiting on EULA

[2016-06-27 22:11] mdubya66 commented on #548
Closing as won't fix.

[2016-06-27 22:11] #548 closed

[2016-06-27 22:13] mdubya66 commented on #725
This might be the original issue zach. Close whichever one you feel like.

[2016-06-27 22:18] dougm commented on #1219
Note that #1164 has been merged, that change applies to the appliance side as well.

[2016-06-27 22:38] mdubya66 commented on #1218
@gigawhitlocks : get with george and we can look at the options for this.

[2016-06-27 22:46] #689 closed

[2016-06-27 22:46] mdubya66 commented on #689
it functions, it's just very impolite

[2016-06-27 22:48] mdubya66 commented on #438
We need to add another issue to this epic to finish the stop portion.

[2016-06-27 23:06] jzt commented on #1032
@hickeng yep, looking into it now.

[2016-06-27 23:26] jzt commented on #1032
@hickeng: I'm familiarizing myself with the container create code, but just FYI I'm having problems reproducing:

[code]

[2016-06-27 23:38] npakrasi commented on #816
Added to [Supported Docker Commands table](http://vmweb.vmware.com/~sclements/github-pages/assets/files/html/vic_app_dev/container_operations.htmll)

[2016-06-28 00:03] caglar10ur commented on #1032
https://github.com/docker/docker/blob/3f6fa8af4522ba9b5ce2e4a52f959970ae4ccb8a/container/container_unix.go#L51

https://github.com/docker/docker/blob/b3a1ae02a91d93efdface95ce7ed131dc397dedd/pkg/system/path_unix.go

[2016-06-28 00:08] matthewavery opened #1241 "Provide structured approach to finding the ControllerKey for VolumeJoin"
A structured way of find the Controller key should be added instead of hardcoding the 100 value. The value will already be contained in the DeviceChanged slice within the config spec of the handle. Some code to look through the slice for a controller and extract the key should be a sufficient fix.

**Code**

[code]

**Expected behavior:**

[code]

**Actual behavior:**
See above code section

[2016-06-28 01:23] jzt commented on #1032
I see now.. @caglar10ur thanks for the links. @hickeng when you say you don't want to hardcode it into the tether, do you mean to say that you don't want to use the tether to make any changes on the appliance in this regard?

I ask because I assume we will always be using Photon as the OS for our container VMs, and I'm trying to think of the best way to couple (or decouple?) our code with/from Pho

[2016-06-28 03:03] hickeng commented on #1234
@mdubya66 I think we should bring this into TP3. We might not get to it, but we should try for it.

[2016-06-28 03:04] mdubya66 commented on #1234
agreed

[2016-06-28 03:57] #1150 closed

[2016-06-28 03:58] hickeng opened #1243 "Add pprof logging for all appliance components"
#1217 adds an easy mechanism for collecting pprof debug data from all components, however we need to:
a. enable pprof on a know port for each component
b. add those addresses to the array in vicadmin

[2016-06-28 04:00] hickeng commented on #1243
@mdubya66 @mhagen-vmware I've added this to TP3 as it's a simple piece of work but would significantly enhance our ability to diagnose deadlocks/livelocks/memory leaks in any of the appliance components. Tentatively assigning to @kjplatz  - will go over how it's done with him.

[2016-06-28 04:19] dougm commented on #742
I still have some testing/cleanup/doc/etc todo before opening a PR, which should be by tomorrow for sure.  In the meantime, my WIP is here: https://github.com/vmware/vic/compare/master...dougm:toolbox

[2016-06-28 04:34] mdubya66 commented on #1243
👍

[2016-06-28 04:43] hickeng opened #1244 "Portlayer becomes zombie after signal"
Sending a signal to the port-layer turns it into a zombie - it shuts down as a server, but the process doesn't exit so it's never relaunched.

[code]

[2016-06-28 04:44] hickeng commented on #1244
@caglar10ur is this a result of the recent DNS changes and alteration to cmd/port-layer?

[2016-06-28 04:51] caglar10ur commented on #1244
Hmm, it could be an issue with the signal handling in the main.

[2016-06-28 04:53] caglar10ur commented on #1244
https://github.com/vmware/vic/blob/master/cmd/port-layer-server/main.go#L61 is the addition, I'm not sure how it was handling signals before as I see no direct code in the main

[2016-06-28 14:06] cormachogan opened #1246 "docker: Error response from daemon: server error from portlayer."
**VIC Version:**

0.1 / master / commit ID

This was a master build downloaded at 01:00am PST on June 28th. I'm afraid I did not take note of the commit ID.

**Code**

[code]

**Expected behavior:**
That I should be able to deploy a container.

**Actual behavior:**
As described above.

[2016-06-28 14:17] carsonpadawon opened #1247 "vic-machine in github build"
This may be a duplicate, but submitting at request to be sure it is seen.

**VIC Version:**

0.1 / master / commit ID (not sure, downloaded 8am EST on 28 June 2016)

the "vic-machine" binary is in the /bin directory after the build.

[2016-06-28 14:17] #1197 closed

[2016-06-28 14:47] mdubya66 commented on #1246
@caglar10ur can you please take a look at this for root cause and if it's a known issue?

[2016-06-28 14:48] mdubya66 commented on #1247
need to look at this after our TP3 push.

[2016-06-28 14:49] mdubya66 commented on #1247
@carsonpadawon could you add a description on how you built and on what OS?

[2016-06-28 14:54] cormachogan commented on #1246
[container-logs.tar.gz](https://github.com/vmware/vic/files/337278/container-logs.tar.gz)

[2016-06-28 14:54] cormachogan commented on #1246
Folks - I can give you access to my environment if you wish - say the word.

[2016-06-28 14:58] mhagen-vmware commented on #1215
Emma's build saw this issue again. Here is the complete log bundle:
[integration_test_logs_2286_1467125529.zip](https://github.com/vmware/vic/files/337299/integration_test_logs_2286_1467125529.zip)

The appliance is VCH-7428 and the container is 5e41c64960fc8d4706c13b8346cb426b9ac9aa160ddce71eb3c69ff90364fb2b

[2016-06-28 15:00] carsonpadawon commented on #1247
Yes, sorry.  Using Photon OS v1.0.  I have this in HOL vPOD.  I have been using this same install for about 2 months.  This morning, I did a github.com pull and then a docker run -v $(pwd):/go/src/github.com/vmware/vic -w /go/src/github.com/vmware/vic golang:1.6 make all.  When this process complete I check the "bin" directory and vic-machine is there.
![vicls](https://cloud.githubusercontent.com/

[2016-06-28 15:20] #1131 closed

[2016-06-28 15:34] emlin opened #1249 "Check if bridge network is conflict with any other network"
Bridge network is full controlled by VIC, so should not share with any other networks.
If any other network is same to it, a human readable message should be shown.

[2016-06-28 15:52] carsonpadawon commented on #1247
sorry, reopening this issue

[2016-06-28 16:59] caglar10ur commented on #1244
I think I see what's happening. We are getting the signal and acting on it but swagger seems to be using something called gracefull and that expects the handle signals by itself. Maybe we can raise the signal again with following (not tested)

[code]

[2016-06-28 17:10] caglar10ur commented on #1246
is that a nested env? "context deadline exceeded" suggests that your env. is slow to complete the operation and timed out

[2016-06-28 17:14] hickeng commented on #1215
From the vmware.log for the container:
[code]
We can see that 27 seconds has lapsed between completion of power on operation and the vmxnet3 driver being initialized.

If we check in the .debug log the full file is:
[code]

It's my assessment that the container start timeout of 30seconds is insufficient in our environment. **Why** 30s is not enough time to boot a VM I do not know - is this a neste

[2016-06-28 17:14] #411 closed

[2016-06-28 17:15] cgtexmex opened #1250 "Remove resolve code from imagec"
With the addition of image metadata to the project there is no need to have the "resolv" option within imagec.  That flag, code and supporting tests can be removed.

[2016-06-28 17:17] #423 closed

[2016-06-28 17:26] carlsone opened #1251 "Container 'Create' time much slower than Bonneville"
### Docker creates are slow

Executing 100 sequential loops of "docker create -it ubuntu sleep 20000" thru VIC v2224 is much slower than Bonneville using the same ESX hardware running the same ESX v6.5 Beta2:

[code]

[2016-06-28 18:24] cormachogan commented on #1246
Nope - physical

Sent from my iPhone

On 28 Jun 2016, at 18:11, S.?a?lar Onur <notifications@github.com<mailto:notifications@github.com>> wrote:

is that a nested env? "context deadline exceeded" suggests that your env. is slow to complete the operation and timed out

-
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://urldefense.proofp

[2016-06-28 18:26] #1015 closed

[2016-06-28 19:12] emlin opened #1252 "vic-machine inspect command"
This command will accept same parameter with vic-machine delete, to query out existing VCH.
And then output the same information like vic-machine create successfully.

[2016-06-28 19:17] mhagen-vmware commented on #1109
Still seeing this issue.

[2016-06-28 19:20] mdubya66 commented on #716
Moving this to done. Needs Docs

[2016-06-28 19:20] mdubya66 commented on #430
Moving this to Done. Needs docs

[2016-06-28 19:21] mdubya66 commented on #438
Moving this to Done. Needs docs.

[2016-06-28 19:25] mdubya66 commented on #635
Moving to backlog.

[2016-06-28 19:43] kjplatz commented on #1243
As I understand this, this will require the following changes:
   1) Configure the following programs to provide pprof data on a well-defined port:
       vch-init (already done)
       imagec
       vicadmin
       docker personality
       portlayer

    2) Modify the vicadmin utility to pull from each of those sources

[2016-06-28 20:01] jzt commented on #725
@hickeng It looks like `TERM=xterm` and `PATH` get injected cleanly. I've added a line to inject the truncated container id as `HOSTNAME` into the metadata once the container is created. I have two questions:

First, I'm still not sure about `HOME` yet, though - what are our options with regard to the bootstrap iso? We could mimic docker behavior in the following ways:
* if we provide a `-u <UID>`

[2016-06-28 20:20] caglar10ur opened #1254 "attach should check vm state"
Otherwise portlayer attempts to get ssh session and gets stuck

[2016-06-28 20:35] hickeng commented on #725
Hardcode personality to reject users other than root as not supported. @stuclem will need to doc it.
Default HOME=/

[2016-06-28 20:38] npakrasi commented on #834
Added to [Supported Docker Commands](https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_app_dev/container_operations.md).

[2016-06-28 21:00] mhagen-vmware commented on #1215
This is a nested ESX environment.

[2016-06-28 21:24] npakrasi commented on #869
Added to [Supported Docker Commands table](https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_app_dev/container_operations.md)

[2016-06-28 21:50] npakrasi commented on #838
Added Docker volume create, ls, rm to [Supported Docker Commands table](https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_app_dev/container_operations.md)

[2016-06-28 21:59] npakrasi commented on #954
Added to [Supported Docker Commands table](https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_app_dev/container_operations.md)

[2016-06-28 22:11] npakrasi commented on #884
Added to [Supported Docker Commands table](https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_app_dev/container_operations.md) with a TBD to change to Yes when supported/implemented.

[2016-06-28 22:16] mdubya66 commented on #1251
Thanks @carlsone. Was Bonneville configured to use VMfork? @hickeng giving this to you for triage.

[2016-06-28 22:37] mdubya66 commented on #1215
Someone take this and bump the timeout ASAP. Going another 24 hours with CI borking is unacceptable.

[2016-06-29 00:30] #915 closed

[2016-06-29 00:30] fdawg4l commented on #1213
Closed by #1196

[2016-06-29 00:30] #1213 closed

[2016-06-29 03:54] #391 closed

[2016-06-29 09:30] stuclem commented on #820
The fix for https://github.com/vmware/vic/issues/747 is in https://github.com/vmware/vic/pull/1256.

[2016-06-29 09:57] stuclem commented on #932
Fix for https://github.com/vmware/vic/issues/915 is in PR https://github.com/vmware/vic/pull/1196.

[2016-06-29 10:13] stuclem commented on #863
Partial implementation of Docker info is in PR https://github.com/vmware/vic/pull/1142.

[2016-06-29 10:18] stuclem commented on #828
Thanks @emlin.

See also PR https://github.com/vmware/vic/pull/1253, which contains the integration test for vic-machine delete.

[2016-06-29 10:28] stuclem opened #1258 "Document that container VMs only support root user"
Per https://github.com/vmware/vic/issues/725.

[2016-06-29 10:32] stuclem commented on #833
Moved to backlog/onsite beta to match the parent dev Epic (https://github.com/vmware/vic/issues/635)

[2016-06-29 10:37] stuclem commented on #826
Dev epic https://github.com/vmware/vic/issues/430 is done.

[2016-06-29 13:18] cormachogan opened #1259 "Handle missing datastores by displaying user-readable error message"
**VIC Version:**

0.1 / master / #1221

**Code**

[code]

**Expected behavior:**

If the datastore name is not spelt, the command should return "no such datastore" or something similar.

**Actual behavior:**

vic-machine-linux failed:  runtime error: invalid memory address or nil pointer dereference

[2016-06-29 13:29] cormachogan commented on #1246
I don't know if this helps or not, but I changed from using VC as a target to using that ESXi host directly as a target, and now trying to run containers (such as busybox, and hello-world) seem to hang.

[2016-06-29 13:33] hickeng commented on #1251
@corrieb we're going to need to look into this as a matter of urgency once TP3 is done.

[2016-06-29 13:39] hickeng commented on #1202
@mlh78750 I've not seen this myself and have no real way of diagnosing it. Was it re-creatable?
#1150 altered the code that actually provides the data to the tar, however I would have expected to see extra data issues (and used to consistently) where the log had increased in size. I've never seen truncated.

[2016-06-29 13:47] stuclem commented on #1020
The fix for https://github.com/vmware/vic/issues/1015 is in PR https://github.com/vmware/vic/pull/1231.

[2016-06-29 13:47] cormachogan commented on #1246
Here are the logs from the most recent attempt to run containers with the target set to a physical ESXi host.
[container-logs.tar.gz](https://github.com/vmware/vic/files/339388/container-logs.tar.gz)

[2016-06-29 13:49] stuclem commented on #841
This is in progress on the dev side in https://github.com/vmware/vic/issues/1252.

[2016-06-29 13:50] cormachogan commented on #1246
Interestingly, after what appears to be maybe 10-15 minutes, this error is reported:

cormac@cs-dhcp32-29:~$  docker -H 10.27.33.181:2376 --tls run hello-world
Error response from daemon: vSphere Integrated Containers does not implement container.ContainerWait

[2016-06-29 13:53] stuclem commented on #823
The initial VIC plugin is implemented in PR https://github.com/vmware/vic/pull/1194, which will not be merged until after TP3.

[2016-06-29 14:47] stuclem commented on #871
The short names for options have been implemented in PR https://github.com/vmware/vic/pull/1227.

[2016-06-29 14:49] stuclem opened #1261 "Document that bridge network should not be shared with other network options"
Per https://github.com/vmware/vic/issues/1249.

[2016-06-29 14:49] mhagen-vmware opened #1262 "vic-machine create.log not providing the right information on failure"
In the case when I put the wrong IP address in and vic-machine cannot connect to ESX system at all:

Expected error (what is printed to screen):
vic-machine-linux failed:  Failed to connect to https://192.168.1.1/sdk: Post https://192.168.1.1/sdk: dial tcp 192.168.1.1:443: i/o timeout' does not contain 'Installer completed successfully'

Actual create.log error:
INFO[2016-06-29T09:41:47-05:00] ###

[2016-06-29 14:56] dougm commented on #809
#1230 should be the last code update for vendor/govmomi before making a 0.8.0 tag/release.  This will only change the vic/vendor/manifest so we point to the tagged commit.

[2016-06-29 15:00] stuclem opened #1264 "Document how to change root password of VCH appliance"
Per https://github.com/vmware/vic/issues/1218.

[2016-06-29 16:06] cormachogan commented on #1246
OK - Matt directed me to pull down the latest build from bintray (2347) and test using applications such as busybox and whalesay). There are working successfully. Apparently there might be a dependency still on "docker ps" for hello-world. Anyway, I'm good now so I am going to close this issue.

[2016-06-29 16:06] #1246 closed

[2016-06-29 16:23] #1228 closed

[2016-06-29 16:26] hmahmood opened #1265 "Command line for container persists in subsequent creates with the same image"
`docker create -it busybox /bin/ip addr`

And then run the subsequently created container.

Now create another container:
`docker create -it busybox`
(sans the command)

Run the container, and it runs the command from the previous run of the first container.

[2016-06-29 16:26] emlin commented on #1262
Interesting. We didn't actually log out every errors we got before return to main method.

[2016-06-29 16:27] hmahmood opened #1266 "Create test for #1265"
Issue to create regression test for #1265

[2016-06-29 16:42] hickeng opened #1267 "Port layer: signal"
Deliver a signal to a specific container/session.
The signal should be specified as an ssh.Signal to avoid confusion as to interpretation.

[2016-06-29 16:43] hickeng opened #1268 "Dockerfile STOPSIGNAL support"
Use the dockerfile STOPSIGNAL value as the signal to deliver to the container.
If the container doesn't stop after `docker personality defined timeout` (I believe that was 15s) then send SIGTERM.

[2016-06-29 16:49] hickeng commented on #378
depends on #1267

[2016-06-29 16:51] hickeng commented on #746
The update to status/state from the less concrete started/exitstatus values will not go in in with this fix.

[2016-06-29 16:57] jak-atx commented on #1178
@hickeng I think having it in notes could become a bit problematic as it is one field and it could have as you said freeform data. Right now the requirements are to have it labeled something like "DOCKER_API" with only that data displayed. If we had init.Common.notes.dockerApi or something that might work.

As far as having another array dedicated to this that makes sense as long as I know where t

[2016-06-29 17:11] caglar10ur opened #1269 "VIC is not using leaf layer to create the image"
For tutumcloud/dnsutils image(https://github.com/tutumcloud/dnsutils/blob/master/Dockerfile)

Docker
[code]
VIC
[vagrant@devbox:/opt/go/src/github.com/vmware/vic(link)] docker -H 10.143.2.191:2376 --tls attach d62e84a18270e74ae450ea7b9f200c296bf9cd6d42476b084a
a3f9d04aae2562
root@d62e84a18270:/#
root@d62e84a18270:/# which dig
root@d62e84a18270:/#
[code]

[2016-06-29 17:35] jooskim commented on #910
Done with initial instruction and install scripts. Closing this issue in favor of issue #1101

[2016-06-29 17:35] #910 closed

[2016-06-29 17:38] jooskim commented on #530
Will start working with Andrew next week (after TP3 deadline) to talk about steps we need to get the UI plugin build process to work in the Drone environment.

[2016-06-29 19:05] mdubya66 commented on #1254
@caglar10ur : this is TP3 because?

[2016-06-29 19:06] mdubya66 commented on #1249
@emlin this is tp3 because?

[2016-06-29 19:09] caglar10ur commented on #1254
create followed by attach (without start) causes everything to freeze and you can only recover if you kill docker.

[2016-06-29 19:10] andrewtchin commented on #1115
dup under #802

[2016-06-29 19:10] #1115 closed

[2016-06-29 19:11] caglar10ur commented on #1254
but of course feel free to move it into another milestone as we can document the problem for tp3 as a known problem

[2016-06-29 19:29] mdubya66 commented on #1254
I consider that a TP3 stopper. Thanks. Moving it to the ToDo list.

[2016-06-29 19:42] andrewtchin commented on #1259
Hi @cormachogan - could you verify what version you attempted this against?
As of commit d2134331a4c4a1b99836a292f90ac9a41c59f412 (June 28) I was unable to repro this against ESX or vCenter:

ESX:
[code]

vCenter:
[code]

[2016-06-29 20:20] mhagen-vmware commented on #1091
Fixed by all the previous issues and now: #1270

[2016-06-29 20:20] #1091 closed

[2016-06-29 20:39] mhagen-vmware commented on #1116
Closing as this hasn't been seen in a while, I believe this was fixed with #1191

[2016-06-29 20:39] #1116 closed

[2016-06-29 20:39] #1189 closed

[2016-06-29 20:41] mdubya66 commented on #1045
@corrieb let's follow up on this and get the contributors doc to reflect this best practice.

[2016-06-29 20:48] mdubya66 commented on #1222
@mhagen-vmware is there any context for this?

Searching the code found this.

/lib/apiservers/portlayer/models/scope_config.go:	/* scope type
./lib/portlayer/network/context.go:		return nil, fmt.Errorf("scope type not supported")

[2016-06-29 20:55] #746 closed

[2016-06-29 21:53] sflxn commented on #1144
We now have a swagger definition, and I just updated it.  I've implemented a first rev of container inspect on the personality server side.  Until the portlayer returns those swagger definitions I created, container inspect is still blocked.  I'm going to create some dummy code on the portlayer side to test with the personality server while I wait for @cgtexmex to populate those data fields.

[2016-06-29 22:00] sflxn commented on #1265
I think I know what this is.  It's tied to #1144.  Once that is complete.  This issue should go away.

[2016-06-29 22:11] sflxn commented on #370
It is. #1144.  I will close the other one as duplicate, as there is more info here.

[2016-06-29 22:12] sflxn commented on #370
We now have a swagger definition, and I just updated it. I've implemented a first rev of container inspect on the personality server side. Until the portlayer returns those swagger definitions I created, container inspect is still blocked. I'm going to create some dummy code on the portlayer side to test with the personality server while I wait for @cgtexmex to populate those data fields.

Related

[2016-06-29 22:12] sflxn commented on #1144
Closing due to duplicate of #370.

[2016-06-29 22:12] #1144 closed

[2016-06-29 22:54] sflxn commented on #1265
Talked to @mdubya66.  Closing this issue as it exist because #1144 was not done.  We can call it a duplicate also.  All semantics.

[2016-06-29 23:21] #903 closed

[2016-06-29 23:23] hickeng commented on #1265
Bugs should stay open until they have been validated as fixed.

[2016-06-30 00:03] #1269 closed

[2016-06-30 00:24] jzt opened #1279 "Milestone: non-root users inside containers"
Currently we only support root users inside containers. @stuclem: We should document why this is not a high priority. Ping myself or @hickeng for info.

[2016-06-30 00:27] jzt commented on #1158
Fixed in #1187.

[2016-06-30 00:27] #1158 closed

[2016-06-30 01:04] sflxn commented on #1129
While trying to understand this issue, I went and looked at all the previously closed issues that were marked duplicate.  I hate to break it to everyone, but they are not all duplicates.  There were quite a few docker run that has very tenuous links to attach.  They were docker run specific.  We do yet have ContainerWait() implemented.  This is specific to docker run.  I've looked at the docker ru

[2016-06-30 01:56] sflxn commented on #1129
I've analyzed THIS specific issue, and I'm not sure how to fix it yet.  When a request to attach comes in, it waits for the attachServer.Get() to return.  We have an interactionTimeout to wait for a long time before giving up on attaching to the ssh server.  When this was wrote, we assumed the ssh server could take a long time to attach.  We, currently have no way to monitor if the running process

[2016-06-30 03:11] sflxn commented on #1129
I don't think this is possible for TP3.  This is not an attach issue.  This is a monitor when the process in the container has finished issue.  Once we have that, I can modify attach to take advantage of it.

[2016-06-30 07:24] cormachogan commented on #1259
Hey @andrewtchin - the error is still happening for me and I am using build #2347 from bintray - https://bintray.com/vmware/vic-repo/build/view - this was the latest build from yesterday afternoon that pass testing. My datastore is isilion-nfs-01, but if I just put in isilion-nfs, the error occurs:

root@photon-NaTv5i8IA [ /workspace/vic ]#  ./vic-machine-linux create  --bridge-network Bridge-DPG

[2016-06-30 09:40] stuclem opened #1282 "Document how to set up an offline registry with Harbour"
Following email discussion with Karthik and the Harbour team, we might need to bundle [Harbour](https://github.com/vmware/harbor) with VIC, to allow customers who do not have an external internet connection to use a private, offline Docker registry.

Notes from call with Stuart, Bobby (Jun) Zhang (@bobbyjunzhang) and Henry (Haining) Zhang (@hainingzhang)  on 2016-06-30:
- VIC needs an offline Dock

[2016-06-30 10:14] stuclem commented on #841
A first implementation is in PR https://github.com/vmware/vic/pull/1275.

[2016-06-30 10:17] stuclem commented on #1258
See also https://github.com/vmware/vic/issues/1279 for the future implementation of support of non-root users in container VMs.

[2016-06-30 10:24] stuclem opened #1283 "Document that vic-machine create checks DRS config"
Implemented in PR https://github.com/vmware/vic/pull/1271.

[2016-06-30 10:32] stuclem commented on #924
The deployment of the UI is to be done via `vic-machine create`, per https://github.com/vmware/vic/issues/1101. https://github.com/vmware/vic/issues/910 is now closed.

[2016-06-30 10:40] stuclem opened #1284 "Document new vic-machine create options"
New networking options have been added to `vic-machine create`:

- `client-network` (see https://github.com/vmware/vic/issues/1178 for a bit of info)
- `container-network`
- `container-network-gateway`
- `container-network-ip-range`
- `container network-dns`

[2016-06-30 10:47] cormachogan opened #1285 "vic-machine-linux failed: Creating resource pool failed: ServerFaultCode: A specified parameter was not correct:"
**VIC Version:**

0.1 / master / 2416

// A self-contained demonstration of the problem follows...

Trying to create a new VCH using vic-machine-linux from #2416

[code]

Here is the vpxd.log:

[code]

**Expected behavior:**

This is the same syntax for _vic-machine-linux_ that I have been using for a few days time. I'm not sure if something has changed and I need to include another argument, but

[2016-06-30 13:46] mhagen-vmware opened #1287 "Failed to get default registry endpoint from daemon"
Saw the following error from build 2411 and VCH-2411-3467:

Warning: failed to get default registry endpoint from daemon (An error occurred trying to connect: Get https://192.168.31.142:2375/v1.21/info: tls: oversized record received with length 20527). Using system default: https://index.docker.io/v1/
An error occurred trying to connect: Post https://192.168.31.142:2375/v1.21/images/create?fromIm

[2016-06-30 13:51] mdubya66 commented on #1285
@emlin or @andrewtchin please triage this. moving to TP3 as it's currently a stopper

[2016-06-30 14:03] mdubya66 commented on #1279
Moving to Backlog. This needs more details and needs to be documented.

[2016-06-30 14:05] mdubya66 commented on #1287
This is in code that's not merged.

[2016-06-30 14:31] mdubya66 commented on #1130
re-assigning to @fdawg4l for initial investigation.

[2016-06-30 14:43] mhagen-vmware commented on #1222
Sorry, I talked to @hmahmood when I made this and didn't translate our conversation into this issue:
 Yes, this is network related. You get this error when you run:
docker ${params} network create -d overlay test-network2

This is mostly just a place holder for my test scripts until we decide we want to support this feature.

[2016-06-30 15:12] fdawg4l opened #1289 "Tether test PANIC"
From [drone](https://ci.vmware.run/vmware/vic/2401).  Built on top of https://github.com/fdawg4l/vic/commit/df07169aa18f4eefb9071eb323909be0e30f8d3a.

[code]

[2016-06-30 15:13] emlin commented on #1285
I'm wondering if this is related to the resource pool reservation changes. Let me have a simple test.

[2016-06-30 15:17] hickeng commented on #1254
We can implement this in the personality as:
1. container.Inspect - check VM is powered on and attach is enabled
2. if yes to both, continue with attach.

We should also allow for a check in the port-layer, but the logic there is less evident because I think there could easily be a use-case for the following ordering:
1. call attach on container that isn't started and block until attached
2. call

[2016-06-30 15:21] corrieb commented on #1254
If we go with the policy of a container transitioning to RUNNING state the moment we commit a state change, then blocking attach in the PL would be the correct solution. I would be inclined to simply reject an attach if the container is STOPPED though

[2016-06-30 15:28] hickeng commented on #1254
@corrieb Expanding on why we might want to allow the opposite ordering. Docker run is:
* create
* start
* attach

The behaviour people _assume_ is:
* create
* start-and-attach

The difference here is between attaching to get all subsequent output, with the potential to miss some, and the intent to attach without missing any.

The reversed ordering of start/attach (namely, attach then start) is a v

[2016-06-30 15:41] mlh78750 commented on #1202
@hickeng I'm unable to reproduce with 2416 build with normal configuration. I think when I did this originally the firewall was enabled on the host.

So this was likely an artifact of the fact that the appliance was running on a host with the firewall active. I'll close since I can't reproduce.

[2016-06-30 15:41] #1202 closed

[2016-06-30 15:59] mdubya66 commented on #1265
load balancing the team, passing this to @jzt

[2016-06-30 16:43] corrieb commented on #1045
I want to make sure that we get input from the team before we impose anything. I know everyone's busy, but this isn't going to work unless people feel like they own it

[2016-06-30 16:44] corrieb commented on #1251
I agree. This is going to fall into a larger category of performance-related investigation work that we need to do anyway

[2016-06-30 16:48] sflxn commented on #1129
That's not an EOF from the port layer.  That's a Swagger error saying it got an EOF.  An unknown swagger error.

[2016-06-30 17:07] sflxn commented on #1129
I'll add some code for TP3 to look for the EOF string in the untyped Swagger error if it has a string.

[2016-06-30 18:01] mdubya66 commented on #1045
would a PR request to review the proposal be sufficient for input?

[2016-06-30 18:17] andrewtchin commented on #1285
I'm able to repro this now - working on a fix.

[2016-06-30 18:17] emlin opened #1296 "vic-machine delete does not take resource pool path <cluster path>/<pool>"
The parameter --compute-resource Austin/line --name line001 works for vic-machine-linux create, but not for delete.

[2016-06-30 18:26] #1252 closed

[2016-06-30 18:30] #1287 closed

[2016-06-30 18:45] corrieb opened #1297 "Crash in vicadmin test"
See https://ci.vmware.run/vmware/vic/2440

panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xb code=0x1 addr=0x20 pc=0xadc34a]

goroutine 100 [running]:
panic(0x1014d00, 0xc820012130)
	/usr/local/go/src/runtime/panic.go:481 +0x3e6
bufio.(*Writer).flush(0xc8203c1b40, 0x0, 0x0)
	/usr/local/go/src/bufio/bufio.go:562 +0xda
bufio.(*Writer).Flush(0xc8203c1b40, 0x0, 0x0)

[2016-06-30 19:08] jzt opened #1298 "Pulling the same image concurrently with multiple clients"
Some functionality needs to be added to deal with multiple clients attempting to pull the same image at the same time.

- [ ] The storage portlayer needs to return an "already exists" error when multiple clients call `WriteImage` simultaneously for the same image. One call will inevitably win, making it impossible for the losing caller(s) to create the vmdk on the backend. This occurrence needs to

[2016-06-30 19:30] corrieb commented on #1297
Seems like we're crashing here: in bufio.go:
n, err := b.wr.Write(b.buf[0:b.n])

I suspect we may need to check for a nil slice here in vicadmin.go:
func (fw *flushWriter) Write(p []byte) (int, error) {
	n, err := fw.w.Write(p)

	fw.f.Flush()

	return n, err
}

[2016-06-30 20:03] hickeng opened #1299 "Tether tests: address concurrent write to map with map sink"
[code]

[2016-06-30 20:45] fdawg4l commented on #304
Closing this as the robot test framework subsumes this.

[2016-06-30 20:45] #304 closed

[2016-06-30 20:46] matthewavery commented on #655
I do not think is an issue any longer. once @sflxn vendored all of dockers code.

[2016-06-30 20:46] #655 closed

[2016-06-30 20:59] corrieb commented on #1297
Unable to reproduce locally. Timing bug? Looping test 100 times to see

[2016-06-30 21:06] gigawhitlocks opened #1301 "URL <-> vSphere path identifier translator"
Need to add a routine to convert between the vSphere standard path identifier for e.g. specifying a Datastore + folder path for storage and the one we use internally, `ds://datastore_name/path/to/folder`

[2016-06-30 21:21] andrewtchin commented on #1285
Verified the fix on the target environment
[code]

[2016-06-30 21:26] mdubya66 commented on #354
closing this as no longer reproducible.

(mwilliamson) dubs:~/Downloads/vic $ docker -H 172.16.127.148:2376 --tls create busybox /bin/sleep 200
Unable to find image 'busybox:latest' locally
latest: Pulling from library/busybox
a3ed95caeb02: Pull complete
8ddc19f16526: Pull complete
Digest: sha256:65ce39ce3eb0997074a460adfb568d0b9f0f6a4392d97b6035630c9d7bf92402
Status: Downloaded newer image for li

[2016-06-30 21:26] #354 closed

[2016-06-30 21:31] mdubya66 commented on #441
Adding GA milestone as remaining issue is GA targeted

[2016-06-30 21:32] mdubya66 commented on #567
Closing. We have a completely new CI setup now.

[2016-06-30 21:32] #567 closed

[2016-06-30 21:42] corrieb commented on #1297
Nope. the byte[] arg cannot be nil. See io.go:

	if buf == nil {
		buf = make([]byte, 32*1024)
	}
	for {
		nr, er := src.Read(buf)
		if nr > 0 {
			nw, ew := dst.Write(buf[0:nr])

[2016-06-30 21:45] corrieb commented on #1297
Ran the test 100 times locally. Did not fail once.

[2016-06-30 21:45] mdubya66 commented on #474
(mwilliamson) dubs:~/Downloads/vic $ docker -H 172.16.127.148:2376 --tls create golang
Unable to find image 'golang:latest' locally
latest: Pulling from library/golang
b0850b14d0d1: Download complete
5c90d4a2d1a8: Downloading [=================================>                 ] 34.61 MB/51.35 MB
a3ed95caeb02: Download complete
ab30c63719b1: Download complete
c6072700a242: Downloading [===========

[2016-06-30 21:45] #474 closed

[2016-06-30 21:47] mdubya66 commented on #73
Moving to Icebox.

[2016-06-30 21:49] emlin opened #1303 "vic-machine timeout"
timeout usage message is wrong in vic-machine delete
timeout parameter is not necessary for vic-machine inspect

[2016-06-30 21:59] corrieb commented on #1297
Only think I can conclude from the line it crashed on is that the underlying buffered writer had a nil io.Writer field. I can't see why or how that could have happened.

Ultimately I don't believe this is a bug in our code.

[2016-06-30 21:59] #1297 closed

[2016-06-30 23:20] mhagen-vmware opened #1306 "Unit test failure on master: 1b91a780e1bbc9da6daf8ac989dc2f48bafa24e1"
PASS
coverage: 46.0% of statements
ok  	github.com/vmware/vic/cmd/imagec	0.035s
+ for pkg in '"$@"'
++ echo github.com/vmware/vic/cmd/vicadmin
++ tr / -
+ f=/drone/src/github.com/vmware/vic/.cover/github.com-vmware-vic-cmd-vicadmin.cover
+ go test -v -covermode=count -coverprofile=/drone/src/github.com/vmware/vic/.cover/github.com-vmware-vic-cmd-vicadmin.cover github.com/vmware/vic/cmd/vicadmin
ti

[2016-06-30 23:44] hickeng commented on #755
Hey Ben, is this a dup of something you're working on?

[2016-06-30 23:47] hickeng commented on #123
closing this as we're working through the required structure in code: lib/metadata/container_vm.go

[2016-06-30 23:47] #123 closed

[2016-06-30 23:48] hickeng commented on #64
There is already a working swagger spec for the PL. Iterations are being made in code.

[2016-06-30 23:48] #64 closed

[2016-06-30 23:49] hickeng commented on #489
This is post-GA. Necessary when we allow commit.

[2016-07-01 00:04] mdubya66 commented on #489
Moving to Icebox as id'd as post GA

[2016-07-01 00:47] hickeng commented on #693
This should just be validation at this point.

[2016-07-01 00:47] hickeng commented on #831
@stuclem We need some of this for onsite as this will be one of the core things we want to show.

[2016-07-01 00:48] hickeng commented on #595
This is happening slowly as we have to make changes to where we source this information.This should be done for GA for cleanliness purposes.

[2016-07-01 04:18] #809 closed

[2016-07-01 09:39] stuclem commented on #883
Implementation is in PR https://github.com/vmware/vic/pull/1307.

[2016-07-01 09:41] stuclem commented on #831
OK, thanks @hickeng, I have upped the priority.

[2016-07-01 09:47] stuclem opened #1309 "Document support for volume stores in vic-machine"
PRs https://github.com/vmware/vic/pull/1293 and https://github.com/vmware/vic/pull/1305 add a new `vic-machine` option `--volume-store`. More details are in issue https://github.com/vmware/vic/issues/429.

[2016-07-01 09:49] stuclem commented on #828
See also PR https://github.com/vmware/vic/pull/1302, which fixes issue https://github.com/vmware/vic/issues/1296.

[2016-07-01 09:59] stuclem commented on #954
According to email exchange between @mdubya66 and @karthik-narayan, docker kill won't make it into TP3, but will be in the onsite beta.

[2016-07-01 10:01] stuclem opened #1310 "Document TP3 workaround for docker kill"
Per an email exchange between @mdubya66 and @karthik-narayan, docker kill will not be implemented in TP3. So, we need to document an alternate means of stopping containers in TP3.

Apparently, @hickeng has the info.

[2016-07-01 10:02] stuclem commented on #954
Added issue https://github.com/vmware/vic/issues/1310 to track documenting the workaround for stopping containers in TP3.

[2016-07-01 10:09] stuclem commented on #841
PR https://github.com/vmware/vic/issues/1252 is now merged.

[2016-07-01 10:13] stuclem commented on #828
PR https://github.com/vmware/vic/pull/1290 grabs VCH logs before deleting the appliance. This might just be for internal testing, though. TBC with @mhagen-vmware.

[2016-07-01 11:16] mhagen-vmware commented on #831
Some examples:
https://github.com/vmware/vic/tree/master/tests/test-cases/Group3-Docker-Compose

[2016-07-01 11:58] stuclem commented on #831
Great, thanks @mhagen-vmware!

[2016-07-01 12:02] stuclem commented on #1284
Target option has also changed to allow `username:password` to be included.

[2016-07-01 12:52] mhagen-vmware opened #1311 "docker rm to a running container returns incorrect output"
Actual:
Error response from daemon: server error from portlayer

Expected:
Error response from daemon: Conflict, You cannot remove a running container. Stop the container before attempting removal or use -f

[2016-07-01 13:06] mhagen-vmware opened #1312 "force remove of a running container fails"
Trying to force remove a running container:
docker ${params} rm -f ${container}

Actual:
Error response from daemon: server error from portlayer

Expected:
Container should be removed

[2016-07-01 13:23] hickeng commented on #1310
@stuclem `docker stop` works currently, but directly powers down the VM which may result in filesystem corruption (should be fixed on next boot, but still an issue). We are still aiming to get a polite form of stop in over the weekend, but don't know if we'll make it - this depends on #1267 and the actual milestone is #438

The lack of `docker kill` means a user cannot send arbitrary signals to th

[2016-07-01 13:23] mhagen-vmware opened #1313 "Removal of a stopped container results in the datastore not being cleaned"
docker ${params} pull busybox
docker ${params} create busybox ls
docker ${params} start ${container}
docker ${params} rm ${container}

Results in the vm being removed but the datastore doesn't get cleaned up.

[2016-07-01 13:41] stuclem commented on #1310
@hickeng, thanks.

@npakrasi, can you please add this to the app dev doc? Thanks!

[2016-07-01 13:45] mdubya66 opened #1314 "add bintray download link to vmware.github.io/vic/ for TP3"
The vmware.github.io/vic page should point users to the bintray download location once we publish the v0.4.0 bits.

[2016-07-01 13:50] lweitzman commented on #1229
this sounds like great data for the VIC overview page. but from what i understand, the overview page is not part of v1.0.

[2016-07-01 13:53] mdubya66 commented on #1229
we've asked our crack group of interns to take a look at vicadmin. we will, opportunistically, improve the interface for 1.0 but will not hold the release.

[2016-07-01 14:11] cormachogan opened #1316 "Container start after network connect gets EOF in portlayer"
**VIC Version:**

0.1 / master / 2488

I was running through some network tests as created by @mhagen-vmware

I was able to successfully deploy busybox container with a shell:

[code]

However I ran into an issue after attaching a new network to an existing busybox container, and trying to start said container:

[code]

I looked at the portlayer logs and this is what I see:

[code]

**Expected beh

[2016-07-01 14:12] stuclem opened #1317 "Document configuration health status in UI"
Per https://github.com/vmware/vic/issues/1229.

[2016-07-01 14:15] emlin commented on #570
Had function in vic-machine delete, and removed force reinstall.

[2016-07-01 14:15] #570 closed

[2016-07-01 14:25] mdubya66 commented on #1316
Assigning to @hmahmood for validation as this is the workflow he is currently completing

[2016-07-01 14:37] #1285 closed

[2016-07-01 14:39] mhagen-vmware opened #1318 "docker network rm using the ID of the network returns success but doesn't remove the network"
'docker -H 192.168.254.184:2376 --tls network rm 2a1d449948b4b46a03e963ee7c35086a'
${rc} = 0
${output} =

'NETWORK ID          NAME                DRIVER
893616515284        bridge              bridge
2a1d449948b4        test-network3       bridge

[2016-07-01 14:43] mhagen-vmware commented on #1316
Might be related to this:
https://github.com/vmware/vic/issues/1235

[2016-07-01 14:44] matthewavery commented on #364
This is just pending the flag support for container removal. Currently there is no way to gracefully remove the containers.

[2016-07-01 14:45] #328 closed

[2016-07-01 14:49] mdubya66 commented on #731
Only one issue in this epic. Closing it.

[2016-07-01 14:49] #731 closed

[2016-07-01 14:49] matthewavery commented on #337
The yum-cache changes during authoring resolved these issues. We no longer leave temporary files laying around if a make all is done locally.

[2016-07-01 14:49] #337 closed

[2016-07-01 14:59] #429 closed

[2016-07-01 15:10] stuclem commented on #871
Done for vic-machine create. Will add these to vic-machine inspect and delete when I write them up. Change will be included in a future PR once I finish with https://github.com/vmware/vic/issues/1284 (new create options).

[2016-07-01 15:17] #1296 closed

[2016-07-01 15:17] mhagen-vmware opened #1319 "Stopping a never started container throws an error"
Actual:
Error response from daemon: container 5fe44c11c131cc04fcf595cfabc0722e9aa77cd2f55db07e7d0d7d46d1cf1e74 not found

Expected:
Non-VIC docker just returns without error.

[2016-07-01 15:30] mdubya66 commented on #733
Closing this as both issues are done

[2016-07-01 15:30] #733 closed

[2016-07-01 15:35] hickeng commented on #31
post GA

[2016-07-01 15:36] mhagen-vmware opened #1320 "Stopping a container without a -t flag should default to 10 seconds"
Currently stopping a container does so immediately, docker defaults to 10 seconds before stopping a container unless you specify -t flag.

[2016-07-01 15:38] hickeng commented on #315
reassigning to @kjplatz @sgairo for update to vicadmin/docker personality for unix socket access - this is likely supported by @jzt or @sflxn.

[2016-07-01 15:38] mhagen-vmware opened #1321 "Stop does not honor -t flag"
Running docker -t 2 should stop a running container in about 2 seconds.  Currently, VIC stops the container immediately and returns success regardless of what you specify in the -t flag.

[2016-07-01 15:39] hickeng commented on #106
closing in favour of #433 which is to obtain the persisted logs.

[2016-07-01 15:39] #106 closed

[2016-07-01 16:06] sflxn commented on #370
I submitted a PR yesterday, but it shouldn't be merged until the portlayer side is done.  The PR will override the work that was done for the inspect for attach.  If this PR gets approved and merged without the portlayer side, attach will no longer work.

[2016-07-01 16:12] sflxn commented on #1129
I didn't have enough time to work on the timeouts for TP3.  Having reread this, your suggestion seems to require handling #1128.  Anyway, I'm looking at it now.  It would be nice to vendor the go-http code that @casualjim suggested.

[2016-07-01 16:36] andrewtchin commented on #1259
I tested both these commands on build 2496 which includes the fix from #1300 and found this to be resolved.

[code]

[code]

[2016-07-01 16:37] #1259 closed

[2016-07-01 16:41] mdubya66 commented on #544
Seems to be fixed with docker-appliance
root@docker-appliance [ ~ ]# uname -a
Linux docker-appliance 4.4.8-esx #1-photon SMP Tue Jun 7 08:04:49 UTC 2016 x86_64 GNU/Linux

[2016-07-01 16:41] #544 closed

[2016-07-01 16:42] karthik-narayan commented on #1282
@stuclem We should point to the Harbor bits, but should not own the responsibility of uploading or maintaining them.

I'm okay either way when it comes to bundling. That said, when we generate a PDF, I'd like this included in there.

[2016-07-01 16:45] mdubya66 commented on #1282
IMO this should be post GA

[2016-07-01 16:46] andrewtchin opened #1326 "vic-machine Bad FD for create log"
15599b2

vic-machine create has a (new within the last day) undesired error message at the end of output `Failed to write to log, write create.log: bad file descriptor`

This happens both when `create.log` does not exist and when already present before running `vic-machine create`. The log file has the expected contents after running the command.

This does not happen when the installer completes

[2016-07-01 16:54] mdubya66 commented on #662
Closing this

[2016-07-01 16:54] #662 closed

[2016-07-01 16:56] mdubya66 commented on #482
2016 is 6.5. Moving to Icebox

[2016-07-01 17:07] matthewavery commented on #932
I wanted to post a note here about the behavior of the `docker volume create --opt Capacity=<value>` flow. `<value>` is going to be in units of MB. Unless we decided against that the unit should be bumped up.

[2016-07-01 17:22] hickeng commented on #159
For TP3: @stuclem we need to document the default base disk size.
For GA: @fdawg4l we need to allow configuration of the base disk size for images for GA.

The other elements are post-GA.

[2016-07-01 17:24] hickeng commented on #238
@mdubya66 This is both a perception issue and a resource consumption issue. This _may_ (unverified) significantly increase the actual consumption footprint of every VCH.
We should also look at disabling the filesystem buffer given we're running from ramfs - definitely need to drop the memory footprint of the appliance from 2GB which is way too large.

This needs investigation before it can be drop

[2016-07-01 17:26] mdubya66 commented on #810
no issues. removed the document issue and closed

[2016-07-01 17:26] hickeng commented on #392
lowish priority - don't think it's crucial for GA as the only systemd issues we've been suspicious of are the DHCP ones.

[2016-07-01 17:27] hickeng commented on #306
unlikely to be viable for GA as I think it requires a udev alternative for populating /dev/disk/by-label

[2016-07-01 17:28] hickeng commented on #480
@mdubya66 still of potential utility - would be a good way of improving tether testing.

[2016-07-01 17:32] hickeng commented on #338
@corrieb Assigning this to you - we should have a chat about how to accomplish this cleanly, where we can share with DNS, etc.

[2016-07-01 17:32] fdawg4l commented on #1031
We need better logging and george added tracing (to my dismay) to (the otherwise parseable) storage log messages.  Will address logging with a better library in a different issue.

[2016-07-01 17:34] hickeng commented on #407
@mdubya66 we should try for this for onsite. It's almost free once we get #1267 done.

[2016-07-01 17:37] #1031 closed

[2016-07-01 17:52] hickeng commented on #862
@corrieb we have the ability to return a list of containers - that essentially provides this capability keyed off IDs only. Assigning to you for API conversation.

[2016-07-01 17:54] hickeng commented on #1251
@corrieb sent you a link to the perf dashboard.

[2016-07-01 17:56] mdubya66 commented on #1247
hi @carsonpadawon. We won't be fixing this. You should run make clean and it should delete the bin directory.

[2016-07-01 17:56] #1247 closed

[2016-07-01 17:56] hickeng commented on #1247
@carsonpadawon if you run `make clean` then it'll delete the bin directory. There's no `make distclean` so we've no way to clear everything but the yum cache and iso staging.

[2016-07-01 18:23] hickeng opened #1329 "Integrate VC event stream with Exec Layer"
We need to integrate the VC event stream for the following:
* network
  * unbind of IP address on power off
  * update of DNS
* exec
  * implementation of Wait
  * efficient reporting of container state
* interaction
  * reject pending requests for attach sessions

[2016-07-01 18:23] hickeng commented on #1329
assigned to clint for initial integration - exec as a testbed.

[2016-07-01 18:24] gigawhitlocks opened #1330 "ability to specify default size for volume stores in vic-machine"
We need to add a way for the vi admin to specify a default size for volume stores through vic-machine at install time.

`vic-machine create --volume-store=foo:datastore/path --volume-store-default-size=foo:20GB` or something like that, should set the default size of `foo` in `extraconfig` so that it can be used by the backend.

[2016-07-01 18:47] hickeng opened #1331 "Image manifest JWS verification"
**Story**
As a user I want to know that the image I pull has not been tampered with

**Details**
Implementation of the JWS signature validation on image manfiests should be performed in the `lib/imagec` code.
The digest for the image layers is already computed and verified by the portlayer.WriteImage call
  - [ ] verify that the layer digests are passed to this call

There should be no provision f

[2016-07-01 19:19] #1306 closed

[2016-07-01 19:24] hickeng commented on #151
@jzt given you've take on imagec just an FYI that this exists, but is not currently slated for GA.

[2016-07-01 19:28] hickeng commented on #861
Should try to have something here for onsite - we need to validate with customers how much infrastructure data should be leaked to users.

[2016-07-01 19:32] hickeng commented on #116
@emlin we have some status reporting from vic-machine, but I'm unconvinced it's sufficient to diagnose all probably failure paths.

[2016-07-01 22:11] #796 closed

[2016-07-01 22:17] #798 closed

[2016-07-01 22:17] #369 closed

[2016-07-01 22:19] cgtexmex opened #1334 "ps command should sort by create date"
The ps command should sort by create date in reverse order.

[2016-07-01 22:44] hmahmood commented on #1235
Maybe related to #1214

[2016-07-01 22:45] hmahmood commented on #1316
Maybe related to #1214

[2016-07-01 23:34] jooskim opened #1335 "Integrate UI plugin build process into CI"
As the build and deploy workflow has solidified, the plugin build process needs to be integrated into CI. This will require Drone to pull Ant and two SDKs - vSphere Web Client SDK and Flex SDK to be able to compile the VIC plugin successfully. Need to confirm if it's ok to put the SDK packages in Bintray.

[2016-07-01 23:44] jooskim opened #1336 "Convert register-plugin.jar into Go equivalent"
By converting the plugin registration utility from Java to Go, the UI installation process will not require JRE. Also, there's a minor problem with the existing Java app that makes it hard to handle exceptions in the installer shell script. For example, trying to register a plugin that is already registered as a vCenter extension will throw an exception that is very uninformative (see below)

[cod

[2016-07-02 19:10] jzt commented on #1098
I've added this functionality to container ID lookups in #1333. It would be trivial to add it to image ID lookups, but I can do that in another PR.

[2016-07-03 19:52] cgtexmex commented on #1313
This appears to be caused by the fact that we create a container VM specific log and debug file upon container start -- I believe these are created and managed by the tether.  esx is deleting from disk all the files it's aware of and since it's unaware of those it leaves them behind.

[2016-07-03 20:07] cgtexmex opened #1337 "Stopping container removes extraconfig information"
When issuing a stop command for a container VM the extraconfig information is removed from the VMX file.  This extraconfig information (guestinfo fields) is used by the portlayer and specifically the exec.List command to identify container VMs.

Since this information is removed on container stop the exec.List is unable to identify container VMs and subsequently they do not appear in the docker ps

[2016-07-04 08:24] cormachogan opened #1338 "Removing VCH needs to check for running containers before deleting vSphere extension"
**VIC Version:**

0.1 / master / 2513

Sequence of events:

1. Attempt to remove VCH with running container(s)
2. vic-machine-linux removes vSphere extension before checking for running containers
3. Power off/Stop containers
4. Remove of VCH once more - removal succeeds but complains about missing extension

Issue: The VCH vSphere extension is removed before we check if there are powered on conta

[2016-07-04 08:41] stuclem commented on #816
Initial implementation of docker ps is in PR https://github.com/vmware/vic/pull/1324.

[2016-07-04 08:47] cormachogan commented on #1316
I just retried with the latest VIC Version from bintray this morning. Adding this update as an FYI.:

0.1 / master / 2513

[code]

[2016-07-04 18:13] mdubya66 commented on #806
@fdawg4l @matthewavery should this be closed?

[2016-07-04 18:14] mdubya66 commented on #742
is this still required for tp3? @dougm @hickeng?

[2016-07-05 00:29] mdubya66 commented on #1330
may be a post 1.0 topic, putting in ga for now

[2016-07-05 07:31] cormachogan opened #1339 "Easily identify relationship between VCH <-> container <-> volume"
**VIC Version:**

0.1 / master / 2513

**Code**

[code]

**Expected behavior:**

That from the logs, one should quickly be able to determine the relationship between a VCH, its containers and the volumes used by those containers.

**Actual behavior:**

Right now, if the folder name is not specified for the volume, the folder is given the same name as the actual datastore on which it resides. I thi

[2016-07-05 08:42] stuclem opened #1340 "Document that vic-machine create can set default size for volume stores"
Per https://github.com/vmware/vic/issues/1330.

[2016-07-05 08:44] stuclem opened #1341 "Document how to identify relationship between VCH, container and volume"
Per https://github.com/vmware/vic/issues/1339. The dev issue is under investigation.

[2016-07-05 08:46] #865 closed

[2016-07-05 08:46] stuclem opened #1342 "Document vic-machine version"

[2016-07-05 08:48] stuclem commented on #953
This is implemented in PR https://github.com/vmware/vic/pull/1328.

[2016-07-05 08:48] stuclem commented on #1342
Dup of https://github.com/vmware/vic/issues/953

[2016-07-05 08:48] #1342 closed

[2016-07-05 08:52] stuclem commented on #932
Thanks @matthewavery. Assigning this to Nandita, who is documenting the supported docker commands.

[2016-07-05 09:11] stuclem commented on #810
So, @mdubya66 and @emlin, is this not happening?

[2016-07-05 09:14] stuclem commented on #873
Per https://github.com/vmware/vic/issues/544, this would now appear to be a non-issue.

[2016-07-05 09:14] #873 closed

[2016-07-05 09:17] stuclem commented on #886
Issue https://github.com/vmware/vic/issues/106 was closed in favour of https://github.com/vmware/vic/issues/433, which has its own doc issue, https://github.com/vmware/vic/issues/837. So, closing this one.

[2016-07-05 09:17] #886 closed

[2016-07-05 09:52] stuclem commented on #31
@npakrasi, looks like we should remove NSX from https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_admin/interop.md.

[2016-07-05 09:53] stuclem opened #1343 "Remove support for NSX from Admin doc"
Per https://github.com/vmware/vic/issues/31, we need to remove NSX support from https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_admin/interop.md.

[2016-07-05 13:39] emlin opened #1344 "vic-machine: suggest resources"
@cormachogan found the following issue. Here is the email message:

[code]

Immediately after the failure, we list the clusters and datastores in the environment, although it is not obvious what these are.

I assume this is the output of the "Suggesting valid values" line, but we then get the error before the list.

Can we reorganise the output so that the error appears before the “Suggesting …” l

[2016-07-05 14:49] mdubya66 commented on #810
Closed by mistake. Re-opening. @emlin let's get an issue open for the dev portion of this so we don't have an epic with one item. This is a GA requirement.

[2016-07-05 15:00] matthewavery commented on #806
Not quite yet, I am planning on contacting Nandita this morning about what needs to get done.

[2016-07-05 15:17] mdubya66 commented on #1339
This seems like a pretty common usecase and one we should try to address for VIC GA. @hickeng to evaluate the potential. @karthik-narayan to validate the requirement for GA

[2016-07-05 15:35] hmahmood commented on #1316
@cormachogan I think that is the `logs` command crashing.

[2016-07-05 15:45] kjplatz commented on #983
Per @hickeng the --force option indicates that the create should continue in the face of (normally fatal) errors.  However, I will be submitting a PR to change the error messages to indicate that this is normally a fatal error and that the appliance will (most likely) not be functional.

[2016-07-05 15:47] emlin opened #1346 "vic-machine: register extension failed for "incorrect parameter""
←[31mERRO←[0m[2016-07-05T18:20:52+03:00] vic-machine-windows failed: Error registering VCH vSphere extension: ServerFaultCode: A general system error occurred: The parameter is incorrect.

The VC is one windows VC, still not sure if it's a common Windows VC issue or specific to @stuclem env.

[2016-07-05 16:21] matthewavery opened #1347 "--force true for vic-machine causes cli args following it to be ignored."
[code]

[2016-07-05 16:47] dougm commented on #1346
The govc extension test works against Stuart's env (see https://github.com/vmware/govmomi/blob/master/govc/test/extension.bats#L19-L29)

[code]

Note that you can use 'govc extension.info' without an argument to list all extensions.  For example, in this env:
[code]

[2016-07-05 17:18] hickeng commented on #1339
@cormachogan One of the primary purposes of vicadmin is to furnish information that allows for this style of correlation. I spent a small chunk of time on friday with @reddolan going over why vicadmin exists and its purpose.

There are two things we can do here immediately however:
1. add data to docker info that allows a viadmin to identify the VCH in vSphere.
2. capture those parts of the VCH co

[2016-07-05 17:56] sflxn commented on #1254
@hickeng and I were discussing this last week.  This ability to check if vm is running is dependent on ps.  I'll add the check, assuming it'll get done.

As far as whether to ditch if the container is stopped or paused, yes, we should do that.  The original attach code had a FIXME comment saying to add this check when ps is implemented.  We decided to do an optimistic attach instead of checking.

[2016-07-05 18:00] sflxn commented on #1254
start
attach

vs

start-attach

There is no difference.  The API server provide distinct operation.  The CLI will sequence them, but there is no start + attach at the same time operation.

[2016-07-05 18:03] sflxn commented on #1254
This check alone does not resolve the "stuck" issue.  It's actually multiple issues.  #1129 and #1128 discuss other scenarios that can cause the CLI to hang on a long delay.

[2016-07-05 18:35] karthik-narayan commented on #1282
That's how I've been imaging it, although in the examples we give I'd like to say if you are using harbor here is how you'd create a a VCH to point to it. Similarly when you run your first container - if you are using harbor, it comes bundled with image x and this is how you'd run it. Otherwise point the user to the harbor docs for setup and install etc.

[2016-07-05 19:04] npakrasi commented on #866
Added to [Supported Docker Commands table](https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_app_dev/container_operations.md)

[2016-07-05 20:07] npakrasi commented on #863
Added to [Supported Docker Commands table](https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_app_dev/container_operations.md).

[2016-07-05 20:16] caglar10ur commented on #1027
I think integration tests are just truncating the lines, quick grep showed that we don't have that message but instead following;

[code]

[2016-07-05 20:26] npakrasi commented on #832
Added details of minimal implementation to docker stop and rm.

[2016-07-05 21:44] #934 closed

[2016-07-05 22:45] hickeng opened #1350 "vic-machine: vapp for VCH on vCenter"
vCenter provides the vApp construct as a mechanism for grouping a collection of VMs that work together as an application. It extends resource pool mechanisms to add high level power operations, changes the deletion behaviour to delete child VMs instead of re-parent, allows for disabling of operations on child VMs, etc.

This issue covers basic vApp creation:
- [ ] VCH resource pool is replaced wit

[2016-07-05 22:48] hickeng opened #1351 "Incorrect formulation of bootstrap iso path"
The location of the bootstrap iso image should be set in the VCH config data:
https://github.com/vmware/vic/blob/master/lib/metadata/virtual_container_host.go#L111

and pulled from there when creating containers:
https://github.com/vmware/vic/blob/master/lib/portlayer/exec/handle.go#L221

[2016-07-05 22:51] #1265 closed

[2016-07-05 22:57] npakrasi commented on #865
Added to [Supported Docker Commands table](https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_app_dev/container_operations.md).

[2016-07-05 23:11] npakrasi commented on #1343
Removed mention of NSX.

[2016-07-06 03:43] #1243 closed

[2016-07-06 09:01] cormachogan commented on #1339
Sounds good @hickeng - once a support person has all they need in one log capture, then we're good to go. There is nothing worse than going forward and back to a customer for snippets of info.

[2016-07-06 09:09] cormachogan commented on #1316
Thanks @hmahmood - should I open a new issue for that, or is it already a known issue?

[2016-07-06 09:11] stuclem opened #1355 "Document VIC implementations of docker run and docker create in finer detail"
Per comment by @mdubya66 in PR https://github.com/vmware/vic/pull/1352, we need to provide more granular descriptions of what is supported for each Docker command, along the lines of the following files (created by @sflxn):

https://github.com/sflxn/vic/blob/docker-support-docs/apiservers/engine/CLI-COMPATIBILITY.md
https://github.com/sflxn/vic/blob/docker-support-docs/apiservers/engine/API-COMPAT

[2016-07-06 09:12] stuclem commented on #1355
@npakrasi please can you work with @sflxn (Loc) to obtain this info for TP3/Onsite Beta?

[2016-07-06 09:20] #816 closed

[2016-07-06 09:21] #863 closed

[2016-07-06 09:22] stuclem opened #1356 "Documentation: describe the VCH vApp"
Per https://github.com/vmware/vic/issues/1350

[2016-07-06 09:25] stuclem commented on #1282
OK, thanks @karthik-narayan and @mdubya66. Will do.

[2016-07-06 09:59] #1343 closed

[2016-07-06 10:00] stuclem commented on #1310
The workaround for TP3 is in https://github.com/npakrasi/vic-1/blob/master/doc/user_doc/vic_app_dev/container_operations.md. Moving this to Onsite Beta for the proper implementation of docker kill.

[2016-07-06 10:42] stuclem commented on #1008
Added info about distributed virtual switches in installation prereqs, vic-machine create options, and the procedure for running vic-machine create.

[2016-07-06 10:48] stuclem commented on #877
Mentioned that if `container-network-xxx` options are not specified, containers use the external network of the virtual container host in the descriptions of the `vic-machine create` options.

[2016-07-06 11:45] #747 closed

[2016-07-06 11:45] #1214 closed

[2016-07-06 13:34] stuclem commented on #1309
Added the volume-store option in the doc on vic-machine create options.

[2016-07-06 13:35] stuclem commented on #1284
Added all of the new options in the topic on vic-machine create options, and updated the examples and the deploy VCH topic.

[2016-07-06 13:36] stuclem commented on #981
Issue https://github.com/vmware/vic/issues/980 is now targetting the GA milestone, so moving this one out to GA too.

[2016-07-06 14:40] mlh78750 opened #1358 "vic-admin crash on log retreval"
Build 2588

Fresh install on esx6.0u2

Ran a busybox container.
Went to vicadmin page to pull logs.

container-logs.tar.gz returns empty response.
tail/vicadmin.log hangs

I will attach the full vicadmin log which shows panics in the response code.

[2016-07-06 14:43] mlh78750 commented on #1358
[vicadmin.log.txt](https://github.com/vmware/vic/files/350103/vicadmin.log.txt)

Example panic from log:
`2016/06/18 02:37:58 http: panic serving 172.16.252.1:62865: assignment to entry in nil map
goroutine 21 [running]:
net/http.(*conn).serve.func1(0xc820467d00)
	/usr/local/go/src/net/http/server.go:1389 +0xc1
panic(0xda47a0, 0xc820336ba0)
	/usr/local/go/src/runtime/panic.go:443 +0x4e9
main.findD

[2016-07-06 14:47] mlh78750 opened #1359 "vicadmin logs include vsphere login credentials"
build 2588.

init.log in vicadmin contains entries with vsphere login credentials.

example:
`time="2016-06-18T02:35:41Z" level=info msg="Launching command []string{\"/sbin/port-layer-server\", \"--host=localhost\", \"--port=8080\", \"--insecure\", \"--sdk=https://root:Vmware%2123@172.16.252.131/sdk\", \"--datacenter=ha-datacenter\", \"--cluster=/ha-datacenter/host/localhost.localdomain\", \"--poo

[2016-07-06 14:55] mdubya66 commented on #1347
Emma, please take a look and triage. Depending on why this is happening and if there is no workaround this would be a stopper for TP3. Feel free to re-assign to someone else on the vic-machine team.

[2016-07-06 16:21] jak-atx opened #1360 "Port mapping data for UI"
Please provide the guestInfo key to pull the port mapping data when ready. This will be displayed on the "Container" portlet under the VM summary section.

[2016-07-06 18:08] emlin commented on #1207
Move to in progress per George's request

[2016-07-06 18:10] caglar10ur opened #1363 "vic-machine certificate related parameters"
Currently we use --generate-cert/--key and --cert parameters but they are little bit confusing instead I suggest following;

* vic-machine ....
   will generate self signed certificate and enable TLS
* vic-machine --no-tls
   will disable TLS support
* vic-machine --cert ... --key ...
   will use the provided cert/key pair

[2016-07-06 18:12] #1358 closed

[2016-07-06 18:16] mdubya66 commented on #1363
agreed. making an Onsite requirement

[2016-07-06 18:31] fdawg4l opened #1364 "Add VCH info to `docker info` output to identify VCH"
Provide a VIC user with enough information that they can unambiguously identify the VCH they're using to a viadmin (VCH name in the docker info output will do for now).

[2016-07-06 18:33] corrieb opened #1365 "Multiple unit test failures against VC unless Datacenter is called "ha-datacenter""
We are currently unable to run our unit tests cleanly against a custom VC target because "/ha-datacenter" has been hard-coded in a variety of places as the root of resources, assuming ESX or a specific datacenter name in VC. The tests work, provided a datacenter is created with the appropriate name, but we need to be testing against realistic targets in which this won't be the case.

The correct s

[2016-07-06 18:34] fdawg4l opened #1366 "Add sanitized VCH config into the log bundle."
We need to be able to identify the VCH in vsphere, the containers it's responsible for, and the volumes/images it has created.  GSE will grab these bundles and it'll be up to us to figure out the topology.

Create a debug or `.bundle` log which can list the topology in order to debug container / image / volume issues per vch.  Sanitize the output to remove any sensitive info (keys, IPs, etc) if ne

[2016-07-06 18:35] hickeng commented on #996
Currently unable to recreate this - if anyone sees this problem, re-open it as a matter of urgency, and add the stats/needs-attention label

[2016-07-06 18:35] #996 closed

[2016-07-06 18:42] corrieb opened #1367 "crash in session_test.go if datacenter is not expected name"
Related to #1365

=== RUN   TestSessionDefaults
--- PASS: TestSessionDefaults (0.42s)
	session_test.go:46: &{Client:0xc8201d1590 Config:0xc8200814a0 Cluster:ClusterComputeResource:domain-c7 @ /Datacenter/host/TestCluster Datacenter:Datacenter:datacenter-2 @ /Datacenter Datastore:Datastore:datastore-27 @ /Datacenter/datastore/datastore1 Host:HostSystem:host-26 @ /Datacenter/host/TestCluster/10.118.

[2016-07-06 18:44] hickeng opened #1368 "docker ps data issues"
docker ps output:
[code]

There are two major issues with this:
1. 11 weeks ago - I think this is likely the image creation time, not the container creation time.
2. the name is missing it's first character meaning it's not usable without guesswork

[2016-07-06 18:45] hickeng commented on #1368
@cgtexmex can you take a quick look at this and give an estimate of time to fix for each of the issues.

[2016-07-06 18:53] kjplatz opened #1369 "vic-machine gives misleading error message when command is omitted"
When running vic-machine-<arch> and specify options without a command, the error message given to the user is misleading; it indicates that a flag is provided but not defined.  This is particularly frustrating when issuing a very long command string and the error message does not correctly identify the user error.

**Expected behavior:**
ken@sager:~/vic/src/github.com/vmware/vic$ bin/vic-machine-l

[2016-07-06 18:54] cgtexmex commented on #1368
@hickeng What steps did you take to create the data?  Did you just create?  or create and stop?

[2016-07-06 19:04] cgtexmex commented on #1368
I am able to recreate the issue around missing the first character of the friendly name, but I am unable to recreate the issue of the skewed time.

I attempted to recreate the incorrect created time with the following combos:

- create a new container without starting -- displayed correct created time with ps -a
- create a new container and start with a loop argument -- displayed correct time with

[2016-07-06 19:33] hickeng commented on #1032
works for me.

[2016-07-06 19:33] #1032 closed

[2016-07-06 19:48] #1326 closed

[2016-07-06 19:55] cgtexmex commented on #1368
FWIW I'm having coder's remorse on that PR #1370  -- might be best to modify the friendly name in the persona prior to display in the docker client -- thus keeping that docker "requirement" out of the stored data in the PL / vSphere layer...

[2016-07-06 20:03] sgairo opened #1372 "Vicadm 0.1"
This Epic involves displaying a branded Vic Admin page with appropriate logs and log descriptions

[2016-07-06 20:03] sgairo opened #1373 "Create an informative page consistent with VMware branding and identity"
This issue involves:
-Creating an HTML template with Go
-Leveraging Clarity UI into the HTML template

[2016-07-06 20:04] sgairo opened #1374 "Link to vic repo from vicadm"
This issue involves:
-Pulling github icon and displaying it as a link to the vic repo

[2016-07-06 20:04] sgairo opened #1375 "See what logs are available with friendly name associations"
This issue involves:
-Generating intuitive log description
-Organization of logs
-Making each description a clickable link to appropriate log

[2016-07-06 20:04] sgairo opened #1376 "Download and view logs that are both live and not live"
This issue involves:
-Generating and packaging logs to be passed to HTML template

[2016-07-06 20:05] mdubya66 commented on #1374
why?

[2016-07-06 20:06] sgairo commented on #1373
This issue involves:
-creating an HTML template with Go
-Leveraging Clarity UI into the HTML template

[2016-07-06 20:15] hickeng opened #1378 "crash: personality during pull"
Saw the following during a pull of alpine. The VCH had been created and used a little, then left alone for an hour:

client:
[code]

personality:
[code]

[2016-07-06 20:16] dougm commented on #742
@mdubya66 spoke with @hickeng , we are calling this issue done after some more testing.  In particular how the WebClient treats container VMs when our toolbox is running.  Version/status reporting, guest shutdown, etc.

The actual tether integration with toolbox will start with #1267

[2016-07-06 20:47] hickeng commented on #1368
Does matter, it's the same regardless.
[code]

[2016-07-06 20:53] gigawhitlocks commented on #1346
This should be fixed now.

[2016-07-06 20:53] #1346 closed

[2016-07-06 20:58] andrewtchin commented on #1347
repro on latest with the following command:
[code]

[2016-07-06 21:10] mdubya66 commented on #742
👍

[2016-07-06 21:12] hickeng commented on #1251
Hey @carlsone - both myself and @caglar10ur have tried this, he to a physical server in WDC and I to a nested ESX on local system. We're seeing 300-600ms rather than the 2500ms. Can you confirm this is direct to ESX?

[2016-07-06 21:33] hickeng commented on #1312
@mdubya66 Does this have to be TP3? We're running short on time and bodies.

[2016-07-06 21:36] mdubya66 commented on #1312
flag it for documentation?

[2016-07-06 21:41] gigawhitlocks commented on #1338
PR is open to address this issue.

[2016-07-06 21:45] hickeng commented on #1312
@mdubya66 yup. Given the separate commands function. We're thrashing enough at the moment getting the remaining PRs in that I'd rather save what spare time we have for bugs.

[2016-07-06 21:46] mdubya66 commented on #1312
@stuclem @npakrasi please add this to the document in release notes list

[2016-07-06 21:54] fdawg4l commented on #1130
[code]

[2016-07-06 21:56] corrieb opened #1383 "Deleting the last container of an image on VC leads to subsequent create error"
This looks possibly like a tagging issue, but not sure. It only occurs on VC, not ESX.

Problem is that if you do a docker rm on a container that uses busybox, the next container to try to use busybox fails saying "Unable to find image 'busybox:latest' locally", but then faulting to "already exists"

Here is how to reproduce:
[code]

[2016-07-06 21:56] fdawg4l commented on #1130
We likely didn't see the cause of the crash due to #1237

[2016-07-06 21:56] corrieb commented on #1383
Exact same build on an ESX host:

vagrant@ubuntu-1604-vmware:~/vic/src/github.com/vmware/vic/bin$ docker -H 10.118.69.219:2376 --tls pull busybox
Using default tag: latest
latest: Pulling from library/busybox
a3ed95caeb02: Pull complete
8ddc19f16526: Pull complete
Digest: sha256:65ce39ce3eb0997074a460adfb568d0b9f0f6a4392d97b6035630c9d7bf92402
Status: Downloaded newer image for library/busybox:late

[2016-07-06 21:59] corrieb commented on #1383
Interesting to note also that if you create two containers and rm one of them, you can create more. The error only seems to be evident when you've deleted the last container to use the image.

[code]

[2016-07-06 22:01] fdawg4l commented on #1130
The last message is due to the connection no longer being available.  This likely isnt the routine that PANICked since 4s have elapsed since the error was reported.

[code]

[2016-07-06 22:02] mdubya66 commented on #1383
Moving to To Do for evaluation. If pervasive this might be a TP3 stopper. assigning to @hickeng for initial eval

[2016-07-06 22:13] fdawg4l commented on #1383
cc @cgtexmex (because I think you're familiar with how the name cache works).  Please ping if the image storage piece is lying somewhere about an image not existing when it actually does.  The map is immutable but that doesn't mean there isn't possibly a bug.

[2016-07-06 22:32] corrieb opened #1385 "Stopped container disappears from ps -a"
Easy to reproduce on ESX:

Not sure what's going on here, but this will be in the common path of our users.
[code]

[2016-07-06 22:37] mhagen-vmware commented on #1385
Assigning myself to make sure a test gets written for this, if I haven't already.

[2016-07-06 22:39] mdubya66 commented on #1385
making TP3. assigning to @matthewavery.

[2016-07-06 22:40] fdawg4l commented on #1130
Welp, I found *a* crash.  I don't know if it's the one we're looking for :smiley:.

[2016-07-06 22:43] fdawg4l commented on #1130
[code]

Steps to repro

[code]

[2016-07-06 22:46] fdawg4l commented on #1130
It was after the last invocation of `start` that the PLS went belly up.

[2016-07-06 23:06] cgtexmex commented on #1385
This is a dupe of #1337

[2016-07-06 23:09] cgtexmex commented on #1383
@jzt has been working the most closely with the image cache, so ping...

[2016-07-06 23:12] corrieb commented on #1385
@cgtexmex want me to close this or close the other one?

[2016-07-06 23:14] cgtexmex commented on #1385
Probably -- the other gives the reason why it's happening...I've looked at it a bit, but haven't had time to figure it out....

[2016-07-06 23:17] cgtexmex commented on #1368
There is only one issue here -- the friendly name losing the first character which is being addressed by PR #1370

The other create time issue was due to a configuration issue -- specifically the time on the appliance server was wrong.

[2016-07-06 23:22] fdawg4l commented on #1130
[code]

[2016-07-06 23:24] cgtexmex commented on #370
@sflxn do we have a portlayer story regarding the data to return or the API that will return it?  I implemented the GetContainerListHandler for ps, but am not aware of another issue for the remaining data needed for inspect...

[2016-07-06 23:27] cgtexmex commented on #1027
I'm confident this is fixed, but trying to get the docker integration tests to run so that it can be completely verified.

[2016-07-06 23:31] corrieb commented on #1385
@cgtexmex They do seem related, for sure. Given we have @mhagen-vmware following for test purposes and a target on this one, I suggest we keep it open

[2016-07-07 00:07] corrieb commented on #1251
Here are my numbers on ESX 6.0. Have not yet tried on 6.5
- ESX with SSD:
real	0m0.060s
- VC with SSD:
real	0m0.572s

[2016-07-07 00:44] hickeng commented on #1359
There's only one way to resolve this easily for now - squash the logging of the detail command that's being launched.
This should be corrected in a GA timeframe by moving the session package to a usage pattern closer to that of logrus, namely you include it then use the package as a connection directly.

[2016-07-07 01:21] hickeng commented on #1367
@corrieb is this being run against a VC?

[2016-07-07 01:25] hickeng opened #1387 "Turn session package into vmomi gateway"
There is a component in the architecture called [vmomi gateway](https://github.com/vmware/vic/blob/master/doc/design/components.md#vmomi-gateway). This hides the manipulation and access of credentials from the rest of the appliance components, and eventually allows them to be moved out of the appliance entirely.

The session package is being abused in various ways throughout the code and should be

[2016-07-07 01:26] hickeng commented on #1359
Added #1387 to track the correct fix for this - this is integral to the remainder of the extraconfig migration work.

[2016-07-07 01:37] hickeng commented on #1344
@emlin The "Unable to list pools for ..." message shouldn't be coming out as an error. Should be debug.

I've got no idea why "isilion-nfs-01" is being printed out. @cormachogan could you rerun in that env with -debug=1 so we get entry/exit trace from the install?

[2016-07-07 01:52] hickeng commented on #1337
Extraconfig data will be removed if the keys were created while the VM was powered on, OR if extraconfig was supplied to a VMOMI reconfigure operation when the VM was powered on (treated as add, delete, rather than update).

This is likely because of an inversion of poweroff/reconfigure ordering when committing the change on the stop path. We currently have no case where a reconfigure is needed wi

[2016-07-07 03:28] #1234 closed

[2016-07-07 04:28] #1378 closed

[2016-07-07 04:49] #430 closed

[2016-07-07 07:59] sflxn opened #1389 "Docker Info should get container count"
Docker info should use the docker ps infrastructure to get container count info.

[2016-07-07 07:59] sflxn commented on #1389
I have this done.  A PR can be issued and merged in for TP3 if desired.

[2016-07-07 08:01] sflxn opened #1390 "Docker info should get reasonable values for vch info"
Docker info currently does not populate core count or memory limits.  The OS values are also data for the appliance VM itself.  We should get this info from guestinfo and govmomi.

depends on #861

[2016-07-07 08:11] bobbyjunzhang commented on #1282
@stuclem Thank you for the great summary.
@karthik-narayan We, the Harbor team, will own the responsibility of uploading and maintaining the Harbor bits. I believe for an environment without Internet connection, it makes sense to bundle the VIC and Harbor for better usability.

Our team can start to: i) work on an offline installer for Harbor and ii) deploy Harbor to VIC and see how it works. Harb

[2016-07-07 11:03] stuclem commented on #1346
Yep, deployment to a Windows-based VC now works for me. Thanks @gigawhitlocks!

[2016-07-07 12:50] cgtexmex opened #1393 "Initial ContainerInfo API"
This is the portlayer API implementation of ContainerInfo.  This API call will return container information for a specified container.

The initial implementation will focus on the data readily available from extraConfig and the containerVM power state as returned by vSphere.

This will provide some of the needed information for the container inspect operation as represented in #370

[2016-07-07 13:59] stuclem commented on #1020
Not vital for TP3, moving to Onsite Beta.

[2016-07-07 14:14] stuclem commented on #928
Not vital for TP3, moving to Onsite Beta.

[2016-07-07 14:15] stuclem commented on #982
https://github.com/vmware/vic/issues/979 has moved to GA release.

[2016-07-07 14:20] stuclem commented on #848
https://github.com/vmware/vic/issues/787 has moved to onsite beta.

[2016-07-07 14:21] stuclem commented on #951
https://github.com/vmware/vic/issues/424 has moved to onsite beta.

[2016-07-07 14:22] mdubya66 commented on #1389
before approving for TP3 i'd need an assessment of risk in pulling it in

[2016-07-07 14:22] mdubya66 commented on #1390
Moving to Onsite Beta

[2016-07-07 14:25] stuclem commented on #1264
@gigawhitlocks, since you are the owner of https://github.com/vmware/vic/issues/1218, do you have any info on how we can change the VCH appliance SSH root password?

Thanks!

[2016-07-07 14:26] stuclem commented on #852
https://github.com/vmware/vic/issues/709 is in GA release.

[2016-07-07 14:28] mdubya66 opened #1394 "the error when creating a new vch with the same name as an existing could be nicer"
Build 2626
Against ES6 6.0 U2
(mwilliamson) dubs:~/Downloads/vic $ ./vic-machine-darwin create --target 172.16.127.129 --user root --password 'virtualized' --image-datastore datastore1
INFO[2016-07-07T09:26:10-05:00] ### Installing VCH ####
INFO[2016-07-07T09:26:10-05:00] Generating certificate/key pair - private key in ./docker-appliance-key.pem
INFO[2016-07-07T09:26:10-05:00] Validating supplied

[2016-07-07 14:34] stuclem commented on #825
Actually, https://github.com/vmware/vic/issues/716 suggests that authentication is done via service account rather than SSO.

I have added the following in the topic on deploying a VCH:

When you deploy a virtual container host, `vic-machine` registers the virtual container host as a vSphere extension. Authentication between the virtual container host and vSphere is handled via a vSphere service a

[2016-07-07 14:39] stuclem commented on #965
In TP3 we include the required licenses, list required features, and limit the version to 6.0:
https://github.com/vmware/vic/blob/master/doc/user_doc/vic_installation/vic_installation_prereqs.md#supported-vsphere-configurations

If this is not enough, we'll expand the info for Onsite Beta.

[2016-07-07 14:46] cormachogan opened #1397 "docker: Failed to ping portlayer"
**VIC Version:**

0.1 / master / #2626

**Code**

On trying to test new build #2626, I hit the following problem when running docker cmds:
[code]

I could not connect to the logs via a browser either, but I could SSH.
Some log snippets:

init.log
[code]

portlayer.log
[code]

I will copy down the full logs and attached them shortly.

**Expected behavior:**

**Actual behavior:**

[2016-07-07 14:49] cormachogan commented on #1397
So it looks like I can't get the logs from the VCH. However SSH is available if anyone wishes to log in.
[code]

I'll leave it in place overnight.

[2016-07-07 15:07] stuclem commented on #849
https://github.com/vmware/vic/issues/773 has moved to GA.

[2016-07-07 15:08] stuclem commented on #872
Moving to onsite beta.

[2016-07-07 15:09] mlh78750 commented on #1397
`root@docker-appliance [ /var/log ]# ifconfig -a
bridge    Link encap:Ethernet  HWaddr 00:50:56:86:63:b9
          inet6 addr: fe80::250:56ff:fe86:63b9/64 Scope:Link
          UP BROADCAST RUNNING MULTICAST  MTU:1500  Metric:1
          RX packets:2 errors:0 dropped:0 overruns:0 frame:0
          TX packets:10 errors:0 dropped:0 overruns:0 carrier:0
          collisions:0 txqueuelen:1000

[2016-07-07 15:10] mlh78750 commented on #1397
`root@docker-appliance [ /var/log ]# netstat -rn
Kernel IP routing table
Destination     Gateway         Genmask         Flags   MSS Window  irtt Iface
10.27.32.0      0.0.0.0         255.255.240.0   U         0 0          0 client`

[2016-07-07 15:19] mlh78750 commented on #1397
[var.log.vic.zip](https://github.com/vmware/vic/files/352464/var.log.vic.zip)

[2016-07-07 15:33] mlh78750 commented on #1397
Looks like the network didn't get setup correctly for whatever reason. There was no default route and I had to add one to extract the logs

[2016-07-07 15:41] #1338 closed

[2016-07-07 15:43] stuclem commented on #1283
We do mention that DRS is a requirement in the prereqs topic, so I think that this is enough for TP3. We can add a proper topic on "What Happens During VCH Deployment" for onsite beta.

[2016-07-07 15:47] hickeng commented on #1397
vicadmin is listening on port 2378:
[code]

I can curl from it from the appliance, but not connect to it from outside:
[code]

Regarding the port-layer issue:
[code]

The port layer suddenly came up cleanly after 5789 restart attempts.

[2016-07-07 15:49] stuclem commented on #820
Do we actually need to doc anything for this?

[2016-07-07 15:49] mlh78750 commented on #1397
@hickeng It came up because I manually added a default route. I wanted to pull the logs off the machine. If you look at the initial comments I posted you can see the network setup as I found it. After I captured that I added the route and started poking around. So I think this is something install/network related.

[2016-07-07 15:51] cormachogan commented on #1397
Command line used to create the VCH:

[code]

[2016-07-07 15:54] sgairo commented on #1397
Is --external-network not needed here?

[2016-07-07 15:56] cormachogan commented on #1397
Should default to VM Network if not set. At least, it has been up to this build.

[2016-07-07 15:56] hickeng opened #1398 "Unable to stop container powered on by UI"
[code]

[2016-07-07 15:58] hickeng commented on #1397
@cormachogan yup - should still be the case. The virtual hardware config is correct as seen by the fact that it functions when the routing was repaired.

[2016-07-07 16:03] stuclem commented on #826
No time to doc this in TP3. Will do so between TP3 and Onsite Beta.

[2016-07-07 16:25] stuclem commented on #841
Added a topic on vic-machine inspect in admin.

[2016-07-07 16:26] stuclem commented on #828
Added a topic on vic-machine delete in admin.

[2016-07-07 16:26] stuclem commented on #953
Added a topic on vic-machine version in admin.

[2016-07-07 16:31] stuclem opened #1400 "Document last-minute changes to vic-machine create"
According to PR https://github.com/vmware/vic/pull/1371, the following options have changed:

mv generate-cert option to no-tls
change default vch name to virtual-container-host
remove DOCKER_OPTS cause that's not consumed by docker client

[2016-07-07 16:32] sflxn commented on #1389
I don't see any risk in pulling this in.  It's just gathering data and displaying it.

[2016-07-07 16:33] mdubya66 commented on #1389
OK, pull it in

[2016-07-07 16:39] #1284 closed

[2016-07-07 16:40] mlh78750 commented on #1397
Looks like the external network defaulted and ended up on one a DPG. vic-machine should be checking for a valid setup including the use of DPG on networks when targeting a VC.

[2016-07-07 16:53] sflxn commented on #1129
https://github.com/vmware/vic/pull/1392
https://github.com/vmware/vic/pull/1388

These should cover most cases.  #1254 is basically a sub-issue for this.  PR #1392 is labeled a WIP, but it's actually done.

[2016-07-07 16:54] mdubya66 commented on #1397
@hmahmood hasan is taking point on this. it may get moved out based on his investigations

[2016-07-07 17:08] fdawg4l commented on #1130
cc @sflxn

[2016-07-07 17:33] andrewtchin commented on #1235
Tested this against vCenter and it appears to be resolved (5bb92e7)

[code]

[2016-07-07 17:33] #1235 closed

[2016-07-07 17:36] sflxn commented on #1389
Just talked to @hickeng.  Given the load on our CI system right now, we're pushing this lower in priority since there are higher priority PR struggling to get through our CI system now.

[2016-07-07 17:44] emlin commented on #1397
vic-machine will check if the network exists, and will verify if bridge network is DPG, but not for all other networks.
This failure is not actually related to standard network or DPG, as long as the network is configured correctly, and reachable from outside, it should work well.
I verified with this version in my env, to install with both standard switch and DPG, the VCH works.
I will look at a

[2016-07-07 17:49] sflxn opened #1403 "Add attach timeout to portlayer for defensive purpose"
We have added timeouts for connection and attempt to the docker personality server's attach operation (#1392) for the defensive purposes.  We should also add attach timeouts to the portlayer side, for defensive purposes.

#1392 has a timeout for stdout that waits for the arrival of the first http header.

Note, once, #1254 is merged, it will become harder to test this.  We'll need a test container

[2016-07-07 17:50] sflxn commented on #1403
related to #1392, #1128, #1129.

[2016-07-07 18:23] corrieb opened #1405 "Integration tests re-enabled by #1235 don't work correctly"
Note PR #1404 in which the tests were completely disabled.

In order to resolve this issue, we must not only re-enable the tests, but ensure that either the tests are fixed or the code is fixed.

[2016-07-07 18:26] corrieb opened #1406 "Integration tests re-enabled by #1234 and #430 don't pass"
See issue #1399 and PR #1401

We actually get a crash when these tests are re-enabled, so this needs to be investigated as a matter of urgency

[2016-07-07 18:51] #1400 closed

[2016-07-07 18:58] stuclem commented on #825
We can update this between TP3 and onsite, if necessary

[2016-07-07 19:37] matthewavery opened #1409 "Context deadline during Pull causes an already exists error from govmomi on a subsequent pull"
During a `pull busybox` it looks like a context deadline occurred somewhere on the portlayer side during a write image causing an inconsistent state. On repeat of the pull the layer is found to already exists after trying a new right. On a subsequent create the busybox image is still not found and an attempt to pull it is made. The appropriate response should have been that the layer already exist

[2016-07-07 19:42] corrieb commented on #780
NOTE: CLOSING THIS ISSUE MAY CAUSE AN INTEGRATION TEST FAILURE. Please re-enable the test in 1-1-Docker-Info.robot as part of a PR to fix this issue. Please also ensure that the test passes cleanly. If the test needs improving or updating, please do it.

[2016-07-07 19:43] corrieb commented on #1313
NOTE: CLOSING THIS ISSUE MAY CAUSE AN INTEGRATION TEST FAILURE. Please re-enable the test in 1-11-Docker-RM.robot as part of a PR to fix this issue. Please also ensure that the test passes cleanly. If the test needs improving or updating, please address it. Thx

[2016-07-07 19:43] corrieb commented on #1311
NOTE: CLOSING THIS ISSUE MAY CAUSE AN INTEGRATION TEST FAILURE. Please re-enable the test in 1-11-Docker-RM.robot as part of a PR to fix this issue. Please also ensure that the test passes cleanly. If the test needs improving or updating, please address it. Thx

[2016-07-07 19:44] corrieb commented on #1312
NOTE: CLOSING THIS ISSUE MAY CAUSE AN INTEGRATION TEST FAILURE. Please re-enable the test in 1-11-Docker-RM.robot as part of a PR to fix this issue. Please also ensure that the test passes cleanly. If the test needs improving or updating, please address it. Thx

[2016-07-07 19:45] corrieb commented on #437
NOTE: CLOSING THIS ISSUE MAY CAUSE AN INTEGRATION TEST FAILURE. Please re-enable the test in 1-12-Docker-RMI.robot as part of a PR to fix this issue. Please also ensure that the test passes cleanly. If the test needs improving or updating, please address it. Thx

[2016-07-07 19:45] corrieb commented on #1222
NOTE: CLOSING THIS ISSUE MAY CAUSE AN INTEGRATION TEST FAILURE. Please re-enable the test in 1-15-Docker-Network-Create.robot as part of a PR to fix this issue. Please also ensure that the test passes cleanly. If the test needs improving or updating, please address it. Thx

[2016-07-07 19:45] corrieb commented on #1225
NOTE: CLOSING THIS ISSUE MAY CAUSE AN INTEGRATION TEST FAILURE. Please re-enable the test in 1-16-Docker-Network-LS.robot as part of a PR to fix this issue. Please also ensure that the test passes cleanly. If the test needs improving or updating, please address it. Thx

[2016-07-07 19:46] corrieb commented on #1318
NOTE: CLOSING THIS ISSUE MAY CAUSE AN INTEGRATION TEST FAILURE. Please re-enable the test in 1-18-Docker-Network-RM.robot as part of a PR to fix this issue. Please also ensure that the test passes cleanly. If the test needs improving or updating, please address it. Thx

[2016-07-07 19:47] corrieb commented on #757
NOTE: CLOSING THIS ISSUE MAY CAUSE AN INTEGRATION TEST FAILURE. Please re-enable the test in 1-2-Docker-Pull.robot as part of a PR to fix this issue. Please also ensure that the test passes cleanly. If the test needs improving or updating, please address it. Thx

[2016-07-07 19:47] corrieb commented on #1035
NOTE: CLOSING THIS ISSUE MAY CAUSE AN INTEGRATION TEST FAILURE. Please re-enable the test in 1-3-Docker-Images.robot as part of a PR to fix this issue. Please also ensure that the test passes cleanly. If the test needs improving or updating, please address it. Thx

[2016-07-07 19:48] corrieb commented on #806
NOTE: CLOSING THIS ISSUE MAY CAUSE AN INTEGRATION TEST FAILURE. Please re-enable the test in 1-4-Docker-Create.robot as part of a PR to fix this issue. Please also ensure that the test passes cleanly. If the test needs improving or updating, please address it. Thx

[2016-07-07 19:48] corrieb commented on #1036
NOTE: CLOSING THIS ISSUE MAY CAUSE AN INTEGRATION TEST FAILURE. Please re-enable the test in 1-4-Docker-Create.robot as part of a PR to fix this issue. Please also ensure that the test passes cleanly. If the test needs improving or updating, please address it. Thx

[2016-07-07 19:49] corrieb commented on #1319
NOTE: CLOSING THIS ISSUE MAY CAUSE AN INTEGRATION TEST FAILURE. Please re-enable the test in 1-7-Docker-Stop.robot as part of a PR to fix this issue. Please also ensure that the test passes cleanly. If the test needs improving or updating, please address it. Thx

[2016-07-07 19:49] corrieb commented on #1320
NOTE: CLOSING THIS ISSUE MAY CAUSE AN INTEGRATION TEST FAILURE. Please re-enable the test in 1-7-Docker-Stop.robot as part of a PR to fix this issue. Please also ensure that the test passes cleanly. If the test needs improving or updating, please address it. Thx

[2016-07-07 19:49] corrieb commented on #1321
NOTE: CLOSING THIS ISSUE MAY CAUSE AN INTEGRATION TEST FAILURE. Please re-enable the test in 1-7-Docker-Stop.robot as part of a PR to fix this issue. Please also ensure that the test passes cleanly. If the test needs improving or updating, please address it. Thx

[2016-07-07 20:12] hmahmood commented on #1397
The external/client interfaces are connected to a standard switch, as far as I can tell. But that network definitely has access to a DHCP server, since we get a DHCP assigned address. Something else is amiss here; continuing to investigate.

[2016-07-07 20:16] hmahmood commented on #1397
Here's the problem:
[code]
The gateway we get back from the DHCP server is nil, and there are no DNS servers. Maybe looking at the wrong options in the DHCP packet. If I had access to the console of the VCH I could debug this a little further, but we can't get to the VC web UI from here.

[2016-07-07 20:52] corrieb commented on #1367
@hickeng it will crash on either if any configuration fails

It also crashes if run on VC with multiple hosts:

	session_test.go:64: Failure finding host (/ha-datacenter/host/*/*): path '/ha-datacenter/host/*/*' resolves to multiple hosts

[2016-07-07 22:56] hmahmood commented on #1397
I switched the vch over to using systemd's DHCP client, and it got a different address, as well as the correct gateway/DNS. I think the problem is multiple DHCP servers on client network, and our client just picks the first offer we get, without verifying that we have a "router" in the packet.

[2016-07-07 23:39] fdawg4l commented on #1130
Very weird.  After pulling and rebasing from Master, I can't repro.  Very very strange.

[2016-07-08 00:06] fdawg4l commented on #1130
ah. Panic just takes a while to appear in the log file.  It's very much still there.

[2016-07-08 00:25] caglar10ur opened #1413 "Tests are running in wrong order"
We are running the tests in the lexical order (eg; 1, 10, 11, 12, 2, 20, 21, 23 ...) instead of using their numerical value.

[2016-07-08 01:25] #1337 closed

[2016-07-08 01:57] dougm commented on #742
Have added more tests/fixes/features, a bit more todo and I'll have a PR by tomorrow.  Current wip is here: https://github.com/vmware/vic/compare/master...dougm:toolbox

[2016-07-08 02:15] hickeng opened #1415 "What is listening on port 5355"
While trying to track down a connectivity problem I see in the netstat output that there's something listening on port 5355 on all interfaces. This should not be.

[code]

[2016-07-08 03:01] #1207 closed

[2016-07-08 05:34] #1359 closed

[2016-07-08 08:30] cormachogan commented on #1397
Add the following to your local /etc/hosts to access the VC web UI:

10.27.51.103    vcsa-03.rainpole.com    vcsa-03

That should give you web access, and console access. VC login is administrator@vsphere.local/VMware123!

I have also asked the local IT team whether or not there could be other DHCP servers on the network. Since this is a network shared by all of GSS in Cork, it is a possibility.

[2016-07-08 09:36] stuclem opened #1416 "Document that vic-machine delete removes volume stores"
Per https://github.com/vmware/vic/pull/1410.

Actually in TP3, but assigning this to the docs for onsite beta.

[2016-07-08 09:41] stuclem commented on #1373
Hi @sgairo, is this for the Summary page in the vSphere Web Client, or for some other Web presence?

[2016-07-08 12:04] #1368 closed

[2016-07-08 13:10] hickeng commented on #1385
#1337 is closed and complete - leaving this open for writing of a regression test.

[2016-07-08 13:16] hickeng opened #1417 "pprof files missing from log bundle"
The bundle contains no pprof files (see https://ci.vmware.run/vmware/vic/2698 as an example).

This was visible via warning messages in the unit tests - however the way vicadmin is written is to be resilient to errors and to continue in any way possible so this doesn't easily present as a failure.

Fixing the lack may be as simple as adding "http://" scheme to address the unknown scheme errors and

[2016-07-08 13:30] cormachogan commented on #1397
Guys - I feel that this is more likely an issue with the dhcp client, and not DHCP servers.

I reverted back to VIC #2513, and tried to roll out busybox. Now this did not succeed, due to #2513 not having Doug's fix to include "export GOVMOMI_USE_SERVICE_TICKET_HOSTNAME=false" on the appliance. However, it had no issues trying to pull down the image.

Here are the differences:
#2513
[code]

Now her

[2016-07-08 13:42] mdubya66 commented on #1373
it's for vicadmin

[2016-07-08 14:24] #1347 closed

[2016-07-08 15:02] jak-atx opened #1418 "UI: Create custom property provider to conditionally show portlets"
We want to only show VCH portlet on VCH VM and container portlet on container VM. Currently they display on both (with either data rows or now data rows).

In order to show/hide portlets in flex we need to switch on a custom property of the VM (set by knowing whether it is a vch config type or a container vm config type).

[2016-07-08 15:30] #725 closed

[2016-07-08 15:42] hmahmood commented on #1397
@cormachogan you are right that the client behavior changed, since we implemented our own instead of using the one provided by systemd (don't want to go into reasons why we did this, but it was justified). The systemd client gets an IP address lease on a completely different subnet, which is why I think there is more than one dhcp server on the network.

The proper fix is to fix our client code, b

[2016-07-08 16:13] hickeng commented on #1415
@caglar10ur @dougm @sflxn any ideas?

[2016-07-08 16:17] mlh78750 commented on #1415
@hickeng we could load lsof and find out.

[2016-07-08 16:20] hickeng commented on #1254
@sflxn is there anything else in this issue that's not addressed by #1388 ? If not can you move this to done.

[2016-07-08 16:23] jzt commented on #1415
https://en.wikipedia.org/wiki/Link-Local_Multicast_Name_Resolution

[2016-07-08 16:24] hickeng commented on #1316
@cormachogan new issue please and we can assign it to @jzt. Logs isn't supported currently so it _should_ be a quick fix.

[2016-07-08 16:28] kjplatz commented on #1415
root@virtual-container-host [ /var/lib/rpm ]# lsof | grep 5355
systemd-r 165      systemd-resolve   11u     IPv4              14823      0t0        UDP *:5355
systemd-r 165      systemd-resolve   12u     IPv4              14824      0t0        TCP *:5355 (LISTEN)
systemd-r 165      systemd-resolve   13u     IPv6              14825      0t0        UDP *:5355
systemd-r 165      systemd-resolve   14u

[2016-07-08 16:51] jooskim commented on #530
Q. How and where do we deploy the artifacts?
A. Given several limitations, we are giving the user options to 1) host our deliverable (e.g. vic-ui.zip) on their web server that VC can access, 2) install our plugin directly to VC Web Client's cache folder. For detailed instruction, refer to /ui/installer/instruction.docx on branch "ui" in forked repo jooskim/vic.

Q. Is it automated and how?
A. VIC

[2016-07-08 16:51] #530 closed

[2016-07-08 17:19] #1417 closed

[2016-07-08 17:20] gigawhitlocks commented on #1210
`vic-machine delete` feature is in PR #1410 -- parsing and persistence to GuestInfo at install time are already on master at this time. VSAN features I'm not sure about -- I think those are still TBD

[2016-07-08 21:10] sflxn commented on #1254
github automatically moves it to done if you specify the issue # in the PR and the PR is merged.

[2016-07-08 21:35] #1393 closed

[2016-07-08 22:57] #1128 closed

[2016-07-08 23:26] hickeng commented on #1383
This is due to the use of vm.Destroy while disks are still attached. When run against VC that causes a disk chain to be deleted rather than just the leaf. We have two options:
First is:
1. reconfigure VM to remove the disks
2. delete the VM
3. delete the leaf

Second is:
1. Add LowLevelProvisioningManager to govmomi
2. Call deleteVM with whitelist of disks to delete.

[2016-07-08 23:34] dougm commented on #742
Pounded on this, ironing out a few more kinks, looking solid now.  Also added support for guest power operations.  And the UI no longer warns that "tools is not installed".  My branch has been updated, but I'll wait to open a PR until TP3 merges are done.

[2016-07-09 00:11] hmahmood commented on #1397
The client was not setting its client id in the discovery and request packets to the dhcp server. I believe some dhcp servers will not issue IP leases if this is not set. In addition, the parameter request list (option 55) was not set. Adding both these, I was able to get the gateway, dns, subnet mask and IP from the server.
[code]

[2016-07-09 19:18] corrieb commented on #1383
Note that this would have been caught by the integration tests that's currently not running because #1313 is not yet closed

[2016-07-09 19:19] corrieb commented on #1383
@hickeng What did Bonneville do here? Any reason to do anything different?

Seems like Option 2 will be more efficient and more flexible

[2016-07-10 06:00] corrieb opened #1429 "docker start fails with "attach returned error: Unknown error from the interaction port layer: context canceled""
While running integration tests, one of the docker start tests failed. Seems to be intermittent.
output.txt:
[code]
vagrant@ubuntu-1604-vmware:~/vic/src/github.com/vmware/vic/tmp/var/log/vic$ grep error *
[code]
vagrant@ubuntu-1604-vmware:~/vic/src/github.com/vmware/vic/tmp/var/log/vic$ grep 49.55 *
[code]

[2016-07-10 06:01] corrieb commented on #1429
Please let me know where to attach the log bundle. File for reference is VCH-0-4814-container-logs.tar.gz

[2016-07-10 06:21] corrieb opened #1430 "VCH loops reloading port-layer - consumes 100% CPU"
I've seen this a few times on the vSAN cluster. This was just running a simple docker info test.
Here is the looping output from init.log
[code]
port-layer.log
[code]

[2016-07-10 06:23] corrieb commented on #1430
Seems like it's stuck in a loop reloading the port layer. "Failed to create network context" needs to be the root cause. I've preserved the VM in its powered-off state. VCH-0-8144

[2016-07-11 14:24] corrieb commented on #1027
@cgtexmex How many of the docker integration tests do we expect to pass? I can run any integration test suite on any platform locally.

[2016-07-11 15:23] fdawg4l commented on #1429
@sflxn this has become a particularly pervasive issue in a non trivial piece of functionality. Both things that lead me to believe we require a unit test here.

In any case, this looks like something you were looking at on Friday in a component you're familiar with.

[2016-07-11 15:25] fdawg4l commented on #1429
Chances are the container started and stopped before the attach could complete. @corrieb what was the container create invocation? Did you specify a binary to run?

[2016-07-11 16:35] #1363 closed

[2016-07-11 17:25] corrieb commented on #1316
Let's get the issue raised on this crash. We shouldn't have any known panics in TP3

[2016-07-11 17:57] corrieb commented on #1130
Review with George. This is a must-have for TP3

[2016-07-11 18:02] corrieb commented on #1027
Review with George. Closing this as implemented, given that docker ps works. If any other issues come out of our re-enabling of the integration tests, let's open new issues.

[2016-07-11 18:02] #1027 closed

[2016-07-11 18:15] corrieb commented on #1169
Review with George: George to follow up with @matthewavery and @fdawg4l for TP3 drop/not decision

[2016-07-11 18:19] corrieb commented on #1383
George will get this done today

[2016-07-11 18:23] corrieb commented on #1218
Review with George: Letting this go out as TP3 in its current state is unacceptable.
Options:

[2016-07-11 18:24] fdawg4l commented on #1210
We've abstracted the datastore type (vsan or otherwise) so that is no longer a concern.  For volumes, the path indicated for the volume store will either be used if it exists or created.  For images, this work is still TBD.

[2016-07-11 18:29] hmahmood commented on #1316
I cannot reproduce this in master. Moving to "Done". @cormachogan could you validate please?

[2016-07-11 18:32] hickeng commented on #1215
@mhagen-vmware I think this has been resolved with the change to the CI setup - please can you confirm and close if true.

[2016-07-11 19:44] reddolan commented on #1373
Graphic prototype: https://github.com/vmware/vic-ux/blob/master/VIC-Admin/dashboard.png

[2016-07-11 20:30] hickeng commented on #1430
Intermediate cause is:
[code]

It looks like the same network is being used for bridge and client/external/management which is an invalid configuration. This should be checked in vic-machine but guess it's not.

[2016-07-11 20:44] corrieb commented on #1430
This is an artifact of the fact that our integration testing currently is not set up to specify networks other than bridge network. Weirdly it often seems to work.

I would suggest we definitely need a check in vic-machine, otherwise people will inevitably trip over this. Secondarily, I think we should have a saner approach to throttling restarts and eventually giving up.

[2016-07-11 21:24] emlin commented on #1430
the other networks are default to "VM Network", so they will be different with bridge network.

[2016-07-11 21:26] corrieb commented on #1430
@emlin that only works on a single ESX host. It doesn't work on a vSphere cluster with more than one host. In that case, you have to specify at least an external network

[2016-07-11 21:30] corrieb commented on #1430
I think the check in vic-machine should go into TP3. We can postpone a throttling decision till onsite

[2016-07-11 22:10] sflxn opened #1436 "Docker API: docker resize fails if short name is used with docker attach"
docker create -ps busybox /bin/top
docker start <id>
docker ps .... to look up short name (trusting_saha)
docker attach trusting_saha

Results:  it attaches but does not resize the tty window.

[2016-07-11 22:13] corrieb opened #1437 "Integration tests should use vic-machine delete to clean up"
The existing govc hacks are no longer necessary and don't work on vSAN

We should be leaning on vic-machine delete regardless

[2016-07-11 22:22] #1397 closed

[2016-07-11 22:27] corrieb commented on #1289
George/Ben review: Need to triage

[2016-07-11 22:28] hickeng commented on #1178
Copying in from email on 6th July:

a.	The IP address is available as a base64 encoded byte quartet at:
guestinfo..init.networks|client.ip.IP
b.	As of last week, image name is available as:
guestinfo./repo
c.	Port mapping data doesn’t exist as port mapping is not yet implemented.

To get the IP address bytes from the encoded address you can pass it through
https://docs.oracle.com/javase/8/docs/api

[2016-07-11 22:34] corrieb commented on #831
George/Ben review: This is the roll-up of what, why and how of standing up a multi-tier application in a VIC environment. Should also update: https://github.com/vmware/vic/blob/master/doc/design/application-topologies.md

[2016-07-11 22:37] jzt opened #1439 "Make imagec work as a library"
Currently the docker personality has no information about an image that it pulls. It delegates to imagec, who pulls an image and pushes it to the storage portlayer and quits. This requires the docker persona to send an update request to the cache, which makes a request to the portlayer to get a list of all layers currently stored in the portlayer. It then must iterate through that list, unmarshal

[2016-07-11 22:39] corrieb commented on #378
George/Ben review: Polite stop is the more important piece. This is a second-order effect. Not high priority.

[2016-07-11 22:44] corrieb commented on #1178
George/Ben review: Needs half a day of thought and small amount of coding to have it published. The Docker personality should set this in guestInfo.

Ben and George to figure out the structure for this at a later date

[2016-07-11 22:45] hickeng commented on #1174
Image name is available as:
`guestinfo./repo`

[2016-07-11 22:45] #1174 closed

[2016-07-11 22:47] corrieb commented on #855
Ben/George review: This is kind of an epic. It should encompass new integration tests and shouldn't be closed until we're sure that run works.

[2016-07-11 22:53] #1254 closed

[2016-07-11 22:54] corrieb commented on #1219
Ben/George review: Related to asymmetric DNS resolution domains. If the FQDN you use for vsphere when you use vic-machine create --target cannot be resolved by the management network, it will be broken.

Closing as fixed by #1164

[2016-07-11 22:54] #1219 closed

[2016-07-11 23:28] sflxn commented on #1129
PR #1433 should be the last one to address this issue.  It's a defensive addition.

[2016-07-11 23:43] corrieb commented on #1264
@stuclem The problem is that nothing persists in the appliance, so we don't currently having a way of changing the password in a manner that persists beyond reboots. We still need to solve that

[2016-07-11 23:46] carlsone commented on #1251
The slowdown was not reproducible after upgrading to VIC v2675 or v2745 (was v2224).

[2016-07-11 23:46] #1251 closed

[2016-07-12 04:38] #370 closed

[2016-07-12 05:15] #1130 closed

[2016-07-12 12:05] cormachogan commented on #1316
I just tested with #2801 - docker start after network attach now works.

[2016-07-12 12:07] cormachogan opened #1442 "container short names not working with network connect"
**VIC Version:**

0.1 / master / #2801

**Code**

docker network connect does not appear to work with container shortnames, as per the snippet below:

[code]

**Expected behavior:**

I would expect this command to work with container short names

**Actual behavior:**

The command only works with full container names

[2016-07-12 13:07] stuclem commented on #1264
@corrieb, so, what do we need to document right now? That the pw is randomly generated with each reboot?

[2016-07-12 14:41] #1430 closed

[2016-07-12 15:46] #1316 closed

[2016-07-12 15:49] corrieb opened #1443 "Cannot re-start previously attached container: "already bound" error"
Here is what I should be able to do:

[code]

Here's what VIC currently does:

[code]

[2016-07-12 15:53] corrieb opened #1444 "docker start busybox for container created without "-i" should immediately stop"
This is a question of consistency with Docker behavior. If you create a container you couldn't possibly attach to and then start it with a shell, it immediately stops.

[code]

[2016-07-12 16:48] mlh78750 opened #1445 "Log bundles from vicadmin cannot be attached to github issues."
Currently, vicadmin delivers log bundles in tar.gz format. That format is not currently supported by github issues. I recommend changing the bundle format to .zip which would allow for an easier time when submitting issues.

[2016-07-12 16:52] carlsone opened #1446 "'stop' and 'rm' not working on Short container ids"
Running 'docker stop' and 'docker rm' on short container IDs gives the following error on VIC versions 2675 and 2745:

Error response from daemon: No such container: <id>

$ ./docker/docker -H xxx:2376 --tls ps -a
...
1138c6349ed6        ubuntu              "sleep 20000"       19 hours ago        Stopped                                 desperate_bassi
5bc308a2a9f7        ubuntu              "sleep

[2016-07-12 16:59] kjplatz commented on #1445
This is being addressed (and implemneted) in the vicadm-0.1 branch.

[2016-07-12 17:09] jzt commented on #1446
I believe this was fixed in #1434, @caglar10ur can you confirm?

[2016-07-12 17:40] corrieb opened #1448 "start -ai integration test attach failure "read/write on closed pipe""
This was an intermittent failure I caught. I re-ran the test 3 times on the same build and same hardware and it passed. I will attach the log bundle to the issue. Given that it's intermittent, my suspicion is that it could be timing related.

Docker personality log:

[code]

Commands that were run:

[code]

There's not much to see in the port-layer log around that time. This is a good test of the

[2016-07-12 17:43] corrieb commented on #1448
Here is the log bundle
[1448-logbundle.zip](https://github.com/vmware/vic/files/359932/1448-logbundle.zip)

[2016-07-12 17:55] corrieb commented on #1086
Will need to doc for TP3. Fix for onsite

[2016-07-12 17:56] corrieb commented on #1443
Close as dup of #1086

[2016-07-12 17:56] #1443 closed

[2016-07-12 18:45] corrieb commented on #1218
Decision made to disable SSH access in the TP3 tagged build. You can get to the log server without the need to authenticate.

[2016-07-12 18:48] corrieb opened #1450 "Throttle port layer server restarts"
Related to #1430. Unless we throttle restarts, an unrecoverable error can end up generating alerts in vCenter due to CPU consumption

[2016-07-12 20:04] andrewtchin commented on #1344
The spurious datastore info log is no longer present in build 2808
[code]

[2016-07-12 20:20] #1383 closed

[2016-07-12 20:59] kjplatz opened #1452 "Vic-machine create fails, but VCH is still created"
While attempting to deploy to skinner.eng.vmware.com, I received the following error sequence:

**Expected behavior:**
Expect the command to either succeed or fail in the same manner, since the VCH should not have been created since the first execution of the command failed.

**Actual behavior**
$ sudo ./vic-machine-linux create --target skinner.eng.vmware.com --user root --image-datastore Datasto

[2016-07-12 22:36] andrewtchin commented on #1344
Changing the confusing error message to debug hides it in normal usage. I also added a clarifying statement for the suggestions:
[code]

[code]

[2016-07-12 23:34] corrieb commented on #1218
PR #1456 will temporarily remove default access to the appliance. We will doc how to re-enable it

[2016-07-13 01:24] sflxn opened #1457 "Sometimes, after a fresh vic-machine install, containers starts up and shuts down immediately"
A couple of time testing docker attach on 'quiet' apps (one that doesn't output anything to stdout for a long period of time) after a fresh vic-machine install, the container vm starts up and shuts down immediately.

Sometimes, it will settle down after a few minutes.  Other times, I have to reinstall with vic-machine again.

Steps to repro:
- install with vic-machine.  my install params:

[code]

[2016-07-13 01:27] sflxn commented on #1457
[logs.tar.gz](https://github.com/vmware/vic/files/360536/logs.tar.gz)
[container-logs.tar.gz](https://github.com/vmware/vic/files/360537/container-logs.tar.gz)

[2016-07-13 01:57] hickeng opened #1458 "Update kernel version"
For advanced routing in the case of containers with externally mapped networks we need a more involved routing setup:

FYI @caglar10ur @hmahmood

[2016-07-13 03:02] hickeng opened #1459 "Link/Alias resolution not working in bridge network"
First there is a panic in the personality during `network connect` - I was using an external network but didn't seem to matter whether it was an external network or the bridge that was first or second:
[code]

Adding a simple guard for nil around the `EP2Alias` call seems to work around that and network connect works as expected, however aliases do not:

[code]

from the PL log we can see that the

[2016-07-13 04:14] #1367 closed

[2016-07-13 04:20] corrieb opened #1462 "Move session_test to vcsim"
see #1367. We shouldn't be depending on real infrastucture in a unit test

[2016-07-13 06:01] hickeng opened #1464 "Link/Alias test insufficient"
The integration test for link support is insufficient. It tests that the command lines are considered valid and not rejected during start, but doesn't actually test the functionality.
Running through the link/alias command manually (having created the `first` container):
[code]

[2016-07-13 06:01] hickeng commented on #1464
assigned to @mhagen-vmware for fix or reassignment if necessary.

[2016-07-13 06:37] hickeng commented on #1459
The reason for this issue is the following block of code that attempts to emulate docker specific behaviour:
https://github.com/vmware/vic/commit/bd666d8422573c02712e22514f98a5467da12f66#diff-6e989557b980355774bd4187364245fbR768

I'm not going to remove it for now, but I would like to know which of the following the intent was:
1. suppress alias resolution and support for the default bridge networ

[2016-07-13 10:28] stuclem opened #1467 "Document that vic-machine create suggests valid resources"
Per https://github.com/vmware/vic/issues/1344 and PR https://github.com/vmware/vic/pull/1454.

[2016-07-13 10:33] stuclem opened #1468 "Document that bridge network should not be shared with other networks"
Per https://github.com/vmware/vic/issues/1430 and PR https://github.com/vmware/vic/issues/1435.

Vic-machine now detects this, but in the current doc we state that bridge can be shared.

[2016-07-13 10:43] stuclem commented on #1086
@corrieb, for TP3 we have this as a known issue in the release notes.

[2016-07-13 10:45] stuclem commented on #1210
This issue is included as a known issue in the release notes for TP3.

[2016-07-13 10:47] stuclem commented on #1312
This issue is included as a known issue in the release notes for TP3.

[2016-07-13 10:48] stuclem commented on #1279
This issue is included as a known issue in the release notes for TP3.

[2016-07-13 10:49] stuclem commented on #757
This issue is included as a known issue in the release notes for TP3.

[2016-07-13 10:50] stuclem commented on #159
This issue is included as a known issue in the release notes for TP3.

[2016-07-13 10:52] stuclem opened #1469 "Document how to configure the base disk size for images"
Per https://github.com/vmware/vic/issues/159.

[2016-07-13 11:20] stuclem opened #1470 "Document how to set static IP addresses for appliance"
Per https://github.com/vmware/vic/issues/1184.

[2016-07-13 11:48] reddolan commented on #1373
Coded prototype: https://github.com/vmware/vic-ux/blob/master/VIC-Admin/dashboard.html

Currently, it is only using pure Bootstrap with CDN hook-ins while the Clarity site is having issues. Once the site is back up, I will be working on getting more accurate source and tying in the styling from the Graphic proto.

[2016-07-13 11:50] stuclem opened #1471 "Document location and content of appliance init.log"
Per https://github.com/vmware/vic/issues/1183.

[2016-07-13 13:35] stuclem opened #1472 "Document what to do if vic-machine can connect to target VC but VCH cannot"
Per https://github.com/vmware/vic/issues/1160

[2016-07-13 13:37] #1344 closed

[2016-07-13 13:45] stuclem commented on #1157
@cormachogan, I've just read through this one again. I think that a lot of your initial observations are covered in the doc that I wrote for the vic-machine create options. Can you please take a look at https://github.com/vmware/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md and let me know what you think? Thanks!

[2016-07-13 13:48] stuclem opened #1473 "Document that vic-machine create checks DRS and DVS config"
Per https://github.com/vmware/vic/issues/1115. This can go into a topic on "What Happens During VCH Deployment".

[2016-07-13 13:51] stuclem commented on #1164
@hickeng, @cormachogan is this worthy of a troubleshooting topic?

[2016-07-13 13:54] stuclem opened #1474 "Document vic-machine env"
Per https://github.com/vmware/vic/issues/1085.

[2016-07-13 13:56] stuclem opened #1475 "Document that VIC supports pulling images via image digest"
Per https://github.com/vmware/vic/issues/1186.

[2016-07-13 13:57] #884 closed

[2016-07-13 13:57] cormachogan commented on #1164
Perhaps. Or maybe we need a pre-check to make sure that vSphere hosts/VCs are resolvable from the client

[2016-07-13 13:57] #838 closed

[2016-07-13 13:58] #869 closed

[2016-07-13 13:59] stuclem commented on #871
Moving this back to To Do because I haven't fully written up the options for inspect and delete yet.

[2016-07-13 13:59] #1008 closed

[2016-07-13 14:00] #877 closed

[2016-07-13 14:00] #883 closed

[2016-07-13 14:01] stuclem commented on #828
Still need to write up full descriptions of the options for vic-machine delete.

[2016-07-13 14:01] #1309 closed

[2016-07-13 14:02] #953 closed

[2016-07-13 14:02] #1314 closed

[2016-07-13 14:03] stuclem commented on #841
Need to write up the options for vic-machine inspect.

[2016-07-13 14:06] stuclem commented on #870
https://github.com/vmware/vic/issues/632 is in the icebox.

[2016-07-13 14:06] cormachogan commented on #1164
But if we can't make a pre-check in the available timeframe, then yes, lets consider it a troubleshooting scenario @stuclem

[2016-07-13 14:06] stuclem commented on #885
https://github.com/vmware/vic/issues/112 is in the icebox.

[2016-07-13 14:10] stuclem commented on #1164
OK, thanks @cormachogan.

[2016-07-13 14:26] cormachogan opened #1476 "Feature Request: Additional info added to inspect"
**VIC Version:**

0.1 / master / 2832

Currently the VCH inspect output is as follows:

[code]

I would like it to include the following information:
- image datastore
- container datastore (if different than default)
- volume store (if set)
- bridge network
- external network (if different than default)
- client network (if different than default)
- container network (if different than default)
-

[2016-07-13 14:33] mlh78750 commented on #1459
@hickeng: At least one person wants to mix new and legacy and still have stuff work.
https://github.com/docker/docker/issues/22803

That being said, I am not sure how allowing the link commands to work on the default network will result in backwards compatibility issues. Docker claims that it will cause issues because the --link code is not dns based. Since all of our resolution is DNS based and w

[2016-07-13 15:11] cormachogan commented on #1157
Thanks @stuclem - yes, there is a lot of good detail here. Unfortunately, we find customers only turn to the docs when they've tried things out a few times for themselves. I guess what I'm trying to do here is make sure the initial experience is really good, and provide as much detail up front so they can be successful. Good warning/erros messages related to configuration and a good help output in

[2016-07-13 15:13] stuclem commented on #1157
Could there be a way to link to the doc from the help output?

[2016-07-13 16:38] stuclem opened #1477 "Document additional output of vic-machine inspect"
Per https://github.com/vmware/vic/issues/1476, if implemented.

[2016-07-13 16:59] mlh78750 opened #1478 "After executing invalid command on container all future containers with tty hang the terminal and do not attach"
Build 2840.

Installed in empty nested ESX6u2 on fusion.
installed with => ./vic-machine-darwin create --target 172.16.252.131 --image-datastore datastore1 --name vic-demo --user root --password 'Vmware!23'  --compute-resource /ha-datacenter/host/*/Resources

then in one terminal:
docker -H 172.16.252.132:2376 --tls run -it --name foo busybox

In another I ran:
docker -H 172.16.252.132:2376 --tls

[2016-07-13 17:02] fdawg4l commented on #1478
@mlh78750 I think something is wrong with your command invocation.

On a standard docker host (*not* VIC), I get the following.
[code]

[2016-07-13 17:04] fdawg4l commented on #1478
@mlh78750 I think you likely wanted to do the following (again, on a standard docker host, *not* VIC)

[code]

[2016-07-13 17:04] mlh78750 commented on #1478
@fdawg4l Good point. That's not a valid command, but regardless, that should not hang the system for all future commands. In other words, I don't care if I have a command that actually works or not.

[2016-07-13 17:12] mlh78750 commented on #1478
Interestingly, It actually caused the previously working terminal on foo container to stop responding as well.

[2016-07-13 17:12] mlh78750 commented on #1478
[container-logs.tar.gz](https://github.com/vmware/vic/files/362041/container-logs.tar.gz)

[2016-07-13 17:14] hickeng commented on #1478
I've not seen it cause the other containers to stop. I have seen it fail to get output from the container or useful output in the logs.

[2016-07-13 17:17] fdawg4l commented on #1478
I'm having trouble repro'ing locally but i havent synced since last night.  Will rebuild and give it a whirl.

[2016-07-13 17:19] mlh78750 commented on #1478
From the container that I try to launch last (dog)

INFO[0000] Processing config for session d305b2345fae6650f8b729b95f7a5e2f835e9b0544c3de7f52bf71fca6292968
INFO[0000] Session d305b2345fae6650f8b729b95f7a5e2f835e9b0544c3de7f52bf71fca6292968 is configured for attach
INFO[0000] Reaped zombie process PID 74

INFO[0000] Reaped zombie process PID 82

INFO[0000] Reaped zombie process PID 97

INFO[0000]

[2016-07-13 17:20] mlh78750 commented on #1478
And this is from the container that had a failing command.

INFO[0000] Launching process for session 75776b6316edec5dbdb55bb5e196ded501d2e4b50e665cd86658692a5de13960
INFO[0000] opening ttyS2 for session logging
ERRO[0000] Path lookup failed for /bin/sh -c 'ping -c 40 foo': stat /bin/sh -c 'ping -c 40 foo': no such file or directory
ERRO[0000] failed to launch /bin/sh -c 'ping -c 40 foo' for 75776b

[2016-07-13 17:20] mlh78750 commented on #1478
Going to try and repro with correct command invocation.

[2016-07-13 17:28] mlh78750 commented on #1478
If the command is correct it doesn't leave things in a hung state. It also doesn't show the output from the command.

Fresh install
in one terminal:
docker -H 172.16.252.132:2376 --tls run -it --name foo1 busybox

In another:
(mikeh) Bauxite:~ $ docker -H 172.16.252.132:2376 --tls run -it --name bar busybox /bin/sh -c -- 'ping -c 1 foo1'
(mikeh) Bauxite:~ $ docker -H 172.16.252.132:2376 --tls run

[2016-07-13 17:40] sflxn commented on #1478
I just tried your test.  I can repro your original result.  It appears the second run causes problems for VIC and puts the portlayer in a bad state.  If you just run 1 and 3, it is fine.  If you run with the correct command invocation, it is fine.  If step 2 is incorrect, the port layer gets borked.  Not sure if it's temporary or permanent.

[2016-07-13 17:41] mlh78750 commented on #1478
@sflxn: i think it's permanent. In fact after I left mine in that state for a while the command 1 terminal locked up as well.

[2016-07-13 17:41] sflxn commented on #1478
Note, it gets borked if step 2 is incorrect invocation and attach is hung forever on a container that already exited.

[2016-07-13 18:01] sflxn commented on #1478
Did some more diagnosis.  If you bring up a 4th terminal and stop every container and remove them (docker ps, docker stop, docker rm), some operations work again.  However,

1. attempting step 1 again is now hosed with the same tether messages in the container console.
2. attempting docker run -it busybox /bin/top does cause a container to start up properly but the client tty is hosed.

[2016-07-13 18:06] fdawg4l commented on #1478
@hickeng has discovered a deadlock in our port layer side attach.  We're working on a canonical test and a potential fix.

[2016-07-13 18:33] corrieb commented on #1218
Moving this to onsite. First order of business is to restore the SSH capability. Second order is to figure out if we have any more elegant solution for onsite.

[2016-07-13 18:34] corrieb commented on #1459
Since this is unresolved for TP3, it will need to move to onsite

[2016-07-13 18:37] emlin commented on #1249
Fixed by #1435

[2016-07-13 18:40] #1249 closed

[2016-07-13 18:43] corrieb commented on #806
Latest update from Faiyaz: "for clarity, the images directory on the datastore should be specified via vic-machine and used in the port layer like we are for volumes.  volumes is A-OK". Sounds like this needs to remain open and move to onsite.

@matthewavery are you clear on what remains to be done here?

[2016-07-13 18:48] corrieb commented on #857
@sflxn please close if this is completed

[2016-07-13 18:50] corrieb commented on #716
@gigawhitlocks please close if this is completed - if in doubt, check with @hickeng

[2016-07-13 18:51] corrieb commented on #1210
Latest update from Faiyaz: "for clarity, the images directory on the datastore should be specified via vic-machine and used in the port layer like we are for volumes. volumes is A-OK". Sounds like this needs to remain open and move to onsite.

[2016-07-13 18:52] corrieb commented on #702
@emlin can this be closed now?

[2016-07-13 18:53] fdawg4l commented on #806
I think this is done.  @matthewavery , what do you think?

[2016-07-13 18:54] sflxn commented on #1459
https://github.com/vmware/vic/pull/1480 will fix this.

[2016-07-13 18:56] sflxn commented on #1478
https://github.com/vmware/vic/pull/1480 will fix this.  I am curious to see if the deadlock also is needed as @hickeng explained that it fixes a scenario where simultaneous containers are started.

[2016-07-13 18:57] corrieb commented on #742
Hey @dougm, can this be closed?

[2016-07-13 18:57] fdawg4l commented on #1478
It's not "simultaneous containers".  It's a timing hole.  You just need a waiting attach request and a new container to start.  Piling up waiting containers increases the likelihood of the deadlock.

[2016-07-13 19:03] sflxn commented on #857
This is done but #1391 was opened for some of the remaining work.  There is a PR for 1391, but we held off on merging it due to CI issues at the time.

[2016-07-13 19:04] #857 closed

[2016-07-13 19:08] cgtexmex opened #1484 "Incorrect image digest format sent to docker client"
When pull image via digest is supported ( #1186 ) we need to ensure that the digest format is sent to the client correctly.

Currently the function to format the digest for the client will return the following formatted digest:

repo@sha:digest (i.e. busybox@sha:1235453303)

If should instead return:

repo@sha256:digest (i.e. busybox@sha256:121212121213)

A simple change, but one that must be made

[2016-07-13 19:09] dougm commented on #742
@corrieb it will auto-close when PR #1431 is merged

[2016-07-13 19:12] sflxn commented on #1129
During a conversation on slack yesterday, it was decided we would let this hang, against my objections.  We removed a timeout in the personality code that fixed was part of the fix.  #1480 would restore the timeout.  We either

1. move this issue to onsite
2. move this issue back to todo
3. restore the timeout and close this issue.

[2016-07-13 19:16] #1478 closed

[2016-07-13 19:43] sflxn commented on #1129
Ok, looks like we're accepting #1480 so I'm moving this to done.

[2016-07-13 19:58] hickeng opened #1486 "Allow whitelist of insecure registries"
Currently we have all or nothing when it comes to allowing insecure registries, and that's not currently exposed as a configuration opinion in any way.

This should add:
- vic-machine arguments for whitelisted registries. If no registry arguments are specified, docker hub should be permitted, if any registry arguments are specified the docker hub must also be added explicitly.
- imagec should chec

[2016-07-13 19:58] hickeng commented on #1486
assigned to @jzt initially as I know he's looking at imagec currently.

[2016-07-13 20:13] mlh78750 opened #1488 "Need to split tests into tiers"
Please comment with opinions and ideas on what makes sense.

I'll start and throw this out:

Add different test profiles:
1) lightweight subset of test that exercise core functions that runs for every commit.
2) medium size subset that runs every X amount of time (propose 1 hour)
3) full suite that runs every night.

We may choose to move over to med or full tests per commit as we get closer to a

[2016-07-13 20:26] corrieb commented on #1488
Assigning to Mike. This is high priority, because for onsite we need to significantly increase the scope of our integration tests and it will be unsustainable to do that without this split

[2016-07-13 20:38] sflxn commented on #1488
Which one does our current CI run for PR today?  It currently runs > 1hr.  Given the proposal that profile 2 to run every hour, it might clog up the CI during periods of large numbers of PRs (e.g. close to release time).

[2016-07-13 20:39] corrieb commented on #1488
@sflxn part of the goal of this is to reduce the load on the CI system. the hourly/nightly tests don't have to run on the same hardware

[2016-07-13 20:44] corrieb commented on #1488
In terms of tests we need to add to our nightly suite:
- Regression tests (we badly need to catch up on that and get into the habit of doing it)
- Medium-level stress tests (single client within the bounds of what we think is reasonable)
- Expand functional testing to meet the test plan we already have drawn up
- Negative testing (fat fingering dumb stuff) how do we react?
- Demo workflows (when w

[2016-07-13 20:44] mlh78750 commented on #1488
@sflxn: Our CI runs everything now. But we are way under-testing. We need to be doing a better job writing tests. If we make a big push to improve automated testing right now and it takes 3x longer after we add a bunch of tests, then we are going to need a priority and tiering to the tests to make this work.

[2016-07-13 21:03] matthewavery opened #1489 "Need a better way to handle the Swagger errors from the portlayer"
There are several places in the docker engine server where we get responses back from the portlayer and they are packed in swagger objects.

instead of handling them inline we should have a utility function package for handling all of our swagger responses. This will drastically reduce the amount of redundant code that exists in the docker engine server.

current behavior:

res, err := client.cont

[2016-07-13 21:16] hickeng opened #1490 "vic-machine: make the volume-store ordering consistent with container-network"
The volume-store argument to vic-machine is currently inconsistent with container-network - it takes the internal name first, with the vsphere path second. This may have been done deliberately to simplify splitting around the first : however it should be consistent and we should be splitting on the last : in the value.
The logic for having vsphere name first is [here](https://github.com/vmware/vic

[2016-07-13 21:36] corrieb opened #1491 "Removing a running container on vSAN cluster gives wrong error"
[code]

[2016-07-13 21:39] corrieb commented on #1491
port-layer.log
[code]

[2016-07-13 21:42] corrieb commented on #1491
dup of #1311

[2016-07-13 21:42] #1491 closed

[2016-07-13 21:58] corrieb commented on #1437
This is a blocking successful testing on vSAN. The govc commands make assumptions that aren't necessarily correct for a vSAN datastore.

[2016-07-13 22:20] fdawg4l commented on #1437
For background.  VSAN creates symlinks to actual directories represented by UUIDs.

[code]

Deleting the symlink via govc will delete both the symlink AND the actual directory (represented by UUID).  Looping through the directory list as the cleanup routine currently is will lead to a mismatch since 2 directorie entries are getting removed with each `datastore.rm`.

vic-machine (should) already ha

[2016-07-13 22:30] corrieb commented on #1437
@fdawg4l exactly. seems like @hickeng  and I are both testing independent fixes for this at the same time :)

[2016-07-13 22:36] hickeng commented on #1218
@stuclem updated the description with instructions for re-enabling.

[2016-07-13 22:44] corrieb opened #1493 "Add configurable network parameters to integration tests"
Currently I have to hack Util.Robot on a VC cluster to set --external-network for vic-machine to something different than --bridge-network. I think we should be able to test scenarios and setups where every network parameter is set to something, so let's formalize this

[2016-07-13 23:59] hickeng commented on #857
and #1390 for the correct values of cpu and memory

[2016-07-14 00:13] fdawg4l commented on #806
Closing this.  @matthewavery, please re-open if you don't feel this is done.

[2016-07-14 00:13] #806 closed

[2016-07-14 00:14] fdawg4l commented on #1169
Pretty sure this is done.  @matthewavery, please reopen if you feel this isn't done.

[2016-07-14 00:14] #1169 closed

[2016-07-14 02:17] andrewtchin opened #1498 "Update/reenable create with volume integration test"
Disabled by https://github.com/vmware/vic/pull/1497

[2016-07-14 10:37] stuclem opened #1499 "Document how to configure insecure registries"
Per https://github.com/vmware/vic/issues/1486

[2016-07-14 10:38] cormachogan opened #1500 "Port exposing doesn't seem to be working"
**VIC Version:**

0.1 / master / v0.4.0

I downloaded the latest customer facing builds (v0.4.0), and tried to run a very popular demo using nginx. This runs a web server in a container and presents it same IP as the VM/host running docker. This does not seem to work for our docker API endpoint in VCH.

I feel that it is important to have this working, as this might be one of the first demos/examp

[2016-07-14 10:47] stuclem commented on #1355
Volume creation and attach functionality is added to docker container create in https://github.com/vmware/vic/issues/1169

[2016-07-14 10:53] cormachogan opened #1501 "Cannot use Control-C to kill a container"
**VIC Version:**

0.1 / master / v0.4.0

I've noticed a different in behaviour when running docker on my MAC v. running docker in VIC.

On my MAC, I can Control-C a running container such as Nginx. I cannot do this in VIC.

In the init.log I see the following:

[code]

**Expected behavior:**

Note sure: This could be by design. However potential customers may expect to be able to Control-C a runni

[2016-07-14 11:08] stuclem opened #1502 "Document change in volume-store syntax"
Per https://github.com/vmware/vic/issues/1490

[2016-07-14 11:50] darrylcauldwell commented on #1109
I just installed using vic_2868.tar.gz and found it installed without error.

I can get docker info,

    docker -H 192.168.1.218:2375 info
    Containers: 0
     Running: 0
     Paused: 0
     Stopped: 0
     Images: 0
    Storage Driver: vSphere Integrated Containers Backend Engine
    vSphere Integrated Containers Backend Engine: STOPPED
    Execution Driver: vSphere Integrated Containers Backe

[2016-07-14 14:32] mlh78750 commented on #1500
@cormachogan: Thanks for testing this out. This is actually a known limitation for VIC at this time. Port forwarding from the VCH is not ready yet.

From https://github.com/vmware/vic/releases:

You can track the progress of this feature with this existing issue: #938

I'm going to close your issue as a duplicate of #938.

[2016-07-14 14:32] #1500 closed

[2016-07-14 15:08] hickeng opened #1503 "Volumes: specify capacity units on command line"
Current behaviour has default units. Which default units are unclear because it looks like it's MB in the code, but error messages say GB. This should be implemented in such a manner that other components (e.g. install) can make use of the code.

Use KB internally for stored values - this aligns with vSphere and also allows for config of small resources such as nvram or tiny unikernels in the futu

[2016-07-14 15:10] hickeng commented on #1503
@matthewavery I see that an error message specifies the units as GB, however it looks like it's treated as MB in the code: https://github.com/vmware/vic/blob/master/lib/apiservers/engine/backends/volume.go#L141

[2016-07-14 16:13] fdawg4l opened #1504 "Migrate datastore_test to use vcsim if ESX_URL not specified"

[2016-07-14 17:11] #1303 closed

[2016-07-14 17:14] #1262 closed

[2016-07-14 17:36] hickeng commented on #1502
@stuclem I've added a user-doc label to #1490 and a set of checkboxes that includes implementation and documentation requirements. Is that a viable mechanism of associating a need for doc update with an issue? It makes it a little more overt to the developer that there's a doc impact.

[2016-07-14 18:03] fdawg4l opened #1505 "List configured volume stores in `docker info`"
This is the personality work to get the configured volume stores via the volume driver section of `docker info`

[2016-07-14 18:05] fdawg4l opened #1506 "Add ListStores to volume layer of port layer"
Return a list of volume store names.

[2016-07-14 18:06] fdawg4l opened #1507 "List volume stores"
To support listing of configured volume stores on the VCH.

VolumStores are added when `vic-machine create <...>  --VolumeStore` is used.  The user should be able to identify the volume store names these correspond to.

[2016-07-14 18:07] fdawg4l commented on #1507
cc @hickeng @corrieb

[2016-07-14 18:09] fdawg4l commented on #917
@matthewavery `VolumesList` in the volume cache works as expected, returning a list of `Volume`s.  Just create a list of ID from the returned `Volumes`, and that should be all you need to make the changes to the personality to support `docker volume ls`.

[2016-07-14 18:11] fdawg4l opened #1508 "Add support for `volume delete`"
This needs to pass the ID given to `docker volume delete <ID>` to `VolumeDestroy` in the port layer.

[2016-07-14 18:13] fdawg4l commented on #1508
This likely requires work in both the DPS and the PL to shuttle that ID from the user's docker invocation down to the volume layer in the PL.

[2016-07-14 18:13] hickeng opened #1509 "vmware/photon - no default PATH set"
Why is /bin/bash not in the path for vmware/photon (https://github.com/vmware/photon/blob/master/Dockerfile) as that should be part of the default path

Commands:
[code]
Log bundle:
[container-logs (6).tar.gz](https://github.com/vmware/vic/files/364500/container-logs.6.tar.gz)

Log snippet:
[code]

[2016-07-14 18:13] fdawg4l opened #1510 "Implement VolumeDestroy in the PL"
The function is there, it just needs to be implemented.

[2016-07-14 18:14] fdawg4l opened #1511 "Support `docker volume delete`"

[2016-07-14 18:18] hickeng opened #1512 "Attach called on start failure"
`no such file` should be detected by Start as a failed operation so why do we then see a message about attach - why is attach being called at all if start failed?

Commands:
[code]

Log bundle is from #1509, [container-logs (6).tar.gz](https://github.com/vmware/vic/files/364500/container-logs.6.tar.gz)

Log snippet:
[code]

[2016-07-14 18:20] hickeng commented on #1509
The Dockerfile for reference:
https://github.com/vmware/photon/blob/master/Dockerfile

[2016-07-14 18:23] hickeng commented on #1506
It's a blurring of the layers but the full VCH config is available to the personality - the personality could directly list this information if time constraints interfere with doing this via API.

[2016-07-14 18:32] fdawg4l commented on #1506
Hmm..  That's basically where the port layer is getting this info.  Not sure what the best approach here is.  I can return the list of configured volume store names which we cache in the volume cache anyway, or we can skip this step and get this same info from the VCHconfig.

[2016-07-14 18:40] hickeng commented on #1501
@cormachogan It's dependent on #1267 and #378 - only not present because of time. Should be documented - thought it was in the known issues at one point.

[2016-07-14 18:54] corrieb commented on #1101
This has been sitting for quite a while now. Sounds like this is not going to be an onsite deliverable, unless we're clear on what needs to happen and it can happen quickly.

[2016-07-14 18:57] corrieb commented on #855
I am going to take on the responsibility for writing integration tests for this

[2016-07-14 18:59] corrieb commented on #1183
Sounds like a little bit of design work is required here. However, anything related to logs or ease of triage should be a high priority for onsite. Need to assign

[2016-07-14 19:02] corrieb commented on #1157
Since a number of the issues linked here are tagged as GA, this epic should also be tagged as GA. We should do what we can for offsite, but the detail should be captured in the linked issues.

[2016-07-14 19:03] caglar10ur opened #1514 "Incorrect personality exit codes"
Vanilla docker

[code]

They follow the chroot standard for exit codes.
Exit status:
125 if 'docker run' itself fails
126 if contained command cannot be invoked
127 if contained command cannot be found
the exit status otherwise

VIC

[code]

[2016-07-14 19:04] corrieb commented on #1086
This should be a high priority for onsite IMHO as it's a highly visible issue that folks are likely to fall over.

[2016-07-14 19:06] corrieb commented on #904
Exactly a month on from the last comment and this is getting urgent now. George was planning to go to Palo Alto next week. Chasing this up.

[2016-07-14 19:09] caglar10ur commented on #1514
looks like client is getting the exit code via inspect

https://github.com/docker/docker/blob/506234e3f0f6d8f8a0629e09f38dfe96ada025c2/api/client/container/run.go

https://github.com/docker/docker/blob/ee8c512dc32117fbd327b4a19da0ffefe47abfcd/api/client/container/utils.go

[2016-07-14 19:10] corrieb commented on #999
@mhagen-vmware this has been festering for a while now. I have not seen this issue in any of the testing I've done. This should be picked up by the integration test that does an rm after a stop. @caglar10ur do we need to investigate this PANIC further, or has that been fixed.

If there's no remaining work to do, we should close

[2016-07-14 19:13] caglar10ur commented on #1514
Looks like tether needs to fill in State part of this struct

[code]

[2016-07-14 19:15] caglar10ur commented on #999
I don't remember seeing this for a while so I suggest closing this (we can always re-open if we observe again)

[2016-07-14 19:23] corrieb commented on #787
This should be a relatively simple change. High marks for increased usability.

[2016-07-14 19:24] hickeng commented on #1183
component restart counts are now persisted in the extraconfig, along with last 5 exit codes. I'd love to have a last x lines of stderr or similar, but that's real work.

I don't think hardening vicadmin is an onsite task.

[2016-07-14 19:24] cgtexmex commented on #1514
I see this as the vic comparable data (https://github.com/vmware/vic/blob/master/lib/metadata/container_vm.go#L58) , but when writing containerInfo I didn't see it getting populated..

[2016-07-14 19:26] corrieb commented on #577
Massively festering. This just needs some simple investigation and either assigning or closing.

[2016-07-14 19:29] corrieb commented on #718
@jak-atx I'm assuming we're on track for onsite to get this in. Please confirm

[2016-07-14 19:32] corrieb commented on #755
Yes, it's very much related to #1043. Having lost all of these week to release management, this is not going to make onsite though.

[2016-07-14 19:33] corrieb commented on #693
@mhagen-vmware I'd definitely like to have this in for onsite, given the required focus we need to have on quality.

[2016-07-14 19:37] corrieb commented on #691
@hickeng if this milestone depends on #595 which is targeted at GA, do we have a hope of getting this in for onsite?

[2016-07-14 19:41] corrieb commented on #469
There's no much point tackling this until #1043 and #755 are being tackled. These are both GA target. I would suggest we also move this to GA.

[2016-07-14 19:42] corrieb commented on #463
@ghicken Clearly a reminder to yourself, but needs more info to justify onsite

[2016-07-14 19:43] hickeng commented on #691
It doesn't fundamentally depend on #595 being complete, just on portions of it. Those are mostly in the code already for networking.

[2016-07-14 19:49] corrieb commented on #424
@hmahmood By the looks of it, we should be good to get this in for onsite. Is there a clear plan for the integration tests that will be needed to test this?

[2016-07-14 19:51] corrieb commented on #710
@fdawg4l #711 is targeted for GA, but this epic is targeted for onsite. Please update on what our expectations should be for onsite WRT this epic.

[2016-07-14 19:54] hmahmood commented on #424
@corrieb #693 should cover the integration tests portion.

[2016-07-14 19:57] fdawg4l commented on #710
@bcorrie functionality is complete. We just need integration tests.

[2016-07-14 20:00] corrieb commented on #433
#366 is currently targeted for GA, but this epic is marked for onsite. We need to resolve. Log collection should be a high priority item as soon as customers start getting their hands on this.

[2016-07-14 20:04] corrieb commented on #407
Assigning to @dougm given the dependency on #1267

[2016-07-14 20:07] corrieb commented on #436
Since #364 is the only remaining issue for this epic, right now, assigning to @matthewavery

[2016-07-14 20:11] corrieb commented on #437
@fdawg4l assigning this to you to co-ordinate with @sflxn. Is it realistic to be targeting onsite with this? I note that #253 is targeted at GA

[2016-07-14 20:14] fdawg4l commented on #437
@corrieb I don't see this happening in the next 5days.

[2016-07-14 20:15] corrieb commented on #711
@fdawg4l reports work is complete, and just pending integration tests.

[2016-07-14 20:20] jooskim commented on #1101
This issue is still active, and is nearing completion. As for plugin registration with VC see issue #1336 and #1513 for UI deliverables including portlet source code and installers.

[2016-07-14 20:31] corrieb commented on #710
To clarify per slack with @fdawg4l, #711 isn't complete and won't make onsite. However, there are integration tests that should be added for the existing work that's been done.

@fdawg4l to add tests for onsite, then we'll move this epic to GA

[2016-07-14 20:33] corrieb commented on #437
@hickeng @mdubya66 note this is moving out of onsite to GA

[2016-07-14 20:35] corrieb commented on #365
Moving out of onsite to GA, given that #437 got moved

[2016-07-14 20:37] corrieb commented on #854
@hickeng I very much doubt this will make onsite

[2016-07-14 20:41] corrieb commented on #861
@hickeng seems to fall into the bracket of "nice to have" for onsite, given the time constraints

[2016-07-14 20:44] corrieb commented on #862
@hickeng @cgtexmex we got inspect functionality in TP3. If this is mostly about cleaning up the port layer API, it's not going to make onsite. Moving to GA.

[2016-07-14 20:52] corrieb commented on #1244
Added kind/bug here. Seems related to #1267 so making this @dougm problem

[2016-07-14 20:53] corrieb commented on #1244
@dougm can you assess this for priority for onsite please

[2016-07-14 20:55] cgtexmex commented on #1514
@sflxn when I implemented containerinfo I didn't see it getting populated.  It's defined, but didn't appear tether was populating...or possibly I missed it.

[2016-07-14 20:56] fdawg4l commented on #925
The bulk of the work to support this on the PL side is done.  It needs to be wired in where the image storer is instantiated.  This is identical to what we did for volumes.  Not a lot of work.  May not happen in the next 4 days.

[2016-07-14 20:57] corrieb commented on #635
@hickeng Everything this relates to seems to be either in icebox or untargeted. I know we want to prioritize this kind of stuff, but seems like there's no way this is making onsite.

[2016-07-14 21:01] hickeng commented on #1244
@corrieb #1267 is for the Signal API implementation on the port layer, this is having delivered an OS signal to the portlayer process itself. If anything it's likely swagger related - bouncing to @caglar10ur as the main impact here is from DNS shut down but the process doesn't exit so we don't restart.

[2016-07-14 21:04] corrieb commented on #1045
@mdubya66 I don't think so. This needs to be part of a bigger debate around process. There may never be a good time to do this, but the only time it's viable to have conversations about process changes is during a period where we're not facing an imminent deadline.

[2016-07-14 21:06] corrieb commented on #1268
@dougm assigning to you for assessment and priority as part of the signal work

[2016-07-14 21:08] corrieb commented on #438
@dougm given that you appear to own just about every issue referred to here, it makes sense for you to own this epic. Can we realistically expect to get this epic closed for onsite d'you think?

[2016-07-14 21:10] hickeng commented on #1313
@corrieb could you try re-enabling this in your local integration build? I'm in the middle of redeploying dev box but this should now be fixed by #1441

[2016-07-14 21:10] corrieb commented on #1313
@hickeng will do

[2016-07-14 21:13] corrieb commented on #1154
@jzt I believe this is related to your work on making imagec into a library. Should this remain an onsite target?

[2016-07-14 21:13] hickeng commented on #1390
depends on #861

[2016-07-14 21:17] corrieb commented on #1311
I'd like to see this fixed for onsite. It's highly visible

[2016-07-14 21:17] caglar10ur commented on #1464
we could start using docker run once https://github.com/vmware/vic/issues/1514 is resolved

[2016-07-14 21:18] dougm commented on #742
I used the wrong auto-close comment syntax in 1431, closed now with that being merged.

[2016-07-14 21:18] #742 closed

[2016-07-14 21:18] corrieb commented on #1318
@hmahmood can you comment on whether this is still an issue?

[2016-07-14 21:20] dougm commented on #1268
@hickeng and I are going to pair up on this one tomorrow, should be straightforward.

[2016-07-14 21:21] corrieb commented on #1312
@fdawg4l unless this is relatively trivial to implement, I don't feel this is high priority for onsite. Please assess

[2016-07-14 21:22] dougm commented on #438
@corrieb yes, expecting the 2 remaining issues to be done for onsite.

[2016-07-14 21:22] corrieb commented on #1360
Assigning to @hmahmood. This should be trivial, but needs an owner

[2016-07-14 21:24] fdawg4l commented on #1312
I honestly couldn't tell you one way or the other.  Will take a look when cycles appear.

[2016-07-14 21:26] corrieb commented on #1364
I'd nominate this as a relatively important thing to have for onsite.

@fdawg4l assigning to you to give this an owner, but can easily reassign if necessary

[2016-07-14 21:29] sflxn commented on #854
It will.  It's free.  Once we fill in the container info data structure on the portlayer side, the personality server's container inspect will return the correct values.  Docker port gets all the port data from container inspect.  It simply calls docker inspect.

[2016-07-14 21:31] gigawhitlocks commented on #1301
This issue was addressed in #1410

[2016-07-14 21:31] #1301 closed

[2016-07-14 21:32] corrieb commented on #1398
@hickeng how do you propose we fix this without the event updates in the port layer? Check the status before a stop? I'm giving this to @cgtexmex.

[2016-07-14 21:34] corrieb commented on #1389
Now we're past TP3, let's get this closed out

[2016-07-14 21:37] corrieb commented on #741
@sflxn Everything other than the testing seems to be done for this Epic. Are there any other issues that should be associated with it?

[2016-07-14 21:40] corrieb commented on #1464
These tests also fail quite regularly FWIW - have never had time to diagnose

[2016-07-14 21:41] corrieb commented on #1490
Assigning to @emlin

[2016-07-14 21:44] fdawg4l commented on #1364
@caglar10ur i nominate you.  You can go ahead and nominate someone else if you feel like it.

[2016-07-14 22:02] matthewavery commented on #364
According to ticket #436 we will need a way to discern between anonymous and regular volumes. Then we will need `docker volume rm` to work for us to remove anonymous volumes with the container that is associated with it. additionally for the `docker rm -f` we should be using kill to send signals to the tether. So this is dependent on the `docker kill` functionality being in place.

[2016-07-14 23:27] caglar10ur opened #1517 "Support -c and -m parameters for containerVMs"
Right now they are hardcoded as

[code]

https://github.com/vmware/vic/blob/master/lib/portlayer/exec/handle.go#L209

[2016-07-14 23:45] hmahmood commented on #1318
@corrieb still an issue

[2016-07-15 07:41] cormachogan commented on #1501
@stuclem - can we capture this for v0.4.0?

[2016-07-15 08:48] stuclem commented on #1502
@hickeng, yes, I think that this is a good idea. Thanks!

[2016-07-15 08:58] stuclem commented on #1501
Added at the end of the list of known issues: https://github.com/vmware/vic/releases/tag/v0.4.0

@cormachogan, is this OK?

[2016-07-15 09:01] cormachogan commented on #1501
LGTM

[2016-07-15 09:09] stuclem commented on #1502
@gigawhitlocks I have updated the example command in the doc to:

`--volume-store <i>datastore_name</i>/<i>path</i>:<i>volume_store_name</i>`

See https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_installer_options.md#datastore.

Is this OK?

[2016-07-15 09:35] stuclem opened #1520 "Document docker image remove"
Per https://github.com/vmware/vic/issues/365.

[2016-07-15 09:37] stuclem commented on #827
https://github.com/vmware/vic/issues/710 is moving to GA.

[2016-07-15 09:45] stuclem opened #1521 "Document docker volume delete"
Per https://github.com/vmware/vic/issues/1511

[2016-07-15 09:48] stuclem opened #1522 "Document docker volume ls"
Per https://github.com/vmware/vic/issues/917

[2016-07-15 09:51] stuclem opened #1523 "Document how to list volume stores"
Per https://github.com/vmware/vic/issues/1507

[2016-07-15 09:54] stuclem opened #1524 "Document that docker info returns list of configured volume stores"
Per https://github.com/vmware/vic/issues/1505 and https://github.com/vmware/vic/issues/1364

[2016-07-15 10:15] stuclem commented on #1261
@emlin I have added the following to the doc topic on vic-machine create options:

**IMPORTANT** The bridge network is used exclusively by vSphere Integrated Containers. You cannot use the network that you specify in the `bridge-network` option as the target for any of the other `vic-machine create` networking options.

https://github.com/stuclem/vic/blob/master/doc/user_doc/vic_installation/vch_i

[2016-07-15 10:45] stuclem opened #1525 "Add links to docs to the vic-machine help output"
Following email discussion with @cormachogan, it might be an idea to include a link to the appropriate doc topic to the help output for `vic-machine create`, `delete`, `inspect`, etc. The doc topics allow us to include more information than can be comfortably included in the `--help` output.

For example, in the help output for `vic-machine create`, we could include a line that says something like

[2016-07-15 10:52] stuclem opened #1526 "Document that you can set capacities in docker volume create"
Per https://github.com/vmware/vic/issues/1503 (no milestone yet).

[2016-07-15 10:53] stuclem commented on #1526
Needs to be mentioned in both admin and app dev docs.

[2016-07-15 10:56] stuclem opened #1527 "Document what happens during VCH deployment"
We should describe all of the configuration checks and validations that occur during VCH deployment in a topic "What Happens During VCH Deployment". Some of these checks are tracked in https://github.com/vmware/vic/issues/1157.

We should also list the operations that occur in vSphere when a VCH is deployed.

[2016-07-15 11:38] stuclem opened #1528 "Document that docker container remove also removes associated volumes"
Per https://github.com/vmware/vic/issues/364

[2016-07-15 11:40] stuclem commented on #1310
Actually, the doc for the proper implementation of docker kill is tracked in https://github.com/vmware/vic/issues/954. This one was for the TP3 workaround. Marking as fixed.

[2016-07-15 11:40] #1310 closed

[2016-07-15 11:42] stuclem commented on #834
Reopening as there are still some aspects of docker stop that will be added in time for onsite beta (see https://github.com/vmware/vic/issues/438).

[2016-07-15 12:03] cormachogan opened #1529 "container networking not working"
**VIC Version:**

0.1 / master / v0.4.0

It looks like there are some issues with creating container networks outside of the bridge network.
As you can see there are some encoding errors around DNS that are thrown when a separate container network is requested.

[code]
Now if one attempts a simple "ps -a", it fails as follows:

[code]

I have also tried to omit the container-network-dns part of th

[2016-07-15 13:19] stuclem commented on #1261
One more question for @emlin: is it true to say that all networks other than bridge use the default VM Network if you don't specify anything?

[2016-07-15 13:30] stuclem opened #1530 "Document the location and content of the vicadmin portal"
The vicadmin portal will include basic health status, logs, VCH information and resource usage. See PR https://github.com/vmware/vic/pull/1515, and epic https://github.com/vmware/vic/issues/1372.

[2016-07-15 13:35] stuclem commented on #1468
Duplicate. This is tracked in https://github.com/vmware/vic/issues/1261

[2016-07-15 13:35] #1468 closed

[2016-07-15 14:11] stuclem opened #1531 "Document the different networks that VIC uses"
We need to provide descriptions of the roles of each of the network types that VIC uses, i.e.:
- Bridge network
- External network
- Management network
- Client network
- Container network(s)

We should mention in each description which vic-machine option correlates to which network. If we put the descriptions in Admin, we should link to them from Install.

The networking document here is a good s

[2016-07-15 14:13] cormachogan commented on #1529
Had a brief chat with @emlin - syntax of command seems ok. Looks like it might be a bug.

[2016-07-15 15:31] #1490 closed

[2016-07-15 16:10] reddolan commented on #1157
I just want to make sure I am supporting you guys as much as needed. Please let me know if there is something(s) here I should look at or work with someone on. With the Onsite coming up quickly, I want to make sure I am doing all that I can to help

[2016-07-15 16:10] hmahmood commented on #1529
Looks like the port layer server went down. @cormachogan do you still have the logs from the VCH?

[2016-07-15 16:39] hmahmood commented on #1529
The IP range specified for the container network is 192.168.100.0/24, and the port layer cannot reserve this full range because it has already allocated the gateway and broadcast addresses from the same pool. This is a bug; we need to allow an exception for this case. The case where the pool does not include the gateway and broadcast addresses works. So on the vic-machine command line `--container

[2016-07-15 16:46] fdawg4l commented on #711
I dont know where the change went in, but i can confirm that after `vic-machine delete` is invoked, the vch directory does go away.  So, after #1518 goes in, I think we can close this.

[2016-07-15 17:19] mdubya66 commented on #1157
For onsite we should verify with Karthik what he wants for feedback. IMO mockups for vicadmin would be sufficient.

Sent from my iPhone

On Jul 15, 2016, at 12:10 PM, reddolan <notifications@github.com<mailto:notifications@github.com>> wrote:

I just want to make sure I am supporting you guys as much as needed. Please let me know if there is something(s) here I should look at or work with someone

[2016-07-15 18:21] hickeng commented on #1529
The encoding errors are misleading - that's a handled path. We can drop the log level to DEBUG however. And we really, really need to not use the default logger for stdout to user in vic-machine (#1148)

[2016-07-15 18:30] dougm commented on #407
Implemented most of what we need for this as part of #742
We just need to integrate toolbox with tether and we get the IP Address reporting "for free".  This step needs to happen on the way to #834 anyhow.

[2016-07-15 19:34] #1129 closed

[2016-07-15 19:41] caglar10ur opened #1532 "[personality] rm'ing a running container should return the same docker error"
right now it says this
[code]

[2016-07-15 20:34] gigawhitlocks opened #1535 "Add special characters & error handling to DatastoreToURL"
We found an issue with some special characters, namely `-`, causing Datastore paths to not parse properly. The regex needs to be expanded to allow vSphere-permitted special characters in paths, the unit test needs to be expanded to cover these cases, and the call to `DatastoreToURL` found in `DeleteVolumeStoresIfForced` in store_files.go needs to handle errors output by this method properly so tha

[2016-07-15 21:59] #1389 closed

[2016-07-15 21:59] sflxn commented on #1389
It's been merged.

[2016-07-15 22:01] #1436 closed

[2016-07-15 22:01] sflxn commented on #1436
This was handled by a commit by @caglar10ur

[2016-07-15 22:06] hickeng opened #1538 "vic-machine: resource pool limits"
Provide arguments to configure the VCH size (resource pool reservations, limits, and shares) when deploying a VCH:

[code]
e.g. specify both reservation and limit, and shares
[code]

e.g. specify only limit (note the leading ':')
[code]

e.g. specify only reservation (note the trailing ':')
[code]

On completion vic-machine should configure the resource pool created for the VCH with reservation an

[2016-07-15 22:06] hickeng commented on #1538
@emlin assigned to you for imlpementation or reassignment.

[2016-07-15 22:10] hickeng commented on #1538
@cormachogan @reddolan Please comment +/- on the format of the CLI arguments. This seems a good balance of consise and clear, also following the : separator that we've used elsewhere, but I'm not always good at assessing these things.

[2016-07-15 22:19] emlin commented on #1535
So if user create VCH with volume configuration like
[code]
vic-machine delete --force will fail, with following error message:
ERRO[2016-07-15T20:05:19Z] vic-machine-linux failed: runtime error: invalid memory address or nil pointer dereference

[2016-07-15 22:21] emlin commented on #1535
I think this should be in Onsite Beta.

[2016-07-15 22:22] emlin commented on #1535
@mdubya66 @hickeng

[2016-07-15 23:53] dougm commented on #407
Have this working: https://github.com/vmware/vic/compare/master...dougm:tether-toolbox

I'm going to add integration tests before submitting a PR.

[2016-07-17 00:28] hickeng opened #1540 "Remove the vsphere datastore information from docker info plugin"
The Plugins section of info is leaking vSphere topology data.
[code]

When fixed this should show:
Plugins:
  Volume: default extra
  Network: bridge external

This **must not** show vsphere datastore paths

[2016-07-17 00:29] hickeng commented on #1540
@fdawg4l I'm assigning this to you as you're currently working on the volume store list portion

[2016-07-17 00:35] hickeng opened #1541 "Container that's not fully started cannot be stopped"
This environment had a misconfiguration (a mapped network that did not have DHCP and cat was connect to it) which meant that the container couldn't start cleanly because the network configuration couldn't be applied. This means that the container process has not been launched and seems to inhibit us from stopping the container despite ps showing it running.

[code]

[2016-07-18 07:55] cormachogan commented on #1529
Confirmed that using a range that excludes gw works.
It would be good if we did a pre-check on the CLI to state that we cannot use a particular CIDR since we are already reserving addresses on it.

[2016-07-18 08:33] cormachogan opened #1542 "container doesn't start with non-default container network"
**VIC Version:**

0.1 / master / v0.4.0

I am unable to get a container to start when I specify a container network which is not the default one.

[code]
[container-logs.tar.gz](https://github.com/vmware/vic/files/368575/container-logs.tar.gz)
[logs.tar.gz](https://github.com/vmware/vic/files/368576/logs.tar.gz)

[2016-07-18 08:34] cormachogan commented on #1529
unfortunately, I still cannot consume a non-default container network - https://github.com/vmware/vic/issues/1542

[2016-07-18 08:38] stuclem commented on #1502
Reviewed by @gigawhitlocks via Slack.

[2016-07-18 08:59] stuclem commented on #1535
@gigawhitlocks, since we're just supporting what vSphere supports, I assume that there's no need to call this out in the docs. Correct?

[2016-07-18 09:19] stuclem commented on #1538
@hickeng and @emlin, since we already have the `--appliance-memory` and `--appliance-cpu` options, shouldn't we make it clearer in the names that these options apply to resource pools? My first reaction on seeing this issue was "don't we already have these?", so unless it's completely obvious to vSphere admins who are more experienced than I am that these ones are for resource pools, I think that

[2016-07-18 09:21] stuclem opened #1543 "Document vic-machine options for resource pool limits"
Per https://github.com/vmware/vic/issues/1538

[2016-07-18 09:25] cormachogan commented on #1538
I have to agree with @stuclem - this can be a bit confusing and we need to make it a little clearer.

I think what we are trying to say is that the "pool" resources are for VCH and containers, but we can also control the amount of resources that that VCH "appliance" can consume in the pool. I think "pool" and "appliance" are good enough differentiators in the help output.

[2016-07-18 09:37] stuclem commented on #1356
Implementation is in PR https://github.com/vmware/vic/issues/1538.

Note that this only applies to VC. On ESXi the VMs are still placed in a resource pool (obvious, but but noting it here so that  I don't forget to call this out in the docs).

[2016-07-18 09:41] stuclem commented on #1538
Ignore the reference to this issue from 1356 - cut n paste error.

[2016-07-18 12:30] stuclem commented on #871
Actually, this will be covered by https://github.com/vmware/vic/issues/828 and https://github.com/vmware/vic/issues/841, so moving this one back to done.

[2016-07-18 12:37] stuclem commented on #835
Docker rmi is now targeting the GA milestone.

[2016-07-18 12:40] stuclem commented on #837
Need to establish whether Epic https://github.com/vmware/vic/issues/433 is for Beta or GA (see comment from corrieb in issue 433).

[2016-07-18 12:42] stuclem commented on #867
Looks like https://github.com/vmware/vic/issues/854 will make it for onsite.

[2016-07-18 12:49] stuclem commented on #1025
Actually, I think that https://github.com/vmware/vic/issues/798 was internal stuff. Closing.

[2016-07-18 12:49] #1025 closed

[2016-07-18 12:52] stuclem commented on #825
Reviewed by @gigawhitlocks via Slack.

[2016-07-18 12:55] stuclem commented on #833
https://github.com/vmware/vic/issues/825 covered the current implementation as it is in TP3. Epic https://github.com/vmware/vic/issues/635 doesn't look like it's going to be in onsite beta. Leaving this one in onsite beta for now, pending decision on what happens to https://github.com/vmware/vic/issues/635.

[2016-07-18 13:07] stuclem commented on #1258
https://github.com/vmware/vic/issues/1279 is now in the icebox. We do mention that only root user is supported in the release notes for TP3, but if this is going to be the final behaviour for 1.0, we need to mention it in the main docs rather than in RNs.

@mdubya66 can you please confirm that we'll only support root user in VIC 1.0 GA? Thanks!

[2016-07-18 13:10] stuclem commented on #1264
@corrieb, is https://github.com/vmware/vic/issues/1218 going to be resolved for onsite beta?

[2016-07-18 13:11] stuclem commented on #1416
TBD when I take care of https://github.com/vmware/vic/issues/828.

[2016-07-18 13:12] stuclem commented on #1007
https://github.com/vmware/vic/issues/1004 was merged in PR https://github.com/vmware/vic/issues/1102.

[2016-07-18 13:12] stuclem commented on #1467
Duplicate of https://github.com/vmware/vic/issues/1007.

[2016-07-18 13:12] #1467 closed

[2016-07-18 13:20] stuclem commented on #1527
Topic "What Happens During VCH Deployment" should also contain the info relevant to the following issues:

- [ ] https://github.com/vmware/vic/issues/1020
- [ ] https://github.com/vmware/vic/issues/928
- [ ] https://github.com/vmware/vic/issues/833
- [ ] https://github.com/vmware/vic/issues/1356
- [ ] https://github.com/vmware/vic/issues/1283

[2016-07-18 13:31] stuclem commented on #824
This is dependent on https://github.com/vmware/vic/issues/924

[2016-07-18 13:38] stuclem commented on #872
https://github.com/vmware/vic/issues/549 is implemented in PR https://github.com/vmware/vic/pull/1017.

[2016-07-18 13:41] stuclem commented on #820
@hmahmood, does https://github.com/vmware/vic/issues/747 (https://github.com/vmware/vic/issues/747) have any doc impact? Thanks!

[2016-07-18 13:46] stuclem commented on #817
#765 and #766 are being addressed in the context of https://github.com/vmware/vic/issues/833. Closing as a dup.

[2016-07-18 13:46] #817 closed

[2016-07-18 13:47] stuclem commented on #874
Definitely TMI for user doc. Closing.

[2016-07-18 13:47] #874 closed

[2016-07-18 14:34] stuclem opened #1544 "Document vic-machine create use-rp option"
Added in PR https://github.com/vmware/vic/pull/1536. This is a temporary solution just for onsite beta.